[2019-05-28 16:53] LaRiffle commented on #2145
Another point: maybe first start with operate together tensors of the same dimension, which is determined by the precision parameter. This will give you tensors fo the same size which is helpful. This size will be determined by the values allocated for the decimal numbers (directly linked the precision parameter) and the values of the integers part, which you can first say it's only the size of a

[2019-05-29 00:53] kamathhrishi opened #2175 "Hook BatchNorm"
Following issue #2132 we should hook batchnorm. Since in general batchnorm is very common in training neural networks.

[2019-05-29 10:45] LaRiffle opened #2176 "Raise Error when trying to share additively float values"
It makes to sense to do this:
[code]
And it gives wrong results
We should check that the sharing is made on intgeres / Long / etc and not float

[2019-05-29 10:47] LaRiffle opened #2177 "Fix ambiguous_functions in hook_args"
in hook_args if you want to add function to `ambiguous_functions` like stack you need to add `torch.stack` and `stack` while only should be needed `torch.stack`
This is due to an error in overload_torch.py where we don't retrieve the module of functions correctly

[2019-05-29 11:37] mari-linhares commented on #2117
Fixed by #2165

[2019-05-29 11:37] #2117 closed

[2019-05-29 14:49] RunshanHu opened #2179 "Error in Tutorial Part 4 Step 6"
Hi,

I am runing the sample code in the tutorial Part 4 Federated Learning with Model Averaging. The code is in Step 6 Rinse and Repeat  and the error message is as following. Any idea on the reason behind this? thanks!

---------------------------------------------------------------------------
PureTorchTensorFoundError                 Traceback (most recent call last)
~\Documents\ProjectWorkspac

[2019-05-29 20:57] iamtrask opened #2185 "Cannot import syft"
**Describe the bug**
I just installed the new version of syft and now when i try to import it I get the following error.

[code]

[2019-05-29 20:58] iamtrask commented on #2185
I fixed this by running

[code]

and then from Syft's home directory I ran

```python setup.py install```

and then I could import syft again.

[2019-05-29 20:58] #2185 closed

[2019-05-30 00:23] mari-linhares commented on #2179
Hey @RunshanHu ,

I've just executed it with pysyft most updated version (dev branch) and pytorch 1.1 and 1.0.1 with no errors.

Can you check if you have all the correct/updated dependencies installed?

Feel free to ping me on slack if you continue to have problems, closing it for now since it doesn't seem to have a problem.

[2019-05-30 00:23] #2179 closed

[2019-05-30 01:03] mari-linhares commented on #2161
@midokura-silvia do you have a scenario where we want to use jit.ScriptModule instead of jit.trace?

[2019-05-30 07:33] #2088 closed

[2019-05-30 11:38] midokura-silvia commented on #2161
An instance of a jit.ScriptModule provides you directly with a serializable respresentation. You don't need to provide data to trace the model.

[2019-05-30 13:17] #2162 closed

[2019-05-30 16:23] mari-linhares commented on #2154
The decision for now is:

* plans will not be implemented using jit because we need to support syft tensors and operations inside of plans (for our best knowledge at this point we would need to change c++ code in order to do so).

* jit modules are super nice for regular FL (non-encrypted FL) so we'll support it (#2169).

[2019-05-30 16:23] #2154 closed

[2019-05-30 16:25] mari-linhares commented on #2150
Hey @LaRiffle,

the description is not clear to me, is there a problem with conftest.py or is it an issue inside syft?

[2019-05-31 01:11] jidroid404 opened #2198 "Unable to run unit tests."
Unable to run unit tests even after installing everything properly ( tried both pip install and the installation guide for Linux )
* Installation is proper
![Screenshot from 2019-05-31 06-38-28](https://user-images.githubusercontent.com/43285614/58674758-de41b480-836e-11e9-86c8-1c7620649978.png)

*Breaks after cd-ing into test dir
![Screenshot from 2019-05-31 06-39-17](https://user-images.githubus

[2019-05-31 04:42] kamathhrishi opened #2200 "Separate Folders/Sections for tutorials"
With growing features and possibilities in PySyft, it's best we have separate folders/sections for tutorials such as Homomorphic Encryption (when pailier tensor is merged), Differential Privacy, Federated Learning, MPC, etc.

[2019-05-31 07:30] DanyEle opened #2201 "Add size() method for remote tensors"
The last remaining method that we would need to get the forward pass into remote LSTMs is the implementation of the size() method for remote tensors, as described in Pull Request #2160.

[2019-05-31 07:45] DanyEle opened #2202 "Error: Tuple of tensors being returned from websockets"
**Describe the bug**
When invoking a method returning a tuple of tensors on a remote tensor that is stored on a remote **_websocket_**, an error occurs.

**To Reproduce**
Steps to reproduce the error:

1. Startup a remote websocket on the local machine

[code]

2. In a new terminal, initialize syft and hook the remote websocket
[code]

2. Initialize a tensor and send it to the remote worker:

[cod

[2019-05-31 07:47] LaRiffle commented on #2176
Hey, someone pinged me in slack about this Issue but Slack isn't very good to save un-responded message threads (https://superuser.com/questions/1199066/why-is-my-slack-dm-list-incomplete) so I lost _you_!
I would be glad to give me info but basically: moving to fixed precision is a constraint of the crypto protocols we use for additive sharing. This means that **everything** which needs to be sec

[2019-05-31 12:30] yashtrihbti opened #2207 "Model.copy() is not working properly"
**windows 10
python 3.7.3
pytorch=1.0.1
pysyft=0.1.13**
[code]

Give output:-
[code]

While without making copy of model:-
 `bobmodel=model.send(data.location)`
give output
[code]

Model.copy() is not working properly. As loss is not decreasing in same input with model.copy while it is decreasing without copy in starting even before federated averaging.

[2019-05-31 13:25] robert-wagner opened #2211 "Test share for keras does not work on macos in a virtual env"
**Describe the bug**
Due to firewall issues, it is not possible to run test share on macos in a venv. This can be remedied by replacing network calls with mock.
**To Reproduce**
run make_test on a fresh macos install

**Additional context**
contact @robert-wagner to replicate as it is still broken on his system

[2019-05-31 13:33] LaRiffle commented on #2207
Hey, if you have the whole code I'd love to see it to better understand our use case. Should I infer that all the data is owned by bob, as you only the model once per epoch and to bob?

Also, you should update `pytorch=1.0.1 -> pytorch=1.1` and `pysyft=0.1.13 -> pysyft=0.1.15a1`; many changes are happening currently :)

[2019-05-31 13:39] LaRiffle commented on #2201
This will be complicated as is, because .size() is used in many places to get informations about the current object and not to what it's pointing at. (like torch.save())

Namely we would like to have `t.size() == torch.Size([0])` for `t = torch.tensor([1, 2, 3, 4]).send(bob)` while .shape is used to look at the target object so `t.shape == torch.Size([4])`

[2019-05-31 13:55] LaRiffle commented on #2201
@robert-wagner I'd love to have your view on this point (namely we have a method which could apply for the pointer object AND the point target)

[2019-05-31 13:55] yashtrihbti commented on #2207
[`Link`](https://drive.google.com/file/d/1CnvBwgLMd4W1jtXlT2PBRuGjWQBmHpV0/view?usp=sharing)
If you change this line "bobmodel=model.send(data.location)" to "bobmodel=model.copy().send(data.location)" then loss is not decreasing.

[2019-05-31 14:45] yashtrihbti commented on #2207
Run the whole code by replacing "bobmodel=model.send(data.location)" with "bobmodel=model.copy().send(data.location)" you see that loss is not decreasing for latter case.

[2019-05-31 16:29] LaRiffle opened #2212 "Debug messages not visible with socketworkers"
**Describe the bug**
The debug messages are not visible on FL examples with socketworkers

**To Reproduce**
Run https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/advanced/websockets-example-MNIST/Federated%20learning%20with%20websockets%20and%20federated%20averaging.ipynb

**Expected behavior**
You should see the debug message, I don't

**Desktop (please complete the following inform

[2019-05-31 17:00] LaRiffle commented on #2202
The reason of this error is that with virtualworkers, a `syft.exceptions.ResponseSignatureError` is sent back from servers workers to the client, which is not supported by socketworkers.
Maybe we would like to handle Exception forwarding through some serialization process.

[2019-05-31 17:40] robert-wagner opened #2213 "Api parity with pytorch for optimizers/ model/ schedulers et al"
**Describe the solution you'd like**
Pytorch specifies a specific api for training models. Specifically this api includes defining a model, initializing an optimizer in relation to that model then initializing a scheduler to schedule optimization steps.

We should make sure that the api of PySyft preserves as much of this api as possible to ease users transitioning from pure Pytorch.

[2019-05-31 17:49] LaRiffle opened #2214 "Exception forwarding across workers"
**Is your feature request related to a problem? Please describe.**
When a remote workers fails, the client doesn't has access directly to the error (and traceback). In particular, the error needs to be caught for response of operations with several pointers where a ResponseSignatureError is raised by a worker and caught by another

**Describe the solution you'd like**
I'd like remote socket worker

[2019-05-31 17:56] LaRiffle commented on #2213
Do you have any resource detailing this API that you could share?

[2019-05-31 20:00] iamtrask commented on #2168
Solving this might be moree of a Grid project than a PySyft one - primarily because it will require two people to be able to connect to the same worker and interact with the same tensors on that worker. This requires things like user roles and permission and managing multiple connections.

[2019-05-31 23:10] mari-linhares commented on #2168
I agree with @iamtrask, I'll close this issue for now and re-open it at [Grid](https://github.com/OpenMined/Grid/)

[2019-05-31 23:10] #2168 closed

[2019-06-01 02:52] TheCedarPrince opened #2218 "Federated Recurrent Neural Network Tutorial Issue with Predict Method (Using Two Raspberry Pi's)"
**Describe the bug**
I was following the [great tutorial](https://blog.openmined.org/federated-learning-of-a-rnn-on-raspberry-pis/) put out by @DanyEle and ran into an issue on the very last step of the [Jupyter notebook tutorial](https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/advanced/Federated%20Recurrent%20Neural%20Network.ipynb) with the predict comparison.

I am getting the f

[2019-06-01 13:02] DanyEle commented on #2218
Can you try using the models locally in the predict phase?

Replace the line in the def predict(..)
model_remote = model.send(worker)

With

model_remote = model.send(worker).copy().get()

I'm glad someone managed to run my code on raspberry PIs too! :)

[2019-06-01 15:36] LaRiffle commented on #2207
Oh yes of course!
You have given to your optimizer the parameters of the original model, not of the copy, thats why the copy of the model doesn't improve.
Another thing is that during an epoch, you only send once the model to the first worker, so when you will have data batches owned by the other worker, it will fail.

I believe this Issue is solved, if you have other issues related to your use ca

[2019-06-01 15:36] #2207 closed

[2019-06-01 19:59] DanyEle commented on #2218
Hi, I'm glad to know you're actually trying my code for Raspberry Pis and that it all seems to be running up to the last point. I have two questions:

1. Which version of PySyft are you using on the Raspberry PIs and on  your laptop?  How did you install it?

2. Did you try using the model locally by getting it with model.copy().get() at all places where it is used in the predict phase? It may be

[2019-06-01 21:31] LaRiffle commented on #2202
This issue #2214 is related
And #2219 attempts to give fix.

[2019-06-02 01:17] TheCedarPrince commented on #2218
Hey @DanyEle in response to your questions:

1a. Which version of PySyft are you using on the Raspberry Pi's? How did you install it?
  - PySyft on Raspberry Pi: `syft==0.1.14a1`
      - Installed following your directions in the article you wrote using the commands:

[code]
1b. Which version of PySyft are you using on your laptop? How did you install it?
  - PySyft on laptop running Ubuntu 16.04:

[2019-06-02 05:37] hr21 opened #2221 "Could not find a version that satisfies the requirement torch>=1.0.1 (from syft) (from versions: 0.1.2, 0.1.2.p"
I am using a windows machine, with anaconda navigator I installed as per the instructions given in the readme.md
1. created an enviornment named pysyft and activated it
2. initialized pip install syft
3. The error mentioned above is displayed

I am  Udacity Student for Secure and Private AI

![image](https://user-images.githubusercontent.com/39687652/58757245-8e0d5280-8526-11e9-962f-7d231cec825e.p

[2019-06-02 05:55] kamathhrishi commented on #2221
Looks you haven't installed the appropriate version of torch or don't have torch installed in your conda environment. So activate your conda environment and install pytorch. Conda environments are a good way to keep separate dependencies. So if you have had a different version of torch in your system which you usually use. You can use a specific version of torch separate using virtual environments

[2019-06-02 06:19] amit-rastogi commented on #2221
Did you execute the following command in your pysyft environment? If not, then please run this command and check.

conda install pytorch torchvision -c pytorch

[2019-06-02 07:33] amit-rastogi commented on #2198
@jidroid404  Inside test folder you can run tests using pytest e.g pytest test_serde.py

[2019-06-02 12:11] mari-linhares commented on #2198
@jidroid404  as @amit-rastogi pointed you should run the file using pytest. Also if you want to run all the unit tests you can cd to the PySyft folder and run: `pytest test/*`

[2019-06-02 12:11] #2198 closed

[2019-06-02 12:30] TheCedarPrince commented on #2218
Hey @DanyEle - tried your suggestions on part two but still the same error as before; here is the predict function that I was trying to use per your suggestion:

[code]

[2019-06-02 12:55] jidroid404 commented on #2198
Then throwing off this import error, while running all of the unit tests
![Screenshot from 2019-06-02 18-16-19](https://user-images.githubusercontent.com/43285614/58761590-b6677200-8563-11e9-8ea3-7b4d86c01684.png)

[2019-06-02 13:05] mari-linhares commented on #2198
@jidroid404 try to run as I described on my previous comment. conftest.py is not a valid unit test, so probably that's why you see the error.

Go to Desktop/PysSyft/ and run pytest test/*

This should execute without errors.

[2019-06-02 13:17] jidroid404 commented on #2198
Nope,it doesn't.
![issue](https://user-images.githubusercontent.com/43285614/58761906-c92f7600-8566-11e9-960d-e1c9a5534ff6.png)

[2019-06-02 13:22] mari-linhares commented on #2198
right... weird...  can you check if you have all the dependencies installed?

run:

[code]

[2019-06-02 13:25] jidroid404 commented on #2198
All the dependencies are intact.

[2019-06-02 13:30] amit-rastogi commented on #2198
From the error details your python version appears to be 2.7. Could you check with python 3.x?

[2019-06-02 13:32] jidroid404 commented on #2198
Had the same suspicion, it's Python 3.6 only.

[2019-06-02 13:32] mari-linhares commented on #2198
Oh indeed @amit-rastogi, nice catch!

[2019-06-02 13:33] mari-linhares commented on #2198
Not really @jidroid404 from the previous print-screen error you sent your pytest is running python2.7

[2019-06-02 13:37] jidroid404 commented on #2198
![ss](https://user-images.githubusercontent.com/43285614/58762094-a2bf0a00-8569-11e9-966c-9e66e0e5310e.png)

[2019-06-02 13:47] jidroid404 commented on #2198
Okay lesson learned. :) Thanks peeps.
python3 -m pytest test/test_serde.py

[2019-06-02 18:20] vghorakavi commented on #2176
@LaRiffle Hey LaRiffle, I was the person who pinged you on Slack.  I see Jasopaum is working on the issue.  I will ping you for more information if I need it.  Thanks!

Note: My username on Slack used to be maxwells_daemon, but I changed it to vghorakavi to help keep things clear.

[2019-06-02 21:50] LaRiffle commented on #2176
Thanks @vghorakavi !

[2019-06-03 09:39] iamtrask commented on #2221
You should update conda and pip. If it doesn't have torch 1.x it's likely very old.

[2019-06-03 09:42] iamtrask opened #2225 "Backpropagate Across Workers or Exception"
**Is your feature request related to a problem? Please describe.**
At the moment, if I have a dynamic graph which traverses multiple workers (such as if I call .get(), .move(), or .send() during forward propagation), we don't throw an error but we also don't backpropagate across machines. This just silently causes learning to struggle.

**Describe the solution you'd like**
We have two options here

[2019-06-03 09:45] iamtrask commented on #2202
HI @DanyEle - should we close?

[2019-06-03 09:48] DanyEle commented on #2202
If it's fixed in #2219, then sure!

[2019-06-03 10:04] DanyEle commented on #2218
Alright, I looked into it and it was because of the misplaced line ` with torch.no_grad():`, which was referring to a larger block. Here is the fixed code for the predict method

`def predict(model, input_line, worker, n_predictions=3):
    model = model.copy().get()
    print('\n> %s' % input_line)
    model_remote = model.send(worker)
    line_tensor = lineToTensor(input_line)
    line_remote =

[2019-06-03 10:19] iamtrask opened #2227 "Raise Error When We Call .item() on a PointerTensor"
**Is your feature request related to a problem? Please describe.**
.item() returns a plain python object (like an int or float), but we don't have the ability to point to a remote python object in this way.

**Describe the solution you'd like**
We should raise an error when .item() is called on a PointerTensor, with an informative message describing how the user should call .get() in order to call

[2019-06-03 14:24] TheCedarPrince commented on #2218
Hey @DanyEle and @iamtrask

# Can confirm, this bug is now fixed! :tada: :tada: :tada:

## Also, @DanyEle since I have your attention here, I wanted to also make you aware of some errors and thoughts I encountered while following your [article](https://blog.openmined.org/federated-learning-of-a-rnn-on-raspberry-pis/). Here they are:

- When you are trying to install PyTorch on the RPi, you must fi

[2019-06-03 15:07] mortendahl commented on #2211
Mind taking a look at the linked PR @robert-wagner?

[2019-06-03 16:30] #2211 closed

[2019-06-03 16:46] DanyEle commented on #2218
Thank you very much @TheCedarPrince for the useful fixes to the tutorial I wrote and good job in setting it all up on the two Raspberry PIs! I hope the tutorial helped you with some guidance on how to go through the whole procedure to setup PySyft and Pytorch, at least. :)

I'm surely going to apply your fixes to my tutorial, but a static IP address, even if suggested to carry out experiments mult

[2019-06-03 19:02] TheCedarPrince commented on #2218
Well since everything is fixed here, I am going to close the issue!

This was more than helpful - it is was an amazing piece of work and I am looking forward to looking at other work on PySyft and PyTorch. : )

[2019-06-03 19:03] #2218 closed

[2019-06-04 07:33] Jasopaum commented on #2132
I think the .dim() method has been fixed since this issue is open but I have now another error when trying to use Batchnorm with the same modification as above:

---------------------------------------------------------------------------
PureTorchTensorFoundError                 Traceback (most recent call last)
/usr/local/lib/python3.7/site-packages/syft-0.1.17-py3.7.egg/syft/frameworks/torch/ten

[2019-06-04 08:23] LaRiffle commented on #2030
I don't remember anything about this issue

[2019-06-04 08:24] #2030 closed

[2019-06-04 09:21] midokura-silvia commented on #2161
For completeness: In order to create more complex neural networks containing relus etc. even more functions need to be excluded from the hooking.

In file syft/frameworks/torch/hook/torch_attributes.py, line 33-, uncomment torch and torch.nn.functional.
[code]

[2019-06-04 17:10] LaRiffle commented on #2202
@DanyEle It is now merged!

[2019-06-04 17:10] #2202 closed

[2019-06-04 20:23] robert-wagner opened #2232 "Add support for sending tensors in place to multiple workers"
**Describe the solution you'd like**
When calling send_ with the destination set to multiple workers we want PySyft to create a multipointer tensor inplace. Currently this operation intentionally throws an error. This operation is needed for being able to send models to multiple workers (It should work out of the box when this feature is done)

Is a part of #2213

[2019-06-04 20:31] robert-wagner commented on #2201
Sorry for the delay in getting back to you on this. I need to adjust my notification preferences for GitHub (I currently get way to many messages to deal with)

My question is why does the size of the pointer matter (what utility do we get out of it? I can definitely see the case for getting the size of the object that it is pointing to but I am not sure what the point of getting the size of the p

[2019-06-04 21:20] robert-wagner opened #2233 "Add support for operations on pointer tensors and multipointer tensors"
**Describe the solution you'd like**
Operations on pointer tensors and multipointer tensors should return a pointer tensor if the pointer tensor points to one of the workers that the multipointer tensor pointer points to. Currently this throws an error

[2019-06-04 22:00] #2156 closed

[2019-06-04 22:00] #2221 closed

[2019-06-05 01:57] abmazhr commented on #2227
@iamtrask so basically any instance of "syft.frameworks.torch.pointers.PointerTensor" which have a call to ".item" function should be raising an error with a message as described above? or there is something I misunderstood? :smile: , if it's right so it's as easy as implementing a ".item" function inside "syft.frameworks.torch.pointers.PointerTensor" and raising the error there. I'm willing to ma

[2019-06-05 04:30] hr21 commented on #2221
I have already tried all the mentioned commands I even tried using it within the enviornment in which I had pytorch Installed and I got back the same error my current conda version is 4.5x and the torch version is 1.x @iamtrask

[2019-06-05 06:52] AndyClouder opened #2234 "AttributeError: 'FixedPrecisionTensor' object has no attribute 'attr'"
**Describe the bug**

When I run the demo of Part 11 - Secure Deep Learning Classification from the example.
In cell [12]  `model.fix_precision().share(alice, bob, crypto_provider=crypto_provider)`
I met an error as below:

![ERROR](https://user-images.githubusercontent.com/16660974/58936093-86a5ad80-87a1-11e9-85fe-f0d134bfd777.PNG)

Is that a bug ?

My env details:
python 3.6.8
pytorch 1.0.1
syft

[2019-06-05 06:52] DanyEle commented on #2212
I agree. Debug messages just appear at the server and not on the workers themselves when using websockets. It would nice to have them also on the workers.

Replicated on:

**Desktop:**
OS: Ubuntu 18.04 LTS, Raspbian 4.14

[2019-06-05 07:13] iamtrask commented on #2234
Let's start by updating PySyft. The latest version is 0.1.17.a1 which is 5 versions after the one you have.

[2019-06-05 11:52] LaRiffle opened #2235 "Encrypted Training using SMPC over PyTorch"
**Describe the solution you'd like**
The SMPC tensor we've implemented (AdditiveSharedTensor) works well for making prediction (see [Tutorial 11](https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Part%2011%20-%20Secure%20Deep%20Learning%20Classification.ipynb)). We would like to extend this to perform training as well. The main pb is that we redefine operations such as multiplication

[2019-06-05 16:40] geochri commented on #1981
I have the same error!

[2019-06-05 18:31] robert-wagner opened #2240 "Federated Learning on always available data"
We want to be able to perform federated learning on data which is always available. In practice this means we need to be able to

- Aggregate workers into a dataset to load pointer to data
- Send models to a set of workers
- Perform federated averaging automatically across optimizers

This epic will continue to be updated as progress is made.

[2019-06-05 20:13] IonesioJunior commented on #2235
Has anyone started this anywhere? I would like to follow the development of this issue.

[2019-06-06 13:29] midokura-silvia commented on #2110
What was the conclusion of the discussion to move the serde functionality to the classes? It will not work for all cases, but for many it will work and make the maintenance easier.

[2019-06-06 16:24] mari-linhares opened #2241 "Plans should be built before sending them and when possible automatically built"
**Is your feature request related to a problem? Please describe.**

Right now plans are built only when called, the main reason for this is that in order to build a plan we need some data to be given to the blueprint. We would like to build the plan automatically at creation when possible.

* It makes sense conceptually that the worker that owns the plan blueprint should be one to build it;

* Not

[2019-06-06 17:08] robert-wagner opened #2242 "Test coverage for syft/workers/tfe.py is at 51%"
**Describe the bug**
As the title states almost half of the code in tfe.py is not being run
The following lines need coverage
26-37, 53-60, 63-76, 79-80, 83, 86, 91, 106-110

[2019-06-06 17:47] geochri opened #2243 ".federate() error in the MNIST dataset"
I tried to run the example of pysyft tutorial
link: https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Part%206%20-%20Federated%20Learning%20on%20MNIST%20using%20a%20CNN.ipynb
But I have error in the .federate().
Somehow it can't convert torchvision.datasets to FederatedDataset.
 I think that the error is somewhere in the for loop in the def dataset_federate (path:syft/frameworks/torc

[2019-06-06 19:41] robert-wagner commented on #2235
@IonesioJunior @LaRiffle is taking the lead on this issue. This issue will continue to be updates as progress is made (there will be many sub issues linked here)

[2019-06-06 19:53] robert-wagner commented on #2243
@LaRiffle Do you know why for build tensor type first_layer would be true but the length of lambdas would be <1

[2019-06-06 19:54] robert-wagner commented on #2234
@AndyClouder did updating PySyft fix your issue?

[2019-06-06 20:33] robert-wagner commented on #2177
@LaRiffle could you clarify where the module of functions should be be retrieved in this file? There does not appear to be anything which explicitly checks to see if they are in the exclude_functions list

[2019-06-06 21:03] LaRiffle commented on #2014
Closing this in favor of #2235

[2019-06-06 21:03] #2014 closed

[2019-06-06 21:46] LaRiffle opened #2245 "Support more basic operations for AdditiveSharedTensor"
This is part of #2235

**Describe the solution you'd like**
Support for torch.sum and torch.mean on AdditiveSharedTensor

Also related is the #2246 optimization

[2019-06-06 21:50] LaRiffle opened #2246 "Faster torch.max for AdditiveSharedTensors"
Our implementation can be made faster using this idea: max(x, y) = y + sgn(x − y) · (x − y).
While we currently do beta =(x > y) ;  max(x, y) = beta * x + (1-beta) * y
Which requires 2 multiplications

See current implementation in additive_shared.py

[2019-06-06 22:22] LaRiffle commented on #2201
It is used internally when you're printing Tensors objects for example, so hooking .size() might (and does) break many processes

[2019-06-06 22:46] LaRiffle commented on #2243
Hey @geochri are you running the tutorial "as is" or have you made any modifications?

[2019-06-06 23:19] geochri commented on #2243
@LaRiffle I don't have cuda. I didn't make any modifications!

[2019-06-07 07:12] Jasopaum commented on #2245
I can do this!

[2019-06-07 09:58] geochri commented on #2243
Today I tried this approach and it works. But it's strange...
[code]

[2019-06-07 15:58] midokura-silvia commented on #2240
What do you mean by constant uptime?

[2019-06-07 16:16] Jasopaum commented on #2246
Is #2249 what you meant?

[2019-06-07 16:25] jvmancuso opened #2250 "Syft Keras bug on Windows"
Relevant slack discussion: https://openmined.slack.com/archives/C6DEWA4FR/p1559899875021800

Bug:
![image](https://user-images.githubusercontent.com/7891333/59118559-79fa9400-891e-11e9-990e-1bba1fe9ec93.png)

It looks like the problem here is that the `tfe.config` is being saved in a location that is not a valid filepath in Windows.  As a result, there is likely a file with the name `/tmp/tfe.conf

[2019-06-07 16:34] Jasopaum commented on #2245
My PR is here #2248
I am not really sure about what it means to compute a mean for int, I did a sum and an int div

[2019-06-07 16:35] LaRiffle commented on #2245
Thanks! I just reviewed

[2019-06-08 03:03] keenlykeenly commented on #2234
AttributeError                            Traceback (most recent call last)
<ipython-input-7-5b486064ddb2> in <module>()
----> 1 model.share(alice, bob, carol)

D:\ProgramData\Anaconda3\lib\site-packages\syft-0.1.15a1-py3.6.egg\syft\frameworks\keras\model\sequential.py in share(model, target_graph, *workers)
     38
     39     with target_graph.as_default():
---> 40         tfe_model, batch_input

[2019-06-08 05:39] keenlykeenly opened #2255 "AttributeError: module 'tensorflow.python.keras.engine.base_layer_utils' has no attribute 'unique_layer_name'"
**Describe the bug**
AttributeError: module 'tensorflow.python.keras.engine.base_layer_utils' has no attribute 'unique_layer_name'.

**To Reproduce**
In Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving, I encounter the next problem when execeute "model.share(alice, bob, carol)":

---------------------------------------------------------------------------
AttributeErr

[2019-06-08 12:23] DanyEle commented on #2240
I believe it means at a regular time interval, like every X minutes?

[2019-06-08 16:01] LaRiffle commented on #2246
Perfect!

[2019-06-08 16:01] #2246 closed

[2019-06-08 16:02] #2245 closed

[2019-06-08 16:07] LaRiffle opened #2256 "Monitoring network usage"
This is part of #2235

**Description**
We need a tool to monitor how much information we share over the network, as SMPC is often said to consume a lot of bandwidth. This is very important to benchmark our implementation compared to similar existing works.

[2019-06-09 08:51] mccorby commented on #2145
I created a draft with one the possibilities I see we could use to deal with the operations of large numbers. Basically it uses NumPy for such operations.
The main difference with the other PR is that the number is reconstructed before operating (see `def add()`.

https://github.com/OpenMined/PySyft/pull/2257/files

Please note this is not a PR to merge but only for discussing it

[2019-06-09 09:15] abmazhr commented on #2227
I guess we could close this issue since it got fixed and merged already in dev? #2239 :smile:

[2019-06-09 15:19] DanyEle commented on #2256
One manual approach to monitor traffic sent over websockets is via Wireshark. But having it integrated in PySyft would indeed be cool!

[2019-06-09 15:27] LaRiffle commented on #2256
Oh I didn't new we had already some solutions!
Would be great to have something also for Virtualworkers since they are very practical for debug, and at the worker scale to have like a graph of bandwidth usage between workers

[2019-06-09 15:33] LaRiffle commented on #2243
This is a bit mysterious to me :/
One thing, why have you changed the path of data `../data` to `.`?

Second thing, can you try replacing the cell
[code]
with
[code]
What happens now?

[2019-06-09 15:38] LaRiffle commented on #2234
Hi, this error is now related to #2255
I will therefore close this one, and add you in the other one.

[2019-06-09 15:38] #2234 closed

[2019-06-09 15:39] LaRiffle commented on #2255
@AndyClouder has similar issues in #2234

[2019-06-09 15:54] LaRiffle commented on #2177
At l.50 we do
[code]
But ideally we should be replace `attr.__name__` with smthg like `attr.__module__+'.'+attr.__name__`

However hooked functions have a module which is changed and we would like to keep the original module. Note the hooked functions are in hook.py and with @overload.module and @overload.function decorator in tensor definition files.

I'd like to underline that this is not a triv

[2019-06-09 16:06] jvmancuso commented on #2255
The best way to solve this at the moment would be to install your tf-encrypted dependency from source. We will do a release of tf-encrypted on Monday that fixes this issue in the pip package.

[2019-06-09 16:08] jvmancuso commented on #2255
Instructions can be found [here](https://github.com/tf-encrypted/tf-encrypted/blob/master/README.md#installation)

[2019-06-09 16:21] LaRiffle commented on #2150
I don't actually know, I suspect pytest does extra stuff which leads to over reference some objects like pointers. It's annoying because then the behaviour differs between test and real world execution
However I'm not sure that the statement  `pointers of pointers don't get deleted with garbage collection (GC)` is still false

I would suggest closing this as we experience normal behaviour in out p

[2019-06-09 16:33] geochri commented on #2243
I had moved the data to a different path, but this isn't the problem.
I restored the path on the data, to be exactly the same as the repo path, but I had the same error.
I replaced the cell with your suggestions and here is the new error occurred.

[code]

[2019-06-09 21:28] andreaBelmont opened #2258 "websockets-example-MNIST"

[2019-06-09 21:32] andreaBelmont commented on #2258
Error while running websockets example on my macbook pro

[code]

[code]

[2019-06-10 01:15] keenlykeenly commented on #2255
I install the tf-encrypted dependency from source as you suggest and get the following error:
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-6-5b486064ddb2> in <module>
----> 1 model.share(alice, bob, carol)

D:\ProgramData\Anaconda3\lib\site-packages\syft-0.1.15a1-py3.6.egg\syft\frameworks\keras\model\sequential.py in share(model, target_graph, *workers

[2019-06-10 01:32] phillipeloher opened #2259 "pip install syft - ZSTD errors"
Received lots of ZSTD errors on OSX Mac Sierra when installing 'pip install syft' within Anaconda.  Tried the various workarounds in documentation and also tried installing from source - still had the same errors.

Running 'conda install gcc' fixed the issue for me.  Which changed GCC in my conda environment from:

gcc --version
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --w

[2019-06-10 01:38] keenlykeenly commented on #2255
And I try changing the **config_filename = "/tmp/tfe.config"** in C:\Users\Administrator\Desktop\covert security\codes\PySyft-dev\PySyft-dev\syft\workers\tfe.py to **config_filename = "/tfe.config"**, and get the following error:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-19

[2019-06-10 07:44] DanyEle opened #2260 "Part 6 and Part 11 Tutorial - List index out of range"
**Describe the bug**
Part 11 Tutorial breaks when running cell n. 5
See also related issue #2243
**Edit** Error for torchvision >0.2.2

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the Jupyter Notebook containing Part 11 - Secure Deep Learning tutorial
2. Run all cells up to the following one:

[code]

3. Run that cell
4. See the error generated:

https://pastebin.com/cYfEMJ2H

**Ex

[2019-06-10 08:29] Polarbeargo commented on #2260
@DanyEle you can see the discussion here:
https://openmined.slack.com/archives/C6EEFN3A8/p1559737323042400?thread_ts=1559737323.042400
relate to [issue 1893](https://github.com/OpenMined/PySyft/issues/1893) I encounter the same problem as you do :).

[2019-06-10 09:00] DanyEle commented on #2256
Also it would be very useful to have a breakdown of the data transmitted for: data/ models transmitted.

[2019-06-10 09:04] DanyEle commented on #2260
I confirm that issue also happens to me in Tutorial Part 6.

[2019-06-10 09:08] DanyEle commented on #2260
This code seems to be fix Tutorial 6.

[code]

[2019-06-10 10:07] jtagliaf commented on #2260
And i was wondering if i am just to dump to get everything right... got the same Problem on any Tutorial which uses the MNIST Dataset.

[2019-06-10 10:17] LaRiffle commented on #2260
Hey, can you confirm you don't have a gpu or cuda?

[2019-06-10 10:19] LaRiffle commented on #2259
Thanks for the indication!
Another work around is to install separately zstd with `pip install --upgrade --force-reinstall zstd`

[2019-06-10 10:21] Polarbeargo commented on #2260
I use Google Colab.

[2019-06-10 10:33] LaRiffle commented on #2260
Indeed I experience the same on colab. I'm looking at it

[2019-06-10 10:55] Jasopaum commented on #2145
I am not sure using numpy solves the original problem stated above: "native hardware does not support precision which is large enough for the cryptographic use cases we'd like to solve".
But maybe I misunderstood something!

[2019-06-10 11:11] mccorby commented on #2145
NumPy works with `objects` to represent large numbers. Not sure how it operates with them internally but it seems to be working.
If we're not using NumPy, we need then to find out how to solve the issue with the overflow and how to do the multiplications.
One problem (or another) of using NumPy is that we'll need to find an equivalent in other languages. There is a promising one for the JVM but I

[2019-06-10 11:12] mccorby commented on #2145
[code]

[2019-06-10 11:14] mccorby commented on #2145
Maybe it's me who is misunderstanding everything :)

[2019-06-10 11:26] DanyEle commented on #2260
I have a GPU and CUDA installed, but even when disabling CUDA, this still happens.

[2019-06-10 11:37] Jasopaum commented on #2145
Oh ok, so all the computations are done with numpy that handles large number on its own even on constrained hardware! Sorry, I was not seeing things like that
So you might also need to use a np object in your _restore_large_number function then, don't you?

[2019-06-10 12:13] jtagliaf commented on #2260
I do not have an external GPU

Specs:
Memory: 15,4 GiB
Processor: Intel Core i7-7500U CPU @ 2.70GHz x 4
Graphics: Intel HD Graphics 620 (Kaby Lake GT2)
OS: Ubuntu 18.10 64 Bit

Completly fresh installation with Anaconda and pip.

[2019-06-10 12:19] mccorby commented on #2145
If we go for this solution there are a few other things to fix too.

[2019-06-10 12:42] phillipeloher commented on #2259
Thank you.  I did see/try the 'pip install --upgrade --force-reinstall zstd' command, but it failed with similar ZSTD errors which led me to another work-around.  Just wanted to mention incase others benefit from it.

[2019-06-10 15:13] DanyEle commented on #2259
I just bumped into a lot of error with zstd on an Ubuntu 16.04 machine a few hours ago. They were solved by running:

`sudo apt-get install python3.6-dev`

[2019-06-10 15:17] DanyEle commented on #2258
`    alice = WebsocketClientWorker(id="alice", port=8777, **kwargs_websocket)
`
This cannot work. You need to specify a valid host for websockets. Supposing you're running this example with local workers, you may want to use:

`
kwargs_websocket_alice = {"host": "127.0.0.1", "hook": hook}
alice = WebsocketClientWorker(id="alice", port=8777, **kwargs_websocket_alice)
`
Alternatively, if you want to

[2019-06-10 15:44] LaRiffle opened #2261 "Additive Sharing and Fixed Precision in Zq"
This is part of #2235

**Is your feature request related to a problem? Please describe.**
We currently allow additive sharing in the Long field, which in particular allows negative values. However the guarantees of our protocols come from the fact the values are in specific Zq fields (ie [0, 1, ..., q-1]. Therefore we should allow Fixed precision to live in Zq fields.

**Roadmap**
The steps to tak

[2019-06-10 15:54] Jasopaum commented on #2261
I can advance on this tonight if nobody is working on it

[2019-06-10 16:02] Jasopaum commented on #2261
It seems to me like a lot is already done

[2019-06-10 16:35] LaRiffle commented on #2261
Cool feel free to start on this one!

[2019-06-10 16:57] andreaBelmont commented on #2258
Hello DanyEle, thanks for your answer but I am still confused.

I am running the examples as they are provided in

`https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/advanced/websockets-example-MNIST/README.md
`

How am I supposed to run the python commands while running both server and client on the same machine?

I have tried (in two distinct bash shells):

`>> python run_websocket

[2019-06-10 17:25] LaRiffle commented on #2260
The error is related to the torchvision `0.3.0` version.
Will edit a fix for it

[2019-06-10 17:53] DanyEle commented on #2258
You still need to specify the port and ID of the worker. For example for Alice:

  python3 run_websocket_server.py --host 127.0.0.1 --port 8777 --id alice

[2019-06-10 18:02] #2260 closed

[2019-06-10 19:07] andreaBelmont commented on #2258
OK, I think I go that part now.
But I am now getting a different error though when running the client, which also crashes the servers:

**Error on the client side**

[code]

**Error on the Server side**

[code]

[2019-06-10 19:14] #2250 closed

[2019-06-10 19:39] DanyEle commented on #2258
I noticed two more weird things in your configuration:

- You are using Python 3.7.3 --> Try using Python3.6 instead. I always run PySyft on Python 3.6.7, as its README file suggest
- You are using Pytorch 1.1.0 --> Try using Pytorch 1.0.1 instead. I don't think PySyft supports PyTorch 1.1, yet, although there are plans to port it to that version.

[2019-06-10 20:22] andreaBelmont commented on #2258
A couple of remarks: the [readme file](https://github.com/OpenMined/PySyft) clearly states

Anyways, I went ahead and tried what you suggest, that is python 3.6.7, torch=1.0.1, and torchvision=0.2.2, and still does not work.

Any further suggestions are very much appreciated. Thanks

[2019-06-10 20:29] jvmancuso commented on #2255
This one should be fixed by #2254, which is now in `dev`.

This one is more interesting -- @mortendahl any idea what could be going on here?

[2019-06-10 21:11] LaRiffle commented on #2243
This is now fixed in dev
Ans will be in master very soon,
The issue was torchvision update from 0.2.2 to 0.3

[2019-06-10 21:11] #2243 closed

[2019-06-10 21:43] geochri commented on #2243
Thank you!

[2019-06-10 23:05] mari-linhares opened #2264 "Ability to build a model plan (@sy.method2plan) locally and execute it remotely"
**Is your feature request related to a problem? Please describe.**

Currently a @sy.method2plan is only well supported when [built remotely](https://github.com/OpenMined/PySyft/blob/35c01d61bdaa69601d39c99ccfc1072b7c2ad7f1/test/federated/test_plan.py#L101).

If we modify the test to build the method locally we get an error:

[code]

Error:

[code]

**Describe the solution you'd like**

The code sn

[2019-06-11 02:17] keenlykeenly commented on #2255
Thank you very much. When I reinstall the tf-encrypted to version 0.5.5 and reinstall pysft, the error disappear. But there exist another problem. And I start a  new issue to discuss it.

Thank you again for your quick reply.

[2019-06-11 02:29] keenlykeenly opened #2265 "AttributeError: 'Conv2D' object has no attribute '_batch_input_shape'"
**Describe the bug**
AttributeError: 'Conv2D' object has no attribute '_batch_input_shape'

**To Reproduce**
In Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving, I encounter the next problem when execeute "model.share(alice, bob, carol)":

**Screenshots**
---------------------------------------------------------------------------
AttributeError

[2019-06-11 06:20] LaRiffle commented on #2258
Hi, thanks for reporting this error,
I believe the error was first in the client side to due `mean = torch.as_tensor(mean, dtype=torch.float32, device=tensor.device)`.
This a bug due to upgrading to torchvision 0.3, which was fixed in the dev branch yesterday. If you use directly the source code I'd recommend pulling and retrying you shouldn't have this error anymore (at least not this one). Alter

[2019-06-11 09:28] RohitAg13 opened #2267 "Bug in Federated Learning on MNIST using a CNN Example"
**Describe the bug**
Error on FederatedDataLoader step while running [Federated Learning on MNIST using a CNN](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%206%20-%20Federated%20Learning%20on%20MNIST%20using%20a%20CNN.ipynb)

**To Reproduce**
![image](https://user-images.githubusercontent.com/17871166/59260179-ca445f80-8c58-11e9-81b6-9fd32f866a51.png)

**Error**
--------

[2019-06-11 11:03] RohitAg13 commented on #2267
Issue is solved by moving to `torch==1.0.1` and `torchvision==0.2.2`

[2019-06-11 11:35] LaRiffle commented on #2267
Will be solved in syft>=0.1.18 (coming soon)

[2019-06-11 11:37] RohitAg13 commented on #2267
Thanks

[2019-06-11 11:37] #2267 closed

[2019-06-11 14:00] jvmancuso commented on #2265
Hi @keenlykeenly, unfortunately I was unable to reproduce your bug with the information provided -- when I try the notebook it works smoothly on both the pip package and the dev branch.  Did you change any code in the notebook?

It looks like your version of PySyft is slightly out of date though, you're using syft-0.1.15a1, while the current version from pip should be syft-0.1.17.  I recommend rei

[2019-06-11 19:39] robert-wagner commented on #2240
Hey @midokura-silvia @DanyEle I will fix the phrasing of this. What I mean by constant uptime is that they data is always available. This is contrasted with data that goes in and out of availability

[2019-06-11 19:54] robert-wagner opened #2271 "Automatically have every fixed precision operation call wrap to field"
**Describe the solution you'd like**
Currently for every method in fixed precision tensor we need to call response%=self.field at the end of the call to ensure that the output is in within the size of the field

We should automatically make this call

[2019-06-11 20:06] robert-wagner commented on #2264
Hi @mari-linhares I looked into this error. It looks like the line that fails is `if input.dim() == 2 and bias is not None:` I checked the behavior of both of of these functions independently on the input types and they both return a boolean. I am not sure what would be the cause of this error

[2019-06-11 20:47] mari-linhares commented on #2264
@robert-wagner, FYI, there was already a discussion about this issue with @LaRiffle: #2113

[2019-06-11 20:48] mari-linhares commented on #2264
@robert-wagner I think the cause of the error is related to the fact that the input is a pointer, but even if that's the case I think we should throw a better error with a better description.

[2019-06-11 22:08] robert-wagner opened #2272 "Dim does not work with multipointer tensors"
**Describe the bug**
Calling dim on a multipointer tensor returns a multipointer tensor where the values of the children are all ints. The return signature should be an int

**To Reproduce**
create a multipointer tensor and call .dim()

**Expected behavior**
the value returned should be an int

[2019-06-12 02:32] keenlykeenly commented on #2265
I update the syft as you suggest using pip install -U syft==0.1.17.
And the version information is as follows .

Requirement already up-to-date: syft==0.1.17 in d:\programdata\anaconda3\lib\site-packages (0.1.17)
Requirement already satisfied, skipping upgrade: torchvision in d:\programdata\anaconda3\lib\site-packages (from syft==0.1.17) (0.2.2)
Requirement already satisfied, skipping upgrade: skl

[2019-06-12 03:17] keenlykeenly commented on #2265
Hi. I download the Pysyft you released yesterday from github and that error disappear!
But it seems abnormal:
![image](https://user-images.githubusercontent.com/11493656/59321150-7cd0fc80-8d03-11e9-95c8-809b86cf8b11.png)

![notebook](https://user-images.githubusercontent.com/11493656/59321100-50b57b80-8d03-11e9-822f-1789241c0db8.PNG)

[2019-06-12 08:20] Polarbeargo opened #2273 "AttributeError: 'int' object has no attribute 'is_wrapper'"
**Describe the bug**
Execute Part 11 - Secure Deep Learning Classification.ipynb ecounter "AttributeError: 'int' object has no attribute 'is_wrapper'"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'examples/tutorials/Part 11 - Secure Deep Learning Classification.ipynb'
2. Click on 'run all'
3. Scroll down to 'cell 17 test(args, model, private_test_loader)'
4. See error

**Expected be

[2019-06-12 09:13] LaRiffle commented on #2273
Hey, indeed there is a bug in our last release 0.1.18 when operating with constant values, I'm working on a fix right now.

[2019-06-12 09:14] Polarbeargo commented on #2273
@LaRiffle Thank you:)!

[2019-06-12 09:19] LaRiffle commented on #2273
#2274 should solve
It will be merged very soon so if you can build the code from source in your colab you should benefit from it quickly, otherwise the 1.19 release will arrive in a few days. :)

[2019-06-12 09:20] Polarbeargo commented on #2273
Thank you @LaRiffle!

[2019-06-12 09:33] LaRiffle commented on #2273
For information, this is my config to build and run the latest code from PySyft on Colab:
[code]

I'm sure this is sub optimal, but it works ;)

[2019-06-12 09:56] LaRiffle commented on #2259
I share also here the install procedure I use on Google colab, which is not very clean but works for people wanting to use the last updates from `dev` branch (and their amazing bugs!)

[code]

[2019-06-12 12:15] #2273 closed

[2019-06-12 12:19] LaRiffle commented on #2258
This should be now fixed with #2266

[2019-06-12 12:19] #2258 closed

[2019-06-12 15:25] akaanirban opened #2275 "Error in Introduction-to-TrainConfig tutorial"
**Describe the bug**
I am trying to run the tutorial [Introduction to TrainConfig](https://github.com/OpenMined/PySyft/blob/train-config-rebase/examples/tutorials/advanced/Federated%20Learning%20with%20TrainConfig/Introduction%20to%20TrainConfig.ipynb), but I am getting an error in the following tep :
Step --> **Send TrainConfig to worker**

**Actual Error** --> `TypeError: Cannot serialize <torch

[2019-06-12 16:18] #2272 closed

[2019-06-12 16:25] robert-wagner opened #2277 "Splitting up serde broke serialization for multipointers"
**Describe the bug**
[code]

[2019-06-12 18:14] mari-linhares commented on #2275
Hey @akaanirban,

There is an error in torch 1.1 (check https://github.com/pytorch/pytorch/issues/20017 for details), if you downgrade torch to 1.0.1 should work as expected :blush: .

[2019-06-12 18:14] #2275 closed

[2019-06-12 18:59] #2277 closed

[2019-06-12 19:37] robert-wagner opened #2279 "3 Tests fail when local worker is verbose"
**Describe the bug**
When hook.local_worker is set to verbose the following errors occur

[code]

**To Reproduce**
In test/conftest.py
put the line `hook.local_worker.verbose=True` in the hook function

**Expected behavior**
Tests should pass regardless of if they are printing output

[2019-06-12 20:03] mari-linhares commented on #2279
@robert-wagner I've had a discussion about this with @IonesioJunior some time ago, we think this is due to the fact that garbage collector "gets stuck" since every time you're printing something you're creating a new reference to it, that tries to be deleted but then is printed again, ... and so on

[2019-06-12 20:04] mari-linhares commented on #2279
Having said that, if our intuition is true I'm not sure how easy is to get this fixed

[2019-06-12 21:01] #2171 closed

[2019-06-13 14:55] akaanirban commented on #2275
I can confirm this works with torch 1.0.1. Thanks a lot for the reply.

But any new installation of pysyft 0.1.18 has dependence torch>=1.1.0. Anybody trying this with fresh installation might have issues. :smiley:

[2019-06-13 15:24] robert-wagner opened #2281 "All tests calling start_proc fail on windows"
**Describe the bug**
Start proc does not succeed on windows causing 9 tests to fail
**To Reproduce**
Call make test on windows

**Expected behavior**
Tests should work on all operating systems
**Desktop (please complete the following information):**
 - OS: windows
 - Version: all

**Additional context**

[-.txt](https://github.com/OpenMined/PySyft/files/3286916/-.txt)

[2019-06-13 16:03] robert-wagner commented on #2256
A hacky way to do this would be to add something to the send function which increments a counter based on the size of the message being sent

[2019-06-13 16:13] akaanirban commented on #2275
@mari-linhares , the vanilla tutorial worked flawlessly. However, I tried modifying the script for training MNIST model where the remote device contains the dataset, instead of sending/federating data to workers from the central scheduler.

I am in Torch 1.0.1, the vanilla TrainConfig tutorial works. But when I try to use a CNN model , I get the following error :

![screencapture-localhost-8888-no

[2019-06-13 16:14] mccorby commented on #2256
A thought on this:
Monkey-patching or extension (if there is a class involved) could help so as not to pollute the code with these trackers

[2019-06-13 17:18] robert-wagner commented on #2255
@jvmancuso is this fixed now?

[2019-06-13 17:19] robert-wagner commented on #2214
@LaRiffle Is this done?

[2019-06-13 17:21] jvmancuso commented on #2255
Yup!

[2019-06-13 18:01] #2255 closed

[2019-06-13 18:31] LaRiffle commented on #2214
Yes!

[2019-06-13 18:31] #2214 closed

[2019-06-13 21:35] mari-linhares commented on #2275
Hey @akaanirban from this part of the notebook I'm not sure what can be wrong, can you send the file so I can try to execute it?

Also, maybe @midokura-silvia can help, she's the autor of this PR that uses MNIST with train config for async federated training https://app.reviewnb.com/OpenMined/PySyft/pull/2217/files/

[2019-06-14 08:30] akaanirban commented on #2275
@mari-linhares  and @midokura-silvia I saw the PR. I am so excited about it. That was exactly what I was trying to do (though not the async part).

Now, @midokura-silvia's branch has torch>=1.1.0 and torchvision>=0.3.0. I tried with both combinations of (torch1.1.0+torchvision0.3) and (torch1.0.1 +torchvision0.2.2 , because of the bug mentioned in this tracker). I get error in both. Results of the

[2019-06-14 08:41] Polarbeargo opened #2282 "Import syft on Azure databricks for secure model serving with Syft Keras"
**Describe the bug**
Dear all,
I'm working on Azure Databricks want to try out install syft and encounter error log like bellow
`Collecting pip
  Using cached https://files.pythonhosted.org/packages/5c/e0/be401c003291b56efc55aeba6a80ab790d3d4cece2778288d65323009420/pip-19.1.1-py2.py3-none-any.whl
Installing collected packages: pip
  Found existing installation: pip 10.0.1
    Uninstalling pip-10.0

[2019-06-14 09:34] midokura-silvia commented on #2275
I am using torch==1.0.1 and torchvision==0.2.2.post3. torch=1.1.0 will not work. Will take a look at your issue later, latest Monday.

[2019-06-14 10:07] LaRiffle opened #2283 "AutogradTensor support for MPC"
We have very interesting blocks with the current AutogradTensor so it's time to build on it to have it working of ML usecases.

**Suggested roadmap:**
- [x] Is .parent needed ?
- [x] Improve the handling of .grad for syft tensors #1895
- [x] Check or fix composition of functions
- [x] Have a working example with fixed precision tensor
- [x] Have a working example with additive shared tensor

[2019-06-14 18:14] #2241 closed

[2019-06-14 18:14] #2264 closed

[2019-06-14 18:14] #2003 closed

[2019-06-15 18:32] mari-linhares commented on #2227
Fixed #2239

[2019-06-15 18:32] #2227 closed

[2019-06-15 18:50] mari-linhares commented on #2132
I think this is the same as #2175, if not feel free to re-open.

[2019-06-15 18:50] #2132 closed

[2019-06-15 18:53] mari-linhares commented on #2110
Fixed #2230

[2019-06-15 18:53] #2110 closed

[2019-06-15 18:55] mari-linhares commented on #2049
I think this is related to #2175, I'm closing this for now. Feel free to re-open if after #2175 is fixed this is still a problem.

[2019-06-15 18:55] #2049 closed

[2019-06-15 18:56] mari-linhares commented on #1981
Hey @Adarshsng, are you still getting errors with the most updated version of syft and torch?

[2019-06-16 01:55] mari-linhares opened #2290 "Dinamically generate simplifiers and detailers list"
**Describe the bug**

Serde file is not manageable in the current format.

It' very easy to unintentionally breaking `serde.py` by updating simplifiers and detailers list incorrectly.

A fix was discussed at #2230 which consists of dynamically generating the lists during init.

**Pros**: easier to maintain code.

**Cons**: overhead during initialization.

[2019-06-16 08:39] akaanirban commented on #2275
@midokura-silvia @mari-linhares  It is working now. I installed pysyft from the pull request commit in midokura's fork. Seems like, there were several other changes in the pull request which were not in the dev version, but were needed in order for the example to run. This is probably why it was not working.

It'll be great when it is merged with the master branch. Thanks a lot for your help.

[2019-06-16 23:42] youben11 opened #2292 "Docker image for Raspberry PI"
**Problem**
It's really frustrating to setup a Raspberry PI to run PySyft as shown in [this blog post](https://blog.openmined.org/federated-learning-of-a-rnn-on-raspberry-pis/) by @DanyEle

**Suggested Solution**
Make a ready to use Docker image of PySyft for Raspberry PIs.

[2019-06-17 15:35] #2290 closed

[2019-06-18 15:33] mari-linhares opened #2297 "Test worker serialization"
**Is your feature request related to a problem? Please describe.**

We should have tests for Virtual Workers serialization since this is crucial for [Grid](https://github.com/OpenMined/Grid).

[2019-06-18 17:04] #2297 closed

[2019-06-19 15:11] robert-wagner opened #2301 "Support generic optimizers for train config"
**Describe the solution you'd like**
Currently we only support sgd for train config. We should add support for generic optimizers and appropriate testing and error reporting

[2019-06-20 19:36] mari-linhares opened #2304 "Serialize / Deserialize FixedPrecisionTensors"
**Is your feature request related to a problem? Please describe.**

I want to be able to serialize/deserialize FixedPrecisionTensors.

Tests should be implemented.

[2019-06-20 20:34] #2304 closed

[2019-06-20 20:36] robert-wagner commented on #2282
@Polarbeargo You are trying to install syft on python 2. Syft only supports python 3

[2019-06-21 13:03] racinger opened #2306 "TrainConfig parameter "epochs""
**TrainConfig parameter "epochs" doesn't have effect.**
After changing the number of epochs=1 to epochs=100. The worker still do only 1 epoch.

[code]

[2019-06-23 12:35] mari-linhares commented on #2306
Hey @racinger,

Thanks for creating the issue!

I think this used to work but due to multiple new PRs this behavior may have been compromised. I'll fix it later today, and it should work on the next syft release :).

[2019-06-24 00:55] dvu4 commented on #2259
Hi I tried to install pysyft on OSX Mac Mojave and have an installation error regarding zstd

[code]

I also  tried `pip install --upgrade --force-reinstall zstd` command, but I have the following error.

[code]

[2019-06-24 07:12] kakirastern commented on #2256
Hi, I am interested in this issue, but might need some help/pointers to start...

[2019-06-24 09:23] racinger commented on #2306
Great to hear. Thanks for your great work @mari-linhares !

[2019-06-24 16:49] #2306 closed

[2019-06-24 21:52] #2282 closed

[2019-06-24 21:58] Jasopaum commented on #1524
I'm on this one

[2019-06-25 06:44] mccorby commented on #1524
Can this one be related to LPT?

[2019-06-25 10:58] mmalekzadeh commented on #2259
The solution that worked for me on MacOS Mojave 10.14.5:

`conda create -n py3_6_3 python=3.6.3 anaconda`
`conda activate py3_6_3`
`conda install pytorch torchvision -c pytorch`
`pip install --upgrade --force-reinstall zstd`
`pip install syft`

[2019-06-25 12:33] LaRiffle opened #2310 "Travis build error: setuptools>=41.0.0 is required by {'tensorboard'}"
There is a very frequent error while building Travis. We need to restart the build, which is time consuming and also impossible when not granted the appropriate rights.

[code]

We need to relaunch the build several times to have it working, how can we fix this issue related to tensorboard?

[2019-06-25 12:46] midokura-silvia commented on #2310
I fixed it putting a requirement setuptool>=41.0.0 in requirements_dev.txt
Code contained in PR on tf_encrypted dependency removal

[2019-06-25 12:54] LaRiffle commented on #2310
Awesome!

[2019-06-25 13:54] midokura-silvia commented on #2310
Code merged into dev

[2019-06-25 19:24] #2310 closed

[2019-06-26 02:34] ajnovice commented on #1903
I hope to work on this issue. Is this still open?

[2019-06-26 09:12] amit-rastogi commented on #2233
@robert-wagner can i take this up?

[2019-06-26 09:16] amit-rastogi commented on #2233
I replicated this using the code below-

hook = sy.TorchHook(torch)
x = torch.tensor([1.,2])
y = torch.tensor([2,3.])
bob = sy.VirtualWorker(hook, id="bob")
alice = sy.VirtualWorker(hook, id="alice")
x_ptr = x.send(bob, alice)
y_ptr = y.send(bob)
z = x_ptr+y_ptr        #####Got syft.exceptions.RemoteObjectFoundError here

[2019-06-26 17:56] aristizabal95 opened #2313 "Transform ToTensor() on BaseDataset automatically executes get()"
**Describe the bug**
Iterating with `FederatedDataLoader` on a federated dataset with `transforms.ToTensor()` will return the raw data tensor instead of a pointer to the tensor.

**To Reproduce**
Steps to reproduce the behavior:

This is a working script that demonstrates the issue.
[code]

**Expected behavior**
transforms should be run remotely and `FederatedDataLoader` should return the pointer

[2019-06-27 08:49] kakirastern commented on #2256
So I will approach the problem via WireShark first...

[2019-06-27 08:50] LaRiffle commented on #2256
Excellent idea!
If you want to do this manualy you can also do it is the code:
In that case you want for a worker to store the amount of data sent and received, like this would be to attributes of a worker: so each time some data is sent or received, you evaluate the size of the serialize data and you add it to this attributes. To catch the event "data is sent or received" you will need to inspect

[2019-06-27 13:34] LaRiffle opened #2315 "Interact autograd tensor with torch.no_grad"
Adding autogradtensors in syft chains slows down computations, can we use the `with torch.no_grad` syntax to provide a context in which this autogradtensor node is skipped?

[2019-06-28 09:40] DanyEle opened #2318 "Backward function not called for torch.autograd.function"
**Describe the bug**
The `backward` function of a custom class in PySyft inherited from the `torch.autograd.function` is not invoked when running the `backward()` method on remote tensors. This feature is essential for my current research work based on PySyft.

**To Reproduce**
Just run this code:

[code]

**Expected behavior**
I would expect the backward() method from the custom class to be actua

[2019-06-28 11:12] LaRiffle commented on #2318
As discussed with @DanyEle one reason for this can be:
Regarding nn.Modules operated on remote data, the forward pass method is run by the client (ie the local instance) and then all ops inside (like nn.relu or nn.Linear) are hooked and a message is sent for each of them to the workers which holds the data. Therefore, the remote worker doesn't have the big picture of your nn.module model.
However,

[2019-06-28 15:06] DanyEle commented on #2318
Thank you for the response @LaRiffle . Any idea on how to possibly fix this issue and introduce support for torch.autograd.function in PySyft over remote tensors?

[2019-06-28 18:25] #2301 closed

[2019-06-28 18:29] robert-wagner commented on #2318
hey @DanyEle On another note, how does this behave if you call y.send() before you call the mod on it?

[2019-06-28 19:47] DanyEle commented on #2318
Just tried it and did not notice any difference. The backward method from the MyMod class is still not invoked.

[2019-06-28 21:58] theoptips opened #2319 "Cosmetic space to add for TensorsNotCollocatedException"
**Describe the bug**
Cosmetic spacing, just 1, missing for TensorsNotCollocatedException

**To Reproduce**
1. initiate two tensors, one send to remote worker, one locate
2. add two tensors
2. get TensorsNotCollocatedException

[code]

**Expected behavior**
" involving two tensors where one tensor is actually locatedon another machine (is a PointerTensor). Call .get() on the PointerTensor or .send(

[2019-06-29 02:40] Lou1s commented on #2083
I get this error too, when creating a tensor of tensors in a custom class. Does anyone have a work around for the moment?

[2019-06-29 02:56] kamathhrishi commented on #2083
I did this

`def tensors_to_literals(tensor_list):
    """Converts list of torch tensors to list of integers/floats. Fix for not having the functionality which converts list of tensors to tensors
       Args:
           tensor_list[List]: List of torch tensors

       Returns:
           literal_list[List]: List of floats/integers
    """

    literal_list = []

    for tensor in tensor_list:

[2019-06-29 02:58] Lou1s commented on #2083
Thanks!

[2019-06-30 03:38] ProfXGiter opened #2322 "Few typing errors in tutorials"
Thank you the contributors, the tutorials is great, but I found few typing errors so far.

Fisrt:
In PySyft/examples/tutorials/Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving.ipynb,
in section Cleanup!,
in last it say "Congratulations on finishing **Part 12**: Secure Classification with Syft Keras and TFE!"
It should be "Congratulations on finishing **Part 13b**: Se

[2019-06-30 15:20] redshiftzero opened #2323 "resolve remaining type errors on dev branch"
**Describe the bug**

While there are many type annotations in the codebase, when running a static type checker on the code, many issues are raised (see mypy output below). Some of these may merely be incorrect annotations (still worth fixing since one of the reasons to add static type annotations is for code clarity), however some may be legitimate bugs.

PR #2321 adds static type checking in CI

[2019-06-30 18:07] mari-linhares commented on #2322
Thanks for the contribution @ProfXGiter, feel free to make a PR to fix these typos!

[2019-06-30 18:10] mari-linhares commented on #2319
Hey @theoptips,

Thanks for reporting this issue! Feel free to make a PR to fix it if you want to :)!

[2019-06-30 21:54] theoptips commented on #2319
Thank you for the opportunity. As this is a good-first-issue, I would love to take a stab. I am in need of a contribution opportunity. Is it okay if I reach out in Slack to discuss and ask questions about test cases? That may be where I need help.

[2019-07-01 06:18] Polarbeargo commented on #2282
Thank you @robert-wagner 👍 !

[2019-07-01 14:23] iamtrask commented on #2318
This seems like a good fit for AutogradTensor, no? (CC: @LaRiffle)

[2019-07-01 14:27] iamtrask commented on #2318
The core issue is that when we serialize objects we don't serialize their graph as well. In other words, when you call .send() on a tensor, we don't send the whole graph, we only send that tensor.

However, the fix should be easy. If you send everything BEFORE the forward pass it should work.

TODO: we should add support for someone to send a dynamic graph

[2019-07-01 16:15] iamtrask commented on #2318
@LaRiffle - shouldn't it be possible to do what he's trying to do using AutogradTensor? Is there a way to call .send() on a graph and keep the graph local but just send the tensor to a remote machine so that when you call .backward() it does backprop locally but executes it remotely?

Aka - how does he create a custom op for AutogradTensor?

[2019-07-01 20:53] mari-linhares opened #2324 "Have the option to turn off plans execution"
**Is your feature request related to a problem? Please describe.**

Currently, plans are executed as readable plans all the time except for building the plan.

In other words, when a user calls a plan there's not a way to run execute the original blueprint aka the actual function wrapped by the plan decorator.

This could be useful for: training a model locally with regular pytorch but then serve

[2019-07-01 20:53] mari-linhares commented on #2324
@LaRiffle @robert-wagner @midokura-silvia do you have any thoughts about this?

[2019-07-01 21:01] robert-wagner commented on #2324
How does this affect performance/ the ability to send plans? If it has a dominance relationship with the current implementation for those two categories, I'm all for it. I personally am opposed to having global variables if all possible (they break in multiprocessing situations). Furthermore, I think adding the argument to call, means it will not be used.

[2019-07-01 21:13] mari-linhares commented on #2324
It should affect neither.

There are mainly two cases:
* If a plan is local (worker has the blueprint), it will execute the plan using the blueprint.
* If a plan was sent, it will execute plans in the "traditional way".

[2019-07-01 21:17] mari-linhares commented on #2324
The main pro is that: locally a plan will behave exactly like the original function/method to users.
The main con is that: remotely this may not be true (for example: a plan for a Model will not be able to train remotely without using autograd tensors).

[2019-07-01 21:20] robert-wagner opened #2326 "Support for serializing sparse tensor types"
**Describe the solution you'd like**
PyTorch implements sparse tensor types for storing tensors which are mostly zero in a space efficient manner. Currently we do not do anything to keep these savings while sending the tensors to other workers. We should add support for serializing sparse tensors

[2019-07-02 03:07] fdoherty13 commented on #1981
Would be cool to see applications of CNN's in the field of construction and project management, nothing to do with bug fixes in code - but a life-saving idea nonetheless. I know most devs focus on merchandise and e-commerce when applying a convolutional, yet there exists a vast library of architecture and blueprints from companies in mech engineerin' (Caterpillar, John Deere, Toyota) that remain i

[2019-07-02 06:00] ProfXGiter commented on #2070
Yes, according @iamtrask , you can write a optimizer list like Part4 or Par10, then you can use Adam, Adadelta or other optimizer with momentum. @2fasc

[2019-07-02 07:39] midokura-silvia commented on #2324
I don't see it as a problem to have different behavior locally and remotely. However we should make sure that all relevant cases are tested and cannot get different results.

[2019-07-02 14:12] LaRiffle opened #2327 "Fixed precision on LongTensor"
**Describe the bug**
`torch.tensor([1]).fix_precision()` fails

**To Reproduce**
Run `torch.tensor([1]).fix_precision()`
See:
[code]

**Expected behavior**
Should convert transparently into fixed precision

[2019-07-02 14:13] LaRiffle commented on #2283
Solved by #2293

[2019-07-02 14:13] #2283 closed

[2019-07-02 14:15] mccorby commented on #2327
I'll pick this one (unless someone wants to do it as a first in the project)

[2019-07-02 16:15] mccorby commented on #2327
I found out that when restoring a `LongTensor`, `float_precision()` is not returning the original values.

This test would fail:
[code]
Are we happy with this?

[2019-07-03 00:49] mari-linhares commented on #2324
Another important change that option 3 would require is that users will need to call `plan.build` explicitly since the default behaviour will not build the plan.

How do you feel about this? @LaRiffle

I don't see this as a major problem, and I still think the third option is more intuitive than others.

[2019-07-03 13:38] #2319 closed

[2019-07-03 13:38] #2322 closed

[2019-07-03 15:14] robert-wagner commented on #2326
This should work with our current implementation after https://github.com/pytorch/pytorch/issues/16667 is solved

[2019-07-04 03:37] keenlykeenly opened #2332 "classification error"
![image](https://user-images.githubusercontent.com/11493656/60638150-cff42600-9e4f-11e9-8a31-7b34084f636a.png)

The execution in part13 is OK, but the classification results are wrong. How can I fix it? Thank you very much.

[2019-07-04 07:30] #2327 closed

[2019-07-04 07:32] LaRiffle opened #2333 "Multiple workers with same id issues"
**Describe the bug**
When multiple workers with the same id are declared, we observe some weird behaviour.
Could be just raise an Error when this happen? Alternatively, handle this in a consistent way.

**To Reproduce**
[code]

[2019-07-04 09:23] LaRiffle opened #2334 "Add sy.__version__"
We should add `sy.__version__` attribute for people to easily retrieve which version they are using

[2019-07-04 11:04] amit-rastogi commented on #2333
@LaRiffle I would like to take this up.

[2019-07-04 13:30] amit-rastogi commented on #2334
picking this up

[2019-07-04 14:35] LaRiffle commented on #2333
Sure!

[2019-07-04 16:08] mari-linhares commented on #2332
Hey @keenlykeenly,

I don't think this is an issue since the model is randomly initialized it's possible that it could classify the first images wrong. Having said that I'll close the issue for now.

But maybe is not a coincidence that it classified all images as zeros, have you trained the model? Can you check how your model classifies other images from the test set?

Thanks!

[2019-07-04 16:08] #2332 closed

[2019-07-04 16:14] LaRiffle opened #2336 "Add div support of autograd Tensor"
We have add sub mul but not div yet implemented for autogradtensor

[2019-07-04 22:06] pynchmeister commented on #2336
I'd like to give this a shot if that's ok. Where can I find this in the directory?

[2019-07-05 09:06] LaRiffle commented on #2336
@wagnernegrao  has started on this issue I think, but you can also give a try of course

have a look at syft/frameworks/torch/tensors/interpreters/
- autograd.py
- gradients.py

[2019-07-06 10:20] wytyang00 commented on #2070
I've experienced the increasing loss issues with my Adam as well.

But, since it wasn't raising errors, I tried to see where things went numerically wrong.

Somehow, in Adam's `step()` method, changing this line
[code]
to this line
[code]

and this line
[code]
to this line
[code]

made it work and the loss decreased with no problem.

So, it seems like `addcmul_()` and `addcdiv_()` functions have i

[2019-07-07 10:22] DanyEle commented on #2334
Would indeed be very useful!

[2019-07-08 10:22] LaRiffle opened #2341 "SecureNN with n_workers >= 3"
**Describe the bug**
When used with n>=3 workers with SecureNN

[code]

This doesn't work correctly:
[code]

[2019-07-08 21:39] Jasopaum commented on #2341
In this particular case where we multiply by a scalar, I think we do something useless:
we first multiply the multiplier by `base ** precision_fractional` and then truncate. When I remove this, the results are ok.
But I agree that there are still some problems when multiplying 2 ASTs shared between more than 2 workers

[2019-07-08 22:00] LaRiffle commented on #2341
Trask: Use a crypto provider and that should be sufficient

[2019-07-08 22:21] vvmnnnkv commented on #2341
Hmm @LaRiffle, this doesn't seem sufficient to fix the problem of >2 workers:

[code]

[2019-07-09 00:43] ProfXGiter commented on #2070
cool

[2019-07-09 07:12] joseilberto commented on #2341
@LaRiffle, I recommend as a quick fix using the in-place operation:
[code]

By the end of today, I will submit a pull request fixing this specific bug.

[2019-07-09 08:40] kakirastern commented on #2256
Thanks for the tip! This hacky way sounds really interesting and promising... Am looking into it. Hopefully a PR will follow soon.

[2019-07-09 11:08] amit-rastogi commented on #2281
I would like to take this up if this is still available.

[2019-07-09 11:23] amit-rastogi commented on #2281
On Windows the web socket client also fails to connect giving the error below.

OverflowError: timeout doesn't fit into C timeval

Appears to be due to the timeout interval (TIMEOUT_INTERVAL = 9_999_999) specified in websocket_client.py.

[2019-07-09 12:49] DanyEle commented on #2318
As suggested by @iamtrask , I currently trying to use "AutogradTensor" from Pull Request #2293 , however I have not yet managed to get it working with a custom class.

Any ideas on how to combine custom classes in combination with an AutogradTensor?

[2019-07-09 13:40] vvmnnnkv commented on #2341
Here's another example - calculating avg of multiple zero tensors shared to multiple workers.
Works fine with `num = 2`.

[code]

Expected is tensor of zeros.

[2019-07-09 14:15] joseilberto commented on #2341
@vvmnnnkv, Division in FixedPrecisionTensor is not even implemented. @Jasopaum, maybe division by integer is a nice feature to be implemented soon.

[2019-07-09 19:05] robert-wagner commented on #2341
@Jasopaum A big problem with operations between more than 2 ast's is that when recombining each of them there is a greater likelyhood in losing precision in the least significant bit. An intuitive way to think about this problem is to think of the last digit as a float which adds up to 1 but is rounded. For the n=2 case, unless you split the number such that both are exactly equal to 0.5, one of t

[2019-07-09 19:06] robert-wagner commented on #2341
We actually used to have test for this which was super flakey due to the above instability

[2019-07-09 19:47] #2334 closed

[2019-07-09 19:48] #2333 closed

[2019-07-09 21:27] Jasopaum commented on #2341
@joseilberto, I think we left out the division for FixedPrecisionTensor on purpose, to avoid a loss of precision when division isn't exact... But I'm not sure why we couldn't have something like a floor division, you're right. Maybe @LaRiffle knows a bit more about FixedPrecisionTensors?

[2019-07-10 02:42] keenlykeenly opened #2346 "Model accuracy is too low"
**Describe the bug**
In tutorials Part 13a - Secure Classification with Syft Keras and TFE - Public Training, the model test accuracy is quite low: Test accuracy: 0.0925. I cannot reproduce the high accuracy as your notebook writes: 93%. The code and result are as follows.
![image](https://user-images.githubusercontent.com/11493656/60936262-14277080-a2ff-11e9-917d-42eaa09d14a7.png)

![image](https

[2019-07-10 07:50] LaRiffle commented on #2318
Hey!
So there are many things here,
- Currently with AutogradTensor, you need to specify the gradient for all operations that you use, and in particular you need to explain how the backward is supposed to be computed, so you cant' just add a print statement to some multiplication function, you also need to re-state how to differentiate it. Of course this is not a pb for a function which doesn't mo

[2019-07-10 08:08] LaRiffle commented on #2318
The easiest way to do would be to work in the second direction, and the piece of code that we'd like to work would be:
[code]
Would this address your usecase?

[2019-07-10 10:16] LaRiffle commented on #2341
@joseilberto we'd love to have division with fixed_precision! We haven't had a use case yet where division by a FixedPrecision divisor was needed, we only needed integer division, that's why you don't see an implementation so far.

One thing to notice, is that for example if you don't see a method (like `__truediv__`) in precision.py it doesn't mean it's not implemented, it means that the basic Py

[2019-07-10 10:54] DanyEle commented on #2318
Thank you for the example @LaRiffle . I tried running your code, but got the following error:

[code]

Instead, when running

`y.backward(x)`

This does seem to be working as expected and the backward method is indeed invoked from the custom class. I have yet to verify whether this would work for my particular case though.

[2019-07-10 11:19] joseilberto commented on #2341
@LaRiffle, I do understand that what it does is exactly use whatever comes from the inheritance (that is why I suggested using the in-place multiplication operator and it works properly). In the division by integer case, we are constrained by the precision_fractional we have set and it performs poorly if we need more precision just as pointed by @vvmnnnkv.

[2019-07-10 13:24] LaRiffle commented on #2341
Hey yes you're right, but this is linked to the additive sharing part not the fixed_precision: takes the same example and remove .share() and .get() it will work

So as a **recap**  we have issues with additive shared tensor with mul or div with integers with n>2 workers

[2019-07-10 13:25] LaRiffle commented on #2318
So I would say the sample of code I suggetsed is not supposed to work right now, but we should do the appropriate imprvements in autograd to have it working. It's more a target to achieve :)

[2019-07-10 15:39] robert-wagner commented on #2341
@LaRiffle As to your above comment on __truediv__, division is not well defined over fixed precision numbers

[2019-07-10 15:51] robert-wagner commented on #2346
@mortendahl

[2019-07-10 15:54] mortendahl commented on #2346
Hi @keenlykeenly, could you provide a few details about the system you're on:
- OS (macOS, Linux, Windows)?
- TensorFlow version (eg via `pip list`)?

[2019-07-11 03:41] akontaxis commented on #2069
Hi guys! Apologies for the radio silence, have been busy the past few months but working on this intermittently. I just opened a PR: https://github.com/OpenMined/PySyft/pull/2350

I kept this stuff in a notebook because I wasn't sure where it should sit in the codebase -- any feedback there would be super helpful!

[2019-07-11 11:05] LaRiffle opened #2352 "Fix precision on pointers Error"
**Describe the bug**
Fix_precision on pointer tensor fails because of change in fix_prec method which make use of numpy ops.

**To Reproduce**
[code]

Or run Tutorial Part 10.

![image](https://user-images.githubusercontent.com/8157164/61076178-8a1cfc00-a413-11e9-8dc3-dfba2ae73261.png)

**Error**
[code]

[2019-07-12 01:52] keenlykeenly commented on #2346
Thank you for your reply.
It is Windows system. And I use the anaconda virtual environment. The tensorflow version is 1.14.0 rc0.
When I enter 'pip list' in the anaconda prompt, I get:
Package                            Version              Location
---------------------------------- -------------------- -------------------------------------
absl-py                            0.7.1
alabaster

[2019-07-12 12:43] DanyEle commented on #2318
I'm currently trying to run a slightly more complicated example:

[code]
However, I get the following error in the loss.backward(hidden) step:

![image](https://user-images.githubusercontent.com/4907418/61128878-65786100-a4b3-11e9-8b61-eb205a3d7ab3.png)

[2019-07-12 12:58] DanyEle commented on #2318
Perhaps no serialization mechanism are implemented for AutogradTensor objects? Not super sure.. I'm trying to look into it.

[2019-07-12 14:27] amit-rastogi commented on #2281
I saw the PR "[WIP] Implement start_remote_worker #2345" where its mentioned that start_proc would get replaced with start_remote_worker. Hence, wanted to check if this issue is still valid and needs to be worked upon?

[2019-07-12 14:38] DanyEle commented on #2318
The current implementation for these methods I came up with is the following, however it's not working yet:

from a`utograd.py`

[code]

[2019-07-12 18:30] #2352 closed

[2019-07-12 19:05] amit-rastogi opened #2354 "Calling .backward() on a calculated tensor gives AttributeError"
While running PySyft/examples/experimental/AutogradTensor.ipynb the following line gives error-

c.backward(torch.ones(c.shape).send(mat))

AttributeError: 'NoneType' object has no attribute 'copy'

[2019-07-12 21:17] kakirastern commented on #2256
I am attempting a solution at my branch here: https://github.com/kakirastern/PySyft/tree/monitor-network-usage. I reckon it may take some time if a working solution will indeed be worked out, say a few weeks, as I am new to this repo and thus its code base.

[2019-07-13 00:09] #2242 closed

[2019-07-13 02:46] mari-linhares commented on #2281
Hey @amit-rastogi,

The new function actually uses `start_proc`, so yes, this issue is still valid.

[2019-07-13 17:43] Ankit-Dhankhar commented on #2256
I find this issue interesting and would love to help.
@LaRiffle @kakirastern  For size of a object send we can directly acumulate size of [bin_message (for sent data)](https://github.com/OpenMined/PySyft/blob/2eb15a37e5f2318b5c1c8d45cd133dce80ac6490/syft/workers/base.py#L220) and [bin_response (for data received)](https://github.com/OpenMined/PySyft/blob/2eb15a37e5f2318b5c1c8d45cd133dce80ac6490/sy

[2019-07-13 18:52] kakirastern commented on #2256
@Ankit-Dhankhar Any help would be much appreciated. I agree I should use two variables `bin_message` (for data sent) and `bin_response` (for data received) instead of just one `data_size` variable which would seem like a misnomer.

[2019-07-13 19:15] mccorby opened #2357 "Document the protocol used to serialise/deserialise (serde)"
**Is your feature request related to a problem? Please describe.**
If we consider the `serde` process as the protocol used by PySyft to communicate with other systems, it would be very useful to keep a documentation of what this protocol looks like for the different operations

**Describe the solution you'd like**
Examples of different calls and operations with workers to start with.

**Describe a

[2019-07-14 13:26] harmanpreet93 commented on #2259
Hey @dvu4

I'm facing the exactly similar issue on MacOS Mojave Ver 10.14.5. Were you able to find a solution to this issue?

Conda Version: `4.6.14`
Python Version in Conda environment: `python 3.7.3`

Can anyone else with a similar configuration please help me with the installation?

[2019-07-14 13:59] DanyEle commented on #2318
I successfully managed to implement the serialization and deserialization procedures. Nevertheless, my issue with remote backpropagation using a custom class still persists, and a [0,0,0,..0] gradient is produced in all model's parameters.

[2019-07-14 15:01] kakirastern commented on #2256
And yeah, I agree maybe using WireShark to monitor traffic sent over WebSockets would provide more details regarding the data sent or received, which might be useful to get a breakdown of the data transmitted, at the cost of some computational overheads.

[2019-07-15 09:40] bluerxing opened #2359 "Error when call fix_precision() in PySyft/examples/tutorials/Part 10 - Federated Learning with Secure Aggregation.ipynb"
**Describe the bug**
when it call the function of fix_precision(),
on the line _“fixed_precision_param = copy_of_parameter.fix_precision()”_
and the line: _spdz_params.append(params[remote_index][param_i].copy().fix_precision().share(bob, alice, crypto_provider=james).get())_,
it will occur:
`AttributeError: 'numpy.ndarray' object has no attribute 'owner'`

entire error log:
[code]

**To Reproduce

[2019-07-15 09:41] bluerxing commented on #2359
@LaRiffle

[2019-07-15 15:54] eliott15 commented on #2225
Hi,
In the configuration I'm studying, I want to train a Neural Network where the different parts reside on both a server and a worker/client/data owner.

To do so, I need to initiate the computation at the client’s location, then forward it to the server, before sending it back to the client to finish the computation.

I need after that to compute the gradients and backpropagate them with the `ba

[2019-07-15 16:57] jvmancuso commented on #2225
I would just add that this is quite reminiscent of the Mesh projecy from TensorFlow

[2019-07-15 17:48] kakirastern commented on #2256
I am thinking about adding something in the line of the following in "websocket_client.py" and "websocket_server.py". Would it work well?
[code]
If not, I would really appreciate any feedback given so that I can learn from the experience.

[2019-07-15 20:17] DanyEle commented on #2318
Issue finally solved thanks to the help provided by @iamtrask !! To get the actual gradient following backpropagation, it was sufficient to do:

`for param in model.parameters():
     param.grad.data.location._objects[param.grad.data.id_at_location]`

Instead  of:

`for param in model.parameters():
   param.grad.data`

Closing the Issue as it got resolved!

[2019-07-15 20:25] mari-linhares commented on #2359
Hey @bluerxing,

I believe this was fixed in this PR #2353. You should be able to have the correct behavior by using the dev version of this repo or using pip in the next few days (when the new version of pysyft is submitted).

I'll close this issue, but feel free to leave comments here if you face any issues.

[2019-07-15 20:25] #2359 closed

[2019-07-15 20:27] mari-linhares commented on #2357
Probably some tutorials for developers could be useful: "how serialization and deserializations works in syft"

[2019-07-16 06:11] DanyEle commented on #2256
Well, that only seems to be working for the ethernet interface:

`        capture = pyshark.LiveCapture(interface='eth0')`

But if the user is connected to a WiFi network, this wouldn't work.

It would be nice to automatically detect the network interface to which user is connected, or let him choose from which network interface Wireshark should listen to (maybe have the network interface as a par

[2019-07-16 12:29] kakirastern commented on #2256
Yes, thanks for pointing that out! According to the official `pyshark` docs, the argument `interface` can be set to `None` so that it would automatically detect the first available network interface the user is connected to, if I have not misinterpreted the original wording.

In the official docs it states that

So I would change my code in `websocket_client.py` to:
[code]

However, then I have an

[2019-07-16 13:20] DanyEle commented on #2256
Getting the first network interface is indeed a good idea. I just tried to boot Wireshark and it detect my wlan Interface as my network interface.

 About your second point I can't really say, since I don't know those methods or attributes. The way I checked the traffic sent in Wireshark was by setting a filter for the traffic sent (8777 is alice's port)
`tcp.port == 8777`
And after data was trans

[2019-07-16 15:53] kakirastern commented on #2256
Thanks for the tip! I did some experimenting on my own laptop and found that I needed to specify the interface used for my setup to work, otherwise an error `dumpcap: There is no interface with that adapter index` would be thrown. For my interface setting I used `en0` for my WiFi connection. So I will modify the code to be as follows:
[code]
I also found out that I cannot do something like `packet

[2019-07-16 20:00] kakirastern commented on #2256
And I am guessing if I would like `pyshark` to detect the network interface I would need to pass the `tshark_path` argument to the `LiveCapture` method to specify the path of the `tshark` binary as a basic requirement.

Moreover, I think I should definitely add the following arguments to the `get_data_info` function if suitable for the desired purposes:
[code]

Will follow up on PR #2360 from this

[2019-07-16 23:31] lc0 commented on #2346
I found the issue, from TensorFlow 1.13 to TensorFlow 1.14 seems like default learning rate for Adadelta was changed from `1.0` to `0.001`, that's why currently it's so much also slower to learn

[2019-07-16 23:39] lc0 commented on #2346
Here is an example - https://colab.research.google.com/drive/1l_dLRxws29wqBJeVSmXdGOOXnuTx8VK2#scrollTo=vicyresvIesY

@iamtrask would it make sense to add a version of executed environment(tensorflow/pytorch) in the beginning of such tutorials, so people do not get confused?

[2019-07-17 01:20] keenlykeenly commented on #2346
@lc0 Thanks very much. And what can I do to fix it? Change the version of tensorflow to 1.13 or specify the learning rate of Adadelta? And how to do it? I am sorry that I cannot open the link you gave above.

[2019-07-17 01:57] keenlykeenly commented on #2346
@lc0 Yes! It is the problem of learning rate! When I specify the learning rate of Adadelta as optimizer=keras.optimizers.Adadelta(lr=1.0), the accuracy is 94.6%.
![image](https://user-images.githubusercontent.com/11493656/61341507-26625b00-a879-11e9-9c37-bfb5218fc616.png)

Thank you so much!

[2019-07-17 02:46] keenlykeenly commented on #2346
@mortendahl But there still exits a problem in tutorial Part 13c. In order to remove the randomness,
I test 100 samples, but all of them are classified as 0. Even though the model test accuracy is 98.21% in Part 13a when I increase the epochs to 12.
![image](https://user-images.githubusercontent.com/11493656/61343108-32e9b200-a87f-11e9-9684-0831eab451e6.png)

[2019-07-17 06:58] DanyEle opened #2361 "Gradient updates not generated in remote backpropagation with custom GRU/RNN"
**Describe the bug**

No gradient is produced following the remote backpropagation step neither in the model's parameters nor in the worker's parameters.
**To Reproduce**

Steps to reproduce the behavior:
1. Extract all the files in the `minimal_GRU_2.0.zip` archive to a folder of your choice. The files' download link is at the bottom of this Issue
2. Navigate to the folder where the files have be

[2019-07-17 06:59] DanyEle commented on #2318
Moved issue to #2361

[2019-07-17 06:59] #2318 closed

[2019-07-17 07:01] DanyEle commented on #2361
@LaRiffle @robert-wagner @iamtrask @mari-linhares  Thoughts? . Any ideas or help would be greatly appreciated.

[2019-07-17 08:25] mortendahl commented on #2346
Thanks for the system information @keenlykeenly!

This has to do with a Windows bug we're currently investigating: https://github.com/tf-encrypted/tf-encrypted/issues/577!

[2019-07-17 14:35] robert-wagner commented on #2361
Hey @DanyEle What happens if you don't call `.copy` before `.get`

[2019-07-17 14:42] LaRiffle commented on #2361
You can't .get() on a data attribute (syft.exceptions.CannotRequestObjectAttribute)

[2019-07-17 14:45] robert-wagner commented on #2361
Rip okay. What is the result of copy locally?

[2019-07-17 14:45] LaRiffle commented on #2361
If you want to inspect in a preserving manner you can directly access the remote object:
[code]

[2019-07-17 14:46] LaRiffle commented on #2361
You get 8 param grad, the 6 first are only zeros but not the two last one

[2019-07-17 15:09] LaRiffle commented on #2361
Try this for your forward pass: (check carefully the differences with the send/get stufff to understand better what was not working)
[code]

And to print the grad safely do:
[code]
It works on my side I get non-zero gradients

[2019-07-17 15:11] LaRiffle commented on #2361
The `minimal_gru_init.py` does not run completely as we said because the hook on size() can't work: just replace the occurence of size() with .shape in your implem, remove the hook of size() and this error should disappear

[2019-07-17 17:22] #2361 closed

[2019-07-17 17:52] DanyEle commented on #2361
Yes, it's indeed working!! Also the quantization example, after removing calls to clone() on the input , but operating in place on the variables, is working!!!! :)

[2019-07-17 19:19] robert-wagner opened #2365 "When sharing a model where bias equals true, not all parameters get shared"
**To Reproduce**
Steps to reproduce the behavior:
Run attached notebook until you get an error. When you look at the args of the call to addmm, one of the args is a torch tensor when all should be ast. This implies that either the weights or the bias is not being shared (Im pretty sure)

[2019-07-17 19:20] robert-wagner commented on #2365
[reproduce_error.ipynb.zip](https://github.com/OpenMined/PySyft/files/3403467/reproduce_error.ipynb.zip)

[2019-07-17 19:32] robert-wagner commented on #2365
@shivramsrs

[2019-07-18 08:41] refactormyself commented on #2279
Hello, please is anyone working on this.
I will like to give it a try. Thanks

[2019-07-18 09:19] LaRiffle commented on #2279
I don't think so, you're very much welcome!

[2019-07-18 14:41] LaRiffle commented on #2365
The pb is that the data is not shared correctly here:

The model can be shared in-place but data can't be:
[code]
Additionally, all the parameters of the model get shared by default: we loop on model.parameters()

[2019-07-18 14:41] #2365 closed

[2019-07-18 14:42] #2261 closed

[2019-07-18 16:00] Ankit-Dhankhar commented on #2357
Hi @mari-linhares  I would like to work on this issue. Are there are pointer where I can start from like some paper or blogs?

[2019-07-19 12:36] LaRiffle opened #2368 "Add support of torch.dot for additive shared tensor"
torch.dot(x, y) currently fails, we should add a support for it, doing smthg like `(x * y).sum()`

Example of code to make run:
[code]

[2019-07-19 15:27] 1000ping opened #2370 "error in websockets-example-MNIST tutorials"
To Reproduce error:
1. In terminal Activate pytorch Environment
2. cd to PySyft-dev\examples\tutorials\advanced\websockets-example-MNIST
3. run command `python run_websocket_server.py --port 8887 --id alice`

WARNING: Logging before flag parsing goes to stderr.
W0720 07:04:28.831149  5416 secure_random.py:26] Falling back to insecure randomness since the required custom op could not be found for t

[2019-07-19 21:47] 9310gaurav commented on #1932
Why can't we use micro-batching as mentioned in this paper : https://arxiv.org/pdf/1812.06210.pdf ?

[2019-07-19 22:19] jvmancuso commented on #1932
Have you looked into the semantics of the torch.autograd.backward function? I believe they allow for this via the grad_tensors kwarg: https://pytorch.org/docs/stable/autograd.html

A more approachable blog post about how to interpret what the vector in a Jacobian vector product represents: https://towardsdatascience.com/pytorch-autograd-understanding-the-heart-of-pytorchs-magic-2686cd94ec95

[2019-07-20 12:29] Jasopaum commented on #2368
I added support for this in #2373

[2019-07-21 07:29] DanyEle commented on #2370
Hi, could you please follow the template for writing an Issue, so that more people can help solve your problem? Having a reproducible code snippet, along with details about your systems would surely help.

[2019-07-21 12:18] Ankit-Dhankhar commented on #2357
I was going through implementation in serde. I found implementation for torch and numpy_tensor_serializer/deserialize using TemporaryFile() which could be done with io.BytesIO too.
e.g.
For serialization
[code]

For deserialization
[code]

Are there some differnce in use-case of efficiency issue for using two different I/O streams, which I am missing.

[2019-07-21 12:24] mccorby commented on #2357
@Ankit-Dhankhar Please feel free to open a PR and change it. It does look like an improvement.

[2019-07-21 14:20] kakirastern commented on #1905
Hi @iamtrask I would like to help out on this issue if no one has been assigned to it or has volunteered to take on the task yet. And, I have just checked the PySyft repo with a keyword search and it returns no results for `SocketWorker`.

[2019-07-21 14:40] ProfXGiter commented on #2258
ENV: linux, python3.6.8, pysyft==0.1.13a1, torch==1.0.1, torchvision==0.2.2

I run the lines:
python3 run_websocket_server.py --host 127.0.0.1 --port 8777 --id alice
python3 run_websocket_client.py

It shows the bug:
KeyError: (wrapper)>[PointerTensor | me:some series of numbers -> alice:some series of number]

[2019-07-21 15:04] 1000ping commented on #2370
@DanyEle Thank you for pointing that out I have edited it now.

[2019-07-21 19:46] LaRiffle commented on #1905
Yes any help is welcome is the issue is still there :)
Check that you have the latest version of pysystf and then check out `syft/workers/websocket*` to find the workers.

[2019-07-21 20:04] kakirastern commented on #1905
Thanks for the prompt response and the tip to start! Sure, will work on it as soon as possible.

[2019-07-21 21:00] Ankit-Dhankhar commented on #2357
I was going through serde.py and I found https://github.com/OpenMined/PySyft/blob/e4044e67c8f1d72381de1fbeab42ae779f3f1ea0/syft/serde/serde.py#L372
 but only msgpack is used for serialization. What is a benefit as compared to JSON or protobuf which are more widely used libraries(having a larger community support)? I also had a conversation with @kamathhrishi where he mentioned there was a plan to

[2019-07-21 21:30] Ankit-Dhankhar commented on #2034
I was looking in issue #2357 and found this one. Can someone please explain about this issue in more detail.
Thanks

[2019-07-22 00:20] ProfXGiter opened #2378 "about error in websocket mnist example"
**Describe the bug**
KeyError: (wrapper)>[PointerTensor | me:some series of numbers -> alice:some series of number]

**To Reproduce**
Add the code in run_websocket_client.py:
[code]
I run the lines:
python3 run_websocket_server.py --host 127.0.0.1 --port 8777 --id alice
python3 run_websocket_client.py

It shows the bug.

**Desktop (please complete the following information):**
RedHat Linux 7.2, py

[2019-07-22 01:49] #2378 closed

[2019-07-22 02:08] Liepill opened #2379 "New dataset in FederatedDataloader"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-22 02:08] #2379 closed

[2019-07-22 02:10] Liepill opened #2380 "new dataset"
Hi, I want to know how can I load a dataset that doesn't exit in torch datasets in federated style.

[2019-07-22 02:15] kamathhrishi commented on #2380
Hello @Liepill , do check out examples->tutorials->advanced , we have a tutorial on how to do that.

[2019-07-22 02:16] kamathhrishi commented on #2380
https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/advanced/Federated%20Dataset.ipynb

[2019-07-22 09:09] Ankit-Dhankhar commented on #1989
@robert-wagner can we integrate https://codecov.io/ for coverage test during the pull request integrated in travis.ci?
Most of organisation use this for check coverage of pull request.

[2019-07-22 18:21] kakirastern commented on #1905
Working on the issue here: https://github.com/kakirastern/PySyft/tree/fix-broken-demo
Will submit a PR when more certain about the edited tutorials. Currently fixed the `server` tutorial, but not the `client` one yet, which is more difficult as it turned out.

[2019-07-23 10:18] LaRiffle commented on #1905
Ok excellent, let us know if you're stuck somewhere :)

[2019-07-23 12:39] iamtrask opened #2383 ""Via" Worker"
**Is your feature request related to a problem? Please describe.**
In some cases we do not want to support the ability for two workers to communicate directly with each other (perhaps both are behind separate firewalls), and instead we want them to communicate via a 3rd worker. Thus, we would like to have a new extension of BaseWorker which can generically leverage ANY other worker type as a proxy

[2019-07-23 13:00] RansSelected opened #2384 "RuntimeError: import torchvision (run federated dataset on existing models)"
I try to import torchvision in order to use a fedearted dataset from the tutorial with a VGG (or any other existing model)->

https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/advanced/Federated%20Dataset.ipynb

and I got **RuntimeError :**

[code]

The full code I use:

[code]

[2019-07-23 16:03] kakirastern commented on #1905
Thanks @LaRiffle... Incidentally when I was checking the code in Google Colab I found the `syft`-native variable `id` to be problematic, whereas the same issue does not crop up when I was testing locally.

The code I used prior to such an error is:
[code]
Following this then I did:
[code]

So the following is the error output:
[code]
Any idea why and how to approach it? Is it just some simple synt

[2019-07-23 16:17] kakirastern commented on #1905
Or if Google Colab proves to be problematic... Would be also be worthwhile to explore alternatives say using Binder for an interactive Jupyter notebook on the Internet?: https://mybinder.readthedocs.io/en/latest/introduction.html

[2019-07-23 16:37] iamtrask opened #2385 "StatefulPlans"
**Is your feature request related to a problem? Please describe.**
Our current "Plan" data-structures are limited in several ways:

Plans do not have state (you cannot ship a plan WITH tensors which the plan uses / updates)

**Describe the solution you'd like**

I'd like to be able to package a plan with tensors which the plan can update, such that when I call .send(), the plan and its tensors go

[2019-07-23 16:38] iamtrask commented on #2385
CC: @midokura-silvia, @LaRiffle, @robert-wagner

[2019-07-23 18:02] kakirastern commented on #1905
I think I was able to fix the error, seems like if I do `sys.path.remove('/usr/local/lib/python3.6/dist-packages/syft-0.1.21a1-py3.6.egg')` and also `sys.path.append('./PySyft')` I would then be able to patch or mask it. As for the `id` issue previously, that turned out to be specific to the `Client` notebook only, which for some reason is using Python 2.7 instead of Python 3.x... I will look more

[2019-07-24 06:41] #2368 closed

[2019-07-24 10:06] kakirastern commented on #1905
What is the latest implementation of `listen()` (if any) for the `WebsocketServerWorker`?

[2019-07-24 13:24] kakirastern commented on #1905
I am investigating whether the following code would work well for `WebsocketServerWorker`:
[code]
where we have in `__init__():`
[code]
Any feedback for suggestions would be much appreciated.

[2019-07-24 13:28] kakirastern commented on #1905
Or should I separate out new classes `WebSocket` and `WebSocketServer` from `WebSocketServerWorker`? Would that approach work?

[2019-07-24 17:22] amit-rastogi commented on #2370
@1000ping instead of spawning a separate process on Windows during which pickling error is encountered you can create the WebSocketServer within the current process context itself. I have created a PR with this change. https://github.com/OpenMined/PySyft/pull/2389

[2019-07-24 20:42] kamathhrishi commented on #2383
I will work on this 👍

[2019-07-24 21:03] #2370 closed

[2019-07-24 21:46] 1000ping opened #2390 "error in federated learning with websockets"
errors while trying to make websocket client workers in
Federated learning with websockets and federated averaging notebook in websockets-example-MNIST advanced tutorials
while executing this line
after launching websocket servers on different terminals using
python run_websocket_server.py --id alice --port 8887
python run_websocket_server.py --id bob--port 8889
python run_websocket_server.py --id

[2019-07-25 09:49] wentaiwu92 opened #2392 "One-worker Bug"
**Describe the bug**
When we set **only one client/work** in federated learning task, the corresponding _FederatedDataLoader_ does not work:

"....\syft\frameworks\torch\federated\dataloader.py", line 245, in __next__
    iterator = self.iterators[0]
IndexError: list index out of range

I checked the code of **dataloader.py** and found the probable problem here:
[code]
where the num_iterators is s

[2019-07-25 11:25] mortendahl commented on #2346
Issue should be solved but happy to have third party verification as well. Would you be available to give it a try @keenlykeenly?

cc @robert-wagner

[2019-07-25 11:36] keenlykeenly commented on #2346
Thank you very much. I will try it as soon as possible. And do I need to re-install pysyft from the beginning as your guide in Readme of Pysyft on my computer? @mortendahl

[2019-07-25 12:45] mortendahl commented on #2346
Thank you, please keep us posted!

You will need the latest version of TF Encrypted (>= 0.5.7). You will also need the latest version of Syft but I believe part of the fix (https://github.com/OpenMined/PySyft/commit/4045ef26d214d7ea35b2acc4e947b5632648863e) has not *not* made it into an official release yet, meaning you will likely need to run Syft from a source code installation of the `dev` bran

[2019-07-25 14:09] kakirastern commented on #2390
I tried substituting for the L63:  `self.ws = websocket.create_connection(**args)` with the following and it seemed to have worked to some degree:

[code]

But it also seems like in this module to accompany the `import websockets` you will probably also need to do `import asyncio`, which is currently missing from it. I am working on the Websocket Workers tutorials too so I encountered some similar

[2019-07-25 16:42] mari-linhares commented on #2385
Hey @iamtrask,

A few questions...

1. Can you add one (or more) use cases where the "state" is critical?

2. Do you have thoughts about how should be the interface for StatefulPlans?

3. All plans are going to be stateful from this point on, or we'll have two kinds of plans? Regular Plans and StatefulPlans?

[2019-07-25 17:33] kakirastern opened #2396 "Openmined `client` tutorial is broken and needs fixing"
**Describe the bug**
The Colab version of the `Client` notebook needs fixing, as the code version it was based on is now deprecated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://colab.research.google.com/drive/1Je1rk7olA9uTWWaqvvt4_gXf7yX1rTBm](https://colab.research.google.com/drive/1Je1rk7olA9uTWWaqvvt4_gXf7yX1rTBm), or follow the web link on [https://www.openmined.org/](

[2019-07-25 17:38] kakirastern commented on #2396
I would really like to work on this issue though... which is not to be confused with #1905, which deals with the accompanying `Server` tutorial notebook hosted on Colab.

[2019-07-25 17:52] kakirastern opened #2397 "Docs request: Web-based tutorials"
**Is your feature request related to a problem? Please describe.**
Yes... I have been a member of "Learn Astropy", which is a subsidiary of the Astropy community for some time now. From what I could observe on PySyft, including the GitHub repo, Slack, and website, I am thinking it might be worth considering for the PySyft community to perfect the way tutorials are presented for the package. Curren

[2019-07-25 19:04] kakirastern commented on #2396
I am guessing to make the tutorial run perfectly on Colab this is what we need to do: https://research.google.com/colaboratory/local-runtimes.html

[2019-07-26 19:37] ShivamSRS commented on #2392
I'll look into this

[2019-07-27 00:07] kakirastern opened #2399 "Docs update: Improvements to CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
The request is not related to a problem, but instead related to some desired improvements to make the documentation more complete. For example, it appears to be a given as to how to install the development version of `syft` as a simple command, but in fact there can be variations and not every one knows about this basic command unl

[2019-07-27 03:01] amit-rastogi commented on #2390
@1000ping this issue has been addressed by PR https://github.com/OpenMined/PySyft/pull/2395

[2019-07-27 03:04] amit-rastogi commented on #2281
The web socket client overflow error on windows has been addressed by https://github.com/OpenMined/PySyft/pull/2395

[2019-07-27 09:32] 1000ping commented on #2390
@amit-rastogi I will check it and close this if no issue arrives I haven't tried it yet

[2019-07-27 12:17] kakirastern commented on #1890
Hi @robert-wagner, is help still wanted for this issue? I would like to volunteer for it if so... Please let me know.

[2019-07-27 14:44] kakirastern opened #2400 "Request: Attribute(s) like "data_size" to keep track of size of data received and sent"
**Is your feature request related to a problem? Please describe.**
It would be desirable to have a new attribute or two to measure the size of the `syft` tensors sent or received (or transmitted), which would be particularly useful for VirtualWorkers, since Wireshark cannot be used to track these.

**Describe the solution you'd like**
Add an attribute or two say a variable like `data_size` to gaug

[2019-07-27 15:33] #2256 closed

[2019-07-27 15:37] kakirastern commented on #2400
Basically to do something like this https://github.com/OpenMined/PySyft/issues/2256#issuecomment-506255926

[2019-07-27 20:17] Psychofun opened #2401 "fix_precision Does not Support CUDA"
**Describe the bug**
A clear and concise description of what the bug is.

 Convert  tensor allocated on GPU to fix precision tensor causes  error:
[code]

**To Reproduce**
[code]
Then error:

[code]

**Expected behavior**
fix_precision() must to check if tensor is on GPU. Then use Tensor.detach().cpu().numpy()

Bug seems to be on:

. . \privateai\lib\site-packages\syft\frameworks\torch\tensors\int

[2019-07-27 20:33] #2390 closed

[2019-07-28 10:51] kamathhrishi commented on #2399
We could just add a link to INSTALLATION.md for reference?

[2019-07-28 11:04] kakirastern commented on #2399
True, that would do to some extent... Maybe will need to add some descriptions about what can be found and expected at `INSTALLATION.md` too.

And how about adding some material regarding the **workflow**, or just polish up the existing material and expand on this where necessary?

[2019-07-28 14:07] Ankit-Dhankhar commented on #2046
@kamathhrishi  I think torch.rand, torch.zeros and torch.linspace are hooked. So, we can close this issue ;)

[2019-07-28 14:27] kamathhrishi commented on #2046
Oh is it ? I will check once and confirm and then close it :)

[2019-07-28 18:34] Ankit-Dhankhar commented on #2392
@wentaiwu92 you can use ```iter_per_worker=True``` while calling FederatedDataLoader. That will allow you to have one iterator for one worker.
I hope that will help if not let me know I would be happy to help :)

[2019-07-28 20:23] Psychofun opened #2404 "Add Support for Embedding layer"
**Describe the bug**
I found encrypted embedding layer does not work.
Send error:
[code]

**To Reproduce**

[code]

**Expected behavior**
Encrypted embedding layer  must retrive embedings.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Windows
 - Version 10

**Additional context**
None

[2019-07-29 10:15] mccorby opened #2409 "Serde: Map with simplifiers and detailers should use constant values"
**Is your feature request related to a problem? Please describe.**
`Serde` makes use of two dictionaries to know the type of the object. As it is right now, it does so by checking the position. This however fast it's a problem when other systems are added as JS or the JVM.
A change in the position of any of the elements or addition or removal can create a cascade of issues on the other side.

**De

[2019-07-29 14:54] kicKORhIT-16384-needSYDney commented on #1981
link broken.

[2019-07-30 10:46] kamathhrishi commented on #2046
Yep They are hooked :)

[2019-07-30 10:46] #2046 closed

[2019-07-30 12:00] iamtrask opened #2412 "We double simplify the Plan.readable_plan object, making the plan quite large"
**Describe the bug**
At present, when we serialize a plan, we simplify the .readable_plan object, which has already been simplified. This leads to a much larger serialization than is necessary. We should modify the simplifier for plans to simply take the readable_plan object as is.

**To Reproduce**

[code]

[2019-07-30 12:03] iamtrask commented on #2412
Make sure to message @cereallarceny when this is done because it's a breaking change to syft.js

[2019-07-30 13:03] #2412 closed

[2019-07-30 19:49] ajnovice commented on #2313
I think as of now, Transforms cannot be applied to Pointer, Fixed Precision or Float Precision tensors. @mari-linhares, If you guys are planning to extend the Transforms to Pointer, Fixed Precision or Float Precision, I would like to get involved.

[2019-07-31 05:20] harora opened #2416 "Tutorial for differential privacy"
Hi

Is there any standalone demo/tutorial for Differential privacy on a mnist/cifar dataset? The only one I see has both federated learning and differential privacy. I'm new to the platform.

[2019-07-31 05:24] kamathhrishi commented on #2416
@harora Its in progress https://github.com/OpenMined/PySyft/pull/2183 , there is a bug in computing privacy loss which I have to yet resolve. Apart from that, it's a good enough PATE example.

[2019-07-31 18:00] iamtrask commented on #2385
1. federated learning - you send a plan with a model
2. two options. one is where you pass a list of objects in func2plan() and the other is where you instantiate a class with class objects where you want to package teh whole class (all its methods) and all its objects into a plan.
3. haven't decided yet - seems like they could all be stateful but where sometimes the state is empty :)

[2019-07-31 19:55] iamtrask opened #2421 "Hack PySyft"
Some day, when PySyft is deployed in production around the world, someone evil is going to try to hack PySyft and steal personal data.

This Issue is where we try to do it first.

To help get you started, I've created a directory of hacking challenges, each of which create a scenario where you are to try to steal data.

https://github.com/OpenMined/PySyft/tree/dev/examples/pen_testing/

Good luck,

[2019-08-01 09:39] baishanca commented on #1893
I am so glad to see this, it  really solved my problem of worrying all afternoon

[2019-08-01 12:24] cereallarceny opened #2422 "Everything should simplify as a tuple in serde._simplify"
# Describe the bug
Currently, when you run `_simplify` on a dictionary or set, you are returned information contained within square brackets (`[]`).  It would be a lot easier if we could always work with parens (`()`).

## To Reproduce & Expected behavior

**Dictionary**
_Input:_ `sy.serde._simplify({1: 'hello', 'key2': 999})`
_Output:_ `(0, [(1, (5, (b'hello',))), ((5, (b'key2',)), 999)])`
_Expec

[2019-08-01 12:46] cereallarceny opened #2423 "All strings should simplify without "b" and additional comma"
# Describe the bug
MsgPack or something is prepending all strings with a `b` character and ending them with an unnecessary `,`.  These have to be manually removed via a Regex function in syft.js and makes testing quite inconsistent.

## To Reproduce
`sy.serde._simplify('hello')` produces: `(5, (b'hello',))`

## Expected behavior
`(5, ('hello'))`

## Screenshots
<img width="327" alt="Screen Shot 20

[2019-08-01 12:58] cereallarceny commented on #2423
It's also worth noting that upon creating a plan, I've noticed other places where unnecessary commas are being added, here are a few examples:

`(19, (23885703668, 30300883787, 85156589176, None, (13, (2,)), False))`
`(6, (53361601662,))`
`(6, ((19, (50671613206, 53361601662, 85156589176, None, None, True)),))`
`(1, (30300883787,))`

[2019-08-01 13:15] cereallarceny opened #2424 "Serde is potentially simplifying information twice, creating a bad nested structure"
# Describe the bug
I'll attempt to explain this one as best as I can.  Forgive me, there may be a few places where I'm not entirely familiar with the Python language or Serde/PySyft.

I've noticed while writing the Serde parser in Javascript a few strange places where Serde in PySyft appears to unnecessarily nest information.  I think it would be in the best interest if PySyft cleaned up the Serde

[2019-08-01 15:57] aristizabal95 opened #2425 "SecureNN forces tensors to be shared within 2 workers only"
**Describe the bug**
Many of the functions implemented inside `syft/frameworks/torch/crypto/securenn.py` are defined in such a way that `AdditiveSharingTensor`s can only be shared among 2 workers. This is evident by this line of code: `alice, bob = x_sh.locations` which appears on the lines: `108`, `144`, `234`, `387`, etc. This means that trying to run any function declared in this manner (like `

[2019-08-01 17:03] aristizabal95 opened #2426 "Local worker *me* not recognized by other workers when explicitly declared as crypto provider"
**Describe the bug**
Sharing a sent tensor between workers, and explicitly declaring the crypto provider as `sy.local_worker` causes the warning `Worker [worker_id] couldn't recognize worker me`. This warning causes problems when trying to execute get() on the sent, shared tensor, throwing an exception `AttributeError: 'str' object has no attribute 'id'`. Strange enough, this doesn't happen if `sy

[2019-08-01 17:19] iamtrask commented on #2426
Very interesting bug - I do wonder how deep this bug goes. Is the local worker listed in bob._known_workers?

[2019-08-01 17:22] #2399 closed

[2019-08-01 17:32] #1905 closed

[2019-08-01 17:35] aristizabal95 commented on #2426
@iamtrask the local worker is not recognized by any of the virtual workers.
[code]

[2019-08-01 19:24] amit-rastogi opened #2428 "The WebSocketServer could be prone to a DoS attack"
**Describe the bug**
The WebSocketServer could be prone to a DoS attack from a malicious script

**To Reproduce**
Steps to reproduce the behavior:
1. Start a websocketserver using run_websocket_server.py --port 8777 --id alice
2. Create a client script which calls WebsocketClientWorker to connect to the websocketserver created above in a loop say 100000 times
3. Now start another client script whi

[2019-08-01 19:26] amit-rastogi commented on #2421
The WebSocketServer could be prone to a DoS attack
https://github.com/OpenMined/PySyft/issues/2428

[2019-08-01 19:31] jvmncs opened #2429 "Socket Worker search bug"
**Describe the bug**
Sending an empty search query to WebSocketWorker kills the connection, and reconnection fails.

**To Reproduce**
1. Run all cells in the [steal_data_over_sockets](https://github.com/OpenMined/PySyft/tree/dev/examples/pen_testing/steal_data_over_sockets) hack challenge.
2. Run a cell `alice.search()`.

**Expected behavior**
Raise an informative error message (e.g. `search missi

[2019-08-01 19:37] aristizabal95 commented on #2426
@iamtrask I'm seeing two problems here:
1. VirtualWorkers are not recognizing the local worker.
2. letting the class `AdditiveSharingTensor` assign the default crypto_provider to local_worker behaves differently as explicitly assigning it to local_worker.

As of 1:
when declaring a new worker, the `_known_workers` dict is populated by copying `sy.hook.local_worker._known_workers`. If we run this s

[2019-08-01 20:03] aristizabal95 opened #2430 "Local Worker unaware of itself"
**Describe the bug**
When creating the torch hook, the local worker is initialized but unaware of itself. This means that running `sy.hook.local_worker._known_workers` returns an empty dictionary, when it should include the local worker. This makes every subsequent worker unaware of the local worker, since each new worker copies the local worker known workers.

**To Reproduce**
Working script demo

[2019-08-01 21:14] kamathhrishi commented on #2416
I am not sure if I have made some mistake or not, the problem is I am getting very high epsilon values than it should be.

[2019-08-01 23:02] youben11 opened #2432 "Private tensor disclosure"
**Describe the bug**
Private tensors can be disclosed using their ids, either with prior knowledge or bruteforce.

**PoC**

1. Prepare the environment as described here https://github.com/OpenMined/PySyft/tree/dev/examples/pen_testing/
2. Define the following functions to be used to steal the remote tensors

[code]
You can then send this message to any WebsocketClientWorker and get the remote tens

[2019-08-01 23:40] youben11 commented on #2421
Private tensor disclosure possible through execute_command from BaseWorker
#2432

[2019-08-02 04:17] aristizabal95 opened #2433 "unexpected behavior when chaining pointers to local_worker"
**Describe the bug**
Declaring a chain of pointers in this manner: `me --> me --> worker` causes unexpected behavior. Specifically, if `worker` is `me`, then the original tensor gets destroyed, leaving tensors pointing to nothing. If `worker` is another worker, then running `remote_get()` also destroys the tensor inside `worker` while not updating the pointer to the retrieved tensor. (Hope it was

[2019-08-02 07:17] iamtrask commented on #2428
Does it work after 1 time? I *think* WebSocketServer only allows one client to connect.

[2019-08-02 11:39] #1903 closed

[2019-08-02 12:08] amit-rastogi commented on #2428
Yes it works after 1 time. So i think it shouldn't be an issue then.
One question though, cannot see the objects of a remote socket worker using for e.g. "bob._objects". Is this for security reason?

[2019-08-02 12:12] kamathhrishi commented on #2392
Close this issue :) ?

[2019-08-02 12:13] kamathhrishi commented on #2380
Close this issue ?

[2019-08-02 13:05] #2430 closed

[2019-08-02 13:54] #2428 closed

[2019-08-02 14:29] ajnovice commented on #2423
[Documentation](https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals)
_Bytes literals are always prefixed with 'b' or 'B'; they produce an instance of the bytes type instead of the str type. They may only contain ASCII characters; bytes with a numeric value of 128 or greater must be expressed with escapes.

[2019-08-02 15:53] wentaiwu92 commented on #2392
Thanks ShivamSRS and kamathhrishi, **PySyft** is really helpful for FL.

[2019-08-02 15:53] #2392 closed

[2019-08-02 16:44] aristizabal95 commented on #2425
After reading SecureNN's research paper, I understand that this is not an issue with pysyft but a limitation in the implemented protocols. Still, I believe some assertions and documented exceptions could be added so that other users are aware of this limitation.

[2019-08-02 17:31] aristizabal95 commented on #2426
PR #2431 fixes this problem. So I'm going to close this issue.

[2019-08-02 17:31] #2426 closed

[2019-08-03 20:19] #2432 closed

[2019-08-03 21:53] #2422 closed

[2019-08-04 03:38] Ankit-Dhankhar commented on #2423
That additional **b** comes from https://github.com/OpenMined/PySyft/blob/64cbc07b655f2f95b1297dc4ec3c4055b4dfe9d7/syft/serde/native_serde.py#L202 encoding string in "utf-8" encoding that can be simply solved by not encoding it. But that will lead to memory overhead as "utf-8" encoding is flexible in size, unlike fixed size encodings.

Another option is to decode the second element of tuple if the

[2019-08-04 03:39] baishanca commented on #2359
@mari-linhares Have the new version of pysyft is submitted already?

[2019-08-04 05:38] Ankit-Dhankhar commented on #2423
Same line https://github.com/OpenMined/PySyft/blob/64cbc07b655f2f95b1297dc4ec3c4055b4dfe9d7/syft/serde/native_serde.py#L202
is reposponsible for unnecessary commas along with https://github.com/OpenMined/PySyft/blob/64cbc07b655f2f95b1297dc4ec3c4055b4dfe9d7/syft/messaging/plan.py#L647 this line.
But when you remove the trailing comma you get explected output. But PySyft implementation is based on i

[2019-08-04 11:16] cereallarceny commented on #2423
Go for it @Ankit-Dhankhar!  If we need to leave the `b` in there, that's acceptable to me, but the commas being inserted at the end of strings, tuples, and other objects in PySyft should probably be fixed.  If you think you have a fix, submit a PR and tag this issue id!  😄

[2019-08-04 14:37] Ankit-Dhankhar commented on #2423
Sure, I am on it :)

[2019-08-04 21:33] vvmnnnkv commented on #2423
For string (code = 5), it's probably fine to simplify it into `(5, b"string")` instead of `(5, (b"string", ))`
by updating `_simplify_str` and `_detail_str` to return and expect string instead of tuple (several tests will need to be fixed too).
But for types like dict (0), list (1), set (3), tuple (6), you can't get rid of extra comma because it's how python display tuple with a single element:
`t

[2019-08-05 05:02] chicolinux commented on #2421
Hello guys! I'm the new kid on the block! I am on Slack channel as well! I would like to work on this issue, if this one is still available to take!! Best Regards!!

[2019-08-05 08:03] amit-rastogi opened #2442 "Tensors remain in server memory if websocketclient connection closes abruptly"
**Describe the bug**
Tensors remain in websocket server memory if websocket client connection closes abruptly

**To Reproduce**
Steps to reproduce the behavior:
1. Start the websocket server "run_websocket_server.py --port 8777 --id alice"
2. Start a websocketclient and connect on port 8777 using id="alice".
3. Send a tensor to alice on the socket created in step 2.
4. Close the client abruptly.
5

[2019-08-05 08:04] amit-rastogi commented on #2421
Tensors remain in server memory if websocketclient connection closes abruptly https://github.com/OpenMined/PySyft/issues/2442

[2019-08-05 11:20] cereallarceny commented on #2423
@vvmnnnkv [You're actually correct here](https://stackoverflow.com/questions/7992559/what-is-the-syntax-rule-for-having-trailing-commas-in-tuple-definitions), I didn't realize it was standard practice.  In this case - I think I'm going to close this ticket.  Sorry @Ankit-Dhankhar - although, I could really use your help here: https://github.com/OpenMined/PySyft/issues/2424

[2019-08-05 11:20] #2423 closed

[2019-08-05 11:23] kakirastern commented on #2424
Hi, I would like to work on this issue to try and resolve it

[2019-08-05 11:26] kakirastern commented on #2397
As per Slack discussion earlier, perhaps rendering the tutorials into Google Colab versions would be a good way forward too.

[2019-08-05 11:38] cereallarceny commented on #2424
Go for it @kakirastern !

[2019-08-05 12:07] iamtrask commented on #2442
This is an important feature - but it requires user auth to know the difference between the same user re-connecting and another user re-connecting, which means this is more a feature for https://github.com/OpenMined/Grid

@IonesioJunior - I believe you'll be working on a user, based system. This is an important characteristic!

[2019-08-05 12:07] #2442 closed

[2019-08-05 12:54] iamtrask commented on #2421
@chicolinux - anyone can pick this up - lots of people can work on it simultaneously :)

[2019-08-06 17:21] iamtrask opened #2444 "Add "disable_garbage_collection" and "enable_garbage_collection" flags to native.py"
**Is your feature request related to a problem? Please describe.**
By default, when we delete a pointer to a tensor, it sends a command to the remote worker telling it to delete the thing being pointed to automatically.

This is a GREAT default, BUT, sometimes we want to turn it off. Currently it's quite cumbersome. Let's say we have a tesnor.

x = th.tensor([1,2,3,4,5])

...and we send it to some

[2019-08-06 17:23] iamtrask commented on #2444
For reference on how this is implemented, the implementation of a "description" feature was very similar, which you can see here.

https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/tensors/interpreters/native.py#L93

The whole project should be doable by only changing native.py (see the link above)

[2019-08-06 20:32] Shashankjain12 commented on #2444
Hey @iamtrask can you assign me this issue.!?

[2019-08-06 20:51] hanare commented on #2444
@iamtrask I have created a PR can you please review it ?
https://github.com/OpenMined/PySyft/pull/2445

[2019-08-06 20:59] jvmancuso opened #2446 "Move create_sandbox function"
There's currently a `create_sandbox` function in the main syft namespace that automates some boilerplate and sets up an environment for experimentation.

While this is a nice feature to have, it certainly should not live in the `syft/__init__.py` file.  I propose moving this to a `sandbox.py` file (or similar) and importing it from there.

[2019-08-07 11:07] andrelmfarias opened #2447 "Unexpected behavior with AutogradTensors in remote workers"
**Describe the bug**
Transforming a remote tensor into an `AutogradTensor` with `.share(*workers, requires_grad=True)` creates an `AutogradTensor` that points to a `Wrapper` instead of the opposite, as it should be expected. We want this to behave correctly as our objective is to work with data in remote servers (i.e. remote tensors) and do encrypted training using MPC with this data.

**To Reprod

[2019-08-07 16:24] iamtrask opened #2448 "Add "force_delete()" method to Object Pointers (including TensorPointer)"
In some environments the garbage collector doesn't actually collect your objects, even when you call "del my_obj". This can be annoying when trying to tell a remote worker to delete an object. Thus, it would be very nice to have a couple of overrides, one on the object itself... which should work something like this.

Let's say I have a pointer
[code]
I want to be able to force Bob to delete it by

[2019-08-08 00:08] mari-linhares opened #2452 "Run a single model.get_weights to optimize runtime"
Fix TODO at https://github.com/OpenMined/PySyft/blob/1d216ae362bc35a2238cbaf12a9c02f047debefd/syft/frameworks/keras/model/sequential.py#L30

[2019-08-08 00:12] mari-linhares opened #2453 "Rethink error thrown at keras/model/sequential.py"
Fix TODO https://github.com/OpenMined/PySyft/blob/1d216ae362bc35a2238cbaf12a9c02f047debefd/syft/frameworks/keras/model/sequential.py#L138

[2019-08-08 00:13] mari-linhares opened #2454 "Find a better way to get tfe parameters"
Fix TODO https://github.com/OpenMined/PySyft/blob/1d216ae362bc35a2238cbaf12a9c02f047debefd/syft/frameworks/keras/model/sequential.py#L145

[2019-08-08 00:15] mari-linhares opened #2455 "Generalize to many weights (tfe)"
Fix TODO https://github.com/OpenMined/PySyft/blob/1d216ae362bc35a2238cbaf12a9c02f047debefd/syft/frameworks/keras/model/sequential.py#L152

[2019-08-08 00:17] mari-linhares opened #2456 "Build gradients won't construct gradients correct if keywords arguments are present"
Fix TODO https://github.com/OpenMined/PySyft/blob/51679c1941f172713cd2ba0d080b531a1693a15e/syft/frameworks/torch/tensors/interpreters/build_gradients.py#L22

[2019-08-08 00:25] mari-linhares opened #2457 "Have a better way to infer the type of tensor at overload_torch.py"
Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/overload_torch.py#L46

[2019-08-08 00:27] mari-linhares opened #2458 "Better approach to support any dimension for prebuilt plans"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/messaging/plan.py#L150

[2019-08-08 00:28] mari-linhares opened #2459 "Probably there's a better way to deal with local plans execution"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/messaging/plan.py#L194

Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/messaging/plan.py#L201

[2019-08-08 00:29] mari-linhares opened #2460 "Support multiple return values for plans"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/messaging/plan.py#L376

[2019-08-08 00:31] mari-linhares opened #2461 "Fix import issues"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/frameworks/torch/hook/hook.py#L617

Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/tensors/interpreters/autograd.py#L242

Fix TODO
https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/ten

[2019-08-08 00:32] mari-linhares opened #2462 "Auto-registration is disabled at hook, this might be bad."
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/frameworks/torch/hook/hook.py#L742

[2019-08-08 00:37] mari-linhares opened #2464 "Add .data and .grad to syft tensors"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/frameworks/torch/hook/hook.py#L1033

Fix TODO
https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/frameworks/torch/hook/hook.py#L1060

[2019-08-08 00:39] mari-linhares opened #2465 "Find a way to not use numpy at the federated/dataset.py"
Fix TODO https://github.com/OpenMined/PySyft/blob/9c23c255bb87337e849b3f9d5f9c2cac0d530af9/syft/frameworks/torch/federated/dataset.py#L48

[2019-08-08 00:41] mari-linhares opened #2466 "Turn TFEWorker into a proxy"
Fix TODO https://github.com/OpenMined/PySyft/blob/1d216ae362bc35a2238cbaf12a9c02f047debefd/syft/workers/tfe.py#L16

[2019-08-08 00:47] mari-linhares opened #2467 "Rename registry or use another one than for methods at hook_args.py"
Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/hook/hook_args.py#L157

[2019-08-08 00:48] mari-linhares opened #2468 "Why do we cast response as a tuple?"
Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/hook/hook_args.py#L226

Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/hook/hook_args.py#L650

[2019-08-08 00:49] mari-linhares opened #2469 "How to correctly handle division in Zq?"
Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/tensors/interpreters/additive_shared.py#L534

[2019-08-08 00:52] mari-linhares opened #2470 "Check how max_index is calculated at additive_shared.py"
Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/tensors/interpreters/additive_shared.py#L849

[2019-08-08 01:18] mari-linhares opened #2472 "Check if it's really needed to check if a tensor is a wrapper at pointer_tensor.py"
Fix TODO https://github.com/OpenMined/PySyft/blob/6c3f9303eeeebae42f575e47e77907e4f747395d/syft/frameworks/torch/pointers/pointer_tensor.py#L270

[2019-08-08 01:20] mari-linhares opened #2473 "Fix TODO at pointer_tensor.py#L383"
Fix TODO at https://github.com/OpenMined/PySyft/blob/6c3f9303eeeebae42f575e47e77907e4f747395d/syft/frameworks/torch/pointers/pointer_tensor.py#L383

[2019-08-08 01:21] mari-linhares commented on #2473
@robert-wagner , @iamtrask do you know what this TODO is about?

[2019-08-08 01:22] mari-linhares commented on #2070
When this is fixed remember to remove the TODO at https://github.com/OpenMined/PySyft/blob/319d59c9aa3ab9b8dfda95c42f7dd5978b3bc48a/examples/tutorials/advanced/websockets-example-MNIST/run_websocket_client.py#L55

[2019-08-08 01:27] mari-linhares opened #2474 "Add get_copy parameter to object_pointer get method"
Fix TODO https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/pointers/object_pointer.py#L125

[2019-08-08 16:49] iamtrask opened #2475 "generate_triple in base.py"
**Describe the bug**
Cryptography logic is inside of the generic worker class, which is not a proper decoupling of messaging infrastructure from cryptography protocols.

**To Reproduce**
Visit... https://github.com/OpenMined/PySyft/blob/dev/syft/workers/base.py#L825

**Expected behavior**
This method should instead live in a new file syft/frameworks/torch/crypto/beaver.py as a method called "reque

[2019-08-08 23:55] Ankit-Dhankhar commented on #2446
@jvmancuso  I would like to take on this issue :)

[2019-08-09 00:10] jvmancuso commented on #2446
Go for it! Please link the PR to this issue when you've submitted it :)

[2019-08-09 01:52] Ankit-Dhankhar opened #2478 "Encrypted Training on MNIST tutorial test model on training data itself"
Max Zenk pointed out on slack(beginner channel) that in the tutorial: **Part 12 bis - Encrypted Training on MNIST** ```get_private_data_loaders``` functions loads the training set for training and testing.

[2019-08-09 08:51] Yugandhartripathi commented on #2475
I would like to work on it.

[2019-08-09 12:59] mari-linhares opened #2481 "Check why unit test sometimes fails when WebsocketServerWorker is started from the unit test"
Fix TODO https://github.com/OpenMined/PySyft/blob/6c3f9303eeeebae42f575e47e77907e4f747395d/test/workers/test_websocket_worker.py#L275

[2019-08-09 13:15] mari-linhares opened #2483 "Implement a length function for _DataLoaderOneWorkerIter"
Fix TODO https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/federated/dataloader.py#L143

[2019-08-09 13:17] mari-linhares opened #2484 "Fix pointer error"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/serde/torch_serde.py#L134

[2019-08-09 13:18] mari-linhares opened #2485 "Add kwargs in execute_command"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/workers/base.py#L365

[2019-08-09 13:20] mari-linhares opened #2486 "Properly deserialize strings"
Fix TODO https://github.com/OpenMined/PySyft/blob/06ce023225dd613d8fb14ab2046135b93ab22376/syft/workers/base.py#L382

[2019-08-09 13:23] mari-linhares opened #2487 "Clean up operation at native.py#L297"
Fix TODO https://github.com/OpenMined/PySyft/blob/6c3f9303eeeebae42f575e47e77907e4f747395d/syft/frameworks/torch/tensors/interpreters/native.py#L297

[2019-08-09 13:31] mari-linhares opened #2488 "Make remote_get message forwarding generic"
Fix TODO https://github.com/OpenMined/PySyft/blob/6c3f9303eeeebae42f575e47e77907e4f747395d/syft/frameworks/torch/tensors/interpreters/native.py#L509

[2019-08-09 13:33] mari-linhares opened #2489 "Check reason for error (RuntimeError: This event loop is already running)"
Fix TODO https://github.com/OpenMined/PySyft/blob/7c331bfbf24ce5af64e2a64f498ac5b8b2c2caa2/test/federated/test_train_config.py#L299

[2019-08-09 15:38] kakirastern commented on #2424
Yeah, I see the same phenomenon too, with my output of the Python version being:
[code]

Am actively checking the code base to see where things went wrong...

[2019-08-09 16:19] aristizabal95 opened #2490 "fix_precision() on sent model raises AttributeError exception"
**Describe the bug**
Trying to run `fix_precision()` on sent models raises exception `AttributeError: 'numpy.ndarray' object has no attribute 'wrap'`. This is because the model's parameters are in this form: `Parameter>[PointerTensor | me:93626055963 -> alice:78685905360]`, and `fix_precision()` assumes that if there's no wrapper on the tensor, then it's a syft tensor (normal or pointer tensor). T

[2019-08-10 05:51] shashigharti commented on #2448
I would like to take this issue

[2019-08-10 13:59] kakirastern commented on #2424
Setting `sy.local_worker.verbose=False` yields the following additional info...
[code]
And if I turn the verbose option back on by changing to `sy.local_worker.verbose=True`, I see what I would expect to see...
[code]
where a few lines correspond with the some of the extra output which may not be needed and could cause some overheads issues during transmission. So from the context of the output as

[2019-08-10 18:09] cereallarceny commented on #2424
That sounds good to me @kakirastern.  Feel free to submit a PR when you've got something.  @iamtrask - any thoughts here?

[2019-08-11 02:18] keenlykeenly commented on #2346
If I execute the codes on a virtual machine of VMware which is Ubuntu 16.04, will the error disappear?

At 2019-07-25 20:45:17, "Morten Dahl" <notifications@github.com> wrote:

I will try it as soon as possible.

Thank you, please keep us posted!

And do I need to re-install pysyft from the beginning as your guide in Readme of Pysyft on my computer?

You will need the latest version of TF Encrypte

[2019-08-11 13:02] baishanca opened #2493 "Can't create TFEwokers and predict"
Describe the bug
I followed the tutorial step by step but I couldn't get the results，and my tf-encrypted is already meet the requirement

Expected behavior
As the tutorials13c

Screenshots
![bug](https://user-images.githubusercontent.com/50005467/62834165-36ecd200-bc7b-11e9-9b48-accd265a7cd3.png)

Desktop
 - OS: windows10
 - 1903

![bug](https://user-images.githubusercontent.com/50005467/62834165-

[2019-08-11 17:48] mkucz95 opened #2494 "spdz_mul() - TypeError: can only concatenate list (not "dict_values") to list"
Error in `spdz_mul()` [Line 44](https://github.com/OpenMined/PySyft/blob/2e5af85043a29d5122243761e2e2d7cf2a5cb952/syft/frameworks/torch/crypto/spdz.py#L44) when concatenating list with dictionary values:

When the number of workers is greater than 2 I get the error:
`TypeError: can only concatenate list (not "dict_values") to list `

![image](https://user-images.githubusercontent.com/8993371/62837

[2019-08-11 19:17] mari-linhares opened #2495 "Make pysyft compatible with torch 1.2"
When using torch 1.2, 3 tests are broken.

[2019-08-11 21:29] Jasopaum commented on #2385
Do you think we could have a class (similar to the Plan class we already have) from which user's classes would inherit? For instance, we could have:
[code]
I don't know if it's what you were thinking about but it seems to me like it's quite easy to use and not harder than something else to implement.

[2019-08-12 03:02] keenlykeenly commented on #2346
@mortendahl Hi, I install the tf-encrypted 0.5.7 via pip and  the latest version of Syft 0.1.22a1 via git from a source code installation of the dev branch:
![image](https://user-images.githubusercontent.com/11493656/62843904-0c892c00-bcf0-11e9-9fbd-ed4701984216.png)
![image](https://user-images.githubusercontent.com/11493656/62843909-1579fd80-bcf0-11e9-859b-c68f1293a2c7.png)

Then the accuracy of

[2019-08-12 09:04] keenlykeenly commented on #2346
When I print the result of query model in Part 13c, they are the same:
![image](https://user-images.githubusercontent.com/11493656/62854735-c5685e80-bd22-11e9-9646-6f1c52709046.png)
So when execute "predicted_label = np.argmax(res)", the predicted_label is 0 all the time because the elements in the array res are the same.
Maybe the question is here.

[2019-08-12 10:15] youben11 opened #2496 "Auto generated environment with last version of PySyft"
## Problem
Being able to run the last version of PySyft is critical for testing new functionalities and fix bugs, however, it might be sometimes frustrating to reinstall the package at every new change.

### Solution
The solution I propose is similar to the work I've done here #2251 but differ in that the notebook we build here should be automatically generated at every successful build of PySyft

[2019-08-12 10:49] iamtrask commented on #2385
Love this! I greatly hope StatefulPlans supports this style of API (and
possibly others as well).

On Sun, Aug 11, 2019 at 10:30 PM Jasopaum <notifications@github.com> wrote:

[2019-08-12 11:06] #2478 closed

[2019-08-12 11:06] Ankit-Dhankhar commented on #2478
Issue Fixes :)

[2019-08-13 08:52] bussfromspace opened #2498 "Error in Federated Learning when Batch Normalization layer is used"
Hi, I am trying to replicate the tutorial (Part 06 - Federated Learning on MNIST using a CNN.ipynb)  with CIFAR10 dataset and with a network model I defined myself. However, it gives an error like this when it tries to execute nn.BatchNorm2d() function:

If I don't use batch normalization layers in my model, it works fine. If I use batch normalization layer without any federated learning approach,

[2019-08-13 10:02] wentaiwu92 opened #2499 "sy.BaseDataset.send() incurs extraordinary MEMORY USAGE"
**Description**
Invoking sy.BaseDataset.send(some_worker) incurs memory consumption roughly equivalent to the number of workers times the size of this part of data.

**To Reproduce**
[code]

**Expected behavior**
Assume size(client_train_data+client_test_data) = 100MB, n_clients = 100. After invoking send() for all clients (as the codes above), memory usage increases from 100~200MB to 10GB, which

[2019-08-13 10:48] amit-rastogi commented on #2385
I tried the multiple inheritance approach but bumped into method resolution order (MRO) gotchas with init() method invocation.

[2019-08-13 16:36] Ankit-Dhankhar commented on #2446
@jvmancuso  we can close this issue :)

[2019-08-13 17:21] wentaiwu92 commented on #2499
**Further findings**
With the suspicion that not only the sliced data fragment but also the whole data set are sent to clients when send() is invoked, I tried to detach the tensors (using .detach() or .data) before wrapping them into the **_BaseDataset_** objects.  However, PySyft yielded an error indicating that detached tensor is not eligible. To avoid direct detach() operation, I further tried

[2019-08-13 17:40] mari-linhares opened #2500 "Dropout is currently not supported for SMPC"

[2019-08-13 18:45] jvmancuso commented on #2493
Hi @baishanca can you explain a bit more what you're experiencing?  I'm not sure I see the problem based on what you've written here.  What exactly is different from the expected behavior?

[2019-08-13 18:48] jvmancuso commented on #2446
Nice work!

In the future, you can include "Closes <issue number>" or "Fixes <issue number>" in the description of a PR to automatically close linked issues, which is a good practice :)

[2019-08-13 18:48] #2446 closed

[2019-08-13 19:03] mari-linhares commented on #2499
@kamathhrishi

[2019-08-13 23:58] kakirastern commented on #2396
Am actively working on this issue, and will open a PR to follow up soon.

[2019-08-14 02:17] baishanca commented on #2493
Sorry, maybe the screenshot I uploaded doesn't display correctly. I will
write down follow the issue.
Attached is the screenshot of the program running results☺

jvmancuso <notifications@github.com> 于2019年8月14日周三 上午2:45写道：

[2019-08-14 02:24] baishanca commented on #2493
WARNING: Logging before flag parsing goes to stderr.
W0814 10:20:17.627083 10880 secure_random.py:22] Falling back to insecure randomness since the required custom op could not be found for the installed version of TensorFlow (1.14.0). Fix this by compiling custom ops.

W0814 10:20:18.362116 10880 deprecation_wrapper.py:119] From D:\Anaconda\envs\pytorch\lib\site-packages\tf_encrypted\session.py:2

[2019-08-14 02:29] jvmancuso commented on #2493
These messages are expected when running the TFEWorkers in a terminal. The
predictions and results happen in the notebooks. If you can follow the
notebook instructions carefully and report any deviations from expected
behavior, please post them here, otherwise I will be closing this issue.

On Tue, Aug 13, 2019 at 22:24 白山茶 <notifications@github.com> wrote:

[2019-08-14 02:40] baishanca commented on #2493
Well, thank you all very much. I'll try notebook

[2019-08-14 12:55] iamtrask opened #2503 "URGENT: bug in encrypted autograd"
**Describe the bug**
For some reason, calling loss.backward() on a pointer using normal autograd then breaks our ability to call loss.backward() on an encrypted loss variable even on two totally separate examples.

**To Reproduce**
[code]

Throws error:

[code]

**Additional context**
latest version of PySyft from PyPI ('0.1.22a1')

[2019-08-14 13:04] midokura-silvia commented on #2503
Is this the error you get?
[code]

[2019-08-14 13:04] iamtrask commented on #2503
Yup

[2019-08-14 13:09] midokura-silvia commented on #2503
I will try what happens if you force the function to not be taken from the dictionary in the hook. There might be a conflict there.

[2019-08-14 13:10] iamtrask commented on #2503
You rock. Thank you @midokura-silvia

[2019-08-14 13:14] midokura-silvia commented on #2503
[code]

[2019-08-15 09:00] keenlykeenly commented on #2259
@DanyEle How can you do that successfully? I am on the Ubuntu16.04 too and I get the error that the zstd cannot be imported.
![image](https://user-images.githubusercontent.com/11493656/63084491-e2e53480-bf7d-11e9-8de1-590e9a7a3501.png)

[2019-08-15 11:56] kakirastern opened #2510 "Add documentation to the existing code base"
**Is your feature request related to a problem? Please describe.**
It would be great, as suggested by @iamtrask, to add documentation to the existing code base so that the code would be easier to understand, especially to new users.

**Describe the solution you'd like**
Ideally this tasks should be broken down into smaller PR's focusing on the different parts of the code base, such as the `serde`

[2019-08-15 12:00] iamtrask commented on #2510
Note that MANY people can pick up this issue. We will likely never close it.

Steps:

1) fork the repo into your own github
2) clone your fork down to your local filesystem
3) look for a part of the codebase that isn't documented
4) read the code and figure out what's going on (this is the hard part)
5) add inline documentation using the correct style
6) commit and push your code to your fork
7) c

[2019-08-15 14:02] iamtrask commented on #1809
i'll be replacing this with a new issue soon which I believe to be stronger.

[2019-08-15 14:02] #1809 closed

[2019-08-15 14:03] iamtrask commented on #1811
irrelevant given new promise architecture

[2019-08-15 14:03] #1811 closed

[2019-08-15 14:03] iamtrask commented on #1659
irrelevant given new async strategy

[2019-08-15 14:03] #1659 closed

[2019-08-15 14:10] iamtrask opened #2512 "Optimize Message Detailing and Simplification"
**Is your feature request related to a problem? Please describe.**
At present, most of our Message types use a simple/default simplification/detailing process. It's very likely that this is calling simplify() and detail() on objects which are already simple enough (which is not very efficient).

**Describe the solution you'd like**
For each TODO marked with this issue inside of syft/messaging/mess

[2019-08-15 14:13] iamtrask opened #2513 "Eliminate GetShapeMessage When PyTorch Will Allow It"
**Describe the solution you'd like**
We have a GetShapeMessage type which is a message type which is specific to PyTorch. All message types should strive to be framework agnostic, so we'd like to eliminate this for a ObjectRequestMessage message type instead.

This issue is referenced as a TODO in https://github.com/OpenMined/PySyft/blob/dev/syft/messaging/message.py

**Describe alternatives you'v

[2019-08-15 14:15] iamtrask opened #2514 "Automatic Typing for Default Message Detailer"
**Is your feature request related to a problem? Please describe.**
At present, the default detailer for Message (an abstract type) returns an object of type Message instead of returning an object of the correct type.

**Describe the solution you'd like**
Use the msg_tuple[0] to look up the correct type.

**Describe alternatives you've considered**
Return NotImplementedException instead and require

[2019-08-15 14:38] iamtrask opened #2515 "Promise and PromiseTensor"
In this issue, I will be creating a new tensor type called PromiseTensor. This Issue will be updated to reflect what I intend to build as I am working on it.

This will allow one worker to:

1) tell another worker that it will receive a tensor with a certain id in the future.

[code]

2) give another worker a list of operations to execute once the tensor arrives.

[code]

3) keep the promise at an

[2019-08-15 15:23] iamtrask opened #2517 "Move ObjectPointer, ObjectWrapper, and CallablePointer"
**Is your feature request related to a problem? Please describe.**
There are three files/classes inside of torch/pointers which are not specific to PyTorch and should be instead moved outside of the torch framework folder.

- https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/pointers/callable_pointer.py
- https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/pointers/

[2019-08-15 15:50] jvmancuso commented on #2517
@yanndupis is already working on this one in relation to #2502

[2019-08-15 15:54] jvmancuso commented on #2517
oh wait, this should actually be closed by #2502

[2019-08-15 16:22] wentaiwu92 commented on #2401
Seems that PySyft does not support GPU(cuda) yet?

[2019-08-15 17:09] kakirastern commented on #2515
Out of curiosity: Is there any inherent time-dimensionality to this `Promise` work, such as when the promise is expected to be fulfilled? This might be important for real-life applications I reckon.

[2019-08-15 19:33] wentaiwu92 opened #2518 "CUDA Support"
**Feature desired**
Looks like sending models to GPU is not allowed if Pytorch is hooked with PySyft.
For example:
[code]
incurs: **RuntimeError: Expected object of backend CPU but got backend CUDA for argument #2 ‘source’**
But that never happens if I don't hook PySyft with Pytorch.

**Describe the solution you'd like**
Does PySyft provide Cuda support, both on Windows and Linux?

[2019-08-15 20:18] Psychofun commented on #2401
In general it does. Only when uses zero_().fix_precision() for encryption.

[2019-08-15 21:00] wentaiwu92 commented on #2401
However, I tried to send my model to cuda using:
[code]
and I got an error that goes:
**RuntimeError: Expected object of backend CPU but got backend CUDA for argument #2 ‘source’**

But the above only happens when you hook _PySyft_ with _Pytorch_ - I tried to run that line of code without the hook code `hook = sy.TorchHook(th)`  and no error prompted.

So I suppose this error is caused by an valid

[2019-08-16 09:01] wentaiwu92 commented on #2518
**More**
Actually I strictly followed @LaRiffle 's tutorial on CNN+FL at [here](https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Part%2006%20-%20Federated%20Learning%20on%20MNIST%20using%20a%20CNN.ipynb)

I copied the code and ran locally on my windows PC with python3.7+pytorch1.1.0+PySyft0.1.23.

Still got the same error:
[code]
when executing `model = Net().to(device)` where `devi

[2019-08-16 18:54] danielhomola opened #2522 "next method of FederatedDataLoader takes forever on remote workers"
I took the MNIST (the basic, non-parallel version) tutorial from the advanced tutorials and replaced the local WebsocketClientWorker's with 3 identical WebsocketClientWorker on an EC2 instance with only CPU (no GPU acceleration).

Connecting, asking the workers how are they (various props, methods) works like a charm and even the full tutorial can be completed (i.e. distributing the MNIST dataset

[2019-08-16 19:34] iamtrask commented on #2515
Interesting feature idea! I hadn't considered it but it seems plausible that someone would use it! What kind of use case do you think might be interested in such a feature?

[2019-08-17 14:22] iamtrask opened #2524 "Fix TODO at abstract.py #L312"
There are some edge cases for when we currently aren't tracking torch_type(). Putting a print statement at the appropriate line will print when this is happening.

[2019-08-17 18:54] Yugandhartripathi commented on #2475
@iamtrask please review

[2019-08-17 20:20] #2475 closed

[2019-08-18 13:59] kakirastern commented on #2515
I could see one of the use cases being if in the context of some contractual obligation the promise is guaranteed to be delivered on a specific date (or in stages). However, if the promise is not delivered on time, some contractual agreement is violated, and thereby some punishment say in the form of a payment is incurred... This is quite generic though. For a more concrete example, the promise ca

[2019-08-18 17:32] aristizabal95 opened #2527 "Calling .size() on a PointerTensor always returns a size of 0"
**Describe the bug**
Not sure if this was reported before. Couldn't find any issue about it. It seems like `.size()` method is not implemented for PointerTensors, making the Wrapper return `torch.Size([0])`

**To Reproduce**
Here's a script demonstrating the issue
[code]

**Expected behavior**
`.size()` should return the size of the tensor being pointed at.

**Desktop (please complete the followin

[2019-08-18 19:32] ewotawa commented on #2071
@2fasc thanks for posting your code. How do I use it to convert an imagefolder dataset to a dataset that I can federate?

[2019-08-19 06:20] meandmymind opened #2528 "Update Automatically the Docker Hub using GitHub Actions"
**Original issue**
Docker container https://hub.docker.com/r/openmined/pysyft-notebook is 2 months old. Some parts of the project has changed a lot (e.g. Plan), so tutorials don't work as expected.

**Updated**
Same error found in #2939

We should update the container automatically when we merge to master using github actions

Example of this is done here:
https://github.com/arkhn/fhir-pipe/blob/m

[2019-08-19 06:56] Williamongh commented on #2518
Try this to bypass this bug:
[code]
Some tutorials don't work. You have to face one bug after another.

[2019-08-19 08:27] wentaiwu92 commented on #2518
Thanks! the problem solved but looks like the efficiency is not decent on GPU with syft.

[2019-08-19 08:27] #2518 closed

[2019-08-19 08:35] Williamongh commented on #2518
If you are working with websocket-based asynchronous(i.e. parallel) federated learning,  I'd be glad to discuss it with you.

[2019-08-19 15:10] iamtrask commented on #2515
Will keep that in mind. At the moment, Promise/PrmoiseTensor is mostly a method for constructing asynchronous code execution to increase low level performance. There are a lot of other features that we would need in order to get promises to be more of a user-facing feature.

[2019-08-19 15:13] iamtrask commented on #2515
*UPDATE:* So far I've got basic local promises working for addition.

[code]
[code]

Note that the PromiseTensor piece of the chain disappears entirely when it is kept. Note further that I've created a sy.Promises package which allow for initialization of promises with a specific type and shape.

[2019-08-19 16:28] iamtrask commented on #2515
And now TorchHook includes a method which hooks all torch.Tensor methods for use in PromiseTensor

[2019-08-19 16:30] jvmncs opened #2530 "Modular Frameworks Leftovers"
TODOs leftover from #2502:
- [x] Generalize `syft/frameworks/torch/hook/hook_args.py`
- [ ] Better framework management (assigning to `syft.framework.hook` doesn't allow for multiple framework hooks at once)
- [x] Generalize `TorchHook.is_inplace_method()` #2533
- [x] Generalize `syft.torch.command_guard` #2533

[2019-08-19 16:36] jvmancuso opened #2531 "Better integration of Message class throughout codebase"
The `ObjectPointer` class has not been updated to use the Message class from #2450. This could be the case elsewhere, so we should do a once-over for files that still reference `from syft.codes import MSGTYPE` and update them.

[2019-08-19 16:49] jvmncs opened #2532 "Improve coverage for framework-dependent tests"
Related: https://github.com/OpenMined/PySyft/pull/2502/files/b3bd230fe70a4b8c9b44a2ed6fa04f63277f940d#r315255988

Framework-specific tests like those for Syft Keras/TF Encrypted are currently ignored when analyzing test coverage.  We should find a better way forward.

[2019-08-19 19:49] #2517 closed

[2019-08-20 14:47] jvmancuso commented on #2522
If I had to guess, I would say this is what the original DataLoader's `num_workers` solves.  It makes sense to prepare data in parallel, so that you always have a data point ready, but based on your feedback this is not the case for FederatedDataLoader just yet.  I suspect that the communication required to prepare a single batch of data is pretty costly as well, so a Plan can be used to improve t

[2019-08-20 15:48] imzad commented on #2498
+1

[2019-08-20 17:27] jvmncs opened #2535 "Removing the sklearn dependency"
Currently, there's a scikit-learn dependency for PySyft, however it's only being used in two places -- the `create_sandbox` feature in sandbox.py, which loads a few datasets from sklearn, and a tutorial on federated learning where it's being used as a shortcut to calculating ROC.  This seems like a heavy dependency for accomplishing such simple and standard tasks. Removing it would improve build t

[2019-08-21 09:55] LaRiffle opened #2537 "Exponential implementation in SMPC"
**Suggestion to implement exp in SMPC**

The interest of this is to allow computation of functions which derive of exponentials like sigmoid.

Let's say you share the tensor x in x0 and x1. You want to compute exp(x).
But exp(x) = exp(x0 + x1) = exp(x0) * exp(x1).
So you can compute locally exp(x0) and exp(x1), and **additively share** these values, perform an encrypted mul and then you obtain sha

[2019-08-21 10:33] kamathhrishi commented on #2537
Guess I will take this up :)

[2019-08-21 13:26] kamathhrishi commented on #2069
I guess this issue should be closed?

[2019-08-21 13:31] jbloom22 commented on #2069
Hi Hrisikesh! Slack Andre Farias, winner of the OpenMined grant, for the latest if you're interested to contribute. Andrew Kontaxis is now coordinating with him, they should decide what to do with this Issue. @akontaxis @andrelmfarias

[2019-08-21 18:21] mari-linhares opened #2539 "Test send operation inside a plan"
Make tests for using send inside a plan, the test will be something like:

[code]

[2019-08-22 01:26] hezhangsprinter opened #2542 "Supported Layer List"
Hi
   Thanks for the great work !!
    Is there any list of the layer that has been hooked with pytorch?
    Is torch._C._nn.avg_pool2d supported ?

[2019-08-22 08:36] andrelmfarias commented on #2537
@LaRiffle please notice that when doing operations in SMPC we are working with fixed_precision tensors. Exponential is not defined for fixed_precision tensors, we would need a polynomial approximation or other numerical methods that require several computations (including division which is really slow now)... 😞

[2019-08-22 13:25] hubuwx opened #2544 "Federated Learning in two different machine"
as above，I can not find doc about this
if i want to train model between two different machine by using pysyft , what should i check the configuration. Could you Please give  me some suggestions? Thanks a lot!

[2019-08-22 13:44] meandmymind commented on #2425
It's actually a great limitation, because 2 workers is not the usecase the PySyft is initially designed for (many independent parties).
Would be great to hear, if there's any consideration about workarounds, or another protocols that supports >2 parties.

[2019-08-22 17:53] LaRiffle opened #2546 "Call fix_precision() on a remote model"
**Describe the bug**
Call fix_precision() on a remote model fails due to a weird gradient initialization procedure for model parameters (see stacktrace)

**To Reproduce**
[code]

**Stack trace context**
[code]

[2019-08-22 18:11] mari-linhares opened #2547 "websocket workers communication"
Encrypted matmul and move (and probably other operations involving a crypto provider) are not supported when using websocketworkers.

The following test should pass:

[code]

Current error:

[code]

[2019-08-22 18:35] iamtrask commented on #2515
<img width="988" alt="Screen Shot 2019-08-21 at 8 08 38 PM" src="https://user-images.githubusercontent.com/4328594/63540444-ff501680-c513-11e9-8667-2de05a59dfa3.png">

Made some progress.

[2019-08-22 19:17] LaRiffle commented on #2547
From what I see, .location is a string because, get_worker(...) fails almost silently when retrieving workers, but emits those warnings:
[code]
From my logs I have: `alice-remote KNOWS {'me': <VirtualWorker id:me #objects:0>, 'alice': <VirtualWorker id:alice #objects:0>, 'bob': <VirtualWorker id:bob #objects:0>, 'james': <VirtualWorker id:james #objects:0>, 'alice-remote': <WebsocketServerWorker i

[2019-08-22 19:17] #2447 closed

[2019-08-22 19:35] mari-linhares commented on #2547
Yes, that's exactly the case.

[2019-08-22 19:38] mari-linhares commented on #2547
I don't think so, this fails:

[code]

Error:

[code]

[2019-08-23 05:38] lolipopshock commented on #2259
I solved this issue by following the instructions on this page: https://discourse.mc-stan.org/t/compilation-error-in-pystan-macos-mojave/6383/3 .
I installed the package using:
`sudo installer -pkg  /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg -target /`.

[2019-08-23 06:41] LaRiffle commented on #2547
So, this test is equivalent to:
[code]
I think we need to get .move() to work, ie to allow remote workers to reference each other

<img width="426" alt="Capture d’écran 2019-08-23 à 08 39 12" src="https://user-images.githubusercontent.com/12446521/63571895-d9615b00-c581-11e9-89aa-d062b7242729.png">

[2019-08-23 06:43] LaRiffle commented on #2544
Could you detail how your usecase differ from the tutorials please? Thanks!
https://github.com/OpenMined/PySyft/tree/dev/examples/tutorials

[2019-08-23 06:45] LaRiffle commented on #2542
Not exactly, by default we provide a generic behaviour for all layers, but sometimes it doesn't work as expected and we need to add specific mechanisms. This happens when people find out they need smthg which doesn't work as expected.

So maybe check if you can use it, and if it fails miserably because of that specific component, then throw an Issue about this and we'll get it fixed :)

[2019-08-23 06:47] LaRiffle commented on #2201
I'm closing this since I don't see obvious way of fixing this.

[2019-08-23 06:47] #2201 closed

[2019-08-23 06:48] LaRiffle commented on #2527
Hey,
I would recommend using .shape instead of .size()
We have trouble with .size(), as explained here: https://github.com/OpenMined/PySyft/issues/2201

[2019-08-23 08:45] meandmymind commented on #2447
Actually I can still see the issue. I'm on the latest version of `dev` branch.
![Uploading image.png…]()

[2019-08-23 08:52] LaRiffle commented on #2537
Why it won't work:
[code]
output
[code]

Computers are so weak.

[2019-08-23 09:24] meandmymind opened #2550 "RNN forward pass won't work with model.share(..., requires_grad=True)"
**Describe the bug**
When share data and model between 2 workers, forward pass fails with uncomprehensible error message.

**To Reproduce**
Here is a sample code:
[code]
**Traceback log**
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Version: dev branch actual to 23.08

**Additional context**
May be related to #2447

[2019-08-23 10:03] LaRiffle commented on #2537
Ok so let's not give up here!

 ## Claim 1

Idea:
[code]

## Claim 2

[code]

Now, how practical is this is another question...
From my first implem, the price to pay should be around 1.5s for a float value, which can be amortized when using vectors

[2019-08-23 13:35] mari-linhares commented on #2547
Yes, exactly.

[2019-08-23 14:59] aristizabal95 commented on #2527
@LaRiffle not sure why I couldn't find that issue at the time of posting this. Since this is a duplicate, I'll close this issue.

[2019-08-23 14:59] #2527 closed

[2019-08-24 17:36] andrelmfarias commented on #2550
Hi @meandmymind, currently the recently merged RNN modules only support federated learning and encrypted predictions (i.e. without setting `requires_grad=True`).

We will be working on a PR to include support for encrypted training as well soon

[2019-08-24 17:37] kakirastern commented on #2535
I would like to take on/be assigned this issue.

[2019-08-24 19:49] hanare commented on #2444
@iamtrask  This issue can be closed.

[2019-08-24 22:25] jvmancuso commented on #2535
Hi, sorry! I have actually tackled this issue in an unsubmited PR for
installing PySyft with different frameworks (torch, TFE keras, and
tensorflow so far). I'm still waiting to polish it before submitting, but
should be in early this week.

On Sat, Aug 24, 2019, 1:37 PM Kris Stern <notifications@github.com> wrote:

[2019-08-24 22:27] kakirastern commented on #2535
No worries @jvmancuso

[2019-08-24 22:29] kakirastern commented on #2512
Has anyone started working on this issue? If not, can I take this on?

[2019-08-25 10:15] wentaiwu92 opened #2553 "Memory leakage in FederatedDataLoader"
**Describe the bug**
Memory consumption by Syft keeps increasing when loading data in each epoch after another, causing an enormous memory usage in case of a large number of training epochs.

**To Reproduce**
Simply iterating through a FederatedDataLoader without doing any training can reproduce. Code example
[code]

**Expected behavior**
1. Memory keeps being increasingly consumed until the progr

[2019-08-25 22:26] edgarinvillegas commented on #1981
This error appears when you haven't hooked PySyft:
`hook = sy.TorchHook(torch) `
`bob = sy.VirtualWorker(hook, id="bob") `

Can you review you did that?

[2019-08-26 00:05] edgarinvillegas opened #2554 ".federate() does not work with torchvision's ImageFolder dataset"
**Describe the bug**
When you try to federate a `torchvision.datasets.ImageFolder`, you get the custom exception AttributeError("Could not find inputs in dataset")

**To Reproduce**
Steps to reproduce the behavior:

1) Have the following file structure locally:
[code]
Those jpgs can be any image of at least 256x256 size.

2) Run:
[code]

**Expected behavior**
`fed_dataset` should be created withou

[2019-08-26 00:49] edgarinvillegas commented on #2554
Created PR to fix this: https://github.com/OpenMined/PySyft/pull/2555

There is harmful defensive code (that I removed) on `dataset_federate` function. It was checking for the data/train_data/test_data/targets/train_labels/test_labels fields in the dataset in a mandatory way. Which is not needed, and it's causing an exception that shouldn't exist.
What matters is that on each iteration of the data

[2019-08-26 07:41] mzenk opened #2556 "Argmax on encrypted data fails"
The argmax-call on an encrypted tensor throws an exception. Minimal code example for reproduction:
[code]
Executing this script results in a `KeyError: 'Object "44504679185" not found on worker!!!You just tried to interact with an object ID:44504679185 on <VirtualWorker id:alice #objects:36> which does not exist!!!`

My python environment (Ubuntu 18.04):
torch 1.1.0
syft 0.1.24a1

[2019-08-26 10:19] iamtrask commented on #2444
Thank you!

[2019-08-26 10:19] #2444 closed

[2019-08-26 11:17] meandmymind opened #2557 "Support for operations on tensors shared by >2 parties"
As described in #2425, SecureNN doesn't work for tensors shared between more than 2 parties. It's actually a great limitation, because 2 workers is not the actual production use case (many independent parties training securely).
Would be great to hear, if there's any consideration about workarounds, or another protocols that supports >2 parties that can be implemented in PySyft in future.

**Descr

[2019-08-26 14:35] mari-linhares opened #2559 "relu and relu_deriv require serializable workers"
**This is a blocker for having [EMLaaS implemented](https://github.com/OpenMined/Grid/issues/203)**.

Relu and relu_derive require serializable workers. Apparently these operations require serializable workers in order to execute `.share` with pointer tensors. GridWorkers are currently not serializable.

[2019-08-27 12:58] mari-linhares opened #2562 "resnet50 not supported when torch 1.0.1 / 1.1 is hooked"
[code]

Error:

[code]
---
torch version 1.0.1 and 1.1
syft dev version

[2019-08-27 15:06] iamtrask opened #2563 "PyTorch -> Tensorflow Eager and Tensorflow Eager -> PyTorch Wrapper Tensor Types"
**Is your feature request related to a problem? Please describe.**
Often we will have algorithms implemented in one framework which are not implemented in another.

**Describe the solution you'd like**
Build a bridge tensor type between pytorch and tensorflow which allows us to automatically leverage each other's algorithms.

The bulk of the work here is creating a tensor type which overloads tens

[2019-08-27 18:42] kamathhrishi commented on #2563
I could give it a try :)

[2019-08-27 18:46] kamathhrishi commented on #2563
A good starting point would be to create a torch tensor, call .TensorFlow() and show arithmetic and logical operations?

[2019-08-27 21:33] dionman commented on #1933
is there any progress in this ?

[2019-08-28 07:59] andrelmfarias commented on #2562
Weird... I don't think there is a `native_avg_pool2d` in Pytorch, only `avg_pool2d`. Did you try to load the model without hooking torch?

Maybe the hook changes the name of the method...

[2019-08-28 08:08] andrelmfarias opened #2566 "Implement `__rdiv__` for AdditiveSharedTensor"
**Is your feature request related to a problem? Please describe.**
In order to apply the reciprocal function on an AST (element-wise) we need to do:
[code]

**Describe the solution you'd like**
We want to avoid needing this amount of code, as in other libraries (such as numpy, pytorch, tf...) we just need to do `inv_tensor = 1 / tensor` to get the reciprocal element-wise tensor.

In order to do th

[2019-08-28 09:01] hubuwx opened #2567 "about torch version"
I have confusion about the torch version
In Installation guide and the root README.md , PyTorch version is 1.1.0
but in PySyft/examples/tutorials/advanced/websockets-example-MNIST-parallel/Asynchronous-federated-learning-on-MNIST.ipynb  the code have checked torch version like following:
`if torch.__version__>= "1.0.2":
    raise ValueError(f"This tutorial currently does not support torch versions

[2019-08-28 10:01] kamathhrishi commented on #2563
Arlight then, I might task quite sometime before begin to do this so if anybody else is interested they can work on this.

[2019-08-28 13:13] colin-byrneireland commented on #2221
I've the exact same issue seems to me that torch 1.2 (latest) isn't compatible with syft ?.
Any suggestions

[2019-08-28 14:48] mari-linhares opened #2568 "Tutorial 11 fails with vgg16"
Tutorial 11 shows how to use syft for secure evaluation, it throws an exception if we change the model to a vgg16.

Error:
[code]

Notebook to reproduce the error: https://gist.github.com/mari-linhares/db50c3446d239af350accb3e2597ba2e

[2019-08-28 18:47] fsonntag commented on #2070
Just a small report, I'm running into a similar error, but it appears a few lines earlier:
[code]

The following error appears:
[code]

So it's to be a more general problem than only specific functions like `addcmul_()` and `addcdiv_()`

[2019-08-28 20:26] mari-linhares opened #2573 "Implement maxpool2d for AdditiveSharedTensor"
**Is your feature request related to a problem? Please describe.**

This is crucial for being able to run CNN models in an encrypted way.

**Describe the solution you'd like**

We already have `maxpool` implemented, I believe `maxpool2d` will consist basically of a wrapper that splits a matrix into multiple tensors and run `maxpool` on them.

This operation could be parallelized but this is out of

[2019-08-29 07:58] #2559 closed

[2019-08-29 08:31] colin-byrneireland opened #2574 "Could not find a version that satisfies the requirement torch>=1.0.1 (from syft) (from versions: 0.1.2, 0.1.2.p"
**Describe the bug**
A clear and concise description of whI am using a windows machine, with anaconda navigator I installed as per the instructions given in the readme.md

created an enviornment named pysyft and activated it
initialized pip install syft
The error mentioned above is displayed
I am Udacity Student for Secure and Private AI

![syfterror](https://user-images.githubusercontent.com/4453

[2019-08-29 10:17] wentaiwu92 opened #2576 "syft.frameworks.torch.tensors.interpreters.native.Tensor.shape BUG"
**Describe the bug**
When attempting to call .shape on a Syft tensor contained in a BaseDataset, it always return torch.Size([0]).

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: win10
 - Version: Pytorch 1.1.0, PySyft 0.1.24a1

[2019-08-30 07:19] LaRiffle opened #2577 "Support kwargs un-wrapping in hook_args"
**Is your feature request related to a problem? Please describe.**
Usually kwargs are just int, str, etc so don't need to be un wrapped, but in some cases it can also be an optional tensor. This is the case for conv2d and the `bias` kwarg:
[code]

**Describe the solution you'd like**
Support for kwargs unwrapping in hook_args would avoid strange bugs in such conditions, where bias is still wrapped

[2019-08-30 12:53] kakirastern commented on #2512
I will work on it anyways then... Hopefully no doubly duplicated efforts.

[2019-08-30 12:56] kakirastern commented on #2424
Let me not wait on @iamtrask for feedback and start look into it deeper. Sorry about the delay.

[2019-08-31 19:56] kakirastern commented on #2424
It is indeed a bug I have come to realise, since in the line https://github.com/OpenMined/PySyft/blob/dev/syft/serde/serde.py#L289 one is supposed to be able to turn off `details` for the `deserialise` function in order to hide all the gory details in the deserialised object, but that is not the case at the moment.

If I attempt to set the `details` attribute to `False` the following error would b

[2019-09-02 15:44] edgarinvillegas commented on #1893
I found a workaround that worked for my needs. The trick is to hook pysyft **after** you move your model to cuda.

[2019-09-03 03:42] baishanca commented on #1893
what do you mean？ Hook the worker？But if you hook after these, how can you make federated dataset? For example,in the tutorial example>advanced>CIFAR10. Can you post your code

[2019-09-03 09:29] LaRiffle commented on #2259
This was also solved by changing the gcc version to a more recent one using:
`export CC=/usr/local/Cellar/gcc/9.2.0/bin/gcc-9`
`export CFLAGS="-Wa,-q"`
and then running:
`pip install --upgrade --force-reinstall zstd`

[2019-09-03 13:41] mortendahl commented on #2537
@LaRiffle I suggest you take a look in the [SCALE-MAMBA documentation](https://homes.esat.kuleuven.be/~nsmart/SCALE/Documentation.pdf). Note that some of those protocols might be slower versions that are used to support any `n`, and hence there may be better protocols for the two-party case.

[2019-09-03 14:58] LaRiffle commented on #2556
This should work :)
Add a crypto_provider and call fix_precision()

[code]

[2019-09-03 15:24] mzenk commented on #2556
Thank you! I checked that both modifications are necessary to fix the problem.

[2019-09-03 15:24] #2556 closed

[2019-09-03 15:25] mzenk commented on #2556
I assumed that I did not need fix precision encoding on an integer tensor. The need for an explicit crypto provider wasn't clear to me either. Could you explain on both?

[2019-09-03 15:31] andrelmfarias commented on #2537
@mortendahl we were discussing SCALE-MAMBA last week, @LaRiffle was thinking about trying to "hook" it for some MPC operations...

[2019-09-03 15:44] mortendahl commented on #2537
@andrelmfarias @LaRiffle not sure I understand what you mean by hooking here..?

[2019-09-03 17:07] LaRiffle commented on #2556
So actually you should have to do it, even if it doesn't raise an error: even if you work with integers, fix precision elements are in a field while integers are not, so it is a  best practice. And actually for some reason it doesn't work if you don't do it (argmax does smthg strange)
Same for crypto provider, it should be possible to not explicitoit,  but it doesn't work for some reason :/

[2019-09-04 08:39] andrelmfarias commented on #2537
We were thinking that maybe we could "hook" some operations from their github repository: https://github.com/KULeuven-COSIC/SCALE-MAMBA

To use their protocols without needing to implement them ourselves in PySyft.

I don't know if it's clear...

[2019-09-04 09:06] LaRiffle opened #2586 "Use _send_msg for websocket clients"
**Is your feature request related to a problem? Please describe.**
Some functionalities are not easy to read for websocket clients, because we call `_recv_msg` just _as if_ no call was done. (see def search for example: https://github.com/OpenMined/PySyft/blob/dev/syft/workers/websocket_client.py#L71)

**Describe the solution you'd like**
Implement _send_msg to call _recv_msg, which would make thi

[2019-09-04 14:46] jinserk opened #2587 "MNIST example using PySyft"
**Describe the bug**
I made a code snippet for MNIST example using PySyft based on the tutorial:
[code]
When I got two problems:
1. without `torch.set_default_tensor_type(torch.cuda.FloatTensor)`, it produces a RuntimeError as:
[code]
2. with the `set_default_tensor_type`, it shows another error as:
[code]

**To Reproduce**
If you have `torch`, `torchvision`, and `pysyft`, just do
[code]

**Expect

[2019-09-04 15:25] jvmncs opened #2588 "Potential optimization for hook_response in hook_args.py"
Currently the implementation used in `syft.frameworks.torch.hook.hook_args.hook_response` has the capability to efficiently reconstruct heterogenous  return tuples of arbitrary types and tensor chains.  While efficient tensor chain reconstruction is an important objective for this function, it's been observed that it is extremely rare for commands to return heterogenous tuples, meaning this functi

[2019-09-06 03:23] Ankit-Dhankhar commented on #2535
@jvmancuso  What do you think about completely removing sklearn dependency (instead of throwing Import Error) and in-place of that use torchvision like module for loading datasets?

If this sounds good I can make required changes for that?

[2019-09-06 05:22] Ankit-Dhankhar opened #2592 "OS and version details in ISSUE TEMPLATE- bug report"
**Is your feature request related to a problem? Please describe.**
In issue template, it is asked to provide information about OS and version. It is a manual process and sometimes user may miss include important/conflicting libraries or add redundant information about version of other libraries on which PySyft doesn't depends.

**Describe the solution you'd like**
There should be a function like s

[2019-09-06 06:23] LaRiffle opened #2594 "Update How to Build your own Tensor tutorial after #2591 is merged"
Breaking changes in #2591 regarding tensors and some declarations of them will affect the Build your own Tensor tutorial.

[2019-09-06 06:56] baishanca opened #2595 "Tensor type error of SMS spam prediction with a GRU model"
Describe the bug
When I run the Federated SMS Spam prediction.py in advanced tutorials, it will go to handcrafted.py and show the tensor type error about :

''Expected tensor for argument #1 'indices' to have scalar type Long; but got CPUType instead (while checking arguments for embedding)''

Expected behavior
Which in tutorials actually

Screenshots
![image](https://user-images.githubusercontent

[2019-09-06 07:51] Jasopaum commented on #2566
Hi!
I tried to do that but PyTorch's `__rdiv__` is called and returns basically `self.reciprocal() * other` where reciprocal is implemented in C. So I'm not sure how to do that, does anybody have a clue? Could we overload `.reciprocal()`?

[2019-09-06 07:58] andrelmfarias commented on #2566
Yes, I think we should overload it.

This the same problem we have with dropout and we had with RNNs, they are implemented natively in C++ so we have to overload them. Similarly to what you did with CNN.

[2019-09-06 14:12] jvmncs opened #2599 "Decide on a standard for handling imports"
There are many different styles of import statements throughout the PySyft codebase. We should standardize these somehow.

@midokura-silvia has suggested here https://github.com/OpenMined/PySyft/pull/2591#discussion_r321654145 that we use the Google style guide's recommendation of importing modules and using functions and classes from there.  The only reasonable alternative I can think of would be

[2019-09-06 14:26] jvmancuso commented on #2535
Hm -- on the one hand, I like the idea of moving to torchvision because the datasets are a bit less trivially solved than the ones in sklearn.  On the other hand, we're moving away from having pytorch be a required dependency (see for example [this RFC](https://github.com/OpenMined/rfcs/blob/master/20190808-modular-pysyft-frameworks.md) and [these PRs](https://github.com/OpenMined/PySyft/pulls?utf

[2019-09-06 19:16] Jasopaum commented on #2566
But what we used to overload is functions from torch calling C code, I think it's a bit different, here...

[2019-09-06 19:33] jvmncs opened #2600 "Should tensors be part of the public API?"
Right now, most tensors are exposed as `syft.TensorType`. This has the effect of speeding up development in that people developing new tensor types don't need to worry about circularity of tensor implementations as much (since they have access to other tensor types in the `syft` namespace). However, the hooking of syft-specific methods and the tensor chain abstraction together mean that these tens

[2019-09-06 19:34] jvmancuso commented on #2600
We need to clarify who the users of this tensor system are in order to make any decision about how public their API should be. Are data scientists/machine learning engineers expected to use these tensors? Are they PySyft contributors? Are they developers of other OpenMined projects and/or developers of ecosystem projects?

[2019-09-07 02:59] Y-Xu commented on #2553
Hi, @wentaiwu92, I also encountered the same problem, and I have tried to clear_objects() all the data distributed to different virtual worker every time after each epoch and then reload the data, but it didn't work. The memory still increased along with the training iterations. Did you get any solution?

[2019-09-07 08:05] wentaiwu92 commented on #2553
Hi, @Y-Xu. Unluckily no solution yet, _clear_objects()_ doesn't work probably means that there is one or more references (to the batch data) remained somewhere we don't know even though you attempt to release one from the virtual workers.

Only thing that I can do is to avoid too many epochs in one run.

I hope the leak problem could be noticed by the developers of this repo.

[2019-09-07 08:32] Y-Xu commented on #2553
@wentaiwu92 ，this bug also got in the way of using much more data residing on each virtual machine to train the local model. Now I convinced myself to treat this as a forced computing constraint in practice.

[2019-09-07 14:29] andrelmfarias commented on #2566
Don't you think that it works if we overload it and use the following method definition:
[code]

?

[2019-09-07 16:34] LaRiffle commented on #2600
That's an interesting point, but maybe we are a bit ahead of schedule. These tensors are currently all in the torch module `syft/frameworks/torch`, and there is still a bit of work in ordeer to make careful choices about which can live outside of it, as many of them are very unrelated to using pytorch. As soon as we have made these choices, I believe it would be good to remove them of the public A

[2019-09-07 17:26] LaRiffle commented on #2587
Hey!
Thanks for thee feedback,
So only CPU is supported currently :/ this explains PB 1
Regarding the 2nd one, which version of PyTorch are you using? I think `multiprocessing` is responsible for the failure, and should be deactivated is this makes sense

[2019-09-07 17:28] LaRiffle commented on #2576
That's strange, I have torch.Size([3])
Maybe update the syft package and rerun this snippet

[2019-09-07 17:50] jvmancuso commented on #2600
I agree we have quite some work to do, and I did not intend to suggest a timeline for this work.  But better to make the issue public now so people know this is an open question.

Also, *most* of the tensors are in `syft/frameworks/torch`. `PointerTensor` and `MultiPointerTensor` have already been moved into `syft/generic/pointers`.

[2019-09-07 17:53] wentaiwu92 commented on #2576
Solved after bumping up to 0.1.26a1. :)

[2019-09-07 17:53] #2576 closed

[2019-09-08 10:01] LaRiffle opened #2601 "Copy Plan attributes instead of passing references"
**Describe the bug**
Currently, copies of plans share the same attributes, so they can be modified in a shadow way (see example)
See:
https://github.com/OpenMined/PySyft/pull/2590#discussion_r321975723

**To Reproduce**
[code]

[2019-09-08 12:35] jinserk commented on #2587
Thanks @LaRiffle !
I used PyTorch 1.1.0. but 1.2.0 also shows the same. so could you let me know more clearly how to deactivate the `multiprocessing`?
and what time line you will add GPU support? MNIST is very simple task so it's okay to use CPU, but typically GPU is very critical and inevitable to train a big model and big data.

[2019-09-09 08:35] andrelmfarias opened #2602 "Function / Method for the creation of random Tensors in SMPC"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to multiply a shared tensor by a large random number so that we can aggregate its shares in a sole worker to perform some computations we cannot do in MPC (eg. compute the norm of a vector) without revealing the value of the original tensor.

In order to create random tensors remotely with SMPC we are obligated to

[2019-09-09 08:49] #2602 closed

[2019-09-09 10:39] iamtrask commented on #2600
Is anyone actually using the syft.<tensor type> ones? If it's only being used sparingly could we just move them to "torch.<tensor type>" instead?

[2019-09-09 16:52] LaRiffle opened #2603 "Bug with sending AST made by inplace fix_prec_ and share_"
**Describe the bug**
Combining both trigger a weird error, which I don't really understand:

**FAILS**
[code]

**WORKS**
[code]
[code]
[code]

[2019-09-10 01:09] robert-wagner commented on #2592
Hey @Ankit-Dhankhar This functionality is accomplished by either pip list or conda env list.

[2019-09-10 04:13] Ankit-Dhankhar commented on #2592
Yes but that also include other libraries that are not important for the given bug.

[2019-09-10 08:18] LaRiffle commented on #2546
Solved by #2590

[2019-09-10 08:18] #2546 closed

[2019-09-10 13:43] mccorby opened #2604 "Fix precision with large storage fails"
**Describe the bug**
The following operation fails

`lpt = torch.Tensor([-2., 4]).fix_prec(storage="large")`

**To Reproduce**
Steps to reproduce the behavior:
Use the above expression in a test and see the result:
`TypeError`
**Expected behavior**
The expression should not crash
**Screenshots**

**Desktop (please complete the following information):**

**Additional context**

[2019-09-10 14:37] niklausliu opened #2607 "TypeError: object of type 'NoneType' has no len()"
**Describe the bug**
TypeError: object of type 'NoneType' has no len()

**My code**
[code]
**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version : 16.04

**Additional context**
Starting Training of GRU model

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-in

[2019-09-10 14:38] niklausliu commented on #2607
Why my data is Nonetype?

[2019-09-10 14:40] niklausliu commented on #2595
Me too, but I have no idea about this bug...

[2019-09-10 16:03] #2503 closed

[2019-09-10 16:25] mari-linhares opened #2608 "get_obj should raise a syft exception"
Currently `worker.get_obj` raises a KeyError exception we should raise a syft specific exception like "ObjectNotFoundException".

This helps to avoid mistaking a regular/native python KeyError exception with exceptions raised by get_obj.

https://github.com/OpenMined/PySyft/blob/750bd2c3987a570ef1dc8554b933696d416724c7/syft/generic/object_storage.py#L84

[2019-09-10 22:38] mari-linhares opened #2609 "Grid search test breaks if we wrap the search results."
**Describe the bug**

Grid search test breaks if we wrap the search results.

https://github.com/OpenMined/PySyft/blob/dev/syft/workers/base.py#L890

Do we really need to wrap the search results?

I think I know what the problem is, when we wrap the pointer we register it on `._objects` but we're running a loop on the keys in _objects so then we get: “RuntimeError: dictionary changed size during i

[2019-09-10 22:47] mari-linhares commented on #2609
@LaRiffle

[2019-09-11 07:02] DanyEle commented on #2607
When using `model.to(device)` you are trying to move your data structure to a GPU, right? Well, as far as I know, this operation is not supported in PySyft yet. Keep the computation on the CPU for now.

[2019-09-11 07:13] DanyEle commented on #2595
Running the code on Ubuntu 18.04 LTS, but not getting any error. It's training just fine.

[2019-09-11 07:42] niklausliu commented on #2607
Thanks for your reply. I solved my previous problem because the version of PySyft was too old. Now there is a new bug.
RuntimeError                              Traceback (most recent call last)
<ipython-input-62-6d641218ab70> in <module>()
      1 lr = 0.001
      2 #batch_size = 64
----> 3 gru_model = train(federated_train_loader, lr, model_type="GRU")

<ipython-input-61-0ac6d91a093c> in train(f

[2019-09-11 07:57] andrelmfarias commented on #2595
I am running the tutorial on my macOS Mojave 10.14.4 and it's running without errors too.

[2019-09-11 08:15] DanyEle commented on #2607
Can you please show me how the `device` variable is defined?

Also, you may want to try your code without the `.to(device)` call in your code.

[2019-09-11 08:31] niklausliu commented on #2607
# torch.cuda.is_available() checks and returns a Boolean True if a GPU is available, else it'll return False
is_cuda = torch.cuda.is_available()

# If we have a GPU available, we'll set our device to GPU. We'll use this device variable later in our code.
if is_cuda:
    device = torch.device("cuda")
else:
    device = torch.device("cpu")

[2019-09-11 08:33] DanyEle commented on #2607
Yes, that's exactly what I meant. PySyft does not support CUDA GPUs yet, though we'd like to support this functionality @robert-wagner

What is the result of running your code when removing all statements `.to(device)` @niklausliu ?

[2019-09-11 08:36] niklausliu commented on #2607
Thanks for your reply. But I have a new bug about rnn.py, you can see more detail as follow:

RuntimeError Traceback (most recent call last)
in ()
1 lr = 0.001
2 #batch_size = 64
----> 3 gru_model = train(federated_train_loader, lr, model_type="GRU")

in train(federated_train_loader, learn_rate, hidden_dim, EPOCHS, model_type)
48 print(x.shape)
49 print(label.shape)
---> 50 out, h = model(x, h)
51

[2019-09-11 08:38] andrelmfarias commented on #2600
Personally, I think will need to remove them from the public API in the future and have a unique public syft.tensor abstraction. TBH, and speaking from my experience, it's a bit of pain to get used to these kinds of tensors and understand their behavior. It can be an entry barrier for new users.

[2019-09-11 08:43] DanyEle commented on #2607
Well, I believe the issue is related to the suggestion I gave you, with the `.to(device)` statement, because I encountered similar errors when running it on a CPU/GPU using the `device`.

Alternatively, @andrelmfarias  could have some other ideas?

Is what you posted the output of the code with the `.to(device)` statement removed at all places in your code?

[2019-09-11 08:56] niklausliu commented on #2607
But I found that I deleted all the statements about the device or the bug I described above.

[2019-09-11 09:15] #2604 closed

[2019-09-11 09:25] niklausliu commented on #2607
Sorry, I mean, I deleted all the statements about the device, but it did not work and the bug still exists.

[2019-09-11 09:37] andrelmfarias commented on #2607
Can you please print the output you get from your dataset before and after hooking torch?

[2019-09-11 10:19] niklausliu commented on #2607
![image](https://user-images.githubusercontent.com/31737021/64689120-4781a980-d4c0-11e9-95d4-6ea294a36e95.png)

![image](https://user-images.githubusercontent.com/31737021/64689149-5cf6d380-d4c0-11e9-94f4-75359fe1e289.png)

![image](https://user-images.githubusercontent.com/31737021/64689251-929bbc80-d4c0-11e9-9a5b-737aba54f4d9.png)

![image](https://user-images.githubusercontent.com/31737021/6468

[2019-09-11 10:20] niklausliu commented on #2607
![image](https://user-images.githubusercontent.com/31737021/64689389-db537580-d4c0-11e9-8718-1e374d581df4.png)

[2019-09-11 10:27] andrelmfarias commented on #2607
@niklausliu I found out what your errors is: you are using pytorch native GRUs and hooking torch. We do not support hooking pytorch's native RNNs at the moment, you should import the GRU module from `syft.frameworks.torch.nn`.

Please be aware syft RNNs modules work for federated learning and MPC prediction only (MPC training is not currently supported)