[2020-02-08 00:06] MarcioPorto commented on #2776
I'm finishing the last few cells tomorrow and I'll make a PR.

[2020-02-08 00:32] hericlesme commented on #2776
Awesome!

[2020-02-08 09:54] refactormyself commented on #2800
Oh, I see, that was why #2734 was closed. I was trying to work on it.
Somehow, I usually end up with a "bad" first issue. Maybe there should be a "good second issue" label.

[2020-02-08 09:54] #2800 closed

[2020-02-10 02:43] carlodavid012 opened #3040 "AttributeError: module 'torch' has no attribute 'quint8'"
I installed Pysyft on my local machine following this [ installation guide](https://github.com/OpenMined/PySyft/blob/dev/INSTALLATION.md) and when i import syft. it shows this error:

[code]

**Desktop:**
- OS: Ubuntu 18.04.3 LTS
- Python 3.7
- PyTorch 1.1

[2020-02-10 03:04] #3040 closed

[2020-02-10 06:50] adventuroussrv opened #3042 "Translate tutorials to Bengali"
For the PR, copy the current notebooks and translate the inline text to Bengali, placing the notebooks in the [Bengali](https://github.com/OpenMined/PySyft/tree/master/examples/tutorials/translations/bengali) folder under the [translations](https://github.com/OpenMined/PySyft/tree/master/examples/tutorials/translations)

- **Only translate English which is in the notebook or generated from code in

[2020-02-10 06:53] adventuroussrv commented on #3042
@jabertuhin @ucalyptus here's the issue for the translations in Bengali language! are you working or would like to translate any notebook?

I'm currently working on
- [ ] Part 08 - Introduction to Plans.ipynb
- [ ] Part 08 bis - Introduction to Protocols.ipynb
- [ ] Part 09 - Intro to Encrypted Programs.ipynb
- [ ] Part 10 - Federated Learning with Secure Aggregation.ipynb

[2020-02-10 07:06] jabertuhin commented on #3042
@adventuroussrv I will be working on these notebooks -

1.  Part 04 - Federated Learning via Trusted Aggregator.ipynb
2.  Part 05 - Welcome to the Sandbox.ipynb

[2020-02-10 07:24] ucalyptus commented on #3042
I'll do 8 and 9

[2020-02-10 07:25] ucalyptus commented on #3042
* 6 and 7

[2020-02-10 07:28] adventuroussrv commented on #3042
Hey! @ucalyptus I have almost completed the

-  Part 08 - Introduction to Plans.ipynb
-  Part 08 bis - Introduction to Protocols.ipynb
-  Part 09 - Intro to Encrypted Programs.ipynb
-  Part 10 - Federated Learning with Secure Aggregation.ipynb

[2020-02-10 07:31] ucalyptus commented on #3042
Yeah sorry I made a typo. I'll do 6 and 7

[2020-02-10 07:33] adventuroussrv commented on #3042
Awesome! Closing the issue for now!

[2020-02-10 07:33] #3042 closed

[2020-02-10 08:30] LaRiffle opened #3043 "Create a syft.load(tensor, src=worker_id) functionality"
This should be equivalent to worker.search, but is supposed to be retrieving information _locally_, when src matches the current worker. (behaviour is supposed to be close to crypten.load)
As is, this function is supposed not to fail and to always return something  (even random) when using in a plan at building.
Details on implementation are not all solved yet.

[2020-02-10 10:10] ucalyptus commented on #3042
[    ] Part 04 - Federated Learning via Trusted Aggregator.ipynb @jabertuhin
[    ] Part 05 - Welcome to the Sandbox.ipynb @jabertuhin
[    ] Part 06 - Federated Learning on MNIST using a CNN.ipynb @ucalyptus
[    ] Part 07 - Federated Learning with Federated Dataset.ipynb @ucalyptus
[    ] Part 08 - Introduction to Plans.ipynb @adventuroussrv
[    ] Part 08 bis - Introduction to Protocols.ipynb @

[2020-02-10 11:25] patselle opened #3044 "Cannot find any data when running event loop via multithreading"
Hi everyone,

I try to run run_forever() command from asynchio via pythons multithreading.
Therefore, I changed the code of the websocket_server.py in the following way:

[code]

Afterwards, I can't find any data in the grid network that was sent to by the server before.
This works fine without using multithreading.

Any idea?

[2020-02-10 13:08] karlhigley commented on #3040
Ah, yeah, I think these types were introduced in newer versions of PyTorch. You’ll currently need 1.4.

[2020-02-10 14:19] Alfons0329 opened #3045 "Try fix problem regarding to {RuntimeError} in Ch06 (please see detail thanks)"
The bug can be found here (my pull request)
[here](https://github.com/OpenMined/PySyft/pull/2766), which shows the attempt to fix the GPU error by myself.

It is my first time contributing to open source project, please let me if there is any mistake, thank you so much!

[2020-02-10 14:25] karlhigley commented on #3045
Let's keep the conversation on this issue over in #2766. Left a comment there about a test failure in the CI checks.

[2020-02-10 14:25] #3045 closed

[2020-02-10 14:50] gmuraru commented on #2937
@loopylangur could you test this after #2998 gets merged?

[2020-02-10 21:19] hericlesme commented on #2776
*Update:* It's official! All merged! :heart_eyes: :tada:

[2020-02-11 11:09] cereallarceny commented on #2903
This issue is associated with https://github.com/OpenMined/PySyft/issues/3008

[2020-02-11 15:50] gmuraru commented on #2937
@loopylangur the PR got merged - could you retest this, please?

[2020-02-11 20:05] iamtrask commented on #2776
Woohoo!!

On Mon, Feb 10, 2020 at 9:19 PM Héricles Emanuel <notifications@github.com>
wrote:

[2020-02-13 04:31] Vishal-Ramesh2 commented on #3007
I'd like to implement this

[2020-02-13 04:35] BBloggsbott commented on #3007
I'd like to implement this

[2020-02-13 10:01] TTitcombe commented on #2397
what about [binder](https://mybinder.org/)?

[2020-02-13 10:03] TTitcombe opened #3054 "Add Watermark to notebooks"
**Is your feature request related to a problem?**
There are a few issues on GitHub and on the slack group (e.g. #2346) caused when running the tutorial notebooks with a different environment. The environment used to generate the tutorial should be made clear to help users identify problems more easily.

**Describe the solution you'd like**
Add a [watermark](https://github.com/rasbt/watermark) to t

[2020-02-13 10:38] ucalyptus commented on #2397
Look at this https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e

[2020-02-13 17:16] loopylangur commented on #2937
Hi, I can still reproduce the error with the latest version.

[2020-02-13 20:24] jefersonf commented on #3007
Hi @BBloggsbott, I tried to tackle this. And I've actually started on, if you would like to give some help please take a look at this [branch](https://github.com/jefersonf/PySyft/tree/latency_simulation/syft/).

In fact, the following case is working so far:

[code]

[2020-02-14 04:19] BBloggsbott commented on #3007
@jefersonf Why not just use the change you mentioned [here](https://github.com/OpenMined/PySyft/issues/3007#issuecomment-582028097)? I feel only the virtual workers will need to simulate latency.

[2020-02-14 13:23] jefersonf commented on #3007
At first I thought so too, but I think in cases where a tensor is sent to a worker like in the following:

[code]
the same behavior should be hold.

[2020-02-14 16:45] Vishal-Ramesh2 commented on #3007
Ah. Okay.

How can I help with this?

[2020-02-14 16:46] BBloggsbott commented on #3007
Ah. Okay.

How can I help with this?

[2020-02-17 11:11] BBloggsbott commented on #3054
I can get this done

[2020-02-17 12:54] youben11 commented on #3027
An alternative would be to send the source code of the function definition (we can get it from the function object using the dill library), then each worker will need to run static analysis (using [AST][https://docs.python.org/3/library/ast.html) or a similar library) to make sure the function is safe.

Running static analysis, we can have a whitelist of allowed function calls, and flag as unsafe

[2020-02-17 14:26] sgaseretto opened #3058 "Websocket Connection closes unexpetetly when running the grid examples"
I was trying to test the [MNIST Federated Learning on grid example](https://github.com/OpenMined/PySyft/tree/master/examples/tutorials/grid/federated_learning/mnist). I launched all the nodes using the ```docker-compose.yml``` for mac, executed the first notebook to send the data to Alice and Bob without any issues, but when trying to execute the training cell on the second notebook, after the fir

[2020-02-17 20:33] iamtrask commented on #3027
If it helps - for Tensorflow the current roadmap is to use TFF to create Tensorflow's version of "plans" and then ship those over (still wrapped in a "Plan" like object?)

[2020-02-18 06:22] BBloggsbott commented on #3054
@TTitcombe I've added watermark to one file in tutorials. Can you verify id the information presented in it is enough?

[2020-02-18 06:28] BBloggsbott commented on #3054
@TTitcombe I've added the watermark to one [notebook](https://github.com/BBloggsbott/PySyft/blob/add-watermarks/examples/tutorials/Part%2001%20-%20The%20Basic%20Tools%20of%20Private%20Deep%20Learning.ipynb) in the tutorials. Can you verify if the information is sufficient?

[2020-02-18 11:48] fermat97 commented on #3014
thank you so much. It works when I run them as you said, in the background.

[2020-02-18 11:48] #3014 closed

[2020-02-18 13:29] youben11 commented on #3027
Another alternative would be to jail the execution of the sent function in a secure execution environment. This means that only crypten functionalities are available, no filesystem access, no networking etc. I'm checking this [library](https://github.com/zopefoundation/RestrictedPython) and if we can use it to secure the function sharing across workers.

[2020-02-18 15:33] 9sashafr opened #3063 "Asynchronous FL on MNIST: call WebsocketClientWorker evaluate() method causes error"
Hello!
I am trying to run the example from [tutorials](https://github.com/OpenMined/PySyft/tree/09f052aae8654377ffea7faeb6b12d0f75ba319a/examples/tutorials/advanced/websockets-example-MNIST-parallel).  Everything works great until the models' evaluation. The script crashes with the error:

Client message

Server message:

Exactly the same issue is described [here](https://stackoverflow.com/questio

[2020-02-19 02:35] brandonhee commented on #3063
See #2948

[2020-02-19 09:16] ShivaBadaja commented on #2796
@LaRiffle It does not work in the official docker image provided

[2020-02-19 15:52] karlhigley commented on #3063
Sounds like we might need to release a new version with recent fixes.

[2020-02-19 15:54] karlhigley commented on #3063
Wait, #2948 was included in 0.2.3.a1...

[2020-02-19 15:56] karlhigley commented on #2796
The Docker image is out of date. We’re working on getting updates published.

[2020-02-19 15:59] 9sashafr commented on #3063
I checked [2948](https://github.com/OpenMined/PySyft/pull/2948). It is not the source of the problem.

[2020-02-20 08:40] adventuroussrv commented on #3042
PR for Translation Part 9 & 10

#3049
#3050

[2020-02-20 13:24] 9sashafr commented on #3063
The source of the problem is incorrect type of the function output. According to `Operation` class (from `syft/messaging/message.py`) the output must be `Tensor`. But `evaluate()` function (from `syft/federated/federated_client.py`) returns dictionary of floats.

[2020-02-20 14:56] ShivaBadaja commented on #3063
Facing the same Issue with recently published docker image also @karlhigley

[2020-02-20 17:21] fermat97 commented on #2971
hi @ymsaputra did you find any solution? I got the exact same thing. Hi @midokura-silvia do you have any idea?

[2020-02-21 08:05] midokura-silvia commented on #2971
@ymsaputra await needs to be called from within a function. So in your file coba_fed_async.py your await calls need to be in a function that is marked as async.

@fermat97 this is not enough information to deduce where the syntax error is coming from.

[2020-02-21 08:09] AnchalAgarwal21 opened #3079 "Attribute error"
module 'syft' has no attribute 'ID_PROVIDER'
![tempsnip](https://user-images.githubusercontent.com/41802909/75015792-778d9980-54af-11ea-86bf-b77b93e19837.png)

[2020-02-21 09:31] fermat97 commented on #2971
@midokura-silvia I am using your code in [Asynchronous-federated-learning-on-MNIST](https://github.com/OpenMined/PySyft/blob/0831588f0795c226ce1057070e967d6846b015e6/examples/tutorials/advanced/websockets-example-MNIST-parallel/Asynchronous-federated-learning-on-MNIST.ipynb), howvere I don't use as a notebook. There you have:
[code]
in this case `await` is used outside an `async` function. How did

[2020-02-21 12:25] fermat97 commented on #3063
@karlhigley I have more or less the same problem running the same tutorial.  @9sashafr could you find any workaround?

[2020-02-21 15:38] karlhigley commented on #3063
I'm in the process of doing some clean-up deep in the guts of Plans and Operations, starting with #3078. It may take a while to resolve this issue; not sure if making the output type more flexible or adding separate messages to the Syft protocol will turn out to be a preferable approach. Will keep this issue in mind as we sort through issues with the core abstractions.

[2020-02-21 16:36] karlhigley commented on #3079
@AnchalAgarwal21 What PySyft version are you using?

[2020-02-21 16:37] karlhigley commented on #3029
Resolved by #3036.

[2020-02-21 16:37] #3029 closed

[2020-02-21 17:11] praveenjoshi01 commented on #2352
AttributeError: 'numpy.ndarray' object has no attribute 'owner'

Is this issue resolved?

[2020-02-21 17:12] iamtrask commented on #3027
Sending whitelisted functions from one machine to another is _exactly_ what Plans are supposed to do - if Plans don't support this use case, we need to fix plans (instead of build an alternative)

[2020-02-21 19:11] brandonhee commented on #3063
I was able to workaround by changing the generic/frameworks/hook/hook_args.py file so the register_tensor function is:

def register_tensor(
    tensor: FrameworkTensorType, owner: AbstractWorker, response_ids: List = list()
):
    """
    Registers a tensor.

    Args:
        tensor: A tensor.
        owner: The owner that makes the registration.
        response_ids: List of ids where the tenso

[2020-02-21 23:12] santteegt commented on #2917
Hi,

I'm currently working on the translated notebooks. I wanna ask you a couple of questions:

1. It is ok if I start a PR with the translated notebook for two languages (Spanish & Chinese), and later other people can help to incorporate the others?
2. There are some code cells with comments that also require to be translated. However, the plugin I'm using has only support for markdown cells. Wou

[2020-02-21 23:14] Yugandhartripathi commented on #2917
**Since slack removes chat after a while backing up this discussion here.**
trask:anchor: [2:09 AM]
https://github.com/OpenMined/PySyft/issues/2917 <- solving this issue is becoming quite urgently needed. Several folks have talked about solving it - but as far as I know it's still up for grabs.
:+1:4

George Christopoulos  [2:18 AM]
check this
https://github.com/WittmannF/jupyter-translate

Yugand

[2020-02-22 17:37] jimboH commented on #2926
Hi, I would like to know if this is still an active issue. If it is, could I take this issue?

[2020-02-22 18:36] AnchalAgarwal21 commented on #3079
@karlhigley 0.2.3a1

[2020-02-22 18:52] karlhigley commented on #3079
@AnchalAgarwal21 Huh, haven't seen that issue with that version. Could you share the output of `pip list` and the imports above in the notebook?

[2020-02-22 22:39] sgaseretto opened #3087 "UnicodeDecodeError Error while searching for Datasets"
When running the ```search``` method to get a dataset from a ```PublicGridNetwork``` I'm getting the following error:
[code]

[2020-02-23 04:39] JameerBabu commented on #2744
Is this issue free to work ? If so, please assign me @LaRiffle

[2020-02-23 11:16] iamtrask commented on #2926
It is and you may!

Sent from my iPhone

[2020-02-23 11:31] LaRiffle commented on #3079
I have a silly question but have done a full ‘import syft as sy’ before?
I had a similar error when doing strange things during the syft import

[2020-02-23 14:14] karlhigley opened #3088 "Cache dependencies in CI tests"
**Is your feature request related to a problem? Please describe.**
Running the tests and tutorials currently takes around 15 minutes, of which 4 minutes or so (~25%) is spent installing dependencies.

**Describe the solution you'd like**
Use [GH Cache Action](https://github.com/actions/cache) to cache the dependencies and speed up the build.

**Describe alternatives you've considered**
- Leave it

[2020-02-23 14:57] AnchalAgarwal21 commented on #3079
@karlhigley
import torch as th
from torch import nn,optim
import syft as sy
from syft.workers.virtual import VirtualWorker
from syft.exceptions import WorkerNotFoundException

[2020-02-23 15:06] AnchalAgarwal21 commented on #3079
I copied the entire code on another notebook and to my surprise, it didn't give any error but now I have encountered another error.
![tempsnip1](https://user-images.githubusercontent.com/41802909/75114484-2bdc1b00-567c-11ea-82c2-611d5c502344.png)

[2020-02-23 16:08] #3007 closed

[2020-02-23 16:28] AniTho commented on #2926
Hi, I would like to work on this issue. Is it still active?

[2020-02-23 16:32] jimboH commented on #2926
@iamtrask thank you! I will work on it.

[2020-02-23 16:46] AniTho commented on #2926
@karlhigley thank you! I will start working on it.

[2020-02-23 16:57] iamtrask commented on #2926
Sounds like you should both work together on it.

Sent from my iPhone

[2020-02-23 17:53] AniTho commented on #2926
@iamtrask I have to implement test case as you have done for conv2d which is by creating a sample object using torch nn and one of the custom implementation and then finding maximum absolute difference in the two model output?

[2020-02-23 20:35] pierrepocreau commented on #2176
Hey, may I work on this issue ?

[2020-02-23 20:57] veenaneshwari commented on #2176
@pierrepocreau I have not done any work on this issue. Please feel free to work on it.

[2020-02-24 09:48] Carwinyr commented on #2782
@iamtrask
I can start the translation to Turkish. Is it possible to open an issue for this?

[2020-02-24 12:51] pierrepocreau commented on #2176
There are two problems around the maxpool.
Here, to calculate the derivative of maxpool, we use share on a torch.zeros tensor but it is of type FloatTensor.
https://github.com/OpenMined/PySyft/blob/f692ac551d41ebb4546274001ad192434b85e522/syft/frameworks/torch/mpc/securenn.py#L575-L577

Maybe we can use something else then torch.zeros ? or convert it to a LongTensor since it's only zeros.

Then to

[2020-02-24 13:41] DanielMorales9 opened #3091 "AttributeError: module 'syft.messaging' has no attribute 'plan'"
I get this problem when connecting to the WebSocketGridClient.
Can anyone help me with this issue?
[code]

[2020-02-24 14:44] karlhigley commented on #3091
It looks like that code was deprecated and later removed in #476, which [suggests](https://github.com/OpenMined/PyGrid/commit/2b543d075b86a6846d815ab5bdba45b551f48654#diff-b1ef8a3aed029ba9fb6663df43b6c7daL16) using PySyft's `syft.grid` module instead.

[2020-02-24 16:54] abhi9716 commented on #2782
@iamtrask, I would like to translate it into Hindi.

[2020-02-24 17:05] AniTho commented on #2926
@jimboH Can you share anything through which I can contact you to collaborate?

[2020-02-24 18:04] ucalyptus commented on #3042
@adventuroussrv done

[2020-02-24 18:07] ucalyptus commented on #3042
@jabertuhin any updates?

[2020-02-24 18:09] jabertuhin commented on #3042
Hopefully I will be done with the translations by this week.
Sorry, for taking some time.

[2020-02-24 18:38] AbinavRavi commented on #2670
Hi, Is this issue available? If so can I work on it?

[2020-02-24 20:04] agarwalmanvi commented on #2535
Is this still open?

[2020-02-24 20:09] Yugandhartripathi commented on #2176
Yes, torch.zeros needs a dtype arg which should be same as dtype for FPT. #2982 Once this is completed we will have a proper dtype property associated with the FPT and AST.

[2020-02-24 20:28] agarwalmanvi commented on #2448
Is this still open?

[2020-02-25 06:24] patselle commented on #3087
install msgpack==0.6.2

[2020-02-25 07:37] flo257 commented on #2498
+1

[2020-02-25 10:59] pierrepocreau commented on #3079
You forgot to hook torch with `hook = sy.TorchHook(torch) `to extend torch tensors methods.

[2020-02-25 12:19] sgaseretto commented on #3087
Sorry, I didn't add more context. I'm running my grid-nodes and the gateway on docker for ubuntu. Do I need to install ```msgpack``` in the grid-nodes containers, the gateway container or in the host machine where I'm trying to execute the search command?

[2020-02-25 12:39] patselle commented on #3087
Hi,

msgpack is a required dependency (see requirements.txt) and will be used when searching, if I remember correctly.
You can check your pip packages with pip list.

Greetings

[2020-02-25 13:48] jvmncs commented on #2535
Hey all, this was finished as a result of https://github.com/OpenMined/PySyft/pull/2636

Going to close this, feel free to open up a new issue if there are any further concerns!

[2020-02-25 13:48] #2535 closed

[2020-02-25 15:11] AnchalAgarwal21 commented on #3079
Thank you @pierrepocreau ..I missed placing the hook torch.

[2020-02-25 16:13] jimboH commented on #2926
@AniTho Thank you! I got some troubles with rounding while testing the handcrafted RNNs but finally solved it. Would you take a look at the test_rnn.py file to see if it really test all the RNNs?

[2020-02-25 16:22] r0cketr1kky opened #3095 "TypeError in compute_q_noisy_max_approx function"
**Describe the bug**
Type error because of the subtraction between `counts`(which is a list) and `counts[winner]`(which is a float).

**Expected behavior**
The final answer to this computation should be 0.8

**Screenshots**
![Screenshot from 2020-02-25 21-50-19](https://user-images.githubusercontent.com/39258575/75266815-e86ae380-5818-11ea-9eb3-3cbab288bbcc.png)

**Desktop (please complete the fol

[2020-02-25 16:54] pierrepocreau commented on #3095
Well sc should be a torch tensor, not a list.

[2020-02-25 17:16] NileshPant1999 commented on #3001
I would like to work on this issue

[2020-02-25 17:28] AniTho commented on #2926
@jimboH yes I'd like to see the code.

[2020-02-25 17:36] r0cketr1kky commented on #3095
Ohh, my bad. Thank you for letting me know. You can close this issue.

On Tue, 25 Feb 2020 at 10:34 PM, Pierre Pocreau <notifications@github.com>
wrote:

[2020-02-25 17:40] #3079 closed

[2020-02-25 17:40] karlhigley commented on #2926
See #3092 for the current state of the testing effort.

[2020-02-25 18:17] adventuroussrv commented on #3042
PR for Part 8 and 8 bis #3096

[2020-02-25 18:19] adventuroussrv commented on #3042
Hi @jabertuhin @ucalyptus anyone wants to work on the part 3 maybe?

[2020-02-25 19:24] youben11 opened #3097 "Implement FV Homomorphic Encryption from Scratch"
FV (Fan-Vercauteren) Homomorphic Encryption is one of the leading approaches to homomorphic encryption. While current work is under way within our community to wrap the SEAL homomorphic encryption library, this will have limited portability. However, algorithms which are natively implemented in PySyft can be automatically run across Python, GPUs, Javascript, Android (Kotlin), and iOS (Swift). Thus

[2020-02-25 20:10] adityaprabhat01 commented on #2797
is this issue still open?

[2020-02-25 21:57] gmuraru opened #3098 "Implement BGV Homomorphic Encryption from Scratch"
BGV (Brakerski-Gentry-Vaikuntanathan) Homomorphic Encryption is one of the leading approaches to homomorphic encryption. While current work is underway within our community to wrap the SEAL homomorphic encryption library, this will have limited portability. However, algorithms that are natively implemented in PySyft can be automatically run across Python, GPUs, Javascript, Android (Kotlin), and iO

[2020-02-25 22:09] hericlesme opened #3099 "Implement Auto-Scaling on Google Cloud"
### Description

In this project, you will implement functionality necessary to automatically spin-up Google cloud machines, load a PyGrid instance, run a training job, and tear down the instance upon completion (depositing the results into another long-running instance). The primary feature will be the ability to run a “hyperparameter sweep”, as exemplified below.

[code]

### Context

I will be

[2020-02-25 22:37] Jasopaum opened #3100 "Implement ZKP From Scratch in PyTorch"
Zero-knowledge proofs have an important role to play in the future of verified machine learning prediction. However, no deep learning framework has the ability to perform verified computation of neural networks using ZKPs.
Furthermore, algorithms which are natively implemented in PySyft can be automatically run across Python, GPUs, Javascript, Android (Kotlin), and iOS (Swift). Thus, it is very ad

[2020-02-26 00:20] klize opened #3101 "Q: websocket-mnist example dataloader"
I have two machines and try to implement my own federated learning structure.

As the advanced example shows, I placed `WebsocketServerWorker` and `WebsocketClientWorker` like below:

Client:
[code]

Server:
[code]

This is the basic implementation to play federated learning along with the design of syft.
After writing two lines above and here my questions arise:

* Q1: Why the dataloader, i,e Fed

[2020-02-26 02:50] Dhrumilsoni commented on #3063
@brandonhee After doing, what you suggested I got another error saying dict object has no attribute 'id'.

Any ideas?

[2020-02-26 05:05] jabertuhin commented on #3042
Hi, @adventuroussrv .
I have a pending notebook(Part-4) to translate. After completing that I can go for the part 3.

[2020-02-26 05:20] #3095 closed

[2020-02-26 06:14] newne opened #3102 "syft.exceptions.UndefinedProtocolTypeError: syft.messaging.message.Operation is not defined in the protocol file"
when i installed pysyft,  run  _python run_websocket_server.py_  in pysyft-master directoriy. it comes out "syft.exceptions.UndefinedProtocolTypeError: syft.messaging.message.Operation is not defined in the protocol file".
    i have tried to re-install the system(ubuntu 16.04) and pysyft, but it did't work .
    On my other machine, the same method is successful. What should i do to solve the pro

[2020-02-26 08:13] AndrewZhou924 commented on #3102
I met the same Error as your when importing syft.
Did anyone solve this problem?

[2020-02-26 08:34] jazken commented on #3102
the latest version of syft-proto seems to have issues.
try: pip install syft-proto==0.1.1a1.post20

[2020-02-26 09:16] newne commented on #3102
Perfect solution！

[2020-02-26 10:32] Benardi opened #3104 "Wrap Open-License Zero-Knowledge Proof Library"
Zero-knowledge proofs have an important role to play in the future of verified machine learning prediction. However, no deep learning framework has the ability to perform verified computation of neural networks using ZKPs. In this project, you will wrap an existing ZKP library into a new tensor type allowing users of PySyft to generate, evaluate, and verify tensor computations.

## Context
I will

[2020-02-26 10:40] Adblu opened #3105 "Custom federated learning network (LSTM)"
So, Im practicing federated learning with PyTorch, and I want to implement LSTM network for text generation.

Here is the network:
`
class LSTM(nn.Module):

    def __init__(self, vocab_size, embed_size, hidden_size, num_layers):
        super(LSTM, self).__init__()
        self.embed = nn.Embedding(vocab_size, embed_size)
        self.lstm = nn.LSTM(embed_size, hidden_size, num_layers, batch_firs

[2020-02-26 10:55] #3105 closed

[2020-02-26 13:57] aakankshadhurandhar commented on #2782
@iamtrask , I would like to translate tutorial to Hindi. Let me know if this issue is still open.

[2020-02-26 14:04] LaRiffle opened #3108 "Implement Functional Encryption in PySyft"
### 📝 Description

**Functional Encryption** is a technique which relates to Homomorphic Encryption since it performs computations over encrypted data, but it also provides automatic decryption of the ciphered result, which allows for interesting non-interactive scenarios. Put formally, given a function `f` and an encrypted value `Enc(x)`, it outputs `f(x)`. One classical example of Functional Enc

[2020-02-26 15:33] r0cketr1kky commented on #3108
Hi, I'm interested in this project. I have a good background in Linear Algebra as I'm pursuing a minor in Maths and I am familiar with Pysyft's codebase.

[2020-02-26 16:50] iamtrask commented on #3099
Note: we want to allow for automatic node teardown after calling .sweep() as an option - where it deposits the results into a "main cluster node". In other words, if I spin up a cluster of 10 workers, this is ACTUALLY a cluster of 10 workers and 1 master, where the master can store resources produced by the 10 workers.

[2020-02-26 16:51] knexator opened #3109 "Weird error message"
PySyft can't operate on two tensors living on the same machine

**To Reproduce**
Simply run this code:
[code]
It will throw the following error:
`syft.exceptions.TensorsNotCollocatedException: You tried to call a method involving two tensors which are not on the same machine! One tensor is on <VirtualWorker id:alice #objects:4> while the other is on <VirtualWorker id:alice #objects:4>. Use a combi

[2020-02-26 17:07] karlhigley commented on #2797
Looks like this got resolved in #2871.

[2020-02-26 17:10] karlhigley commented on #3102
The [PR corresponding to those changes in PySyft](https://github.com/OpenMined/PySyft/pull/3090) hadn't yet been reviewed and merged. New PySyft version with those changes coming soon.

[2020-02-26 17:50] Kritikalcoder commented on #3108
I'd like to start working on this

[2020-02-26 17:52] Kritikalcoder commented on #3100
I'd like to contribute to this

[2020-02-26 20:31] H4LL opened #3111 "GSoC Project: Combine Federated Learning & SplitNN APIs"
#### Mentor: Adam J Hall

Federated Learning and SpitNN are both methods for distributing the training of a neural network across multiple machines for the sake of privacy. However, they have different tradeoffs. At present, one can either choose to use one algorithm or the other, but not a combination of both. In this project, we seek to remedy this by creatively combining them in a clean, cohesi

[2020-02-26 20:56] haofanwang commented on #3111
Hi, Adam,

I'm Haofan Wang, currently a graduate student at CMU, I can send you my resume if needed. I'd like to be considered for this project in GSoC. I'm experienced with DL and Pytorch, and I'm taking the course on Udacity now and reading paper of Federated learning and SplitNN.

I'd like to begin working on the project and collaborate with you. Any suggestions for how to get started? I hope t

[2020-02-26 22:16] Jasopaum commented on #3100
Note: I added a few resources in the issue

[2020-02-26 23:22] AbinavRavi commented on #3111
Hello,

I am Abinav, currently a Master's student at Technical University Munich. I would like to be considered for the project for GSoC. I have a work experience of about 2 years with Pytorch and Deep learning. I am halfway through the Secure and Private AI in Udacity. It would be great if you could point out relevant issues to get started with the project.

Thank you

[2020-02-26 23:40] carlodavid012 commented on #3099
I'd like to work on this project

[2020-02-27 06:45] r0cketr1kky commented on #3043
Can I work on this @LaRiffle ?

[2020-02-27 08:16] pierrepocreau commented on #3100
I also would like to work on this project.

[2020-02-27 09:51] shuvamlal9 commented on #2259
In order to get rid of this **_zstd_** error on **Windows**, you'll need to install a small package of Microsoft Visual C++ from [here](https://download.microsoft.com/download/5/f/7/5f7acaeb-8363-451f-9425-68a90f98b238/visualcppbuildtools_full.exe)

[2020-02-27 10:29] shashank-m commented on #3098
Hey!
I'm a sophomore at the BITS Pilani Goa and am currently doing the Udacity course by openmined
on secure AI. I've done Stanford's cs231n course and would love to work on this project. Could you please guide me on what I'd need to do to complete this task?

[2020-02-27 10:38] H4LL commented on #3111
Hey guys,

Get in touch on slack and we can talk about some ways you can initially contribute!

Cheers!

[2020-02-27 11:37] shuvamlal9 opened #3112 "Error installing PySyft(syft package)"
**Getting trouble in installing syft package**
I have cloned the pysyft repository and installed it in my local pc.
After that, I followed the exact steps as written in the INSTALLATION.md.

`python setup.py install` command runs successfully but while testing using `python setup.py test` gives me the following error.

**Screenshots**
![Error](https://user-images.githubusercontent.com/38887333/754

[2020-02-27 13:13] gmuraru commented on #3043
There is a PR on this, currently linked [here](https://github.com/OpenMined/PySyft/pull/3074). Sorry I did not put the reference in the PR :(

[2020-02-27 15:30] adityaprabhat01 commented on #3111
Hello @H4LL
I am Aditya, an Undergrad from India.
I have been familiarizing myself with PySyft code base as well as its usage. Exhaustively learning about Federated learning and SplitNN through lectures, paper and presentations and really getting interested in this domain. Looking forward to contribute to PySyft towards this project.

Thank You!

[2020-02-28 00:23] gconst02 opened #3116 "Support for transfer learning with feature extraction"
**Is your feature request related to a problem? Please describe.**
Current version of [`federated_client.py`](https://github.com/OpenMined/PySyft/blob/master/syft/federated/federated_client.py#L60) optimizes **all** parameters of the model.
[code]

For [transfer learning with feature extraction](https://pytorch.org/tutorials/beginner/finetuning_torchvision_models_tutorial.html), only the classifie

[2020-02-28 01:32] hericlesme commented on #3099
Cool, @carlodavid012! I saw that you already know PySyft. I also think that basic PyGrid concepts can be useful. Feel free to chat with me if you need anything!

[2020-02-28 04:51] MukulMaheshwari commented on #3099
I am working on it.

[2020-02-28 06:56] rackson3861 opened #3118 "model.serve(num_requests=3) not working"
In examples/tutorials/part 13(b)

model.serve(num_requests=3) command results into following error:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-9-3f318fdec09c> in <module>()
----> 1 model.serve(num_requests=3)

/usr/local/lib/python3.6/dist-packages/syft/frameworks/keras/mode

[2020-02-28 09:13] jimboH commented on #3100
Hi @Jasopaum , I would like to work on this issue. I have made a merged PR at https://github.com/OpenMined/PySyft/pull/3092 and also filled up the application form. I would like to know how could I go further on this issue. Thank you!

[2020-02-28 13:22] karlhigley commented on #3112
Make sure you have the latest version of the PySyft master branch and the latest version of syft-proto. This error indicates an incompatibility between your versions of the two.

[2020-02-28 14:10] cereallarceny commented on #2995
Clearing @mccorby as the assignee, as he will be the mentor for this project, but not the assigned person to perform the task. If this issue isn't taken as part of GSoC, then @mccorby will take the ticket himself. :)

[2020-02-28 19:23] mehra-deepak commented on #2782
@iamtrask i would like to translate the tutorials to Hindi , Please Let me know if the issue is still open!!

[2020-02-28 23:43] Jasopaum commented on #3100
Could you guys (and also others that could be interested) contact me on Slack (Jason Paumier) so that we can talk about this?

[2020-02-29 03:41] karlhigley commented on #2782
See #2774 for information on the Hindi translation effort. Many of the tutorials [have already been translated](https://github.com/OpenMined/PySyft/pulls?utf8=%E2%9C%93&q=is%3Apr+Hindi).

[2020-02-29 05:30] jabertuhin commented on #3042
PR for Part 4 and 5 [#3121](https://github.com/OpenMined/PySyft/pull/3121)

[2020-02-29 09:47] pierrepocreau commented on #3108
Hey, I would also like to work on this project.

[2020-02-29 12:28] imskr commented on #3097
Hi @youben11 I would like to work on this!

[2020-02-29 13:02] TemitopeOladokun commented on #2782
@iamtrask  Can I translate this into Pidgin?

[2020-02-29 16:39] youben11 commented on #3097
Hi @imskr ! Feel free to ask questions on the #gsoc channel or DM me on slack @Ayoub Benaissa

You can also comment here for any detail regarding the project.

[2020-02-29 17:19] imskr commented on #3088
I would like to work on this @karlhigley

[2020-02-29 18:44] karlhigley commented on #3088
@imskr Thanks! Feel free to ping me on Slack with any questions.

[2020-03-01 04:07] suhacker1 commented on #2933
Bandit is contained within the tests.yml file; should this issue now be closed?

[2020-03-01 07:23] sukhadj commented on #3108
Hey, I am interested in this project!!

[2020-03-01 08:21] neeravjain24 commented on #3099
I have no experience related to Cloud but I am trying to learn PySyft .
I really want to contribute to this project.
Please can you help me .

[2020-03-01 09:05] arghyadeep99 commented on #3108
Hey, I am interested in doing this project. I have a good maths background and I was always looking to implement something of this kind from scratch. Should be a really memorable learning experience.

[2020-03-01 09:18] TanishB commented on #2069
Hello everyone! Is this issue resolved? If not, can I try it out? @iamtrask

[2020-03-01 11:06] hericlesme commented on #3099
Great! There are a lot of interested people.  I think you could also talk to each other about the issue. :rocket: :nerd_face:

[2020-03-01 11:09] neeravjain24 commented on #3099
Is there any particular channel for this project or should I message in gsoc slack group

[2020-03-01 11:13] hericlesme commented on #3099
Yess @neeravjain24! Don't worry if you're not familiar with GCloud. There's a lot of tutorials, docs and codelabs to learn. I also recommend taking a look at the PyGrid tutorial. The links are in the issue description.

GCloud links:
https://cloud.google.com/getting-started
https://codelabs.developers.google.com/cloud/

[2020-03-01 11:14] hericlesme commented on #3099
You can use the #gsoc channel :slightly_smiling_face:

[2020-03-01 11:37] arghyadeep99 commented on #3099
I would like to work on this project and I am willing to learn PySyft. Also, I am learning about GCP already.

[2020-03-01 12:28] #2933 closed

[2020-03-01 12:42] Sasha1-0-0-9 commented on #3099
I'd like to contribute to this project

[2020-03-01 14:44] AniTho commented on #3116
Is this problem somewhat like what we do with fastai library that is at the beginning, we freeze all the layer and only train and optimize the final classifier layer and then we unfreeze the top layers to start optimizing the complete model?

[2020-03-01 19:57] #3088 closed

[2020-03-01 20:37] gconst02 commented on #3116
@AniTho I haven't used fastai but from you described:

-> Is transfer learning with feature extraction

-> Is transfer learning with fine-tuning

With this change, we will have the flexibility to specify which `params` to optimize.

[2020-03-02 04:00] karlhigley commented on #3112
@shuvamlal9 Any luck with upgrading?

[2020-03-02 04:11] shuvamlal9 commented on #3112
@karlhigley nope still struggling to get the latest version.
I did what's given there to install the syft package but I'm not able to load that package.

[2020-03-02 04:25] Amberwangsiwen opened #3129 "Asynchronous FL with private datasets usually GOT websocket exception 1000ok (no reason)"
I'm trying asynchronous FL with private datasets and other CNNs, but I'm always frustrated when the training suddenly stopped with websocket exception 1000ok (no reason) after training for several rounds (fewer than 5).

The example codes on MNIST seem always working well. However, I tried using smaller size of my images and models like resnet18, and also batchsize == 4, even only using two websoc

[2020-03-02 04:35] karlhigley commented on #3112
@shuvamlal9 What's the latest commit you have on the `master` branch?

[2020-03-02 15:50] LaRiffle opened #3131 "Sigmoid in SMPC failing for some shapes"
**Describe the bug**
 Examples to illustrate:

Working
[code]
Not working
[code]
Error: `AssertionError: Must be batches of square matrices`

(same with `requires_grad=False`)

The error seems linked to tensor shape

[2020-03-02 15:54] AlanAboudib commented on #3131
It worked before by the way. Like a month ago

[2020-03-02 15:55] karlhigley commented on #3131
Might need to add a test for this.

[2020-03-02 16:37] imskr commented on #2279
@LaRiffle Is anyone working on this?

[2020-03-02 17:08] karlhigley commented on #2903
Working with @Jasopaum to define an updated path forward for Protocols. Will open a new issue with our checklist.

[2020-03-02 17:08] #2903 closed

[2020-03-02 17:12] karlhigley commented on #3008
From a conversation with @Jasopaum, we're planning to start working on this and have a preliminary checklist of steps forward to get us started:
- [ ] Extract ComputationAction from OperationMessage
- [ ] Create Action base class
- [ ] Create CommunicationAction class
- [ ] Create a Role class (possibly w/ a worker inside?)
- [ ] Create a Protocol class (w/ building and tracing like Plans)
- [ ] P

[2020-03-03 04:12] Amberwangsiwen commented on #3129
I just retried MNIST example with batchsize==512 and federate_after_n_batch==20, and after several rounds, it came up with ''future: <Future finished exception=ConnectionClosedOK('code = 1000 (OK), no reason',)'' and ''websockets.exceptions.ConnectionClosedOK: code = 1000 (OK), no reason'' again. Seems that it's sth. with the data size.

[2020-03-03 08:40] adventuroussrv commented on #3042
Part 3 PR #3133

[2020-03-03 09:29] b02202050 commented on #3101
Is there any reply of this question?
Thanks @klize  for pointing out the question so clear than my post (https://github.com/OpenMined/PySyft/issues/2901)

[2020-03-03 09:58] mccorby opened #3134 "Remove ZSTD"
**Is your feature request related to a problem? Please describe.**
ZSTD is used for compression in our serde process. However we don't need extra compression as we move to Protobuf.
ZSTD is usually a source of problems when installing PySyft with different hacks to solve it.

**Describe the solution you'd like**
Remove ZSTD dependency.
This will require removing the tests and its use in serde.

**

[2020-03-03 10:43] r0cketr1kky commented on #3134
Hi @mccorby , I would like to work on this.
So, I guess I would need to remove the ZSTD functionalities in the test folder right? Is that it? Or do I need to remove ZSTD from the compression.py file in `PySyft/syft/serde/` too?

[2020-03-03 12:50] hericlesme commented on #3099
Great, guys. I'm thinking of creating a slack channel for this issue. It is even better to discuss it there too. What do you think? :slightly_smiling_face:

[2020-03-03 13:09] michalk8 commented on #3111
Hey @H4LL ,
my name's Michal, I'm a Master's student from Prague and I'd be very interested in working on this project. I have both school- and work-related knowledge of PyTorch and consider myself rather privacy minded. That's why when I first heard of PySyft (through one of Andrew Trasks' lecture) I had found it very cool and appealing. Looking forward to contribute!

[2020-03-03 14:54] karlhigley commented on #3134
We'll probably [still want compression](https://eng.uber.com/trip-data-squeeze-json-encoding-compression/) with Protobuf, but we can probably use zlib instead of zstd (if that's any easier to install.)

[2020-03-03 15:12] mccorby commented on #3134
Could we proceed with two steps? First remove ZSTD, then add another compression tool?

[2020-03-03 15:52] karlhigley commented on #3134
Sounds good to me!

[2020-03-03 16:07] TTitcombe commented on #3054
@BBloggsbott I would say no `-m` as it adds a lot of text and may make somebody thing they _need_ your computer architecture for it to run.

Also, now I'm not sure that we should include the time. Date + hash is enough information to work out the state of the codebase when the tutorial was last edited. Including time + timezone will only add confusion, especially if notebooks get updated by people

[2020-03-03 16:28] nvw1 commented on #2781
Hi, I am a native speaker and would be happy to help out and translate further parts. What is the current state?

[2020-03-03 17:21] ucalyptus commented on #3042
@adventuroussrv @jabertuhin All notebooks done?

[2020-03-03 17:24] ucalyptus commented on #3111
@H4LL PySyfter here.
Have contributed to some of the tutorial translations.
Would be good to go once I get a deep dive into the library.

[2020-03-03 23:34] SanaAwan5 opened #3138 "Transfer Learning using PySyft"
I am trying to implement transfer learning via feature extraction by modifying the tutorial "Part 12 bis: Encrypted Training on MNIST". I use mobilenet_v2 pretrained on ImageNet by importing the pretrained model from torchvision.models.mobilenet_v2. I replace the final classifier layer so that it works for the 10 classes from MNIST as follows:
model.classifer = nn.Linear(1280,10).
 I get the follo

[2020-03-04 08:38] BBloggsbott commented on #3054
Okay.  I 'm having some issues with the openmined's hook with pytorch. I shared it in slack.

[2020-03-04 09:02] newne commented on #2971
I had the same error. but it worked in notebook.

[2020-03-04 11:16] mccorby commented on #3134
@r0cketr1kky : Ideally, ZSTD should be removed from any place where it's used. This should include:
- Production code
- Tests
- Requirement files

[2020-03-04 12:34] H4LL commented on #3111
replied to this on slack

[2020-03-04 12:35] H4LL commented on #3111
Sure, get in touch on slack if you want to give something a bash!

[2020-03-04 12:36] H4LL commented on #3111
Sure, reach out on slack @Adam J Hall

[2020-03-04 21:58] vvmnnnkv commented on #2994
It seems initial thinking was that Plan with list of operations will be traced with torch.jit.trace.
The question is, do we need same Plan protobuf type to (be able to) hold both versions of Plan or it's fine to have ops list plan to be syft_proto.execution.v1.Plan and torchscript version to be syft_proto.types.torch.v1.ScriptModule?

[2020-03-05 13:28] iamtrask opened #3141 "FLOptimizer"
**Is your feature request related to a problem? Please describe.**
Some optimizers (such as Adam) do not work with Federated Learning by default because they maintain a list of the N recent gradietns in a cache. For example, take this demo (https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%2002%20-%20Intro%20to%20Federated%20Learning.ipynb) and replace the optimizer with Adam

[2020-03-05 13:31] roshray commented on #3141
I will like to take this @iamtrask .

[2020-03-05 13:32] gmuraru commented on #3141
Thank you! I assigned you @roshray :D

[2020-03-05 13:34] iamtrask commented on #3141
@roshray please DM me on slack when you're done - we have someone who needs this feature asap

[2020-03-05 13:36] roshray commented on #3141
Sure @iamtrask

[2020-03-05 14:45] cereallarceny commented on #2994
I would imagine we can do this conversion on the fly in PyGrid and avoid
storing it twice on protobuf.  If it doesn't take long to run the plan
through the JIT compiler then I say that we do that.  Protobuf can only
have the one true value, and then when we host a plan on PyGrid then it
runs the compiler, splitting the plan into two versions and storing each
separately.  Go ahead and do this Vova

[2020-03-05 16:54] karlhigley commented on #2994
I'd probably make the JIT compiled version a field of type `syft_proto.types.torch.v1.ScriptModule` on the `Plan` schema, because I'm not sure that the Torchscript will contain 100% of the information required to make Plans work. (It will definitely contain all the information required to run the computations in the Plan, but handling inputs/outputs/ids/etc isn't necessarily part of that.)

[2020-03-05 17:17] vineetjai commented on #3111
Hi @H4LL,
I am Vineet Jain, a final year undergraduate student at IIT Kharagpur. I had experience in DL, TensorFlow, PyTorch, and PySyft. I had done my past summer internship in Federated Learning Project(where I had implemented FL on Raspberry pi's (as clients' server) using PySyft ) where I had used PySyft, Tensorflow federated learning, and Tensorflow Federated Core. I am interested in the PySy

[2020-03-05 17:19] vineetjai commented on #3097
Hi @youben11
   I am Vineet Jain, a final year undergraduate student at IIT Kharagpur. I had experience in DL, TensorFlow, PyTorch, and PySyft. I had done my past summer internship in Federated Learning Project(where I had implemented FL on Raspberry pi's (as clients' server) using PySyft ) where I had used PySyft, Tensorflow federated learning, and Tensorflow Federated Core. I am interested in th

[2020-03-05 17:23] vineetjai commented on #3098
Hi @gmuraru
I am Vineet Jain, a final year undergraduate student at IIT Kharagpur. I had experience in DL, TensorFlow, PyTorch, and PySyft. I had done my past summer internship in Federated Learning Project(where I had implemented FL on Raspberry pi's (as clients' server) using PySyft ) where I had used PySyft, Tensorflow federated learning, and Tensorflow Federated Core. I am interested in PySyft

[2020-03-05 17:24] vineetjai commented on #3104
Hi @Benardi
I am Vineet Jain, a final year undergraduate student at IIT Kharagpur. I had experience in DL, TensorFlow, PyTorch, and PySyft. I had done my past summer internship in Federated Learning Project(where I had implemented FL on Raspberry pi's (as clients' server) using PySyft ) where I had used PySyft, Tensorflow federated learning, and Tensorflow Federated Core. I am interested in PySyft

[2020-03-05 17:25] vineetjai commented on #3100
Hi @Jasopaum
I am Vineet Jain, a final year undergraduate student at IIT Kharagpur. I had experience in DL, TensorFlow, PyTorch, and PySyft. I had done my past summer internship in Federated Learning Project(where I had implemented FL on Raspberry pi's (as clients' server) using PySyft ) where I had used PySyft, Tensorflow federated learning, and Tensorflow Federated Core. I am interested in PySyf

[2020-03-05 17:25] vineetjai commented on #3108
Hi @LaRiffle
I am Vineet Jain, a final year undergraduate student at IIT Kharagpur. I had experience in DL, TensorFlow, PyTorch, and PySyft. I had done my past summer internship in Federated Learning Project(where I had implemented FL on Raspberry pi's (as clients' server) using PySyft ) where I had used PySyft, Tensorflow federated learning, and Tensorflow Federated Core. I am interested in PySyf

[2020-03-05 18:08] gmuraru commented on #3098
Hello. Glad to see you are interested in the project :).

As a community, we are using the slack channel from [here](https://openmined.slack.com/) (it is a faster way to communicate).

I think some issues that are marked with ```good first issue``` will help you get more accustomed to the codebase. Also, another great resource to learn more about PySyft are the tutorials -- they can be found in th

[2020-03-05 18:10] cereallarceny commented on #2994
That works for me!

On Thu, Mar 5, 2020 at 4:54 PM Karl Higley <notifications@github.com> wrote:

[2020-03-05 22:45] vineetjai commented on #2781
@iamtrask I had opened pull request #3144 for Tutorials in german please review it.

[2020-03-06 00:19] klize opened #3145 "Can I define my own fitting algorithm ?"
To run a federated learning with `WebsocketClientWorker` and `WebsocketServerWorker` with `_fit` method in FederatedClient.py, I want to additional steps in it.

Here is the method implementation
[code]

Since DataLoader must be defined on server side to run a federated learning system with socket workers and i am not able to get a kind of pointers of batches from client side for now, I am suppose

[2020-03-06 01:58] iamtrask commented on #3008
Can't wait to see progress on this one!

On Mon, Mar 2, 2020 at 5:12 PM Karl Higley <notifications@github.com> wrote:

[2020-03-06 07:02] Samveed commented on #2771
Does this now allow the Federated Learning with Encrypted Gradient Aggregation tutorial to work? Or is it that we need to add some additional piece of code along with the already existing modules?
Sorry, I was not able to follow the above discussion clearly.

[2020-03-06 10:16] rimijoker commented on #3134
Hey, @mccorby I would like to work on this, is this issue taken up by someone?

[2020-03-06 10:39] iamtrask commented on #2771
I don't think the work was completed - I'm currently working on it as a
part of Syft 0.4 but that won't be out for a bit.

On Fri, Mar 6, 2020 at 7:02 AM Samveed <notifications@github.com> wrote:

[2020-03-06 12:18] gmuraru commented on #3131
I can take it @LaRiffle

[2020-03-06 18:33] refactormyself commented on #3134
@r0cketr1kky are working on this?

[2020-03-06 19:51] nin-ed commented on #3111
Hi @H4LL
I am Edwin Toppo, an undergraduate student from India. I have experience in Deep Learning and Pytorch, and have implemented in projects. I've acquired basic knowledge of federated learning and split NNs and I'm still working on it. I am interested to work along, and looking forward to contribute in this project.

[2020-03-06 19:56] nin-ed commented on #3108
Hi @LaRiffle
I'm interested in contributing towards this project.

[2020-03-06 20:49] alejandrosame commented on #2771
Hi!

Indeed, this task is not completed yet. The main block I found out has been the use of NumPy in the codebase itself, which has lead me to weird bugs while trying to subclass ndarray.

I'll keep on studying the code and the proper use of ndarray subclassing for Syft, but I am currently on a break from this task.

[2020-03-06 22:56] J-Yash opened #3151 "ERROR while syft[udacity] installation via pip in conda env"
**Describe the bug**
While installing pysyft via `pip install syft[udacity]` in a conda env, an error regarding tensorflow is generated.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run: `pip install syft[udacity]` according to the README.md instructions.

**Desktop (please complete the following information):**
 - OS: [linux ubuntu 18.04]

[2020-03-06 23:47] J-Yash opened #3152 "Installation error: invalid command 'udacity'"
**Describe the bug**
While installing pysyft according to steps in INSTALLATION.md, running `python setup.py install udacity` gives `error: invalid command 'udacity'`.

**To Reproduce**
Steps to reproduce the behavior:
1.Follow instructions in INSTALLATION.md to install PySyft for Linux.
2. run `python setup.py install udacity`

**Desktop (please complete the following information):**
 - OS: [linu

[2020-03-07 00:16] hericlesme opened #3153 "[EPIC] Create PyGrid Client"
### Context

Based on the [Federated Learning Roadmap](https://github.com/OpenMined/Roadmap/blob/master/web_and_mobile_team/projects/federated_learning.md) (specifically in [Section 3 - Host](https://github.com/OpenMined/Roadmap/blob/master/web_and_mobile_team/projects/federated_learning.md#3-host)), *"[...] The developer needs to connect to an existing PyGrid gateway and send the model, various w

[2020-03-07 00:30] J-Yash commented on #3151
After tinkering with it for a while, I found that it was not working because Python 3.8 was installed in my conda env. Tensorflow(according to docs) is available only for python 3.5-3.7 and hence pip cannot find it if Python 3.8 is installed. So, I would recommend installing python 3.7 in the virtual environment and then running the syft installation command.

[2020-03-07 00:30] #3151 closed

[2020-03-07 01:30] XuebinMa commented on #2782
@iamtrask  I would like to translate the tutorials into Chinese, please open a new issue if it is possible.

[2020-03-07 03:20] r0cketr1kky commented on #3134
Yes, I am working on it. Would be great to get some help though. You can
reach out to me on Slack @RakshitNaidu

On Sat, Mar 7, 2020 at 12:03 AM Bolarinwa Saheed Olayemi <
notifications@github.com> wrote:

[2020-03-07 04:41] karlhigley commented on #3008
@iamtrask See #3132.

[2020-03-07 10:25] refactormyself commented on #3134
@r0cketr1kky sorry, a PR was approved on this issue. I think you can still check it and review if you have some suggestions. Would you work on adding zlib? @karlhigley kind of indicated that it will be a good replacement.
Since you have started working on this, adding zlib should be easy. Let me know so I'll stop working on it.

[2020-03-07 11:16] cereallarceny commented on #3153
Looks good to me @hericlesme !  By no means do I want to "reinvent the wheel" though. If we already have a similar way to connect to PyGrid from PySyft, then we should use that method. There's no reason to invent a whole new client for working with PyGrid from PySyft if we already have one.

If we don't already have one, go ahead with this!

[2020-03-07 12:01] hericlesme commented on #3153
What we currently have are workers, if you notice, we no longer have the `WebsocketGridClient` in `syft/grid`. And I think that in terms of functionality, it makes sense to separate from workers. It is not reinventing the wheel. There's already enough that we can reuse, but I thought it best to put it with a new client.

[2020-03-07 12:02] hericlesme commented on #3153
We have workers who connect with Grid Nodes. Now we'll have a client that connects to the Grid Gateway. Does that makes sense?

[2020-03-07 12:04] sahiljit commented on #3099
Hey guys,
I am pursuing B.Tech from Unversity of Delhi and fully interested in contributing to this project. I also have started working on this.

[2020-03-07 12:06] sahiljit commented on #3099
Hey guys,
I am pursuing B.Tech from University of Delhi and am fully interested in contributing to this project. I have also started working on this.

[2020-03-07 16:01] r0cketr1kky commented on #3134
Not sure about how to add zlib to this. You can continue with this, I shall
drop out due to some other work.

On Sat, 7 Mar 2020 at 3:55 PM, Bolarinwa Saheed Olayemi <
notifications@github.com> wrote:

[2020-03-07 17:53] codeboy5 commented on #3104
Hi @Benardi I was interested in working on this. I have experience in DL, TF , Pytorch. I have gone through the tutorials and i am familiar with the codebase.

[2020-03-07 18:02] mari-linhares opened #3156 "Protocol abstraction currently expects an abstract worker along with the plans but this isn't needed"
The Prototype abstraction currently expects an abstract worker along with the plans:
```protocol = sy.Protocol([("worker1", inc1), ("worker2", inc2), ("worker3", inc3)])```

Instead, we could expect only a sequence o plans:
```protocol = sy.Protocol((inc1, inc2, inc3))```

And assume that the protocol should be **explicitly** built (like plans).

This is cleaner and easier to understand for develo

[2020-03-07 18:06] mari-linhares opened #3157 "Clean up tutorials folder"
Ideally, I think we should keep only 3 folders on examples (data, experimental, tutorials)
https://github.com/OpenMined/PySyft/tree/master/examples.

Other folders should be moved to tutorials specific folders.

[2020-03-07 20:33] guptakhil12 commented on #2259
With conda environment on Mac, I found this to be useful for installing zstd, and ultimately using PySyft.

https://github.com/sergey-dryabzhinsky/python-zstd/issues/33#issuecomment-527252753

1. Change the gcc-version to a recent one:
`export CC=/usr/local/Cellar/gcc/9.2.0/bin/gcc-9
export CFLAGS="-Wa,-q"`

2. Install zstd using pip.
**Note:** If you are using a conda environment, double-check th

[2020-03-08 00:06] Benardi commented on #3104
@codeboy5  and those interested please join the [Openmined Slack](https://openmined.slack.com/messages/team_pysyft), and contact me over there (username Benardi Nunes).

[2020-03-08 03:31] libratiger commented on #2510
since the hard part is step 4. Is there any detail arch for this part?

[2020-03-08 12:25] kouohhashi commented on #3001
I have same issue.

I seems the problem was already fixed at https://github.com/OpenMined/PySyft/pull/2990 .
But still I could not how to avoid this error...

[2020-03-08 13:35] mari-linhares opened #3160 "Framework agnostic support for PySyft - TensorFlow"
## Framework agnostic support for PySyft - TensorFlow

**Mentor**: Marianne Monteiro (mari-linhares)

PySyft functionalities are mostly built on top of Pytorch, but ideally, PySyft should be completely framework agnostic. This meaning that all operations executed with PySyft should not depend on the framework that the actual low-level operations are being executed with.

In this project, you will

[2020-03-08 16:01] hskang9 commented on #3097
@youben11 is the port result can be rust code which is compiled to wasm?

[2020-03-08 16:09] LaRiffle commented on #2259
For information, #3150 removes zstd so starting from the next release there won't be these kinds of problems 🎉

[2020-03-08 16:27] LaRiffle commented on #3108
Hey everyone!
Thanks for your interest :)
Please join the slack channel #gsoc_functional_encryption to continue the discussion there :)

[2020-03-08 16:55] youben11 commented on #3097
@hskang9 the project should be implemented in Python.

[2020-03-08 17:01] Kriyszig commented on #3156
Can I give this a try?
If I'm not wrong, the starting point is [here](https://github.com/OpenMined/PySyft/blob/7dc983865a8db7e51918b44bff44ac0ba82b120a/syft/execution/protocol.py#L42) (syft/execution/protocol.py)

I would like to clarify one small thing however,
* Are we accepting the plans as just a `tuple` or both `tuple` and `list`? Will both of the below example work or just one?
[code]

Thank

[2020-03-08 20:12] karlhigley commented on #3156
Heads up that there's a rework of Protocols underway in #3008. This looks like a good change though, so go for it!

[2020-03-08 21:04] vvmnnnkv commented on #2994
Should it be oneOf with existing operations and state fields? I.e. does it makes sense to store both operations/state and torchscript at the same time in one Plan? I see it may be beneficial for storage, but not for sending. For example, PySyft might make Plan with both ops and torchscript and send it to PyGrid, but PyGrid would deserialize, remove one unneeded part, serialize back before sending

[2020-03-08 21:25] karlhigley commented on #2994
`oneof` would prevent us from storing both formats, so it seems like they should be separate fields, but Grid could remove one or the other when sending to save bandwidth.

[2020-03-08 21:34] imraniac commented on #3104
Hi, My name is Imran Alam, I m an undergraduate student from Jadavpur University. I am interested in working on this project.

[2020-03-08 22:22] ratmcu opened #3163 "Querying dimensions remotely and modifying remote tensors."
I was working on the BERT for an NER classification and my model has a froward pass as below. and my model is already being sent to the remote worker.
[code]

I cannot create a tensor remotely with the dimensions of another tensor situated in the remote worker without calling a get() on the aforementioned tensor.
eg: in forward pass of the model ``` seq_length = input_ids.size(1)```  here ```seq_l

[2020-03-08 23:27] shaanrockz commented on #3104
Hi, Shahnawaz Alam here, graduate student from RWTH Aachen University germany. I am also interested to work on this project. I tried joining the link above but I suppose I cannot join with my old slack account. Its showing "Contact the workspace administrator for an invitation" @Benardi

[2020-03-09 01:07] ratmcu commented on #3141
is this issue fixed? or @roshray still working on it?

[2020-03-09 01:16] thehimalayanleo commented on #3141
I would like to work on this issue @iamtrask, if it's still open. Do you want to work on this together @ratmcu?

[2020-03-09 02:09] rimijoker commented on #3141
Can I take up this issue?

[2020-03-09 07:51] gmuraru commented on #2292
@youben11 do you have any idea if this is working?

[2020-03-09 07:53] gmuraru commented on #3157
This issue can be closed, right?

[2020-03-09 10:40] imskr commented on #3160
I would like to work on this!

[2020-03-09 11:26] cereallarceny commented on #2994
Let's avoid `oneof` then. Go ahead with the proposed solution @karlhigley!

[2020-03-09 11:53] cereallarceny commented on #3153
Yep!  All good.  Move ahead.

[2020-03-09 14:09] youben11 commented on #2292
I was working on it and had many issues that would have been resolved over time, so I postponed the work for later but couldn't get back till now. Nothing that works, only a dirty branch [here](https://github.com/youben11/PySyft/tree/pysyft-worker-docker)

[2020-03-09 16:10] vineeth14 commented on #2744
Hey, I'd love to work on this issue

[2020-03-09 16:40] JameerBabu commented on #2744
@gmuraru It was assigned to me and I started working on it.

[2020-03-09 16:41] JameerBabu commented on #2744
@vineeth14 .. I am working on it .. please take some other issue.

[2020-03-09 17:07] karlhigley commented on #2744
Could whoever has code (even if it's partial or not working yet) push a WIP PR and link it to this issue? It's hard for the maintainers to tell whether people are still working on something unless we can see code being written. 😄

[2020-03-09 17:21] JameerBabu commented on #2744
@karlhigley then why there is a system which assigns to some one. If you could have told this well before, I wouldn't have waited. I could've started working on the day I requested.

[2020-03-09 17:34] karlhigley commented on #2744
We do try to use the assignment system to signal that an issue has been claimed. It's just that sometimes we assign an issue and whoever has claimed it gets busy with other things and never pushes code. It's not uncommon for an issue to be assigned to 2 or 3 people in sequence and still never end up with a PR. So, we tend to err on the side of having too many people working on something than too f

[2020-03-10 12:23] karlhigley opened #3171 "Run tutorials for each language sequentially in a shared file system"
**Is your feature request related to a problem? Please describe.**
Some of the tutorials depend on the output of other tutorials in order to run successfully. The PySyft test suite uses an isolated file system for each notebook test, preventing those tutorials from running successfully as part of our automated test suite.

**Describe the solution you'd like**
Change the test suite to run the tutor

[2020-03-10 12:46] #3171 closed

[2020-03-10 13:26] karlhigley commented on #3171
This is a real problem, but it turns out that the affected notebooks would still be broken for other reasons.

[2020-03-10 16:06] fermat97 commented on #3087
Hi, I have installed `msgpack 1.0.0`, but still got error, once trying to `loss.get()`. I have my workers on different machines.

[2020-03-10 17:29] fermat97 opened #3174 "UnicodeDecodeError trying to get the loss back"
I am running the [mnist-federated-learning tutorial](https://github.com/OpenMined/PySyft/tree/master/examples/tutorials/advanced/websockets-example-MNIST) on two separate machines. Once I try to get the loss back in  `train_on_batches` function of [run_websocket_client script](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/advanced/websockets-example-MNIST/run_websocket_client.

[2020-03-11 15:34] avinath1998 opened #3180 "Runtime Error asking all parameters to have requires_grad=True"
**Describe the bug**
I'm trying to finetune a alexnet model and i've set the parameters except for the final layer of the model to requires_grad=False and have created a new classification layer with the desired outputs i want. However the .send() function keeps throwing a runtime error `RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn

[code]

[2020-03-11 17:22] datason commented on #2625
@gmuraru @LaRiffle
Is this issue valid?
I am going to solve if yes)

[2020-03-11 17:22] imskr opened #3181 "Add Codecov support on every PR"
**Is your feature request related to a problem? Please describe.**
A common practice in the modern developer's workflow is to test multiple build systems, split up tests in different containers, and group tests based on test focus (unit tests vs integration tests). Codecov is a tool that is used to measure the test coverage of your codebase. It generally calculates the coverage ratio by examining

[2020-03-11 17:23] imskr commented on #3181
I would like to add this feature.

[2020-03-11 21:22] imraniac commented on #3180
@avinath1998 If you are trying to change the whole **model.classifier** block, then your input dimension (which you put 2) is wrong. The input dimension of **model.classifier** should be **256*6*6**
refer: https://github.com/pytorch/vision/blob/master/torchvision/models/alexnet.py

[code]

[2020-03-11 21:40] avinath1998 commented on #3180
Oh shoot, i only added this as an example and didnt see that. Regardless, the error still comes up, ive updated the issue accordingly

[2020-03-11 22:08] imraniac commented on #3180
Have you still updated the issue with an example? Because it should be 256*6*6 and not 224

[2020-03-12 05:45] ERICPENGZ opened #3183 "KeyError: 'evaluate'"
**Describe the bug**

when I run PySyft/examples/tutorials/advanced/websockets-example-MNIST-parallel/run_websocket_client.py

/usr/local/lib/python3.7/site-packages/syft/workers/websocket_server.py:93: RuntimeWarning: coroutine 'WebsocketServerWorker._consumer_handler' was never awaited
  self._consumer_handler(websocket)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback
/

[2020-03-12 09:26] gmuraru commented on #2625
Tried the code @LaRiffle used in the description:
[code]
Gives back: ```tensor([1.])``` so I think we can close this one.

@datason thank you for offering to solve this issue :)

[2020-03-12 09:26] #2625 closed

[2020-03-12 09:49] gmuraru commented on #3181
@imskr could you update the issue description

[2020-03-12 10:23] LaRiffle opened #3184 "Improve Plans flexibility"
**Is your feature request related to a problem? Please describe.**
Plans currently don't work exactly as normal function in the following scenarios:
- if some inputs that are not used in the computations
- if some inputs that are not used and are given in the output
- if input/ouput contain nested objects like list or tuple

**Describe the solution you'd like**
We want to support this by default

[2020-03-12 10:33] avinath1998 commented on #3180
@imraniac updated accordingly, still doesn't the error occurs

[2020-03-12 11:11] fermat97 commented on #3174
I have realized that the value of `binary` as the input of `simple_objects = msgpack_lib.loads(binary, use_list=False)` is encoded as `windows-1252` (which is expected to be `utf-8`), and that is the reason it is unable to decode with `utf-8`. I am not sure but the reason might be the fact that I use the three different Ubuntu virtual machines (one server and two workers) on top of my `Windows` op

[2020-03-12 11:11] #3174 closed

[2020-03-12 11:55] hskang9 commented on #3097
ok thank you @youben11

[2020-03-12 16:35] isthatdebbiej commented on #2782
@iamtrask I would like to work on translation to Tamil.

[2020-03-12 16:35] imskr commented on #3181
@gmuraru Done.

[2020-03-12 18:51] tudorcebere commented on #3180
I will check this.

[2020-03-12 19:18] gmuraru commented on #3180
@tudorcebere, assigned you

[2020-03-13 02:19] #3129 closed

[2020-03-13 15:57] gmuraru commented on #3134
Sooo...who is working on this issue? @refactormyself @r0cketr1kky?

[2020-03-13 16:23] refactormyself commented on #3134
PR #3150 should have closed this issue

[2020-03-13 17:07] gmuraru commented on #3134
Then we can close this issue.

[2020-03-13 17:07] #3134 closed

[2020-03-13 18:01] gmuraru commented on #3091
@DanielMorales9 is this issue still present?

[2020-03-13 19:18] tudorcebere commented on #2621
Is this still open?

[2020-03-14 06:30] bicycleman15 commented on #3152
Were you able to install PySyft or not ?
If not then just try running
`python setup.py install`

[2020-03-14 06:36] bicycleman15 commented on #3152
I think udacity command also installs `tf_encrypted` besides core requirements.
That I think you can manually install in my opinion.

[2020-03-14 07:33] sachin-101 commented on #2864
Hi @LaRiffle
Please review the above PR. And let me know, If I need to make any further changes.

[2020-03-14 09:19] tudorcebere commented on #3184
I will have a look on this.

[2020-03-14 10:50] sachin-101 commented on #2448
@iamtrask I would like to take up this issue.

[2020-03-14 12:12] sachin-101 commented on #2448
I went through the code and found a method similar to the one mentioned by you.
Link: https://github.com/OpenMined/PySyft/blob/0561a5d21c1787afeeb9753a0487f0c91d38a07d/syft/generic/object_storage.py#L93
I also noticed that this issue occurs while working in jupyter notebook. So, if you need any more functionalities to be implemented, let me know.

[2020-03-14 12:13] DanielMorales9 commented on #3091
Hi @gmuraru, after following this it works fine.

[2020-03-14 13:34] imskr commented on #3019
Can I work on this issue @LaRiffle

[2020-03-14 14:17] #3091 closed

[2020-03-14 15:43] iamtrask commented on #2448
Anyone can work on this issue. @sachin-101 it looks like no-one has begun work. Feel free to jump in.

In the future it's better to simply say "I'm working on it" and then immediately create a 'work in progress" PR so we can see your current status. This also allows people to collaborate with you.

[2020-03-14 17:39] rimijoker commented on #3152
I think we should mention that you can install tf_encrypted using req_udacity.txt in the pip-dep folder, should I make changes in the INSTALLATION.md?

[2020-03-14 17:44] imskr commented on #3019
we need to downgrade the tornado

[2020-03-14 18:30] #3141 closed

[2020-03-14 20:43] mari-linhares commented on #3160
https://github.com/OpenMined/PySyft/pull/3158 this is super relevant for this project ;)

[2020-03-14 22:38] hazemessamm commented on #3111
Hi Adam, @H4LL

I'm Hazem Essam, I'm a Computer Science student at Arab Academy for Science, Technology and Maritime Transport, I would like to be considered for this project in GSoC. I have experience with Deep Learning, Federated Learning, Pytorch and TensorFlow and I took the Secure and Private AI course on Udacity.

I would like to start working on the project. Do you have any suggestions on h

[2020-03-15 11:31] #3019 closed

[2020-03-15 18:21] imskr commented on #2947
@karlhigley I would like to work on this, if no one is working.

[2020-03-15 18:28] karlhigley commented on #2947
@imskr There's already [a PR for it](https://github.com/OpenMined/PySyft/pull/2949), which I've been holding off on merging until I get a better handle on how we want to do versioning across the various Syft repos.

[2020-03-15 18:31] imskr commented on #2947
Okay.

[2020-03-15 19:02] imskr commented on #2524
Is this open to work?

[2020-03-15 22:06] rotalex commented on #3183
I will take a look

[2020-03-15 23:35] #2524 closed

[2020-03-15 23:35] karlhigley commented on #2524
Looks like this issue is outdated.

[2020-03-16 12:32] #3180 closed

[2020-03-17 05:58] sachin-101 opened #3207 "Inconsistency in remote_send and remote_get operations"
**Describe the bug**
The remote pointer operations, remote_get and remote_send work fine together, but break when used in a sequence. Found this issue while working on #2864

**To Reproduce**
[code]

**Output**
[code]

**Expected behavior**

The remote_get and remote_send operations are Pointer Chain Operations and intuitively should
- remote_get: call .get() on the last pointer in chain, move ten

[2020-03-17 07:45] sachin-101 commented on #2864
@LaRiffle Can you please review the above issue. And provide me some advice so that I will try solving it.

[2020-03-17 10:53] iamtrask commented on #2448
That method is similar but it's on the worker. We need am method on a
PointerTensor :)

On Sat, Mar 14, 2020 at 12:13 PM Sachin Kumar <notifications@github.com>
wrote:

[2020-03-17 12:35] eceisik opened #3208 "Setting requires_grad as True in Pysyft/examples/tutorials/Part 02 - Intro to Federated Learning.ipynb"
**Describe the bug**

In the file: Pysyft/examples/tutorials/Part 02 - Intro to Federated Learning.ipynb

Only the weights are needed to be updated. Why did we set requires_grad as True for x and y? I think it can be confusing for beginners.

data = torch.tensor([[0,0],[0,1],[1,0],[1,1.]], requires_grad=True)
target = torch.tensor([[0],[0],[1],[1.]], requires_grad=True)

[2020-03-17 12:49] aditya-malte commented on #2070
Any solutions yet?

[2020-03-17 13:13] fermat97 commented on #3063
@Dhrumilsoni I have tried with the master and I think the bug has been fixed and it works now.

[2020-03-17 13:23] eceisik opened #3209 "No module named 'syft.federated.floptimizer'"
**Describe the bug**
When I try to run PySyft/examples/tutorials/Part 02 - Intro to Federated Learning.ipynb
(https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%2002%20-%20Intro%20to%20Federated%20Learning.ipynb), I get this error:

ModuleNotFoundError: No module named 'syft.federated.floptimizer'

**To Reproduce**

torch version:1.4.0
syft version: 0.2.3

[2020-03-17 14:02] punitvara commented on #3152
@J-Yash  PR got merged. If this issue is resolved, it should not be opened anymore

[2020-03-17 14:13] #3152 closed

[2020-03-17 14:14] rimijoker commented on #3209
@eceisik Please follow this INSTALLATION.md, that should fix the issue for you.

[2020-03-17 14:22] karlhigley commented on #3063
Fixed in master and should work in the next release.

[2020-03-17 14:22] #3063 closed

[2020-03-17 14:26] karlhigley commented on #3208
@eceisik Send a PR that fixes it? 😄

[2020-03-17 14:29] karlhigley commented on #3208
Could be related to #3180

[2020-03-17 14:58] karlhigley opened #3210 "Add Thread workers to stop having a remote virtual worker calling torch.ones() and have the result registered in the local_worker"

[2020-03-17 15:13] karlhigley commented on #3209
We'll need to release a new version to address that. Coming soon!

[2020-03-17 18:06] Hassamriaz commented on #2259
I have installed gcc using conda and updated it to 4.8 but things did work on MacOS Mojave 10.14.6.

The solution mentioned by in  [#python-zstd](https://github.com/sergey-dryabzhinsky/python-zstd/issues/33#issuecomment-527252753) and @guptakhil12 works for me with a little modification. You just need to install the gcc using brew (if not installed) before exporting the new path.

[2020-03-17 20:04] LaRiffle commented on #3210
Hahah this issue was created by **frustration**! :D
But I agree so much with you!

[2020-03-17 20:08] LaRiffle opened #3212 "Enhance encryption API"
Two features here:

- Make `crypto_provider` kwargs mandatory in `.share()`and check that it's not a client_worker
- Modify `.encrypt()` to add a kwarg and be used not only for Paillier encryption but only MPC (default should be MPC,  and it should call for mpc .fix_prec(...).share(...)  under the hood)

[2020-03-17 20:59] jon-chuang commented on #3100
Hi, what is the movement like on this issue? Could there be an elaboration on the potential use-cases? For instance, is ZK to be used wrt to MPC protocols? Is one to use interactive challenges or SNARKs? Or is this meant to be a standalone system? What are the design goals? For instance, ZK could introduce about ~1000x computational overhead, although for good schemes, communication and verificati

[2020-03-17 23:06] nin-ed commented on #3212
I can try the first part.

[2020-03-17 23:33] LaRiffle opened #3214 "Fix parameter serialization"
In some situations, parameters are not serialized properly. I suspect this is due to our implementation of parameter.data

Here is one example:
[code]
Output
[code]

[2020-03-18 01:56] shuvamlal9 commented on #3112
@karlhigley I have **commit 7d61c7** on my master branch. Previously, I wrote a simple article for installing pysfyt and get get rid of zstd error [(here)](https://medium.com/secure-and-private-ai-writing-challenge/installing-pysyft-package-ffa1ff0ad83c), but that doesn't seem to work now.

[2020-03-18 02:40] AshwinRam2000 commented on #3212
I can take this up

[2020-03-18 07:41] realsidg commented on #3111
Hi @H4LL ,

I'm Siddharth Garg, a Computer Science Sophomore from VIT University (Institute of Eminence), India. I am interning as a Computer Vision Engineer at FindMind Analytics. I have a specialization in Deep Learning from deeplearning.ai. As well as a professional certification from IBM in Applied AI. I have worked with Python, PyTorch, Tensorflow and a few other deep learning libraries.

I w

[2020-03-18 09:01] iamtrask commented on #2070
Yes - the solution was the FL Optimizer project. We can close this issue.

On Tue, Mar 17, 2020 at 12:49 PM Aditya Malte <notifications@github.com>
wrote:

[2020-03-18 10:27] aditya-malte commented on #2070
Could you give a link please?

[2020-03-18 11:30] #3208 closed

[2020-03-18 11:31] LaRiffle opened #3217 "Move or remote_send should change ids"
As a conveniency, we've kept the same id when moving remote objects (using `.move()` or `remote_send()`) . Note that it's not the case when you send an object using `.send()` and we'd like to replicate this behaviour to avoid strange collisions that might happen.

Wait for #3083 to be merged before addressing this.

[2020-03-18 13:16] karlhigley commented on #3210
We've had it on the Syft Core board ever since, and decided yesterday that it makes sense to tackle it with @iamtrask's work on the longer-term future of tensor types as part of v0.4. (Meanwhile, the rest of us are mostly working on sorting out remote execution for v0.3.)

[2020-03-18 13:46] karlhigley commented on #3112
Ah, okay! That's from a few weeks ago, before v0.2.3 was released. I'm about to release v0.2.4 in the next day or two, so you can do one of these things:
* Update your master branch to the latest commit on the main repo (currently `784cd9df`)
* Install v0.2.3 (and the corresponding version of `syft-proto` listed in the requirements file)
* Install v0.2.4 (once it's released)

[2020-03-18 14:50] stephenjfox commented on #2897
@ADMoreau Are you still working on this?
@iamtrask is this still relevant?

[2020-03-18 15:50] karlhigley commented on #3209
@eceisik @rimijoker Just released v0.2.4, which should address this issue. Let me know if upgrading works for you!

[2020-03-18 15:51] karlhigley commented on #3102
Should be fixed by recent releases (v0.2.3 or v0.2.4.)

[2020-03-18 15:51] #3102 closed

[2020-03-18 15:53] karlhigley commented on #3112
@shuvamlal9 Just released v0.2.4. Let me know if that works for you!

[2020-03-18 18:16] andrijdavid commented on #3138
I will take a look at it.

[2020-03-18 18:28] ADMoreau commented on #2897
No, I'm not working on this.

[2020-03-18 18:30] rotalex commented on #3214
I can take a look

[2020-03-18 18:39] rotalex commented on #3183
Hey @ERICPENGZ
I could not reproduce your problem. I ran the following commands in a docker container and everything worked fine:
python start_websocket_servers.py
python run_websocket_client.py

Could you try to pull the latest master and retest?

[2020-03-18 21:19] #3000 closed

[2020-03-19 00:59] suhacker1 commented on #2512
@kakirastern Hi. Are you still working on this?

[2020-03-19 01:01] kakirastern commented on #2512
@suhacker1 No, not anymore.

[2020-03-19 04:42] vineetjai commented on #2744
@karlhigley I started working on this. Assign it to me.

[2020-03-19 08:05] #2670 closed

[2020-03-19 15:45] karlhigley commented on #2512
@suhacker1 We're in the process of migrating from msgpack to Protobuf in part to improve performance, so optimizing msgpack might not make sense any more. Happy to help you get started working on Protobuf if you want though.

[2020-03-19 16:10] eceisik commented on #3209
I followed the installation.md for windows
I only needed to change installation part of torch as below:

pip install torch===1.4.0 torchvision===0.5.0 -f https://download.pytorch.org/whl/torch_stable.html

It worked.
Thank you for help

[2020-03-19 16:10] #3209 closed

[2020-03-19 19:10] youben11 opened #3228 "Update our custom crypten load to only wrap the original one"
**Is your feature request related to a problem? Please describe.**
We can't track updates to crypten.load and update our custom one.

**Describe the solution you'd like**
As CrypTen has introduced a [new way](https://github.com/facebookresearch/CrypTen/pull/53) to load cryptensors, we can now only wrap around their function while loading tensors using their tags.

**Additional context**
This might

[2020-03-19 19:11] meryemJanatiIdrissi commented on #2498
+1

[2020-03-19 22:54] fsonntag commented on #2070
@aditya-malte
https://github.com/OpenMined/PySyft/issues/3141
https://github.com/OpenMined/PySyft/pull/3179/files

[2020-03-20 08:57] KevinMathewT commented on #3097
Hi @youben11, I believe this project is available for GSoC, I know I'm a little late but I would like to ask if this one is already assigned, because I'm interested in working on this one.

[2020-03-20 10:07] LaRiffle commented on #3112
_(Maybe not the good place but this a feedback I just got)_
**For Windows Users**
Install Microsoft VIsual C++ 14.0 first helps a lot

[2020-03-20 12:31] youben11 commented on #3097
Hi @KevinMathewT, applications are still open for GSoC.

[2020-03-20 15:50] theparanoidprogrammer commented on #3104
Hi @Benardi

Its asking for a username and password. I dont have an account in that workspace, can you send an invite link please. Thanks.

[2020-03-20 15:53] theparanoidprogrammer commented on #3104
Hello @Benardi . Im currently a Computer Science Junior at LUMS Pakistan. I have experience with Deep Learning,and network Security. I would love to work on this project. Looking forward to being guided by you. Can you please give me an invite link to the Slack platform. Thanks.

[2020-03-20 16:32] Benardi commented on #3104
@theparanoidprogrammer

[2020-03-20 17:19] theparanoidprogrammer commented on #3104
![Screenshot (95)](https://user-images.githubusercontent.com/47157583/77188898-8ab87700-6af8-11ea-8934-c23ea1945a80.png)
its asking for a username and password? i dont have an openmined email. im unable to join the slack :(
@Benardi

[2020-03-20 17:20] theparanoidprogrammer commented on #3104
Thanks :) just joined

[2020-03-20 23:04] shuvamlal9 commented on #3112
Thanks @karlhigley, v0.2.4 seems to work. Thanks a lot for the help.

[2020-03-20 23:04] #3112 closed

[2020-03-21 11:56] TTitcombe commented on #3054
Hey @BBloggsbott the messages in Slack are temporary. Could you post it here / message me on Slack so I could take a look

[2020-03-21 13:56] #2500 closed

[2020-03-21 13:57] LaRiffle opened #3231 "BatchNorm is currently not supported for SMPC"
We'd love to have BatchNorm support for SMPC :)

[2020-03-21 13:58] imskr commented on #3231
I would like to fix this!

[2020-03-21 13:58] LaRiffle commented on #3231
Sure go ahead :)

[2020-03-21 14:00] LaRiffle opened #3232 "Softmax and Log Softmax and not supported in SMPC"
Infos about this functions:

⚠️ Beware of numerical stabililty when using exponentials! Suggested reading: https://timvieira.github.io/blog/post/2014/02/11/exp-normalize-trick/

### Softmax
![Capture d’écran 2020-03-21 à 15 01 44](https://user-images.githubusercontent.com/12446521/77228063-f8aa8000-6b84-11ea-813a-a2e484bf0697.png)
https://pytorch.org/docs/stable/nn.html#softmax

### Log Softmax

[2020-03-21 14:01] bicycleman15 commented on #3232
Can I take this ?

[2020-03-21 14:04] LaRiffle commented on #3232
Sure go ahead :)

[2020-03-21 14:08] LaRiffle opened #3233 "NLLLoss is not supported in SMPC"
We'd like support for the negative log likelihood loss in SMPC.

The Negative Log Likelihood Loss (or Cross Entropy Loss)  is the most common setting for classification problems with C classes. It increases as the predicted probability diverges from the actual label.

Details here: https://pytorch.org/docs/stable/nn.html#nllloss

[2020-03-21 14:43] #3181 closed

[2020-03-21 15:19] codeboy5 commented on #3233
I would like to take up this issue

[2020-03-21 15:42] johnnylin110 commented on #2498
Is this bug solve? I have the same problem
even use the pytorch resnet (model= torchvision.models.resnet34(pretrained=False).to(device))can't train

[2020-03-21 16:36] iamtrask commented on #2498
So the answer here is that BatchNormalization has internal statistics (means and stds, etc.) which themselves contain private information but are not parameters.

This means that when you move a model from one machine to another (iterating through model.parameters()), those statistics probably aren't moving with it.

Solution: extend nn.Module() with a .parameters_and_statistics() iterator which w

[2020-03-21 16:37] iamtrask opened #3236 "Extend nn.Module() with Support for Federated Learning of non-parameter information"
**Is your feature request related to a problem? Please describe.**

https://github.com/OpenMined/PySyft/issues/2498

**Describe the solution you'd like**

Solution: extend nn.Module() with a .parameters_and_statistics() iterator which will look for this kind of information so that we can make sure that federated learning properly moves everything from machien to machine.

**Describe alternatives y

[2020-03-21 17:05] SagarMoghe commented on #3236
Can I take up this problem?

[2020-03-21 17:16] AshwinRam2000 commented on #3236
I can take this up.

[2020-03-21 17:40] karlhigley commented on #3236
Assigned you both. Hope that whoever starts working on it first can post a WIP PR with their early commits so you can collaborate on it.

[2020-03-21 17:45] SagarMoghe commented on #3236
Thank you

[2020-03-21 18:27] LaRiffle commented on #3233
Done :)

[2020-03-21 19:01] codeboy5 commented on #3233
Hi, @LaRiffle are we looking for Cross Entry Loss (https://pytorch.org/docs/stable/nn.html#crossentropyloss) or NLL Loss (https://pytorch.org/docs/stable/nn.html#nllloss)?
A slight difference between the two as Cross-Entropy combines softmax and NLL. I can implement both of these if you would like that?

[2020-03-21 19:07] LaRiffle commented on #3233
Which one would you think is the most classic in classification? :)

[2020-03-21 19:12] codeboy5 commented on #3233
Cross-Entropy :)

[2020-03-21 19:21] LaRiffle commented on #3233
Let's run for this one then 🚀

[2020-03-21 20:20] bicycleman15 commented on #3232
hey @LaRiffle
I was thinking something along these lines , I might be wrong
[code]
Could you help me , I just want to make sure I'm going in the right direction.

[2020-03-21 20:40] ratmcu commented on #3236
@karlhigley Can I work on this issue as well. I have already worked on a use case similar. So we can collaboratively solve this.

[2020-03-22 00:24] SagarMoghe commented on #3236
@iamtrask @karlhigley , I am new to Syft so can you please guide me where in the code base should I start to look for relevant code to the related issue. Thank you

[2020-03-22 02:58] Syzygianinfern0 commented on #3233
I would like to work on this.
@codeboy5 you can ping me over Slack for Colab as @Syzygianinfern0

[2020-03-22 08:18] wmlba opened #3238 "I cannot get PyGrid to work"
**Describe the bug**
I built few grid nodes using the standard web_socket file from the PyGrid repo. When I create the NodeClient object, the worker times out and gets killed.

**To Reproduce**
Steps to reproduce the behavior:
hook = sy.TorchHook(torch)

# Connect directly to grid nodes
nodes = ["ws://site1.pysyft:3000",
         "ws://site2.pysyft:3001"]

compute_nodes = []
for node in nodes:

[2020-03-22 13:00] milindthakur177 commented on #3160
@mari-linhares mam can you please review my proposal?

[2020-03-22 13:24] Kritikalcoder commented on #1933
Is anyone working on this?

[2020-03-22 13:49] #3131 closed

[2020-03-22 14:32] karlhigley commented on #1933
@Prtfw is probably the most knowledgeable about where we are with demos. Thoughts on whether/how to tackle this @Prtfw?

[2020-03-22 14:57] Prtfw commented on #1933
@karlhigley @Kritikalcoder looks like this issue isn't ready to be worked on yet. see https://github.com/OpenMined/PySyft/issues/1824 and in particular issue https://github.com/OpenMined/PySyft/issues/1932

[2020-03-22 14:58] karlhigley commented on #3238
@OpenMined/pygrid-team

[2020-03-22 15:03] karlhigley commented on #3233
The easiest way to collaborate is probably to push WIP code and work from a shared branch.

[2020-03-22 15:05] karlhigley commented on #1933
@trask What's the status on those issues? Are they still accurate/relevant?

[2020-03-22 15:37] karlhigley commented on #2744
@vineetjai It looks like there are still duplicate `run_websocket_server.py` scripts in the `test/` and `test/scripts` directories.

[2020-03-22 16:28] MADONOKOUKI commented on #2780
@iamtrask
I'm Japanese. Therefore, this issue is ideal for me!
Is this issue applicable to the application of GSoC 2020?
I wanna try the different types of projects (Combine Federated Learning and SplitNN).
However, because others have already do it, I wanna do it for the application!

[2020-03-22 16:37] karlhigley commented on #2780
@MADONOKOUKI Many of the notebooks [have been translated](https://github.com/OpenMined/PySyft/pull/3182) and could use a review. The notebooks for Part 13 still need translation though!

[2020-03-22 16:50] MADONOKOUKI commented on #2780
@karlhigley
Thanks!
I'll translate Part 13  and make a pull request!

[2020-03-22 17:49] MADONOKOUKI commented on #2780
Made a pull request!
https://github.com/OpenMined/PySyft/pull/3243

[2020-03-23 07:42] ratmcu commented on #2498
I tried re creating this issue but it did not occur, So I dug a bit into the BatchNorm.

[here](https://github.com/pytorch/pytorch/blob/a6672f3b305c3805c691f3477e7940d146130a88/torch/nn/modules/batchnorm.py#L11) I could see these running statistics are being able to be registered as parameters or states.
which extends to these lines if it is just a buffer
[def register_buffer(self, name, tensor):]

[2020-03-23 08:34] johnnylin110 commented on #2498
@ratmcu
I use the code on above , and still this issue happen , can you please tell what your code is ?
Because in my code and the code above both get this problem , and when i change the net  without batchnorm2d , the error is gone . So I think this issue is still here , or someone can try it?

[2020-03-23 09:57] wmlba commented on #3238
Hi,
    One other error I get when running the FL MINST example of the PyGrid.

Code:
data = my_grid.search("#X", "#mnist", "#dataset")
target = my_grid.search("#Y", "#mnist", "#dataset")

Error:

[code]

Appreciate your help

[2020-03-23 11:13] abbas5253 commented on #3217
I would like to take up this issue, should we assign a new id to the objects before moving in such a way to avoid collision and then move it.
can you assign this to me?

[2020-03-23 11:26] wmlba opened #3245 "Error with PySyft federated learning remote worker"
**Describe the bug**
TrainConfig.send() to a remote client throw an error

**To Reproduce**
Steps to reproduce the behavior:
1- Create a remote client on a different server.
2- Run the code in Introduction To TrainConfig notebook.
3- replace localhost with the IP of the remote server that has the worker running
4- train_config.send(alice) will throw an error

**Error Message **
This is the error m

[2020-03-23 14:40] Syzygianinfern0 opened #3246 "Indexing AST by AST Support in SMPC"
**Describe the bug**
Indexing and Slicing of an AdditiveSharedTensor by another throws an error

**To Reproduce**
[code]
*Complete log **[here](https://del.dog/index_error)***

**Expected behavior**
[AdditiveSharingTensor]
	-> [PointerTensor | me:id -> alice:id]
	-> [PointerTensor | me:id -> bob:id]
	*crypto provider: james*

**Desktop (please complete the following information):**
Pop OS (18.04)

[2020-03-23 15:36] Syzygianinfern0 commented on #3246
If there is some workaround with the existing codebase please do mention.
([You can find the current built-in here](https://github.com/OpenMined/PySyft/blob/master/syft/frameworks/torch/tensors/interpreters/additive_shared.py#L330))
Otherwise I would address this issue myself in #3242

[2020-03-23 16:51] ratmcu commented on #2498
@johnnylin110 what is the pytorch version you are using? Can you check your source to see if it is the same as I mentioned?

[2020-03-24 00:53] johnnylin110 commented on #2498
@ratmcu I think my syft version is the old one , and I udpate it to the new version which use pytorch1.4.0 . This issue is solve .  Thanks for helping !

[2020-03-24 05:52] wmlba opened #3250 "Cannot find dataset pointers sent to a remote client"
**Describe the bug**
After tagging a tensor and sending it to the NodeClient object, nothing comes out of the ClientNode. The search method returns no objects.

**To Reproduce**
- Setup a remote client (Grid node)
- Create a simple tensor `data = torch.tensor([1, 1, 1, 1, 1])`
- Tag the tensor `data.tag('mytag')`
- Send the tensor to the remote node `data.send(remote_node)`
- Search for the tenor

[2020-03-24 13:34] schimpffabian commented on #2070
Alright, I'll close the issue then

[2020-03-24 13:34] #2070 closed

[2020-03-25 05:14] sachin-101 commented on #2498
@bussfromspace @karlhigley This issue seems to be solved. Can you close it ?

[2020-03-25 05:18] sachin-101 commented on #3236
@iamtrask From the comments in #2498 it seems the BatchNorm bug was due to different versions. So you can close this issue if it is solved.

[2020-03-25 05:21] sachin-101 commented on #2797
@LaRiffle Please close this issue if it is resolved.

[2020-03-25 07:18] sachin-101 commented on #2897
@LaRiffle @iamtrask  I would like to work on this. Two things I will try for a start are:
1. Comment out unnecessary functionalities in FixedPrecisionTensor. And make sure the rest of the code works.
2. Move conv2d implementation from FixedPrecisionTensor to torch.nn

[2020-03-25 07:23] sachin-101 commented on #2897
@LaRiffle Based on this [tutorial on Build your own tensor](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/advanced/Build%20your%20own%20tensor%20type%20(advanced).ipynb) and your comment above

I would let the above-mentioned functions be in precision.py
And all functions which are not specific to how we operate with FixedPrecisionTensor would be commented out/moved.

[2020-03-25 14:08] #2498 closed

[2020-03-25 14:08] karlhigley commented on #3236
I think the proposed feature is still useful.

[2020-03-25 14:11] #2797 closed

[2020-03-25 20:06] sukhadj commented on #2784
Is this issue still open? If yes, I can work on it.

[2020-03-26 13:14] MrLinNing opened #3255 "Can the Encrypted DNNs of the Part-11 and Part-12-bias run on GPU?"
The classifying one image takes less than 0.1 second, approximately 33ms on my laptop (2,7 GHz Intel Core i7, 16GB RAM).
Can this encrypted DNNs run on GPU?

[2020-03-26 13:31] karlhigley commented on #2784
@sukhadj There's [an open PR](https://github.com/OpenMined/PySyft/pull/2982) that removes both of these classes. I'll leave this issue open until that PR gets merged, but probably not worth trying to fix the issue as described.

[2020-03-26 14:05] MADONOKOUKI commented on #2780
@iamadarshk
I'm supposed to apply GSoC in 2020, but this pull request is required for my submission.
Would you mind if you can afford?

[2020-03-26 15:33] buchan123 commented on #3160
@mari-linhares I have been working with tensorflow from past 8-9 months and would love to work on this project.

[2020-03-26 15:46] karlhigley commented on #3255
@OpenMined/crypto-team

[2020-03-26 15:47] karlhigley commented on #2780
@OpenMined/writing-team

[2020-03-26 23:08] Yugandhartripathi commented on #1481
We have come a long way all the way to 2**64 once #2982 is merged. And will go even further beyond with BigIntTensor abstraction tensor type. So I think we can close this one.

[2020-03-26 23:18] Yugandhartripathi commented on #2259
zstd is no longer used from release v0.2.4. I think we can close this issue for good now.

[2020-03-26 23:18] #2259 closed

[2020-03-26 23:23] Yugandhartripathi commented on #2271
Once #2982 is merged. These explicit modulo calls are removed and wrapping of values in field size(moving forward we will only support 32 bit or 64bit) will be handled using native torch tensors with dtype torch.int32 and torch.int64 respectively.

[2020-03-26 23:50] Yugandhartripathi commented on #2176
#3094 solves this one.

[2020-03-26 23:50] #2176 closed

[2020-03-27 02:58] plkmo commented on #2547
any updates on this?

[2020-03-27 04:16] SanaAwan5 commented on #3138
Thanks! Looking forward to your reply.

[2020-03-27 10:27] gmuraru commented on #2637
@sukhadj is this issue still present?

[2020-03-27 10:30] gmuraru commented on #2562
@mari-linhares should we close this issue since currently we are on torch 1.4

[2020-03-27 10:36] sukhadj commented on #2637
I just checked!!
Correct overloaded functions are called for both pure torch tensors and wrapper tensor!!
So I guess this issue is resolved !!

[2020-03-27 10:40] gmuraru commented on #2200
@karlhigley this is already done, right?

[2020-03-27 10:43] gmuraru commented on #1895
@LaRiffle, @karlhigley  we could close this issue, right?

[2020-03-27 10:46] gmuraru commented on #2120
@karlhigley should this still be open? (might be a good idea to rename)

[2020-03-27 10:58] gmuraru commented on #3210
@karlhigley could you add more context for this issue? (an exemple with where is happening would be great!)

[2020-03-27 11:10] gmuraru commented on #2730
Closing this issue since we have updated to pytorch 1.4 and the requirements files seem updates

[2020-03-27 11:10] #2730 closed

[2020-03-27 12:35] seungjaeryanlee commented on #2794
@iamtrask I believe this should be reopened. Not all tutorials have been translated yet. Also, maybe add labels `translation` and `good first issue` ?

[2020-03-27 12:46] artix41 opened #3259 "Indexing pointer tensors with a list"
When running the following code
[code]
the first tensor `a` get displayed correctly as
[code]
but the second tensor raises the following error:
[code]

I have Python 3.7.6, PySyft 0.2.4 and PyTorch 1.4.0.

I'm new to PySyft, so maybe it is an expected behavior for some reasons, but I don't really see why (since remote tensors are supposed to have the same functionalities as normal tensors as far a

[2020-03-27 13:17] #3214 closed

[2020-03-27 13:20] karlhigley commented on #2200
We have the `advanced` directory which has a bunch of tutorials in separate folders, but I don't think they're organized by topic yet.

[2020-03-27 13:35] fermat97 opened #3260 "Websocket Secure error SSL: CERTIFICATE_VERIFY_FAILED"
I am running the old version of [websockets_mnist_parallel](https://github.com/OpenMined/PySyft/tree/master/examples/tutorials/advanced/websockets_mnist_parallel) example with `websocket secure`. It seems the initial handshake is fine but once computing the loss in `run_websocket_client.py` script, it produces the error:

  File "asynchronous_federated_learning.py", line 124, in <module>
    async

[2020-03-27 13:37] karlhigley commented on #3260
Would something like [this](https://github.com/cloudfoundry-community/cf-python-client/issues/51#issuecomment-536428838) work to address that?

[2020-03-27 13:41] karlhigley commented on #2120
Yeah, I agree they should renamed. I like the suggestion of `WebsocketProxy` and `WebsocketWorker`. Seems clean and clear, and would disambiguate the usages of client/server.

[2020-03-27 13:42] karlhigley commented on #3210
When running locally with `VirtualWorkers` they all run in the same thread, which causes some difficulties with the Torch hook. If you call `torch.ones()` on a `VirtualWorker`, the resulting tensor ends up registered on the `local_worker` instead.

[2020-03-27 13:43] karlhigley commented on #3210
(This issue was created from a card on the Syft Core project board, and Github project boards doesn't have a way to capture a description on cards that aren't issues. Hence the long title!)

[2020-03-27 13:44] #2271 closed

[2020-03-27 13:48] AlanAboudib opened #3261 "fix_precision() is inplace when applied to a pointer tensor."
**Description of the bug**
The method fix_precision() applied on pointers is 'inplace'. This should not be the case

In the following code:

[code]

The variable  `a` after calling `get()` is a fixed precision tensor which is a bug, because the original variable `a` defined as `torch.Tensor([2., 3.])` is not a fixed precision tensor.

However, this bug is not existing in case when  `a` is not a po

[2020-03-27 14:05] karlhigley commented on #2547
@OpenMined/syft-core-team is working on some of the underlying communication primitives, which should make the comms depicted in @LaRiffle's diagram easier. In particular, we created [`CommunicationAction`](https://github.com/OpenMined/PySyft/blob/master/syft/execution/communication.py) as a way to capture and transmit sending/receiving operations to be executed elsewhere. It's still work in progr

[2020-03-27 14:05] sukhadj commented on #3261
I can take this!!

[2020-03-27 14:16] NiWaRe commented on #3111
Hello @H4LL !
I'm Nicolas Remerscheid, currently studying in the Master of Data Engineering and Analytics at the Technical University of Munich in Germany (TUM), same as @AbinavRavi
I have been learning and using PyTorch for nearly two years now. I first took the Deep Learning Nanodegree on Udacity being awarded a Full-Scholarship by Facebook (Top 300/10.000 students) As part of the program I init

[2020-03-27 14:18] #2637 closed

[2020-03-27 14:25] karlhigley commented on #3111
The Slack org is open and you can join [here](http://slack.openmined.org/).

[2020-03-27 14:28] NiWaRe commented on #3111
Alright, thanks! For some reason the link on [the blog entry](https://blog.openmined.org/announcing-openmined-google-summer-of-code/) said I should contact an Administrator.

[2020-03-27 14:35] karlhigley commented on #3111
Will try to get that fixed! Thanks for pointing it out.

[2020-03-27 14:38] #1895 closed

[2020-03-27 14:58] #1989 closed

[2020-03-27 14:59] karlhigley commented on #2539
This will likely be addressed by current @OpenMined/syft-core-team work to refactor the remote execution primitives. Currently looks like `send()` operations will only be allowed in `Protocols`.

[2020-03-27 14:59] #2539 closed

[2020-03-27 18:27] duynht commented on #2512
@karlhigley Have we had an open issue for that? I would love to try.

[2020-03-27 18:29] gconst02 commented on #3245
You probably run it with `--verbose` arg which causes the `msg.contents` print. Try running the remote worker without the param, as a temporary fix.

[2020-03-27 18:50] #2897 closed

[2020-03-27 18:54] karlhigley commented on #3245
I think the underlying issue is [in `BaseWorker`](https://github.com/OpenMined/PySyft/blob/master/syft/workers/base.py#L316-L317). The problem is that the base `Message` class no longer has a `contents` property, so none of the sub-classes do either.

[2020-03-27 21:32] rotalex commented on #3259
I can take a look.

[2020-03-28 06:50] sukhadj commented on #3261
Hey @AlanAboudib @karlhigley @LaRiffle ,
so if I understand this correctly,

[code]
x_fx is a `PointerTensor` and expected behavior is to be a `FixedPrecisionTensor` with `PointerTensor` as child?

Moreover when we .get() the x_fx, it returns `FixedPrecisionTensor`, which I think is a correct behavior, as we haven't called float_precision yet.

[2020-03-28 12:32] LaRiffle commented on #3261
not exactly, fix_precision() should be applied anyway on the remote value when called on a pointer (and it works fine)

the issue is that currently we have this for pointers:
[code]
while for non pointers:
[code]

So for pointers, `fix_precision` behaves as `fix_precision_` while it shouldn't

[2020-03-28 16:19] abogaziah commented on #3250
worker.search() is for local use only. for a remote worker use `me.request_search(['mytag'], location= worker)`. this will send you back an object_pointer that points to the dataset. that enables you to call .get() on it only for now not full functionality of dataset_pointer.
me.request_search() will return a dataset_pointer soon, I'm currently working on it

[2020-03-28 16:21] abogaziah opened #3267 "Send Dataset_pointer"
**Is your feature request related to a problem? Please describe.**
The current implementation of Dataset_pointer doesn't enable it to be sent among workers, we want to be able to send it so that the search request, for example, is able to send a pointer to the found dataset.

**Describe the solution you'd like**
- Add simplify and simplify methods to dataset_pointer
- Reference dataset_pointer in

[2020-03-28 16:21] abogaziah commented on #3267
I'll do it

[2020-03-28 17:16] SagarMoghe commented on #3236
@iamtrask @karlhigley  I did some research and I went around and snooped into nn.module code and noticed that line 87 of [nn.module](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py) has the variable that contains information I need. I am not sure where exactly in the pysyft codebase should I implement the function to get the value of this variable. I am new to pysyft and

[2020-03-28 21:49] ratmcu commented on #3236
@SagarMoghe I already added a function and working on testing it,
I am also adding features to get all the non parameter elements of iterated by an arbitrary function that could be added to the hooked pytorch nn module to be considered at the send().
I would like if we can work on testing the new feature, rather than repeating the same.

[2020-03-29 04:17] seungjaeryanlee commented on #2794
@wonderit I'll start working on translating Part 04. Can you confirm that you are not currently translating this notebook? Don't want to do duplicate work :)

[2020-03-29 04:28] wonderit commented on #2794
@seungjaeryanlee Sure! I'm not working on this issue right now.

[2020-03-29 12:16] fermat97 commented on #3260
Actually I am not sure. I followed the advise proposed to add the following code at the beginning of my code and it does not work:

[code]

I have also tried adding to the `WebsocketClientWorker`, but no success. Done the same thing with `WebsocketServerWorker` and no success either.

[2020-03-29 12:43] sachin-101 commented on #3236
@ratmcu You can start working on a new branch and push the WIP code here. That might be a good way to collaborate.

[2020-03-29 13:31] sachin-101 commented on #2926
#3092 is merged. Do more tests need to be added ? @iamtrask @karlhigley
If not, then you can close this issue.

[2020-03-29 18:40] Kritikalcoder commented on #2683
Is this issue still open? Can I take it up?

[2020-03-29 18:42] Kritikalcoder commented on #2621
Is this issue still open? Can I take it up?

[2020-03-29 18:44] Kritikalcoder commented on #2279
Can I start working on this?

[2020-03-29 19:37] Jasopaum commented on #2683
Protocol design will change a lot in the few days/weeks so I don't think it's worth working on this issue right now!

[2020-03-29 20:34] joseims opened #3272 "Dependency SkLearn (used by Sandbox in Tutorial 5) is missing at notebook requirements"
**Describe the bug**
The tutorial 5 uses the create_sandbox function wich requires sklearn. But sklearn in not in notebook requirement.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the pre-installation as described in readMe
2. Run the installation as described in readMe
3. Run `make notebook`
4. Open tutorial 5 (~/Pysyft/examples/tutorials/Part 05 - Welcome to the Sandbox.ipynb)
5. R

[2020-03-29 20:36] joseims commented on #3272
I'd like to resolve if possible

[2020-03-29 21:40] santteegt commented on #3019
Hi,

When downgrading the version of tornado recent versions of jupyter notebook stop working (notebook 6.0.3). Fixed this by running `pip install syft[udacity,notebooks]`

[2020-03-30 01:40] johnnylin110 commented on #2498
@ratmcu Hi again, I am looking at the code you paste, the different between is you modify the forward part into
[code]
however , this network i try it on pysyft get 10% accuracy only , but in Pytorch version, this can achieve high accuracy , and if use the same code from above , the pysyft will pop out error message about "shape [0,-1]  is invalid for input of size XXXX pytorch"
Is this still a bu

[2020-03-30 01:45] johnnylin110 commented on #3236
Hello , I am the one who comment in the issue #2498
And I found it might have still a issue their . So I comment below, and the #2498 is closed so I mention in here , maybe need to take a look?

[2020-03-30 07:12] ratmcu commented on #2498
@johnnylin110 this is a separate bug due to not being able to call .size() method remotely, batchnorm layer running remotely was the goal. so it was running in this example.

[2020-03-30 07:28] wmlba opened #3274 "Can the websocket handle large models?"
I am trying to train a VGG16 model which is not huge but I get a connection reset by peer error from the websocket connection:

---------------------------------------------------------------------------
ConnectionResetError                      Traceback (most recent call last)
<ipython-input-14-6dcce03a9f1e> in async-def-wrapper()
     25         ]
     26     )
---> 27
     28
     29

<ipython

[2020-03-30 08:00] Kritikalcoder commented on #2683
Okay, thanks

[2020-03-30 10:24] Kritikalcoder opened #3275 "Integrating Installation Instructions"
**Is your feature request related to a problem? Please describe.**
Instructions to install PySyft are distributed among three documents: INSTALLATION.md, README.md and CONTRIBUTING.md, and are not completely consistent.

**Describe the solution you'd like**
I propose that all installation instructions be consistently detailed in one single file: INSTALLATION.md, and both README.md, CONTRIBUTING.md

[2020-03-30 11:37] #3212 closed

[2020-03-30 13:30] SagarMoghe commented on #3236
They were using an old pytorch version and had the issue but the functionality suggested is still useful.

[2020-03-30 14:53] ratmcu commented on #3236
added a PR https://github.com/OpenMined/PySyft/pull/3273

[2020-03-31 09:12] johnnylin110 commented on #2498
@ratmcu  I know there is a bug so need to call .size() method here, but still, why the accuracy of the same approach(same network) will lead different ?
    In my Pytorch CIFAR with the net above is 65% at final , but in pysyft version it only 10% at the end(even when worker set to 1) . Why will this happen?

Thanks for reply ! very appreciate!

[2020-03-31 11:39] fermat97 commented on #3260
I tried to manually give WebsocketClientWorker the cert file but I faced another error:

@IonesioJunior did you try the `WebsocketClientWorker` and `WebsocketServerWorker` in `async` mode?

[2020-03-31 13:01] ganjf opened #3282 "Error abou x.encrypt(protocol="paillier", public_key=pub)"
When I use `x.encrypt(protocol="paillier", `public_key=pub),` it tells me that **"'Tensor' object has no attribute 'encrypt'"**。But in fact I could excute `pub, pri = sy.keygen()` successfully, and I already download the class file **"paillier.py"**.

[2020-03-31 15:06] Syzygianinfern0 commented on #3282
You can try the following
[code]

[2020-03-31 15:29] ganjf commented on #3282
There is  an error `encrypt() got an unexpected keyword argument 'protocol'.
I install the library with `pip install syft[udacity]`, the version is 0.2.4, but I found there is difference in /syft/frameworks/torch/tensors/interpreters/native.py/ about the defination of encrypt() method with codes on Github. It seems the updated version about the method encrypt(protocol="pailiar", *kwarg) don't exis

[2020-03-31 15:36] Syzygianinfern0 commented on #3282
Since the feature was implemented very recently it's not available on any release as of now. Please try installing from source.
[Link](https://github.com/OpenMined/PySyft/blob/dev/INSTALLATION.md)

[2020-03-31 15:47] ganjf commented on #3282
Thanks!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"The Syzygian Inferno"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月31日(星期二) 晚上11:37
收件人:&nbsp;"OpenMined/PySyft"<PySyft@noreply.github.com&gt;;
抄送:&nbsp;"ganjf"<1194520007@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [OpenMined/PySyft] Error abou x.encrypt(protocol="paillier", public_key=pub) (#3282)

Si

[2020-03-31 19:39] #2926 closed

[2020-03-31 19:44] #3261 closed

[2020-04-01 07:06] ThorShockU commented on #3274
I have the same question as yours.

[2020-04-01 08:08] fermat97 commented on #3260
I have done these changes and I think now it works. In the constructor of the class `WebsocketClientWorker` I add:

[code]

and in the `async_fit` function, instead of:

[code]
I add the `ssl=self.ssl_context` to have:

[code]

[2020-04-01 08:08] #3260 closed

[2020-04-01 09:10] #3282 closed

[2020-04-01 09:11] LaRiffle commented on #3231
Hey @imskr!
How is it going? :)

[2020-04-01 09:13] LaRiffle commented on #3232
Hey, I've seen your PR! That's a good start, add tests and checkout for possible existing numeric approximations they can help you have great speed-up (like what was done on tanh) :)

[2020-04-01 09:55] manu-sk commented on #3001
Hey Nilesh did you find any solution?

[2020-04-01 17:27] dcato98 opened #3289 "Jupyter Notebook Version Conflict Following Conda Installation Instructions"
**Bug**
Following the Conda pre-installation and installation instructions in README.md in Linux results in the following version conflict:
ERROR: notebook 6.0.3 has requirement tornado>=5.0, but you'll have tornado 4.5.3 which is incompatible.

Then when running jupyter notebook, the browser tab fails to display any files and there is no option to create a Python notebook. This was also noticed b

[2020-04-01 21:38] karlhigley commented on #2512
See OpenMined/syft-proto#35 for details on the Protobuf effort.

[2020-04-01 21:38] #2512 closed

[2020-04-01 22:08] #3267 closed

[2020-04-02 01:35] imskr commented on #3231
Sorry for the delay, I will just make the PR by today @LaRiffle

[2020-04-02 11:13] Yugandhartripathi opened #3291 "BigIntTensor support in FPT"
We need a way to represent larger precisions and we already have a BigIntTensor abstraction tensor type - not extending FixedPrecisionTensor with the ability to represent even larger precisions in progress and once #2905 is merged.
We will need a way to select "bigint" option for wrapping our values with BigIntTensor.
Which will work something like:
Wrapper -> FixedPrecisionTensor -> BigIntTensor

[2020-04-02 12:04] dcato98 opened #3293 "Tutorial Notebooks Incorrectly State Momentum is not Supported"
**Request**
Some tutorial notebooks incorrectly say that momentum is not supported. Support for optimizers using momentum was added in #3179.

**Describe the solution you'd like**
[Tutorial 2](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%2002%20-%20Intro%20to%20Federated%20Learning.ipynb) has been updated to use the new floptimizer. The following notebooks still need to

[2020-04-02 12:16] dcato98 commented on #1909
I think this was solved by #3179, where each worker now maintains it's own optimizer. However I'm pretty new here so I may be missing something.

[2020-04-02 13:54] #3043 closed

[2020-04-03 02:48] wmlba opened #3298 "Wesocket exception messages on a remote WebsocketServer"
**Describe the bug**
When I run a training job on a remote worker, the training job is very slow and I get the errors/exceptions:

python3.7/site-packages/syft/workers/websocket_server.py:93: RuntimeWarning: coroutine 'WebsocketServerWorker._consumer_handler' was never awaited
  self._consumer_handler(websocket)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback
2020-04-03 0

[2020-04-03 11:47] dcato98 commented on #3293
The 3rd notebook mentioned above (training using websockets) has been changed so now these files ([here](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/advanced/websockets_mnist/run_websocket_client.py), [here](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/advanced/websockets_mnist_parallel/run_websocket_client.py)) need to be changed. The code to be change

[2020-04-03 12:05] dcato98 commented on #3293
On further inspection, it is not at all obvious to me how (or even whether) the websocket examples need this change.

[2020-04-03 15:12] karlhigley commented on #3260
Would be great to capture these changes in a PR somehow, so that anyone else running locally in secure mode doesn't hit the same problem. 👍

[2020-04-03 15:14] karlhigley commented on #3289
This has been fixed in the requirements file in #3204, but people with installations from before the fix will still need to run the workaround mentioned here.

[2020-04-03 15:14] #3289 closed

[2020-04-03 15:26] karlhigley commented on #2683
@Kritikalcoder Ping me and/or @Jasopaum on Slack if you want to work on Plans/Protocols though!

[2020-04-03 15:26] #2683 closed

[2020-04-04 21:35] ajnovice commented on #2921
I also have the same issue.

[2020-04-05 09:27] fermat97 commented on #3260
@karlhigley Ok, I ll make the PR ready and submit it

[2020-04-05 13:34] karlhigley commented on #2921
@ajnovice What versions of Python, PySyft, syft-proto, and PyTorch are you using?

[2020-04-06 11:47] fermat97 opened #3312 "AttributeError: module 'syft.grid' has no attribute 'WebsocketGridClient'"
Hi, I assumed that the `grid` functionality has been totally merged into the `syft` environment, and it is not necessary to install `grid` separately. But I have received this error:

Has the attribute's name changed?

[2020-04-07 07:52] LaRiffle opened #3316 "Garbage collection: memory leak in SMPC"
**Describe the bug**
Garbage collection is not working as expected in SMPC

**To Reproduce**
[code]

**Expected behavior**
the number of object in bob's store shouldn't increase, but currently it does (quite a lot)

[2020-04-07 09:03] Syzygianinfern0 commented on #3316
I'd like to take up this issue!

[2020-04-07 09:29] AlanAboudib commented on #3316
And very importantly to note: if you comment out `classifier(b)` the problem is no longer there

[2020-04-07 10:48] #2794 closed

[2020-04-07 11:12] LaRiffle commented on #3316
Thanks @Syzygianinfern0!
Let us know if you're blocked. I've put the issue under "High Priority"
Suggestion: you might want to try first if simple multiplication has a GC issue :)

[2020-04-07 11:39] Syzygianinfern0 commented on #3316
Sure. I'll ask for help if stuck.

[2020-04-07 11:52] Syzygianinfern0 commented on #3316
Looks like the normal arithemetic operations don't do that. Just the ones with the ones with the more complicated operations do it. Maybe the intermediate tensors during the computataion (the ones preserved for the backprop) are the ones with the problem.

[2020-04-07 13:59] #3259 closed

[2020-04-09 08:54] youben11 opened #3329 "Call decrypt() without specifying the protocol"
**Is your feature request related to a problem? Please describe.**
When we call decrypt on a tensor, we don't want to always provide the protocol if it can be known otherwise.

**Describe the solution you'd like**
I think that the current protocol that encrypted the tensor can be checked by looking at the child's type.

[2020-04-09 12:26] abogaziah opened #3330 "Requirements need updates"
**Describe the bug**
ERROR: syft 0.2.4 has requirement syft-proto~=0.2.5.a1, but you'll have syft-proto 0.2.9a2 which is incompatible
ERROR: syft 0.2.4 has requirement tornado==4.5.3, but you'll have tornado 6.0.4 which is incompatible.

**To Reproduce**
pip install syft-proto --upgrade

**Desktop (please complete the following information):**
 - OS: Windows
 - Version 10

[2020-04-09 12:27] potsch opened #3331 "Tutorial Part 05 Welcome to Sandbox- module scipy._lib not found"
I am trying to run the first code snippet from the Tutorial and I keep getting a **ModuleNotFoundError : No module named 'scipy._lib'.** I have installed scikit-learn dependency with pip3 install scipy and pip install scipy in hopes to fix this error. It didn't work.
Can anybody assist me?

**To Reproduce**
1. I started my Juypter notebook locally by typing `juypter notebook` in the terminal.
2. C

[2020-04-09 12:29] abogaziah commented on #3331
have you restarted your kernel?

[2020-04-09 12:49] potsch commented on #3331
yes, I restarted the Python kernel many times.

[2020-04-09 15:50] karlhigley commented on #3330
`pip install --upgrade syft-proto` will force an upgrade to the newest available version of `syft-proto`, which is indeed incompatible with `syft 0.2.4`.

Fixes for the tornado version issue were merged in #3196, #3204, and #3288. (It may require manually downgrading your tornado version, because the previous dependency specification was overly optimistic about compatibility.)

[2020-04-09 15:50] #3330 closed

[2020-04-09 16:10] potsch commented on #3272
Yeah, I have the same problem.
Anyone from the dev team? Can you help us?

[2020-04-09 16:30] karlhigley commented on #3272
Sure, adding it to the notebook requirements makes sense to me. I've tripped over that issue a few times myself. Submit a PR?

[2020-04-09 20:03] IamRavikantSingh opened #3333 "Need changes in Experimental notebook for PaillierTensor"
**To Reproduce**
Run PySyft/examples/experimental/PaillierTensor.ipynb and on running 3rd block it will throw an error.

**Expected behavior**
Should encrypt tensor without throwing the error 😁

**Additional context**
change encrypt and decrypt like:
x = th.Tensor([1,2,3]).encrypt(protocol="paillier", public_key=pub)
out = out.decrypt(protocol="paillier", private_key=pri)

[2020-04-10 15:17] potsch commented on #3272
I fixed this by adding the line scikit-learn~=0.22.2.post1 in the requirements.txt and then typing make notebook again.
After this I could run Tutorial Code 5 and 7 without any problems!

[2020-04-10 16:48] jaintj95 opened #3335 "Is there a case for using unique optimizers in federated learning?"
**Is your feature request related to a problem? Please describe.**
Right now the federated optimizer API assumes that we are only going to use the same optimizer across different workers.

**Describe the solution you'd like**
Is there a case for using different optimizers across different workers?
What if the model owner wants to implement different learning rates or gradient descent algorithms?
I

[2020-04-11 10:18] johnnylin110 opened #3338 "CIFAR10 with Resnet very low accuracy (18%)"
Hello, i was trying to run the Resnet model on federated learning , and the model I use is
[https://github.com/kuangliu/pytorch-cifar](url) which has 2.7 k star and I test it on Pytorch which get
75% accuracy .
However , when I change to syft version with  the same model and the same parameter(lr, batch size)
the accuracy only 18%
I paste the code here , thanks for helping
[code]

[2020-04-11 18:35] ucalyptus commented on #3272
@potsch  in the pip-dep/requirements-notebook.txt u meant?

[2020-04-11 20:03] jczestochowska opened #3340 "Aggregated models or aggregated gradients tutorials part 10"
Hi! I have a quick question regarding the methodology as I am new to the federated learning concept and I would love to explore pysyft further. I looked through tutorials and I have one doubt. In tutorial 10 with CNN for MNIST do you send gradients to central node from all workers (clients) aggregate them, average them and update the model on central node and then send new model to all clients or

[2020-04-12 05:32] rvoak commented on #3340
My understanding is that in federated learning, you send model parameters to be aggregated, not gradients.

[2020-04-12 14:54] #3331 closed

[2020-04-12 14:57] potsch commented on #3272
@ucalyptus  No, I added it in the pip-dep/requirements.txt

[2020-04-12 15:39] #3272 closed

[2020-04-12 15:40] karlhigley commented on #3333
What's the error? Post a stack trace.

[2020-04-12 15:44] karlhigley opened #3344 "`test_instantiate_tfe_layer` is flaky"
**Describe the bug**
This test semi-regularly fails

**To Reproduce**
Run the test (or full suite) until it fails.

**Expected behavior**
The test should reliably pass.

**Screenshots**
[code]

**Additional context**
This started being an issue when the order of the test suite was randomized (specifically to shake out flaky tests like this.)

[2020-04-12 16:06] karlhigley opened #3345 "`test_torch_sigmoid_approx` is flaky"
**Describe the bug**
The `test_torch_sigmoid_approx` test fails intermittently during automated PR testing.

**To Reproduce**
Run the test (or full suite) until it fails.

**Expected behavior**
The test should reliably pass.

**Screenshots**
[code]

**Additional context**
This started being an issue when the order of the test suite was randomized (specifically to shake out flaky tests like this.)

[2020-04-12 16:35] karlhigley commented on #3340
You can do either, and there is (for example) a line of research that seeks to compress gradients to reduce FL communication costs. The Syft ecosystem is oriented toward model aggregation at present, but I'd love to make other approaches workable too.

[2020-04-12 16:48] NiWaRe commented on #3338
Hey @johnnylin110

I guess you simply used the approach of adding "10 lines of code" to implement Vanilla FL from [this Tutorial](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%2006%20-%20Federated%20Learning%20on%20MNIST%20using%20a%20CNN.ipynb) , right?

I copied your code and instead of using the manual implementation of the ResNet34 I used the model from the torchvisio

[2020-04-12 16:50] NiWaRe commented on #3338
This is the code I'm running right now (after epoch 3 at 51% Acc.)

`from __future__ import print_function
import argparse
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as f
import torch.optim as optim
torch.__version__
import torchvision
from torchvision import datasets, transforms
from torch.autograd import Variable

import syft as sy  # <--

[2020-04-12 17:51] jvmncs commented on #3344
There are two potential issues here:
1. Randomized functions in tests should be seeded, since integration tests should be deterministic. By randomizing the order of tests, the seed that these tolerance values are tuned against might be getting reset.
2. The rtol value here is working against the test definition, which is what makes this test dependent on seed.

To explain 2 a bit more:The loss of

[2020-04-12 18:08] karlhigley commented on #3344
The issue that prompted randomizing the test case order was that changes to the directory structure (without code changes) could cause test failures, since the tests are run in alphabetical order and randomized functions in the tests are inconsistently (re-)seeded.

[2020-04-12 18:13] karlhigley commented on #3344
(For anyone picking up this issue, the test randomization is performed with [`pytest-randomly`](https://github.com/pytest-dev/pytest-randomly).)

[2020-04-13 08:47] NiWaRe commented on #3335
Hey @jaintj95

as far as I understood in [Part 07 of the PySyft Tuts](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%2007%20-%20Federated%20Learning%20with%20Federated%20Dataset.ipynb) (in the contrary to the previous tutorial) we use a separate optimizer for each worker, simply by putting together a list of optimizers using the **same** `model.parameters()` (to train one

[2020-04-13 09:20] IamRavikantSingh commented on #3333
Error is due to the recent changes in encrypt method.
[code]

[2020-04-13 09:23] NiWaRe opened #3349 "Vanilla FL: Adam optimizer doesn't work but SGD does, problem with add_()"
**Description**
Based on the issue #3338 I ran a Vanilla FL process on a small ResNet on the Cifar10 dataset.
I believe #3338 should be resolved, but I noticed an error which I can't understand.
I ran the below code a couple of times with SGD optimizer and no lr-scheduler (and no momentum) which resulted in a perfectly normal training process (after 6 epochs around 60% acc. for plain ResNet18)
Run

[2020-04-13 12:22] sachin-101 commented on #3316
It seems there is an issue with the mul operation in AdditiveSharedTensor. It maintains copies of the tensors on which the operation is performed.
Moreover, the copies (maybe the pointers are not getting garbage collected) are only maintained on the first worker passed in the share call.

[2020-04-13 13:12] karlhigley commented on #3333
@Syzygianinfern0 I think this changed most recently in one of your PRs. Give it a look?

[2020-04-13 13:13] Syzygianinfern0 commented on #3333
Ok. @karlhigley

[2020-04-13 13:44] jvmncs commented on #3344
Seems like a great use case for [pytest fixtures](https://docs.pytest.org/en/latest/fixture.html)

[2020-04-13 14:34] karlhigley commented on #3344
Not sure I follow. Are you suggesting using fixtures to set random seeds?

[2020-04-13 14:39] karlhigley commented on #3293
I'm not sure that #3179 was intended to add full support for momentum-based optimizers. It certainly seems like a step in the right direction, but it's not clear that momentum-based optimizers are fully compatible with the rest of PySyft.

[2020-04-13 14:40] karlhigley commented on #1909
I'm not sure that #3179 was intended to add full support for momentum-based optimizers. It certainly seems like a step in the right direction, but it's not clear that momentum-based optimizers are fully compatible with the rest of PySyft.

[2020-04-13 16:57] jvmncs commented on #3344
Yes, assuming there's a reason that no global seed is used.

[2020-04-13 19:19] jczestochowska commented on #3340
thanks a lot!

[2020-04-13 19:19] #3340 closed

[2020-04-14 10:05] johnnylin110 commented on #3338
Hi , @NiWaRe
Thanks for helping me , the model from torch is 66% accuracy!
However still some question,
1.why the network I use can't train will? Because in pytorch it work perfectly.
2.How can I get the 66% higher just like you said you get 92%?Just put the dropout on it?If
convenient, can I get your 92% code , thanks
3. You mention that the 10 lines in tutorial has problem with model, how do you

[2020-04-14 13:07] Syzygianinfern0 commented on #3329
I'll take this up!

[2020-04-14 13:12] youben11 commented on #3329
It would be great if you can wait till the CKKSTensor is merged to avoid any merge conflict

[2020-04-14 13:16] Syzygianinfern0 commented on #3329
Sure 😊

[2020-04-14 13:17] makaveli10 commented on #2859
Has anybody been able to solve this? I installed both tf-privacy and tfencrypted in my pysyft environment but this attiribute error doesn't seem to go away!

[2020-04-14 14:28] gmuraru opened #3355 "`test_local_remote_gradient_clipping` is flaky"
**Describe the bug**
An issue that started to happen when running the tests in random order.

**To Reproduce**
Run the test (or full suite) until it fails.

**Expected behavior**
The test should reliably pass.

**Screenshots**
[code]

**Additional context**
This started being an issue when the order of the test suite was randomized (specifically to shake out flaky tests like this.)

[2020-04-14 14:36] karlhigley commented on #2859
Post the output of `pip list` in that environment?

[2020-04-14 16:13] makaveli10 commented on #2859
The output is
Package                Version
---------------------- -------------------
absl-py                0.9.0
appnope                0.1.0
astunparse             1.6.3
attrs                  19.3.0
backcall               0.1.0
bleach                 3.1.0
cachetools             4.1.0
certifi                2020.4.5.1
chardet                3.0.4
click                  7.1.1
decorator

[2020-04-14 16:15] makaveli10 commented on #2859
@karlhigley tf privacy and tfencrypted are installed from source I think that's why they dont show up here

[2020-04-14 17:34] karlhigley commented on #2859
Even packages installed from source (at least via `pip install .`) should show up on that list.

[2020-04-14 17:37] karlhigley commented on #3355
Resolved by #3356.

[2020-04-14 17:37] #3355 closed

[2020-04-14 17:58] makaveli10 commented on #2859
Yeah thanks @karlhigley . My tensorflow privacy installation was broken thanks!

[2020-04-14 18:07] #2859 closed

[2020-04-14 18:15] karlhigley opened #3359 "`test_serde_simplify` is flaky"
**Describe the bug**
`test_serde_simplify` frequently fails and appears to be applying the wrong tensor serialization format (sometimes but not always.)

**To Reproduce**
Run the test (or full suite) until it fails.

**Expected behavior**
The test should reliably pass.

**Screenshots**
[code]

**Additional context**
This started being an issue when the order of the test suite was randomized (speci

[2020-04-14 18:43] jvmncs commented on #3344
I see, I misunderstood. Dynamically setting the seed based on timestamp is not what I'd consider "fixed seed" because it doesn't allow for exact reproducibility of a test run across time & machines. But at least the problem is clear now, we need same numbers across runs for this issue to be fixed

[2020-04-15 12:45] gmuraru opened #3363 "Add support for Crypten in worker"
**Is your feature request related to a problem? Please describe.**
A feature request. Currently, for CrypTen we add all the methods that are "specific" for this framework into the ```BaseWorker``` and we need to have a solution to register/unregister those operations.

**Describe the solution you'd like**
Have separate methods to add/remove support for CrypTen

**Describe alternatives you've consi

[2020-04-15 14:42] karlhigley commented on #3344
It does allow for reproducibility, because each test run prints out the random seed at the beginning and you can pass it back in with a flag.

IMO, we need tests that are resilient to receiving different numbers, because the tests are already not guaranteed to run in the same order on every run (due to package path changing refactors.) I'd much rather intentionally deal with the problem of tests t

[2020-04-15 14:43] karlhigley commented on #3344
Anyway, #3358 adjusts the thresholds to make this test pass reliably, so this game of whack-a-mole has shifted to other parts of the code base.

[2020-04-15 14:43] #3344 closed

[2020-04-16 13:38] NiWaRe commented on #3338
Hey @johnnylin110,
sure no problem, here is my code: [Google Colab ResNet](https://colab.research.google.com/drive/1AQX35TJdH0u_mWoEEAkK_CN00xA6TyTY)
Was part of an assignment at university and I also did some comments so should help you to get an understanding of the architecture (ignore some comments, also was confused at times), I would also recommend to read the original paper.
Concerning the

[2020-04-16 13:54] johnnylin110 commented on #3338
@NiWaRe
Thanks a lot !
I will take a look , have a nice weekend !

[2020-04-17 12:04] abogaziah opened #3369 "securenn.maxpool2d isn't implemented appropriately"
**Describe the bug**
securenn.maxpool2d is implemented with arg a_sh that must be a **wrapped** AdditiveSharingTensor. and after calling .fix_prec() on it the chain becomes `fixed_prec>wrapper(torch.Tensor)>AdditiveSharingTensor` which is confused with a normal fixed_prec tensor chain `fixed_prec>torch.Tensor`
I could change the conditions to identify if it's a wrapper (I did that as a hot fix) bu

[2020-04-17 16:20] #3359 closed

[2020-04-17 16:34] karlhigley commented on #3369
Might be good to fix this issue independently, but Syft Core has concluded that we should remove wrappers from the code base entirely. (It'll take a while.)

[2020-04-17 19:39] #3369 closed

[2020-04-18 14:40] youben11 commented on #3228
This was addressed in a different PR

[2020-04-18 14:40] #3228 closed

[2020-04-19 15:08] #3333 closed

[2020-04-19 19:54] #3316 closed

[2020-04-21 05:19] Yugandhartripathi commented on #2981
We can close this one now :smile:

[2020-04-21 05:19] #2981 closed

[2020-04-21 05:33] #2784 closed

[2020-04-21 11:23] rotalex commented on #3291
I will look into this.

[2020-04-21 13:55] Nilanshrajput opened #3382 "PySyft Tensor shape and size() call returns different values"
**Describe the bug**
After sending tensor to a worker the size() call returns `torch.Size([0])` while .shape returns correct value.

**To Reproduce**
Steps to reproduce the behavior:
1.
data = torch.tensor([[0,0],[0,1],[1,0],[1,1.]], requires_grad=True)
bobs_data = data.send(bob)
print(bobs_data.shape) -> torch.Size([4, 2])
print(bobs_data.size()) -> torch.Size([0])

**Expected behavior**
size() m

[2020-04-21 14:39] karlhigley commented on #2981
🎉

[2020-04-21 18:33] artix41 commented on #2341
Is there any update on this issue? Multiplying and dividing tensors by integers is a pretty common operation, and it took me a while to understand why `torch.mean` returned an absurd value when working with n>=3 workers.

[2020-04-21 19:45] gmuraru opened #3385 "Move CrypTen Hook functionality to a different file"
**Is your feature request related to a problem? Please describe.**
Currently, we have the functionality to hook the CrypTen module inside the ```TorchHook```.  We should separate the framework hook information.
**Describe the solution you'd like**
We should move this functionality to a separate file and in ```TorchHook``` import that functionality and call it.

[2020-04-21 19:53] LaRiffle commented on #2341
We just had a great PR merged (#2982) which will help for this issue which is still open!
https://github.com/OpenMined/PySyft/pull/3148 also adresses secure comparison for more workers, but @artix41 if yoy're willing to do the checks for multiplication & addition I'd be very graeful!

[2020-04-21 19:57] LaRiffle commented on #3382
Hey, this is a known issue: it is not possible to hook the size like we did for the shape because the size is used by the print function, which for Pointers wrapped into an empty torch tensor needs to be applied on this wrapper and not on the remote value.

[2020-04-21 19:58] LaRiffle commented on #3382
Well maybe there is a way to fix this, but this is why we didn't manage to get it working :)

[2020-04-21 20:00] LaRiffle commented on #3163
Hey @ratmcu, size() is currently being investigated in https://github.com/OpenMined/PySyft/issues/3382
Meanwhile, I suggest that you use `input_ids.shape[1]` instead it should work correctly!

[2020-04-22 03:47] durden62 opened #3388 "syft.exceptions.UndefinedProtocolTypeError: syft.execution.placeholder_id.PlaceholderId is not defined in the protocol file"
while running the start_websocket_servers.py, this issue (syft.exceptions.UndefinedProtocolTypeError) shows up. does anybody have a solution?
following below is the complete error:
File "/Users/shekhar/PySyft/syft/serde/msgpack/proto.py", line 71, in proto_type_info
    raise UndefinedProtocolTypeError(f"{type_name} is not defined in the protocol file")
    raise UndefinedProtocolTypeError(f"{type

[2020-04-22 13:13] karlhigley commented on #3388
That sounds like a mismatch between PySyft and `syft-proto` versions. I'd try re-installing the PySyft requirements from `pip-dep/requirements.txt` and see if that resolves it.

[2020-04-22 13:52] Yugandhartripathi opened #3389 "AST dtype arg should only accept long and int"
**Is your feature request related to a problem? Please describe.**
Currently the dtype arg for initialising AdditiveSharingTensor accepts None, "long", "int", "custom". But as an attempt for standardisation we don't want user to be able to call with arg "custom" it is there only for internal operations(like secureNN).

**Describe the solution you'd like**
Raise a ValueError with a response along t

[2020-04-22 15:00] youben11 opened #3390 "Crypten hooking"
As introduced in #3374 and other PRs, hooking of crypten is being merged into torch hooking functions. We should try to separate crypten hooking from torch hooking. Another possibility is to add an option while hooking torch (`hook = TorchHook(th, hook_crypten=True)`) to disable or enable crypten hooking.

[2020-04-23 09:22] fodierna commented on #3388
I had the same problem. Re-installing the requirements solved it. Thank you.

[2020-04-23 09:35] theAkhileshRai commented on #3108
Interested in this project!

[2020-04-23 11:26] Yugandhartripathi opened #3394 "Investigate and refactor mul_and_div in FPT"
**Describe the issue**
Now that we support negative value of shares below code segment in `mul_and_div` in `precision.py` is not useful because it is essentially not doing anything just breaking down the share values based on whether it's positive or negative into `pos_self` and `neg_self` and then adding them element-wise to get back the original tensor with no changes.

But if we remove this the

[2020-04-23 11:33] gmuraru opened #3395 "Bump PyTorch to 1.5"
**Is your feature request related to a problem? Please describe.**
PyTorch 1.5 is released and we want to start using that version.

**Describe the solution you'd like**
Bump the PyTorch version to 1.5 (and the torchvision) and fix the failing tests

[2020-04-23 17:15] AlanAboudib opened #3397 "Memory leak in F.relu() method in AST"
This code, causes a memory leak only on the first worker in the worker list passed to the `encrypt()`. In this example it is  'alice', the second worker 'bob' does not suffer from any leaks.

The reason is the `F.relu()` method:

[code]

Here is the output (Only Alice leaks)

[code]

If you comment out `logits = F.relu(logits)`, no memory leaks are observed:

[code]

[2020-04-23 18:31] AlanAboudib opened #3398 "Memory leak in the argmax() method of AST"
This code, causes a memory leak only on the first worker in the worker list passed to the `encrypt()`. In this example it is  'alice', the second worker 'bob' does not suffer from any leaks.

The reason is the `argmax()` method:

[code]

Here is the output (Only Alice leaks):

[code]

If you comment out `a.argmax(dim=1)`, no memory leaks are observed:

[code]

[2020-04-24 05:01] durden62 commented on #3388
hey man, thanks a lot. although I did this earlier. it showed

then I quit this step of upgrading syft-proto but after your answer, I did that anyway and the error got resolved.

[2020-04-24 05:01] #3388 closed

[2020-04-24 06:35] Kritikalcoder commented on #2448
I'm working on it

[2020-04-24 08:49] durden62 opened #3400 "TypeError: expected str, bytes or os.PathLike object, not PosixPath"
Hey, can anybody please tell me what is the cause of this error while running start_websocket_servers.py ? is it because of using subprocess.py file in the anaconda path?

Starting server for Alice
Traceback (most recent call last):
  File "start_websocket_servers.py", line 17, in <module>
    subprocess.Popen(call_alice)
  File "/anaconda3/lib/python3.6/subprocess.py", line 709, in __init__
    r

[2020-04-24 13:32] gmuraru opened #3401 "`test_torch_tanh_approx` is flaky"
**Describe the bug**
The ```test_torch_tanh_approx``` test fails intermittently during automated PR testing.

**To Reproduce**
Run the test (or full suite) until it fails.

**Screenshots**
[code]
**Expected behavior**
The test should always pass

**Additional context**
This started being an issue when the order of the test suite was randomized (specifically to shake out flaky tests like this.)

[2020-04-24 15:11] karlhigley opened #3402 "Decouple `Plan` tracing from `BaseWorker`"
**Is your feature request related to a problem? Please describe.**
Tracing nested `Plans` still depends on stashing state on `BaseWorker` via the `init_plan` attribute. We'd like to decouple `Plan` tracing from the hooks and `BaseWorker`, so that it's self-contained and can trace multiple `Roles` in parallel for `Protocols`.

**Describe the solution you'd like**
 TBD how to do this while keeping n

[2020-04-25 06:25] IamRavikantSingh commented on #3390
I would like to work on this issue.

[2020-04-25 06:59] IamRavikantSingh commented on #3385
I would like to work on this issue.

[2020-04-25 19:38] durden62 commented on #3400
this error was there because due to whatsoever reason, in this python file, the interpreter was not able to load the path of the file  start_websocket_servers.py.

this cause of error got confirmed because of the realization that no matter what was the path value in this command FILE_PATH = Path(__file__).resolve().parents[4].joinpath("run_websocket_server.py”)  in the start_websocket_servers.py f

[2020-04-25 19:38] #3400 closed

[2020-04-27 03:45] #2496 closed

[2020-04-28 05:40] systemshift opened #3413 "consider adding pip-dep to pypi repo"
**Describe the bug**
trying to add syft to conda-forge (#2911), it runs a script that downloads the package from pypi then builds it locally. The issue is that `setup.py` has references to files such as `requirements.txt` that only exist in the github repo, and not in pypi, so the following error is generated:
[code]
as a result of `pip-dep` is missing.

**To Reproduce**

run `python setup.py` ins

[2020-04-28 15:09] #3397 closed

[2020-04-28 15:09] #3398 closed

[2020-04-28 19:25] #3402 closed

[2020-04-29 14:12] karlhigley opened #3423 "`@sy.func2plan` error messages should include the original error"
**Is your feature request related to a problem? Please describe.**
When errors happen while building `Plans` with `@sy.func2plan`, the actual errors get swallowed by the error handling and replaced with:
[code]
This is a useful error but hides what the original issue was, which might have been something like:
[code]
on a call to `torch.split()`.

**Describe the solution you'd like**
The returned e

[2020-04-29 14:54] karlhigley opened #3424 "Register `CommunicationActions` in `Roles` (for `Protocols`)"
**Is your feature request related to a problem? Please describe.**
`Role.register_action()` should be able to register both `ComputationActions` and `CommunicationActions`. Some of the assumptions about which fields are present only make sense for `ComputationActions`, which causes errors when trying to register `CommunicationActions`.

**Describe the solution you'd like**
Make the change easy:
*

[2020-04-29 15:05] karlhigley opened #3425 "Trace `CommunicationActions` into `Protocols`"
**Is your feature request related to a problem? Please describe.**
The current tracing capabilities in `Placeholder` are currently only capable of tracing `ComputationActions`, but not `CommunicationActions`. (See the issue linked below for necessary pre-requisite changes to `Roles`.)

We're using the `handle_func_command` method from the framework hooks to perform the tracing, which doesn't get c

[2020-04-29 15:13] #3250 closed

[2020-04-29 15:22] karlhigley commented on #3312
I think it's just called `GridClient` now.

[2020-04-29 15:22] #3312 closed

[2020-04-30 10:36] gmuraru opened #3429 "Reduce complexity of route_method_exception"
Split the code from ```route_method_exception``` into two separate functions and remove the ```noqa: C901```.

**Describe alternatives you've considered**
Simplify the function such that no split is required.

**Additional context**
Code quality:
[code]

[2020-04-30 10:36] gmuraru opened #3430 "Reduce complexity of ```create_sandbox```"
Split the code from ```create_sandbox``` into two separate functions and remove the ```noqa: C901```.

**Describe alternatives you've considered**
Simplify the function such that no split is required.

**Additional context**
Code quality:
[code]

[2020-04-30 10:36] gmuraru opened #3431 "Reduce complexity of ```forward``` from rnn"
Split the code from ```forward``` into two separate functions and remove the ```noqa: C901```.

**Describe alternatives you've considered**
Simplify the function such that no split is required.

**Additional context**
Code quality:
[code]

[2020-04-30 10:36] gmuraru opened #3432 "Reduce complexity of ```conv2d``` functional.py"
Split the code from ```cov2d``` into two separate functions and remove the ```noqa: C901```.

**Describe alternatives you've considered**
Simplify the function such that no split is required.

**Additional context**
Code quality:
[code]

[2020-04-30 10:36] gmuraru opened #3433 "Reduce complexity of ```qr``` from operations.py"
Split the code from ```qr``` into two separate functions and remove the ```noqa: C901```.

**Describe alternatives you've considered**
Simplify the function such that no split is required.

**Additional context**
Code quality:
[code]

[2020-04-30 11:29] #3345 closed

[2020-04-30 13:46] Leinadj opened #3435 "Move() on same machine"
Dear all,

I was not sure whether to classify this as a "bug" or "new feature", please move it in case this is wrong.
Is the behavior of the move() method intended to throw an error, when trying to move an object to a virtual worker that already possesses the object?
In case this happens, a objectnotfounderror is raised:

_ObjectNotFoundError: Object "56137057453" not found on worker!!! You just t

[2020-05-02 15:54] abogaziah opened #3439 "flatten() removes the object!"
**Describe the bug**
when .flatten() is called on AST or a remote torch tensor it removes the original tensor from the worker
**To Reproduce**
A= torch.rand(4)
a=A.fix_prec().share(bob, alice, crypto_provider=james) #or A.send(bob)
b=a.flatten()
a.get()

note: this happens only with 1D tensor, 2D works fine

[2020-05-02 18:06] dcato98 commented on #3431
Hey, is it okay if I start working on this one?

[2020-05-02 19:48] abogaziah commented on #3439
@Syzygianinfern0 is this related to your recent GC fixes?

[2020-05-02 22:23] MaksymPetyak commented on #3432
Hi! I would like to contribute on this issue.

[2020-05-03 02:12] kamathhrishi opened #3440 "ImportError: cannot import name 'OperationMessage'"
Not sure if this is something I will have to post in syft-proto or here. Either ways I will post in both. I installed syft-proto from source.

`Traceback (most recent call last):
  File "run_websocket_client.py", line 10, in <module>
    import syft as sy
  File "/Users/hrishikesh/opt/anaconda3/envs/py3_6_3/lib/python3.6/site-packages/syft/__init__.py", line 15, in <module>
    import syft.framewo

[2020-05-03 02:49] gmuraru commented on #3431
Hey, sure. Assigned the issue to you.

[2020-05-03 02:50] gmuraru commented on #3432
Hey. I assigned the issue to you ^_^

[2020-05-03 05:16] kamathhrishi commented on #3440
I was using incompatible syft-proto and PySyft versions.

[2020-05-03 05:16] #3440 closed

[2020-05-03 08:10] LaRiffle commented on #3432
Maybe don't change that function, @alhparsa is already working on it for some optimisation purpose, i will create merge conflicts! (And conv2d is complex by nature)

[2020-05-03 08:11] LaRiffle commented on #3433
Same, don't change it, you won't get clarity by breaking it in many small functions I think.

[2020-05-03 12:02] LaRiffle commented on #2892
v0 merged #3057

[2020-05-03 12:02] #2892 closed

[2020-05-03 13:15] LaRiffle commented on #2706
@Yugandhartripathi I guess your PR significantly helps for this issue, but the problems is still there.
I've put an example to reproduce in the description

[2020-05-03 13:17] LaRiffle commented on #3232
Hey @bicycleman15 !
I believe your PR is still open and needs tests if you'd like to add them :)

[2020-05-03 13:23] #3026 closed

[2020-05-03 15:03] MaksymPetyak commented on #3439
Hey,
I had a look at this, and I think the issue is that in torch the .flatten operation on 1d array is actually an _inplace_ operation. You can do the above example with .view(-1) and it will work fine.
I have fixed the issue locally by modifying the is_inplace_method in torch_attributes.py
[code]
Not entirely sure what would be a good fix to this, as I don't think we use the input shape in anywa

[2020-05-03 15:16] Syzygianinfern0 commented on #3439
Seems to be the case (confirmed from a `git bisect`). Although don't know if I can look into it right away.

@MaksymPetyak I had tried the same thing earlier today but that didn't seem to be solving the issue. Can you confirm if that is the only change required with a recent copy of the codebase.

[2020-05-03 15:25] Syzygianinfern0 commented on #3439
The number of such edge cases that might be hidden for pretty much every method we have scares me now
:open_mouth:

[2020-05-03 15:28] #3389 closed

[2020-05-03 19:55] abogaziah commented on #3439
Hey @MaksymPetyak , would you make a pull request with your changes?

[2020-05-04 04:46] gmuraru commented on #3432
Closing this issue then!

[2020-05-04 04:46] #3432 closed

[2020-05-04 04:47] gmuraru commented on #3433
Closing it!

[2020-05-04 04:47] #3433 closed

[2020-05-04 08:46] Syzygianinfern0 commented on #3439
After some discussion with @MaksymPetyak it's important to be noted that if anyone is working on this, **don't** use `a.get()` to decide if the pointer exists or not. It is easily misinterpretable that you have a solution if you've managed to make this work. This is since, if made into an inplace operation, it just creates `a` to be a duplicate of `b` and hence it pretends that the tensor exists :

[2020-05-04 12:22] knexator opened #3447 "torch.mean on AdditiveSharingTensor doesn't work"
**Describe the bug**
torch.mean in SMPC on fixed precision tensors gives garbage results

**To Reproduce**
[code]

**Expected behavior**
The result should be the same as if calculating it by hand, which works correctly
`print((torch.sum(values).get() / 6).float_precision())`

**Additional context**
This might have to do with the fact that division also seems broken:
`print((torch.sum(values) / 6).

[2020-05-04 15:17] Syzygianinfern0 commented on #3395
https://del.dog/ylinebubin.txt
Stack trace of `pytest` on torch 1.5 for anyone working on it :+1:

[2020-05-05 06:21] jmaunon commented on #3245
I think this issue is already fixed in the following commit:
https://github.com/OpenMined/PySyft/commit/e4b5cab232910968036f8bac1d499b19356de41c

@karlhigley If you agree this issue could be closed

[2020-05-05 13:17] #3413 closed

[2020-05-05 18:09] aashiqmuhamed commented on #3160
@mari-linhares I'd like to work on this if no one's looking at this already. Could you help me get started?

[2020-05-05 18:44] #3245 closed

[2020-05-05 18:51] karlhigley commented on #2894
`Plan` no longer has multiple parents and `Promise` has been removed.

[2020-05-05 18:52] karlhigley commented on #2894
@tudorcebere This might be helpful for sorting out some of the worker issues you've been looking at.

[2020-05-05 18:54] karlhigley commented on #3425
See #3448 for work on implementing this.

[2020-05-05 20:13] Nike682631 commented on #3431
is this issue active\

[2020-05-05 20:14] Nike682631 commented on #3430
Hey, can i resolve this issue ?

[2020-05-05 20:24] dcato98 commented on #3431
Yes, it's been fixed in the PR above awaiting review.

[2020-05-06 04:25] systemshift commented on #2911
Currently the issue seems to be with testing on the build machine.
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=156069&view=logs&j=10bda42a-d420-5c28-a43f-bc4e66405e5c&t=bef775d0-a1a2-55a3-9721-17147029baf0

[code]

If anyone knows what should replace the default template with please let me know.

[2020-05-06 11:37] amin-nejad opened #3455 "Multiple workers same ID"
**Describe the bug**
If we have multiple workers with the same `id`, it causes all sorts of weird and wonderful errors further down the line when it comes to encryption or training etc. none of which tell you that the problem is that you have two workers with the same `id`. Instead you get things like `AttributeError: 'AutogradTensor' object has no attribute 'fix_prec'` or `IndexError: list index

[2020-05-06 13:22] karlhigley opened #3456 "Add `State` to `Roles` in `Protocols`"
**Is your feature request related to a problem? Please describe.**
The new implementation of `Protocols` currently has no way to handle state.

**Describe the solution you'd like**
A good starting point would be for each `Role` to track its own state, which is roughly what's happening in `Plans` right now, since there's only one `Role` per `Plan`. However, the state management code is currently in

[2020-05-06 13:57] Nike682631 commented on #3429
hey , can i work on this issue?

[2020-05-06 19:48] karlhigley opened #3458 "Rework `@sy.func2protocol` syntax to create `Roles` with names for tracing"
The existing syntax for `@sy.func2protocol` assumes that the inputs to the traced `Protocol` function are already owned by workers, which implicitly define the `Roles`. Instead, we'd like to specify the names of `Roles` in the `@sy.func2protocol` arguments somehow, and then have those available while executing the decorated function to build the `Protocol`.

[2020-05-07 07:40] #3431 closed

[2020-05-07 07:51] kennysong opened #3459 "Syft and Jupyter have incompatible requirements for tornado"
In a fresh venv, run:

[code]

Jupyter requires `tornado>=5.0`, while Syft requires `tornado==4.5.3`. After running the second line, it downgrades tornado to `4.5.3` which breaks Jupyter.

Logs:

[code]

[2020-05-07 09:57] Jasopaum commented on #3423
Doesn't the stack trace show the Exceptions that were raised before this one?

[2020-05-07 13:20] karlhigley commented on #3459
You can find a set of compatible versions in the [notebook requirements file](https://github.com/OpenMined/PySyft/blob/master/pip-dep/requirements_notebooks.txt). You can also use `make notebook` to set up an environment.

[2020-05-07 13:20] #3459 closed

[2020-05-07 14:05] kennysong commented on #3459
Ah, thanks for the reference. In case someone else runs into the same problem (the Jupyter PyPi package is kind of confusingly versioned), I got this working in a venv with:

[code]

Didn't try `make notebook` since that seems more for doing development in the Syft repo than using it as a package. Thanks!

[2020-05-07 16:09] MBrendon opened #3463 "Value Error in torch_serde._detail_torch_tensor when calling async_fit from LAN WebSocketWorker"
Hello All,

I'm referencing the advanced tutorial: [websocket-mnist-parallel](https://github.com/OpenMined/PySyft/tree/master/examples/tutorials/advanced/websockets_mnist_parallel) and I'm running into a `ValueError: not enough values to unpack (expected 9, got 7)`. When running the servers and notebook from the same device, there are no issues, but when I switch to a different device for the note

[2020-05-07 16:11] karlhigley commented on #3463
PySyft doesn't yet support Python 3.8, so it could be related to that. Could you post the versions of PySyft and syft-proto running on each machine?

[2020-05-07 16:26] MBrendon commented on #3463
After updating to lates version of syft (0.2.5), the issue has disappeared. Closing issue

[2020-05-07 16:26] #3463 closed

[2020-05-07 16:38] karlhigley commented on #3459
[code]
should also work.

[2020-05-07 16:45] karlhigley commented on #3423
Hmm, I guess it does. This test:
[code]
gives this stack trace, which is so long my eyes glazed over and I tried to follow the advice at the bottom, which is not super-helpful in this case:
[code]

[2020-05-07 17:57] karlhigley opened #3464 "New PySyft workers are created with FSS `Plans` in their object storage"
**Describe the bug**
When a new worker is created, it comes with some `Plans` already loaded into the object storage:
[code]

**To Reproduce**
[code]

**Expected behavior**
New workers should start with empty object stores.

**Additional context**
Probably a result of the recent Function Secret Sharing PR.

[2020-05-07 18:11] UtkarshChaurasia commented on #2782
Can I translate readme of tutorials to into Hindi? @iamtrask

[2020-05-07 18:37] jmaunon commented on #3464
I confirm this bug as well

[2020-05-07 20:32] rotalex commented on #3395
I will look on this

[2020-05-08 01:26] #2631 closed

[2020-05-08 06:38] Syzygianinfern0 commented on #3395
Great! I've assigned it to you. Feel free to ping me if you feel you are caught up in any stage :smile: :+1:

[2020-05-08 09:51] tudorcebere opened #3467 "test_fit[gaussian_mixture-1-cpu] is flaky"
**Describe the bug**
test_fit[gaussian_mixture-1-cpu] has undefined behavior between multiple runs.

**To Reproduce**
Run the tests multiple times.

**Expected behavior**
To be deterministic between similar runs.

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: 20

Error:
assert loss_after < loss_before
assert tensor(0.6931, grad_fn=<NllLossBackward>) < tensor(0.

[2020-05-08 10:21] tudorcebere opened #3468 "Cross platform typechecking"
**Is your feature request related to a problem? Please describe.**
PR #3296 added support for Python <> Python typechecking on `Plans`, making them behave similar to typed functions.

**Describe the solution you'd like**
We want to achieve cross platform typechecking between Python, Kotlin, Swift, Javascript.

**Describe alternatives you've considered**
 This can be done by doing the typechecking

[2020-05-08 11:11] LaRiffle opened #3469 "Showcase privacy-preserving weighted aggregation"
### Idea

We propose an extension of secure aggregation which is blind weighted secure aggregation. n parties contributing their data might have unbalanced datasets, so we want to weight their contributions so data parties with datasets not appropriate for this model task will have a lower impact. So we should find the best weights for each party.
However, we want these weights to be private as we

[2020-05-08 11:29] theAkhileshRai commented on #3469
Interested in the project. The approach is novel. 😊

[2020-05-08 13:13] LaRiffle opened #3470 "Inplace send_ & get_ on LongTensor Bug"
**Describe the bug**
This fails
[code]
with
[code]
The reason being that after the operation * 2 the wrapper changes of type from FloatTensor to LongTensor

That's (partly) why BatchNorm is failing #2498

[2020-05-08 13:38] karlhigley opened #3471 "`test_torch_tanh_approx` is flaky"
**Describe the bug**
`test_torch_tanh_approx` often fails during automated PR-checking test runs.

**To Reproduce**
Run the test or the test suite a few times until it fails.

**Expected behavior**
Should pass reliably.

**Screenshots**
[code]

**Additional context**
Possible that several of the parameterized cases are flaky.

[2020-05-08 14:01] rotalex commented on #3471
I will look on this.

[2020-05-08 15:20] thiessl opened #3474 "FL grid tutorials not working"
**Describe the bug**
Currently, the FL MNIST [tutorial ](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/grid/federated_learning/mnist/Fed.Learning%20MNIST%20%5B%20Part-2%20%5D%20-%20Train%20a%20Model.ipynb) seems not to work for me.
The line "model.send(worker)" results in the following issue:

`
WARNING:syft.workers.websocket_client:Websocket connection closed (worker: Bob)
WA

[2020-05-08 16:27] gmuraru opened #3476 "Bump TensorFlow to 2.2"
**Is your feature request related to a problem? Please describe.**
TensorFlow 2.2 is released and we want to start using that version.

**Issues/Dependencies**
* ```tf-encrypted``` does not have support for that version.
* ```TensorFlow 2.2``` is using a version of Python which is >=3.6 - also has support for Python3.8 (currently in PySyft we support 3.6 and 3.7)

[2020-05-08 22:33] NicoSerranoP opened #3478 "Serialize a Torch Paillier Tensor with encrypted values"
**Describe the bug**
I am trying to serialize a torch Paillier Tensor (which has been previously encrypted) in order to send it/store it somewhere. I am getting the following error:
AttributeError: 'numpy.ndarray' object has no attribute 'grad'

**To Reproduce**
Steps to reproduce the behavior:
[code]
The last step ```sy.serde.serialize(obj=x_encrypted)``` would throw the error:
[code]
**Expected

[2020-05-09 14:30] karlhigley opened #3480 "Don't use `assert` for non-debugging data validation (security risk)"
**Describe the bug**
`assert` is used throughout the code base as a way to validate assumptions about data shapes and properties. These checks can be globally disabled disabled with the -O and -OO flags, as well as the PYTHONOPTIMIZE env var.

**To Reproduce**
Search the `syft` module for `assert` and review the results. (Currently there are 86 such usages.)

**Expected behavior**
Data validation

[2020-05-09 15:17] karlhigley opened #3481 "Make `BaseWorker.send_command()` take explicit args instead of a `tuple`"
**Describe the bug**
`BaseWorker.send_command()` takes a `message` tuple, where position in the tuple indicates which argument is which. This makes it harder to provide proper type annotations and causes difficult to debug issues downstream.

**Expected behavior**
`BaseWorker.send_command()` should take explicit named arguments with type annotations.

**Screenshots**
[code]

**Additional context**

[2020-05-09 21:44] Nike682631 commented on #3401
Can i work on this issue? is it open?

[2020-05-09 22:04] #3424 closed

[2020-05-09 22:36] NicoSerranoP commented on #3478
I tried modifying the ```python self.child.grad``` in a forked repo but then the next error message is:
[code]
It looks like the external library [msgpack](https://msgpack-python.readthedocs.io/en/latest/api.html#msgpack.Packer) is having problems when transforming the 'PaillierTensor' object into binary code.

Does anybody knows any other way to serializer a PaillierTensor? I think that the send

[2020-05-09 23:02] ChedidJM commented on #2554
Hello,
I have a class that inherits the Dataset class, but I can't apply the .federate() method on an instance of this class. Can someone explain why?
Thank you.

class UCI_HAR(Dataset):
    def __init__(self, samples, labels):
        self.samples = samples
        self.labels = labels

    def __getitem__(self, index):
        sample, target = self.samples[index], self.labels[index]
        retu

[2020-05-10 10:41] shubham3121 commented on #3481
@karlhigley created a pull request for this refactorization.
https://github.com/OpenMined/PySyft/pull/3487

[2020-05-10 15:00] karlhigley opened #3489 "PR template contains checkboxes that are never checked"
**Describe the bug**
The PR template contains a bunch of check-boxes that never get checked, which makes open PRs appear unfinished.

**To Reproduce**
Look at the Pull Requests tab and verify that completed PRs show progress like "1 of 7": https://github.com/OpenMined/PySyft/pulls

**Expected behavior**
Finished PRs should show all tasks checked off. Specific tasks from the contributing guidelines

[2020-05-10 15:05] karlhigley opened #3490 "Create temporary `VirtualWorkers` for tracing in each `Role` of a `Protocol`"
**Is your feature request related to a problem? Please describe.**
`Protocols` currently require `Workers` to exist before tracing, which hampers the future assignment of multiple `Workers` to a `Role`.

**Describe the solution you'd like**
When creating `Roles` in `@sy.func2protocol`, create a `VirtualWorker` for each `Role` and assign it to an attribute on that `Role`.

**Describe alternatives y

[2020-05-10 15:13] #3458 closed

[2020-05-10 15:20] karlhigley opened #3491 "Create a `RoleAssignment` class for `Protocols`"
**Is your feature request related to a problem? Please describe.**
It's not yet possible to execute a `Protocol` with multiple `Workers` filling the same `Role`.

**Describe the solution you'd like**
Create a simple `RoleAssignment` class that contains the mapping from `Role` names/ids to an ordered list of `Workers` for each `Role`.

**Describe alternatives you've considered**
* Use a dictionary

[2020-05-10 15:56] karlhigley opened #3492 "Make it possible for `Protocols` to generate tensors on specific `Roles`/`Workers`"
**Is your feature request related to a problem? Please describe.**
When tracing and executing `Protocols`, it's not yet possible to locally generate new tensors (e.g. with `torch.rand()`) and have them registered on the correct `Role`/`Workers`.

**Describe the solution you'd like**
Give each `Role` a `torch` attribute that contains a `FrameworkWrapper` around the actual `torch` module for tracing

[2020-05-10 16:01] karlhigley opened #3493 "Add cross-framework translation to `Protocols`"
**Is your feature request related to a problem? Please describe.**
`Protocols` can currently only be executed with PyTorch and are incompatible with web/mobile.

**Describe the solution you'd like**
Add translation to `Protocols` using the translation components already present `Plans`. Refactor as needed to make them work for both `Plans` and `Protocols`.

**Describe alternatives you've considere

[2020-05-10 16:05] karlhigley opened #3494 "Trace `fetch` and `load` actions into `Protocols`"
**Is your feature request related to a problem? Please describe.**
It's not yet possible to `fetch` objects from or `store` object to the local `Worker's` object store inside a `Protocol`, which makes it impossible to provide inputs or extract outputs.

**Describe the solution you'd like**
Flesh out the existing `fetch` method and add a parallel `store` method. Make sure they can be traced as `Act

[2020-05-10 16:15] #3425 closed

[2020-05-10 18:02] roblewis1237 commented on #3349
also would like to know the answer to this one. some previous issues suggest fl.optimizer module might have resolved this, but it's unclear to me how to use that?

[2020-05-10 18:07] roblewis1237 commented on #3349
hey @NiWaRe - i looked through the issues and PRs. I think this might resolve it for us

https://github.com/OpenMined/PySyft/pull/3179/files

there's now an example in https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%2002%20-%20Intro%20to%20Federated%20Learning.ipynb

[2020-05-10 18:19] roblewis1237 commented on #3349
@NiWaRe - I can confirm this works. i can now federate the adam optimizer. the example in the tutorial 2 is accurate.

thanks @rimijoker + @iamtrask!

[2020-05-10 19:52] jmaunon opened #3496 "matmul in AST error when verbose=True"
**Describe the bug**
Matrix multiplication of AST throws an error when workers are verbose

**To Reproduce**

[code]

**Traceback**

[code]

[2020-05-10 19:55] #3481 closed

[2020-05-10 20:37] amin-nejad opened #3497 "Plans to support nn.Dropout"
**Is your feature request related to a problem? Please describe.**
A `syft.Plan` does not appear to properly support `nn.Dropout`. There are no errors when this layer is included in a Neural Net that inherits from `syft.Plan` but `nn.Dropout` relies on the `training` member variable from `nn.Module` to turn the dropout on and off, yet `syft.Plan` does not appear to have this data member. As far as

[2020-05-10 20:50] amin-nejad opened #3498 "syft.Plan to support nn.BatchNorm"
**Is your feature request related to a problem? Please describe.**
`syft.Plan` does not support `nn.BatchNorm` layers. Possibly related to #3472. Fails when `build()` is called with an error along the lines of `ValueError: 69813939498 is not in list`

**Describe the solution you'd like**
No error.

[2020-05-11 14:21] #3184 closed

[2020-05-11 16:31] gmuraru opened #3501 "Remove Wrap from PointerTensor"
**Is your feature request related to a problem? Please describe.**
Remove the ```wrapper``` from ```PointerTensor```

**Additional context**
All the tests should pass with a minimal change

[2020-05-11 16:32] gmuraru opened #3502 "Remove wrapper from Custom Tensors"
**Is your feature request related to a problem? Please describe.**
Currently, we have a ```wrapper``` around our tensors.

**Describe the solution you'd like**
Remove the wrappers around the custom tensors we use in PySyft.

**Additional context**
By removing the wrappers the logic should be simplified, each tensor having a set of *specific* functionalities.

**Subtasks**
[PointerTensor](https://g

[2020-05-11 16:57] gmuraru opened #3503 "Flaky test ```test_spinup_time```"
**Describe the bug**
```test_spinup_time```  fails during automated PR-checking test runs.

**Expected behavior**
Should pass reliably.

**Screenshots**
[code]

**LE**: Skip this test altogether from the automation pipeline

[2020-05-11 17:01] karlhigley commented on #3503
I haven't figured out a good way to run the time-based tests. The efficiency tests are skipped during the builds, and maybe this one should be too?

[2020-05-12 10:01] kennysong opened #3507 "Adam and other stateful optimizers do not work on federated models"
I have [a very basic FL setup](https://gist.github.com/kennysong/80b5c02f2506de39b5aa7c2abd6c4140) with 10 virtual workers training on MNIST.

Training the models works correctly with `torch.optim.SGD`. Switching to `torch.optim.Adam` or any other stateful optimizer (e.g. SGD with momentum, RMSProp, Adagrad) fails with this error on the `opt.step()` line:

[code]

Seems like a bug with how the PyS

[2020-05-12 10:08] kennysong commented on #3507
Oh, just found a few duplicate bugs:

- #2070
- #3349

Looks like this is fixed by using the new PySyft optim wrapper.

[2020-05-12 10:08] #3507 closed

[2020-05-12 12:35] stephenjfox opened #3508 "Jupyter Notebook Malfunctions from Clean Environment"
**Describe the bug**
A clear and concise description of what the bug is:
In checking the validity of the project's documentation, I found the [pre-installation instructions](https://github.com/OpenMined/PySyft#pre-installation) don't leave me with a notebook-ready environment

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the aforementioned pre-installation instructions
2. Pe

[2020-05-12 13:56] iamtrask opened #3509 "Support operations in autograd tensor that are needed by convolutional layer and cross entropy"
From @vvmnnnkv:

[2020-05-12 14:03] #3423 closed

[2020-05-12 14:07] tudorcebere opened #3510 "Pailier Tensor proper testing."
**Describe the bug**
Pailier Tensor has serde methods (simplify/detail), but no testing done. I've added a dummy test in `test/serde/serde_helpers.py`, `make_pailier`, but no proper testing.

**Expected behavior**
Proper testing for Pailier tensor.

[2020-05-12 14:51] #3435 closed

[2020-05-12 18:44] #3489 closed

[2020-05-13 05:25] NicoSerranoP commented on #3478
I created a function myself to serialize a Paillier Tensor into a  json/string :D
I would love to contribute to the serde section of PySyft with this function but I am do not understand 100% all the functions and where would this function fit. Nevertheless, here is the code I wrote (if I can help in anything please let me know, it would be a honor to contribute.

[code]

[2020-05-13 11:03] ZhechunZhou opened #3514 "model.copy().get() cause "clone() got an unexpected keyword argument 'memory_format'" error"
I tried to implement model averaging using the function provided by Tutorial
"Federated Learning of a Recurrent Neural Network for text classification"

I uncomment this line:

"model_pointers = fed_avg_every_n_iters(model_pointers, iter, args.federate_after_n_batches)"

to run this function:
def fed_avg_every_n_iters(model_pointers, iter, federate_after_n_batches):
        models_local = {}

[2020-05-13 13:06] karlhigley commented on #3478
This is related to #3510. If you look at [the bottom of `paillier.py`](https://github.com/OpenMined/PySyft/blob/master/syft/frameworks/torch/tensors/interpreters/paillier.py#L258-L295), there are two methods `simplify` and `detail`, which convert a `PaillierTensor` to Python primitives like `list`, `dict`, `int`, `str`, etc to prepare it for serialization with msgpack. The methods already exist bu

[2020-05-13 13:52] youben11 opened #3516 "Update how rank_to_worker_id is stored in workers"
**Describe the bug**

An issue we had was that WebsocketServerWorker was storing the received rank_to_worker_id dictionary into `self` then our `crypten.load_from_party` function was trying to get that from `syft.local_worker`, a quick fix was made to store it in `syft.local_worker` as well as self, this will causes issues if :

- The worker running the server is also doing some crypten computatio

[2020-05-13 14:04] karlhigley opened #3517 "Add a list of `@abstractmethods` to `AbstractWorker`"
`AbstractWorker` doesn't currently define which methods must be implemented by child classes, but it should. Its only current sub-class is `BaseWorker`, so the `@abstractmethods` should be a sub-set of the methods on `BaseWorker`.

[2020-05-13 15:31] dorin98 commented on #3510
Hello!
I would like to work on this.

[2020-05-13 15:33] tudorcebere commented on #3510
Assigned!

[2020-05-13 16:12] karlhigley commented on #3510
See #3478 for some additional details.

[2020-05-13 16:18] karlhigley commented on #3517
Resolved by #3519.

[2020-05-13 16:18] #3517 closed

[2020-05-13 17:01] gmuraru opened #3523 "Method to check if support for framework exists"
**Is your feature request related to a problem? Please describe.**
Have a method that checks if a worker can add support for a specific framework.

**Describe the solution you'd like**
A method in the ```BaseWorker``` which receives a framework name and it returns ```True``` or ```False``` depending if there exists support for a specific framework.

[2020-05-13 18:37] #3163 closed

[2020-05-13 18:40] #3490 closed

[2020-05-13 19:01] gmuraru opened #3524 "Code coverage"
**Is your feature request related to a problem? Please describe.**
We are at 95% coverage and this is the lower limit we are allowed to be :)
Increase the coverage we have on our codebase as much as possible.

**Describe the solution you'd like**
Try to test as much as possible.
If there are specific parts that we can not test mark them with ```pragma: no cover``` and if we can test something, tha

[2020-05-13 19:26] gmuraru commented on #3503
I think this is a good idea! Will edit the issue and also marking it ```Good first issue```

[2020-05-13 23:59] #3492 closed

[2020-05-14 06:37] Syzygianinfern0 opened #3527 "`__del__` of ObjectPointers on Python shutdown throws errors"
**Describe the bug**
On execution of even a very basic code such as
[code]
a error is thrown when python shuts down.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://colab.research.google.com/drive/1CSQGnxDZo0TwMjERRpLYKTtDmQoIu9LK?usp=sharing or run given snippet pasted in a .py file from your terminal/IDE
2. See error

**Expected behavior**
Python must terminate without

[2020-05-14 14:43] #3363 closed

[2020-05-14 14:43] gmuraru commented on #3385
Closing this as it is solved.

[2020-05-14 14:43] #3385 closed

[2020-05-14 14:43] #3390 closed

[2020-05-14 16:03] #3464 closed

[2020-05-14 16:22] sukhadj opened #3533 "Make PySyft compatible with Google Colab"
**Is your feature request related to a problem? Please describe.**
Google Colab is a great cloud platform to run your jupyter notebooks on GPUs/TPUs without having them connected to your local machines. Currently, PySyft doesn't run as expected on Colab, or sometimes doesn't even load properly.

(There are work-arounds to load pysyft - run the cell and restart the kernel but that doesn't guarantee

[2020-05-14 16:46] #3470 closed

[2020-05-14 19:27] ratmcu commented on #3382
@LaRiffle
![image](https://user-images.githubusercontent.com/16415585/81976943-45e02680-95f7-11ea-948f-6d919d58ee7b.png)

If I am not mistaken now we are getting the size of the (empty) torch tensor, How does this happen differently when it comes to Size method only?

[2020-05-14 20:56] shubham3121 commented on #3527
@karlhigley not able to replicate the error, both in google colab and in local terminal.

[2020-05-15 01:27] karlhigley commented on #3527
I have seen this happen before, though it may not be consistent. I think the cause is `PointerTensors` or `ObjectPointers` going out of scope, having their `__del__` method called (which attempts to send a message to the owner of the referenced object), and having that collide with Python shut down activities. There's not likely to be a quick fix for this though, because our GC implementation fund

[2020-05-15 07:15] #3496 closed

[2020-05-15 10:57] gmuraru commented on #3471
Seen this again, here:
[code]
[Link](https://pipelines.actions.githubusercontent.com/tPFNPqeRbvWdN0L3FU84cUvH4mGjAPQ3yYz8CFZWN08ePzUDwG/_apis/pipelines/1/runs/4726/signedlogcontent/4?urlExpires=2020-05-15T10%3A58%3A25.7158601Z&urlSigningMethod=HMACV1&urlSignature=LC4XWEEH8D9P7UbpZMTe1olEd4B3XTD2qrq7Frc81oU%3D)

[2020-05-15 11:01] bicycleman15 commented on #3232
Hey @LaRiffle really sorry for the late reply. I haven't had the time to work on this lately, if someone else would like to take this up, then please go ahead.
I am sorry for holding onto this for so long.

[2020-05-15 17:46] punitvara commented on #3111
@karlhigley Is any one working on this ? I can take this task for my outside GSoC contribution

[2020-05-16 17:10] jmaunon commented on #3474
@thiessl , did you find the solution?. I have found (maybe) the same error. Could you paste the error from node_server? (not only the client)

[2020-05-16 20:54] jmaunon opened #3537 "MPC on private tensor"
**Description of the feature**
Private Tensors (PTs) provide a great functionality managing the users who can `get()` a tensor (see https://blog.openmined.org/what-is-pygrid-demo/)

PySyft provides Additive Sharing Tensors (ASTs) for working with mpc, however this is not implemented for PTs. See the following example:

[code]

This example throws the following exception:

[code]

Notice that if we

[2020-05-17 12:01] Avi-000-Avi commented on #3537
Can I take up this problem?

[2020-05-17 14:41] bobsonlin26 opened #3539 "Transmission Rate is lower than expected"
**Describe the bug**
I tried to analyze the performance of the secure aggregation (additive secret sharing).
I found that even though the link speed between two machines is 1000Mbps, the transmission rate of sending a tensor is much lower than I expected...(For my observeation, the transmission rate is about 50 Mbps to 70Mbps).
Therefore, it always takes 8 - 12 seconds to send a share if there're

[2020-05-17 15:03] okazaki0 commented on #2971
try to create async function and use inside the await i think it will work

[2020-05-17 17:26] karlhigley commented on #3111
No idea!

[2020-05-17 19:23] bobsonlin26 commented on #3539
It's because `ObjectStorage` is renamed to `ObjectStore` so that GridNode can't be launched
I've fixed this error in my branch and created a [PR](https://github.com/OpenMined/GridNode/pull/11) to GridNode

[2020-05-18 04:07] kennysong opened #3540 "Error when testing equality of AdditiveSharingTensors (without a crypto_provider?)"
When I try to test equality of two AdditiveSharingTensors (`x == y`), it fails with a `ObjectNotFoundError` error.

Here's a basic code sample to reproduce:

[code]

This fails on the `==` line with:

[code]

However, this seems to work if I add a separate worker as the `crypto_provider`. For example, if you replace the two lines with `.share()` above with:

[code]

^This works. Is this a bug? Or

[2020-05-18 04:26] abogaziah commented on #3533
Can you try to send a tensor then get it and see if you get a NaN?
if not, can you try to regenerate the error with simpler code than that? I do not have the pickle file(s) so I can't really test if it works :)

[2020-05-18 05:02] kennysong opened #3541 "tensor.prod() does not return the right result (on an AdditiveSharingTensor)"
`tensor.prod()` does not return the right result for an AdditiveSharingTensor. See:

[code]

[2020-05-18 05:16] kennysong commented on #3540
Same problem for multiplication!

[code]

Only addition (`x + y`) works without specifying a `crypto_provider`.

[2020-05-18 05:48] kennysong opened #3542 "Assignment operator *= gives the wrong result! (for AdditiveSharingTensors)"
The assignment operator `*=` doesn't multiply properly for AdditiveSharingTensors.

See this example:

[code]

This gives `tensor(1)`, which is totally wrong!

Doing the assignment explicitly works, e.g. `z = z * x[i]`.

The addition assignment operator seems to work with no problems, e.g. `z += x[i]` works correctly.

[2020-05-18 07:43] KunlinY opened #3543 "Iterate over wrapper of tensor pointer failed"
**Describe the bug**
I would like to iterate over a torch tensor, which is send to a websocketclientworker. But it is non-iterator.

**To Reproduce**
[code]

**Expected behavior**
It should list the tensors like the following:

**Screenshots**
However, it report the following error:

**Desktop (please complete the following information):**
 - OS: Windows 10 and Ubuntu 18.04

[2020-05-18 12:29] sukhadj commented on #3540
Hey, so AST uses secure multiparty communication (SMPC) to perform the operations like multiplication, division. It uses `crypto provider` to generate the triplets which are necessary to perform this operations. So crypto provider is kind of necessary 🙂

[2020-05-18 12:38] karlhigley commented on #3540
It seems like `share()` is overly permissive then. Until recently (when @Prtfw added an exception), `share()` could be called with no arguments. Something similar should probably happen here: a required argument that's missing should immediately raise an exception rather than allowing incorrect behavior.

[2020-05-18 12:59] kennysong commented on #3540
Thanks @sukhadj, I figured it was something like that. A few beginner questions:

1. What is AST?
2. Why does `x + y` work without a crypto provider and not `x * y`?
3. Can I read more about this in the documentation somewhere?
4. If `crypto_provider` is not always required for `.share()`, as an alternative to @karlhigley's suggestion, can the error message be more specific? e.g. `crypto_provider

[2020-05-18 13:13] AlanAboudib commented on #3540
I also had this equality issue, even with a crypto provider, only when `requires_grad = False`

[2020-05-18 13:24] sukhadj commented on #3540
AdditiveSharingTensor

So addition is just basically adding alice's share of x with alice's share of y and then module it. You can see implementation of addition [here](https://github.com/OpenMined/PySyft/blob/6b55ba01e411537e5c43f44235d24c33bdbaadf0/syft/frameworks/torch/tensors/interpreters/additive_shared.py#L413).

PySyft currently don't have extensive documentation right now. But you can find

[2020-05-18 13:41] sukhadj commented on #3540
Can you try again with pulling the master?
It works now when provided with crypto provider. Maybe changed in @LaRiffle's  FSS PR.

[2020-05-18 14:04] sukhadj opened #3545 "Raise an exception when crypto_provider is not provided when sharing the tensor"
**Is your feature request related to a problem? Please describe.**
When we share the tensor using share() method, it by default assigns the calling worker (me) as a crypto provider. This allows us to perform addition and subtraction, however, it raises ObjectNotFound error after multiplication.

**Describe the solution you'd like**
Raise warning when share() is called, something like

And a specif

[2020-05-18 16:07] socd06 opened #3546 "Jupyter bug due to Tornado when following readme pre-installation"
I followed the installation guide in the readme and had an issue using Jupyter due to its incompatibility with Tornado.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow pre-installation and installation guide, Install virtual environment
2. Run `conda install jupyter notebook ` to install `jupyter>6`
3. Running `pip install 'syft[udacity]'` will install `tornado==4.5.3` as required by

[2020-05-18 18:10] KunlinY opened #3547 "torch.autograd.grad support/usage in PySyft?"
**Describe the bug**
I would like to use torch.autograd.grad to calculate gradients. The input parameters are in the same WebsocketClientWorker. It would report this error:

If I fetch both parameters using tensor.copy().get(), all the grad would be None because there is no grad_fn.

However, if I remove PySyft, my tensors contains grad_fn and it runs correctly without error

**To Reproduce**
`
lo

[2020-05-18 19:24] karlhigley commented on #3546
Hmm, a compatible notebook version is listed in [`requirements_notebook.txt`](https://github.com/OpenMined/PySyft/blob/master/pip-dep/requirements_notebooks.txt#L2). Should it also be in `requirements_udacity.txt`?

[2020-05-18 19:30] karlhigley commented on #3546
Alternately, maybe it would be cleaner to add the notebook requirements to the `udacity` extras in [`setup.py`](https://github.com/OpenMined/PySyft/blob/master/setup.py#L53)?

[2020-05-18 19:51] socd06 commented on #3546
Thanks for replying @karlhigley
Any or both solutions look great. You could also add the `jupyter<6` version requirement to the readme  Jupyter install or `tornado>5` to [pip-dep requirements](https://github.com/OpenMined/PySyft/blob/master/pip-dep/requirements.txt)

I saw that it's listed in [requirements_notebook.txt](https://github.com/OpenMined/PySyft/blob/master/pip-dep/requirements_notebooks

[2020-05-19 09:34] AlanAboudib commented on #3540
Does `==` work if you set `requires_grad = False` in the `share` method?

[2020-05-19 11:41] cereallarceny opened #3549 "Create a better Readme"
[Based on this readme template](https://github.com/OpenMined/.github/blob/master/README-TEMPLATE.md), we should improve our readmes across all OpenMined projects.

[Please consult the following document for our desired best practices.](https://docs.google.com/document/d/126smq1Gful_mo-x5Wm1M1UJW9CvB8fT9YYZmamNqk0M/edit?usp=sharing)

[2020-05-19 12:13] iamtrask opened #3550 "Add All Methods to PySyft's Autograd System"
**Is your feature request related to a problem? Please describe.**
In order to backpropagate on top of our custom tensor types, we've had to build our own autograd. All the mechanics are in this file: https://github.com/OpenMined/PySyft/blob/master/syft/frameworks/torch/tensors/interpreters/autograd.py

However, while the autograd works, it doesn't have very many methods - and we need it to work f

[2020-05-19 12:14] iamtrask opened #3551 "Create Docs Folder for All Repos"
**Is your feature request related to a problem? Please describe.**
In all OpenMined repos, we want to have a /docs folder which can contain markdown files for our documentation. To complete this issue, create a docs folder in each repo (not just PySyt) and add an initial boilerplate "README.md" in the folder.

[2020-05-19 12:20] punitvara commented on #3550
Interested @iamtrask

[2020-05-19 12:28] ariannmichael commented on #3545
I would like to take up this issue

[2020-05-19 12:35] #2996 closed

[2020-05-19 12:40] cereallarceny commented on #3550
@vvmnnnkv

[2020-05-19 13:02] AlanAboudib commented on #3551
We will work on this.

[2020-05-19 13:32] vvmnnnkv commented on #3550
This issue looks like more generic version of https://github.com/OpenMined/PySyft/issues/3509?

Note that #3509 was postponed because there's no clearance if Autograd tensor should be used for autograd tracing in Plans. Autograd tensor is only used together with FixedPrecision and AdditiveSharing tensors and at least wasn't intended for tracing.

[2020-05-19 13:48] iamtrask opened #3552 "Implement a "remote_copy()" method on ObjectPointer"
which will copy the object and return a pointer to the new object.

[2020-05-19 13:52] AlanAboudib commented on #3552
For SyferText, we also need to keep the same 'id' in the new copy

[2020-05-19 16:37] sukhadj commented on #3545
Hey @ariannmichael I assigned you

[2020-05-19 17:07] ReshinthAdith commented on #3549
I want to start the Technical Writing part, What's the procedure?

[2020-05-19 19:45] LaRiffle opened #3553 "Multiply an additive sharing tensor with a Long tensor fails"
**Describe the bug**
Multiply an additive share tensor with a Long tensor fails
The other way around works

**To Reproduce**
[code]

[2020-05-19 20:03] vvmnnnkv opened #3554 "Plan tracing of Tensor properties access"
**Describe the bug**
Plan tracing:
We might need to trace Tensor properties access. `.shape`, `.data`, for example.
One of the existing problems is not being able to trace getting tensor's shape.
`.size()` doesn't work (#3382) and `.shape` is not traced.
(if we look at torch.jit.trace(), it magically transforms .shape[n] to .size(n) method).

**To Reproduce**
Steps to reproduce the behavior:
[code

[2020-05-19 23:44] shubhamsingh987 opened #3555 "Slack Link is no longer Active."
Someone provide me a new link i ll open the pull request for the same.
![Screenshot (6)](https://user-images.githubusercontent.com/31474894/82389078-d59f2e00-9a58-11ea-8326-a384439c84f1.png)

[2020-05-19 23:45] shubhamsingh987 opened #3556 "Slack Link is no longer Active."
Someone provide me a new link i ll open the pull request for the same.
![Screenshot (6)](https://user-images.githubusercontent.com/31474894/82389078-d59f2e00-9a58-11ea-8326-a384439c84f1.png)

[2020-05-20 00:18] Yugandhartripathi commented on #3555
Stack overflow moment: Marked as duplicate.
#3556 covers this one.

[2020-05-20 00:18] #3555 closed

[2020-05-20 01:08] iamtrask commented on #3556
https://join.slack.com/t/openmined/shared_invite/zt-egilzqit-Ap8akPmZBArTdyL3OmWt8Q

[2020-05-20 06:16] eric-yates commented on #3551
I'll handle this for PyGrid!

[2020-05-20 07:25] vtanwar-iitr opened #3558 "'VirtualWorker' object has no attribute '_tensors' in tutorial - 9"
I am completely new to PySyft and got an error of "VirtualWorker' object has no attribute '_tensors", when I am working in Encrypted Domain Computation. Please help me.

import torch
import syft as sy
hook = sy.TorchHook(torch)

bob = sy.VirtualWorker(hook, id="bob")
alice = sy.VirtualWorker(hook, id="alice")
bill = sy.VirtualWorker(hook, id="bill")

x = torch.tensor([25])

x
tensor([25])

x = tor

[2020-05-20 13:25] karlhigley commented on #3558
@vtanwar-iitr I think this was broken by a recent change. Try `bob.object_store._tensors`?

[2020-05-20 14:39] Madhura12gj opened #3562 "Error: add_() takes 1 positional argument but 2 were given"
Hi there, I'm trying out FL on the wisonsin breast cancer dataset, and I get the following error while I try to train.
 `Error : add_() takes 1 positional argument but 2 were given`
Here's a snippet of the training function, any help on why this occurs would be appreciated. Let me know if anything else is needed.
`def train(args, model, device, train_loader, optimizer, epoch):`
    `model.train()`

[2020-05-20 17:07] vtanwar-iitr commented on #3558
@karlhigley Thanks for your reply..

I tried "ob.object_store._tensors" but this is not working showing same error..

VirtualWorker' object has no attribute 'object_store

However, I reinstalled the complete Syft and other dependencies in a new Conda environment. It's working great.

[2020-05-20 17:08] vtanwar-iitr commented on #3558
The query has been resolved , therefore I am closing this issue.

[2020-05-20 17:08] #3558 closed

[2020-05-20 18:06] vtanwar-iitr opened #3564 "Decrypting secret value from shares via adding in Line 22, tutorial 9"
**EXISTING**
secret value = tensor([25])

In 22: (bob_share + alice_share + bill_share)
out 22: [tensor([a]),  tensor([b]),  tensor([c])] is not equal to tensor([25])

**CORRECTED**
In 22': (bob_share[0] + alice_share[0] + bill_share[0])
out 22': [tensor([a]),  tensor([b]),  tensor([c])] is equal to tensor([25])

[2020-05-20 19:44] cereallarceny commented on #3556
Done.

[2020-05-20 19:44] #3556 closed

[2020-05-20 21:31] eric-yates commented on #3551
Should we use the README template from the .github repo? ie. [this one](https://github.com/OpenMined/.github/blob/master/README-TEMPLATE.md)

[2020-05-20 22:39] iamtrask opened #3568 "PySyft Tornado Version Breaks Jupyter Lab"
**Describe the bug**
Installing PySyft on a clean machine breaks jupyter notebook because our requirements.txt file has a fixed version.

[2020-05-20 22:40] iamtrask commented on #3568
Symptom: jupyter notebook fails to open... it just hangs.

[2020-05-20 22:41] iamtrask commented on #3568
Changing tornado depenency to 6.0.4 fixes it

[2020-05-20 22:46] karlhigley commented on #3568
See #3546 for discussion on this.

[2020-05-20 22:48] karlhigley commented on #3568
Closing as duplicate.

[2020-05-20 22:56] iamtrask opened #3569 ".private_tensor() requires a tuple when it should ask for a list and cast it to a tuple"
**Describe the new feature**
[code]

This is what I currently have to do to initialize a private tensor. However, the notation for initializing a tuple in Python is clunky because you have to create parentheses and then a comma.

[code]
This is what I'd like to do instead - which can cast to a tuple in the backend.