[2020-11-25 03:26] madhavajay commented on #4669
Current CONTRIBUTING.md here: https://github.com/OpenMined/PySyft/blob/dev/CONTRIBUTING.md

[2020-11-25 03:33] madhavajay commented on #4846
Related PR: https://github.com/OpenMined/PySyft/pull/4853/files

[2020-11-25 14:05] #4791 closed

[2020-11-25 19:36] ayush12gupta commented on #4798
@madhavajay  I am new to this project I have gone through tutorials but didn't come across what are duets as I would like to contribute to this issue

[2020-11-26 00:26] madhavajay commented on #4798
Hi @ayush12gupta Yes, sorry the Duet stuff is in the code but only referenced from the Duet README currently.
https://github.com/OpenMined/PySyft/tree/dev/examples/duet

This task is to create 2 notebooks for DCGAN the same way we have for MNIST.
You will see the MNIST notebooks in the README.md above and the DCGAN folder already created in examples.
However please be aware that it's entirely poss

[2020-11-26 06:12] #4762 closed

[2020-11-26 06:14] #4723 closed

[2020-11-26 07:22] #4778 closed

[2020-11-26 14:46] mustansarsaeed opened #4863 "Plan is giving Torchscript Error"
## Question
Hosting Plan for workers showing torchscript error

## Further Information

Hi, I am using pysyft 0.2.x and PyGrid. I have hosted a plan that I want to run on Mobile worker. Plan is as follows:
[code]
Plan built successfully.  print(evaluate_model_plan.code) displays the code but print(evaluate_model_plan.torchscript.code) , Torchscipt shows the following error.

[code]

What can be th

[2020-11-27 06:43] xutongye commented on #4856
Hi @madhavajay , do we have a Set class? I did not find it in source code. Which branch should I be in?

[2020-11-27 11:33] TryFL opened #4865 "Error with TorchHook or VirtualWorker"
Hello. I have tried to use PySyft today. But I always get these error messages when I try to run sy.VirtualWorker(..) or hook = sy.TorchHook(torch):

AttributeError: module 'syft' has no attribute 'VirtualWorker'

Does anyone know the problem and knows a solution ?

## System Information
 - Google Colab
 - Python 3.6.9
 - Syft 0.3.0

[2020-11-27 12:50] #4865 closed

[2020-11-27 23:56] madhavajay commented on #4865
@TryFL . The new 0.3.0 release no longer uses sy.TorchHook. Some updated documentation is here: https://github.com/OpenMined/PySyft/tree/dev/examples/duet
More to come shortly.

If you need to use 0.2.x it is still available on PyPI.

[2020-11-28 00:10] #4662 closed

[2020-11-28 00:10] #4631 closed

[2020-11-29 00:11] #4548 closed

[2020-11-29 00:11] #3980 closed

[2020-11-29 00:11] #3972 closed

[2020-11-29 00:11] #3971 closed

[2020-11-29 00:11] #3970 closed

[2020-11-29 00:11] #3969 closed

[2020-11-29 00:11] #3957 closed

[2020-11-29 00:11] #3967 closed

[2020-11-29 00:11] #3954 closed

[2020-11-29 00:11] #3953 closed

[2020-11-29 00:11] #3937 closed

[2020-11-29 00:11] #3925 closed

[2020-11-29 00:11] #3863 closed

[2020-11-29 00:11] #3922 closed

[2020-11-29 00:11] #3858 closed

[2020-11-29 00:11] #3829 closed

[2020-11-29 00:11] #3808 closed

[2020-11-29 00:11] #3772 closed

[2020-11-29 00:11] #3771 closed

[2020-11-29 00:11] #3770 closed

[2020-11-29 00:11] #3768 closed

[2020-11-29 00:11] #3769 closed

[2020-11-29 00:11] #3765 closed

[2020-11-29 00:11] #3715 closed

[2020-11-29 00:11] #3710 closed

[2020-11-29 00:11] #3108 closed

[2020-11-29 20:58] #4758 closed

[2020-11-30 05:11] madhavajay commented on #3695
Remaining tasks on this issue should be converted into new tickets for the future backlog.

[2020-11-30 11:03] Nazila-H opened #4874 "How can I receive a tensor from server side and continue computations in client side?"
## Question

Hi everybody,
I am working with PySyft 0.2.X.
I want to send a tensor from a server side to a client side and receive it then start to do some computations there. I have defined worker and server as following:

Server side:
[code]
Client side:
[code]
after running from client side then server side I got the following results from server side:

[code]

then from client side I did not g

[2020-11-30 14:21] yashmaurya01 opened #4875 "Module 'syft' has no attribute 'KerasHook'"
I am using syft version 0.2.9. I have installed tensorflow-privacy and tensorflow-encrypted in my environment as per the discussion [here](https://github.com/OpenMined/PySyft/issues/2859). The error is still there.

[code]

[2020-12-01 09:10] koch-tobias opened #4880 "RuntimeError: input.size(-1) must be equal to input_size. Expected 200, got 0"
## Question
RuntimeError: input.size(-1) must be equal to input_size. Expected 200, got 0.

## Further Information
Hi everyone,

does anyone know a solution for this Error? I am trying to switch my PyTorch network to an Federated Learning network but i always get this Error.

I’m using Google Colab an train on GPU. When I print the size of embeds I get 0, but I don’t understand why the data is not

[2020-12-01 12:33] tudorcebere commented on #4567
Hello @LaRiffle,

Is this related to 0.2.X or 0.3.X? We are rethinking a bit a part of the serde in the current 0.3.X. Do you have any example from such channel in other projects?

[2020-12-01 12:33] #4310 closed

[2020-12-01 13:06] LaRiffle commented on #4567
it's also valid for 0.3.X!
We could use pyarrow, which is dedicated to sending big object and comes together with a kind of network protocol called arrow flight
We have done a PoC of this for crypto purpose (in branches ryffel/ariaNN of Pysyft & PyGrid), it provides great speed-ups

[2020-12-01 13:28] tudorcebere commented on #4567
I really like the idea of using Arrow in our store/serde. I'll add the 0.3.X tag and create an issue, I'd be really interested in working on this, mostly because I am curious about how Arrow works.

@madhavajay :eyes:

[2020-12-01 14:00] sparkingdark commented on #4624
Okay I will inform you soon... @cereallarceny and btw I am not on slack,can you send me a invite

[2020-12-01 14:08] sparkingdark commented on #4518
@madhavajay thanks for the reply and I was pretty busy with my college and assignments but now I am start working again the assigned issues.

[2020-12-01 23:52] madhavajay opened #4883 "Private AI Series Library Support"
## Description
We require support for a number of libraries to cover the listed educational units below.

## Why?
To facilitate the Private AI Series.

## Breakdown

- [ ] Support Public Key Technology: https://github.com/OpenMined/PySyft/issues/4844
- [ ] Support Secure MPC: https://github.com/OpenMined/PySyft/issues/4845
- [x] Support Homomorphic Encryption: https://github.com/OpenMined/PySyft/i

[2020-12-02 12:06] #4776 closed

[2020-12-02 12:07] #4775 closed

[2020-12-02 16:32] ElsaBroso1 commented on #4766
Hi, when I start duet I have the message
...waiting for partner to connect...
♫♫♫ > ...error getting a running event Loop... no running event loop
♫♫♫ > ...creating a new event loop...

And then, when with the data owner send the data, as soon as I make duet.store.pandas I have theRunTimeError: Task got Future <Future pending> attached to a different loop. How can I solve it?

[2020-12-02 17:45] tudorcebere opened #4886 "Add pointer tests on syft.lib.python.Dict"
## Description
Similar to `tests.syft.lib.python.list.pointer_test.py`, we want a way to test that the original `dict`, `Dict` and `DictPointer` have the same behaviour.

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [x] **Stress test** (e.g. checking to see how well a system performs under various situations, including heavy usage)

[2020-12-02 17:58] matei-s commented on #4886
I would like to work on this.

[2020-12-03 00:11] #4710 closed

[2020-12-03 08:41] JMLourier commented on #4518
Hi @madhavajay and @sparkingdark, do you need support on this issue? I'd like to contribute here.

[2020-12-03 08:55] madhavajay commented on #4518
@JMLourier Yes if you could I can assign it to you for now. @sparkingdark I didn't hear from you so ill just assign it to @JMLourier for now if thats okay.

[2020-12-03 09:06] sparkingdark commented on #4518
@madhavajay can you send me the slack invite?

[2020-12-03 09:29] LaRiffle opened #4887 "Error in PySyft Autograd for Convolution"
## Description
It looks like convolution are not handle by the PySyft 0.2.9 Custom Autograd system, resulting in poor performance for training CNN in fixed precision or in a fully private way

## How to Reproduce
Take any small CNN and train it in fixed precision over MNIST. If you observe the convolution parameters during training, they don't change.

## System Information
 - PySyft 0.2.9

[2020-12-03 23:00] madhavajay commented on #4518
Hi @sparkingdark the Slack is Public. Unfortunately I have no assigned this to @JMLourier so if you want to help see if theres some way you can sub divide the work otherwise there are other tickets available.
<img width="629" alt="Screen Shot 2020-12-04 at 8 58 33 am" src="https://user-images.githubusercontent.com/2882739/101098585-e6874980-360e-11eb-84b4-d65b41a6bfd0.png">

[2020-12-03 23:06] madhavajay commented on #4766
@ElsaBroso1 Perhaps you can investigate and see if you can figure it out? We believe its something to do with the main process not having an asyncio event loop started under some scenarios so perhaps see if theres a way to ensure that the main event loop gets started when syft starts up?

[2020-12-04 00:11] #4717 closed

[2020-12-04 01:56] sparkingdark commented on #4518
Okay I try to find some other issues to work.

On Fri, 4 Dec 2020, 04:30 Madhava Jay, <notifications@github.com> wrote:

[2020-12-04 17:44] tudorcebere commented on #4832
:pray:

[2020-12-04 18:17] tudorcebere opened #4888 "Allowlist on all supported libraries"
## Description
All libraries should follow the allowlist system existing in `syft.lib.torch`. Currently, `syft.lib.python` does not respect the same structure when creating the AST.

## Definition of done
A file in all supported libraries (especially in `syft.lib.python`) named `allowlist.py` that creates the allowlist for the python AST.

[2020-12-05 00:11] #4732 closed

[2020-12-07 00:12] #2736 closed

[2020-12-07 00:59] madhavajay opened #4890 "Log Connection Successful in syft-network"
## Description
We want to introduce some really basic logging into the syft-network tool so that we can see every time a connection is made and count these in the log files as a basic metric of #number of connections since the network server was started. Hash IP and turn into Country code.

## Definition of Done
Write a connections.log file which logs the startup or shutdown of the network process

[2020-12-07 10:09] ElsaBroso1 commented on #4766
Well, at the end I did not know what was the problem. However, running the script un ubuntu has no problems, so I will doing in ubuntu

[2020-12-07 17:03] mustansarsaeed opened #4891 "TypeError: mul(): argument 'other' (position 1) must be Tensor, not NoneType"
## Question
I am trying to build `Plan` using `pysyf 0.2.x` and getting the following error:

`TypeError: mul(): argument 'other' (position 1) must be Tensor, not NoneType`

## Further Information
I am trying to build `Plan` for the Network that includes **Sigmoid** activation function, but same model works with **Relu** function. When I build with **sigmoid** I get the following error:

**Model:*

[2020-12-07 18:34] tudorcebere opened #4892 "StorableObject refactor"
## What?
The StorableObject is not in a great shape, some love is needed there.

## Why?
We glued together a way of using it, but it's quite unreadable, error-prone and we might be doing useless stuff in the serde. We should have a proper way of not using wrappers in our own objects, wrappers are only for external objects to make them storable.

Notes:
* `construct_new_object` should be removed fr

[2020-12-08 00:12] #3950 closed

[2020-12-08 19:19] thodosss opened #4893 "How to set parameters in SyNet class?"
Is there an equivalent of the following expression of PySyft previous version tutorial to set aggredated weight and bias in a new model via SyNet class?

[code]

Thank you in advance

[2020-12-09 11:46] Wilann opened #4894 "Error when installing via `pip install syft`"
## Description
When installing using `pip install syft`, I'm getting the error:
[code]

## How to Reproduce
Type `pip install syft`

## System Information
 - OS: MacOS
 - OS Version: 11.0.1
 - Language Version: Python 3.9.0
 - Package Manager Version: Conda 4.9.2

[2020-12-09 12:34] jaintj95 commented on #4894
Facing the exact same issue.

@Wilann As a temporary resolution, you can try these steps.
1) pip install syft==0.3.0
2) If 1 fails, install pytorch
3) Try 1 again

[2020-12-09 17:16] Wilann commented on #4894
@jaintj95 Worked perfectly - thanks a lot!

[2020-12-09 17:16] #4894 closed

[2020-12-09 17:52] mgale694 opened #4896 "PySyft Federated Learning WebSockets - AttributeError("'str' object has no attribute 'id'")"
## Description
I am trying to run a simple Logistic Regression ML model with simple test data via syft's WebSocket workers. I have initialised a server worker which is running. Then I have sent that data and model to said worker - however when I try and perform model(data) I get this - AttributeError("'str' object has no attribute 'id'").

## How to Reproduce
1. Run this in a jupyter notebook
<img

[2020-12-09 19:19] vnitu02 opened #5699 "Implement median aggregation"
## Question
I want to implement other aggregation plans (e.g., based on the median instead of the mean)

## Further Information
I'm starting from the _01-Create-plan_ example and I'm replacing:

[code]

with

[code]

I see that when the `iterative_plan` is `False`, `avg_plan` takes all the model updates as parameter. My question is how to define `diffs` so that this "averaging" plan can be compile

[2020-12-09 19:45] ydennisy commented on #4680
hey @AlanAboudib do you have an ETA planned for this?

[2020-12-10 07:30] madhavajay commented on #4894
Unfortunately, PyTorch does not support Python 3.9 yet so we are unable to support it either.
I would suggest using a tool like pyenv so you can install multiple versions of Python 3 on MacOS now that brew is upgrading the current python 3 to 3.9.0.

[2020-12-10 07:34] jaintj95 commented on #4894
@madhavajay I had the same issue with Python 3.8.x

[2020-12-10 07:55] devkumar24 commented on #4505
Hey, I am new to the open-source community and would to start contributing and Think of starting
 with this issue, can I start off this issue?

[2020-12-10 07:58] devkumar24 commented on #4036
Hey, I want to work on this issue, Can you assign me on this issue?

[2020-12-10 08:03] madhavajay commented on #4680
@ydennisy there are some other blockers preventing @AlanAboudib  from finishing this notebook. As soon as they are resolved we will get this notebook merged.

[2020-12-10 08:09] madhavajay commented on #4894
Hi @jaintj95, Do you have an existing installation of torch? Are you able to show some steps to re-produce your 3.8.x error?

[2020-12-10 08:13] Harkirat155 commented on #4894
The issue arises due to conflicting dependencies of different versions for syft.
As, @madhavajay suggested, you should consider using `virtualenvs` if you seek to work with multiple versions. Or consider uninstalling previous versions, if you currently don't have dependendents off them.
On a side note, we recent brought major changes in recent releases for pysyft(v0.3.x), and it is recommended to

[2020-12-10 08:13] jaintj95 commented on #4894
Torch 1.4.0 is installed in Conda base package but I created a separated conda environment for syft.

Steps:
[code]

[2020-12-10 10:17] gmuraru commented on #4036
Sure :D

[2020-12-10 16:54] LaRiffle opened #4898 "Add the device type to Tensor serialization"
## Feature Description
We would like to send the information about is the data should be stored in the CPU or the GPU in the protobuf file: https://github.com/OpenMined/PySyft/blob/dev/proto/lib/torch/tensor.proto

[2020-12-10 17:23] NiWaRe opened #4899 "Check in data2object whether the device of the sent tensor is compatible with current machine."
## Description
In deserialization before creating a tensor check whether the current machine can support the device type that was sent - if a CUDA tensor was sent make sure that if the machine hasn't got a GPU the tensor device is set to CPU first.

## Are you interested in working on this improvement yourself?
- Yes, I am.

## Additional Context
Should be solved at the same time as #4898

[2020-12-11 00:10] madhavajay opened #4901 "Get 0.2.x Dataloader working in 0.3.x"
## Description
Try to get the 0.2.x Dataloader example working in 0.3.x and figure out if there are any changes required:
https://github.com/OpenMined/PySyft/blob/syft_0.2.x/examples/tutorials/Part%2007%20-%20Federated%20Learning%20with%20Federated%20Dataset.ipynb

## Definition of Done
A PR which demonstrates this working in a notebook.

[2020-12-11 02:06] madhavajay opened #4902 "Add PyTorch Conf Notebook Demo"
## Description
Include a link to the video and the simple hello world tutorial that was on the PyTorch Dev Demo in `examples/pytorch_dev_2020`.

## Definition of Done
Notebooks and README are in a PR and the video is available from the README.md

[2020-12-11 02:33] madhavajay commented on #4894
@jaintj95 We can add some Conda tests to our CI to see whats happening and make sure this isnt an issue.

[2020-12-11 10:48] jaintj95 opened #4903 "ptr.__len__() returns None in syft 0.3.0 dev"
## Description
While testing the Duet MNIST tutorials with latest version of syft (dev branch) I ran into the following error
![len](https://user-images.githubusercontent.com/36858630/101894253-e74e4b80-3bcb-11eb-98d1-fef7594c0cb2.png)

## How to Reproduce
1. Run the MNIST example notebooks
2. The error occurs on `def get_train_length(train_data_ptr)` cell in Data Scientist notebook

Also the `try

[2020-12-11 10:54] jaintj95 opened #4904 "Syft logger generates error stack due to Unicode Emojis"
## Description
While testing the Duet MNIST tutorials with latest version of syft (dev branch) I ran into the following error:

[code]

### ⚠️ Note - The error (obviously) goes away if `sy.logging(file_path="./syft_do.log")` is commented out.

I am taking a wild guess here but it seems the logger cannot handle some emojis.

## How to Reproduce
1. Run the MNIST example notebooks

## System Informat

[2020-12-11 15:07] sbasu26 commented on #4901
Hi,

Please assign this issue to me.
I would like to work on this.

[2020-12-12 06:00] rajatrc1705 commented on #4901
Can I also try and work on this issue.. I am just getting started but would like to work on this issue too.

[2020-12-12 09:03] NiWaRe commented on #4560
For Vanilla FL remote shifting to and from CUDA is supported (which has to be done before and after calling the secure aggregation function, a showcase should be added to the current secure aggregation tutorial), remaining problems will be fixed through #4899 #4898.
Complete encrypted training will be locally possible with Sycret.

[2020-12-12 09:03] #4560 closed

[2020-12-13 04:57] madhavajay opened #4906 "Add Torch 1.7.1"
## Description
Add Torch 1.7.1 to support matrix and tests.

## Definition of Done
Torch 1.7.1 in the compatibility matrix. New Ops added to the allowlist.

[2020-12-13 05:19] #4654 closed

[2020-12-13 09:31] devil-cyber commented on #4906
Hey @madhavajay can you help me to get started with this issue

[2020-12-13 23:18] madhavajay opened #4909 "Duet Connect Handle API"
## Description
To provide the ability to orchestrate Duet sessions better and support the Public Key Technology demo across Duet we need to improve the Duet loopback=True code to support arbitrary hooks to support passing in a function or retrieving a handle which can be invoked to trigger the session start and optionally input the pairing code from an external call site. We should allow some kind

[2020-12-13 23:51] madhavajay commented on #4901
@sbasu26 Sure, as you asked first I will assign it to you, but if you cannot work on it please report back quickly so that someone else can take it.

[2020-12-14 00:27] madhavajay commented on #4903
@jaintj95. Good spot, this is most likely in the dev branch which is not 100% stable. We recently added a new __len__ getter mechanism for iterators, so this code will need to change but the API hasn't been fully worked out yet.

You can see in these cells that there is an automatically generated request in the background.
<img width="1083" alt="Screen Shot 2020-12-14 at 10 25 41 am" src="https://

[2020-12-14 00:30] madhavajay commented on #4904
@jaintj95, this looks like its converting UTF-8 into cp1252 on windows and failing. Are you able to find the exact char sequence which fails and dump it do we can turn this into a test for all platforms and fix the issue?

[2020-12-14 00:34] madhavajay commented on #4906
@devil-cyber, take a look at the merge and pr tests.yml files for GitHub Actions.
Then go see the `src/syft/lib/torch/allowlist.py`:

[code]

What you need to do is import torch 1.7.1 and `dir(torch)` and dump the entire API or check the changelog and see if there are any new OPS we need to support, if there are you need to add them to the `allowlist.py` and then also add tests to the `allowlist_t

[2020-12-14 01:05] #4295 closed

[2020-12-14 01:09] #4434 closed

[2020-12-14 04:20] devil-cyber commented on #4906
Ok thanks i will start my work

On Mon, Dec 14, 2020, 6:04 AM Madhava Jay <notifications@github.com> wrote:

[2020-12-14 06:56] devil-cyber commented on #4906
Hey @madhavajay for PyTorch 1.7.1 we have to add all API functionality
as well as we have to update the respective torch vision in the YML file.
 Am I in the right direction?

[2020-12-14 09:15] gmuraru commented on #3761
I think for the moment, for this, we should have the tests in each framework?

[2020-12-14 10:31] sbasu26 commented on #4901
@madhavajay  Thank you so much!

[2020-12-14 11:30] roberthoenig commented on #4540
Hi there -- I ended up using a different framework (https://github.com/adap/flower) to implement this, so I won't be working on this issue. Feel free to close this issue, but also feel free to keep it open for other contributors.

[2020-12-14 12:51] theAkhileshRai commented on #4029
working

[2020-12-14 13:57] #4896 closed

[2020-12-14 16:29] Zongshun96 commented on #3897
Hi,
    Just in case for anyone in the same situation, this is fixed with PyGrid workers.(not supporting PySyft-0.3.0 for now)
    You can check [this slack posting](https://openmined.slack.com/archives/C6EEFN3A8/p1596720041221900?thread_ts=1596661549.217900&cid=C6EEFN3A8) for an example to setup PyGrid workers and then move() should work.

Thanks,

[2020-12-14 16:29] #3897 closed

[2020-12-15 08:09] rajatrc1705 opened #4913 "Small correction in Sample Code Block of sy.core.pointer.pointer"
## Where?
Where are you looking to add documentation? Which file? Which feature?

In directory PySyft/src/syft/core/pointer directory, there is a python file, pointer.py.
The example code in the python file can be viewed by the user by executing the following command:

import syft as sy
sy.core.pointer.pointer?

The example code in the output of above command is as follows:

Example:

.. code-bloc

[2020-12-15 08:11] rajatrc1705 commented on #4913
Can I do the corrections in the documentation for this issue?

[2020-12-15 16:56] mgale694 opened #4914 "Duet loop issue"
## Description
When I try and run the simple duet example at the top of the Duet README file it throws an error. It seems to be to do with how the event loop is initialised. Can someone let me know if this is a bug, or an issue on my end?

## How to Reproduce
1. go to the duet main README page and copy out the example.

## Expected Behavior
on the data science side I should be able to run 'duet.st

[2020-12-15 17:26] LaRiffle commented on #4914
Same problem for me when running https://github.com/OpenMined/PySyft/tree/dev/examples/duet/mnist

[2020-12-15 17:42] LaRiffle commented on #4914
Ok apparently this is because we have an old version of jupyter notebook!
`pip install --upgrade notebook`  should fix this!

[2020-12-15 17:43] LaRiffle opened #4915 "Add version to requirements.txt"
## Feature Description
This error in https://github.com/OpenMined/PySyft/issues/4914 is related to not having minimal version in requirements.ttx, could we add one for jupyter notebook at least, and probably for all packages?

[2020-12-15 18:13] mgale694 commented on #4914
@LaRiffle Thank you, this has solved the issue for me!

[2020-12-15 18:28] #4914 closed

[2020-12-15 21:01] plotkiny opened #4916 "Bug in torch.square for additive shared tensor"
## Description
torch.square(t) currently fails  with encrypted-shared tensors

## How to Reproduce

`import syft as sy`
`import torch`

`hook = sy.TorchHook(torch)`

`alice = sy.VirtualWorker(hook, id="alice")`
`bob = sy.VirtualWorker(hook, id="bob")`
`crypto_provider = sy.VirtualWorker(hook, id="crypto_provider")`
`t = torch.tensor([1.5, 2.5])`
`t_encrypt = t.fix_precision().share(alice, bob, cry

[2020-12-16 03:51] madhavajay commented on #4913
@rajatrc1705 good spot, thank you! 👍🏼

[2020-12-16 04:11] madhavajay opened #4917 "Opacus won't work with Syft 0.2.9"
## Description
Existing Ticket on PriMIA: https://github.com/gkaissis/PriMIA/issues/47

[2020-12-16 04:24] madhavajay opened #4918 "Support @Property setters in Syft"
## Description
We need to allow the ability to set properties over a Pointer.
The way this might work is we could synthesise our own @property setter on the pointer and then forward that across the network.

## Definition of Done
Tests with property setters over Pointers passing and TenSEAL: `context.global_scale = 2**40` working on a pointer.
https://github.com/OpenMined/TenSEAL

[2020-12-16 04:26] madhavajay opened #4919 "Support Python Enum types"
## Description
TenSEAL has added real Python Enum types so we should make sure we can support them.
The `tenseal.SCHEME_TYPE` types should be available across RPC and serde.
These are very similar to the c style classes in torch which act like enums, e.g. `torch.dtype` so the same code could possibly work for both.

## Definition of Done
Python Enums supported and tests showing serde and RPC.

[2020-12-16 04:33] madhavajay opened #4920 "Support objects with no setattr"
## Description
We need to support objects with no setattr in a way which does not require users to change the way they use a Vendor library and does not require extra wrapping to be added by the upstream vendor library.

This is currently needed on PSI: https://github.com/OpenMined/PySyft/issues/4848

## Definition of Done
Any object specificaly, C types and Python Protobufs which can't allow seta

[2020-12-16 04:38] madhavajay opened #4921 "Support Exceptions in the AST"
## Description
Allow constructors or methods to specify if they throw expected exceptions and if those should be Private or Shared to the untrusted client. Additionally those exception types should be piped across the network via a protobuf and re-raised on the other side.

We may need some kind of SyOptional type so we can return failed ops / constructors without having to raise if we don't want

[2020-12-16 04:41] madhavajay opened #4922 "Test Syft and Jupyter Notebooks with SCONE Container"
## Description
See what will run with SCONE so that we can determine how the Secure Enclave Demo should look.

## Definition of Done
Documented example of using Syft / Jupyter Notebooks or a work around for SCONE in the simulator.
Test it on the real hardware via an Azure VM.

[2020-12-16 08:31] libratiger commented on #4918
I am new to this repo, I want to begin the contribution from this issue, is there any adivces?

[2020-12-16 20:09] hershd23 commented on #4831
@madhavajay is any help needed on the issue? If so let me know how to get started

[2020-12-16 22:18] madhavajay commented on #4831
Hi @hershd23 that would be hugely appreciated.
Currently, this test file here:
https://github.com/OpenMined/PySyft/blob/dev/tests/syft/lib/allowlist_test.py

Tests all of the torch.Tensor ops listed in here:
https://github.com/OpenMined/PySyft/blob/dev/src/syft/lib/torch/allowlist.py

These ones:
[code]

What this ticket is about, is adding a similar testing suite for all of the other entries in t

[2020-12-16 22:26] #4913 closed

[2020-12-17 00:14] #3718 closed

[2020-12-17 10:16] thodosss commented on #4893
Can anyone help please ?

[2020-12-17 16:10] rondey opened #4924 "Support to FastAI"
## Feature Description
It could be great write private neural networks using the modern best practices implemented in FastAI. I tried PySyft 0.2 alongside with FastAI (v1) and they are not perfectly compatible each other. Do you think is possible make compatible the new PySyft 0.3 with FastAI v2?

[2020-12-17 18:10] NiWaRe commented on #4804
Closed through #4859

[2020-12-17 18:10] #4804 closed

[2020-12-17 19:11] hershd23 commented on #4831
I'll make the Draft PR and let you know. I got the sense of what is to be done. Just the question of where do I start as `allowlist.py` contains a pretty long dict.

[2020-12-18 02:44] madhavajay commented on #4909
Completed here: https://github.com/OpenMined/PySyft/pull/4912

[2020-12-18 02:44] #4909 closed

[2020-12-18 04:32] madhavajay commented on #4831
I would do something like `conv2d` first:
[code]

If those are tested then we can easily update that code to do nearly all the same for all the other layer modules.
Also we arent trying to prove correctness, we are just trying to make sure that when you call the functions with a a variety of valid input types (mostly tensors of all the different dtypes) that it works and the result is of the expec

[2020-12-18 04:38] madhavajay commented on #4924
It totally could be possible. I know a few people from the FastAI Audio group who might be interested in helping. @rbracco ?

[2020-12-18 04:42] madhavajay commented on #4924
@rondey I would also highly recommend posting this on the FastAI Discord / Forums as well and see if @jph00 is potentially interested in giving it some official sanctioning.

[2020-12-18 09:22] aanurraj opened #4927 "Continuous benchmarks actions not working for PR requests"
## Description
The currently implemented continuous benchmarks actions is failing for "permission is denied to github-actions[bot]".

## Expected Behavior
It should be deployed here
https://openmined.github.io/PySyft/dev/bench/

## Screenshots
![Screenshot 2020-12-18 at 2 51 50 PM](https://user-images.githubusercontent.com/28955148/102597390-93e67b00-4140-11eb-9d42-e8acb62cda2e.png)

## System Inf

[2020-12-18 10:26] rondey commented on #4924
@madhavajay Thank you so much, I have created [a new post](https://forums.fast.ai/t/fast-ai-support-for-ml-privacy-preserving-using-pysyft/83607) on the FastAI forum.

[2020-12-19 02:16] jph00 commented on #4924
Looking forward to seeing how you get along with this! :D

[2020-12-19 05:06] Gokkulnath commented on #3724
@madhavajay Based on discussions on slack, we decided to display the  solicitation message on import of library as pip natively doesn't support this feature yet (see https://github.com/pypa/pip/issues/5970 )

I made a PR here: https://github.com/OpenMined/PySyft/pull/4930

[2020-12-19 12:24] gmuraru opened #4931 "SyMPC Allowlist Shift"
## What?
The SyMPC library uses the "python library method" of adding the methods/modules/classes to the AST, but we should stick with the ```allowlist``` method devised for ```torch```.

## Why?
To have uniformity for all 3rd party libraries.

## Breakdown
* We should have an ```allowlist.py``` file where we stick all the methods that we want to call in SyMPC.

## Additional Context
We want to do

[2020-12-19 15:42] replomancer commented on #4766
I am getting the `RunTimeError: Task got Future attached to a different loop` exception on Ubuntu.

I see this:

♫♫♫ > ...creating a new event loop...

on both sides (data owner and data scientist). I can also see "CONNECTED" on both sides. The data owner can later do stuff with duet e.g. send a tensor without errors, but the data scientist gets RunTimeErrors as above when evaluating `duet.store.p

[2020-12-20 01:15] madhavajay commented on #4924
@rondey I am a big FastAI fan myself but we don't have the bandwidth to start this right now while we are building support for all the other libraries needed to provide the PPML functionality you mentioned in the FastAI forum post. 😂. However if you are interested in opening an initial PR on this I can walk you through the process. ❤️

[2020-12-20 01:26] madhavajay commented on #4766
@replomancer Are you able to provide a reliable way to reproduce this so we can create a ticket and get it fixed?
My guess is that in some code paths the loop is being started and in others it's not (or a race condition). So perhaps the solution is just to explicitly start one at the top level of the syft library on first import so theres always one available?

[2020-12-20 01:49] simcof commented on #4630
We will need to get this updated prior to course launch. I'll work to resolve ASAP

[2020-12-20 08:16] LaRiffle commented on #4561
Is fixed by #4895

[2020-12-20 08:16] #4561 closed

[2020-12-20 16:01] rajatrc1705 commented on #4527
I would like to work on this issue. I have only recently started exploring PySyft so I may need some hint or help to get started.
Could you assign this to me?

[2020-12-21 00:15] #4027 closed

[2020-12-21 00:15] #4003 closed

[2020-12-21 00:15] #3992 closed

[2020-12-21 00:15] #3986 closed

[2020-12-21 00:15] #3981 closed

[2020-12-21 00:15] #3912 closed

[2020-12-21 00:15] #3903 closed

[2020-12-21 00:15] #3902 closed

[2020-12-21 00:15] #3888 closed

[2020-12-21 00:15] #3879 closed

[2020-12-21 00:15] #3885 closed

[2020-12-21 00:15] #3867 closed

[2020-12-21 00:16] #3854 closed

[2020-12-21 00:16] #3831 closed

[2020-12-21 00:16] #3825 closed

[2020-12-21 00:16] #3813 closed

[2020-12-21 00:16] #3762 closed

[2020-12-21 04:24] madhavajay commented on #4527
@rajatrc1705 Your help would be greatly appreciated. I would do the following:
- Run the local network signaling server with:
[code]
- Start jupyter notebooks and load up any example like MNIST or even a basic connection
- Connect via your local network server using the instructions here: https://github.com/OpenMined/PySyft/tree/master/examples/duet/#host-a-network
[code]

Then once its working, m

[2020-12-21 04:33] madhavajay commented on #4820
We have a FAQ for now: https://github.com/OpenMined/PySyft/blob/dev/docs/FAQ_0.2.x.md

[2020-12-21 04:33] #4820 closed

[2020-12-21 04:35] madhavajay commented on #4757
We now have CI Benchmarking so this should be much easier to setup.

[2020-12-21 05:42] rajatrc1705 commented on #4527
Yes, I will make sure to keep you informed about my progress on this issue.

[2020-12-21 11:11] cereallarceny commented on #4630
@simcof Please use this: https://allcontributors.org/
@madhavajay Please remove the stale issue labeler.

[2020-12-21 14:16] Nilanshrajput commented on #4806
@madhavajay  I would like to help, can you direct me to the location where I can see how current AST mapping works/created.

[2020-12-21 16:55] JMLourier commented on #4518
Hi @madhavajay, I fixed quite some simple issues around wrong docstring formating. For the remaining issues I would need some support. Shall I post the questions to the Slack channel or is there any other way of getting support? Many thanks!

[2020-12-21 23:19] madhavajay commented on #4518
Hi @JMLourier thats great! Any chance you can open a PR? That's our preferred way to collaborate as you can imagine copying and pasting code around Slack which is just overwhelmed with continual new posts isn't the best way to track a discussion about specific code. If you want some private DM conversation thats fine, but without some code to look it's going to be a lot harder to understand your q

[2020-12-21 23:22] madhavajay commented on #4806
@Nilanshrajput this ticket stands to remind us that when we do a refactor of the whole AST we need to include this functionality. Currently its working with a workaround you can see here:
https://github.com/OpenMined/PySyft/blob/e956be84e277babe26e10c0d683227e853d7dccd/src/syft/util.py#L143
https://github.com/OpenMined/PySyft/blob/7af672148afc4476e3344c4bce7225ed484c2d18/src/syft/ast/module.py#L37

[2020-12-21 23:25] madhavajay commented on #4630
Thats really awesome @cereallarceny I rekon we should add that for sure, but does it also cover things like Organisational contribution / sponsorship credits? I think for this ticket we just need to know what other orgs to give shout-outs 📣 to since the last version README.md.

[2020-12-22 00:17] #3696 closed

[2020-12-22 08:33] beichen777 opened #4936 "Test failed"
## Question
**Hello!All the members of my project team used Ubuntu-20.04.1 to build PySyft0.30, and there was no problem in the building process. But when "Light Tests" and "All Tests" are run, they're All stuck at 32%[kool-cuda-self_tensor6855-0-false-torch.tensor -true]. Why?**

## Screenshots
![](https://raw.githubusercontent.com/beichen777/paperimage/main/51.PNG)

## System Information
 - OS:

[2020-12-22 23:40] madhavajay commented on #4906
@devil-cyber That is correct. If you can submit a PR with your progress I can give you feedback. 👍🏼

[2020-12-22 23:42] madhavajay commented on #4936
@beichen777 are you able to report what version of torch you are using since those are torch tests?

[2020-12-22 23:43] #3724 closed

[2020-12-23 00:38] nahuakang commented on #4805
Chatted with Madhava. Will help out with this ticket :smile:

[2020-12-23 01:23] madhavajay commented on #4805
Legend! 💪

[2020-12-23 01:29] devil-cyber commented on #4906
Ok, I will do that.

On Wed, Dec 23, 2020, 5:10 AM Madhava Jay <notifications@github.com> wrote:

[2020-12-23 23:04] madhavajay opened #4943 "Signalling Server Upgrade"
## Description
Create scalable container infrastructure and add connection metrics to signalling server.

## Definition of Done
Existing duet connection signalling server is upgraded to be scalable and has basic metrics.

[2020-12-23 23:04] madhavajay commented on #4943
Related: https://github.com/OpenMined/PySyft/issues/4690

[2020-12-23 23:05] madhavajay commented on #4943
Related: https://github.com/OpenMined/PySyft/issues/4890

[2020-12-24 01:35] madhavajay opened #4944 "Convert Torch Install Steps into Scripts"
## Description
The Torch install steps in CI are getting long and verbose, we should convert these into scripts so they can be easily updated outside of CI and tested as well as used to enforce torch versions during the support library tests.

See these two steps:
https://github.com/OpenMined/PySyft/blob/866f401b3327f98f7b3b764d14c2a9af3afa80c4/.github/workflows/pr_tests.yml#L109
https://github.co

[2020-12-24 02:45] madhavajay opened #4945 "Refactor Namedtuple and remove ValuesIndices"
## Description
To support the namedtuple return types for things like `tensor.cummax` or `tensor.eig` we created a ValuesIndicies proto which is a string key => tensor mapping.

We should create a real namedtuple typle which can contain a normal tuple of any values plus the keys and automatically generate the type on return.

It would be nice to be able to find where the torch namedtuples are gene

[2020-12-24 05:31] madhavajay opened #4948 "Make Slow Tests More Parallel"
## Description
Make the slow tests more parallel by splitting sorted ops list into chunks.
We should be able to do it into enough chunks that the total tests are < 10 minutes.
This might also help the issues we have with OO Memory errors.

## Definition of Done
CI merge_tests.yml is faster and split into chunks.
No OOM errors on Windows.

[2020-12-24 16:24] rondey commented on #4924
I like the idea, but actually I have a paper to complete (I'm using PySyft for the implementation).

[2020-12-25 00:19] #4816 closed

[2020-12-25 02:21] beichen777 commented on #4936
torch 1.7.1

[2020-12-25 07:14] devkumar24 commented on #4944
I want to work on this, can you assignee me to this issue?

[2020-12-26 17:54] agnim25 commented on #4944
@madhavajay made pull request #4954, hoping you could take a look?

[2020-12-27 00:18] #4025 closed

[2020-12-27 00:18] #3997 closed

[2020-12-27 17:33] naveenggmu commented on #4568
is this issue fixed in 0.3.x? @Hjeljeli. Currently stuck with this bug in 0.2.9 :(.

[2020-12-28 00:54] Hjeljeli commented on #4568
@naveenggmu Hi Naveen, I could not test on 0.3.x as you know the releases 0.3.x do not support all the privacy-preserving techniques that 0.2.x used to support, for me I am using PySyft for Federated Learning.

[2020-12-29 00:19] madhavajay commented on #4924
@rondey No worries, I am sure we will get to very soon, but we just have a few priorities of our own as well. 😊 Good luck with the paper and thanks for using PySyft in the implementation. ❤️

[2020-12-29 00:22] madhavajay commented on #4936
@beichen777 `torch.1.7.1` is not supported yet, but we will be adding it very shortly. My guess is that some of the rules we have set to explicitly run certain tests on certain torch versions is passing through which is intended behavior to prevent us from accidentally thinking that a new torch version is fully supported without explicitly checking and testing all op changes etc.

[2020-12-29 00:37] madhavajay commented on #4936
Related: https://github.com/OpenMined/PySyft/issues/4906

[2020-12-29 19:42] NProkoptsev opened #4961 "Upcast for List is not recursive"
https://github.com/OpenMined/PySyft/blob/65ba3ebe83eecc26528f1b451746ede7f6a43fc0/src/syft/lib/python/list.py#L59

[code]
`{1: [<syft.lib.python._SyNone object at 0x7f073b9de438>, 1, 2, 3]}`

[code]
`{1: [<syft.lib.python._SyNone object at 0x7f073b9de438>, 1, 2, 3]}
`
This will be a problem if we use `{1 : [None, 1, 2, 3]} ` as function argument

[2020-12-30 00:57] madhavajay commented on #4961
@NProkoptsev There is some asymmetry in upcasting and downcasting at the moment because `generate_primitive` doesn't pass through anything non primitives but instead terminates in a SyNone. Do you have an example of this actually causing an issue yet?

[2020-12-30 02:17] uid42 commented on #4901
want to work on this

[2020-12-30 02:25] madhavajay opened #4963 "Support torch==1.4.0"
## Description
We want to support torch 1.4.0 again for our Intel SGX demo.

## Definition of Done
Syft can be imported on torch==1.4.0 and is tested in CI. Any functionality not in 1.4.0 should just be skipped.

[2020-12-30 02:27] madhavajay commented on #4963
@xutongye has been assigned to this one.

[2020-12-30 05:24] madhavajay opened #4967 "Convert Bash Scripts to Python"
## Description
To better support Windows as a first class dev environment we want to convert our bash scripts to python.

## Definition of Done
The scripts here are converted to be `.py` script to match them:
https://github.com/OpenMined/PySyft/tree/dev/scripts

[2020-12-30 05:25] madhavajay commented on #4967
I have assigned this to @agnim25

[2020-12-30 09:48] madhavajay opened #4974 "Fix @pytest.mark.xfail tests"
## Description
We have several @pytest.mark.xfail tests which we should fix.

## Definition of Done
@pytest.mark.xfail annotations are removed and tests are fixed and pass.

[2020-12-30 10:17] NProkoptsev commented on #4961
The main problem is that
`lib.python.util.downcast(None) is None` returns `False`, so some functions may not work correctly

[2020-12-30 14:06] beichen777 commented on #4936
Thank you very much, I will change the torch version and try again.  keep in touch! @madhavajay ^_^

[2020-12-31 00:23] #4840 closed

[2020-12-31 02:30] lk1983823 opened #4979 "ConnectionError in notebooks/PySyft/examples/duet/mnist/MNIST_Syft_Data_Owner.ipynb"
## Question
**ConnectionError in notebooks/PySyft/examples/duet/mnist/MNIST_Syft_Data_Owner.ipynb**

## Further Information
I successfully installed syft following the instruction. However, when I run the MNIST_Syft_Data_Owner.ipynb in  PySyft/examples/duet/mnist, Connection error happened.  Here is the errors:

[code]

## System Information
 - OS: Ubuntu
 - OS Version: 16.04
 - Language Version:

[2020-12-31 02:52] madhavajay commented on #4979
@lk1983823 The error says it can't load github to resolve the OpenGrid URLS, are you able to visit this URL: https://raw.githubusercontent.com/OpenMined/OpenGridNodes/master/network_address

[2020-12-31 02:57] lk1983823 commented on #4979
Yes. It shows:
["http://ec2-18-216-8-163.us-east-2.compute.amazonaws.com:5000",
 "http://ec2-3-22-236-160.us-east-2.compute.amazonaws.com:5000",
 "http://ec2-18-221-100-52.us-east-2.compute.amazonaws.com:5000"]

[2020-12-31 02:59] madhavajay commented on #4936
@beichen777 no worries, we are working on `1.7.1` so as soon as it passes CI we will merge it in and you can upgrade. 👍🏼

[2020-12-31 03:02] madhavajay commented on #4961
@NProkoptsev totally understand, we battled with that for a while but since the `is` comparison relates to the actual memory address and `None` is a singleton it's impossible to provide `SyNone is None`. The recursive `upcasting` and `downcasting` on both sides can be done but we will need to go through the code and just double check we aren't relying on the current functionality. If you have alre

[2020-12-31 03:05] madhavajay commented on #4901
@sbasu26 I haven't seen any PR's so i'm clearing the assignment and will leave it until someone can submit a PR. Please note we have our own internal roadmaps so if something needs doing and there is no PR we reserve the right to just do it ourselves. In the interest of making sure your work is not wasted effort `ALWAYS` provide a `Draft PR` ASAP so that we can see if the solution is heading in th

[2020-12-31 03:10] madhavajay commented on #4944
@agnim25 that was awesome work, I merged it here: https://github.com/OpenMined/PySyft/pull/4966

[2020-12-31 03:10] #4944 closed

[2020-12-31 03:14] madhavajay commented on #4961
@NProkoptsev we have a related issue which might make more sense: https://github.com/OpenMined/PySyft/issues/4854

[2020-12-31 07:17] madhavajay commented on #4948
Done: https://github.com/OpenMined/PySyft/pull/4969

[2020-12-31 07:17] #4948 closed

[2020-12-31 08:47] beichen777 commented on #4936
@madhavajay Come on, look forward to it!

[2020-12-31 16:25] gleec14 opened #4983 "Contributing guide links in dev README point to different versions"
## Question
There are two contributing guides in the dev branch README: one leading to a copy in the master branch and another to dev. The dev branch copy has more information but lacks some of the instructions in the master branch. As a newcomer, this was confusing for me. Should both links in the README point to the dev contributing guide and should the information in the master copy be copied o

[2020-12-31 18:22] rondey opened #4984 "ModuleNotFoundError: No module named 'torchcsprng' (PySyft 0.2.9 last commit)"
## Description
On a system with CUDA, importing syft module results in a "ModuleNotFoundError: No module named 'torchcsprng' (PySyft 0.2.9 last commit)". torchcsprng because it requires at least pytorch 1.6 (torchcsprng version 0.1.0). On the other hand, PySyft requires pytorch 1.4

## How to Reproduce
1. Install PySyft 0.2.9 last commit
2. Run on a notebook "import syft as sy"
3. See error

[2020-12-31 18:42] rondey commented on #4924
Thank you! I perfectly understand your priorities

[2021-01-02 05:18] rajatrc1705 commented on #4974
I want to work on this issue.

[2021-01-02 17:51] sbasu26 opened #4986 "ModuleNotFoundError: No module named 'syft' (PySyft 0.3)"
I have installed PySyft versions 0.3 and 0.2.9 in different VMs before(in Nov and Dec 2020), and they have worked fine.

But when I am trying to install pysyft in a new machine now, using Ananconda Prompt, I am getting a pysyft=0.3 installation completed successfully message, but on accessing syft in Jupyter Notebook using the import statement (import syft as sy), I am getting the module not found

[2021-01-02 19:03] H4LL commented on #4844
@wip-abramson you've got the solution now right?

[2021-01-02 19:12] wip-abramson commented on #4844
Got an initial implementation here
https://github.com/OpenMined/PySyft/pull/4911/commits

On Sat, 2 Jan 2021, 19:03 Adam J Hall, <notifications@github.com> wrote:

[2021-01-03 09:57] MasiMasinga commented on #4901
Can I try work on this issue?

[2021-01-03 14:23] Abhishek-1Bhatt commented on #4986
Facing the same problem

[2021-01-04 14:01] kishansairam9 commented on #4986
@sbasu26 @Abhishek-1Bhatt
I tried to reproduce the issue, but was unable to. There seems to be no error.
Can you attach the output of `conda env export` run in your environment?

[2021-01-04 14:49] lk1983823 opened #4990 "How can I use pysyft 0.3.0 to do Federated Averagng? Is there a complete tutorial like that of pysyft 0.2.x?"
I found a tutorial of FEDERATED LEARNING OF A RECURRENT NEURAL NETWORK ON RASPBERRY PIS
useful and instructive for pysyft 0.2.x. I wonder is there any example or tutorial for pysyft 0.3? In the mnist tutorial, I couldn't know how to use the 0.3 version package to do FL in two clients. Thanks.

[2021-01-04 17:29] sbasu26 commented on #4986
@kishansairam9 Please find attached
[PySyftEnv.txt](https://github.com/OpenMined/PySyft/files/5765981/PySyftEnv.txt)

[2021-01-04 17:34] kishansairam9 commented on #4986
@sbasu26 As you can observe from the output, pysyft hasn't been installed in this environment
This might have occurred due to "pip" referring to different executable on Windows when you ran install..
Please try running `python3 -m pip install syft`, this might fix your issue

[2021-01-04 19:30] sbasu26 commented on #4986
@kishansairam9 Neither of the commands have been able to fix the error.
I had suspected the same that pysyft had not been installed, hence I had tried uninstalling and installing it multiple times.

On Uninstalling (pip uninstall pysyft), I get the bellow confirmation of uninstallation:

(pysyft4) C:\Users\dell>pip uninstall syft
Found existing installation: syft 0.3.0
Uninstalling syft-0.3.0:
  W

[2021-01-04 19:57] toshas commented on #1096
You might be interested in checking my latest bit: https://github.com/toshas/torch-householder

[2021-01-05 05:31] madhavajay commented on #4986
It could be that the jupyter instance you are running is not mapped to the same virtualenv environment site packages that you are installing pysyft to. Can you try this:
[code]

[2021-01-05 05:38] madhavajay commented on #4983
That should probably be a relative path to CONTRIBUTING.md, opening a PR would be appreciated.

[2021-01-05 05:44] madhavajay commented on #4974
@rajatrc1705 Please make sure to post some PR progress otherwise the task might be taken by someone else.

[2021-01-05 05:52] madhavajay commented on #4986
Also, doesn't this file imply that conda has not installed pysyft. Don't you need to tell conda to install it not pip? I don't use conda so I can't comment.

[code]

[2021-01-05 05:54] madhavajay commented on #4979
@lk1983823 did it connect?

[2021-01-05 06:32] madhavajay commented on #4766
This is getting annoying. Windows CI will fail randomly every now and then because of this issue probably due to a race condition.

<img width="712" alt="Screen Shot 2021-01-05 at 4 31 31 pm" src="https://user-images.githubusercontent.com/2882739/103614105-94ba4200-4f73-11eb-9691-2ef6deaefeb4.png">

[2021-01-05 11:44] replomancer commented on #4766
OK, I am starting to investigate this.

[2021-01-05 15:38] gleec14 commented on #4983
PR here: https://github.com/OpenMined/PySyft/pull/4985. It includes typo fixes in the notebooks as well.

[2021-01-05 23:58] lk1983823 commented on #4979
No...

[2021-01-06 03:48] devkumar24 commented on #4901
Hey @madhavajay, can you help me to get started with this issue?

[2021-01-06 03:53] devkumar24 commented on #4888
hey @tudorcebere, can you help me to get started with this issue?

[2021-01-06 04:49] madhavajay opened #4992 "Reduce Memory Load on torch tests"
## Description
The torch tests being run in `merge_tests.yml` and run with: `pytest -m torch` make heavy use of pytest parametrization. Unfortunately this causes the memory of each permutation test to be held until they all complete which is leading to OOM errors on Windows in GitHub CI. Currently we are chunking them up to try to reduce the memory pressure. It would be great to fix this with a be

[2021-01-06 05:50] sbasu26 commented on #4901
@madhavajay I had assigned this issue to myself as I was working on Federated Learning and Split Learning using PySyft 0.2 from Nov onwards. I was just completing my training of a Split Learning network on VGG19 using PySyft, when my Laptop had crashed. After getting my Laptop fixed, when I freshly tried to install PySyft 0.3 on my laptop from scratch I got the error that I raised in issue https:/

[2021-01-06 05:54] sbasu26 commented on #4986
@madhavajay I would like to point out, that I am installing PySyft 0.3 after freshly installing Anaconda (after a laptop crash).
Am I missing something apart from the installation steps mentioned in the Guide.

I have installed Ananconda and run the below commands only to install Pysyft, and I am getting the ModuleNotFound error for importing PySyft.

How to Reproduce
$ conda create -n pysyft pyth

[2021-01-06 09:27] uid42 opened #4994 "Stuck in a dead loop when enumerating a remote tensor."
## Further Information
A tensor was sent to the data scientist via duet. I get the TensorPointer and want to enumerate it, but the loop doesn't stop after every element was fetched;  the exception is thrown on the data owner side.

But everything is ok if I break out of the loop as soon as all the elements are enumerated.

How to reproduce:

On the data owner side:

duet = sy.launch_duet(network_u

[2021-01-06 11:21] madhavajay commented on #4963
`1.4.0` support is here: https://github.com/OpenMined/PySyft/tree/0.4

As we need this for the moment for some internal use cases we will keep `1.4.0` in CI for Ubuntu and Python 3.7. The other OSes and Python versions should mostly work. Hopefully we can deprecate this in the coming months.

[2021-01-06 11:21] #4963 closed

[2021-01-07 10:55] madhavajay commented on #4979
Hi @lk1983823, are you interested in helping us debug the issue. As you can imagine its important that our connection system works with zero configuration so it would be great to get to the bottom of the issue.

[2021-01-07 11:03] madhavajay commented on #4986
Can you please run these commands and report back the output where the `...` are:
[code]

[2021-01-07 11:09] madhavajay commented on #4901
Hi @sbasu26 thats unfortunate, i'm sorry to hear about your laptop crash. I still see no PR's for this Issue. People regularly ask to have issues assigned to them and then disappear so I am no longer assigning issues to people unless they can at least lodge a PR showing some progress so we can help them. Not having a PR opened means that at any moment all your work could be completely wasted when

[2021-01-07 11:50] sbasu26 commented on #4986
@madhavajay Below is the output of the command "where python3"

(pysyft3) C:\Users\dell>where python3
C:\Users\dell\AppData\Local\Microsoft\WindowsApps\python3.exe

And executing the line import syft as sy fives me the below error:
AttributeError: module 'torchvision.datasets' has no attribute 'VisionDataset'

Somehow when I install pysyft using pip, the torchvision version which gets installed is

[2021-01-07 19:10] nahuakang commented on #4805
Next up I'll try do some work on `syft.core/node.domain`:
[code]

[2021-01-08 00:30] madhavajay commented on #4986
@sbasu26 Thanks. Thats interesting, you have a few issues there that I can see.
1) The path to your python3 is the system but not a virtualenv.
You can see here on my output when I use a virtualenv the first location found for python is in the virtualenv.
[code]

Always use a virtualenv when creating python projects on a Desktop OS. The only time you don't need them is inside containers since that

[2021-01-08 01:21] lk1983823 commented on #4979
Yes, I am willing to offer help.

[2021-01-08 06:11] madhavajay commented on #4979
@lk1983823 Are you able to DM me on Slack? I can give you some commands to do some pinging and trace-routing but the output would reveal your approximate location in the world and you might not want to post your ISP or IP addresses on the public internet. Also what operating system are you using and what kind of network? Is it at home, work, office, university all that info will help as these issu

[2021-01-08 07:13] prajotsl123 opened #4995 "Delete pysyft.readthedocs.io"
No Documentation on [https://pysyft.readthedocs.io/en/latest/dev_environment.html]
The whole Developer documentation is empty
Since i want to work on client-server based real time project on federated learning

Plz update it
or send relevant links

[2021-01-08 07:20] madhavajay commented on #4995
Hi @prajotsl123 Yes the docs need generating and theres an open ticket for this in the mean time the contribution guide is fairly big already: https://github.com/OpenMined/PySyft/blob/dev/CONTRIBUTING.md

[2021-01-08 15:25] prajotsl123 opened #4998 "can i launch data owner & data scientist (duet) on same PC.."
If Yes,,,,
Plz suggest the steps from which i can carry on

[2021-01-08 16:00] rajatrc1705 commented on #4998
Yes you can, open two jupyter notebooks, name one Data Scientist and the other Data Owner.
The Data Scientist notebook should contain the code for Data Scientist, and same goes for Data Owner.
Launch the Flask server using following command:
`syft-network`
Now run the respective codes of both the Scientist and the Owner as given in the manual, I have given the link below.
https://github.com/OpenMi

[2021-01-09 04:24] prajotsl123 commented on #4998
ya thanks @rajatrc1705
it worked ......
is there any way where i can connect multiple clients PC?

[2021-01-10 05:23] AbhishekPokala opened #4999 "AttributeError: type object 'Tensor' has no attribute 'bitwise_xor_'"
## Description
Built Syft 0.3.0 with torch 1.4 (built from this [wheel](https://github.com/sungjuGit/PyTorch-and-Vision-for-Raspberry-Pi-4B)) from branch [PySyft 0.4](https://github.com/OpenMined/PySyft/tree/0.4) but I get the AttributeError.
It looks like [torch/allowlist.py](https://github.com/OpenMined/PySyft/blob/0.4/src/syft/lib/torch/allowlist.py) doesn't contain a rule to ignore these attri

[2021-01-10 09:41] Williance opened #5000 "The example update"
There is only one example in duet：Image classification (MNIST) using Convnets.When will the other examples be updated?eg:Time sequence prediction - use an LSTM to learn Sine waves.

[2021-01-10 18:19] tudorcebere opened #5002 "Model parameters not preserving .grad property"
## Description
`.grad` property is not preserved on a model parameters when it's downloaded locally.

## How to Reproduce

[code]

## Expected Behavior
The `.grad` attribute should be present when we download the remote model.

[2021-01-10 18:22] tudorcebere commented on #4998
Hello!

Thank you @rajatrc1705 for the help, your answer is correct! :100:

@prajotsl123 yet we support only duet: only 2 entities can communicate over duet, upcoming work will introduce 2+ parties. Stay tuned!

[2021-01-10 18:24] tudorcebere commented on #5000
Hello, @Williance!

We are working on getting all of them + many more. Stay tuned, more will show up in the next few weeks.

[2021-01-10 18:32] tudorcebere commented on #4994
Hello @uid42!

You are right, this is a bug we've found and almost fixed it in the new release!

If you want to understand why this is happening, let's look a bit on some python internals:

[code]

Here, python gets an iterator from `example_list`, when the iterator is exhausted (when the last element gets iterated), an error is being thrown that is being caught by the python interpreter, namely `

[2021-01-10 18:35] tudorcebere commented on #4990
Hello @lk1983823,

This is the goal for us on the next few months, to reach feature parity with 0.2.x. We lack a few features yet to do FL, but as soon as we get them done, a similar tutorial to the one in 0.2.x will be released.

[2021-01-10 18:47] tudorcebere commented on #4888
Hello @devkumar24,

This has been already addressed in a PR that will be merged soon.

Thank you for your interest in the syft! I would recommend searching for the issues tagged with `Good first issue` and grab one of those as your first issue in 0.3.X!

[2021-01-10 18:54] prajotsl123 commented on #4998
i was not asking on duet....
Like in general how can i have more than 1 clients
@tudorcebere

[2021-01-11 00:13] madhavajay commented on #4999
As discussed this isn't a bug with Syft but we can look to work around this.

[2021-01-11 00:14] madhavajay commented on #4999
The goal here would be to allow some kind of ENVIRONMENT VAR to be set before import which would allow a version of torch compiled with missing ops to still load.

[2021-01-11 01:24] lk1983823 commented on #4990
Thanks!

[2021-01-11 01:51] lk1983823 commented on #4979
How can I add you in slack? I am newer to that.

[2021-01-11 02:09] uid42 commented on #4994
Copy that, thank you!

[2021-01-11 02:09] #4994 closed

[2021-01-11 02:34] #4990 closed

[2021-01-11 03:57] lk1983823 commented on #4979
After trying the following code:

[code]

it works.

So my problem is with the GitHub URL not loading. It is that
` curl https://raw.githubusercontent.com/OpenMined/OpenGridNodes/master/network_address`
does not work. So it is not a pysyft problem.

[2021-01-11 03:58] #4979 closed

[2021-01-11 06:02] prajotsl123 opened #5003 "Having multiple clients on single server?"
in syft 0.3 theres no **workers** module....
Any tutorial where i can follow .....
or any supported links which can help me solve my problem

[2021-01-11 08:25] tudorcebere commented on #4998
We did not release anything else yet, we offer support only for duet right now.

[2021-01-11 09:22] madhavajay opened #5004 "Pytorch Lightning Privacy Course Demo"
## Description
Functionality to support demonstrating the integration operating PyTorch Lightning over Duet.

## Definition of Done
Integration Test of Duet notebooks showing that MNIST training can be run. Perhaps set a `dry_run` flag to limit to a quick few batches in the Integration test and allow users to change the flag and run all batches and epochs.

[2021-01-11 10:38] tudorcebere commented on #4918
Hello @libratiger!

Currently, this has been solved in a PR, thanks for your interest!

Keep an eye out for the `Good first issue` tag!

[2021-01-11 14:35] bcebere commented on #5002
I can work on this one. Please assign it to me.

[2021-01-11 22:24] madhavajay commented on #4831
@hershd23 how did you go? Are you able to push a Draft PR? If not I might need to delegate this task to someone else.

[2021-01-11 22:32] madhavajay commented on #4824
@ViveK-PothinA is investigating this.

[2021-01-12 03:01] hershd23 commented on #4831
Hey @madhavajay been keeping busy with work lately. Feel free to assign this one to someone else.

[2021-01-12 06:25] madhavajay commented on #4766
@replomancer I wonder if this is related: https://github.com/OpenMined/PySyft/pull/5006

[2021-01-12 09:54] bcebere commented on #5002
PyTorch's load_state_dict breaks the computational graph, so on get(), there won't be any gradients to retrieve.

The gradients will have to be retrieved via the model_ptr.parameters().get() call.

[2021-01-12 12:08] devkumar24 commented on #4992
Hey @madhavajay, I want to work on this issue, could you help me to where to start from?

[2021-01-12 12:52] rahul-art commented on #5003
check notebooks in this github   https://github.com/udacity/private-ai

[2021-01-12 14:16] rahul-art commented on #4986
try syft 0.2.9 it's a stable one

[2021-01-12 17:06] prajotsl123 commented on #5003
it doesnt have it,,,,
i want in real world case...not virtual

[2021-01-12 19:22] harikrishnankh opened #5009 "installation not working"
I used the command **pip install syft** but it is showing an error, Cannot build wheel for av. I tried installing microsoft visual c++ build tools. Still the issue persist.
![error syft](https://user-images.githubusercontent.com/14846379/104362284-a3879280-5539-11eb-8814-a34aa2612ba5.PNG)

[2021-01-12 23:18] madhavajay commented on #5009
@harikrishnankh Please provide all of the relevant details required to debug such an error.
- OS version
- Python version
- Instructions followed
- Command ran
- Errors Outputted

[2021-01-12 23:52] madhavajay commented on #4992
Hi @devkumar24 if you run the `python -m torch` tests inside the `0.4` branch and monitor your memory usage you will see that it gets pretty high. You can see in `allowlist_test.py` that the test is heavily parameterized:
[code]

pytest is holding on to all these variables until the entire test method is finished all possible combinations, we need to find a way to reduce the amount of memory it us

[2021-01-13 02:52] rahul-art commented on #5009
follow this blog post https://blog.openmined.org/how-to-setup-pysyft-on-windows-10/

[2021-01-13 03:31] madhavajay commented on #5009
@harikrishnankh I can see mention of 3.9 in the output above, are you using Python 3.9? It's still not supported yet, so I would suggest using something lower like 3.8 if you can. Can you confirm the output of this command:
[code]

[2021-01-13 04:04] harikrishnankh commented on #5009
@madhavajay  I am using windows 10. I am running this on anaconda. My python version is 3.9.1. I will try to install python 3.8, Can you please recommend an exact version of python.

[2021-01-13 05:12] harikrishnankh opened #5010 "AttributeError: module 'torchvision.datasets' has no attribute 'VisionDataset'"
## Description
I tried to import syft package to run a federated leaning code using MNIST dataset. I am now stuck with an attribute error after importing the packages.

## Code

import pickle
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import TensorDataset,DataLoader
import time
import copy
import numpy as np
import syft as s

[2021-01-13 05:53] harikrishnankh commented on #5009
@madhavajay
Successfully installed syft  after changing python version to 3.8.0
Thank you for your help!

But a new issue raised. An Attribute error while importing syft. torchvision.datasets has no attribute visiondataset. Please check the attachment for more details

I tried importing syft module alone, but the issue still persists.

## Screenshots
![e1](https://user-images.githubusercontent.com

[2021-01-13 07:34] rahul-art commented on #5010
it looks like orchvision is not installed

[2021-01-14 10:11] devkumar24 commented on #4992
I won't get it, Can you tell in brief?

[2021-01-14 10:59] AdityaG09 commented on #4901
I would like to work on this and I'm trying to understand the notebook. I'm not asking to get assigned in this, but please don't close this issue.

[2021-01-14 12:18] AdityaG09 commented on #4901
The create_sandbox function does not exist in 0.3. To make the dataloader we need that function.

https://github.com/OpenMined/PySyft/issues/3728

This needs to be fixed. Credits to Kishan Sairam Adapa for this.

Link to Slack post: https://openmined.slack.com/archives/C6EEFN3A8/p1609763826164500

[2021-01-14 12:26] Leo3967 commented on #5010
install torchvision or update torchvision

[2021-01-14 13:53] mustansarsaeed opened #5014 "Rounding Off Placeholders and Tensors in Plans using NumPy"
Hi, I am using `pysyft 0.2.x`. I want to round computed `gradients`. Can anyone please give me a pointer how can I round of gradients computation in `loss.backward()` step?

Secondly, after `loss.backward()` in `@sy.func2plan()`, I am rounding off `param.grad` using following code:

[code]

I am getting error:

Can anyone please help.

Thank you.

[2021-01-14 14:25] tudorcebere opened #5015 "Autoapprove requests made by root clients"
## Description
Requests made by root clients in the `VirtualMachine` context should be automatically accepted.

## How to Reproduce
[code]

## Expected Behavior
To receive the requested object.

[2021-01-14 14:27] rahul-art opened #5016 "KerasHook is not working"
## Description
kerashook is not working

## System Information
 - OS: [ubuntu]
 - Language Version: [e.g. Python 3.7,]
 - Browser (if applicable): [e.g. Google Chrome]
![Screenshot from 2021-01-14 19-53-13](https://user-images.githubusercontent.com/56379013/104603713-b073c580-56a2-11eb-84f5-a8f9df5edbee.png)

[2021-01-14 18:05] bcebere commented on #4855
I can work on this work, please assign it to me.

[2021-01-14 23:19] rahul-art commented on #5014
@mustansarsaeed  you can do  it like this
![pysyfit_issure_solved](https://user-images.githubusercontent.com/56379013/104660672-08371e80-56ed-11eb-975b-c08c1185206f.png)

[2021-01-15 06:28] devkumar24 commented on #5015
Hey, I want to work on this issue, can you help from where to get started?

[2021-01-16 08:36] bcebere commented on #4755
I will work on this one, please assign it to me

[2021-01-16 16:16] harikrishnankh commented on #5010
can you please mention a stable version of torchvision

On Thu, Jan 14, 2021 at 5:56 PM Leo3967 <notifications@github.com> wrote:

[2021-01-16 18:02] harikrishnankh commented on #5010
will torch vision package automatically add with syft?

On Sat, Jan 16, 2021 at 9:46 PM Harikrishnan K H <
harikrishnankh1996@gmail.com> wrote:

[2021-01-16 20:21] #4855 closed

[2021-01-17 01:10] dylanamiller opened #5019 "CONTRIBUTING.md incorrectly states python 3.6 as requirement"
## Where?
CONTRIBUTING.md

## Who?
The audience consists of individuals like myself who are looking to get into contributing to pysyft.

## What?
Correctly specify the python version required for the contribution instructions to run correctly.

## Additional Context
CONTRIBUTING.md lists python 3.6+ as a requirement, but recent updates to certain files, specifically those attempting to use `asynci

[2021-01-17 01:11] dylanamiller commented on #5019
I will make this quick update to the documentation if that is alright.

[2021-01-17 05:47] rajatrc1705 commented on #4974
Pickling of the iterator for Dict keeps failing the test, any tip on where I should be poking around?
Pickling of the data for Dict passes, but the iterator fails.
![image](https://user-images.githubusercontent.com/52173002/104832213-965e0100-58b5-11eb-9244-124c4e3c28ec.png)

[2021-01-17 14:28] rahul-art commented on #5010
in requirements.txt you can see clearly that it is installing torch>=1.5 and the version of torch vision which is compatible with that
if you want stable pysyft i say go with pi install syft=0.=2.9

[2021-01-17 16:33] harikrishnankh commented on #5010
Thanks, I'll check it out.

On Sun, 17 Jan, 2021, 7:58 pm RAHUL Danu, <notifications@github.com> wrote:

[2021-01-18 04:48] madhavajay opened #5022 "Add Encryption to Transport Layer"
## Description
WebRTC Transport layer needs encryption.

## Definition of Done
Encryption in transit is added to the WebRTC code and turned on by default.

[2021-01-18 07:06] uid42 commented on #5015
Can I work on this?

[2021-01-18 10:13] #5002 closed

[2021-01-18 17:14] wip-abramson commented on #5022
I would strongly advocate for exploring DIDComm as a potential solution to this - https://identity.foundation/didcomm-messaging/spec/

It may be a future improvement to this one, but certainly something we should keep in mind.

[2021-01-18 23:01] #4918 closed

[2021-01-19 06:57] avinsit123 commented on #5015
@tudorcebere I am getting the following error(in screenshot) when I run your code snippet. I am not able to understand the purpose of `request_block = True` as when I use a normal `Tensor([1,2,3]).get()` I am able to retrieve the tensor from alice_client . Do you want the .get() function to still return if the `request_block` is set to `True` .
![Screenshot 2021-01-19 at 12 22 20 PM](https://user-

[2021-01-19 07:09] uid42 commented on #4901
Hi,
I have been working on this for some days and got some code.
This works fine in 0.4(via setup.py), but fails in 0.3(pip install syft=0.3.0).
I think some bugs need to be fixed to make it work.

After the training is complete, the model can not be retrieved because "'Linear' object has no attribute 'serializable_wrapper_type'", Do I have to put it in a class MyLinear(sy.Module)?

import syft as

[2021-01-19 11:53] koloskova commented on #5003
this notebook is not working with the new version of syft 0.3

[2021-01-19 13:08] rahul-art commented on #5003
use this
pip install 'syft[udacity]'

[2021-01-19 13:45] Thobo5 commented on #2553
Hi there, has anyone found a fix for this issue yet?

Syft 0.2.9 still has this issue and it's causing me to use huge amounts of RAM. Using tracemalloc I've found that the id's referring to Syft objects generated while iterating over a federated data loader are stored indefinitely. It can only be removed from memory by resetting the kernel.

Tracemalloc report:
`\syft\generic\id_provider.py:41: si

[2021-01-19 14:23] #3761 closed

[2021-01-19 14:27] #4747 closed

[2021-01-19 14:30] #4832 closed

[2021-01-19 19:00] tudorcebere commented on #5015
Hi all!

An issue will be assigned after a PR is opened to tackle the progress/give feedback.

Open a PR and ping me where you get stuck, thank you for your interest in syft!

[2021-01-19 21:09] tudorcebere opened #5024 "Flaky Duet Test"
## Description
The test in tests/syft/grid/duet/duet_test.py can fail due to a race conditional/already used port, etc.

## How to Reproduce
Remove the `@pytest.mark.skip` decorator from the test and run it multiple times.

## Expected Behavior
The test must pass.

## Screenshots
If applicable, add screenshots to help explain your problem.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e

[2021-01-19 21:15] tudorcebere opened #5025 "Complete AST docs"
## Where?
In syft/ast.

## Additional Context
The documentation has been started but not yet finished.

[2021-01-19 21:16] tudorcebere opened #5026 "AST proper logging"
## Description
The AST should be adapted to the new logging schema.

## Are you interested in working on this improvement yourself?
- Yes, I am.

[2021-01-19 21:18] tudorcebere opened #5027 "AST testing to 100%"
## Description
We want to reach coverage in syft/ast of at least 100% (more is better :joy:)

## Type of Test
- [x] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [x] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [x] **Regression test** (e.g. checking if by adding or removing a module of code allows othe

[2021-01-19 21:25] tudorcebere commented on #4663
This is coming to town this week.

[2021-01-20 10:19] tudorcebere opened #5031 "TODOs fix - Torchvision - mean and std"
## Description
In `src/syft/lib/torchvision/allowlist.py` we have a TODO: `mean and std are actually tuples`.

## Additional Context
The fix has to be made and a test has to be written.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:20] tudorcebere opened #5032 "TODOs fix - Torchvision - normalize"
## Description
In `src/syft/lib/torchvision/allowlist.py` we have a TODO: ` Normalize properties only exists on the object not on the class?`.

## Additional Context
The fix has to be made and a test has to be written that the methods are working and are added to the allowlist.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:26] tudorcebere opened #5033 "TODOs fix - Torchvision - Compose.transforms"
In `src/syft/lib/torchvision/allowlist.py` we have a TODO: `Compose.transforms property only exists on the object not on the class?`.

## Additional Context
The fix has to be made and a test has to be written.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:29] tudorcebere opened #5034 "TODOs fix - TorchModule - torch.nn.modules.module._IncompatibleKeys"
## Description
In `src/syft/lib/torch/module.py` we have a TODO: `support torch.nn.modules.module._IncompatibleKeys`.

## Additional Context
The fix has to be made and a test has to be written that the methods are working and are added to the allowlist.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:31] tudorcebere opened #5035 "TODOs fix - TorchModule - make work nested"
## Description
In `src/syft/lib/torch/module.py` we have a TODO: `make work nested with a counter and add tests`.

## Additional Context
The fix has to be made and a test has to be written that the methods are working and are added to the allowlist.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:32] tudorcebere opened #5036 "TODOs fix - TorchModule - __setattr__"
## Description
In `src/syft/lib/torch/module.py` we have a TODO: `fix this properly`.

## Additional Context
The fix has to be made and a test has to be written that the methods are working and are added to the allowlist.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:47] tudorcebere opened #5037 "TODOs fix - Message - Address on SignedMessage"
## Description
In `src/syft/core/common/message.py` we have a TODO: `horrible temp hack, need to rethink address on SignedMessage`.

## Additional Context
The fix has to be made and a test has to be written.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:48] tudorcebere opened #5038 "TODOs fix - Pointer - Client vs Address vs Location"
## Description
In `src/syft/core/common/pointer.py` we have a TODO: `Fix the Client, Address, Location confusion`.

## Additional Context
The fix has to be made and a test has to be written.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:50] tudorcebere opened #5039 "TODOs fix - Pointer - _proto2object"
## Description
In `src/syft/core/common/pointer.py` we have a TODO: `we need _proto2object to include a reference to the node `.

## Additional Context
The fix has to be made and a test has to be written.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 10:52] tudorcebere opened #5040 "TODOs fix - Storeable Object - pydoc.locate"
## Description
In `src/syft/core/store/storeable_object.py` we have a TODO: `FIX THIS SECURITY BUG!`, related to using pydoc.locate.

## Additional Context
The fix has to be made and a test has to be written.

## Note
This issue will not be assigned to anybody until a PR is opened.

[2021-01-20 11:44] Benardi opened #5041 "Transforming a StorableObject to proto and back doesn't work"
## Description
Using `_object2proto` on a StorableObject to create a proto, and then using `_proto2object` on the result to create a StorableObject does not work

## How to Reproduce
1. Create a StorableObject
2. Execute `StorableObject._object2proto` on it to create a proto object
3. Execute `StorableObject._proto2object` on the proto object
4. See error

## Expected Behavior
At the end we should

[2021-01-20 16:33] bcebere opened #5043 "Duet: sending an object twice with the same tag results in duplicate objects"
## Description
Duet: sending an object twice with the same tag results in duplicate objects, and the DS cannot retrieve it anymore.

Reproduced with the TenSEAL  notebook.

Sending the context once is fine and the DS can retrieve it
[code]

Running the cell again and sending the context results in a duplicate tag in the store
[code]
Now the DS instance fails to get the context with
[code]

## Syst

[2021-01-21 00:19] madhavajay opened #5045 "Basic Plans TDD"
## Description
Create a series of expected outputs based on the `0.2.x` version of plans that we add as tests to Syft to start the process of developing Custom Tensors and Plans to be compatible with the same expected output needed for Model Centric FL.

Notebook:
https://github.com/OpenMined/PyGrid/blob/dev/examples/model-centric/01-Create-plan.ipynb

## Definition of Done
Several stub functions

[2021-01-21 00:26] madhavajay opened #5046 "Basic Custom Tensor Classes"
## Description
Map out the initial basic custom tensor classes and their relationship with each other.

[code]

`SyftTensor` -> Interface
`DataTensor` -> Framework Specific like TorchTensor
`FixedPrecisionTensor`
`IntegerTensor`
`FloatTensor`
`AutogradTensor `
    self.children
    -> Can only be Decimal / FloatTensor

`HETensor`
    -> Can only be IntegerTensor

## Definition of Done
Basic hierar

[2021-01-21 04:00] madhavajay opened #5047 "Fix issue with AWS / Proxy not connecting"
## Description
A user has reported being unable to connect to their notebook on an AWS instance through a proxy.
We should investigate this and GCE to see if there are any particular network settings which are required or if this is just an issue with the proxy and what can be done to resolve it.

This might be related to the Colab issue: https://github.com/OpenMined/PySyft/issues/4738

## Definit

[2021-01-21 05:27] harikrishnankh commented on #5010
I tried installing syft 0.2.9 but I got the error:" Could not find a version that satisfies the requirement torch~=1.4.0 (from syft)"
I tried installing pytorch 1.4,0 manually, but got the same error

[2021-01-22 01:04] madhavajay opened #5052 "Re-add .tag() to Pointer"
## Description
Until we figure out which way we want to go with the API we should keep the .tag() method to prevent breaking compatibility with existing docs and examples.

For all instances except C types in libs like PSI, users should be able to use either or both of:
[code]

or
[code]

If the tags arg is supplied to .send it should overwrite any previous tags, but if its empty we will use the p

[2021-01-22 04:57] madhavajay opened #5054 "Replace all Commented out Tests with @pytest.mark.xfail"
## Description
There are a lot of tests that have been commented out with TODOs like:

[code]

These should be uncommented and the tests should be marked as @pytest.mark.xfail

## Definition of Done
All failing tests are being run with @pytest.mark.xfail instead of being commented out.

[2021-01-22 05:03] madhavajay commented on #4663
@tudorcebere I created this too: https://github.com/OpenMined/PySyft/issues/5054

[2021-01-22 05:31] rajatrc1705 commented on #4974
I am not able to figure out how to go about this. No matter what I do, the iterator for UserDict and Dict fails the pytest.
![image](https://user-images.githubusercontent.com/52173002/105450724-1cf15480-5ca1-11eb-84b9-b3d51058b006.png)
The same code works on a Jupyter Notebook,
![image](https://user-images.githubusercontent.com/52173002/105450767-31355180-5ca1-11eb-90e3-fd28d58925f5.png)

[2021-01-22 05:33] rajatrc1705 commented on #4974
If anyone has any ideas how to go about this, I would be grateful for any help.

[2021-01-22 05:39] #4745 closed

[2021-01-22 05:44] madhavajay opened #5056 "Figure out GitHub CI Warnings"
## Description
Bonus points to who ever can figure out why these warnings happen and how to get rid of them. They don't seem to be an issue but they clutter up the CI reports.

<img width="1114" alt="Screen Shot 2021-01-22 at 3 43 27 pm" src="https://user-images.githubusercontent.com/2882739/105451679-af591e80-5cc8-11eb-9802-82c38e23d1ab.png">

## Definition of Done
These warnings are removed.

[2021-01-22 05:45] madhavajay commented on #4806
Most of this is done in the AST Refactor but we might still need some of the shortcut properties to jump between Class, Pointer and FQN.

[2021-01-22 05:57] madhavajay opened #5057 "Create Conda Test"
## Description
We should add a conda test to make sure that conda is working with syft and act as a point of reference for users who want to use it.

## Definition of Done
Add a test to pr_tests.yml which checks a single version of python on ubuntu with a conda virtual environment and conda package installer.

https://github.com/OpenMined/PySyft/issues/4894

[2021-01-22 05:58] madhavajay commented on #4799
https://github.com/OpenMined/PySyft/pull/5017

[2021-01-22 05:58] madhavajay commented on #4830
This is done.

[2021-01-22 05:58] #4830 closed

[2021-01-22 05:59] madhavajay commented on #4691
Currently the github url we use to resolve these is blocked in some countries.

[2021-01-22 06:01] madhavajay commented on #4766
I haven't seen this issue since the https://github.com/OpenMined/PySyft/pull/5006 fix so lets consider it resolved.

[2021-01-22 06:01] #4766 closed

[2021-01-22 06:04] madhavajay commented on #4834
@santteegt any progress?

[2021-01-22 06:06] madhavajay commented on #4755
@bcebere awesome work. What do you think would be the best way to achieve some kind of code area grepping? So for example if all the logging / print in WebRTC was tagged with network and the user could disable it so they don't see any of those messages while keeping say, the store event log?

[2021-01-22 07:37] bcebere commented on #4755
Sure, I can add filters too, I will investigate that.

Also, the current exceptions logging might be a bit aggressive, I will have to review that. I disabled the full traceback for now, not sure if we needed somewhere.

[2021-01-22 09:33] gmuraru commented on #4835
This can be close!

[2021-01-22 09:33] #4835 closed

[2021-01-22 17:32] avinsit123 commented on #5031
@tudorcebere I hv opened a PR for the same. This is my first time contributing to this repo. Pls look at the PR and provide guidance if I am headed in the right direction.

[2021-01-22 19:12] phoenix-meadowlark opened #5060 "Benchmarking Inference and Training Latency on Android"
## Question
Is there a recommended flow for compiling TensorFlow and PyTorch models to target Android and benchmark inference and training latency on device?

## Further Information
I would like to compile some simple TensorFlow and PyTorch models for on-device training with a few optimizers, and benchmark their inference and training latency on a Pixel phone. One of my target use cases is single

[2021-01-22 20:11] christiandompierre commented on #5047
I didn't test GCE, only AWS.
In my case, I have the following behavior:
 - data owner AWS <-> data scientist local network: doesn't work (there's no timeout either, it just sits there indefinitely).
 - data owner AWS <-> data scientist AWS: works fine

Note that the VM on AWS is behind a proxy

[2021-01-23 15:21] cereallarceny commented on #5060
Interesting question - I feel that @vkkhare might be your best bet for help on this. I'll assign this ticket to him @phoenix-meadowlark.

[2021-01-23 18:32] vkkhare commented on #5060
Benchmarking currently is not supported in KotlinSyft. If you want, you can explicitly write tests/timestamp evaluations for benchmarking in kotlin. Also, you don't need to run multiple devices, you can set the number of workers to 1 in pygrid server config.

[2021-01-24 09:33] tudorcebere opened #5062 "Templated Collections"
## Description
Our data structures currently work in the remote scenario, using most of the API the right way. A blocker appears when you want to retrieve information from that collection. Examples:

[code]
The `AnyPtr` and the `Any` object are minimal objects. We want to extend these types in the AST with templates, for example, let's assume we have a global variable `two_ints` in a fictional `te

[2021-01-25 16:02] Imteaj10 commented on #4820
Can you please show how should we write the following in syft 0.3.0:
import torch as th
import syft as sy
hook = sy.TorchHook(th)

[2021-01-26 13:21] rahul-art commented on #5033
i created PR #5064 try to solve this issue give some guidance to solve this

[2021-01-26 20:06] gmuraru commented on #4738
What I managed to find until now on the ```dev``` branch.

It seems that sending a big model and then trying to run whatever cell - it remains "stuck" running the cell (eventually it runs it...).

I tried to reduce the number of output neurons from the Linear layer (in the example there are 9216 x 128) -- I tried to use 9216 x 1 and I have not seen this problem.

Also, tried the script Vova from `

[2021-01-26 20:56] tacitvenom commented on #5056
Could you also help me with the CI build where this occurs please?

[2021-01-27 20:33] sek22 opened #5068 "Running MNIST Notebook files as Python Scripts"
## Question
**Can the MNIST files be run as standalone python scripts?**

## Further Information
I have downloaded the ipynb files to py files and want to run it locally. I have no qualms with copy and pasting the big hashes from the data owner to the data scientist script. I was wondering what is causing the setup to not work even though I have added some timeout to both scripts.

## Screenshots

[2021-01-28 03:35] zhengjiawei001 commented on #4979
Is this problem solved, I have the same problem

[2021-01-28 10:26] tudorcebere opened #5069 "Accepting requests on objects from an iterable"
## Description
We would like to be able to do on the DS side:
[code]
And on the DO side:
[code]
Currently, the execution fails due to unknown UID of torch_ptr[0] in the store.

## Expected Behavior
We would like to be able to get the described object.

## Additional Context
The issue will be assigned after a PR will be opened. The PR has to have the base branch the `0.4` one.

[2021-01-28 20:51] FICproject commented on #4820
Someone have a solution for this ? I use torch 1.6 and syft 0.3.0  How can I write this lines of codes in 0.3.0 if sy.TorchHook() is not anymore available ?

[2021-01-29 11:07] Linardos commented on #3986
This issue should be reopened, I had the exact same problem and it was really hard to figure out it was a bug from PySyft:
![image](https://user-images.githubusercontent.com/26694607/106267656-a28d7b00-6232-11eb-8e28-64bdc4ae7063.png)
Note how the shapes are the exact same. What I was basicaly trying to do is define 3 separate masks based on the full mask of the heart.
If I comment out the hook pa

[2021-01-29 11:24] Linardos opened #5070 "IndexError: too many indices for tensor of dimension"
## Description
Using a boolean matrix I wanted to index a matrix with zero elements. This produces an error if TorchHook is active. (For my particular case the reason I wanted this was to split a segmentation mask to 3 parts, but here I show you a minimal reproducible code to investigate the error).

## A small reproducible example:
[code]

## Screenshots
![image](https://user-images.githubusercon

[2021-01-30 03:15] Koukyosyumei commented on #4798
Hi, @madhavajay I'm working on this issue, and I almost finished the implementation for MNIST. I tested my notebook on both my local laptop and Google Colab, and both of them worked. Then, I have a few questions.

1. Should I support other datasets like the original example? It seems that remote_torchvision.datasets currently supports only MNIST.
2. I had to change the structure of the model a bit

[2021-01-30 08:36] bcebere opened #5073 "tenseal: Performance Issues"
## Description
Consider the following stress test using TenSEAL:
[code]

This test takes **116.19s**. Removing the `generate_galois_keys` call reduces the duration to **34s**.

Simulating the same test using just the TenSEAL library
[code]
This test takes **6.12s**. Removing the `generate_galois_keys` call reduces the duration to **2.45s**.

Profiling the Duet code using cProfile returns
[code]

#

[2021-01-30 08:47] bcebere commented on #5073
Full cProfile dump.

Decompress first. Can be visualized with
[code]

[profile.tar.gz](https://github.com/OpenMined/PySyft/files/5897630/profile.tar.gz)

[2021-01-31 09:56] tudorcebere opened #5075 "Investigate pytest warnings"
## Description
When running the test suite, a ton of warning are currently raised. One should take a look at them and:
* solve them if they are short fixes
* create issues out of them if they are hard to solve

[2021-01-31 10:12] NiWaRe commented on #4899
Solved by #5053.

[2021-01-31 10:12] #4899 closed

[2021-01-31 13:39] H4LL opened #5076 "Tags for pointers generated mid-computation"
## Feature Description
With the new mechanism for requests, where I reference the tag of the variable I am requesting, it has become more difficult to pull back pointers which are the product of some computation. Let's say I want to pull back 'pred_ptr' from

`pred_ptr = model_ptr(x_ptr)
`
In order to request pred_ptr I need to reference its tag, however it currently has no tag as it was generated

[2021-01-31 18:15] LasTAD opened #5078 "Using custom dataset with Duet"
## Question
Is there any possibility to work with custom dataset with Duet?

## Further Information
I tried adapting the existing MNIST example for a different [dataset](https://www.kaggle.com/gloseto/traffic-driving-style-road-surface-condition) and ran into the impossibility of creating my own dataset and sending it to Duet. Whichever side (DO or DS) I try to create a dataset, either it is impos

[2021-02-01 06:54] bcebere opened #5079 "Duet: sending big objects in the store results in a silent crash"
## Description
Training models with TenSEAL implies encrypted the training/evaluation data.
Sending ~1000 ciphertexts over Duet results in a silent crash, and the DS instance gets hanged.

We need to simulate an iterator over big datasets over Duet.

## How to Reproduce
**DO script** - this works fine
[code]

[code]
**DS script** This hangs in the duet.store["enc_x_test"] and it never exits.

[cod

[2021-02-01 07:03] bcebere opened #5080 "Duet: send a model in the store for debugging purposes."
## Description
For the TenSEAL training/inference scenarios, I want to compare the encrypted results with the plain results.
More specifically, I want to evaluate N ciphertexts with a model and get their accuracy.
Then, I want to test the N underlining plaintexts with the same model and get the plain accuracy.

Then, I want to show a comparison between the plain accuracy and the encrypted accuracy

[2021-02-01 08:36] tudorcebere opened #5082 "Add support for slice objects"
## Description
We don't have support for `slice` objects. We would like to add slices in our primitive supported types.

TODO:
- [x] Add some serde tests
       The proto only takes ints so you might need to change that to support None as well.
- [ ] Add the tests from CPython: https://github.com/python/cpython/blob/3.9/Lib/ctypes/test/test_slicing.py
- [ ] Add the CPython test filename to the LIC

[2021-02-01 08:45] xutongye commented on #5043
I have some thoughts about this issue.
1. The problem is not that "duet.store has multiple elements with same tags". I think it's okay and reasonable.
2. And "we can't call `duet.store['context']` when there are multiple elements with tags=['context']" is also not the real problem. Because it's natural that syft can't figure out  which one to return when there are mutiple ones match. The right way

[2021-02-01 09:24] shujaat81 opened #5083 "import syft error"
Tried to install syft in windows using anaconda virtual environment, installation went successfull. But when trying to import syft, I get the following error:``---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-44770bd007ea> in <module>
----> 1 import syft
~\Anaconda3\envs\lasttest

[2021-02-01 13:25] tudorcebere opened #5085 "Add and Benchmark uvloop"
## Description
Our networking stack might get better performance if we switch on using libuv, python has an implementation of this here: https://github.com/MagicStack/uvloop which is quite of the box, but we
would like to know how big is the impact (if there is any at all).

[2021-02-01 16:46] Rene36 opened #5086 "Tagging ListPointer with a list results in one tag entry"
## Description
PySyft allows to add one or multiple tags to each pointer with `pointer.tag("tag1", "tag2", "tag3")`. However, they have to be added separately and using a list for tagging like `pointer.tag(["tag1", "tag2", "tag3"])` adds the whole list as one tag and not three separate tags. `pointer.tag(["tag1", "tag2", "tag3"])` results in pointer.tags -> [["tag1", "tag2", "tag3"]]

## How to Re

[2021-02-01 16:55] ariannmichael commented on #5054
I would like to take this issue

[2021-02-01 16:55] ariannmichael commented on #5075
I would like to take this issue

[2021-02-01 19:04] ayush268 commented on #5069
Hi, I think there is a bug in the functionality provided here,

When we execute the following statement from the DS side:

[code]

It adds the data in the store of the Data Owner beforehand (even before administering the request itself). The Data Scientist can flood the data store of the data owner via this, an example

[code]

[2021-02-02 06:28] madhavajay commented on #4798
@Koukyosyumei this looks great! Thank you so much for your PR. I will be reviewing this tomorrow. As @tudorcebere says are you able to fix the conflicts?

[2021-02-02 06:31] Koukyosyumei commented on #4798
@madhavajay
Thanks for your reply! Actually, I'm not familiar with git. Could you show me how to resolve the conflict?

[2021-02-02 06:45] madhavajay commented on #4798
@Koukyosyumei you should be able to do:
[code]

At this point it's going to tell you there are conflicts.
You need to carefully edit the conflicted files and merge the code in places where it doesn't match.

Check out guides like this one:
https://www.atlassian.com/git/tutorials/using-branches/merge-conflicts

Alternatively, if all you have changed are Notebooks then it might be easier to just cop

[2021-02-02 06:50] madhavajay commented on #5009
@harikrishnankh the Torch Vision API hasn't been completely added yet. This would probably be a pretty easy fix. If you would like to open a PR that would be greatly appreciated. See `src/syft/lib/torchvision/allowlist.py`

[2021-02-02 06:52] madhavajay commented on #5016
Do you have syft `0.2.x` installed? There is no KerasHook in 0.3+ anymore.

[2021-02-02 07:07] madhavajay commented on #5019
@dylanamiller Python 3.6 is correctly listed and supported. I wonder if there is an issue with your local environment and running the pre-commit hook checks?

The version for mypy listed in the `.pre-commit-config.yml` is:
[code]

Interestingly if I upgrade it to mypy 0.800 which is the latest those errors still don't appear.
If you can upgrade `.pre-commit-config.yml` to use mypy 0.800 and fix th

[2021-02-02 08:13] bcebere commented on #5073
Full profiling script

[code]

[2021-02-02 08:16] bcebere commented on #5073
Some lessons:
 - Duet should have the concept of session. The TenSEAL context needs to sent only once. That reduces the running time of the above script from 80sec to 15 sec. This is still 13 sec slower than the native version.

The top calls in the profiler are
[code]

[2021-02-02 08:43] madhavajay commented on #5043
@xutongye also perhaps rather than rely on ID we could look at a hash since we use that already for signing.

[2021-02-02 10:24] koenvanderveen commented on #5046
Few questions before I want to dive in

- Can we specify the ops we want to begin with, maybe something like this?
    - __add__, __sub__,  __mul__, __truediv__, __matmul__
- How do we wrap these tensors? Lets say I am creating a tensor for federated learning, which should compute on a PyTorch FloatTensor under the hood. How is this wrapped? Is this the idea?: SyftTensor(FloatTensor(DataTensor(tor

[2021-02-02 10:26] eddykaya opened #5090 "Question about SMPC example"
## Question
Regarding [this example](https://notebook.community/OpenMined/PySyft/examples/tutorials/advanced/Encrypted%20Linear%20Regression) and after reading the linked papger, I do not understand if data remains at the workers or if data is transported across the network.

## Further Information
The examples uses EncryptedLinearRegression. Is test data transported encrypted via the network or o

[2021-02-02 13:38] koenvanderveen commented on #5046
So for a FloatTensor that would look something like this, is that the direction you were thinking of.

[code]

[2021-02-02 14:04] manisoftwartist opened #5094 "Light tests don't pass on OSX Big Sur"
I am trying to get pysyft running on OSX BigSur 11.1 in a conda environment with python 3.8.1. Some instructions in CONTRIBUTING.md are not clear to me. I was hoping to get some help here

1. $pytest -m slow -n auto - all the tests do not pass. Is this normal?
2. $pytest -k "not test_all_allowlisted_tensor_methods_work_remotely_on_all_types" as suggested in Step 6 at https://pysyft.readthedocs.io/

[2021-02-02 14:35] gmuraru commented on #5046
Hey - it looks good!

Some nitpicking stuff:

- self.child - I would change this to self.tensor (or self._tensor)
- I am not sure if we want to have the relation "SyftTensor has a FloatTensor" or "FloatTensor is a SyftTensor" (in this case I think we might want to implement SyftTensor like an abstract class)

[2021-02-02 14:51] Koukyosyumei commented on #4798
@madhavajay
Thank you for your instruction! I somehow solved the conflicts.

[2021-02-02 15:28] koenvanderveen commented on #5046
Hmm, thinking about it again, if we would use "tensor" as name, we would be using it as tensor.tensor, which is a bit confusing.

[2021-02-02 18:07] bcebere commented on #5024
I can work on this one.

[2021-02-03 04:01] madhavajay opened #5099 "Update .pre-commit packages and fix errors"
## Description
Update the .pre-commit packages including mypy and then fix any new warnings.

in `.pre-commit-config.yaml`:
[code]

## Definition of Done
Mypy is set to 0.800 (and others updated if available) and linting checks still pass in CI.

[2021-02-03 06:37] madhavajay opened #5102 "Fix usage of request name vs tag in Notebooks and Docs"
## Description
**Note:** Do this off dev once 0.4 is merged
- Fix all broken references to handler `name` and add new handler `tag`:
[code]

- Remove unused examples folder:
[code]

- Rename duet folder
[code]
to:
[code]
- Search docs and READMEs for references to `examples/duet` and update
- Search docs and READMEs for references to `add_handler(name=)` / `get/request(name=)`

[2021-02-03 06:40] madhavajay opened #5103 "Opacus"
## Description
See: https://github.com/OpenMined/PySyft/pull/5165

## TODO
- [x] Added workaround to cast numpy floats and ints to python
- [x] Fixed return type on opacus get_privacy_spent
- [x] Refactor dynamic method resolution
- [x] Fix SyModule with PrivacyEngine
       Init method is expecting object or pointer but we have neither
       Perhaps we could create a fake top level module on the

[2021-02-03 09:20] manisoftwartist commented on #5094
@madhavajay Thanks. Hopefully your recent commit https://github.com/OpenMined/PySyft/pull/5100 should solve this issue. I leave it open till your test on Big Sur.

[2021-02-04 01:09] madhavajay commented on #5083
@shujaat81 this is strange, `torchvision.datasets.VisionDataset` is available in torch>=0.5 at least. Can you confirm what version of torchvision you have and that if you go to a python console and type and show what your output is:
[code]

For me with torchvision 0.5 I get:
[code]

[2021-02-04 06:08] madhavajay commented on #5086
@Rene36 If you want to update the code to accept both a list and the varadic args that would be great.
I'm getting `TypeError: unhashable type: 'list'` for your example though, not a nested list.

[2021-02-04 06:14] madhavajay commented on #4979
@zhengjiawei001 This is not a problem with Syft its a problem with not being able to access `githubusercontent.com` through certain firewalls. You can manually set the `network_url` like above to one of the three listed above.

[2021-02-04 06:17] madhavajay commented on #5068
The background asyncio tasks require a Thread to run in. In Jupyter this is provided, in the python interpreter in REPL mode we create one, but when running .py scripts we do not because we are looking for a solution that will allow us to not use the thread for certain implementations of Python which have threads disabled.

In the mean time you can just edit the `event_loop.py`:
[code]

Once that

[2021-02-04 06:19] madhavajay commented on #5056
@tacitvenom its all of them 😊
https://github.com/OpenMined/PySyft/actions

[2021-02-04 06:21] madhavajay commented on #4738
@gmuraru Awesome. So you think that its really just some kind of timeout due to too slow performance between two far apart network nodes?
Also, great idea with the `send_tensor.py`, i'm going to investigate this.

[2021-02-04 07:08] madhavajay opened #5109 "Documentation Docstrings"
## Description
The team voted and agreed on Google Docstrings format.
Convert all docstrings to google format:
https://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings

Find a plugin or lint checker which can check these for us.

## Definition of Done
We have a checker to find all the docstrings that are wrong and can fix them.

[2021-02-04 22:37] tacitvenom commented on #5056
Apologies for my ignorance, I still couldn't locate it. Would it be possible for you to share a link to the exact line where this occurs, for example? Or the step?

a simple search doesn't yield much, I looked at a few steps but to no avail, unfortunately.

[2021-02-05 02:09] mahad852 commented on #4887
Hey!
I notice the same issue on my end, and was wondering if you found any solution to this?
I am currently using PySyft 0.2.9 (the same as you mentioned in the post).

[2021-02-05 02:28] lucastliu commented on #5056
Here's an example:
https://github.com/OpenMined/PySyft/runs/1834413505?check_suite_focus=true
Look under "Post Run actions/checkout@v2"

I peeked at a couple of builds. The warnings all spit from the same issue "fatal: No url found for submodule path 'docs/_themes/sphinx-theme-graphite' in .gitmodules"

Looks like your documentation tool theme (sphinx-theme-graphite) submodule is not being recogni

[2021-02-05 04:33] #5056 closed

[2021-02-05 04:36] madhavajay commented on #5056
@lucastliu Awesome, great catch! ❤️ The `.gitmodules` file must have been deleted a long time ago but not properly removed from git itself.

I ran this to confirm that it still thought there should be some kind of submodule:
[code]

Then to remove it:
[code]

Let's see if this fixes the issue.

[2021-02-05 04:38] madhavajay commented on #5094
Yes, and I need to get some Apple Silicon soon anyway so this issue will raise it head again soon I have no doubt.

[2021-02-05 05:40] #5099 closed

[2021-02-05 06:40] madhavajay opened #5114 "Create Mechanism to Test Duet Notebooks"
## Description
We want to be able to run our DO / DS notebooks as tests. Naturally this presents a few issues as they are two different processes and they require the ability to programmatically pause at certain steps to allow the other side of the Duet connection to perform some actions.

Now that Duet Integration tests are solved the next step would be to introduce some mechanism to allow pausin

[2021-02-05 08:27] shujaat81 commented on #5083
@madhavajay As I can see I have the latest one:
`>>> import torchvision

'0.8.2'

<class 'torchvision.datasets.vision.VisionDataset'>

`

[2021-02-06 05:09] Koukyosyumei commented on #4796
@madhavajay
Hi, I am working on this issue, and I have almost done it. But, I already have a PR (#5071 ) to fix #4798. So, should I wait for #5071 to be finished, or may I create another PR for this issue?  Also, one possible plan is committing the notebooks for this issue within #5071 which I made for the DCGAN issue. I would like to hear your opinion because I'm not familiar with contriution to

[2021-02-06 23:46] J0 commented on #5109
@madhavajay can I work on this?

**Implementation Plan**
1.  Install  docstring linter like [darglint](https://github.com/terrencepreilly/darglint)
2.  Progressively correct all docstrings

Not sure if there's more to it

[2021-02-07 07:30] bcebere commented on #5114
I can work on this one, please assign it to me.

[2021-02-07 08:13] bhadreshpsavani commented on #5102
Can I work on this?

[2021-02-07 11:25] animesh-007 commented on #5036
Hi. I would love to work on this.

[2021-02-07 12:39] gmuraru commented on #4738
I might be that, another idea might be that...is there any chance that there is created another event loop?

[2021-02-08 04:45] madhavajay commented on #5102
@bhadreshpsavani Sure, but make sure to push a PR while you are working on it so that if we need to help get it ready for merging your commits will be included.

[2021-02-08 04:46] madhavajay commented on #4738
@gmuraru I haven't checked on Colab since we added the `event_loop.py` code, but doesn't it usually show an exception for that?

[2021-02-08 05:06] madhavajay commented on #5075
We should make sure to run:
[code]

There are a number of warnings that come from the slow tests and we can check the `torch` tests as well but since its a single test with parameterization I wouldn't expect many.

Right now on `dev` im getting:
[code]

[2021-02-08 05:11] madhavajay commented on #5109
@J0 Spot on! If you can open a PR with darglint added to the `pr_tests.yml` in the `python-linting` step that would be awesome. We should make it not fail for now but progressively make it harder so that we are forced to refactor these docs.

[2021-02-08 05:13] madhavajay commented on #5109
@J0 it also looks like they support `pre-commit` so adding it to that makes sense since it gets run in the `pr_tests.yml` linting step above.
[code]

[2021-02-08 05:18] madhavajay commented on #5083
@shujaat81 Can you please let us know what version of Windows and Python you are using, what the version of Syft you are using is (or commit hash, if you run pip freeze you can see what version) and the commands you ran to cause the issue?

[2021-02-08 06:20] madhavajay commented on #5031
So it turns it out mean and std aren't tuples, Normalize is the tuple, so its mean and std are what ever you want them to be... 😬

[code]

[2021-02-08 06:28] madhavajay commented on #5031
Looks like it ends up as this:
[code]

[2021-02-08 06:31] J0 commented on #5109
Cool, will file a PR shortly. Thanks!

[2021-02-08 07:14] avinsit123 commented on #5031
Ok, I see but if u have a look at the parameters for `normalize` we can see that in the function `mean` and `std `both are List[Float] type so shouldn't we just allow `syft.python.lib.List `

https://github.com/pytorch/vision/blob/ced96a0ca66e35ae61b64267e083fc3e3a62172a/torchvision/transforms/functional.py#L297 - have a look at this

[2021-02-08 07:54] madhavajay commented on #5031
Yes, although the types ultimately mean nothing, all that matters is it gets passed to `torch.as_tensor()` so I think we should allow anything which can get passed into that which so far seems like, int, float, Tuple and List, and probably Tensor and Numpy's ndarray.

[code]

[2021-02-08 08:04] avinsit123 commented on #5031
Ok I see, yes then we should add support for all types

[2021-02-08 11:56] #5024 closed

[2021-02-08 11:56] #5114 closed

[2021-02-08 13:49] ariannmichael commented on #5075
Oh thanks @madhavajay , I was just running:
`$ pytest -m fast -n auto`
that was the one I saw on the CONTRIBUTING.md.
Sorry, I'll be looking up again.

[2021-02-08 20:42] geoffkip commented on #5078
I am having this exact same issue. Is there any way in Pysyft to create a Custom Dataset pointer using remote tensor pointers? Ultimately I need to use this in a remote torch dataloader etc.

[2021-02-09 05:58] madhavajay opened #5126 "Improve WebRTC Test"
## Description

FIXME: Nahua is not happy with this test because it "indirectly" triggered exception

## Definition of Done
Improve test in `tests/syft/grid/connections/webrtc_test.py`.
Remove comment.

[2021-02-09 08:36] koenvanderveen opened #5127 "Basic Plan class"
## Description
Create a a serializable `Plan` class in syft.core.plan, with `Plan` being a list of `Action`s

Implement and compile protobuf files in Pysyft/proto, and implement get_protobuf_schema / _object2proto / _proto2object for Actions. Write tests for serialization and deserialization of plans

## Are you interested in working on this improvement yourself?
- Yes, I am.

## Additional Contex

[2021-02-09 08:39] koenvanderveen opened #5128 "Add Plan to AST"
## Description
Implement a `.execute()` method for `Plan`s, this method loops through the actions in the `Plan`, and executes them one by one. Add plan and its methods to the ast. Write tests for running execute via a VirtualMachine on remote object

## Are you interested in working on this improvement yourself?
- Yes, I am.

## Additional Context
Based on @iamtrask's input

[2021-02-09 08:41] koenvanderveen opened #5129 "Execute plans on new inputs"
## Description
Add functionality to execute a plan on a new set of inputs. Write tests that first define the plan, then define multiple batches of inputs that are not linked to the plan, and execute the plan on them.

## Are you interested in working on this improvement yourself?
- Yes, I am.

## Additional Context
based on @iamtrask's input

[2021-02-09 15:47] nqxytttt opened #5132 "RuntimeError: set_storage is not allowed on Tensor created from .data or .detach()"
windows 10
python 3.7.3
pytorch=1.1.0
pysyft=0.1.15a1

[code]

[code]

[2021-02-10 02:41] nqxytttt opened #5133 "AttributeError: 'str' object has no attribute 'decode'"
I run this code
https://github.com/jckuri/BladderDataset/blob/master/Bladder%20Dataset.ipynb

### **Test Configuration:**
PyTorch 1.7.1
pysyft 0.1.15a1

### Failure Information

[code]

[2021-02-10 05:16] dnabanita7 commented on #4816
Thanks @madhavajay ! I had the same issue.

[2021-02-10 05:34] dnabanita7 opened #5134 "I get syft.frameworks isn't a module error"
## Description
I have downloaded syft 3.0, 0.2.9 and 0.2.8. syft 3.0 shows this error. While syft 0.2.9 and syft 0.2.8 shows mismatched torch version. I use the latest version of pytorch.

[code]

## How to Reproduce
1. !pip install syft==0.2.9 or lower versions
2. See the error

## Expected Behaviour
0.2 versions and lower of syft doesn't support PyTorch's latest version. Syft 3.0 doesn't support

[2021-02-10 05:38] dnabanita7 commented on #5082
I want to work on this.

[2021-02-10 07:12] madhavajay opened #5135 "Finish v1 of the Trasterisk plugin flake8-kwarger"
## Description
The flake8-kwarger needs to be finished off.
https://github.com/madhavajay/flake8-kwarger

- [ ] Move library to OpenMined and rename to `trasterisk`
- [ ] Add support for @classmethod
- [ ] Add more tests for a few other function `def` examples
- [ ] Publish v1 to PyPI
- [ ] Investigate fixing / re-writing the code during the lint step as an option
    - timebox to half a day if it

[2021-02-10 08:10] madhavajay opened #5136 "Add Runtime TypeChecking to Public API"
## Description
Define what is the Public API and consider adding back the TypeChecking decorator perhaps first by creating a @public decorator so we can keep track of what we consider to be public API and introduce some versioning / deprecation features.

## Definition of Done
- Public API is marked
- Methods are dynamically typechecked
- Tests are benchmarked to ensure there is no severe performa

[2021-02-10 08:59] public commented on #5136
I love finding out about cool libraries because of this username :D

[2021-02-10 17:21] ariannmichael opened #5137 "Fix WebRTC tests warnings"
## Description
When running the test suite, some warnings on the webrtc_test.py are raised.

- Fix the warnings on webrtc_test.py.

Should run the tests using:
`$ pytest -m 'fast or slow' --no-cov -n auto`

## Are you interested in working on this improvement yourself?
- No, I am not.

## Additional Context

Warnings there are raised:

`
tests/syft/grid/connections/webrtc_test.py::test_set_offer_r

[2021-02-10 17:26] ariannmichael opened #5138 "Fix Node tests warnings"
## Description
When running the test suite, some warnings on the node_test.py are raised.

- Fix the warnings on node_test.py.

Should run the tests using:
` $ pytest -m 'fast or slow' --no-cov -n auto `

## Are you interested in working on this improvement yourself?
- No, I am not.

## Additional Context

Warnings there're raised:

`
tests/syft/core/node/node_test.py::test_autoapprove_requests_ma

[2021-02-10 17:31] ariannmichael opened #5139 "Fix Parameter tests warnings"
## Description
When running the test suite, some warnings on the parameter_test.py are raised.

- Fix the warnings on parameter_test.py.

Sholud run the tests using:
`$ pytest -m 'fast or slow' --no-cov -n auto`

## Are you interested in working on this improvement yourself?
- No, I am not.

## Additional Context

Warnings there're raised:

`
tests/syft/lib/torch/parameter_test.py::test_get_copy
t

[2021-02-10 17:37] ariannmichael opened #5140 "Fix Float test warning"
## Description
When running the test suite, a warning on the float_test.py is raised.

- Fix the warning on float_test.py.

Should run the tests using:
` $ pytest -m 'fast or slow' --no-cov -n auto `

## Are you interested in working on this improvement yourself?
- No, I am not.

## Additional Context

The warning there is raised:

`
tests/syft/lib/python/float/float_test.py::test_Floatconversion

[2021-02-10 17:41] ariannmichael opened #5141 "Fix Signaling Service test warning"
## Description
When running the test suite, a warning on the signaling_service_test.py are raised.

- Fix the warning on signaling_service_test.py.

Should run the tests using:
` $ pytest -m 'fast or slow' --no-cov -n auto `

## Are you interested in working on this improvement yourself?
- No, I am not.

## Additional Context

Warning the is raised:

`
tests/syft/grid/services/signaling_service_te

[2021-02-10 17:44] ariannmichael opened #5142 "Fix Client test warning"
## Description
When running the test suite, a warning on the client_test.py are raised.

- Fix the warning on client_test.py.

Should run the tests using:
` $ pytest -m 'fast or slow' --no-cov -n auto `

## Are you interested in working on this improvement yourself?
- No, I am not.

## Additional Context

The warning there is raised:

`
tests/syft/core/node/client_test.py::test_client_from_metadat

[2021-02-10 17:45] ariannmichael opened #5143 "Fix Domain test warning"
## Description
When running the test suite, a warning on the domain_test.py are raised.

- Fix the warning on domain_test.py.

Should run the tests using:
` $ pytest -m 'fast or slow' --no-cov -n auto `

## Are you interested in working on this improvement yourself?
- No, I am not.

## Additional Context

The warning there is raised:

`
tests/syft/core/node/domain/domain_test.py::test_domain_creat

[2021-02-10 17:54] ariannmichael commented on #5075
Hello @madhavajay and @tudorcebere, I check again running ` $ pytest -m 'fast or slow' --no-cov -n auto ` and was raised 4117 warnings. I did some changes that is on the PR #5125 and decrease to 24 warnings.

Then I opened issues for the warnings there are left, the issues are #5137, #5138, #5139, #5140, #5141, #5142, #5143.

I think that with this, this issue can be closed.

[2021-02-10 21:27] stefanv opened #5144 "Markdown not rendered in documentation"
At https://pysyft.readthedocs.io/en/latest/index.html there are a bunch of HTML tags, as if the page was rendered using RST instead of Markdown.

[2021-02-11 02:19] madhavajay opened #5145 "PyGrid Unit Tests"
## Description
Create a GitHub CI Action which runs PyGrids Unit Tests against Syft.
Currently this is the branch PyGrid is using:
https://github.com/OpenMined/PySyft/tree/pygrid_messages

Here are there tests:
https://github.com/OpenMined/PyGrid/blob/pygrid_0.4.0/.github/workflows/tests.yml

For now we want to run against `pygrid_0.4.0` on the PyGrid repo.

## Definition of Done
Changes to Syft t

[2021-02-11 03:02] madhavajay commented on #5144
@stefanv yes, the docs have not been properly rebuilt yet.
We have several PRs and issues to:
- implement a docstring checker: https://github.com/OpenMined/PySyft/pull/5123
- fix the documentation build warnings: https://github.com/OpenMined/PySyft/issues/4518

We are aiming to fix this for the next release.

[2021-02-11 03:07] madhavajay commented on #5078
@LasTAD There is an example of using a different dataset in one of the SuperResolution notebooks which is close to being merged. https://github.com/OpenMined/PySyft/pull/5122

We will be creating more examples and documentation for the next release.

[2021-02-11 03:19] stefanv commented on #5144
Thanks, @madhavajay.  This seems like a different issue than the two you referred to, but I'm glad to hear that it will be fixed in the next release.

[2021-02-11 03:26] madhavajay commented on #5144
Hi @stefanv right, I guess I was trying to say we know the Docs are broken and we will be going over them with a closer eye soon. Thanks for pointing out the rendering issue. We haven't decided yet on if we will keep using `sphinx` or switch to another docs tool, but either way we will keep an eye on the formatting. 🙂

[2021-02-11 03:29] stefanv opened #5146 "License incomplete"
There's a small, seemingly accidental, oversight in the project license.

PySyft includes source copied verbatim from Python (like [this file](https://github.com/OpenMined/PySyft/blob/dev/tests/syft/lib/python/collections/ordered_dict/ordered_dict_sanity_test.py)), so should follow the appropriate [license terms](https://docs.python.org/3/license.html).

[2021-02-11 03:31] stefanv commented on #5144
Thanks, that sounds good!  Feel free to close this as you see fit.

[2021-02-11 03:42] J0 commented on #5109
Hey,

Reposting from Slack so we can attempt to get more views.

I'm currently working on introducing a doc linter to `PySyft` so that we conform to the Google docstring format. I was just looking through the codebase and I realized that the existing docstrings are formatted according to Sphinx Style so that PySyft can generate docs. This would mean that I can't remove the Sphinx Style comments at

[2021-02-11 07:12] #5075 closed

[2021-02-11 08:55] apzl commented on #5102
@bhadreshpsavani are you working on this, or else I'm interested.

[2021-02-11 09:00] bhadreshpsavani commented on #5102
@apzl I haven't started yet,
If you are interested to work on please go ahead

[2021-02-11 14:17] geoffkip commented on #5078
@madhavajay Thank you! This is exactly what I was looking for. Appreciate you sharing!

[2021-02-12 04:14] madhavajay opened #5148 "Fix all darglint docs warnings"
## Description
Currently there are 419 warnings:
[code]

We can progressively improve this with multiple PRs.
If you are interested, please run the checker on the `src` and `tests` folders and try to fix the warnings until there are none.
Some will require adding docs that don't exist while others are just fixes.

This will likely require multiple PRs so if you are interested open a PR with a few

[2021-02-12 05:26] madhavajay opened #5149 "Resolve all bandit issues"
## Description
Currently we are running `bandit` with -ll in Medium severity mode.
We should fix all the issues when running bandit without the -l flag and update CI to check all levels.

To get started run:
[code]

## Definition of Done
CI is updated to check all levels of severity with `bandit` and the tests pass.

[2021-02-12 08:13] #5109 closed

[2021-02-12 15:33] socd06 opened #5150 "[Core Security Audit] security vulnerabilities found with safety check"
## Description
As part of the security audit I ran [free-tier safety](https://pyup.io/safety/) check on PySyft and found multiple libraries with known vulnerabilities

## How to Reproduce
1. make Python 3.8.2 virtual environment using virtualenv
2. activate virtual environment
3. `$ pip install safety`
4. `$ pip install syft`
5. `$ safety check`

## Expected Behavior
Fewer or no libraries found wi

[2021-02-12 19:28] socd06 opened #5694 "[Core Security Audit] subprocess call with shell=True identified x4"
## Description
Found 4 high severity, high confidence instances of `shell=True` known security issues using Bandit.

## How to Reproduce
1. Clone PyGrid repo
2. `pip install bandit`
3. `cd PyGrid`
4. `bandit -r -iii -ll .`

## Expected Behavior
No high severity and high confidence security issues should be found

## System Information
 - OS: Kali
 - OS Version: 2020.2a
 - Language Version: Python

[2021-02-12 20:53] socd06 opened #5693 "[Core Security Audit] Found 88 Common Vulnerabilities on grid-network:development image"
## Description
Found 88 Common Vulnerabilities and Exposures (CVE) on grid-network:development Docker image using Aqua Security [Trivy](https://github.com/aquasecurity/trivy)

## How to Reproduce
1. Install [Trivy](https://github.com/aquasecurity/trivy)
2. `trivy image --severity "HIGH, CRITICAL" openmined/grid-network:development`
3. See CLI output or save to file appending '>{filename}.txt' to t

[2021-02-13 16:40] LimingFang commented on #3980
the same question

[2021-02-14 15:45] daler3 opened #5155 "Data Owner cannot wait for objects shared by Data Scientist in duet.store"
## Description
There is no way for the Data Owner (DO) to wait for objects in duet.store being shared by the Data Scientist (DS).
A while loop does not work, as, when it enters the loop, DO does not seem to get the updated duet store. If we put time.sleep(x), also does not work.
The DS can instead wait for objects without any problem.

It is also not possible to use async "await", as it says that

[2021-02-15 07:17] avinsit123 commented on #5148
@madhavajay I have opened a PR to fix darglint warnings for `src/syft/utils.py` . What I wish to know is whether you want a seperate PR for each file or just for `src/syft` or `tests/syft`

[2021-02-15 09:46] cereallarceny commented on #5146
Do you have a proposal for what should be added in order to comply @stefanv?

[2021-02-15 14:26] dnabanita7 commented on #4820
Similar issue

[2021-02-15 17:49] stefanv commented on #5146
Here's an example from scikit-image, of the form that is used by the Debian project:

https://github.com/scikit-image/scikit-image/blob/master/LICENSE.txt

[2021-02-15 20:13] cereallarceny commented on #5146
Could you be more specific about what you’d like for us to do in PySyft? I
think we’re all highly interested in offering credit where credit is due,
but I’m not sure I correctly understand what you’d like for us to do to
resolve the situation.

On Mon, Feb 15, 2021 at 5:50 PM Stefan van der Walt <
notifications@github.com> wrote:

[2021-02-15 20:56] stefanv commented on #5146
You should add a line that states that files under '/path/to/python/code' are licensed under the PSF license.

[2021-02-15 23:25] gmuraru commented on #4738
I tried to retest this against dev and on the DO side I see a lot of stuff like:

[code]

On the DS side I see this:
[code]

I tried to test this operation:
[code]

And it seems it works if I do this IMMEDIATELY after on the DS side (I get back a boolean).
If I try to run:
```model = local_model.send(duet)```
and after the exact code with ```has_cuda...``` then it remains blocked...

I am not sure

[2021-02-15 23:27] ariannmichael commented on #5149
I would like to take this issue

[2021-02-16 02:10] madhavajay commented on #5150
@socd06 are you sure you are scanning syft?

None of these packages are in our requirements or installed in my virtualenv? Perhaps you are running `safety check` with your main system site-packages in the path.

If I run the same safety check I get the following:
[code]

Additionally looking into this:
[code]

It appears tornado is only being used by Jupyter.

Looking at the CVE:
[code]

https://v

[2021-02-16 02:24] madhavajay opened #5158 "Create Secure DP Example"
## Description
Create a secure DP example utilising secure plans.

Assignees:
- @madhavajay
- @gkaissis

## Definition of Done
Example can be trained over Duet and includes approval of Plan with predetermined epsilon budget.

[2021-02-16 15:44] socd06 commented on #5150
Yes it seems I wrote the issue poorly. Just edited the steps to reproduce. Let me double check on Ubuntu 18.04 LTS and anaconda, might have to do with it being on kali and virtualenv

[2021-02-16 18:31] socd06 commented on #5150
OK just did the same thing on Ubuntu + Conda and got the same result as you.
Steps:
1. `$ conda create -n pysyft python=3.8`
2. `$ conda activate pysyft`
3. `$ conda install jupyter notebook`
4. `$ pip install syft`
5. `$ pip install safety`
6. `$ safety check`

Closing since it's not clear if Jupyter is vulnerable. My original report probably had to do with Kali + Virtualenv or just a mistake on

[2021-02-16 18:31] #5150 closed

[2021-02-16 21:52] tudorcebere opened #5162 "Add watch/observer design pattern on AST ref objects"
## Description
Reminder to add a mechanism to make the AST dynamic.

## Are you interested in working on this improvement yourself?
- Yes, I am.

[2021-02-16 21:53] tudorcebere opened #5163 "Play around with __class__ on pointers"
## Description
The pointer isinstance mechanism can be improved.

## Are you interested in working on this improvement yourself?
- Yes, I am.

[2021-02-17 04:25] madhavajay opened #5164 "Add Support for Numpy"
## Description
Add numpy types with serde for libraries which return those types from their functions.

## Definition of Done
Numpy types are supported with serde.
As an in between step the numpy arrays can be serde using our torch.Tensor serde path.
Test suite proves that these types serde correctly.

[2021-02-17 04:50] madhavajay commented on #5103
The epsilon is fixed, this was related to a change in Lists vs Tuples and also the return of numpy types on the Opacus side.

[2021-02-17 05:06] madhavajay opened #5166 "PyGrid End-to-End Integration Test"
## Description
We want to create an end to end PyGrid Integration test that does HE Inference from these example notebooks:
https://github.com/OpenMined/PySyft/tree/dev/examples/homomorphic-encryption

- Starts a PyGrid Domain
- Builds a Worker Container
- Starts a Worker Container
- Loads model and weights on Worker
- Starts a Duet process and connects
- Loads an image and encrypts it
- Sends ima

[2021-02-17 05:17] madhavajay opened #5167 "Create chainable .print() method around the .get() API"
## Description
To make experimentation and development quicker when working within Syft it would be nice if users can print rather than having to .get and not delete or .get and .send back to try to keep a visual on whats happening.

One possible implementation would be to send a print request and then get the return back as a string like ReprMessage.

- [x] Create ReprService and method
- [ ] Han

[2021-02-17 05:22] madhavajay opened #5168 "Merge pygrid_0.4.0 into dev and update Syft"
## Description
Merge `pygrid_0.4.0` of PyGrid into `dev` branch and then update Syft tests to use the `dev` branch.

## Definition of Done
pygrid-unit-tests in `pr_tests.yml` uses `dev` branch on PyGrid and the tests pass.

[2021-02-17 05:36] madhavajay opened #5170 "Non Root Client gets None instead of Pointer for __len__"
## Description
In `pointer/pointer_test.py` we have a test I have created to show that Pointers for `len` are not being created.
If there is no service to respond to the automatic message perhaps we need a way to turn this off and treat it differently? I guess we need to think about what the expected result is here. Perhaps when this request times out we should still return a pointer since the obj

[2021-02-17 05:40] madhavajay opened #5171 "Investigate Removal of SyPrimitive"
## Description
We should investigate what would be required to remove SyPrimitive.
If we are no longer storing anything on the objects we just need the following:
`x = 1`
- `x_ptr = peer.store(obj=x)`
- AST Dict `{type(x):wrapper_type}` for handling serde
- Deleting lots of code

**OR**

Refactor to a `metaclass`.
https://openmined.slack.com/archives/G0186Q3EAHL/p1613617152209300?thread_ts=1613576

[2021-02-17 05:45] madhavajay opened #5172 "API Refactor Private Klass Methods"
## Description
As an intermediary step we should immediately rename all private API calls so they, a) dont clash with target classes we patch and b) make it obvious that they will be deprecated soon by making them private.

Check insde `klass.py` and anywhere where we use `aggressive_set_attr`.
Rename the following:
- .serializable_wrapper_type
- .serialize
- .to_proto
- .proto
- .to_bytes

To:
`f

[2021-02-17 06:06] madhavajay opened #5173 "Simple API Refactor"
## Description
See Design Doc on Notion: https://www.notion.so/openmined/2021-02-10-0-5-API-Refactor-f636ae0ff25f4921a84505ac7bd97ac7

To prevent clashes with existing APIs we should try to prefix any methods we add to Pointers or Classes.

Rename:
- [ ] `ptr.id_at_location` to `ptr.sy_id` (used by SyMPC so we need to think about it
- [x] `searchable` to `pointable`
`t_ptr = t.send(duet, pointable

[2021-02-17 06:08] madhavajay opened #5174 "Investigate Result Types"
## Description
Investigate what it would look like to add `ResultType` to Syft and have some kind of API for requesting the True type of unknown Unions.
See: https://www.notion.so/openmined/2021-02-10-0-5-API-Refactor-f636ae0ff25f4921a84505ac7bd97ac7

## Definition of Done
Some initial examples of code and a list of possible issues in a PR for discussion.

[2021-02-17 06:10] madhavajay opened #5175 "Investigate Client Registry"
## Description
The goal is to see how feasible it will be to have a client side registry and implement one.
See: https://www.notion.so/openmined/2021-02-10-0-5-API-Refactor-f636ae0ff25f4921a84505ac7bd97ac7
- Add globals code
- add duet.enable_network_vars and automatic ptr_variable generation
- add _ptr variable update mechanism and test
- add caching for example use the TenSEAL Context
- add dupl

[2021-02-17 06:14] madhavajay opened #5176 "Investigate Multi-Party P2P"
## Description
Investigate Multi-Party P2P
See: https://www.notion.so/openmined/2021-02-10-0-5-API-Refactor-f636ae0ff25f4921a84505ac7bd97ac7

## Definition of Done
PR with some examples of refactoring the API to be more generic around Node and some way to share peers and store pointers.

[2021-02-17 06:23] madhavajay commented on #5068
@sek22 We now have CLI based Integration tests between Duet running as Python code, in this case actually converting a notebook to python code first but the result is the same:
https://github.com/OpenMined/PySyft/blob/c7018768e9a7d78da8c93cbf39d564713bca7968/.github/workflows/pr_tests.yml#L222
[code]

Does that solve your issue?

[2021-02-17 06:25] madhavajay opened #5177 "Fix MNIST demo notebooks"
## Description
There are some API changes and the MNIST notebooks don't work. Unfortunately we need to refactor some things to be better before it makes sense to fix this such as the `request_handler` and network `var_name`.

Now that we have Notebook Integration Tests this example should be converted into an integration test as well.

## Definition of Done
MNIST notebooks fixed and running as an

[2021-02-17 06:28] madhavajay opened #5178 "Build Docs and Check Automated Process"
## Description
Make sure we can build the docs and have them auto generated.
This does not include fixing the warnings, docstring style or docs coverage issues.

## Definition of Done
Docs build and there is a clear path to automated doc generation on build.

[2021-02-17 06:29] jspisak commented on #4826
PyTorch will provide standard binary packages for arm64 starting in PyTorch 1.8 (first half of March). In the meantime, you can try the nightlies and let us know if you run into any issues:

pip install --pre torch torchvision  -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html

[2021-02-17 06:31] jspisak commented on #4826
cc @malfet

[2021-02-17 06:31] madhavajay opened #5179 "Document Garbage Collection"
## Description
Figure out a notation and document all the obvious garbage collection scenarios / edge cases between both DO and DS in Notion:
https://www.notion.so/openmined/2021-02-04-0-5-Garbage-Collection-b81689395c9c48f6a35d62575fb716ac

## Definition of Done
After a lot of these have been defined lets have a discussion about them and see if we can confidently agree that we have covered the im

[2021-02-17 06:33] madhavajay opened #5180 "Define SyMPC Needs from SyftTensor class"
## Description
Determine what will be needed for SyMPC to utilise SyftTensor and document it so we can create issues:
https://www.notion.so/openmined/2021-02-04-0-5-Custom-Tensors-98750988235342f682da94d82dab41c6

## Contacts
- @gmuraru
- @ koenvanderveen

## Definition of Done
A clear pathway to converting SyMPC to use SyftTensor is established and issues are created.

[2021-02-17 06:57] madhavajay opened #5181 "Setup GitHub CI Runner on AWS"
## Description
To allow us to do special integration tests or GPU tests we need some custom runners on AWS.
In addition it might be possible to speed up some of our normal tests using these runners.

## Definition of Done
The first example CI runner and token is setup and running in GitHub CI.
Then we can discuss special integration tests and GPU tests.

[2021-02-17 06:58] madhavajay opened #5182 "Speed Up CI"
## Description
Disable blocking Mac tests for the simpler `pr_tests.yml` checks.
Fix issue with OOM and `torch` tests so there can be less shards.

## Definition of Done
CI should be much faster, perhaps down to 30 minutes for the `torch` tests and less than 10 minutes if possible for the normal PR tests.

[2021-02-17 07:02] madhavajay opened #5183 "Investigate Removing torch dependency in Syft"
## Description
The goal is to find all places where `torch` is imported in Syft and refactor them to use SyftTensor so that we can leave `torch` to only the classes where we need to use the low level operations.

## Definition of Done
PR with as much refactored as possible to remove these imports.
In addition we need to think about what the external interface looks like for users.
Detail what migh

[2021-02-17 13:01] cereallarceny commented on #5146
Roger that. In order to avoid us having to sweep every file in our codebase, do you have a readymade list of the offending files? We'd be happy to patch them with the appropriate inline documentation at the top of each file. 😄

[2021-02-18 00:28] madhavajay commented on #4022
@AbhishekPokala any chance you can test out the nightlies and see if they install on your hardware?
https://github.com/OpenMined/PySyft/issues/4826

[2021-02-18 00:28] madhavajay commented on #4826
@@AbhishekPokala Can you try this out?

[2021-02-18 07:36] madhavajay commented on #3820
@pepper-jk We have some examples here for Opacus and PyDP: https://github.com/OpenMined/PySyft/tree/dev/examples/differential-privacy

Things are in flux a little bit but we have some big stuff coming and better examples specifically for DP.
I will close this issue for now as DP is being actively worked on and when we have more to share we will announce and update the docs and examples. Thanks for

[2021-02-18 07:36] #3820 closed

[2021-02-18 07:39] madhavajay commented on #4022
I will close this for now since we support `torch==1.4.0` so the main thing preventing Arm usage is finding an up to date Python wheel of PyTorch which is a little out of our scope. We have a separate issue to track testing on Arm64 CI and once Apple's M1s are readily available on CI we can add more Arm tests.

[2021-02-18 07:39] #4022 closed

[2021-02-18 07:41] #4181 closed

[2021-02-18 07:41] #4182 closed

[2021-02-18 07:41] #4187 closed

[2021-02-18 07:41] #4238 closed

[2021-02-18 07:41] #4239 closed

[2021-02-18 07:41] #4273 closed

[2021-02-18 07:41] #4274 closed

[2021-02-18 07:41] #4312 closed

[2021-02-18 07:41] #4333 closed

[2021-02-18 07:41] #4334 closed

[2021-02-18 07:41] #4347 closed

[2021-02-18 07:41] #4348 closed

[2021-02-18 07:41] #4363 closed

[2021-02-18 07:41] #4379 closed

[2021-02-18 07:41] #4382 closed

[2021-02-18 07:41] #4383 closed

[2021-02-18 07:41] #4386 closed

[2021-02-18 07:41] #4387 closed

[2021-02-18 07:41] #4412 closed

[2021-02-18 07:41] #4417 closed

[2021-02-18 07:41] #4419 closed

[2021-02-18 07:41] #4423 closed

[2021-02-18 07:41] #4424 closed

[2021-02-18 07:41] #4425 closed

[2021-02-18 07:41] #4426 closed

[2021-02-18 07:41] #4432 closed

[2021-02-18 07:41] #4454 closed

[2021-02-18 07:41] #4459 closed

[2021-02-18 07:45] #4906 closed

[2021-02-18 07:47] madhavajay opened #5184 "Finish Torch API"
## Description
Finish Torch API
See `allowlist.py`

### SECTION - The capital Tensor constructors
- [ ] allowlist["torch.__version__"] = "syft.lib.python.String"
- [ ] allowlist["torch.Tensor.retain_graph"] = "syft.lib.python.Bool"

### SECTION - Tensor methods with specific issues or require a special test combination
- [ ] allowlist["torch.layout"] = "torch.layout"  # requires protobuf serializa

[2021-02-18 07:48] madhavajay commented on #3698
Most of this is completed, other libraries will be approached once we are ready to plan more third party support.

[2021-02-18 07:48] #3698 closed

[2021-02-18 07:49] madhavajay commented on #4029
@theAkhileshRai is this issue still open?

[2021-02-18 07:49] madhavajay commented on #4036
@gmuraru is this issue still valid?

[2021-02-18 07:49] #4158 closed

[2021-02-18 07:50] #4527 closed

[2021-02-18 07:51] #4540 closed

[2021-02-18 07:54] madhavajay commented on #4630
@LaRiffle some of these orgs have been added recently. Do you know where we can get a final definitive list of orgs so they can added in one go?

[2021-02-18 08:01] #4716 closed

[2021-02-18 08:02] madhavajay commented on #4690
This is superseded by the upcoming PyGrid end-to-end test.

[2021-02-18 08:02] #4690 closed

[2021-02-18 08:03] madhavajay commented on #4688
This will be handled when we build the client side registry to track pointers.

[2021-02-18 08:03] #4688 closed

[2021-02-18 08:04] madhavajay commented on #4685
Tuples are completed.

[2021-02-18 08:04] #4685 closed

[2021-02-18 08:07] madhavajay commented on #4733
This is done.

[2021-02-18 08:07] #4733 closed

[2021-02-18 08:08] madhavajay commented on #4734
This should be handled by the client registry.

[2021-02-18 08:09] madhavajay commented on #4819
@NavyaSreeY is this still an active issue?

[2021-02-18 08:18] madhavajay commented on #4756
https://github.com/OpenMined/PySyft/pull/5104

[2021-02-18 08:19] madhavajay commented on #4737
Needs rethink with Handlers in general.

[2021-02-18 08:20] madhavajay commented on #4735
Last check worked, so we can close this until the GPU CI tests.

[2021-02-18 08:20] #4735 closed

[2021-02-18 08:22] madhavajay commented on #4825
This is done.

[2021-02-18 08:22] #4825 closed

[2021-02-18 08:23] #4841 closed

[2021-02-18 08:24] madhavajay commented on #4846
This is doneskis. ❤️

[2021-02-18 08:24] #4846 closed

[2021-02-18 08:26] madhavajay commented on #4920
We have decided to offer a separate pathway without `setattr` so this can be closed.

[2021-02-18 08:26] #4920 closed

[2021-02-18 08:26] madhavajay commented on #4922
We have issues with the lack of threads in the SCONE python.

[2021-02-18 08:28] madhavajay commented on #4921
This is mentioned in the API Refactor doc in notion.

[2021-02-18 08:31] madhavajay commented on #4856
This is blocked by the possible refactor to remove SyPrimitive: https://github.com/OpenMined/PySyft/issues/5171

[2021-02-18 08:40] madhavajay commented on #4875
`sy.KerasHook` is only added if `tf_encrypted` is installed.
[code]

[2021-02-18 08:40] #4875 closed

[2021-02-18 08:49] madhavajay opened #5185 "Add torch==1.7.1"
## Description
We can add torch==1.7.1 we just need to fix up CI.

## Definition of Done
Add 1.7.1 to CI and update README.md.

This would close: https://github.com/OpenMined/PySyft/issues/4936

[2021-02-18 08:50] #4983 closed

[2021-02-18 08:50] #4927 closed

[2021-02-18 08:53] madhavajay commented on #4915
This needs to be `jupyter-client>=6.0` I believe.

[2021-02-18 08:54] madhavajay commented on #4903
I believe this is related to the scenario in which the request is made:
https://github.com/OpenMined/PySyft/issues/5170

This does need to be fixed.

[2021-02-18 08:55] madhavajay commented on #4898
I believe this is done?

[2021-02-18 08:55] #4898 closed

[2021-02-18 08:56] madhavajay commented on #4892
See: https://github.com/OpenMined/PySyft/pull/5104

[2021-02-18 08:56] #4892 closed

[2021-02-18 08:57] madhavajay commented on #4888
@tudorcebere was this finished in the API Refactor?

[2021-02-18 08:59] madhavajay commented on #4986
@sbasu26 Did you get a chance to run my commands or get this working?

[2021-02-18 09:00] #4998 closed

[2021-02-18 09:01] madhavajay commented on #5003
@prajotsl123  An end-to-end example with PyGrid and Workers is coming soon, stay tuned.

[2021-02-18 09:04] madhavajay opened #5186 "Add all of torchvision to AST"
## Description
Finish adding all of torchvision to AST with tests and version checks.

## Definition of Done
Just like `torch` this would contain the entire torchvision API and support different versions.

[2021-02-18 09:04] madhavajay commented on #5009
Closing this for now. https://github.com/OpenMined/PySyft/issues/5186

[2021-02-18 09:04] #5009 closed

[2021-02-18 09:05] madhavajay commented on #5010
@harikrishnankh what python version are you using? Python 3.9 is not supported by syft==0.2.9 or any version of syft currently.

[2021-02-18 09:06] madhavajay commented on #5016
Also try installing tf_encrypted:
[code]
https://github.com/OpenMined/PySyft/issues/4875

[2021-02-18 09:06] #5016 closed

[2021-02-18 09:07] madhavajay commented on #5019
I am closing this since A) the statement is incorrect and B) the mypy checks have been fixed and upgraded in another PR.

[2021-02-18 09:07] #5019 closed

[2021-02-18 09:08] madhavajay commented on #5022
It turns out WebRTC is using encryption with `DTLS` so we can close this for now.

[2021-02-18 09:08] #5022 closed

[2021-02-18 09:09] madhavajay commented on #5184
https://github.com/OpenMined/PySyft/issues/5034

[2021-02-18 09:09] madhavajay commented on #5034
We have a main ticket for that now: https://github.com/OpenMined/PySyft/issues/5184

[2021-02-18 09:10] madhavajay commented on #5035
We also need the top level to work properly.

[2021-02-18 12:41] Param-29 commented on #5019
I also noticed a similar issue. For both versions, `0.800` and `0.782`, I am getting the following error
Command:
`pre-commit run --all-files`
Output
[code]

python3 version: `3.7.9`
PR that I am working on: #5131

Note: CI uses python `3.8.7`
https://github.com/OpenMined/PySyft/pull/5157/checks?check_run_id=1911426541#step:7:83

**[WIP]: Updating python to `3.8.7`to check if python version is an

[2021-02-18 13:31] gmuraru commented on #4036
It can be closed - we would deal with it in SyMPC when the time would come

[2021-02-18 13:31] #4036 closed

[2021-02-18 23:52] madhavajay commented on #5019
@Param-29 that is strange. I have installed Python 3.7.9 on macOS and I don't see that issue on your branch. If this is related to that specific version of Python and / or Ubuntu 20 we might see it when Ubuntu 20 is the default in GitHub CI. Until then perhaps continue with a different version or try to fix the issue that Mypy complains about and see if it passes in CI as well.

[2021-02-18 23:56] madhavajay commented on #5041
@Benardi how does this look with the new https://github.com/OpenMined/PySyft/pull/5104 changes.

[2021-02-18 23:58] madhavajay commented on #5043
I think we should be able to fix this with a client side registry which tracks duplicates and introduce the unique shared network `var_name`.

[2021-02-19 00:02] #5052 closed

[2021-02-19 00:06] madhavajay commented on #5062
Can we get a Numeric type which is used in most cases for Collections seeing as there should be a lot of instances where that will be the case.

[2021-02-19 00:06] #5068 closed

[2021-02-19 00:09] madhavajay commented on #5073
@bcebere The typecheck is gone and we have an idea about building a client side cache, do you think that would help improve this scenario?

[2021-02-19 00:11] #5078 closed

[2021-02-19 00:14] madhavajay commented on #5080
@bcebere We also need something similar for Opacus so we can remotely attach the PrivacyEngine to the model. The way the SyModule currently works is its a thin veneer over the submodule layers. Perhaps we can simply create a real torch module on either side inside the SyModule to help attach all of the layers to thus providing a very real normal model to get a pointer to. The main issue is that `s

[2021-02-19 03:53] bcebere commented on #5073
Yes, that helps.

Still, the big impact comes from the signing logic.
So,
 1. Do we need to sign the already encrypted data too?
 2. If yes, do we need to re-serialize the deserialized object for that? if storable object can keep a hash for the signing logic directly, that could speed-up things.

[2021-02-19 05:08] #5054 closed

[2021-02-19 05:16] madhavajay opened #5189 "Fix event loop closed in Windows Tests"
## Description
When our GitHub CI Windows tests run they end successfully but with an exception about the event loop closing at the end: https://github.com/OpenMined/PySyft/actions/runs/580372926

<img width="831" alt="Screen Shot 2021-02-19 at 3 14 26 pm" src="https://user-images.githubusercontent.com/2882739/108460911-59769700-72c5-11eb-88af-b60522acd00f.png">

## Definition of Done
Figure out w

[2021-02-19 05:46] madhavajay opened #5190 "Fix Flapping MacOS bug"
## Description
It seems like the `duet_test.py` sometimes fails on MacOS possibly from a deadlock.
https://github.com/OpenMined/PySyft/runs/1932779167?check_suite_focus=true

## How to Reproduce
Currently I am only seeing this in CI.

## Expected Behavior
Not hanging.

## System Information
https://github.com/OpenMined/PySyft/runs/1932779167?check_suite_focus=true

[2021-02-19 05:51] Param-29 commented on #5019
@madhavajay As of now, I am continuing with a different version but would definitely like to explore the problem.
Please run the following commands so that we could investigate if it is an OS issue (ubuntu) or a python version issue
[code]

This does give me the issue I mentioned above.

[2021-02-19 07:01] madhavajay opened #5191 "Filter cpython tests from darglint"
## Description
We have a number of tests from CPython which we probably don't want to have to add docstrings to.
darglint needs to be configured to ignore these files.

Check for `https://github.com/python/cpython/` in the comments at the top.

[2021-02-19 07:08] madhavajay commented on #5181
https://www.lotharschulz.info/2019/12/09/github-action-self-hosted-runners-on-aws-incl-spot-instances/
https://docs.github.com/en/actions/hosting-your-own-runners

[2021-02-19 07:11] madhavajay commented on #5181
https://github.com/actions/runner/issues/845

[2021-02-19 07:18] madhavajay commented on #5136
@public hahahah lol... welcome. Syft is a very cool library.

[2021-02-19 07:24] madhavajay commented on #5146
@stefanv Can this PSF license statement just be added to the top of any file that was copied and modified from the CPython repo tests?

[2021-02-19 17:40] stefanv commented on #5146
@madhavajay Yes, that should be fine if you have add a sentence along the line of "Unless otherwise specified in a file header, all code is licensed: ..." to your LICENSE file.

You can see why that is a bit annoying, because the reader then has to scan the whole code base for such exceptions.  The alternative is what I proposed above, that you add a section to the license file. What you suggest i

[2021-02-20 00:34] ariannmichael commented on #5149
Correct me if I'm wrong, but with this PR from @animesh-007, it's just necessary to update the CI

[2021-02-20 00:36] ariannmichael commented on #5173
I would like to take this issue

[2021-02-20 03:28] madhavajay commented on #5148
Updated to use `flake8` as per this PR: https://github.com/OpenMined/PySyft/pull/5195

[2021-02-20 10:25] xutongye commented on #5172
`.serialize` is a private API? Library users should not call it?

[2021-02-21 10:51] avinash463 opened #5200 "pandas inclusion"
## Question
Does it support pandas 1.2.2

## System Information
 - OS: MS Windows
 - OS Version: windows 10
 - Language Version: Python 3.7, Node 10.18.1
 - Package Manager Version: Conda 4.6.1, NPM 6.14.1

[2021-02-21 10:54] avinash463 opened #5201 "Add Support for NLTK 3.5"
## Description
Add NLTK 3.5 for Tokenizer which enables to implement Visual Question Answering

Are you interested in working on this improvement yourself?
- Yes, I am.

[2021-02-21 23:31] madhavajay commented on #5200
@avinash463 Theres an active PR and we are working on it: https://github.com/OpenMined/PySyft/pull/5152

Contributions are always welcome. 😊

[2021-02-21 23:31] madhavajay commented on #5201
@avinash463 We are working on some tooling which will make this much quicker and easier but if you wish to start I would look at the existing library support inside the `dev` branch to help understand how it works.

[2021-02-22 05:21] madhavajay opened #5204 "Support Split NNs"
## Description
This ticket relates to implementing of Split NNs.

## Definition of Done
Split NN example works.

## Contacts
- @madhavajay
- @H4LL

## TODO
- [x] Initial Duet Notebooks
- [x] Fix Issues with Tags / Intermediate Data

[2021-02-22 05:30] #4756 closed

[2021-02-22 05:31] H4LL commented on #5204
[I've got something here which works: ](https://github.com/H4LL/PySyft/blob/0.4/examples/duet/vertical_learning/advanced/MNIST/DS.ipynb)

It took an hour++ to run though

[2021-02-22 06:34] madhavajay commented on #4901
@uid42 are you able to create a PR against the `dev` branch then we can discuss the issues and how to help get it fixed? 😊

[2021-02-22 06:39] madhavajay commented on #4999
I will close this for now since the cause is a bad build of `torch` and not our library. If this comes back we can re-investigate.

[2021-02-22 06:39] #4999 closed

[2021-02-22 06:41] madhavajay commented on #5041
Since we have completely overhauled the `StorableObject` code im going to assume this isn't an issue anymore.
There

[2021-02-22 06:41] #5041 closed

[2021-02-22 06:45] madhavajay commented on #5145
This was done in this PR: https://github.com/OpenMined/PySyft/pull/5065

[2021-02-22 06:45] #5145 closed

[2021-02-22 07:18] madhavajay commented on #5076
Update here: https://github.com/OpenMined/PySyft/pull/5205

[2021-02-22 08:11] dnabanita7 commented on #4505
Hello @gmuraru I am a newbie to openmined and would love to make my hands dirty with this project. Can you please make me the assignee? Thanks!:)

[2021-02-22 11:24] gmuraru commented on #4505
Hello! For the moment this issue is not available since it is targeting a previous version (0.2.x). Thank you for pointing this out!

[2021-02-22 11:24] #4505 closed

[2021-02-22 13:58] marcalph commented on #5185
I'd ike to try this one out

[2021-02-23 04:49] madhavajay commented on #5073
@bcebere Totally open to suggestions for improvement. I assume we will need to hash it at least once, and surely at the time of signing to make sure it isn't changed? We could use something else to hash the message, perhaps an interface allowing a custom hash implementation on any given message and a fallback to the hash of the bytes after serialization?

[2021-02-23 04:54] madhavajay commented on #5150
@socd06 You could report a bug with Kali saying their packages are vulnerable. Who's watching the watchers? 😂

[2021-02-23 05:51] #4796 closed

[2021-02-23 05:51] #4798 closed

[2021-02-23 07:01] madhavajay opened #5208 "Handler Serde"
## Description
The `duet.requests.handler` return value is broken currently due to serialization errors.

[code]

## How to Reproduce
Run: `duet.requests.handler`

## Expected Behavior
No error

## Additional Context
We will be refactoring this anyway.

[2021-02-23 07:31] #5172 closed

[2021-02-23 09:16] shashankc28 opened #5210 "ObjectNotFoundError"
[code]

the above code runs a few cycles and then gives the below error :

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/syft/generic/object_storage.py in get_obj(self, obj_id)
     73         try:
---> 74             obj = self._objects[obj_id]
     75

[2021-02-23 10:02] #5076 closed

[2021-02-24 22:56] gmuraru opened #5214 "ListPointer acess single element"
## Description
Created a remote List and trid to get an object from it, but I gt the following error:
[code]

## How to Reproduce
1. Create Remote List with elements
2. Try to get only one element

## Expected Behavior
I could get the object at that specific index.

[2021-02-24 23:25] #5214 closed

[2021-02-24 23:40] madhavajay opened #5215 "Basic Pandas Support"
## Description
Add Pandas and Statsmodels support for CDC Diabetes Mortality notebooks.

Notebooks are here:
https://github.com/OpenMined/PySyft/tree/dev/examples/data-science/pandas

TODO:
- [x] Create integration tests from notebooks
- [x] Investigate alternative serde method than dicts.
       http://arrow.apache.org/docs/python/feather.html
       http://matthewrocklin.com/blog/work/2015/03/16

[2021-02-24 23:40] madhavajay commented on #5215
Related: https://github.com/OpenMined/PySyft/pull/5152

[2021-02-25 08:08] #5146 closed

[2021-02-25 08:08] #4915 closed

[2021-02-25 08:09] madhavajay commented on #5146
@stefanv Does that change match your description?

[2021-02-25 08:10] stefanv commented on #5146
:+1: Perfect, thanks!

[2021-02-25 10:51] gmuraru commented on #5180
For the moment there is an issue when we want to call a method that is "native" to the ```torch.tensor``` and the custom tensor is remote.

Currently, I am trying to come with a fix for this using metaclasses (the hard part might be to catch the differences between properties and methods).

[2021-02-25 14:35] nooralahzadeh opened #5217 "Remote Data Loading"
I wonder if the following claim is true : from https://www.inovex.de/blog/federated-learning-frameworks-part-2/

`In pysyft, the data used for training can not be loaded from the remote worker itself but must be sliced and distributed by the central curator. This is, of course, contrary to the paradigm of Federated Learning, which consists of never centralizing data to preserve privacy. `

[2021-02-25 15:59] svenvanderburg opened #5218 "Communication log"
## Question
How do I get a log of communication between workers?

## Further Information
I want to get a sense of the amount of communication between workers, eventually I want to be able to benchmark the balance between communication and compute for a few algorithms implemented in pysyft. How do I get a log of communication between workers (or between the executor (i.e. 'me') and the workers)?

#

[2021-02-26 07:53] svenvanderburg commented on #5218
Searching through the code it seems that the `msg_history` only contains received messages. Setting `verbose=True` helps in getting a clearer image. I am still puzzled though how this corresponds to actual communication between workers. See this example:
[code]
Which prints:
[code]
After receiving the ObjectRequestMessage Alice must have sent the tensor back to the central orchestrator (me), but I

[2021-02-26 09:33] marcalph commented on #5185
Hi,

`torch==1.7.1` does look good thanks  to `autofix_allow_list_test.py` but I have a couple more questions (sorry):
- If I got this right, in the autofix process "skip rules" are added to `allowlist_test.json`,  is this file maintained manually? do I need to refine some of these rules e.g.:

[code]
- Other markers in the test suite are almost fine :
   * marker `fast` runs OK
   * for the `libs

[2021-02-26 11:19] koenvanderveen opened #5224 "Basic API for building plans"
## Description
Currently we can only build plans by explicitly defining a collection of actions and inputs. However, we need a more convenient way to do this. A possible solution is to create a bunch of pointers and trace the actions that are executed on them in a subclass of `Node`. We need a mechanism that allows us to define a function or method and automatically:

1) create a TraceNode
2) gath

[2021-03-01 06:32] Koukyosyumei commented on #4901
@madhavajay @uid42
Since there has been no activity for a while, I created a new PR based on @uid42. I solved the problem of getting a remote model, the issue of sending listpointer has not been solved yet, though it works well in 0.4.

[2021-03-01 09:45] uid42 commented on #5208
want to work on this

[2021-03-01 10:20] theAkhileshRai commented on #4029
closed

[2021-03-01 10:20] #4029 closed

[2021-03-01 11:30] madhavajay commented on #4901
@Koukyosyumei Awesome work! I see your PR and i'll take a look shortly. 😊

[2021-03-01 11:37] madhavajay commented on #5185
@marcalph good questions.

Regarding the `allowlist_test.json` file, it used to be handled manually but now the script `autofix_allow_list_test.py` automatically updates it. That is why you will see a rule like:
[code]

For the tests if you check the `pr_tests.yml` file you can see how they run. The `libs` tests installs the packages inside `requirements/supported_libs.txt`. For the failing `test_

[2021-03-01 14:22] Param-29 commented on #5186
I'd like to work on the issue, I am still not sure about the testing methodology.

[2021-03-02 01:29] madhavajay opened #5231 "Syft Share and Get API for SyMPC"
## Description
Add a `.share` / `.get` API to Syft to interact with the SyMPC `Session` / `.reconstruct`.

## Definition of Done
SyMPC can be used within Syft transparently (if installed) by using `.share` `.get` like the old `0.2.x` notebooks:

https://github.com/OpenMined/PySyft/blob/raais/examples/tutorials/Part%209%20-%20Intro%20to%20Encrypted%20Programs.ipynb

[2021-03-02 04:05] #5149 closed

[2021-03-02 05:36] madhavajay commented on #4992
Fixed here: https://github.com/OpenMined/PySyft/pull/5220

[2021-03-02 05:36] #4992 closed

[2021-03-02 05:36] madhavajay commented on #5182
Fixed by several PRs including this: https://github.com/OpenMined/PySyft/pull/5220

[2021-03-02 05:36] #5182 closed

[2021-03-02 06:14] dnabanita7 opened #5234 "conftest.py file is erroneous"
## Description
I use ``pipenv shell`` for all the PySyft work. I was testing my ``slice`` branch from ``dev`` branch and ran ``pytest -m fast`` and got an exception.

## How to Reproduce
1. Go to PySyft repo
2. Type in ``pytest -m fast`` or ``pytest -m slow`` or ``pytest -m all`` or ``pytest -m vendor``
3. See error

## Expected Behavior
Run all the tests

## System Information
 - OS: Ubuntu 20.04

[2021-03-02 06:33] madhavajay commented on #5234
@dnabanita7 we use those commands in CI, so it's possible this is related to your current branch.
Are you in a particular branch you can share to test this?
Do you have a circular import or other issue in your branch?

[2021-03-02 07:58] letmerecall opened #5235 "Fix organization logos for GitHub dark mode"
## Where?
Where are you looking to add/improve the documentation? Which file? Which feature?

`README.md`

## Who?
Who is your audience for this documentation issue?

Anyone who is using GitHub's dark mode and reading `PySyft` documentation.

## What?
Describe what you would like this documentation to accomplish.

The logos of organizations under the "Organizational Contributions" section of READM

[2021-03-02 08:21] marcalph commented on #5185
@madhavajay Thank you so much for your input!

I've updated the matrices now, so apart from duet things look fine.
As for the failing duet test, I am on linux so I'll keep looking. it looks weird to me an exception is raised because an uuid seems empty post, so I'm guessing it comes from serde ?
I'm new to protobuf so I am slow

[2021-03-02 09:58] #5127 closed

[2021-03-02 09:58] #5128 closed

[2021-03-02 09:58] #5129 closed

[2021-03-02 10:02] #5040 closed

[2021-03-02 10:17] madhavajay opened #5237 "Test First Batch of 0.4 Notebooks and Create Release"
## Description
The first batch of notebooks should be confirmed to work and a release made so they can be pinned.

## Definition of Done
Notebooks work against a released version and signed off by course content creators.

[2021-03-02 11:29] tushar-semwal commented on #5231
Waiting for this feature. Thanks!

[2021-03-02 13:32] dnabanita7 commented on #5234
My bad! it works fine now.
What is a circular import?

[2021-03-02 13:32] #5234 closed

[2021-03-02 17:40] koenvanderveen opened #5239 "Unexpected `Pointer.grad` behaviour"
## Description
Unexpected `TensorPointer.grad` behaviour

## How to Reproduce
[code]
returns
[code]

## Expected Behavior
Return a pointer to the grad tensor

[2021-03-03 03:25] ghost opened #5241 "how create a VirtualWorker in 0.3.0"
when i used syft@0.2.x  i can use VirtualWorker , but when how can i do it when i use the 0.3.0

[2021-03-03 03:40] madhavajay opened #5242 "Fix Pointer Searchable @setter"
## Description
The Pointer.searchable = bool setter is not working.

## Definition of Done
Its fixed and there is a test for it.

[2021-03-03 03:43] madhavajay opened #5243 "Figure out correct default permissions on DO remote construction"
## Description
When creating an object remotely it's not clear what the permissions should be.

## Definition of Done
This is confirmed and a test is created.

[2021-03-03 04:11] madhavajay opened #5244 "Improve Integration Tests"
## Description
Improve the integration tests with `scripts/nb_duet_test.py`:

- [ ] Prevent left over tests from being picked up by normal pytest
- [ ] Show progress as cells get run
- [ ] Remove code that references `tenseal` in the templates
- [ ] Create a test loader which can be supplied a chunk int and split tests into chunks for CI

## Definition of Done
Above changes are made and tests are

[2021-03-04 02:47] madhavajay opened #5247 "Manual Benchmark of duet MNIST and Lightning MNIST on GPUs"
## Description
Run both our normal MNIST and the Lightning MNIST on CPU, and GPU and compare.
For CPU you can just run 1 epoch to avoid waiting forever and we can time the epoch and compare.

## Definition of Done
Confirm GPU works for these demos and post the results here so we can analyse and discuss any needed improvements.

[2021-03-04 03:19] madhavajay opened #5248 "Create a PR on PyTorch to solve the missing torch._return_types in the module tree"
## Description
We should create a PR on the PyTorch repo to provide wrappers to the hidden `torch.return_type.*` types which are returned from many operations as classes that are similar to NamedTuples.

That will allow us to work around the work around in `solve_real_type_functions`:
[code]

And in `return_types.py`:
[code]

## Definition of Done
We can remove the work around in our code.

[2021-03-04 06:28] xutongye opened #5249 "Improvements torch.return_types.xx"
## Description
Here is a PR #5236 aims at refactoring torch.return_types. This PR made some improvements but still some issues left:
-  There is no such module `torch.return_types`, we can't really `import torch.return_types`. To walkaround this, I monkey patched torch, `torch.__dict__["return_types"] = module_type(name="return_types")`. Look at `return_types.py`, and `solve_real_type_functions` i

[2021-03-04 07:28] #4945 closed

[2021-03-04 13:08] #5208 closed

[2021-03-04 16:46] JTunis commented on #5181
I'm excited for [LambCI](https://github.com/lambci/serverless-actions) to be released. Not a solution right now, but good to keep an eye on!

[2021-03-04 22:12] Shaedul commented on #4820
@dnabanita7 Did you solve it?

[2021-03-05 01:09] madhavajay opened #5254 "SyMPC Multi-Party Share Process"
## Description
Figure out the UX and Permission systems in Syft to handle multi party permissions in SyMPC.

## Definition of Done
Plan has been figured out on how to implement this.

[2021-03-05 03:27] madhavajay opened #5258 "Torch 1.8"
## Description
Add support for Torch 1.8 and Python 3.9 in CI

Python 3.9 only has torch 1.7.1 and torch 1.8.0

## Definition of Done
Both versions are tested in our CI.

[2021-03-05 10:10] LaRiffle commented on #5164
@madhavajay I have re-prioritized this as we need simple np.array forwarding over the network for SyMPC (for the moment I just convert np array to th tensors, but it will have an impact on performance)

[2021-03-05 13:24] Param-29 commented on #5258
@madhavajay We will also have to make changes in the allowlist(for torch) because as torch removed support for a lot of things (in Torch 1.8)
Example:
`torch.fft`

[2021-03-07 08:47] tudorcebere commented on #5171
A few notes on this @madhavajay :
* removal of `Int`, `Float` and other primitives that are non-iterable is possible 100%, there is no actual need of them if we don't need an `id` set on them.
* removal of `List`, `Dict` and other primitives that are iterable is possible, but we won't be able to use templating/actually type them. Here a metaclass would be really handy (the testing should remain th

[2021-03-08 02:15] yourotea12 opened #5267 "how to extract outputs from each workers?"
It is about method question..
Lets say I have 3 workers, and made federated dataset. I try to extract output values from each workers. How can I do that? output values means the ones that are propagated through the network I designed for each worker to run the Neural network.

[2021-03-08 13:31] thodosss opened #5271 "TypeError: send() got an unexpected keyword argument 'tags'"
Ηello and greetings from greece
I am trying to execute the following example but i cant run this line of code
`data_pointer = data.send(duet, tags=["dataset"], description="simple binary dataset", pointable=True)`
because send does not have those attributes

 [the link of the example](https://colab.research.google.com/github/OpenMined/PySyft/blob/dev/examples/vertical-learning/basic_splitnn/DS_loc

[2021-03-08 15:47] BambooPalace commented on #4917
This still does not work, when i try to run https://blog.openmined.org/pysyft-opacus-federated-learning-with-differential-privacy/
How were they able to run both together at that time? i tried pysyft 0.2.8 + opacus 0.9.x also can not.

[2021-03-08 15:49] BambooPalace commented on #4917
This still does not work, when i try to run https://blog.openmined.org/pysyft-opacus-federated-learning-with-differential-privacy/
How were they able to run both together at that time? i tried pysyft 0.2.8 + opacus 0.9.x also can not.
Any ideas on what versions of both library can work together?
@madhavajay

[2021-03-08 15:52] BambooPalace commented on #4631
hi @aanurraj, i have same issue with wlnancy. Have u tried to run the code in this blog? Any ideas on what versions are able to run together? Thanks.

[2021-03-08 15:58] BambooPalace commented on #3820
hi @LaRiffle , i tried to run the code in this blog just recently with pysyft 0.2.9, but there is an error with parameter has no `grad_sample` attribute.
I have seen similiar issues asked but unsolved #4917  , so could u please share were there versions of Opacus and Pysyft that can run together at the time of the blog?

[2021-03-08 18:15] bigmoumou commented on #4917
Same issue here. Any tutorial for 0.2.x or 0.3.x to work with privacy engine in Opacus is really helpful. I have been waiting for 2 months so far.

[2021-03-08 19:52] ibarrond commented on #3715
Is this implementation still a thing? I see all issues in the milestone marked as "stale".

[2021-03-09 02:06] madhavajay opened #5273 "Rename load_lib to load"
## Description
- [x] Rename `sy.load_lib` to `sy.load`.
Leave old method but pass through to new method and add DeprecationWarning like here:
https://github.com/OpenMined/PySyft/blob/fb4f99028338d4e59fb702f1f6ec60f1e16bc660/src/syft/ast/klass.py#L322

- [x] Add test to `api/deprecated_test.py`
- [x] Look into auto loading libraries using a post import hook:
https://stackoverflow.com/questions/4062

[2021-03-09 03:26] madhavajay commented on #4765
See: https://github.com/OpenMined/PySyft/pull/5270

[2021-03-09 06:05] cherrytora commented on #4917
I have the same problem. I tried pysyft 0.2.8 + opacus 0.9.x and  pysyft 0.2.9 + opacus 0.9.x , but it still doesn't work.

[2021-03-09 08:43] avinsit123 commented on #5273
Hi @madhavajay can I work on this?

[2021-03-09 11:23] #5231 closed

[2021-03-09 11:24] gmuraru commented on #5273
@avinsit123 could you also open a PR in [SyMPC](https://github.com/OpenMined/SyMPC/blob/main/src/sympc/__init__.py#L23) for changing the name?

[2021-03-09 12:34] avinsit123 commented on #5273
Sure @gmuraru I will do that after completing the PR here if thats fine!!

[2021-03-09 13:59] LaRiffle opened #5276 "Add "protocol" to the SyMPC Session serialization"
Add the ```protocol``` attribute to the session (this is a string).

This would be used to know what functionality should be used when applying a specific operations.

[2021-03-09 16:57] cgoxo commented on #5276
I would like to work on this issue

[2021-03-09 17:40] gmuraru commented on #5276
Great :D

[2021-03-09 23:22] jmaunon opened #5279 "Improve inline documentation"
## Context
`docs_team` is trying to push some good practices about documentation (inline docstring, tutorials, examples and Readmes)

one of the tasks already carried out is to audit the code, see this  [spreadsheet](https://docs.google.com/spreadsheets/d/1ExD1EQIQtLx03a_h7lBPlvasVsmb38S02Bfw5a7Q62Y/edit#gid=1159978476). This audit has raised some docstring that is missing.

## Goal
The goal of th

[2021-03-09 23:27] jmaunon opened #5280 "Audit tutorials"
## Context
`docs_team` is trying to push some good practices about documentation (inline docstring, tutorials, examples and Readmes)

one of the tasks that is not done is to check tutorials in order to know what of them work without problem and what of them need to be updated.

## Output
The output of this issue is just the list of current tutorials and the status:
* Bad/Red means that does not wo

[2021-03-10 05:35] #5170 closed

[2021-03-10 06:29] madhavajay opened #5281 "Create a Syft Dataloader"
## Description
We need a way to wrap large datasets in an efficient way.
This may require side stepping the normal serde process and sending to the store and instead either lazily fetch data as needed from another source.

We need to find out what our reasonable limits are currently for loading into the store and then setup a benchmark and improve them directly or via this Dataloader.

## Definiti

[2021-03-10 06:33] madhavajay opened #5282 "Make nn.Module serializable"
## Feature Description
We need to be able to serialize and send `torch.nn.Module`. Once this in place we should look to refactor sy.Module to transfer its weights via this top level module and allow that module to be referenceable.

We can then evaluate what the next step is with sy.Module and whether we should refactor it or make it serializable itself.

Importantly requests to download a remotel

[2021-03-10 06:37] madhavajay opened #5283 "Create Integration Test with Plans and PyGrid"
## Description
The Plans example should be made to run over PyGrid to ensure that there are no issues.
As soon as the `nn.Module` serialization function is in place we should improve this to a really simple FL example.

## Definition of Done
Test runs Plans example over PyGrid.

[2021-03-10 06:50] madhavajay opened #5284 "Create Opacus DP Plans Integration Test"
## Description
Create a notebook which uses plans and Opacus and then turn it into a test.
This will need to be iterated on to build Plans so that it can cover the use case we are aiming for.

## Definition of Done
Opacus runs on a simple model in Plans and we can discuss the next steps.

[2021-03-10 06:51] #5103 closed

[2021-03-10 06:53] madhavajay commented on #5171
@tudorcebere Okay I totally agree, since its working lets hold this off till after `0.5` but we should definitely revisit this as I believe at a minimum we can refactor a lot of this common code away and then remove it later if possible.

[2021-03-10 06:57] madhavajay opened #5285 "Fix Plans usage of sy.Module"
## Description
Plans currently uses a work around due to the sy.Module not having a top level module.
We should fix this either with the `.real_module` work around or making the `nn.Module` serializable first and refactoring with that.

## Definition of Done
Plans can access the real module properly without the current work around.

[2021-03-10 08:05] tudorcebere commented on #4903
This has been solved by #5275.

[2021-03-10 08:05] #4903 closed

[2021-03-10 08:06] tudorcebere commented on #5273
Hello @avinsit123 !

Open a PR and lets talk directly on that. :100:

[2021-03-10 08:15] #5015 closed

[2021-03-10 09:00] felixfaisal commented on #5280
Hey @jmaunon , So I wanted to know the tutorials in the readme folder, takes me to the examples using Duet, Do we have to try that out or find all existing tutorials on the web and do this.

[2021-03-10 09:23] bug-debug-done commented on #5279
I am new to open source can please assign this to me.

[2021-03-10 17:38] w601sxs commented on #4820
Same issue with Torch 1.7, syft 0.3.0 and 0.2.9

Does someone have a notebook that works end to end? Also do I need to use Duet as shown [here](https://github.com/OpenMined/PySyft/blob/dev/examples/secure-multi-party-computation/Duet/1-DS-1-DO/POC-MPCTensor-Duet-Party1-DS.ipynb). What I really want to do is run [this tutorial](https://blog.openmined.org/encrypted-training-on-mnist/) but it uses th

[2021-03-10 19:22] animesh-007 commented on #5280
I would like to contribute to this issue.

[2021-03-10 22:14] gmuraru opened #5291 "Opacus latest version"
## Description
Add the latest version for ```opacus``` in the ```requirements/supported_libs.txt```
For the moment we need support for ```torch 1.8``` to be able to have ```opacus``` installed.

## Are you interested in working on this improvement yourself?
- Yes, I am.

[2021-03-11 00:29] madhavajay commented on #4765
Addressed here: https://github.com/OpenMined/PySyft/pull/5270

[2021-03-11 00:29] #4765 closed

[2021-03-11 07:01] madhavajay opened #5292 "Make Plans Serialization Deterministic"
## Description
When tracing plans some of the metadata of things like Node, Address, Pointer UID are included meaning that each time a Plan is created of the same code the output is different.

It would be good to have a single representation of a Plan no matter when it is created.
We can probably replace all of the Pointers with special PlanPointer types which are the bare minimum needed to stitc

[2021-03-11 08:19] karynaur commented on #5235
Hey! I would like to fix this one.
A small clarification: Do the images have to be from the organization's/OpenMined's website or can it be from other sources as well? I could not find an image with a white background from the official website/GitHub.

[2021-03-11 10:55] RaghavPrabhakar66 commented on #5235
Created a pr(#5293) to solve the issue.

[2021-03-11 13:49] NProkoptsev commented on #4961
@madhavajay I don't think that this issue is relevant
Let me provide a more clear example
`type(upcast(downcast([1,2,3]))[0])` gives `syft.lib.python.Int` while it should be just `int`
I got the idea that `upcast` should be inverse of `downcast`

Here is the example with pytorch optimizer, that can use the list param_groups as an argument

This code runs successfully
[code]

This one returns error

[2021-03-11 19:44] dnabanita7 commented on #5284
I am interested in writing the notebook. Let's discuss how to start, what to include.

[2021-03-11 19:56] dnabanita7 commented on #5279
I am starting with ``/ast/klass``

[2021-03-11 20:26] znreza opened #5294 "Dataloader for sending large dataset to duet server"
## Feature Description
I am using a dataset of 20K images. But I am having hard time to upload the data to the duet server using .send(), because it's a big data, my notebook crashes each time I try. I think a feature for serializing the data would be great.

## Is your feature request related to a problem?
Here is the link to the dataset I am trying to send. The folder has both the original image

[2021-03-12 00:14] IrinaMBejan commented on #5280
Hey @felixfaisal and @animesh-007! To clarify a bit, we have been auditing the source code so far in this spreadsheet: https://docs.google.com/spreadsheets/d/1ExD1EQIQtLx03a_h7lBPlvasVsmb38S02Bfw5a7Q62Y/edit#gid=1159978476

The plan is to go through each tutorial/example/readme file in the PySyft/Pygrid repo and assign each a status (as explained above), together with some short explanation in the

[2021-03-12 04:06] madhavajay opened #5295 "Add new torch 1.8.0 ops"
## Description
A clear and concise description of what you want to improve.

Add all these new Ops from `torch==1.8.0` and add tests for them in the allowlist tests.

- [ ] torch.are_deterministic_algorithms_enabled
- [ ] torch.broadcast_shapes
- [ ] torch.broadcast_to
- [ ] torch.column_stack
- [ ] torch.copysign
- [ ] torch.diff
- [ ] torch.float_power
- [ ] torch.fmax
- [ ] torch.fmin
- [ ] tor

[2021-03-12 05:41] #5235 closed

[2021-03-12 06:50] madhavajay commented on #4917
@bigmoumou and @cherrytora
The current example is here:
https://github.com/OpenMined/PySyft/tree/dev/examples/differential-privacy/opacus

Its still a work in progress but you can remotely train MNIST with opacus.

[2021-03-12 06:58] madhavajay commented on #5241
`sy.VirtualMachine` but they are not identical.

[2021-03-12 07:03] madhavajay commented on #5164
@LaRiffle I believe that the in memory reference is actually the same so there should be minimal performance impact. https://stackoverflow.com/questions/61526297/pytorch-memory-model-how-does-torch-from-numpy-work

Our plan was to use `torch` to serde `numpy` until such time as we decided if supporting it directly was necessary and to decouple it. For now this would be great, so I totally approve!

[2021-03-12 07:08] madhavajay commented on #5181
@JTunis that looks perfect, any idea on ETA, or if we can get into a private beta?

[2021-03-12 07:10] madhavajay commented on #5185
Hi @marcalph thanks for the help, its all merged including your commits: https://github.com/OpenMined/PySyft/pull/5268/commits

[2021-03-12 07:10] #5185 closed

[2021-03-12 07:11] madhavajay commented on #5271
The API is under flux and all the working examples in CI are off `dev`. Its possible you are using `0.3.0` from PyPI. Try installing the `dev` branch directly and play with the examples which are in the examples folder as most of them are tested with CI against the `dev` directly.

[2021-03-12 07:11] #5271 closed

[2021-03-12 07:21] LaRiffle commented on #5164
Hmmm interesting indeed! In my memory serialisation was marginally slower with torch than numpy (independently of the conversion), but this can addressed in time :)

[2021-03-12 07:23] madhavajay commented on #5164
@LaRiffle yes we should keep an eye on it and benchmark to see if theres something going on we can improve.

[2021-03-12 14:54] jmaunon commented on #5280
Thanks @felixfaisal  and @animesh-007 for your collaboration. Please, update the spreadsheet with your feedback. To keep trace, if you want you can open a dummy PR referencing this issue, or please, address here your updates (or even via slack).

[2021-03-12 14:57] jmaunon commented on #5279
@IrinaMBejan and @bug-debug-done  , please, open a new PR making reference to this issue. In this way is easier to keep trace and more people can help

[2021-03-13 06:14] felixfaisal commented on #5280
@jmaunon Awesome, I'll create a dummy PR, Also mentioning which parts I worked on.

[2021-03-14 17:10] prodigy803 commented on #5189
Hi, I wanted to get started on this problem but I have no idea about CI/CD. Is it okay if I am assigned this and I take some time to figure out the problem?

[2021-03-15 06:04] madhavajay commented on #5189
Hi @prodigy803 go for it. As far as CI, I think if you just check the logs:

<img width="832" alt="Screen Shot 2021-03-15 at 4 04 28 pm" src="https://user-images.githubusercontent.com/2882739/111110369-2368c200-85a8-11eb-8982-cc6880e9656a.png">
[code]

So it looks like you should be able to just replicate the error on Windows and try to get it to not happen.

[2021-03-16 02:19] madhavajay opened #5304 "Change get_root_data_path to use HOME dir"
## Description
We probably need to change `get_root_data_path` in utils to use some kind of HOME dir thats cross platform.
The `Path` class in `pathlib` library includes a `Path.home` so hopefully that works on all 3 platforms.

The goal is that when Syft Examples are used that their datasets are downloaded to a common shared location.
This could be something like `~/.syft/data` or something simil

[2021-03-16 03:30] Param-29 commented on #4850
I'd like to work on this issue.

[2021-03-16 04:36] madhavajay opened #5306 "Add CI Badges to the main README.md"
## Description
The badges in our readme arent live, we should update them so that they point to the real GitHub Action CI for our PR Tests and Merge Tests.

We can call pr tests the `syft` tests and merge tests can be our `torch` tests.

Bonus points for figuring out some cool custom badge stuff:
https://github.com/marketplace/actions/dynamic-badges
https://github.com/Naereen/badges

possible inte

[2021-03-16 04:56] madhavajay opened #5308 "Move Send Tensor script into a benchmarking tools folder"
## Description
Currently we have some scripts like this: https://github.com/OpenMined/PySyft/blob/dev/examples/duet/mnist/send_tensor.py

They should be moved from `examples` and into a `benchmarking` folder inside scripts.

## Definition of Done
This file is moved from the examples folder somewhere else.

[2021-03-16 09:23] tudorcebere commented on #5085
Closing this for now, python should be dropped from the networking stack.

[2021-03-16 09:23] #5085 closed

[2021-03-16 09:36] karynaur commented on #5308
hey @madhavajay !! Made a PR #5309 that should solve the issue. Please let me know if anything has to be done. Ill look into it asap.

[2021-03-16 11:41] ArtistBanda commented on #5304
So instead of creating a directory as `../pysft/data` use a universal directory `~/.syft/data` or `~/.pysyft/data`.
I am new to this repository and a GSOC aspirant. I will create a PR to resolve this issue.

[2021-03-16 12:47] abhi1nandy2 commented on #3773
Could you please  help with colab? It shows an error `AttributeError: type object 'Tensor' has no attribute 'fft'`

[2021-03-16 12:52] abhi1nandy2 opened #5311 "Installation in Colab"
## Description
import  shows error

## How to Reproduce
1. Open a colab notebook
2.
[code]
## Expected Behavior
No error

## Screenshots
![image](https://user-images.githubusercontent.com/19462637/111311632-73b55200-8684-11eb-8a30-219e54960c9e.png)
![image](https://user-images.githubusercontent.com/19462637/111311692-8465c800-8684-11eb-971c-b1e6bbcd5c0b.png)

## System Information
 - Environment -

[2021-03-16 16:53] gmuraru commented on #5311
@abhi1nandy2 could you try to install ```torch == 1.7.1``` after installing syft.
The issue might be because ```torch1.8``` is out and syft was not released (YET!) with torch1.8 support.

[2021-03-16 17:00] r0cketr1kky commented on #5311
@gmuraru I tried this out the other day but to no avail. You still get the same error!

[2021-03-16 22:01] iamtrask commented on #5070
Looks like this is still on 0.2.x. Have you tried on the latest version?

[2021-03-16 22:10] iamtrask commented on #5311
The latest version of PySyft is not compatible with some of the ways Colab is locked down - pip install locally and we'll address colab integration in a later version.

[2021-03-16 22:43] madhavajay commented on #5311
We can install in Colab, but there are issues running in Colab after the connection is established which relates to networking between Colab and another system which we are investigating.

To install in colab do this:
[code]

You can see more about whats going on in the script `scripts/colab.sh`.

Additionally if you are reading this ticket because you are trying to use Syft for the Privacy Course

[2021-03-17 03:32] Koukyosyumei commented on #5215
I'm interested in this issue. How is the current situation?

[2021-03-17 04:52] madhavajay opened #5315 "Check and Fix notebook / jupyter client warning on Colab"
## Description
This needs to be checked on Colab, since it seems colab has its own outdated versions of notebook and jupyter-client as well.
https://github.com/OpenMined/PySyft/issues/4915

## Definition of Done
Fix for Colab if possible.

[2021-03-17 16:15] densechen opened #5316 "The JupyterNotebook in example/duet should be updated!"
It is out to correctly run!

[2021-03-17 19:06] rishkum opened #5318 "How to make peer to peer connection without AWS?"
# Making peer to peer connection without AWS

I am trying to deploy my pysyft based analytics to my colleague's computer. I have been able to run the examples on localhost using syft-server. My network is restricted so it would not go through the AWS channel which I assume the standard duet example uses. Is there a way to use grid.webRTC class to make this possible?

Would i need to buy a signalin

[2021-03-18 01:35] #5304 closed

[2021-03-18 02:37] madhavajay opened #5319 "Make notebook integration tests parallel"
## Description
Currently the notebook integration tests are run sequentially with:
[code]

Each test loads up two processes to run the code from the notebooks and connects via a PORT. The PORT has been randomized and the Checkpoint files are isolated in a sub directory but for some reason these tests still clash when run in parallel.

This needs to be investigated and the tests should be runnable

[2021-03-18 07:11] ArtistBanda commented on #5315
`import syft as fy` shows this exception
[code]

and running `pip install --upgrade notebook` shows this error

[code]

alongside this warning
[code]

although the exception goes away after restarting runtime as the notebook is updated.

So, what exactly is the definition of the fix?

[2021-03-18 08:42] divinit7 commented on #5148
@madhavajay I am trying to fix warnings in `src/syft/core/store`
but I'm getting `7     DAR202 Excess "Returns" in Docstring: + return`
`2     DAR402 Excess exception(s) in Raises section: +r ValueError`
in `src/syft/core/store/store_interface.py`. Should they be ignored with `#noqa`?

[2021-03-18 09:51] nooralahzadeh commented on #3058
Hi @sgaseretto I have the same issue here, did you find any solution? thansk

[2021-03-18 10:50] Param-29 commented on #4820
As mentioned above we no longer need to Hook libraries like torch, so for versions 0.3+, I believe you could remove the line and the code would work fine.

You can also see examples present in the repo ([example](https://github.com/OpenMined/PySyft/blob/dev/examples/secure-multi-party-computation/Duet/1-DS-1-DO/POC-MPCTensor-Duet-Party1-DS.ipynb))

**Notice you no longer need to hook torch**

Hope

[2021-03-18 11:37] ArtistBanda commented on #5294
@znreza can you share the code to reproduce?

[2021-03-19 04:21] madhavajay opened #5322 "Allow Classes to opt out of data attributes in the AST"
## Description
Allow Classes to opt out of data attributes in the AST.
This is required for libraries like Pandas where data attributes like `tags` and `description` would change the underlying dict.

## Definition of Done
`klass.py` is refactored to remove the work around:
[code]

[2021-03-19 04:24] madhavajay opened #5323 "Add support for self referential Unions"
## Description
Pandas requires the ability to have Unions of its own type however these don't exist on the AST during create so they need to be added again after as a kind of post update.
[code]

## Definition of Done
`pandas/__init__.py` supports the above self referential unions and a test for `loc` and both return types is added to prove it works.

[2021-03-19 04:55] madhavajay opened #5324 "Add PIL.Image.Image for torchvision"
## Description
Add `PIL.Image.Image` return type support for `torchvision`.

## Definition of Done
`torchvision/allowlist.py` can enable `to_pil_image` and `to_grayscale`.

[2021-03-19 04:57] madhavajay opened #5325 "Refactor out test data from torchvision allowlist"
## Description
Refactor out all the test data in the `torchvision/allowlist.py` into another file, either in the tests or `.json`.

## Definition of Done
Remove: `"test_parameters": "(tens, angle = 10)",` from `torchvision/allowlist.py`.
Double check min_version requirements, since PIL inputs are not prohibitive in binding to the AST.

[2021-03-19 05:11] #5167 closed

[2021-03-19 06:53] madhavajay opened #5327 "Add updated CPython integration tests for 3.9"
## Description
We need to update our CPython integration tests to also support python 3.9.

## Definition of Done
The following files are updated to include changes for Python 3.9: https://github.com/python/cpython/tree/3.9/Lib/test
[code]

[2021-03-19 07:20] madhavajay commented on #5294
Initial PR is here: https://github.com/OpenMined/PySyft/pull/5314

[2021-03-19 07:25] madhavajay commented on #5148
@divinit7 yeah this is a little weird, since `def traceback_and_raise(e: Any, verbose: bool = False) -> NoReturn:` technically never returns because it always raises. I think ignore is fine if its complaining that the abstract methods dont have an explicit return.

[2021-03-19 07:27] madhavajay commented on #5315
@ArtistBanda well, there was a bug with notebook 5.x where it wouldnt work, but I think its unrelated to colab, so in this instance we could allow the `Exception: Your Jupyter Notebook is too old` check to pass if the code is running in colab for now, which is detected by doing this:
[code]

[2021-03-19 07:38] madhavajay opened #5328 "Fail Fast on Preferred latest versions in CI"
## Description
We should test the latest versions of everything in CI first and fail first, that way we will spin up less checks initially and the tests which fail will be related specifically to version compatibility regression issues which is less common.

## Definition of Done
`python-tests-fast` runs the latest versions first or is split into another test which runs first.
This would be python

[2021-03-19 07:40] madhavajay commented on #5318
@rishkum the `syft-server` should work you just need to make sure that you are connecting on the right IP and port from the other machine.

Since its set to `0.0.0.0` it should bind on all interfaces. If you can't connect it could be a firewall issue.

[code]

[2021-03-19 07:43] madhavajay commented on #5316
@densechen can you be more specific?

[2021-03-19 07:56] densechen commented on #5316
Some functions have been removed, such as utils.get_data_path().

[2021-03-19 16:11] meijiu commented on #5036
What is the 'subclass init bug' being referenced in the TODO? ie.

        # this is how we catch the modules being set during subclass init
        # bug where torch.nn.modules isn't the full name on some imports

Based on what I'm understanding so far, __set_attr__ checks whether the attribute being set is a torch.nn module. If it is, it adds it to its dict of modules and also adds it to the dic

[2021-03-19 17:32] Param-29 commented on #5186
PR merged (#5250) Issue can be closed 👍

[2021-03-19 18:24] ArtistBanda commented on #5315
@madhavajay I have created a PR to fix it

[2021-03-21 03:49] ArtistBanda commented on #5327
Will work on the required changes.
The above like is broken, working link for Lib tests: https://github.com/python/cpython/tree/3.9/Lib/test

[2021-03-21 12:47] yashmaurya01 opened #5334 "ImportError: cannot import name 'get_root_data_path'"
## Description
ImportError when executing `from syft.util import get_root_data_path`

## How to Reproduce
1. Go to 'PySyft/examples/duet/dcgan/DCGAN_Syft_Data_Owner.ipynb'
2. Execute second cell.
4. See **ImportError: cannot import name 'get_root_data_path'**

## Screenshots
![Screenshot from 2021-03-21 18-09-30](https://user-images.githubusercontent.com/59893283/111905455-b48cdc80-8a71-11eb-8631-

[2021-03-22 02:11] madhavajay commented on #5334
Hi @yashmaurya01 since many of the notebooks, including this one in particular are run in our integration tests in CI, your error probably means you don't have the right version of Syft installed.

Until the next release it's advised to install directly from the `dev` branch.
[code]

[2021-03-22 02:27] madhavajay opened #5335 "Make VerifyAll / VERIFYALL a singleton"
## Description
To avoid the never ending changes to VerifyAll vs VerifyAll() / VERIFYALL we should make VerifyAll a singleton or some other solution which means comparisons are always correct.

## Definition of Done
VerifyAll is changed so that we no longer have to deal with `is VerifyAll` vs `isinstance(x, VerifyAll)`.

[2021-03-22 06:16] madhavajay commented on #5316
@densechen I think you have the wrong version installed.
See this issue: https://github.com/OpenMined/PySyft/issues/5334

[2021-03-22 06:16] #5316 closed

[2021-03-22 06:26] madhavajay commented on #5036
@meijiu That seems like the case mostly, except it would be good if we don't rely on a simple `"torch.nn" in ` check, and possibly also make sure were not missing something from the original source code:
[code]

[2021-03-22 06:27] #5186 closed

[2021-03-22 07:42] madhavajay commented on #4806
This is currently still an issue for fqn string -> Class or Pointer without reference to the `obj`

[2021-03-22 07:47] madhavajay opened #5338 "Allow Object Attributes in AST"
## Description
Allow for object attributes to be allowed in the allowlist AST.
The issue being that they do not exist at Class analysis time, and we would want the bound function to have the context of the target data item.

One method could be to provide a flag that these are dynamic and not bind the method but attach generated function to the Pointer so that on the retrieval side we can attempt

[2021-03-22 08:04] avinsit123 commented on #5322
@madhavajay I would like to work on this issue. Could you elaborate a little more on what `attach_tags()` is doing here. Does this mean that in case of pandas DataFrame or Series we need to ignore value of tags and description and store it as None?

[2021-03-22 11:42] madhavajay commented on #5082
See: https://github.com/OpenMined/PySyft/pull/5228

[2021-03-22 11:48] #5315 closed

[2021-03-22 13:45] tcp opened #5692 "[PyGrid-0.4.0] Cannot set role or group when creating a new user"
## Description
I cannot set the role or associate the new user to groups when posting to `/users`.

I always get the following error:

[code]

This also happens if I don't send a `role` in the request payload.

## How to reproduce

Try this out with the following payloads:

[code]

To paste in cURL: `{"email": "test@openmined.org", "password": "xxxxx", "groups": [1]}`

[code]

`{"email": "test@ope

[2021-03-23 02:39] xutongye opened #5341 "DictPointer.items() can't be iterated"
## Description
I got error when trying to iterate on `DictPointer.items()`, (while I can iterate on `ListPointer`).
## How to Reproduce
[code]

## Expected Behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version: [e.g. P

[2021-03-23 03:19] madhavajay commented on #5341
@tudorcebere Did we end up supporting Dicts in the `Iterator`? Seems like you can get `.len()` on the `dptr` but not on the `itemsptr` interestingly.

[2021-03-23 05:14] madhavajay commented on #5215
@Koukyosyumei I have updated the ticket with some of the remaining tasks and pushed the CDC Dataset to the web and updated the notebooks to download them automatically.

The ultimate goal is getting the notebooks fully functioning.
The things which might be a little trickier are:
- `df.attr`
- `iloc`
- alternative serde method for Pandas DF using say `hdf5` or `msgpack`

[2021-03-23 05:59] madhavajay opened #5344 "Add ability to load multiple libs in one call"
## Description
`sy.load()` should accept any valid sequence of strings, variadic args, a list, tuple or set of strings like:
[code]

## Definition of Done
Loading multiple libs in one go is possible with tests to show it works.