[2018-08-03 17:55] OzzyKampha commented on #1442
[Here is the colab](https://colab.research.google.com/drive/1K9N74jjsWVwOzlXe97m2_57UrEwA-mOq)

[2018-08-03 17:58] OzzyKampha commented on #1442
It is a work around by using nn.RNNCell instead of the nn.RNN

[2018-08-05 16:48] alhparsa opened #1451 "[Pointers are Tensors] Custom made tensors' attributes disappear after conversion"
# Issue Template
## Context
### User Story:
Custom made tensors are now easier than ever to make with [pointers are tensors](https://github.com/OpenMined/PySyft/pull/1394). In `_PlusIsMinusTensor` everything works since, we're only overriding the existing methods (in this case torch.add) but if a tensor requires a custom made method if we want to add an attribute to it, they disappear during the c

[2018-08-06 16:51] projectoblio commented on #229
Can I see the code for this tensor?

[2018-08-07 05:18] alexandregranzerguay commented on #1412
Are we still missing some docstrings?

[2018-08-07 08:13] OzzyKampha commented on #1442
No problem at all :D

[2018-08-14 12:09] srijang97 opened #1452 "Tensor object located at VirtualWorker giving dimension error on being passed throughs DNN"
I am trying to use Federated Learning with DNNs.
1) Split the data and sent it to Alice and Bob (2 virtual workers)
2) Made a loop which selects datasets for each worker and sends the model to them.
3) On passing the datasets to the model(), I receive a
RuntimeError: dimension specified as 0, but tensor has no dimensions

This error occurs in the forward function of my DNN, where I am trying to cr

[2018-08-16 08:04] srijang97 commented on #1442
Hi guys. I have been receiving the same error. My error occurs when the remote tensor is passed through the Embeddings variable. Is it because PySyft does not support embeddings as of now?

[2018-08-27 15:43] iamtrask commented on #1452
My suspicion is that it's the casting that might be broken... I'm not sure I've tried doing .long() before.

[2018-08-28 12:51] robert-wagner opened #1456 "Type annotations for pysyft"
# Issue Template

## Context
### User Story:
As a Developer of PySyft <br>
I would like to know what the type of various parameters are when looking at the code. Since python now has a typing module, we should add type annotations to track the type of various parameters to ease development

## Expected Behavior

Every method has correct type annotations and running mypy on the repository passes

#

[2018-08-30 10:52] jeamick commented on #1412
@kamathhrishi  Any Update ?

I can check  with you if you want too ;)

[2018-08-31 09:01] abdulrahmanmazhar opened #1463 "Minimizing the project's Docker-Image size"
## Context
### User Story:
As a Data Scientist using PySyft's... <br>
I want to be able to build/push and pull the project's Docker-Image quickly so it's recommended if it has the minimal size possible.

## Expected Behavior

Image size: Will be less than 769.4MB by far hopefully.

## Current Behavior

Image size: is equal to 769.4MB

[2018-08-31 09:03] abdulrahmanmazhar commented on #1463
Hello, So is this something helpful so maybe I can start working on as my first contribution? 😊

[2018-08-31 11:46] abdulrahmanmazhar commented on #1456
Hello, I guess I can start working on this if it's not assigned to anyone already 😊

[2018-09-01 01:02] setsometso opened #1465 "Question: Where is the federated learning Code?"
....here should be a example code of federated learning, but i cant find it. Why did you guys delete it?
Where can i find it?

[2018-09-01 12:54] iamtrask commented on #1465
We only moved it because now we have several different examples :)

A Toy Example (the one you saw before)
https://github.com/OpenMined/PySyft/blob/master/examples/toy/Federated_Learning_Example.ipynb

A Bigger Example
https://github.com/OpenMined/PySyft/blob/master/examples/SocketWorker%20Boston%20Housing%20Client.ipynb

[2018-09-01 12:54] #1465 closed

[2018-09-01 12:55] iamtrask commented on #1463
This would be a fantastic contribution! Thank you so much!

[2018-09-01 12:55] iamtrask commented on #1456
This is also a great first project - although I suspect it will take the collective action of several! Feel free to submit Pull Requests as you make progress (doesn't have to solve the whole issue in one go)

[2018-09-01 12:56] iamtrask commented on #1452
Perhaps this example will be helpful to you

https://github.com/OpenMined/PySyft/blob/master/examples/SocketWorker%20Boston%20Housing%20Client.ipynb

[2018-09-01 12:58] iamtrask commented on #1451
The current behavior seems to be the same as the expected behavior. Perhaps another description?

[2018-09-01 12:58] #1448 closed

[2018-09-01 12:58] #1447 closed

[2018-09-01 13:07] abdulrahmanmazhar commented on #1463
Thank you so much it's really my pleasure to be able to contribute, So will be pushing my PR soon to be reviewed 😊.

[2018-09-01 22:31] abdulrahmanmazhar commented on #1456
Sure, That would be fun to be working with 😊

[2018-09-06 16:14] iamtrask commented on #1463
Well done!

[2018-09-06 16:14] #1463 closed

[2018-09-06 17:34] g0lemXIV commented on #1412
If it's still open I will try to tackle this issue. First, I will try to create docstring for   ``` _hook_module ```.

[2018-09-13 13:44] LaRiffle opened #1478 "Remote and local memory management"
## Context
### User Story:
1. When running a Fed Learning demo, you're are forced to set `local_worker.is_client_worker = False` otherwise you don't register any objects in `local_worker._objects` and at a point of the demo this raises a key error. Doing this, you store tons of useless tensors that fill the memory without purpose. We should investigate why the training requires to have objects sto

[2018-09-13 13:47] LaRiffle opened #1479 "Performance analysis of PySyft"
# Context
 We're x100 slower than PyTorch, where do we loose time?
Some brutal profiling may help 💪
Example on Boston Housing (25s instead of 0.25s) : https://colab.research.google.com/drive/17upxCYJmJ6Zoxv0KjiJ1ZbchlJybsfhs

[2018-09-13 19:11] jvmancuso commented on #1479
I completed a small analysis regarding iterated add operations [here](https://github.com/jvmancuso/PySyft/tree/speedtest/examples/experimental/grid_benchmark) to get a sense of how things have changed since we started the original hooking project on Grid.  Not sure how useful of a comparison this is, but I figure it's worth getting a conversation started 😄

[2018-09-14 15:37] LaRiffle opened #1480 "[mpc_tensor] Handle nested args in `split_to_pointer_commands`"
## Context
### User Story:
`GeneralizedPointerTensors` forward the command they receive by creating a special command for each of their pointers, using `split_to_pointer_commands`
However, we only handle very simple arguments so far.

## Expected Behavior

Should support args = [(gpt1, gpt2), 2, {'e': gpt3}]

[2018-09-14 16:49] LaRiffle opened #1481 "[mpc_tensor] Investigate field size further"
### Context
Stuck at field size 2**31, no bigger

[2018-09-19 17:56] iamtrask opened #1501 "MPC Addition With Arbitrarily Large Numbers of Parties"
In this issue, I will be extending our current MPCTensor implementation to support sharing to an arbitrarily large number of parties. A limited number of operations will also work in this configuration including.

- __add__
- sum()
- __getitem__
-... other default Torch functionality that currently gets inherited

Things that won't work (but will be addressed by a later issue).
- __mul__
- mm
- pr

[2018-09-19 18:01] iamtrask opened #1502 "MPC Based Secure Aggregation for Federated Learning"
This issue depends on https://github.com/OpenMined/PySyft/issues/1501 being completed.

This issue requires creating a demo using MPC for the secure aggregation of gradients. Multiple different workers should create a weight update (in the usual Federated Learning fashion) but instead of sending the gradients directly to the model owner, they should use MPC to securely aggregate their gradients wh

[2018-09-19 18:04] iamtrask opened #1503 "Numpy Remote Execution Bug"
In the process of creating the Numpy Federated Learning Demo (https://github.com/OpenMined/PySyft/blob/master/examples/numpy/Federated%20Learning.ipynb), I discovered that np.dot(a,b) doesn't work for remote numpy arrays while a.dot(b) does. Similarly, I also discovered that a.T does not work with remote tensors but a.transpose() does. Closing this Issue is about getting these functions to work.

[2018-09-19 18:06] robert-wagner opened #1504 "Sigmoid for spdz"
we need sigmoid to play nicely with mpc tensors. As such we should adapt the current sigmoid code to use gpt

[2018-09-19 18:08] robert-wagner opened #1505 "Logging tensor"
We want a tensor which rather than doing any operations simply writes the operation to a file

[2018-09-19 18:09] iamtrask commented on #1442
Hmmm - honestly not sure yet. We don't support GPU yet though so that could be the problem. Are you running on the CPU or GPU?

[2018-09-19 18:12] iamtrask opened #1506 "Create a Polynomial Tensor"
Create an abstraction such that any other tensor can leverage polynomial approximations of various non-linear functions by either extending this tensor (or by putting it in the chain hierarchy) or both. This initial functionality should include approximations for sigmoid, tanh, relu, exp, and log.

[2018-09-19 18:20] robert-wagner opened #1507 "MonkeySeeMonkeyDoTensor"
As a follow up to the logging tensor in issue #1505 , we want to instead of doing the logging, send the command to a syft js intance

[2018-09-19 18:26] iamtrask opened #1508 "Rename MPCTensor -> SPDZTesnor"
Change all code references to MPCTensor (including notebooks, demos, and documentation) to SPDZTensor

[2018-09-19 18:28] iamtrask opened #1509 "Implement a new SecureNN Tensor"
In this issue, we seek to have a new PyTorch multi-party computation tensor leveraging the protocol from [SecureNN](https://eprint.iacr.org/2018/442.pdf). The goal of this project is to give fast support for comparisons which we can use to bootstrap higher level functionality (such as ReLU). The new tensor should extend all functionality which already exists in MPCTensor (which is hopefully rename

[2018-09-19 18:48] iamtrask opened #1510 "Fixed Precision Tensor"
We want the ability to wrap any LongTensor or IntTensor object with a Fixed Precision (decimal point) interpretation. For this, we want to implement a new FixedPrecision tensor type which allows for arbitrary precision.

[2018-09-19 18:56] iamtrask commented on #1456
Hey @abdulrahmanmazhar - how it's going?

[2018-09-19 18:59] iamtrask opened #1511 "Bugfix in Matrix Multiplication for MPC"
import random
import syft as sy
from syft.core import utils
from syft.core.frameworks.torch import utils as torch_utils
from syft.core.frameworks import encode

from syft.core.frameworks.torch.tensor import _GeneralizedPointerTensor
from syft.mpc import spdz
from syft.core.frameworks.torch.tensor import _MPCTensor
import torch
import torch.nn.functional as F
from torch.autograd import Variable as

[2018-09-19 19:04] abdulrahmanmazhar commented on #1456
@iamtrask Hello, Indeed I'm sorry to say that I didn't get much of a progress since I was having some assignments for 2 interviews, But I was considering using "pyannotate" and some manual typing so hopefully I will get some progress and will push it up as a PR very soon, Really sorry about the delay :smile:

[2018-09-19 19:06] iamtrask commented on #1511
oh wait... i'm an idiot...

i should have put down xptr.mm(yptr)

[2018-09-19 19:08] LaRiffle commented on #1511
Ahahah

[2018-09-19 19:08] iamtrask commented on #1511
There was a small bug to fix but now it's done - although i noticed that x and y are getting inline modified to become GeneralizedPointerTensors when they probably shouldn't be.

[2018-09-19 19:09] #1511 closed

[2018-09-19 19:14] LaRiffle commented on #1511
Hum yes you're right this should be avoided!

[2018-09-19 19:33] iamtrask commented on #1456
Feel free to do incremental Pull Requests :) - like... even if you only add type in one or two places in one file... just go ahead and PR it.

[2018-09-19 19:36] iamtrask commented on #1507
I'm very excited about this Issue

[2018-09-19 19:37] iamtrask opened #1513 "Add Subtraction, Negation, and Power function to MPCTensor"
In this project, I'll be adding several basic operators to MPCTensor.

[2018-09-19 19:38] llealgt commented on #1508
i'll take this one as my first project,but any guidance for starters welcome since it's my starting point.

[2018-09-19 19:39] iantimmis commented on #1503
Ill take it 👍

[2018-09-19 19:41] iamtrask commented on #1513
got sub working

    def __sub__(self, other):
        gp_response = spdz.spdz_add(self.shares, spdz.spdz_neg(other.shares))
        response = _MPCTensor(gp_response).wrap(True)
        return response

[2018-09-19 19:42] LaRiffle commented on #1513
Maybe the question of negative values is related as well:
trt this:
[code]

[2018-09-19 19:44] iamtrask commented on #1513
I might skip pow since torch.LongTensor doesn't seem to have it either.

[2018-09-19 19:58] LaRiffle commented on #1501
I updated share() already

[2018-09-19 20:02] iamtrask commented on #1513
Hit a speedbump - this seems to fail

x = torch.LongTensor([[1, 2], [-3, -4]])

x = x.share(bob, alice)

z = -x
assert (z.get() == torch.LongTensor([[-1, -2], [3, 4]])).all()

[2018-09-19 20:03] iamtrask commented on #1513
z.get() returns

 2.1475e+09  2.1475e+09
 3.0000e+00  4.0000e+00
[syft.core.frameworks.torch.tensor.LongTensor of size 2x2]

[2018-09-19 20:08] iamtrask commented on #1513
Curiously these work fine

x = torch.LongTensor([[1, 2], [3, 4]])

x = x.share(bob, alice)

z = -x
# assert (z.get() == torch.LongTensor([[-1, -2], [3, 4]])).all()

z.get()

AND

x = torch.LongTensor([[-1, -2], [-3, -4]])

x = x.share(bob, alice)

z = -x
# assert (z.get() == torch.LongTensor([[-1, -2], [3, 4]])).all()

z.get()

[2018-09-19 20:15] iamtrask commented on #1513
@robert-wagner had some good things to say in Slack

yo - there seems to be an issue with the negation logic in spdz.py

https://github.com/OpenMined/PySyft/issues/1513

bobby [9:08 PM]
Are you decoding the value before checking what it is or just summing the result
Because if you're summing the result it will definitely be wrong for negative numbers

trask [9:10 PM]
i have no idea
lo
def __neg__(

[2018-09-19 20:18] iamtrask commented on #1508
Excellent! Just make sure you find all the references and run python setup.py test at the end (all the tests should pass)

[2018-09-19 20:20] iamtrask commented on #1510
I'm picking this up now - I'm going to focus on something that can wrap any torch tensor (aka, LongTensor or IntTensor) with FixedPrecision features.

[2018-09-19 20:23] iamtrask opened #1516 "Speed up Crypto Provider in MPCTensor"
In MPC tensor, random number tensors are sent over the wire by the crypto provider. Instead of doing this, the crypto provider should send just a seed to at least one of these individuals to speed up the transfer. That way, at least one of the receiving parties can just generate the (deterministically) random tensor using just the seed.

https://twitter.com/mortendahlcs/status/1042495148024840194

[2018-09-19 23:53] stephenjfox commented on #1505
I'd love to give this one a shot. I've been silently keeping up with the community since its inception and I think I can do this.

@all okay with this?

[2018-09-19 23:55] robert-wagner commented on #1505
Go for it! If you have any questions I'll be happy to help!

[2018-09-20 01:24] llealgt opened #1520 "fix unit testing for brand new forked repos"
The unit tests are failing after just forking the repo even after 0 modifications to the code, i found the issue following this steps(on MacOS using Anaconda):

1. Fork Repo
2. Clone repo to your computer
3. Create conda environment and install requirements from requirements.txt
4. Fix any dependencies and version issues
5. runt tests: python3 setup.py test

Some of the errors in result:
test_tens

[2018-09-20 04:51] ceballosiker opened #1521 "Add keras demos"
## Context
### User Story:
Add demos to do naive-distributed-sgd and federated averaging with keras using tensorflow backend.

## Expected Behavior

Have two simple keras demos which can be run either locally or within a LAN, showing the usage of both optimizers.

[2018-09-20 04:54] ceballosiker opened #1522 "Federated Learning with Tensorflow Demo"
## Context
### User Story:
Add a TensorFlow demo using PySyft's virtual workers and the custom federated optimizer.

## Expected Behavior

Have a demo showing usage of the custom federated optimizer and the PySyft's workers together.

### Relevant Literature or Examples (for features)
Something similar to [this](https://github.com/coMindOrg/federated-averaging-tutorials/blob/master/advanced_federa

[2018-09-20 08:48] abdulrahmanmazhar commented on #1456
Sure and thank you a lot :)

[2018-09-20 10:08] #1521 closed

[2018-09-20 10:12] iamtrask commented on #1520
Hi @llealgt! What version of python and pytorch are you using?

[2018-09-20 10:43] mukul-rathi commented on #1445
Hey, if no one has claimed this, I'll give it a go!

[2018-09-20 11:10] iamtrask commented on #1513
Merged in some improvements from Bobby - but they aren't finished yet https://github.com/OpenMined/PySyft/pull/1518

Now whenever i call .get() on an MPC tensor I get an error

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-14-f01fae6ab1b3> in <module>()
----> 1 z.get()

/Users/a

[2018-09-20 11:19] iamtrask commented on #1513
Traced the issue to

[code]

the .float() casting seems to be the issue. Changing it to

[code]

gets rid of the error but then negative numbers stop working again.

[code]

[code]

[2018-09-20 11:38] iamtrask commented on #1513
Ok, made some progress by looking back at what it was before (https://github.com/OpenMined/PySyft/blob/trask2/syft/core/frameworks/torch/tensor.py)

[code]

and then just focusing on implementing that TODO there... using some basic masking.

[code]

Seems to be working so far.

[code]

[2018-09-20 11:38] iamtrask commented on #1513
going to try testing it with the other functions now

[2018-09-20 11:39] mortendahl opened #1524 "Introduce CRT tensor for arbitrary sized integers"
Implement a `CrtTensor` for supporting integer tensors with values above int64. Interface should be to `LongTensor` when possible.

[2018-09-20 11:42] iamtrask commented on #1513
No dice yet - doesn't work with matrix multiplication

[code]

[code]

[2018-09-20 11:47] iamtrask commented on #1513
Ok - this piece is kindof annoying - looks like the old version of .get() doesn't work with matrix multiplication anymore either..., something else must have changed

[code]

[code]

[2018-09-20 11:49] iamtrask commented on #1513
Ok... good news is that the implementation on branch trask2 still works for matrix multiplication... so going to compare the two branches (trask and trask2) to figure out where matrix multiplication differs.

[2018-09-20 11:58] iamtrask commented on #1513
Ok, i'm almost completely sure that some other PR has messed up matrix multiplication, so i'm going to check that subtraction and negation work properly and then merge this

[2018-09-20 12:07] iamtrask opened #1526 "Matrix Multiplication Broken"
Some combination of the following PRs broke Matrix Multiplication

https://github.com/OpenMined/PySyft/pull/1519
https://github.com/OpenMined/PySyft/pull/1518
https://github.com/OpenMined/PySyft/pull/1515
https://github.com/OpenMined/PySyft/pull/1514

At present, the branch "trask2" still has working matrix multiplication so i plan to add each of these changes to the branch and see which one broke

[2018-09-20 12:07] #1513 closed

[2018-09-20 12:09] iamtrask commented on #1526
To reproduce on master branch, run

[code]

and you'll see

[code]

[2018-09-20 12:31] iamtrask commented on #1526
Found it!!! Tiny typo in spdz.py.

[code]

should be

[code]

[2018-09-20 12:32] #1526 closed

[2018-09-20 12:41] iamtrask commented on #1520
Interestingly - both of those errors likely mean that the test was run _before_ pytorch was hooked... as .native_set_ is a method we create. That's very strange indeed.

[2018-09-20 12:41] #1501 closed

[2018-09-20 12:42] iamtrask commented on #1502
Issue #1501 has been completed - this issue is ready for someone to pick up. I'm dealing with some broken unit tests but i'll pick it up when i'm done if no-one else has.

[2018-09-20 12:45] iamtrask commented on #1520
Even more strangely - i have unit tests which are failing but when i run them separately they work fine. I think this might involve us not creating our global variables correctly - such that some tests are getting run before the global variables are initialied.

[2018-09-20 13:00] iamtrask commented on #1520
Hey @llealgt - i think i fixed it... try pulling from master and see how it goes

[2018-09-20 13:03] iamtrask commented on #1510
Picking this up again - got a little distracted by some other more pressing Issues

[2018-09-20 16:14] iamtrask commented on #1510
Basic fixed precision tensor works!

[code]
[code]

[code]

[code]

[2018-09-20 16:14] #1510 closed

[2018-09-20 16:50] iamtrask opened #1532 "Add Functionality to FixedPrecisionTensor"
In https://github.com/OpenMined/PySyft/pull/1530 and https://github.com/OpenMined/PySyft/pull/1531, we created a new class called FixedPrecisionTensor which is able to take any pytorch tensor and compute over it using a limited range of precision. For example (https://github.com/OpenMined/PySyft/blob/master/examples/torch/Fixed%20Precision%20Tensor%20Testing.ipynb)

However, only addition has been

[2018-09-20 17:58] iamtrask opened #1534 "Add Scalar Multiplication to MPCTensor"
In this work, we need the ability to multiply a shared MPCTensor with either a single, decrypted scalar or by a entire (identically shaped) tensor of decrypted scalars.

[2018-09-20 18:29] llealgt commented on #1520
Still getting failed tests after  pulling from master ,here's some sample errors:

test_send_and_get_tensor (test.tensor_serde_test.TestTensorPointerSerde) ... FAIL
test_tensor2registered_pointer2tensor (test.tensor_serde_test.TestTensorPointerSerde) ... FAIL
test_tensor2unregsitered_pointer2tensor (test.tensor_serde_test.TestTensorPointerSerde) ... FAIL
setup module
WARNING:root:Torch was already

[2018-09-20 18:36] iamtrask commented on #1520
your pytorch version is too old. You have 0.2.0 but you need 0.3.1

[2018-09-20 20:09] #1534 closed

[2018-09-21 13:13] LaRiffle opened #1539 "Documentation - Beat the Sphinx"
We have Sphinx for building documentation but we have trouble to configurate it.

Main issues are:
- Having a left panel which show all the major module and classes
- Having Sphinx displaying doc for classes and functions starting with "_"

Can you beat the sphinx ?

[2018-09-21 13:31] LaRiffle opened #1540 "FixPrecisionTensor is eager, make it graphic!"
## Context about chains
If you don't know why we keep talking about chains, here is a brief recap [Quick review of PySyft chains](https://drive.google.com/file/d/1Ydd3YPwJRE_77t5RiK9IGmktNuFAZTlx/view?usp=sharing).
Having understand chains, here is an interpretation: the chain is like a simple graph of the operations you want to perform before doing the real computation. If we take the example of

[2018-09-21 13:52] LaRiffle opened #1541 "Turn PySyft into graph mode."
## Context
I would strongly recommend reading #1540 to have a context on:
- PySyft chain
- Eager and Graph mode, how PySyft chain can implement a graph mode

## The issue
This is not exactly an issue but more a reflexion about eager and graph mode.
PyTorch is known to be eager and this is great, TF is also turning eager by default. This means that when you require an operation it is performed imme

[2018-09-21 15:32] iamtrask commented on #1502
I'm picking this up now.

[2018-09-21 15:51] jopasserat commented on #1541
Not sure this is the right issue to discuss this (depends to which extent you guys want to push this graph mode), but I've had a chat with @LaRiffle about migrating to an existing representation of chains of operation.

For the record, we were wondering if we could build something on top of [Dask](http://conference.scipy.org/proceedings/scipy2015/pdfs/matthew_rocklin.pdf) but haven't really looked

[2018-09-21 20:00] LaRiffle opened #1542 "Tensors shouldn't store information about commands"
## Context
The _PlusIsMinusTensor has been created as a canonical example of what can be done by extending the SyftTensor.However, it does not make sense that we modify the behaviour of commands from an argument.

This underlines that the architecture is very much argument oriented, which is excellent when we send tensor or transform them in MPCTensor, but rather unefficient and complicated when w

[2018-09-21 22:20] LaRiffle commented on #1542
^^^^ I just added an example of what I meant by context.

[2018-09-21 22:46] jeremyjordan commented on #1539
Hmm that's odd, I'll pull down the repo in a few hours and see if I can figure it out. I recently had to set up a Sphinx documentation site for work so this is fresh on my mind - hopefully it's a quick fix.

[2018-09-22 01:06] jeremyjordan commented on #1539
Ok, I believe the problem is the documentation has multiple redundancies of `autodoc`'d modules  (so when you use `:private-members:` it's being overwritten somewhere else); I'm not sure how you want to organize the docs but the current organization is a bit unwieldy at first glance.

Also, if you want to show *all* methods (including magic methods) you'll also want to include `:special-members:`.

[2018-09-22 04:46] jjmachan commented on #1532
I would like to work on this. I'm just getting started with this project though.

[2018-09-22 11:14] iamtrask commented on #1532
Please reach out if you get stuck on anything - I'm here to help :)

[2018-09-22 12:16] iamtrask commented on #1520
Hmmmmm....  this is the kind of error i thought i fixed... can you pull from master again and check?

[2018-09-22 18:16] cclauss opened #1546 "5 undefined names"
[flake8](http://flake8.pycqa.org) testing of https://github.com/OpenMined/PySyft on Python 3.7.0

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-09-22 22:30] iamtrask commented on #1546
Nice find! That print(sadf) is an old convenience function for a stacktrace someone (probably me) left in.

[2018-09-22 22:31] iamtrask commented on #1542
I assume we'll be leaving in .send() and .get() as backups? There are some cases when it will be very challenging to use the indented case (such as when you're working with tensors in multiple places at once or pointers to pointers.

[2018-09-22 22:34] #1502 closed

[2018-09-23 02:01] yanndupis opened #1547 "Implement PATE with PySyft"
We would like to implement the Private Aggregation of Teacher Ensembles (PATE) framework with PySyft by following the example [here](https://github.com/tensorflow/models/tree/master/research/differential_privacy/multiple_teachers).
- [x] Implement PATE in PyTorch - #1552
- [ ] Integrate PATE with PySyft

[2018-09-23 02:20] robert-wagner opened #1548 "Get workers method"
Add method which iterates over children to get workers from gpt. This is a hack until pytorch 1

[2018-09-23 02:21] robert-wagner opened #1549 "Refactor issue template"
The current issue template is too long and a bit annoying

[2018-09-23 10:15] LaRiffle commented on #1542
Exactly, .send() and .get() will be kept. Sending a tensor to bob before opening a context session with bob for example means that when the session ends, that tensor still is at bob (example: the data when doing training over epochs).
If you have two remote datasets at bob and alice as it is the case in most of our examples, you would probably iterate on each batch, and depending of whom stores it

[2018-09-23 10:39] iamtrask commented on #1456
Hey @abdulrahmanmazhar - are you on OpenMined's slack? If so, what's your username? (i'm @trask). If now - would you be willing to join so we can have a quick chat? (slack.openmined.org)

[2018-09-23 10:41] iamtrask commented on #1548
Note: gpt refers to GeneralizedPointerTensor which has a an attribute "pointer_tensor_dict" which is a dictionary of worker -> TensorPointer key-value pairs. This method should return self.pointer_tensor_dict.keys()

[2018-09-23 10:45] iamtrask commented on #1549
Agreed - something with just a "description" - "acceptance criteria" and the checklist at the bottom (which is in the current one) would be more useful.

[2018-09-23 10:45] iamtrask commented on #1547
Super excited about this PR!

[2018-09-23 11:53] abdulrahmanmazhar commented on #1456
Hey @iamtrask indeed no I'm not and sure that would be my pleasure :)

[2018-09-23 18:58] yanndupis commented on #1547
Great, thank you @jopasserat! I will definitely check this out. I have just pushed this initial implementation with PyTorch #1552. Thanks

[2018-09-23 23:39] jeremyjordan commented on #1539
@LaRiffle See if you can pull down the branch in [this PR](https://github.com/OpenMined/PySyft/pull/1553) and see if this solution serves your needs.

[2018-09-24 00:09] llealgt commented on #1520
Nope, i created a new conda env, installed from scratch again and still getting failures:

ERROR: test_plus_is_minus_backward_local (test.torch_test.TestChainTensor)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/media/luis/media/PySyft/test/torch_test.py", line 175, in test_plus_is_minus_backward_local
    z.backward()
  File "/m

[2018-09-24 01:02] jeremyjordan commented on #1539
![screen shot 2018-09-23 at 9 02 04 pm](https://user-images.githubusercontent.com/13970565/45934991-feb1a780-bf73-11e8-96fa-adc7a4ca7ffd.png)

[2018-09-24 12:19] iamtrask commented on #1539
Absolutely killer job!!! Merged!!! Thank you so much Jeremy!!

[2018-09-24 12:19] #1539 closed

[2018-09-24 12:34] iamtrask opened #1556 "Combine Differential Privacy Demos with Federated Learning with Secure Aggregation Demo"
We currently have two demos for differential privacy and one with secure aggregation. In a real world setting, we would want to be able to train these at the same time. In this issue, we would like to create TWO new demos.

1) by combining [this Differential Privacy demo](https://colab.research.google.com/drive/1k2TtOJSKSfuvcVLPILAtnh34lFhuUs45) with [this Federated Learning with Secure Aggregatio

[2018-09-24 12:54] mukul-rathi commented on #1556
Could I give this a go as a first issue?

[2018-09-24 17:45] llealgt opened #1557 "missing "workers" parameter when calling share on new spdz demo.ipynb"
In notebook :
PySyft/examples/other/experimental/new spdz demo.ipynb

There's a calls to _SPDZTensor.share which are missing "workers" parameter

[2018-09-24 17:46] llealgt commented on #1557
I'll fix this .

[2018-09-25 08:53] iamtrask commented on #1557
That demo might actually be out of date in general - would be great if it used the new API

[2018-09-25 09:02] iamtrask commented on #1556
Certainly! @mukul-rathi - go ahead and submit a PR when you get started which I will label "work-in-progress". This will make it easier for us to have conversation as you go (you can see several examples of this in the Pull Requests for this project now)

[2018-09-25 09:51] bksahu commented on #1445
Hi @iamtrask :smile: . I think there's a little typo in the **Step 0** commands. In place of `git checkout tensors_are_pointers` it should be `git checkout pointers_are_tensors` and `git checkout -b tensors_are_pointers_your_name` should be `git checkout -b pointers_are_tensors_your_name`.

[2018-09-25 10:05] bksahu commented on #1445
@iamtrask Hi. I think there's a small type in the **Step 0** commands.  The branch to be checkout should be `pointers_are_tensors` in place of `tensors_are_pointers`. :thinking:

[2018-09-25 15:12] iamtrask commented on #1556
@mukul-rathi - are you in our slack? (slack.openmined.org). If so, what is your handle?

[2018-09-25 15:23] #1548 closed, assigned to robert-wagner

[2018-09-25 15:24] #1508 closed, assigned to nobody

[2018-09-25 15:36] mukul-rathi commented on #1556
Yes, my handle is Mukul Rathi.

[2018-09-25 16:44] TheShadow29 opened #1562 "Documentation link not found"
I am not sure why but the documentation link on the readme page is not working. It links to https://openmined.github.io/PySyft/_build/html/index.html which gives 404 file not found error on github page.
![image](https://user-images.githubusercontent.com/10602903/46029145-7f24f500-c0a7-11e8-8315-2e2dba131b1c.png)

[2018-09-25 17:37] iamtrask commented on #1562
Yeah - we're having general link issues - if you pull the docs down and build them locally it works - @jeremyjordan is currently working on this

[2018-09-25 17:37] iamtrask commented on #1562
i'll pull the docs page down from the readme for now - thanks for the heads up!

[2018-09-25 17:37] #1562 closed

[2018-09-27 13:41] alhparsa commented on #1532
I got this 😁

[2018-09-27 18:56] mukul-rathi commented on #1556
@iamtrask the 2nd Federated Learning with Secure Aggregation demo links to the same one as the previous one. Should it be linking to
https://github.com/OpenMined/PySyft/blob/master/examples/other/experimental/MNIST%20Example.ipynb instead?

[2018-09-28 10:18] iamtrask commented on #1556
Nope - the secure aggregation part of it is identical! Great question though. I should have specified.

[2018-09-29 14:58] iamtrask opened #1581 "Mid-Chain Commands"
Right now there's a both ambiguity and a sortof barrier to doing some API calls on the middle sections of chains. For example, if I have:

x = Pointer[bob] -> Pointer[alice] -> Pointer[james] -> LocalTensor[bill]

if would be really nice if I could call

y = x.child.get()

which would return a new chain "y" which equals

Pointer[bob] -> Pointer[alice] -> LocalTensor[bill]

Basically - the idea bei

[2018-09-29 16:11] iamtrask commented on #1581
So it's almost like we want a .get() which copies the pointer locally instead of deleting the one that's also somewhere else. Then we can overload Pointer.child with that method. That way, if you go:

x.child

then you get another pointer but it doesn't get registered locally and it doesn't delete the pointer that exists on the other worker. It just copies the remote x.child object to the local ma

[2018-09-29 18:49] iamtrask commented on #1503
Hey Ian - how's this PR going? @amit-rastogi is interested in picking it up if you've moved on from the project.

[2018-09-30 14:53] LaRiffle opened #1582 "Coordinate FixPrecision and SPDZ Tensor on multiplication"
# Issue

Let's say we have 6.0 and 8.0 to multiply,
field is 2**31 and bit precision is 3.

When I get into fix precision I'll have 6000 and 8000. Then I share them with spdz
When I do the multiplication I get back a spdz tensor whose shares sum up to 48.10**6, so what I do is I divide by n = 10**3 to have a proper encoding of fixp.
But if I divided the shares by n, _I also need to divide the fiel

[2018-10-02 11:14] amit-rastogi commented on #1480
Hi @LaRiffle,
I created the following sample code to get some insights into the "GeneralizedPointerTensors"  and the "split_to_pointer_commands" -

[code]

Using the above code I could see that the syft_command looks like the following -
syft_command = {'args': ([_GeneralizedPointer...1 owner:0],), 'command': '__add__', 'has_self': True, 'kwargs': {}, 'self': [_GeneralizedPointer...1 owner:0]}

Co

[2018-10-02 14:51] #1509 closed

[2018-10-02 18:38] iamadarshk commented on #1549
Shouldn't we close this issue?

[2018-10-03 05:15] llealgt commented on #1557
It seems as the notebook is missing in master branch, maybe it was renamed?

[2018-10-03 05:16] llealgt commented on #1520
I just made a pull from master and all tests are passing now

[2018-10-03 05:16] #1520 closed

[2018-10-03 11:03] iamtrask commented on #1503
Hey @amit-rastogi - Ian messaged me offline that this project is all yours! :)

[2018-10-03 14:05] iamtrask opened #1587 "PyTorch 1.0 Refactor Plan"
Very excited to say that PyTorch 1.0 has been released.

In this issue (discussion) - we will refactor our current code to reach parity with our current implementation which is compatible with PyTorch 0.3.1. We are working in the [torch_1](https://github.com/OpenMined/PySyft/tree/torch_1) branch.

# Roadmap

## Part 1: Serde

- [x] Serde: https://github.com/OpenMined/PySyft/issues/1656
- [x] Codeb

[2018-10-03 14:06] iamtrask commented on #1587
I'm going to kick off this project by creating a new branch for PySyft (torch_1) which is more or less empty. We can then pull in unit tests and functionality from master as needed.

[2018-10-04 19:11] #1532 closed

[2018-10-04 19:12] Kerat opened #1590 "Missing library in Docker image"
A missing library triggers an error when importing torch module from notebook or python console:

[code]

[2018-10-04 21:35] iamtrask opened #1592 "URGENT: remove all % operators and replace with torch.fmod()"
@channel - BUG IN PYTORCH 0.3.1

The modulus operator doesn't always work.
https://github.com/pytorch/pytorch/issues/1164

torch.fmod() works correctly
torch.remainder() and the % sign do NOT work.

We need to swap out all uses of % for torch.fmod() pronto

[2018-10-04 22:17] ionlights commented on #1592
I think I can take this. @iamtrask

[2018-10-05 11:42] iamtrask commented on #1592
Thank you @ionlights !!

[2018-10-05 11:43] iamtrask commented on #1592
Note that % work fine if it's just between two python ints... it's only when it's computing on one or more torch tensors that it's an issue

[2018-10-05 17:02] souravsingh commented on #1479
I would like to take a stab at the issue. Where do I start?

[2018-10-07 11:10] iamtrask commented on #1330
I think you're right! Great find Rohan!

[2018-10-07 11:11] iamtrask commented on #1403
So I think this portion of the ticket was solved via (https://pysyft.readthedocs.io/en/latest/) - although the documentation itself still seems to be broken.

[2018-10-07 11:11] #1403 closed

[2018-10-07 11:16] iamtrask commented on #1592
Hey @ionlights - how's it goin?

[2018-10-08 04:59] ionlights commented on #1592
:wave: Sorry, got caught up finishing up some assignments due an hour ago. :joy:

I should be able to finish this up towards late afternoon today (Oct 08) in EST.

[2018-10-08 06:43] souravsingh commented on #1412
I am interested in taking a stab at the issue.

[2018-10-08 10:22] iamtrask opened #1602 "Base Worker Command Statistics"
BaseWorker classes have a bottleneck send_msg() function which all commands are sent through. We would like to be able to optionally track statistics about commands being sent. In particular, we would like to optionally be able to track how many messages are sent to-from particular workers, of a particular message type, and track statistics like "completion time".

This project is about implementi

[2018-10-08 11:32] replomancer commented on #1602
I'd like to do this.

[2018-10-08 11:45] iamtrask commented on #1602
It's all yours!

[2018-10-08 12:19] #1590 closed

[2018-10-08 14:01] iamtrask opened #1604 "Travis Errors"
Since travis was broken for a while - we now have some style guide issues

https://travis-ci.org/OpenMined/PySyft

Anyone interested in helping to sort these out? Would be a great first project if you're looking for one.

[2018-10-08 14:02] iamtrask commented on #1604
Comment on the issue here if you're interested in picking it up - first come first serve!

[2018-10-08 14:55] dnuka commented on #1604
Hi @iamtrask ! Can I work on this :)

[2018-10-08 16:08] iamtrask opened #1605 "GREAT FIRST PROJECT: Make PySyft FAST!!!!"
This issue is probably the BEST beginner issue because it doesn't require any knowledge outside of basic python. The goal is just to take this demo

https://colab.sandbox.google.com/drive/17upxCYJmJ6Zoxv0KjiJ1ZbchlJybsfhs#scrollTo=BXp7uO9wi1qo

and make it as fast as possible by modifying the PySyft codebase (READ: it's not necessarily about modifying the demo code itself... more about making the

[2018-10-08 16:19] MikeThomz commented on #1605
I am new here but interested.

[2018-10-08 16:20] iamtrask commented on #1605
This is the perfect issue for new!

Step 1) see if you can get that colab notebook running :)
Step 2) see if you can get the same demo running on your local machine (install pysyft and such)
Step 3) start trying to make the code faster!

[2018-10-08 16:41] iamtrask commented on #1605
Fixed the link!

[2018-10-08 16:41] iamtrask commented on #1605
The main pieces I expect to be the bottlenecks are:

1) anything involving python string computation / comparisons
2) send/receiving the same message multiple times (such as calls to my_var.get_shape())
3) message size (this is a big one)

But this is certainly far from exhaustive.

[2018-10-08 16:44] iamtrask commented on #1605
Another big one is "garbage collection" - at present for remote tensors, we never delete them (even if you delete the pointer to them locally). This means that PyTorch doesn't get to re-use memory objects (which is a big part of its optimization) and instead has to create new objects all the time (this also blows up RAM)

[2018-10-08 16:48] iamtrask commented on #1605
Another optimization is when we repeatedly send the same commands to a worker over and over again... For example

[code]

We should explore ways to not have to repeatedly send the same operations over and over again when most of our training code is highly iterative (as above)

[2018-10-08 16:50] uhvardhan commented on #1605
Great! Thanks for the ideas. I will start working on them asap! I specially like this one :D

[2018-10-08 16:52] iamtrask commented on #1605
The SIMPLEST project to start is to replace our use of "strings" with ENUMS. @LaRiffle has already gotten started with this wonderful PR merged earlier this week https://github.com/OpenMined/PySyft/pull/1593/files

[2018-10-08 16:57] avnish98 commented on #1605
@iamtrask I am interested in contribution

[2018-10-08 16:59] iamtrask commented on #1605
Excellent! Welcome aboard @avnish98!!

[2018-10-08 17:05] bksahu commented on #1605
@iamtrask I would like to contribute too.

[2018-10-08 17:16] iamtrask commented on #1605
Excellent @bksahu !!! I've put a few ideas for optimization in the thread above - although feel free to come up with your own by poking around the codebase! (and using a python Profiler)

[2018-10-08 19:11] amit-rastogi commented on #1605
I am in as well

[2018-10-09 01:51] souravsingh commented on #1604
@iamtrask I am interested in taking a stab at the issue.

[2018-10-09 11:10] iamtrask commented on #1604
Excellent! There are several problems indeed so feel free to tackle it togther @dnuka and @souravsingh !!

[2018-10-09 12:51] iamtrask commented on #1605
For those of you interested - you may find this blogpost tutorial on profiling python code helpful!

http://mbatchkarov.github.io/2014/07/14/profiling-python/

[2018-10-09 14:15] LaRiffle commented on #1605
Especially `%lprun` can prove useful for profiling on notebooks!

[2018-10-09 14:32] nandhu92-edge commented on #1605
I am in!!1

[2018-10-09 15:38] wilsantow opened #1607 "installation errors"
I am facing some errors while testing after installation.Can anyone tell me the reasons for it?
![screen shot 2018-10-09 at 8 58 26 pm](https://user-images.githubusercontent.com/15275251/46680781-6c620280-cc07-11e8-8375-6a68d76e5640.jpg)
![screen shot 2018-10-09 at 8 58 23 pm](https://user-images.githubusercontent.com/15275251/46680788-7257e380-cc07-11e8-96eb-58208ef12f86.jpg)

[2018-10-09 18:08] amit-rastogi commented on #1605
Found this useful for timing and profiling-
https://jakevdp.github.io/PythonDataScienceHandbook/01.07-timing-and-profiling.html

[2018-10-09 18:15] #1557 closed

[2018-10-09 18:16] iamtrask commented on #1557
It was moved to experimental -  but we really should create _new_ demos

[2018-10-09 18:16] iamtrask commented on #1557
(because that one is out of date)

[2018-10-10 14:48] #1607 closed

[2018-10-11 08:08] #1604 closed

[2018-10-13 23:47] riacheruvu commented on #1605
I'll be helping with this too!

[2018-10-14 14:35] robert-wagner opened #1631 "Get rid of relative imports"
Currently in our code base there are many relative imports. Relative imports can cause problems if code is moved around. As such we should switch every relative import to an absolute import

[2018-10-14 22:09] stephenjfox commented on #1505
Seeing as @robert-wagner has taken off with #1632, I'm going to make those tests pass instead.

[2018-10-16 14:28] iamtrask commented on #1587
Sadly subclassing is not yet a feature of PyTorch (despite it being included as a possible feature of 1.0) However, the codebase should become _much_ less complicated without the circular references (which is where most of the complexity comes from)

[2018-10-18 19:14] samueldg opened #1639 "Unable to complete Docker build: No local packages or working download links found for tensorflow"
When running `scripts/run_docker.sh`, I get the following error:

[code]

When executing `pip install tensorflow` in the intermediary image before this step, I see the same issue.

[2018-10-19 11:12] replomancer commented on #1456
Mypy requires stub files for msgpack, numpy, pandas and setuptools. I wanted to add those, but it's not working for me on the first try. I will continue only if there's no one else working on this already (@abdulrahmanmazhar ?). We need to be careful about the stub licenses.

[2018-10-19 11:19] abdulrahmanmazhar commented on #1456
@replomancer actually I'm not working on it at the moment so you are more than welcome to start working on it and it's my pleasure to help you as well if you needed something i can do :smile:

[2018-10-19 11:59] replomancer commented on #1456
OK, I'll take care of the stubs.

[2018-10-19 19:18] replomancer commented on #1456
I only added a numpy stub file. Other ones are currently not easy to find, but may become easily available at some point. I set ignore_missing_imports to True in mypy.ini, so mypy will not complain about external libraries now.

[2018-10-23 21:27] replomancer opened #1642 "WebSocketWorker example code doesn't work"
The example code from WebSocketWorker docstring breaks. The first line imports TorchHook from a no longer existing module:
```>>> from syft.core.hooks import TorchHook```
The hook is available in syft now. When this is fixed, after a few steps a nonexistent function utils.PythonJSONDecoder is called on the server side. I don't know what else needs to be updated.

There are no tests for this Worker

[2018-10-23 21:29] replomancer commented on #1642
I'd like to fix this Worker and add a test or two.

[2018-10-24 23:22] llealgt commented on #1631
is this an open issue?i can take it if so

[2018-10-26 13:04] Nivek92 commented on #1330
@iamtrask @jvmancuso could someone close this issue as it seems to be resolved already?

[2018-10-28 15:31] Ogofo commented on #1642
Are you making any progress on this issue and do you need help?

[2018-10-28 20:49] replomancer commented on #1642
I see a lot of broken code in workers, fixing this is not a "fun issue" and may take a little more time.

If you're interested, take a look at [workers_test.py](https://github.com/OpenMined/PySyft/blob/4036adcac0ea20d702d5f9eee314a188b2e297d2/test/core/workers_test.py). There's only one test. Try executing example code from [VirtualWorker's docstring](https://github.com/OpenMined/PySyft/blob/4036a

[2018-10-29 07:39] Ogofo commented on #1642
Do you have a branch that you are actively working on or a list of broken things that need to be repaired? That would help us do not get in each other's way.

A potential issue I found is if the WebSocketWorker is initialized with `is_client_worker=True` which is the default, he will not register any received objects in either `_objects` or `_tmp_objects`. This is because  `set_obj(self, remote_ke

[2018-10-29 08:22] Ogofo opened #1645 "Variable-Tensors are not completely removed from the receiver after get()"
Hey, check out this quick example:

[code]

Registering a variable creates 4 objects in the local registry (`base.py:register(self, result)`). `get()`only triggers `de_register()` on the three of them, leaving out `self.register(variable.grad.data.child)`. I'm not sure wether the issue is in `get()` or within the `de_register()` method, but I would like to fix this issue.

[2018-10-29 14:05] Ogofo opened #1647 "Downloading datasets via torchvision is not working after hooking"
Hey, please see the attached code.

After hooking torch, the torchvision method to download the MNIST Dataset fails. I can only assume that this is an unintended behavior. After hooking the functionality of torch/torchvision methods should be guaranteed.

I will work on this issue in the future.

[code]

[2018-10-29 15:35] #1546 closed

[2018-10-29 21:21] Ogofo commented on #1645
Close please @iamtrask.

[2018-11-02 11:03] #1631 closed

[2018-11-02 11:03] iamtrask commented on #1631
It was sorted out in 1631

[2018-11-02 11:04] iamtrask commented on #1647
Great find!

[2018-11-02 11:04] #1645 closed

[2018-11-02 11:11] iamtrask commented on #1605
I think one of the next big things we can do (this is a bigger project) is to replace all of our "if/else" logic with a dictionary of functions. This is particularly important in serialization. (https://github.com/OpenMined/PySyft/blob/master/syft/core/frameworks/encode.py)

You'll notice there are a ton of really long if/else lists which would likely be quite a bit faster with a simple dictionary

[2018-11-02 11:19] #1556 closed

[2018-11-02 11:42] replomancer commented on #1642
Yes, I got a little stuck in this issue. We're talking with Ogofo and Nivek92 on Slack. I think this weekend I'll create a pull request with what I have: a correctly failing test and some small incomplete fixes. Or maybe it will be in my repo only, because I think I have no permissions to create a PR to a new branch here and I don't want this to be a pull request to master.

[2018-11-09 06:09] yanndupis opened #1655 "Tensor missing on worker when model contains several convolution layers"
Hello,

I am getting the error `Exception: Tensor "XX" not found on worker "0"!!!` when there are several convolution layers included in the model or a batch normalization layer. If I run the same model with one convolution layer, it will work. The error seems to be happening when initializing the gradients `optimizer.zero_grad()`.

Here is an example: https://github.com/yanndupis/PySyft/blob/pate

[2018-11-09 21:21] robert-wagner opened #1656 "Pytorch 1.0 Serde"
This is an Epic which is a sub-project under the project Torch 1.0 - the specs for which you can find here (#1587) - and the KanBan board for which you can find [here](https://github.com/orgs/OpenMined/projects/8?add_cards_query=is%3Aopen).

All work is happening in the [torch_1](https://github.com/OpenMined/PySyft/tree/torch_1) branch.

# Description:

Build the serialization/deserialization syst

[2018-11-09 21:30] robert-wagner opened #1657 "PyTorch 1.0 Tensor Abstractions"
This is an Epic which is a sub-project under the project Torch 1.0 - the specs for which you can find here (#1587) - and the KanBan board for which you can find [here](https://github.com/orgs/OpenMined/projects/8?add_cards_query=is%3Aopen).

All work is happening in the [torch_1](https://github.com/OpenMined/PySyft/tree/torch_1) branch.

# Description

We want to build a tensor abstraction which d

[2018-11-09 21:31] robert-wagner opened #1658 "Pytorch 1.0 Garbage Collection"
This is an Epic which is a sub-project under the project Torch 1.0 - the specs for which you can find here (#1587) - and the KanBan board for which you can find [here](https://github.com/orgs/OpenMined/projects/8?add_cards_query=is%3Aopen).

All work is happening in the [torch_1](https://github.com/OpenMined/PySyft/tree/torch_1) branch.

# Description

We should have a Pool of wrappers which we ca

[2018-11-09 21:31] robert-wagner opened #1659 "PyTorch 1.0 Automatic Command Batching / Async"
This is an Epic which is a sub-project under the project Torch 1.0 - the specs for which you can find here (#1587) - and the KanBan board for which you can find [here](https://github.com/orgs/OpenMined/projects/8?add_cards_query=is%3Aopen).

All work is happening in the [torch_1](https://github.com/OpenMined/PySyft/tree/torch_1) branch.

# Description:

Let's say we have a series of commands to re

[2018-11-09 21:33] robert-wagner opened #1660 "PyTorch 1.0 Message Caching"
This is an Epic which is a sub-project under the project Torch 1.0 - the specs for which you can find here (#1587) - and the KanBan board for which you can find [here](https://github.com/orgs/OpenMined/projects/8?add_cards_query=is%3Aopen).

All work is happening in the [torch_1](https://github.com/OpenMined/PySyft/tree/torch_1) branch.

# Description

The idea here is that neural training logic i

[2018-11-09 21:46] robert-wagner opened #1661 "Add serde logic for strings"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing strings.

- [x] add logic (if necessary) for string serde
- [x] add unit test demonstrating proper serde of strings
- [x] add docstrings for all methods describing their functionality including an example of how to serialize it.

[2018-11-09 21:50] robert-wagner opened #1662 "Add serde logic for ints"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing ints.

- [x] add logic (if necessary) for int serde
- [x] add unit test demonstrating proper serde of ints
- [x] add docstrings for all methods describing their functionality including an example of how to serialize it.

[2018-11-09 21:56] robert-wagner opened #1663 "Add serde logic for dictionaries"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing dictionaries.

- [ ] add logic (if necessary) for dicts serde
- [ ] add unit test demonstrating proper serde of dicts
- [ ] add docstrings for all methods describing their functionality including an example of how to serialize i

[2018-11-09 21:57] iamtrask opened #1664 "Add serde logic for range"
This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing range objects.

- [ ] add logic (if necessary) for range serde
- [ ] add unit test demonstrating proper range of ints
- [ ] add docstrings for all methods describing their functionality including an example of how to serialize it.

[2018-11-09 22:00] robert-wagner opened #1665 "Add serde logic for float"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing floats.

- [ ] add logic (if necessary) for float serde
- [ ] add unit test demonstrating proper serde of floats
- [ ] add docstrings for all methods describing their functionality including an example of how to serialize it.

[2018-11-09 22:01] iamtrask opened #1666 "Add serde logic for torch.Tensor"
This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing torch.Tensor objects.

- [ ] add logic (if necessary) for torch.Tensor serialization and deserialization
- [ ] add unit test demonstrating proper serde of torch.Tensor objects
- [ ] add docstrings for all methods describing their functionality including an example of how to serialize/deseri

[2018-11-09 22:01] robert-wagner opened #1667 "Add serde logic for list"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing lists.

- [x] add logic (if necessary) for list serde
- [ ] add unit test demonstrating proper serde of lists
- [ ] add docstrings for all methods describing their functionality including an example of how to serialize it.

[2018-11-09 22:04] robert-wagner opened #1668 "Add serde logic for tuples"
This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing tuple.

- [x] add logic (if necessary) for tuple serde
- [x] add unit test demonstrating proper serde of tuples
- [ ] add docstrings for all methods describing their functionality including an example of how to serialize it.

[2018-11-09 22:04] iamtrask opened #1669 "Add serde logic for python ellipsis"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing ellipsis objects.

- [ ] add logic (if necessary) for ... serialization and deserialization
- [ ] add unit test demonstrating proper serde of ... objects
- [ ] add docstrings for all methods describing their functionality includ

[2018-11-09 22:05] iamtrask opened #1670 "Add serde logic for np.ndarray"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing np.ndarray objects.

- [ ] add logic (if necessary) for np.ndarray serialization and deserialization
- [ ] add unit test demonstrating proper serde of np.ndarray objects
- [ ] add docstrings for all methods describing their func

[2018-11-09 22:05] robert-wagner opened #1671 "Add serde logic for sets"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing sets.

- [x] add logic (if necessary) for set serde
- [ ] add unit test demonstrating proper serde of sets
- [ ] add docstrings for all methods describing their functionality including an example of how to serialize it.

[2018-11-09 22:07] robert-wagner opened #1672 "Add serde logic for bytearray"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing bytearray.

- [ ] add logic (if necessary) for bytearray serde
- [ ] add unit test demonstrating proper serde of bytearray
- [ ] add docstrings for all methods describing their functionality including an example of how to serial

[2018-11-09 22:08] iamtrask opened #1673 "Add serde logic for slice"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1656

This issue should extend the current logic in syft/deser.py to include support for serializing/deserializing slice objects.

- [ ] add logic (if necessary) for slice serialization and deserialization
- [ ] add unit test demonstrating proper serde of slice objects
- [ ] add docstrings for all methods describing their functionality inclu

[2018-11-11 08:59] mccorby commented on #1605
I'll help with the `if-else` issue

[2018-11-14 14:14] Nivek92 commented on #1664
Hey I will work on that issue

[2018-11-14 14:52] Ogofo commented on #1666
I'll be working on this one.

[2018-11-14 16:46] #1330 closed

[2018-11-14 16:46] #1354 closed

[2018-11-14 16:48] iamtrask commented on #1364
I believe this was fixed.

[2018-11-14 16:48] #1364 closed

[2018-11-14 17:20] iamtrask opened #1679 "Create C++ Extension to PyTorch for Laplacian Distribution"
We need to be able to sample from a laplacian distribution. So, we need pytorch functionality like https://pytorch.org/docs/stable/_modules/torch/distributions/uniform.html but we need it to sample from a laplacian like numpy does here (https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.laplace.html).

Prefarably, this would either be committed directly back to the core PyTor

[2018-11-14 17:22] iamtrask commented on #1679
i'm an idiot - pytoch has it

[2018-11-14 17:22] #1679 closed

[2018-11-14 18:19] Ogofo commented on #1666
Review the merged PR.

 [x] add logic (if necessary) for torch.Tensor serialization and deserialization
 [x] add unit test demonstrating proper serde of torch.Tensor objects
 [x] add docstrings for all methods describing their functionality including an example of how to serialize/deserialize it.

[2018-11-14 18:22] Ogofo commented on #1668
`msgpack` is encoding a tuple as a list. Once you decode the binary you don't get a tuple back, but a list. I think this can easily be handled with the first parameter that is passed and has to be handled in the `_detail_collection` method.

[2018-11-15 16:03] Nivek92 opened #1685 "Fix travis ci build process"
The is an error in the paths for the exclude command

[2018-11-15 16:10] Nivek92 commented on #1669
Hey could you give an example on when one would need to serialize an ellipsis object?

[2018-11-15 16:58] Ogofo commented on #1685
There is another issue within the Travis CI run, I would suggest to use this ticket to resolve the issues and get the Travis build running.

Current issue is:

[code]

[2018-11-15 17:04] Ogofo commented on #1685
The previous can be resolved by changing the line to `coverage run setup.py test`.

Currently the build would still faile because:

1. The test coverage is not 100% yet.
2. The `bash scripts/execute_notebooks.sh` will fail, because the script does not yet exist on the `torch_1` branch

[2018-11-15 19:55] #1672 closed

[2018-11-15 20:12] Nivek92 opened #1689 "Investigate if pickle for numpy arrays is secure"
@iamtrask is wondering whether pickle is a secure way to serialize numpy arrays.
By default pickle allows for arbitrary code injection so we don't want to use it for normal python objects. We have to investigate further as to whether this concern applies to numpy.

[2018-11-16 11:20] antonrd opened #1690 "Failing tests on Mac OS"
When running the PySyft tests (`python ./setup.py test`) I get a few failures as shown in the attached log file. Running them on macOS High Sierra 10.13.6, python 3.6.3, installed with Anaconda, pytorch 0.3.1
As suggested on slack by @iamtrask filing an issue here.

[pysyft_failing_tests_log.txt](https://github.com/OpenMined/PySyft/files/2589056/pysyft_failing_tests_log.txt)

[2018-11-16 11:38] Nivek92 commented on #1689
@iamtrask I looked into it and found

https://intoli.com/blog/dangerous-pickles/ & https://checkoway.net/musings/pickle/ which describe the problem.

So from my understanding the whole code injection is only a problem if we unpickle user generated data which isn't the case (except they manipulate the message that is send between client and server)

Aside from that I found that pickle.dumps is slow

[2018-11-16 13:35] Nivek92 opened #1691 "Refactor: redo tests for test_torch_tensor_simplify and test_ndarray_simplify"
Currently these tests have to be adjusted when the serialization format is changed which is not optimal.
Tests should have no need to be adjusted if internals change

[2018-11-16 15:54] robert-wagner opened #1694 "Add serde logic for PointerTensor"
Sub issue of #1695

This issue should extend the current logic in syft/serde.py to include support for serializing/deserializing PointerTensor objects.

- [x] add logic (if necessary) for PointerTensor serde
- [x] add unit test demonstrating proper range of ints
- [x] add docstrings for all methods describing their functionality including an example of how to serialize it.
- [x] add convenience fu

[2018-11-16 15:55] iamtrask opened #1695 "Initial Pointer Tensor Support"
Part of Epic: https://github.com/OpenMined/PySyft/issues/1657

You should extend torch.Tensor with the following operation
- [x] .create_pointer() which initializes a pointer to this tensor. #1696
- [x] .serialize() which serializes the current tensor to a serialized format AND .deserialize() #1694
- [x] .send() which creates a pointer and sends a serialized version of "self" to the correct worker

[2018-11-16 15:55] LaRiffle opened #1696 "Create_pointer for torch tensors"
This is a child issue of https://github.com/OpenMined/PySyft/issues/1695. Please check this issue to see if you have anything you need.

Initialize a pointer to this tensor with .create_pointer().
- [x] Instanciate a pointer tensor that inherits from an Abstract / Syft Tensor
- [x] Define appropriate attr (torch_type, location, id_at_location, owner, skip_register)

[2018-11-16 15:58] iamtrask opened #1697 "Adding .send() to torch.Tensor()"
This is a child Issue of https://github.com/OpenMined/PySyft/issues/1695. Be sure to check the parent issue to ensure this issue has all dependencies required to finish it.

In this issue, you should add the method .send() to torch.Tensor. This tensor should call .create_pointer() (to create a pointer), then serialize the tensor, and send the message to a remote worker. Thus, this method will acce

[2018-11-16 16:01] iamtrask opened #1698 "Adding .get() method to PointerTensor"
This is a child Issue of https://github.com/OpenMined/PySyft/issues/1695. Be sure to check the parent issue to ensure this issue has all dependencies required to finish it.

In this issue, you should add the method .get() to PointerTensor. This method should send a command to the remote worker to serialize it and send it to the local server.

- [ ] ensure .get() works as described above
- [ ] .get

[2018-11-16 16:08] LaRiffle opened #1699 "Add register_obj() to worker"
This is a sub issue of #1697

Objects given as args should be registered by the worker, meaning they should be included in the worker registry `self._objects`

[2018-11-16 16:10] robert-wagner opened #1700 "Receive Object for Torch tensor"
Functionality is needed to allow base workers to receive an object from another worker.
For this issue we want to implement a method which can be run automatically which
- [x] deserializes a received message
- [x] extracts the tensor from the received message
- [x] registers the extracted tensor with the current worker

This method should be implemented so as to be extensible to new tensor types

[2018-11-16 16:13] iamtrask opened #1701 "Initial Garbage Collection Support for PointerTensor"
This is a child Issue of https://github.com/OpenMined/PySyft/issues/1695. Be sure to check the parent issue to ensure this issue has all dependencies required to finish it.

In this issue, we want to make it so that when a PointerTensor goes out of scope, the tensor that it is pointing to also gets deallocated. In particular, we want to VERY robustly test this functionality (with all tensor types)

[2018-11-17 11:18] Nivek92 opened #1703 "Get 100% test coverage"
The travis build still fails as we have not reached 100% test coverage yet.

Goal of this issue is to add the necessary tests.

Current state
[code]

[2018-11-17 12:03] Nivek92 opened #1704 "Lz4 Compressed binary is short than original"
While working on another issue I noticed, that the compressed binary can be longer than the original which doesn't make sense.

As such I would suggest to only use the compressed version if it's shorter than the original. But then we would need to make sure decompression is only used when compression was really applied.

[2018-11-18 06:34] Nivek92 commented on #1703
Test coverage should be 100% but there are some errors that prevent all tests from running through.

Will fix these after that we should have 100%

[2018-11-18 06:36] Nivek92 opened #1705 "Make tests pass"
Some tests are failing.

Fix the appropriate code to make the tests pass.

[2018-11-18 06:36] Nivek92 commented on #1685
Associated

Get 100% test coverage #1703
Make tests pass #1705

[2018-11-19 09:21] LaRiffle opened #1707 "Should we keep adding attributes to `torch` ?"
Related to #1587

In our previous version, we added, especially in https://github.com/OpenMined/PySyft/blob/master/syft/core/frameworks/torch/__init__.py , many elements to the module torch.

I'm wondering if we should keep this approach, which is not very elegant and raises relevant warnings in PyCharm. What better solution could we think of?

[2018-11-19 09:50] Nivek92 commented on #1707
I am against adding attributes to torch itself.
Like you said it's not very elegant and I would argue actually bad practice.
It would make more sense to add it to the TorchHook or create a separate object which just holds the required attributes.
On the same note I think it makes sense to split the hook.py into multiple files as it's quite long.

[2018-11-19 10:35] Nivek92 commented on #1699
That's already solved by `bob.send_obj(obj, alice)`

[2018-11-19 13:10] Nivek92 opened #1708 "Discussion: Should the hook be explicit"
In my opinion it would be better if one has to call the hook explicitly if they want to hook their torch.

[code]

What do you think about that?

[2018-11-20 10:55] iamtrask commented on #1707
I'm a fan of moving everything to the hook - however the hook itself will still need to be added to "torch".

The problem is that occasionally PyTorch is responsible for initializing new torch tensors, which means we cannot pass in our own hook in the constructor (so that all initialized tensors will have a proper .owner attribute, for example). The only way to get them to have an owner is to have

[2018-11-20 15:33] #1664 closed

[2018-11-20 15:33] #1666 closed

[2018-11-20 15:33] iamtrask commented on #1666
Excellent work!

[2018-11-20 15:33] #1668 closed

[2018-11-20 15:34] #1662 closed

[2018-11-20 15:34] #1661 closed

[2018-11-20 15:34] robert-wagner commented on #1670
Great work on this issue!

[2018-11-20 15:34] #1670 closed

[2018-11-20 15:37] #1671 closed

[2018-11-20 15:38] iamtrask commented on #1705
Looks like all tests are passing here

https://github.com/OpenMined/PySyft/pull/1714

[2018-11-20 15:38] #1705 closed

[2018-11-20 15:41] iamtrask commented on #1685
Woot woot!!!

[2018-11-20 15:41] #1685 closed

[2018-11-20 15:42] #1667 closed

[2018-11-20 15:43] #1663 closed

[2018-11-20 15:58] LaRiffle commented on #1707
Ok so the most straightforward option would be to make an object storing all our stuff and adding that object to torch. Or maybe we could add it to `syft` instead ?

[2018-11-20 16:14] iamtrask commented on #1707
Perfect! - oh oh oh -  adding to syft is a much better idea!

[2018-11-21 09:38] Nivek92 commented on #1708
Yes indeed. I think it makes more sense to communicate to the user, that the hook "wraps" the original torch

when I first encountered the project I was confused that the functionality was added by just calling hook = TorchHook() and you dont actually do much with the hook afterwards

[2018-11-21 09:47] Nivek92 commented on #1699
Whats missing from the original register_object method is the creation of a pointer and changing the owner of the obj.

Other than that it will add the object to the _object dictionary using the id of the obj.

But do we need a seperate method than or wouldn't it be better to adjust one of the existing methods? e.g. the set_obj or recv_msg

[2018-11-21 11:10] Nivek92 commented on #1703
@iamtrask could you close that issue for me please

[2018-11-21 11:17] Nivek92 commented on #1673
@iamtrask Like ellipsis I don't actually understand why would we want to serde a slice object?

Would you not just send the slice itself instead of the slice object?

[2018-11-23 04:18] miranthajayatilake opened #1725 "train() function in 'Intro to Federated Learning.ipynb' example code"
Hi,
First of all, great work Trask! Loving your work.
I'm following the tutorials and in the Federated Learning notebook example, when passing each worker's dataset to the sent model, shouldn't we pass `data_bob` as a parameter to the function?

I'm talking about the function here :-

[code]

I think that the function should have a parameter input as `def train(dataset)` in order to pass each work

[2018-11-23 08:55] iamtrask commented on #1725
Hi @miranthajayatilake!!! This function would be greatly improved if the "model" and "datasets" variables were passed in as a parameter! PR Welcome!

[2018-11-23 12:34] #1703 closed

[2018-11-23 19:12] amit-rastogi commented on #1704
I am picking this up

[2018-11-26 09:13] LaRiffle opened #1729 "Removing the head torch tensor wrapper"
This is a sub issue of  #1657 questioning the design of tensor chains.

If I understand correctly, in "chain" structure of torch1 Pysyft, local tensor chains will not loop which is great, but we will have a empty wrapper at the head.

For example if I want to locally log operations of a tensor with a LogTensor, I'll have:

    [Empty Torch Tensor]
      v
    [LogTensor]
      v
    [Torch Tensor]

[2018-11-26 14:30] kamathhrishi commented on #1507
Is this issue still open ? Could I work on it ?

[2018-11-26 15:47] #1507 closed

[2018-11-26 15:52] robert-wagner commented on #1729
The main reason for having an empty torch tensor at the head is for compatibility with the built in torch modules. They break if you pass them a non torch tensor. Ideally, if we could subclass torch tensor, we would not need these header tensors but that functionality is not yet available in PyTorch.

[2018-11-26 15:53] #1592 closed

[2018-11-26 15:53] #1549 closed

[2018-11-26 15:54] #1504 closed

[2018-11-26 15:54] #1505 closed

[2018-11-26 16:09] LaRiffle commented on #1729
Uh. Do you have an example of torch module which would break? Usually we also hook them as well

[2018-11-27 09:51] amit-rastogi commented on #1704
@Nivek92 Yes I am looking into adding both the compression schemes as options into the library as per my discussion with @iamtrask yesterday.

[2018-11-27 10:05] amit-rastogi commented on #1704
@Nivek92 @iamtrask So as I understand there would be following tasks as part of this issue-
- add "zstd" as an option in the library
- add the functionality to decide whether to compress the input or not. Add corresponding logic in decompression as well.
-add unit tests

[2018-11-27 10:12] Nivek92 commented on #1704
@amit-rastogi sounds good to me. I edited the original issue text to reflect these tasks

[2018-11-27 11:18] miranthajayatilake opened #1732 "How to use Dataset defined inside Websocket Server?"
Hi,

I'm trying to implement a Federated Learning application using Websockets where, the data should be defined inside the `Server` code, not in the `Client` code.

The idea is to enable the user to keep his data private in the server, and the client will build the model and send only the model to the server in order to be trained using the data.

In all the shown implementations, the client defi

[2018-11-28 05:12] miranthajayatilake commented on #1725
Thank you very much for the response! I will look into it.

[2018-11-28 05:12] #1725 closed

[2018-11-28 13:20] miranthajayatilake opened #1733 "SocketWorker with Data Tensors on remote machine problem"
I'm trying to implement a SocketWorker Server/Client application with data on remote server, taking the inspiration from here->
https://github.com/OpenMined/PySyft/blob/master/examples/torch/toy/SocketWorker%20Server.ipynb
https://github.com/OpenMined/PySyft/blob/master/examples/torch/toy/SocketWorker%20Client.ipynb

But in the above example I face the below error with pointer to the data from the

[2018-11-28 19:31] robert-wagner commented on #1729
I unfortunately dont know one of off the top of my head. Ill see if I can set up an minimal failing example

[2018-11-29 10:23] Nivek92 commented on #1696
This is finished isn't it?

[2018-11-29 12:16] Ogofo opened #1735 "[Discussion] Running pytorch tests as part of the CI to ensure hook stability"
As part of #1587 we are still hooking pytorch. I would suggest to hook pytorch and run the pytorch tests, to ensure that the hook is stable and the pytorch functionality is ensured.

Potential Challenges:
- CI time would increase
- CI with GPU support seems to be an issue - potentially requires a custom (community funded) CI server

Pros:
- PySyft would ensure that the complete pytorch functionali

[2018-11-29 14:48] LaRiffle commented on #1696
Yes it is, the PR #1706 does only need a better coverage in tests
I'll do this when I find some time, any contrib welcome :)

[2018-12-02 18:35] bigdata2 commented on #1655
I am experiencing the same issue. It works for a simple nn.linear model but not for a simple MNIST model with a couple of convolution layers. Here is my code and the error message:

[code]

[2018-12-03 14:11] fallenk commented on #1639
yes, I got same error too

[2018-12-03 15:21] fallenk opened #1738 "No local packages or working download links found for tensorflow error: Could not find suitable distribution for Requirement.parse('tensorflow')"
Help! I am new here, when I follow tutorial, run `scripts/run_dockers.sh`;  there are errors:
[code]

[2018-12-04 13:39] #1696 closed

[2018-12-04 15:59] Nivek92 opened #1740 "Reduce duplication in serde test logic"
At the moment there are two different test cases for uncompressed/compressed serialization even though they only differ by the flag for compress & compressed.

[2018-12-04 18:33] MarkTuddenham commented on #1738
Yeah, the Dockerfile is broken atm, I have some working ones but the images are rather big, I'm going to see if I can shrink them but Tensorflow + Torch + PySyft + Jupyter probably approaches 1GB anyway.

[2018-12-05 02:01] kamathhrishi opened #1743 "Working Documentation"
In order to have more people have an understanding of the project beyond the tutorials the documentation (https://pysyft.readthedocs.io/en/latest/) needs to be working.

[2018-12-05 15:06] LaRiffle commented on #1697
One point I remember discussing is whether we should rather ask the remote worker the storage address, instead of forcing him to use a given one, which could be already be in use.
Any thoughts?

[2018-12-05 15:11] LaRiffle commented on #1699
Sometimes you want to register tensors that are included in a rather complex response, like tuples, dictionary which include tensors.
In this case I think a separate  method is useful to handle registration gracefully
But it could also be included in the deserialize logic since we already iterate in the response

[2018-12-05 15:16] Ogofo commented on #1697
I think this is a good idea. I think it would make the most sense, to send the object to the `storage_worker` and let him respond with a `storage_id`. That way we can create a PointerTensor with `id_at_location=storage_id`.

[2018-12-06 01:54] LaRiffle commented on #1697
Yes I agree, but one drawback is that the operation needs to be synchronous and wait for the response.

[2018-12-06 10:19] Ogofo opened #1746 "[Discussion] Hook to only overload functions that are overloaded within the native tensor?"
Regarding the last merge of https://github.com/OpenMined/PySyft/pull/1742 some torch functionality is not possible anymore as the following example of  @LaRiffle shows:

[code]

This is an issue within the hook, where all torch methods are replaced by a method that only returns `None` (see `hook.py/_assign_methods_to_use_child`). Currently the `hook.py/_get_overloaded_method()` is deprecated due t

[2018-12-06 10:54] Ogofo commented on #1673
@iamtrask can you close this, please? :) Thanks

[2018-12-06 10:55] Ogofo commented on #1665
@robert-wagner is this one still open?

[2018-12-06 11:08] kamathhrishi commented on #1665
I don't think so. It was decided we don't need to handle float datatype explicitly. But , a unit test ensuring it works for float helps

[2018-12-06 11:14] Ogofo opened #1748 "Serde for hooked torch.Tensor objects"
Sub issue of #1695

Current testcases only check whether the serializing/deserializing of a torch.Tensor prehook is working. This issue should extend the current logic in `test/test_serde.py` to include support for serializing/deserializing torch.Tensor objects after hooking torch.

- [x] add logic (if necessary) for torch.Tensor serde after hooking
- [x]  add unit test demonstrating proper serde

[2018-12-06 11:21] Ogofo commented on #1707
Is this discussion still open or solved by #1706? If so, please close :)

[2018-12-06 11:43] Ogofo commented on #1697
True. That could slow down the process.

Another approach could be to just store an internal reference to the remote Tensor within the PointerTensor. The Remote Worker would register the Tensor with his own chosen ID and create a mapping between the PointerTensor ID and his own remote ID.

To clarify the example:

[code]

[2018-12-06 14:49] amit-rastogi commented on #1740
Hey @Nivek92 I'm picking this up.

Update the following test cases to reduce redundancy-
test_compress_decompress_lz4
test_compress_decompress_zstd
test_compressed_serde_lz4
test_compressed_serde_zstd

[2018-12-06 15:52] Nivek92 commented on #1740
There is still duplicate code though e.g.
compressed = _compress(original)
decompressed = _decompress(compressed)

compressed = _compress(original, "zstd")
decompressed = _decompress(compressed, "zstd")

these are 4 lines while we could also do

for attr in ["lz4","zstd"]:
  compressed = _compress(original, attr)
  decompressed = _decompress(compressed, attr)

[2018-12-06 16:18] kamathhrishi commented on #1381
We still haven't Inherited the methods required for it to work on GPU.

[2018-12-06 19:34] Ogofo commented on #1743
Definitely! This is already part of the Torch 1.0 refactor #1587 but more as a constraint.

[2018-12-06 19:36] #1647 closed

[2018-12-06 21:17] #1669 closed

[2018-12-06 21:17] #1665 closed

[2018-12-06 21:21] #1707 closed

[2018-12-07 16:36] Ogofo commented on #1729
I'm just wondering if the tensor should be the one holding the send method. Wouldn't a worker be more suited to actually send objects to another target worker? I'd like to understand why you chose this way of designing the workflow. I would expect something like this:

[code]

If the design stays this way, I imagine having a wrapper at the top of the chain, that replaces a tensor with a pointer af

[2018-12-07 18:32] LaRiffle commented on #1697
Yes, basically have an internal storage id which is a function `f` : `id_on_remote_worker = f(<worker>, <ptr_id>)`  should be fine !

[2018-12-07 23:47] bigdata2 commented on #1655
@yanndupis  you have `me.is_client_worker = False` line commented out. Not sure why linear layer works without it and convolution does not.

[2018-12-08 01:28] LaRiffle opened #1755 "`_add_registration_to___init__` doesn't run"
Tensor initiation doesn't call __init__, hence `_add_registration_to___init__` doesn't run

How do we proceed to instanciate `.owner` and `.id` ?

[2018-12-08 09:35] kamathhrishi opened #1756 "Tests not Working"
Tests were working all fine  until recently when I ran `make test` locally.

I get these errors. Any idea on how I could resolve it?

[code]

[2018-12-09 09:41] Ogofo commented on #1729
Yeah your totally correct. I think what we are trying to achieve is creating a transfer method.

If we would like to keep a local original of the tensor, while it is stored on the remote worker, we should make sure that the data is consistent across all versions of the tensor. This would force us to constantly update the tensor which can be a big overhead.

I see the following possible scenarios:

[2018-12-09 10:40] mari-linhares opened #1760 "More descriptive error (or warning) when workers can't see each other?"
In the Part 4 of the tutorial available at examples/tutorials/ there is this block of code:

[code]

If you remove these lines on cell 6 while trying to perform a move operation you see the following error:

[code]

Which is not a very descriptive message and does not indicate the real problem.

The same error message shows on Part 3 if you remove these  lines:

[code]

And try to run something li

[2018-12-09 16:06] Ogofo commented on #1740
Regarding the open PR #1753, I suggest to refactor the test to use `@pytest.mark.parametrize()` annotations to the multiple test cases. Before implementing this, we have to resolve the issue that comes with class methods that inherit `unittest.TestCase`. Unit tests are not allowed the have arguments passed to a method.

I'm not sure if there is a deeper meaning to those classes other than grouping

[2018-12-09 17:38] #1755 closed, assigned to nobody

[2018-12-09 18:06] LaRiffle opened #1763 "Torch1: Format for send_obj"
I observed the actual recommended format for sending an object is `{'id': obj_id, 'data':obj}` (see send_obj, set_obj)
I would be tempted to use (obj_id, obj) like the tuple format which is used in ser/deser
Does smthg go agains this?

[2018-12-10 11:12] Ogofo commented on #1763
This is with respect to our conversation in #1697, correct? I approve the format as it makes the most sense to me.

[2018-12-10 14:46] amit-rastogi commented on #1740
Do we need to add pytest in requirements.txt?

[2018-12-10 16:12] Ogofo commented on #1748
See https://github.com/OpenMined/PySyft/pull/1769. I wrongly referenced the issue within the PR.

[2018-12-11 03:35] #1748 closed

[2018-12-11 03:36] robert-wagner commented on #1735
I like this idea in theory. However I think it is most likely something that we should address if it starts being a serious issue in practice

[2018-12-11 03:36] #1740 closed

[2018-12-11 03:37] #1673 closed

[2018-12-11 04:14] robert-wagner commented on #1763
I don't see any issues with this. Let's change it!

[2018-12-11 13:40] LaRiffle commented on #1763
Ok it's changed!

[2018-12-11 13:40] #1763 closed

[2018-12-11 19:03] LaRiffle opened #1772 "Ser / deser attributes id and owner of tensors"
The attributes id and owner are not kept in the builtin methods on torch tensor used to serialize / deser.

Can we:
1. Overload theses methods to handle this
2. transfer them aside and add them together as attributes
3. Do we really need them?

[2018-12-11 19:41] Ogofo commented on #1772
I'm addressing your questions from bot to top.

Regarding point 3. I'm not entirely sure. I think it will depend on the workflow:

1. Sending a Tensor to a remote worker
Regarding the discussion in #1697 I don't think we need either variable as they are newly set by the remote worker anyways.

2. Saving a Tensor to disk
This depends if we want to be able to save a complete syft-instance to disk wi

[2018-12-12 10:12] LaRiffle commented on #1772
I do agree with you, I think we could avoid these tensors attribute because:
1. owner is trivial
2. id is not: we expect a ptr = x.send()  then x2 = ptr.get() to return an x2 with the same id than x. But if the id is transmitted to the PointerTensor and given back this would work.

[2018-12-14 06:19] 0shimax opened #1775 "Calculation precision in case of division"
I have the following problem. Is this behavior correct for PySyft?

[code]

By the way, 1 is displayed when calculating with PyTorch 0.3.
[code]

[2018-12-15 00:41] #1775 closed

[2018-12-15 08:35] 0shimax opened #1777 "Wrong behavior in comparison operator"
Pls confirm the behavior below. The behavior seems wrong.

[code]

[2018-12-16 12:03] mari-linhares commented on #1777
Hi @0shimax,

To be clear I'm definetly not the best person to say if this is expected behaviour or not, but I would say that if we consider that  `fix_precision` creates a [`FixedPrecisionTensor_`](https://github.com/OpenMined/PySyft/blob/5403658ec2d9a9ea2043c4b3bf09fa23e957735d/syft/core/frameworks/torch/tensor.py#L1223) parent to the FloatTensor which is basically a wrapper to the sy.FloatTenso

[2018-12-16 12:18] mari-linhares commented on #1642
Should this issue be closed?

[2018-12-16 12:32] mari-linhares commented on #1729
Hey everyone,

Quick question: is it possible for the worker to implement the send operation and then have a garbage collection operation to clean the "transferred" tensor?

[2018-12-16 19:51] #1760 closed

[2018-12-16 22:45] 0shimax commented on #1777
Hi @mari-linhares,

Thank you for explaining in detail.
Understand about the behavior. I need to call "child" of chain.

Thank you again for describing in detail :)

[2018-12-16 23:35] mari-linhares commented on #1777
@robert-wagner, @Ogofo any thoughts on this? Maybe close this issue if you think this is intended behaviour?

Thank you! Cheers!

[2018-12-17 15:43] #1656 closed

[2018-12-17 15:56] robert-wagner commented on #1777
In the original comment x and y are both mpc shared variables. We currently do not have the functions any and all implemented for mpc tensors as it leaks information most of the time. This behavior should return an error rather than a result that doesn't make sense

[2018-12-18 08:15] replomancer commented on #1642
Hello!
I think this issue still needs discussion and bigger rewrite. I've been a little out of touch lately and I'm not sure what's the plan exactly. Please don't close it yet.

[2018-12-18 22:45] 0shimax commented on #1777
@robert-wagner
Thank you for your kind reply. I got it.

[2018-12-18 22:46] #1777 closed

[2018-12-19 03:38] kamathhrishi commented on #1602
I don't think this has been completed yet right?

[2018-12-19 09:42] Ogofo commented on #1642
I suggest creating a ticket to implement the WebSocket worker in torch_1 branch. I don't think we should put more work than necessary into an outdated version of the repository :)

[2018-12-19 10:00] Ogofo commented on #1729
I think some functionality like this is addressed in https://github.com/OpenMined/PySyft/issues/1701. Do you have a specific plan for the implementation already? Otherwise, I would guess that your suggestion can work :D

[2018-12-20 18:48] replomancer commented on #1602
Well, this issue is about "first version of (...) statistical tracking". I've written something for start and my PR has been accepted. I don't know if people use it and what they think about it. There's always room for improvement, but I found it hard to do better without more explicit requirements.

I would close this issue and create new ones if there are more concrete ideas for statistics-relat

[2018-12-20 18:50] #1642 closed

[2018-12-20 22:51] mari-linhares commented on #1729
Hey Ogofo, I don't have a specific plan, but I'll try to have a better look on this part of the code to make sure it makes sense. I'll add updates in this thread.

[2018-12-20 22:55] mari-linhares commented on #1701
I'm planning to have a look at this.

[2018-12-21 01:20] bigdata2 opened #1781 "Out of memory during MNIST model training."
I am training MNIST model with 2 virtual workers, my machine has 128 GB of memory, 97% of which is consumed by the python code (attached below). After 16th epoch, the process is killed by the OS. Has anyone faced similar issue before?

[code]

[2018-12-21 16:02] iamtrask opened #1783 "Codebase Cleanup"
This is an Epic which is a sub-project under the project Torch 1.0 - the specs for which you can find here (#1587) - and the KanBan board for which you can find [here](https://github.com/orgs/OpenMined/projects/8?add_cards_query=is%3Aopen).

All work is happening in the [torch_1](https://github.com/OpenMined/PySyft/tree/torch_1) branch.

# Description:

At this point, we want to pause and standard

[2018-12-21 16:03] robert-wagner opened #1784 "Refactor all docstrings in the torch_1 branch to Google style"
As we are now able to compile google style docstrings into sphinx docs, we should switch all the docs over to google style for consistency and readability.

Part of #1783

[2018-12-21 16:05] robert-wagner opened #1785 "Modify documentation generation code to use napoleon"
Napoleon https://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html allows for us to use google style documentation with sphinx. This issue enables #1784

[2018-12-21 16:17] robert-wagner opened #1786 "Increase Test coverage to fail under 100"
Currently test coverage is set to fail under 95 percent. We should try to have tests for everything and manually exclude (using #pragma: no cover) functions or sections of functions which we do not want tested. This gives intentionality to what we are and are not testing.

[2018-12-21 16:17] robert-wagner commented on #1786
@LaRiffle @Nivek92 @Ogofo @iamtrask Would appreciate your feedback on this

[2018-12-21 16:36] artemlos opened #1787 "What SMPC protocol does PySyft use"
Hi! What SMPC protocol does PySyft use? Does that protocol support both addition and multiplication?

[2018-12-21 17:04] artemlos commented on #1787
I think I found it, it seems to be using SPDZ.

[2018-12-21 17:04] #1787 closed

[2018-12-21 21:21] kamathhrishi commented on #1602
Alright then.

[2018-12-22 20:57] Ogofo commented on #1784
Reference:
https://github.com/google/styleguide/blob/gh-pages/pyguide.md#38-comments-and-docstrings

[2018-12-23 14:57] #1785 closed

[2018-12-23 17:12] mari-linhares commented on #1694
Looking at [`serde.py`](https://github.com/OpenMined/PySyft/blob/torch_1/syft/serde.py) and [`test_serde.py`](https://github.com/OpenMined/PySyft/blob/torch_1/test/test_serde.py) apparently this is done.

[2018-12-24 03:58] iamtrask commented on #1602
Sounds good!

[2018-12-24 03:58] #1602 closed

[2018-12-24 03:59] iamtrask commented on #1602
One good follow-on project might be to report statistics to the notebook as an option (right now it only writes to a file). Another might be more statistics relating to message size, number of messages, etc.

[2018-12-24 04:01] iamtrask commented on #1729
All torch modules break. I suppose the most obvious are all the layer types (every layer type, every loss function, as well as any API calls with other torch tensors)

[2018-12-24 04:03] iamtrask commented on #1729
The only costs of having the top level object is.

1) initializing the tensors (more init cost)
2) having to forward commands to .child tensors

I think we can minimize (1) if we use a Pool of wrappers (there's nothing particularly unique about any one of them, so we should be able to re-use them pretty easily), and (2) is quite minimal as well in terms of cost.

[2018-12-24 04:03] iamtrask commented on #1701
Me too - with the PR I just merged a few minutes ago we should be more or less ready.

[2018-12-24 04:05] iamtrask commented on #1478
Hey @bigdata2 - you are almost certainly running into this issue. We're addressing it in the Torch 1.0 Refactor. You can track progress (or help out) by watching this issue https://github.com/OpenMined/PySyft/issues/1701

[2018-12-24 04:06] iamtrask commented on #1694
The only piece we're lacking here is the actual .serialize() method on the PointerTensor itself.

[2018-12-24 04:11] iamtrask commented on #1772
I *think* this issue was addressed in https://github.com/OpenMined/PySyft/pull/1791

[2018-12-24 04:55] iamtrask commented on #1756
Hmm - I'm really not sure. Maybe try rebuilding your virtual environment?

[2018-12-24 04:58] iamtrask commented on #1746
As mentioned in the PR you made - I intentionally removed functionality which was copy-pasted from the 0.3.1 implementation which we intend to re-write (lest we start making progress based on old code).

However, I _think_ the issue you specifically flagged above (the code example you wrote down) works now.

Should we chat more or should I close this?

[2018-12-24 08:32] antonrd commented on #1690
With the current master (commit 33e23644b026815d76c9e5d6594e3d0b8fe6830b) all tests pass on Mac OS (112 tests in total). So, closing the issue as resolved.

[2018-12-24 08:32] #1690 closed

[2018-12-29 09:49] LaRiffle commented on #1729
They already break if you give them empty wrappers standing for pointers, that's why we had to hook them, analyse the args / kwargs to search of pointers and if there are some, send the command to the appropriate location.

[2018-12-31 10:00] kamathhrishi commented on #1756
@iamtrask  That did the trick!

[2018-12-31 10:00] #1756 closed

[2019-01-01 04:55] kamathhrishi opened #1803 "Polynomial Function Approximation Scripts"
I am currently Working on #1506 Create a Polynomial Tensor PR. There are several ways we could potentially use function approximations throughout PySyft for quicker evaluation of sigmoid , tanh and other functions , certain cryptography algorithms like Shamirs Scheme or even if users have to write their custom functionality.

Does it help to create a separate folder for function approximations scr

[2019-01-02 03:42] suhelsayyad2006 opened #1804 "MNIST Example"
In notebook available in Experimental section for MNIST Training it is seen that worker are created.
Does the code mentioned in 2 takes cares of privacy preserving of data elements.
Why share methods to data on MNIST are not used ?

[2019-01-02 11:45] LaRiffle commented on #1729
One thought, from what I see from the doc of pytorch, most of the methods ex: <tensor>.add actually call torch.add
So trying to have fast methods (with light hooking) will be useless if we don't handle properly torch.<function> in a efficient way

[2019-01-08 15:53] mari-linhares opened #1809 "Make send operations async"
This a sub ticket of #1659. All work is happening in the torch_1 branch.

## Description

Make send operations async and by default raise an error if an on-going operation result is accessed. For this step in the implementation `c` will be a wrapper object (similar to a promise). But at the final implementation `c` will be an object that has an `id` so it can be used for the following operations.

[2019-01-08 15:55] robert-wagner opened #1810 "Turning off async"
This issue is a subissue of #1659
We want to be able to turn of async in order to have debugging purposes. If there is not a clean way to do this, this issue may not be implemented.

Successful completion of this issue includes

- [ ] a function or context manager which turns off async commands after it
- [ ] tests which ensure that the functionality inside and outside the context manager is the s

[2019-01-08 15:56] iamtrask opened #1811 "Worker Queueing of Async Commands"
This is a sub-ticket of Epic #1659.

This ticket is blocked by #1809.

In the previous issue (#1809), we created functionality which allowed for .send commands be sent asynchronously, returning a promise. However, promises cannot be used until the .wait() function guarantees that they are fulfilled. Trying to use a promise without calling .wait() throws an error.

In this ticket, we want to build

[2019-01-09 21:50] #1699 closed

[2019-01-09 21:50] #1700 closed

[2019-01-09 21:51] iamtrask commented on #1784
It seems like we're really close on this one - only a couple places where we lack! I spotted missing docstrings in VirtualWorker (virtual.py)

[2019-01-09 21:53] iamtrask commented on #1658
I _think_ we're good to go based on https://github.com/OpenMined/PySyft/pull/1805 - @LaRiffle ?

[2019-01-10 02:12] lovicwhite opened #1813 "Boston Housing server-client demo under /examples/torch"
Hi, I mat some problems when trying these two demos:

https://github.com/OpenMined/PySyft/blob/master/examples/torch/Boston_Housing_Federated_Training%20with%20Diff%20Privacy%20SERVER.ipynb

https://github.com/OpenMined/PySyft/blob/master/examples/torch/Boston_Housing_Federated_Training%20with%20Diff%20Privacy%20CLIENT.ipynb

On client side, when coming to this line, error shows like this:
![clien

[2019-01-12 03:56] jidroid404 opened #1815 "cannot import name '_set_worker_signal_handlers'"
Unable to get a Hook in Remote PyTorch using Virtual Worker.ipynb(colab notebook)

![screenshot 96](https://user-images.githubusercontent.com/43285614/51068968-ef9e5480-164b-11e9-8eed-251c781788d9.png)
![screenshot 97](https://user-images.githubusercontent.com/43285614/51068969-ef9e5480-164b-11e9-985d-18fa36b37c34.png)

[2019-01-13 19:39] mari-linhares commented on #1809
@LaRiffle I've just made the description more clear, let me know if there's anything unclear to you. Thanks for the feed

[2019-01-14 02:27] lovicwhite opened #1816 "Issues about Tutorial Part-7"
When trying to follow the tutorial part 7--Encrypting / Decentralizing the ledger, I found tensors after operation('+' or '-') will lose their dimension, is it the expected behavior, or a bug?
![ledge1](https://user-images.githubusercontent.com/33448800/51094287-974f8a00-17e6-11e9-9a97-19c334472b52.png)
![ledge2](https://user-images.githubusercontent.com/33448800/51094311-b6e6b280-17e6-11e9-9282-b

[2019-01-14 22:23] robert-wagner opened #1817 "Constructor of torch.Tensor is broken in the torch_1 branch"
Currently in the torch_1 branch we are unable to construct tensors which require gradients (formerly known as variables). The proper way to do this is ` torch.Tensor(<list>, requires_grad=True)` On the current version this returns the error of
[code]

[2019-01-14 22:23] robert-wagner commented on #1817
@LaRiffle @iamtrask if you had any insight on this issue that would be appreciated

[2019-01-15 12:21] kamathhrishi commented on #1506
Do we really need a separate tensor for this or shall we just make it a part of SPDZ?

[2019-01-15 15:24] jvmancuso commented on #1506
I'd defer to @iamtrask, but I imagine this could be done in SPDZ

[2019-01-15 15:31] iamtrask commented on #1817
trask [3:30 PM]
x = torch.tensor([1.,2,3,45], requires_grad=True)

Théo Ryffel [3:30 PM]
`x = torch.tensor([1.,2,3,4,5], requires_grad=True)``

trask [3:30 PM]
:point_up: that works
x = torch.Tensor([1.,2,3,45], requires_grad=True)

[2019-01-15 15:49] iamtrask opened #1819 "Organize tensors -> Decorators and Interpreters"

[2019-01-16 04:31] param087 commented on #1815
It seems problem related to the torch GPU torch version 0.3.0 vs  0.3.1 just comment the following lines in first shell of colab notebook.

[code]

It will work just fine or you can check for torch GPU v0.3.1
here the working colab notebook of me :
https://colab.research.google.com/drive/1OWl-iud3gSM7ZYyEkK2EVr0q8zNIe0C9

[2019-01-16 06:35] param087 commented on #1819
Hi Andrew,
I want to work on this issue. Any example or sample regarding Organize tensors -> Decorators and Interpreters will be very helpful.

[2019-01-16 10:00] #1815 closed

[2019-01-18 15:30] iamtrask opened #1823 "Test Mode (Decorator) for Encrypted Tensors"
This is an Epic under the Project ticket #1587 - which is a collection of individual work tickets. As such, all work on this ticket happens under the torch_1 branch.

So, one thing that can be REALLY painful is debugging encrypted tensor operations when there isn't a stack trace. In other words, often you'll have a sequence of operations and SOMEWHERE in the sequence of operations something bad ha

[2019-01-18 16:44] jlebensold opened #1824 "Differential Privacy"
This is an Epic which is a sub-project under the project Torch 1.0,  the specs for which you can find here (#1587)

We'd like to implement local differential privacy support at the Tensor level within PySyft.

- [x] Prototype [sensitivity tracking tensor](https://github.com/OpenMined/PySyft/blob/dev/examples/experimental/DP%20Tensor%20Experimentation%20-%20v1.ipynb)
- [x] Fix bugs in sensitivity t

[2019-01-18 22:51] korymath opened #1825 "No assertion error message makes this max assert hard to fix."
https://github.com/OpenMined/PySyft/blob/179c5b70b10140af4fc2c2eba7f328183f1a534b/syft/core/frameworks/torch/tensor.py#L1787

[2019-01-19 04:48] param087 commented on #1819
@iamtrask - I have started to work on this issue, If I get stuck somewhere I will let you know.

[2019-01-19 05:20] param087 commented on #1819
hello @iamtrask -  I have started to work on this issue, If I get stuck somewhere I will let you know.

[2019-01-19 13:50] param087 commented on #1819
hey @iamtrask , I have moved
1. log.py file from syft/frameworks/torch/tensors/ into syft/frameworks/torch/tensors/decorator folder
2. Other files from syft/frameworks/torch/tensors/  into  syft/frameworks/torch/tensors/interpreters folder.
3. added and updated all required import statements from the syft/ , test/ folder.

Please tell me, if there any additional suggestions and corrections.
[https

[2019-01-20 21:44] robert-wagner commented on #1817
I am reopening this because we are unable to call send on torch.tensor which means either we need to hook torch.tensor or get pytorch to fix this issue upstream (ideally both) cc @iamtrask

[2019-01-22 23:25] #1825 closed, assigned to nobody

[2019-01-25 09:34] LaRiffle commented on #1658
I think this isn't too bad however I'd like some more tests to be performed or questions to be answered:
- have a GC test file
- How new tensors types like the LoggingTensor (will) implement __del__ and GC ?

[2019-01-25 09:42] LaRiffle commented on #1786
I've been working on having a very high coverage, however at some point you end make a stupid test just to cover a single line which really doesn't gives you much. I'm a bit cautious about using quotes #pragma because it makes the code less readable
I think you can go up to 97% but I would prefer that we spend time doing tests that are really relevant and writing code :)

[2019-01-25 09:43] LaRiffle commented on #1784
Should we close this issue for now? I think we're quite good.

[2019-01-25 10:53] #1701 closed

[2019-01-25 10:55] LaRiffle commented on #1772
Ok this is the behavior with currently have in serde.py

[2019-01-25 10:55] #1772 closed

[2019-01-25 10:57] LaRiffle commented on #1658
Ok I think #1829 Solves this.

[2019-01-25 10:57] #1658 closed

[2019-01-25 11:00] LaRiffle commented on #1694
It was done in 8c479141511a6f4adf84599cdb95472d5eae3bce

[2019-01-25 11:00] #1694 closed

[2019-01-25 12:17] LaRiffle commented on #1781
Hi @bigdata2,
There are known issues with remote memory management (remote value is not destroyed when the pointer to it disappears), which are being addressed in the new PySyft version (compatible with PyTorch 1.0) which should be released in February.

[2019-01-25 12:31] LaRiffle commented on #1804
Nicely spotted, the code in https://github.com/OpenMined/PySyft/blob/master/examples/other/experimental/MNIST%20Example.ipynb does not perform  privacy preserving training or anything federated. I suspect it was a demo which wasn't finished, that's why it's in `experimental` :)

[2019-01-25 12:31] #1804 closed

[2019-01-25 12:54] LaRiffle commented on #1817
Note that hooking `torch.tensor` is not trivial since you can't add any attributes, if you try you get:
`AttributeError: 'builtin_function_or_method' object has no attribute 'my_attr'`

[2019-01-25 13:01] LaRiffle commented on #1817
One work around for `owners` could be adding owner as a property:

[code]

[2019-01-25 23:08] bigdata2 commented on #1781
Thanks for the update. I was also wondering if the version with PyTorch 1.0 will have a feature to let workers load training data separately? Specifically, the case where the entire training data is not read by the client first, but workers can read the training data independently from a local storage. Also, it would be nice to have a feature when workers can join a client asynchronously, i.e. a w

[2019-01-29 13:37] kamathhrishi commented on #1695
I guess we need to first finish having notebooks that demonstrates sending and receiving tensors for which sending tensors asynchronously is a requirement ?

[2019-01-29 13:50] robert-wagner opened #1835 "Test hook.py should be modified to not use class structure"
We do not need to use the class structure required by unittest with pytest. Doing things in the pytest style of not having tests inside a testing class makes cleaner code and avoids side effects of tests interacting. As such the test_hook.py file should be refactored to the pytest style (see other tests for examples)

[2019-01-29 15:43] robert-wagner opened #1838 "Add data to workers on spinup"
We want to be able to initialize workers with data. In practice we want to pass data as a parameter to the workers. In practice we want that parameter to either take a tensor object, a list of tensor objects or a file pointer to the data.

[2019-01-31 16:54] alexis-thual commented on #1835
I could try and do this one if you want to assign me :)

[2019-02-01 13:39] LaRiffle commented on #1695
I'm not sure async is a requirement, but indeed a notebook (like tutorial Part 1 on master) is missing!

[2019-02-01 13:39] #1784 closed

[2019-02-01 13:39] #1786 closed

[2019-02-01 13:40] #1783 closed

[2019-02-02 10:44] iamtrask opened #1850 "AttributeError: 'Parameter' object has no attribute 'child'`"
[code]

[2019-02-02 10:45] iamtrask commented on #1850
I just wanted to mention that if you see this in the Torch 1.0 branch it probably means that we hooked a torch attribute (something in torch.*) that we shouldn't have. The solution is to figure out what this thing is and add it to self.exclude in torch_attributes.py.

[2019-02-02 10:45] #1850 closed

[2019-02-02 16:10] alexis-thual commented on #1835
Sorry akki, there seem to be some overlap in our works...
I basically refactored all test files, except from `./test/workers/test_worker.py` and `./test/test_serde.py`.

@robert-wagner it seems that I can't add you to the reviewers of the PR I just opened. I left a couple of comments in the PR if you want to read them first!

[2019-02-03 18:01] robert-wagner opened #1857 "add search for tensors"
We want to be able to search for tensors on remote workers. To do this we need to add a tag attribute to tensors and a .search() method to workers which searches over those tags

[2019-02-04 10:03] LaRiffle opened #1862 "Tuto Part 4 is not working"
Being addressed on #1861
Any comments welcome, as this is _supposed_ to work

[2019-02-04 10:07] LaRiffle commented on #1857
I have seen a search functionality in workers, is this now solved? @robert-wagner

[2019-02-04 10:41] LaRiffle commented on #1862
Assumingly this is caused by `bobs_opt.step()` which should be `bobs_opt.step(bobs_data.shape[0])`
Do someone confirm we now need to provide this argument (how does this also related to providing a similar argument to backward ?

[2019-02-04 10:48] LaRiffle commented on #1862
Also, we need to set bias=False in model Linear(2, 1) to have it working, just it has been done in Tuto 2, we need to investigate this.

[2019-02-04 14:19] LaRiffle commented on #1862
Solved in #1851 !

[2019-02-04 14:19] #1862 closed

[2019-02-04 19:33] robert-wagner opened #1863 "update links from torch_1 branch to master branch"
after torch_1 becomes master we need to update all links accordingly

[2019-02-04 19:33] #1857 closed

[2019-02-04 22:55] robert-wagner commented on #1835
As this work has been done twice, I'm closing this now

[2019-02-04 22:55] #1835 closed

[2019-02-05 14:39] #1819 closed

[2019-02-05 14:39] #1698 closed

[2019-02-05 14:41] robert-wagner commented on #1817
Got this to work by just doing initialization normally then adding the attributes after

[2019-02-05 14:41] #1817 closed

[2019-02-05 15:02] #1695 closed

[2019-02-05 15:06] #1697 closed

[2019-02-05 15:06] #1381 closed

[2019-02-05 15:06] iamtrask commented on #1582
i don't think this is an issue in torch_1 which is moving to master today

[2019-02-05 15:06] #1582 closed

[2019-02-05 15:07] #1362 closed

[2019-02-05 15:07] #1367 closed

[2019-02-05 15:07] iamtrask commented on #1581
This has been solved in torch_1

[2019-02-05 15:07] #1581 closed

[2019-02-05 15:07] jlebensold commented on #1816
This example is now part of a deprecated branch.

[2019-02-05 15:07] #1816 closed

[2019-02-05 15:07] #1605 closed

[2019-02-05 15:07] iamtrask commented on #1541
We've got a good plan for this in torch 1.0 - see the torch 1.0 refactor

[2019-02-05 15:07] #1541 closed

[2019-02-05 15:08] iamtrask commented on #1540
Graph mode is the tensorflow way - which would be strange to do in pytorch

[2019-02-05 15:08] #1540 closed

[2019-02-05 15:09] #1503 closed

[2019-02-05 15:09] iamtrask commented on #1516
re-engineering this in torch 1

[2019-02-05 15:09] #1516 closed, assigned to mortendahl, robert-wagner

[2019-02-05 15:09] #1479 closed

[2019-02-05 15:10] #1412 closed

[2019-02-05 15:10] iamtrask commented on #1481
We will revisit this in torch 1.0 - the big issue here is that we need to add CRTTensor to be able to handle larger values #1524

[2019-02-05 15:10] jlebensold commented on #1738
This should be resolved at this point. Please open a new issue if you're still having trouble.

[2019-02-05 15:10] #1738 closed

[2019-02-05 15:10] #1386 closed

[2019-02-05 15:10] #1385 closed

[2019-02-05 15:10] iamtrask commented on #1442
i believe .shape has been fixed

[2019-02-05 15:10] #1442 closed

[2019-02-05 15:11] #1480 closed

[2019-02-05 15:11] iamtrask commented on #1421
Hey @ddhaval04 are you still interested in this?

[2019-02-05 15:11] #1445 closed

[2019-02-05 15:11] jlebensold commented on #1732
Hi @miranthajayatilake we've gone through a significant refactor for Torch 1. Check out our new federated learning implementation.

[2019-02-05 15:12] iamtrask commented on #1414
@jvmancuso still interested in this?

[2019-02-05 15:12] #1414 closed

[2019-02-05 15:13] iamtrask commented on #1522
Will revisit

[2019-02-05 15:13] #1522 closed

[2019-02-05 15:13] jlebensold commented on #1733
Hi @miranthajayatilake thanks for reporting this. Are you still having trouble with `PointerTensor` on our master branch? We've just refactored for torch 1

[2019-02-05 15:14] jlebensold commented on #1813
This notebook has been deprecated on the master branch.

[2019-02-05 15:14] #1813 closed

[2019-02-05 15:17] #1542 closed

[2019-02-05 15:17] robert-wagner commented on #1451
This is an issue on a deprecated branch

[2019-02-05 15:17] #1451 closed

[2019-02-05 15:17] #1655 closed

[2019-02-05 15:18] iamtrask commented on #1478
garbage collection solved this in torch 1.0

[2019-02-05 15:18] #1478 closed

[2019-02-05 15:18] LaRiffle commented on #1655
We're doing a massive refactor with the release of pytorch1, please re-open an issue if you still have this problem.

[2019-02-05 15:18] robert-wagner commented on #1421
closed due to changing priorities

[2019-02-05 15:18] #1421 closed

[2019-02-05 15:18] jlebensold commented on #1452
Closing due to inactivity.

[2019-02-05 15:18] #1452 closed

[2019-02-05 15:20] iamtrask commented on #1781
In the new master branch based on torch 1.0 - we have automatic garbage collection - which should mitigate this.

[2019-02-05 15:21] iamtrask commented on #1689
This sounds solved!

[2019-02-05 15:21] #1689 closed

[2019-02-05 15:24] iamtrask commented on #1824
https://github.com/OpenMined/PySyft/blob/torch_1/examples/experimental/DP%20Tensor%20Experimentation%20-%20v1.ipynb

[2019-02-05 15:24] iamtrask commented on #1824
https://github.com/OpenMined/PySyft/blob/torch_1/examples/experimental/DP%20Tensor%20Experimentation%20-%20v2.ipynb

[2019-02-05 15:24] LaRiffle opened #1867 "Add a tutorial on how to create a new Syft Tensor type"
*Add a Jupyter Notebook Tutorial for "how to create a new tensor type". This should include basic overriding as well as how to do tensors which have other tensors as attributes. It should also include the ability to serialize/deserialize the new tensor such that it can be sent and received across the network (and it works with PointerTensor).

[2019-02-05 15:38] robert-wagner opened #1868 "Federated LSTM Demo"
We want to have demo showing how to use a LSTM with federated learning in PySyft.

[2019-02-05 15:39] jlebensold opened #1869 "Federated Learning - Implement MNIST / ConvNet Example"
This example should use FederatedDataset

[2019-02-05 16:00] robert-wagner opened #1871 "Add MNIST to the sandbox"
We want the sandbox to be initialized with the mnist dataset

[2019-02-05 16:00] robert-wagner opened #1872 "Add CIFAR10 to the sandbox"
We want the sandbox to be initialized with the CIFAR10 dataset

[2019-02-05 18:34] robert-wagner opened #1875 "Cleanup issues from old master"
Many of our current issues are very out of date as they were filed for the current master branch which will soon be going away. We should close all the ones which are irrelevant

[2019-02-05 19:52] #1875 closed

[2019-02-05 20:25] robert-wagner opened #1876 "Spdz Multiparty Computation in Master"
Currently in master we only have addition working for the additive sharing tensor. We want this tensor to also have multiplication and eventually to have subclasses which implement functions such as nonlinearities and comparison. This ticket is to keep track of progress for this project

[2019-02-05 21:53] LaRiffle opened #1878 "Function hooking bug in nn.functional (F.max_pool2d)"
The hooking logic (hook.py L489) uses `cmd_name = f"{attr.__module__}.{attr.__name__}"` to recover the function name for example to send the command remotely.

However if you take `F.max_pool2d` you get `torch._jit_internal.fn`  (attr.__name__ == 'fn'), so a wrong command gets sent.

We should change our method to recover the function name.

**EDIT**

We are trying to have this fixed with PyTorch

[2019-02-06 02:12] bigdata2 commented on #1781
Hi, torch 1.0 does not work for me, I get the following exception;

[2019-02-06 03:15] robert-wagner opened #1880 "More Verbose Documentation for PureTorchTensorFoundError and RemoteTensorFoundError"
Hey @LaRiffle could you clarifiy what you meant in the documentation of these errors. The documentation does not detail their purpose

[2019-02-06 20:36] robert-wagner opened #1882 "Calling send on a parameter containing a pointer tensor deletes the data tensor"
[code]

[2019-02-06 20:37] robert-wagner commented on #1882
Calling send on a parameter containing a pointer tensor calls _simplify_pointer_tensor twice
Parameter>[PointerTensor - 67201391700@bob]
simplifying pointer tensor
simplifying pointer tensor
detailing pointing tensor
detailing pointing tensor

[2019-02-07 10:11] LaRiffle commented on #1880
Yes you're right I will do this :)

[2019-02-07 15:24] pranav-ap opened #1884 "Spelling mistake in the README"
Hi,
I was going through the README and found a minor spelling error in Siraj Raval's name. It says Rav**e**l, but should be Rav**a**l.

Honestly, I think this is probably the single biggest contribution anyone has ever anyone made in Github history.
: )

Cheers,
Pranav

[2019-02-07 16:30] param087 commented on #1884
Hi @pranav-ap,  Just make a PR with corrected spelling.

[2019-02-07 16:42] pranav-ap commented on #1884
Yeah, its done.

[2019-02-08 02:35] #1884 closed

[2019-02-08 02:38] robert-wagner opened #1890 "Allow tensors and wrappers to be used together"
Currently, operations which are passed a wrapper and a tensor as arguments fail with the error
[code]
We should iterate down the chain if this is the case

[2019-02-08 04:48] robert-wagner commented on #1781
Hey @bigdata2 Could you send the code which throws that error?

[2019-02-08 22:10] LaRiffle commented on #1880
Done! in #1892

[2019-02-08 22:10] #1880 closed

[2019-02-09 02:00] bigdata2 commented on #1781
Hi @robert-wagner here is the code.
[code]

[2019-02-09 02:37] jlebensold commented on #1781
@robert-wagner I think this is related to `randperm`. Is it possible we're not hooking it correctly?

[2019-02-09 12:32] LaRiffle commented on #1890
Can you give a code snippet showing how to reproduce a failure?

[2019-02-09 12:33] LaRiffle commented on #1882
Solved by #1892 !

[2019-02-09 12:33] #1882 closed

[2019-02-09 19:35] LaRiffle commented on #1869
I'm doing good progress in having the CNN layers + Pool + backward working in a full FL setting.
Ping me if you open a PR on this, I'll add my work to have the complete example with the FederatedDataset :)

[2019-02-10 03:01] robert-wagner opened #1893 "Moving a module to cuda throws errors"
[code]

[2019-02-10 11:54] LaRiffle commented on #1869
I've open one on this topic: #1894

[2019-02-11 10:07] LaRiffle commented on #1893
Can you add the stacktrace?
One **good-first-issue** would be in the case you have only cpu, and try to call .to(device), to fix the error which is only due to us not serializing devices. This could be easily handled.

[2019-02-11 10:12] LaRiffle opened #1895 "Adding .data and .grad support for syft tensors"
So far, interesting work has been done to support .data and .grad (attributes of parameters) with pointers. As we start using syft tensors such as fix_precision_tensor it is important to add a native behaviour to those to handle these attributes calls.
I would suggest doing imitating pointer on this. I'm open to discussion this in details.

[2019-02-11 10:22] LaRiffle opened #1896 "Garbage Collection issue with in-place methods on tensors"
This triggers a KeyError. I suspect unexpected garbage collection.
[code]

[2019-02-12 13:14] LaRiffle opened #1898 "Website: the logo of PyTorch is the old one =("

[2019-02-12 13:14] #1898 closed

[2019-02-12 15:12] iamtrask commented on #1895
I think we can add .grad and .data creation to __init__ of AbstractTensor which would make this work.

[2019-02-12 15:24] jlebensold commented on #1893
[code]

[2019-02-12 19:00] robert-wagner opened #1902 "Python Autograd Support"
We want to be able to have custom backwards functions for methods in new tensor types such as DifferentialPrivacyTensor. This requires that we make sure that we can call backwards in python as pytorch drops backwards down to c++ immediately, getting rid of our custom logic.

[2019-02-12 19:06] robert-wagner opened #1903 "rename functions in hook_args.py to better say what they do"
Currently a lot of the functions in hook_args.py have very similar/confusing names which make it difficult to see at a glance what they do. These should be renamed to more vebosely state their purpose

[2019-02-12 22:28] iamtrask opened #1905 "OpenMined.org Demo Broken"
On our homepage - we link to colabs which implement a simple SocketWorker demo - as the new version of PySyft has no SocketWorker - the demo fails to work.

https://colab.research.google.com/drive/1-Jb_E_nDuBGHIJ_psI95k-ukh-P_aly-

[2019-02-13 00:02] LaRiffle commented on #1895
Yes I agree!

[2019-02-13 10:56] LaRiffle opened #1906 "Where should I hook? Choosing the right level."
I'm currently working with fixed precision tensors (see PR #1897).
In this PR, I had to unhook nn.Linear because it contains the operation `a*x + b`. Indeed, multiplication should be controlled at the fixed precision level (for truncation after multiplication) which you can't do if you hook Linear. Because if you do, then `a*x + b` happens on the LongTensors which are below the precision tensor an

[2019-02-13 16:59] LaRiffle commented on #1781
Hi @bigdata2
This is now solved! We have made a notebook tutorial for this case: https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Part%208%20-%20Federated%20Learning%20on%20MNIST%20using%20a%20CNN.ipynb

[2019-02-13 16:59] #1781 closed

[2019-02-13 19:11] iamtrask commented on #1902
Note: while DP will be an early user of this project - all work should be decoupled from DP as we'll be using it for other areas as well (like encrypted training)

[2019-02-14 10:46] #1896 closed

[2019-02-14 10:51] LaRiffle opened #1909 "Optimizer and momentum for remote tensors"
As you know, optim with momentum keeps old gradients in a buffer.
However, when gradients are pointers, it becomes really tricky if you move the parameters from a worker to another, which is exactly what we do in tutorial Part 8. Let's say you move from bob to alice, then you will try to update parameters at alice using a buffer containing pointers to bob, and you get in real trouble.

So, how sho

[2019-02-14 14:43] jeandut opened #1910 "Moving the result of an operation fails"
I am using syft 0.1.0a1
                   torch 1.0.0
                   python 3.7
In IPython (spyder):

This minimal example fails:
[code]

The error message I get is:
[code]
But the referred key is exactly the address that appears by doing t3.id_at_location. Is it intended behavior ?

[2019-02-15 20:46] bigdata2 commented on #1781
I am still getting the same error messages and exceptions as reported originally.

[2019-02-18 09:36] #1878 closed

[2019-02-19 07:30] xuebao24 opened #1918 ".get() operation failed"

[2019-02-19 07:30] xuebao24 opened #1919 ".get() operation failed"
My version is
PySyft-dev
Python 3.6.5
Pytorch '1.0.0'
I did the Tutorial Section 1.1 on page https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%201%20-%20The%20Basic%20Tools%20of%20Private%20Deep%20Learning.ipynb

The same code.

import syft as sy
from syft.frameworks.torch.tensors.interpreters import PointerTensor
from syft.frameworks.torch.tensors.decorators import LoggingTe

[2019-02-19 08:00] #1918 closed

[2019-02-19 13:37] LaRiffle commented on #1919
Does the code run when it is in the notebook?

[2019-02-19 15:08] #1869 closed

[2019-02-19 15:09] #1863 closed

[2019-02-19 15:14] iamtrask commented on #1919
This is almost certainly because the VirtualWorker was created twice.

[2019-02-19 15:20] robert-wagner opened #1920 "Add serde for all torch types"
ie torch.type, torch.size

[2019-02-19 15:49] jlebensold opened #1922 "Federated Learning — web socket implementation for Torch 1"
Implement an example of the federated learning implementation with model averaging with a training plan for training MNIST.

A plan could look like this:
[code]

A client / server interaction could look like this:
[code]

[2019-02-19 16:03] iamtrask commented on #1906
TODO: make this string comparison more efficient

https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/tensors/interpreters/precision.py#L190

[2019-02-19 16:11] robert-wagner opened #1924 "Replace conda with venv in travis"
The longest part of our build is the creation of the conda env. This is because travis is unable to cache conda dependencies (but is able to cache pip installs). Therefore we should install everything with pip. We can get further speed improvements using venv as creating venvs is faster than creating conda envs

[2019-02-19 17:24] #1803 closed

[2019-02-19 18:19] iamtrask opened #1927 "Sampling in SPDZ Tensor"
In order to do differential privacy on an encrypted tensor, we need to be able to sample from a Laplace and/or Gaussian distribution. In theory this can be done based on the exponential sampling mechanisms described here (https://link.springer.com/content/pdf/10.1007/11761679_29.pdf).

[2019-02-19 18:24] iamtrask opened #1928 "Fix Bugs in DP Experiment v3"
This is a child of the #1824 Epic regarding our initial DP integration. Specifically, we're focusing on functions which can calculate sensitivity.

We have several notebook prototypes in the experimental folder however they currently have a bug (as described inline). So the first project is to fix these bugs (see the notebook for more details)

[2019-02-19 18:37] iamtrask opened #1929 "Unit Tests for Sensitivity Tensor"
This ticket is a sub-ticket of the #1824 Epic.

So in order to be able to track privacy leakage - we need to track sensitivity. We're making a tensor to do this in the examples/experimental folder. We are currently on version 3.

And to make sure it works correctly - we want to use the examples from this book where sensitivity has been correctly calculated and use them as unit tests. (other resour

[2019-02-19 18:40] robert-wagner commented on #1927
With this in mind, gaussian sampling is very easy to do in an additivly shared setting (the sum of two gaussians is a gaussian)

[2019-02-19 18:43] iamtrask opened #1930 "Vectorized SensitivityTensor Prototype"
Assuming https://github.com/OpenMined/PySyft/issues/1929 is done and the tests are passing, vectorize the best prototype so that it uses torch tensors for all storage and operations instead of numpy arrays around PrivateNumbers.

Build this in a new notebook within experimental

Ensure that the unit tests still pass.

[2019-02-19 18:46] iamtrask opened #1931 "Integrate vectorized SensitivityTensor prototype into PySyft"
This is a sub-issue of the #1824 epic. The purpose of this issue is to take the prototype created in #1930 and integrate it into the ``interpreters'' folder as a new tensor type. All unit tests should also be moved to PySyft's unit tests.

[2019-02-19 19:02] iamtrask opened #1932 "Integrate with Moment's Accountant from Abadi et al."
With the SensitivityTensor integrated, now we want to integrate it with the concepts described in Abadi et al.'s MomentsAccountant technique (for reference there are example implemenations https://github.com/LaRiffle/differential-privacy/tree/master/privacy_accountant).

Specifically, we want to make it so that we can automatically track privacy budget using the output . of SensitivityTensor. The

[2019-02-19 19:04] iamtrask opened #1933 "Create FL Demo with DP-SGD Optimizer"
This is a sub-issue of the #1824 Epic.

Similar to the [previous demo](https://github.com/OpenMined/PySyft/blob/torch_031/examples/torch/Boston_Housing_Federated_Training%20with%20Diff%20Privacy%20CLIENT.ipynb) in the 0.3.1 version of the stack, we want to use the DP-SGD optimizer to train a differentially private federated learning model. This should use our SensitivityTensor, MomentsAccountant,

[2019-02-19 23:06] #1928 closed

[2019-02-20 01:05] #1930 closed

[2019-02-20 07:25] xuebao24 commented on #1919
Can you tell me more? I just create bob once by 'bob = sy.VirtualWorker(hook, id="bob")'. Where is the other one? Or can you tell me the right case?
Thank you!

[2019-02-20 07:26] xuebao24 commented on #1919
I run it in my spyder.

[2019-02-20 07:55] xuebao24 commented on #1919
I saw what happened. This happened just because I runed it twice on my spyder. Maybe this was what iamtrask said 'the VirtualWorker was created twice'.
This program can only run once on your python or restart it!!
Thank you all for help!

[2019-02-20 07:55] #1919 closed

[2019-02-20 15:22] kamathhrishi commented on #1871
Shouldn't this issue be closed since it's competed ?

[2019-02-20 19:41] mcleonard commented on #1902
I've been exploring this. I think the best option here is to use the `grad_fn` methods created by torch operations. For example:

[code]

If I can figure out how to go backwards through the graph, I should be able to use `.grad_fn` to calculate all the necessary gradients.

@iamtrask Would having the outputs of `.grad_fn` be good enough for DP?

[2019-02-20 19:49] mcleonard commented on #1902
Progress! You can get the graph using `.grad_fn.next_functions`. Let's see if I can hack something out today

[2019-02-21 16:47] kamathhrishi commented on #1838
We should close this issue?

[2019-02-23 10:53] LaRiffle opened #1939 "Can't have a worker with a id integer"
Usually you should be able to set a worker id to be a string or an id.
_Note this has nothing to do with tensor ids_
 However this triggers an error :
[code]

[2019-02-23 12:53] kamathhrishi opened #1940 "IndexError: list index out of range"
I wrote a basic Neural Network without importing PySyft with the following code

`import torch
import torch.nn as nn
import torch.nn.functional as F

class Net(nn.Module):

    def __init__(self):

        super(Net,self).__init__()

        self.conv1=nn.Conv2d(1,6,5)
        self.conv2=nn.Conv2d(6,16,5)
        self.fc1=nn.Linear(16*5*5,120)
        self.fc2=nn.Linear(120,84)
        self.fc3=nn

[2019-02-23 12:54] #1940 closed

[2019-02-23 13:18] LaRiffle opened #1941 "grid and tags : on tensors or datasets ?"
Currently the tags and description attributes are put on tensors.
However they would be more relevant if they were on datasets (an object with a .data (for inputs) and .targets attribute).
If anyone is against this, i'll make the change on grid. But I primarily focused on discussing this!

[2019-02-23 21:14] iamtrask opened #1943 "Build a Named Tensor"
There was a really cool post on NamedTensors not too long ago - and I thought that since we're one of the only projects which makes it easy to create custom Torch tensor types - it might be worth having a go if anyone was interested.

Full details on how such a project would be done can be found here - http://nlp.seas.harvard.edu/NamedTensor

[2019-02-25 07:33] hu6360567 opened #1945 "Looking for a runnable demo"
The tutorial is almost broken, and unfinished.
I'd like to find pieces of example code on federated learning with SMC and DP.
Is there any of them?

[2019-02-26 06:41] kamathhrishi commented on #1945
The tutorials on Federated Learning are very much working :)

https://github.com/OpenMined/PySyft/tree/dev/examples/tutorials for Torch1 version of PySyft. Currently, Torch 1 supports only federated learning and DP is under experimental which you could review if you would like to.

 We did have SMPC on our previous version supported for torch 0.3.1 version only.

https://github.com/OpenMined/PySyf

[2019-02-26 06:43] hu6360567 commented on #1945
Thanks a lot.
I'll try on torch_031 branch.

[2019-02-26 06:43] #1945 closed

[2019-02-26 15:16] iamtrask commented on #1924
Fixed!

[2019-02-26 15:16] #1924 closed

[2019-02-26 15:17] mcleonard commented on #1902
Pull request here: https://github.com/OpenMined/PySyft/pull/1942

[2019-02-26 15:17] #1838 closed

[2019-02-26 15:21] iamtrask commented on #1733
Hey - not sure the status of this but i think this bug was on 0.3.1 which is now deprecated. We'd like to instead build this on torch 1.0 branch (master/dev)

[2019-02-26 15:21] #1733 closed

[2019-02-26 15:22] mcleonard commented on #1895
Working on AutogradTensor and running into this issue. I'm storing gradients after backprop to `.grad` on Autograd tensors, but the gradients aren't available on the Wrapper at the top of the chain with `.grad`. I think we'll need `.grad` to work on Wrappers to use PyTorch's optimizers.

[2019-02-26 15:38] robert-wagner opened #1947 "Follow up to adding data to workers on spinup"
We want to generalize the work done in #1936 to support loading data from files. Ideally the load data function would handle all of the routing of how to load this data

[2019-02-26 15:40] kamathhrishi commented on #1947
Elaborate a little bit on all of routing of how to load this data?

[2019-02-26 15:59] mcleonard opened #1948 "Bug in hook_method_args when switching types of arguments"
I’m running into a strange bug in `overloaded_native_method`. I can run this code:

[code]

without any problems. Then do `a + 1` without a problem. But then if I do `a + b` again I get this error:

[code]

I think it’s something in this line `new_self, new_args = syft.frameworks.torch.hook_args.hook_method_args("__add__", self, args)`. I think `hook_method_args` is having issues dealing with alte

[2019-02-26 17:45] #1948 closed

[2019-02-26 21:13] mcleonard commented on #1943
Yeah! NamedTensors look awesome. This would definitely be a fun project at some point.

[2019-02-28 17:22] LaRiffle commented on #1941
This seems complicated, would involve registering datasets objects which we dont want to do, better way would be to make a special method to search a dataset (ie given a set of tags T, and search T + #train and T + #test and build a Dataset out of the referenced)

[2019-02-28 17:22] #1941 closed

[2019-02-28 18:49] niuguy commented on #1811
I think your solution is elegant by making async tasks a chain,  however, have you ever checked this paper? http://papers.nips.cc/paper/4687-large-scale-distributed-deep-networks.pdf   I just had a glance,  it might be more practical for large scale , though you may say it's not real asyn...

[2019-02-28 20:08] iamtrask opened #1953 "Laplace Mechanism with proper Floating Point Snapping Mechanism"
We need a Laplace Mechanism for Differential Privacy which is fitted with the proper [Snapping Mechanism](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.366.5957&rep=rep1&type=pdf) so that it can be used with FloatingPoint operations. It should be usable with the SensitivityTensor out of the box.

[2019-02-28 20:10] iamtrask commented on #1953
Related: https://arxiv.org/pdf/1306.2691.pdf

[2019-03-01 16:51] robert-wagner opened #1958 "Automatically add workers to known workers"
Since each worker has access to the hook, we are able to get the workers that the local workers has knowledge of at creation. This allows us to automatically add the new worker on spinup to all workers known workers

[2019-03-03 09:36] LaRiffle commented on #1939
Fix with #1961

[2019-03-03 09:36] #1939 closed

[2019-03-03 10:37] alaaboudib commented on #1958
I am interested in this issue. However, I am new to PySyft, I just followed the 8 tutorials. Can you please explain this issue a bit more? maybe give a concrete example of what you are willing to have as a result?

[2019-03-03 12:08] alaaboudib commented on #1456
Hello @iamtrask, @robert-wagner ,

I am new to OpenMined.

I made an attempt to contribute to this issue, just a few type annotations to syft/workers/virutal.py.

Can I submit a PR?

Thanks

[2019-03-03 12:28] LaRiffle commented on #1456
Yes sure go ahead! :)

[2019-03-03 13:13] alaaboudib commented on #1456
Cool, here is it #1962

[2019-03-03 14:39] iamtrask opened #1963 "Port PATE to PyTorch"
https://github.com/OpenMined/PySyft/pull/1960 is currently written in Numpy - we'd like for the methods to actually run in PyTorch (although the API should still optionally accept numpy objects as input - and convert them appropriately)

[2019-03-03 14:39] #1871 closed

[2019-03-03 14:40] #1872 closed

[2019-03-03 16:05] kamathhrishi commented on #1963
Going for it !

[2019-03-03 19:40] bhushan23 commented on #1920
I would like to take this up.
Could you please give me some pointers?

[2019-03-03 19:45] bhushan23 commented on #1893
Few variables are moved to cuda
ref: https://github.com/pytorch/pytorch/issues/8378

[2019-03-03 19:47] bhushan23 commented on #1893
some of the variables are moved to 'cuda'

[2019-03-04 15:28] robert-wagner commented on #1958
Hey @alaaboudib I didn't see that you were interested in doing this issue before completing it myself this morning. Sorry about that :slightly_smiling_face:

[2019-03-04 15:35] alaaboudib commented on #1958
No problem @robert-wagner , can you refer me to your PR to learn more about how you did it?

[2019-03-04 15:56] robert-wagner commented on #1958
Hey @alaaboudib I tagged you in the pr (it is linked above this message)

[2019-03-04 16:14] alaaboudib commented on #1958
Thank you @robert-wagner

[2019-03-05 01:59] kamathhrishi commented on #1927
This could be implemented in the Polynomial tensor ?

[2019-03-05 15:14] #1958 closed

[2019-03-05 15:21] iamtrask opened #1975 "Get .max() working on PointerTensor; multiple ptrs in response"
We can't return tuples of tensors when calling remote executions. This means that functions like .max() fail on PointerTensor objects.

[2019-03-05 21:37] bhushan23 commented on #1975
[code]

Currently, `x_ptr_max()` returns  `(Wrapper)>[PointerTensor | me:73509977871 -> bob:73509977871]`
and should return `5` right?

[2019-03-06 01:27] bhushan23 commented on #1975
@iamtrask I was wondering, if we should build an interface to directly enable all torch tensor functionalities to pointer tensor? Is that something useful? Do we require all torch functionality for pointer tensor? Why do we specifically need max?

[2019-03-06 08:43] LaRiffle commented on #1975
max is one between others (torch.split, etc.), basically all functions that can return more than one tensors with fail if they are run remotely as we explicitely always make the assumption the response is a unique tensor.

[2019-03-06 19:14] sreyafrancis opened #1978 "Bug in Federated Learning on MNIST using a CNN"
Hi,
In the FederatedDataLoader function, `**kwargs` is passed as a parameter.

However, the DataLoader function implementation in Pysyft doesn't take `num_workers` and `pin_memory` as arguments as in pytorch.

    datasets.MNIST('../data', train=True, download=True,
                   transform=transforms.Compose([
                       transforms.ToTensor(),
                       transforms.Nor

[2019-03-08 07:47] Adarshsng opened #1981 "bug in Federated learning on MNIST using CNN while loading federated dataset !"
Hi,
In the FederatedDataLoader function
on the execution of this  statement
federated_train_loader = sy.FederatedDataLoader( datasets.MNIST('../data', train=True, download=True, transform=transforms.Compose([ transforms.ToTensor(), transforms.Normalize((0.1307,), (0.3081,)) ])) .federate((bob, alice)), batch_size=args.batch_size, shuffle=True, **kwargs)

It gives this as an ERROR :-

'MNIST' objec

[2019-03-09 13:43] LaRiffle commented on #1981
Would you mind sharing the complete snippet of code you used?
Thanks!

[2019-03-09 13:45] LaRiffle commented on #1978
Hi, this has been fixed in #1982
The change should be already in dev branch, and next week in master
You can now use this code and it should work!

[2019-03-09 13:45] #1978 closed

[2019-03-09 13:51] sreyafrancis commented on #1978
Okay, thanks!

[2019-03-10 05:00] Adarshsng commented on #1981
*THIS IS  THE CODE SNIPPET :- *
federated_train_loader = sy.FederatedDataLoader( # <-- this is now a FederatedDataLoader
    datasets.MNIST('../data', train=True, download=True,
                   transform=transforms.Compose([
                       transforms.ToTensor(),
                       transforms.Normalize((0.1307,), (0.3081,))
                   ]))
    .federate((bob, alice)), # <-- NE

[2019-03-10 05:01] Adarshsng commented on #1981
https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Part%208%20-%20Federated%20Learning%20on%20MNIST%20using%20a%20CNN.ipynb

 I tried to run exact code from this link but it showed that error.

[2019-03-11 22:11] LaRiffle commented on #1981
Oh this is strange, and you didn't make any changes in the code or imports ?

[2019-03-12 12:01] tushar-semwal opened #1988 "Tutorial-Part7 Input to syft.FederatedDataset should be a list"
While following the Part-7 tutorial, I tried creating the federatedDataset, however an error popped up. see below:
![Capture](https://user-images.githubusercontent.com/8556809/54198193-c3714980-44bd-11e9-97f1-4faef9dfa54c.PNG)
So, I checked the source code: syft.frameworks.torch.federated.dataset and found that the FederatedDataset class expects a list. I (trying my luck) did this:
![Capture1](htt

[2019-03-12 15:16] #1876 closed

[2019-03-12 15:17] #1975 closed

[2019-03-12 15:28] robert-wagner opened #1989 "Increase test coverage to 100%"
Currently we have 95% coverage. Ideal that coverage would be 100%

[2019-03-12 15:39] robert-wagner opened #1990 "Implement SecureNN within PySyft"
Securenn provides ways to perform operations such as comparison on algebraically shared tensors. This issue is an epic to track progress of implementing the various functions needed for securenn

[2019-03-12 18:51] Ankk98 commented on #1989
I would like to start my contribution to OpenMined with this issue.

[2019-03-12 18:52] Ankk98 commented on #1989
This issue is assigned or I can work on it?

[2019-03-12 19:17] robert-wagner commented on #1989
@Ankk98 Feel free to work on it! I will be iterating on it over time but would love any help.

[2019-03-13 19:02] iamtrask opened #1992 "Urgent: fail gracefully when initializing two VirtualWorker objects with the same id/name"
When people are introduced to PySyft, they often fall into the mistake (particularly in Jupyter Notebbooks) of initializing a VirtualWorker with the same ID twice. This causes really strange errors because both workers end up co-existing together. We need to modify the VirtualWorker (or perhaps the BaseWorker) API to make it so that this fails gracefully (aka... that the new worker actually become

[2019-03-14 03:51] MarcioPorto commented on #1456
@robert-wagner @iamtrask I am planning on doing some further work on this issue, and I noticed that `.mypy_cache/` was removed from `.gitignore` in ab6c727c877019640342d3297e9a86028487cce9. I also can't locate a lot of the work done in https://github.com/OpenMined/PySyft/pull/1641.

Does this mean we're moving away from using `mypy`?

[2019-03-14 14:27] antonrd commented on #1456
Small PR that would hopefully help a bit with this issue: https://github.com/OpenMined/PySyft/pull/1994

[2019-03-14 14:39] robert-wagner commented on #1456
Hey @MarcioPorto It looks like that pr was made to the torch 0.3.1 branch and never made it into the torch 1.0 branch. Would be happy to have mypy support

[2019-03-14 14:40] LaRiffle commented on #1992
At any moment, you can check all the virtual workers present on your process by retrieving syft.hook.local_worker.(known_workers) as they get automatically added to this list on __init__. Just making a search and returning the already existing one if any should fix the pb

[2019-03-14 21:17] MarcioPorto commented on #1456
Awesome, I'll work on bringing that back (unless @replomancer wants to do it) and add some new annotations.

[2019-03-18 19:05] robert-wagner commented on #1992
@LaRiffle Tried this out. Trying to naively return the known worker with the same id, causes over half of the tests to fail. I am of the impression it might be best to make this simply throw a verbose error for the moment. #2000 for reference to my changes

[2019-03-19 15:14] #1988 closed

[2019-03-20 16:51] LaRiffle opened #2003 "Add status for Plan"
Add a status attribute which gives a bit of information about the plan task: is the plan built / sent / run / failed / etc.

Inspiration can be found on the celery project syntax -> http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html

[2019-03-25 11:25] mccorby opened #2009 "Configuration of the system"
While working on `seder` I found out that more and more having a configuration would help when adding workers.
In the case of external workers (Android, web sockets) they do not have direct access to the configuration used when starting the federated setup. Though part of this information can be inserted in the stream sent and received by the workers other is only part of a set of assumptions

Hav

[2019-03-25 23:17] mshubhankar opened #2011 "Federated learning not working on multi-layer fully connected model"
I am trying to build a federated model with 2 virtual workers bob and alice. I am following code from examples folder to build my model. The model seems to perfectly it is a single fully connected layer but doesn't learning when I increase the layers and change loss function to CrossEntropy.
**Single Layer:**
**Model -**
`model = nn.Linear(8,2)
loss= torch.nn.MSELoss()`
**Output -**
<img width="83

[2019-03-26 00:30] XinDongol opened #2012 "which line is doing the FederatedAverage in tutorial 8"
I am following the tutorial 'Part 8 - Federated Learning on MNIST using a CNN.ipynb'.

[code]

**I am wondering which line is doing the `FederatedAverage`?**

---------------------------------------------
In tutorial 4 'Federated Learning via Trusted Aggregator.ipynb'.
`FederatedAverage` is quite clear.
[code]

[2019-03-26 15:41] robert-wagner opened #2014 "Support .train with different tensor types (ie addively shared)"
as a follow up to #1942 we want to ensure that autograd tensor works with addive shared tensor

[2019-03-26 16:47] LaRiffle opened #2016 "Create a hook module"
We currently have many files doing hooking (hook.py, hook_args.py, overload_torch.py, torch_attributes.py), maybe it deserves a better organisation

[2019-03-26 17:57] kamathhrishi commented on #2012
Hello @XinDongol We aren't doing Federated Averaging with this tutorial. The tutorial was just to demonstrate how we could train an image classifier using federated learning. Sure , you could perform federated averaging if you would like :)

[2019-03-27 03:20] XinDongol commented on #2012
@kamathhrishi
Thanks for your reply.

So if we have two clients.
[code]
This tutorial is actually training two independent models. One is bob's model on bob's data and the other one is alice's model on alice's data.

**Is it correct?**

[2019-03-27 08:41] midokura-silvia commented on #2012
@XinDongol
No, only one model is trained in Tutorial 8, in a completely sequential way. The federated_train_loader will provide in each step a remote batch of data and the model in trained on this batch.
With the current implementation of the FederatedDataLoader, first all batches of bob are provided then the batches of alice are returned.
In the end it is the same as training the model one epoch

[2019-03-27 17:31] #2012 closed

[2019-03-27 17:35] XinDongol commented on #2012
Thanks a lot!
@midokura-silvia @kamathhrishi

[2019-03-28 08:11] LaRiffle commented on #1906
solved by #2005

[2019-03-28 08:11] #1906 closed

[2019-03-28 20:19] mari-linhares commented on #2011
Hey @mshubhankar, I'm having a look at this. I'll let you know if I find anything. Can you share the notebook you're using (a [gist](https://gist.github.com/) link would be great)? Thanks!

[2019-03-28 23:22] mari-linhares commented on #1992
@robert-wagner just tried your solution (#2000) with a small modification and it seems to work, can you check if it makes sense just made the PR #2022. Thanks!

[2019-03-29 14:09] #1992 closed

[2019-03-30 21:38] mshubhankar commented on #2011
Thank you for looking into the matter @mari-linhares . The link to the gist code is [here](https://gist.github.com/mshubhankar/94bb81d13290ed29f687fdeafefee5d9) .

[2019-03-31 18:31] mari-linhares commented on #2011
Hi @mshubhankar, I've modified your code to use a fake dataset and I was able to see the model training using multi-layers and crossentropy ([here](https://gist.github.com/mari-linhares/c6c76ed8933b6cfed785d6c95b34e5fe).

The only big difference from my example to yours is that you're using AdamOptimizer, try to use SGD instead. I think momentum is not yet supported so that's why you may be seeing

[2019-03-31 20:43] mshubhankar commented on #2011
Oh thank you so much @mari-linhares !!!! I have been banging my head for this for such a long time now for this!

[2019-03-31 20:43] #2011 closed

[2019-04-01 11:35] mari-linhares opened #2029 "Is `start_proc` always needed to start a websocket server?"
For all examples available, or being built, the [`start_proc`](https://github.com/OpenMined/PySyft/blob/dev/test/conftest.py#L10) function is used to create a websocket server.

Is this wrapper function always needed? If so, should we move this function to syft?

[2019-04-01 13:22] jlebensold commented on #2029
The start_proc method is just to run two threads. Presumably in most environments it would not be required since each machine will run on it’s own main thread. This is test harness code and should not be part of the core lib

[2019-04-01 19:32] mari-linhares commented on #2003
Hey @LaRiffle, can you point me to where in celery project syntax it mentions task? Should the status be a string indicating the last operation performed with the plan?

[2019-04-01 21:47] bhushan23 commented on #1893
@mari-linhares nice finding. This is changing default tensor type and should be considered as a work around for now. What we are truely looking for is to to data transfer over cuda

[2019-04-02 07:34] LaRiffle opened #2030 "Hooking __ eq __"
I tried to hook the == sign by hooking __ eq __ just like I did with > and __ gt __ but this didn't work, when comparing pointers for example I get "NotImplemented"
So far I fixed the pb by replacing __eq __ by torch.eq but any help on this is welcome!

[2019-04-02 14:15] #1867 closed

[2019-04-02 14:15] LaRiffle commented on #1920
Done for FixedPrecision & AdditiveSharedTensor

[2019-04-02 14:16] iamtrask commented on #1810
Irrelevant given new Async Design schema

[2019-04-02 14:18] #1810 closed

[2019-04-02 14:37] jlebensold opened #2034 "Remove checks for binary strings all over the code base"
We need a consistent way of doing serialization / deserialization that takes into account our serialization strategy (e.g. `msgpack`).

[2019-04-02 14:55] robert-wagner opened #2035 "Add search functionality for plans"
We want data owners to be able to call .search on a worker which has a plan and get a pointer to that plan. In practice this means we need to add tags to plans as well as a way to register them to a worker

[2019-04-02 15:25] kamathhrishi opened #2036 "Custom Federated Data Loader Tutorial"
Create a tutorial explaining how the users could create custom Federated Data Loaders to load their data. Ideally an example of image and text dataset. Example of how this was done with text dataset is given in the <a href="https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Advanced/Federated%20Word%20Vectors.ipynb">Federated Word Vectors Tutorial</a> .

[2019-04-02 19:56] mari-linhares commented on #1893
@bhushan23 do you know why changing the tensor to FloatTensor works? I'm not using my work computer right now, but I assume since there's no error that the data is transferred over to cuda. I'll check when I get home.

[2019-04-02 20:17] bhushan23 commented on #1893
@mari-linhares
try changing `torch.set_default_tensor_type(torch.cuda.FloatTensor)` with `torch.set_default_tensor_type(torch.FloatTensor)` you will be able to reproduce original error.

`set_default_tensor_type` creates tensors of specified type and I think, setting to cuda float tensor is leading to ensuring hook is also using cuda.floattensor and hence no error as both `new_data` and `native_pa

[2019-04-05 17:02] mari-linhares commented on #2036
Is there any major difference in the creation of a federated data loader to a regular pytorch data loader?

[2019-04-05 17:12] kamathhrishi commented on #2036
@mari-linhares There are some minor differences which is why it helps to have a separate tutorial on it :)
For, instance unlike Torch data loader you can't load text inside the training loop and then convert them to torch tensors, you need to convert them beforehand so that they could be sent to the desired workers and there are some attributes that need to be created such as data and target.

[2019-04-05 21:13] mari-linhares commented on #2036
Cool, makes sense. Thanks for the great explanation!

[2019-04-07 15:11] kamathhrishi opened #2046 "Hook Torch zeros and rand"
While they might seem like a minor issue. It is necessary for the end users to have torch.zeros , torch.rand and torch.linspace to  initialize hidden layers or create custom datasets.

[2019-04-07 15:23] LaRiffle commented on #2046
Can you give an example of what you would like and you error you get at the moment ?

[2019-04-08 13:45] peter9711 opened #2047 "Key error in hook_args when calling torch.randn()"
[code]

`a=torch.randn_like(torch.ones(1,2))`
works properly but error occurres when executing torch.randn()
[code]

[2019-04-08 14:57] kamathhrishi commented on #2047
The thing is that we haven't hooked torch.randn yet. Check issue https://github.com/OpenMined/PySyft/issues/2046 we should hopefully get it ready soon. For now what you could do is create a random array in numpy and convert it to a torch tensor.

[2019-04-08 14:58] kamathhrishi commented on #2046
@LaRiffle check this out https://github.com/OpenMined/PySyft/issues/2047#issuecomment-480867982

[2019-04-08 15:21] LaRiffle commented on #2047
Thanks @peter9711 for reporting this issue, don't hesitate tu put the full stacktrace next time, the real message was in the part you cut. I'm issuing a fix in a few minutes!

[2019-04-08 15:36] LaRiffle commented on #2047
#2048

[2019-04-08 15:36] #2047 closed

[2019-04-08 21:03] #2035 closed

[2019-04-09 07:25] flo257 opened #2049 "Custom Neural Network in Federated Learning"
Hi,
I've experienced a problem while replacing the simple Neural Network of the "Federated CIFAR 10 Example" with more complex ones - eg. those untrained models in torchvision.models.

I've replaced `model = Net().to(device)` by
`import torchvision.models as models; model = models.resnet18()` and left everything else untouched, but at `output = model(data)` I'm always receiving a "RuntimeError: bo

[2019-04-09 14:11] #1943 closed

[2019-04-10 15:58] kamathhrishi commented on #2049
@flo257 Thank you for raising this issue, I will have a look at it and get back to you. True, we haven't particularly thought of developing support for pretrained models from torch vision , but in the near future we will ensure the support for it is taken care of :)

[2019-04-12 09:08] iamtrask opened #2060 "PaillierTensor"
Basically - just wrap this library in a new Syft Tensor type.

https://github.com/n1analytics/python-paillier

[2019-04-12 09:10] iamtrask commented on #2049
Hi @flo257 - it sounds like there's an issue with the way the model is deserialized. In particular, we have to wrap all of our custom tensor types (wrapped by empty tensors). There's no reason why your operation shouldn't work - but it's hard for me to debug without seeing the code. Can you upload what you've got here? How can I reproduce?

[2019-04-12 13:16] flo257 commented on #2049
Sure - I've used the "Federated CIFAR 10 Example" here on GitHub from `/examples/tutorials/advanced/`and only changed the line `model = Net().to(device)` into `import torchvision.models as models; model = models.resnet18().to(device)` while leaving everything else untouched.

You can reproduce this by simply changing this line on the tutorial in the jupyter notebook and start the training process.

[2019-04-12 13:22] iamtrask opened #2061 "Add Jupyter Notebooks to Unit Tests (Travis)"
It would be great if we could add the notebooks to Travis so that they are automatically run (at least the notebooks we want to test). This would help us know when changes to the codebase break demos.

[2019-04-12 14:36] mari-linhares opened #2062 "plan.send() implementation is not intuitive"
Currently, the send operation for plans is lazy, which in practice means that the plan is not actually sent when you call send.

This behavior is confusing and different from the expected behavior when sending tensors.

Here is an example of a unintended effect that can be very confusing :confused: : https://github.com/OpenMined/PySyft/blob/dev/test/workers/test_plan.py#L137

[2019-04-12 17:10] LaRiffle commented on #2062
You're right this is a real problem. The lazy behaviour is because we need to build the plan prior to sending it, so we wait until it is executed on some data to sent it, otherwise we should run it on mock data which would very un practical.

One thing easy would be to change the name .send() to something else so that there would be no confusion, like .delegate()
Another possibility would be that

[2019-04-12 17:23] mari-linhares opened #2063 "int(10e10 * random.random()) all over syft"
int(10e10 * random.random()) is used in multiple files to generate Ids, could we create a module to deal with id generation? Or maybe a utility file that could be accessible from every module?

[2019-04-12 18:33] jvmancuso commented on #2062
Just to chime in an opinion without much context -- the ability to take code that's executed dynamically (i.e. without a plan) and turn it into code that's compiled statically (i.e. with a plan) should require as little modification as possible, since I imagine the intended workflow would be to develop code dynamically (for intuition) in preparation to deploy it statically (for speed).  There are

[2019-04-12 18:34] jvmancuso commented on #2062
One of those APIs was a context manager that's sent and executes when you leave it -- could be an interesting option to investigate

[2019-04-12 18:35] mari-linhares commented on #2062
I feel that we're trying to hard to make the tensor interface work for the plan interface (pointers, search, send, ...) when in practice it doesn't bring that many benefits as we expect.

Having said that I think the first option (send -> delegate (or something else)) could be a cleaner and easier to follow interface than actually trying to explain how send works for plans.

[2019-04-13 01:47] jvmancuso commented on #2062
I think what I meant is that it would be nice if there was minimal thought for a user when interacting with this abstraction.  With a context manager, one could take code that runs in the normal way (i.e. interactively sending tensors/RPCs), wrap it with a single line, and all of a sudden have it execute as a plan.  So a user can focus on the logic of their code without worrying about batching thi

[2019-04-15 08:25] replomancer commented on #2061
I think I even wrote about this on Slack a few months ago. I'd like to get involved in development again. Can I take this one?

[2019-04-15 08:46] iamtrask opened #2069 "Plaintext-speed SMPC Linear Regression"
This project is to port the following Paper/Code into PyTorch. It makes claims of plaintext-speed linear regression which could be very useful to users of PySyft.

Paper: https://arxiv.org/pdf/1901.09531.pdf
Code: https://github.com/jbloom22/DASH/

[2019-04-15 08:53] schimpffabian opened #2070 "Adam causes errors in training loop"
[Related to #1909]

I tracked down the error to
 'optimizer = optim.Adam(model.parameters(), lr=1e-3)' in my code,  'optimizer = optim.SGD(model.parameters(), lr=1e-3)' works.

My guess is that this is related to me using PyTorch 1.0 .

The code can be found in https://github.com/2fasc/Distributed_Malaria/blob/master/src/federated_training.py

[code]

[2019-04-15 08:59] schimpffabian opened #2071 "Federating datasets doesn't work with subsets"
I don't know if this is an issue of general interest but PySyft would be more versatile if it were more agnostic in the way it handles datasets in dataset.federate((...))

I wrote a little tool to convert Subsets (also of ImageFolder datasets) to regular Datasets as a fix but it ain't a pretty solution:

[code]

[2019-04-15 09:51] alhparsa commented on #2060
I can give it a shot

[2019-04-15 10:56] kamathhrishi commented on #2061
I don't t remember what @replomancer wrote , but one way of doing this is to have a bash script run first that find all jupyter notebooks and runs jupyter convert ... The command to convert jupyter notebooks to Python script and run the Python scripts as unit tests.

[2019-04-15 11:37] jbloom22 commented on #2069
Well that'd be sweet! I'll do my best to answer any questions.

Roughly speaking, efficient distributed algorithms _are_ privacy-preserving algorithms because efficiency requires minimizing the number of bits serialized over the network.

In the case of linear regression, we can "quotient out" rotational invariance,  factoring the problem into plaintext compression (e.g., X^T X, effectively reduci

[2019-04-15 12:40] jbloom22 commented on #2069
And in case you're not satisfied by my cheeky reference to the Pythagorean Theorem (https://en.wikipedia.org/wiki/Plimpton_322) as the proof of the Lemma, here's a home-brewed geometric proof (there must be plenty of short algebraic proofs in the lit):

Let P be the orthogonal projection from R^N to C^perp (the orthogonal complement of the column space of C), so PC = 0. Let b and g be the fit para

[2019-04-15 14:48] akontaxis commented on #2069
I'd definitely be interested in taking up this project this if it's still unassigned!

[2019-04-16 05:35] minujawahar commented on #194
from syft.he.paillier import KeyPair

my error is No module named 'syft.he'.
how to solve these error?

[2019-04-17 11:17] kamathhrishi commented on #2061
@replomancer you may go ahead. it's a much required feature right now and it would be great to have your help :)

[2019-04-17 11:40] feigaoxyz opened #2076 "Search remote data will cause the data being deleted"
I've experimented on getting PySyft to work with remote worker with its own dataset.
During these, I found out the `search` from local will cause the data deleted on the remote.

Relevant files in [this gist](https://gist.github.com/feigaoxyz/99dffd2f4336417f83f0cf4e1c80d8fd).

To trigger the error,
1. First run `python remote.py` in one terminal window
2. Then run `python local.py` from another t

[2019-04-17 11:48] iamtrask commented on #2076
This is usually because a function (in this case search()) is returning pointers with self.garbage_collect_data==True. This means that when the pointers are deleted (garbage collected) that it sends a delete command to the remote machine.

[2019-04-17 11:48] iamtrask commented on #2076
Have you gotten https://github.com/OpenMined/PySyft/tree/dev/examples/experimental/Federated%20Learning%20Experiment to work on your local setup?

[2019-04-17 11:50] iamtrask commented on #2071
Very interesting feature! What kind of subset are you interested in selecting?

[2019-04-17 11:53] iamtrask commented on #2070
Hmm - it's not totally clear to me why this would be the case. Will require a deeper look. I don't think we have any unit tests around Adam so this might just require new functionality to get working.

[2019-04-17 11:53] iamtrask commented on #2063
+1 to this - and in fact we should probably start switching to a much larger hash instead of an int. We will eventually get to a scale where collisions (accidential or malicious) are a bigger deal.

[2019-04-17 11:55] iamtrask commented on #2062
Context manager seems to have some critical UX limitations here. We need the ability to explicitly send plans, serialize plans, store plans, and search for plans. I don't see how a context manager would enable this.

[2019-04-17 11:57] iamtrask commented on #2062
Note - I think it's quite likely that the Async / Futures framework will be able to do everything Plans intend to do - although the code required for it is considerably more complex (as is the UX).

[2019-04-17 11:59] iamtrask commented on #2062
@mari-linhares - it seems like we should either ditch .send() altogether OR make .send() not lazy.

[2019-04-17 12:02] LaRiffle commented on #2070
I'm looking at it right now
First observation: Adam optim works in the setting of https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Part 8 - Federated Learning on MNIST using a CNN.ipynb you you replace the SGD optim with Adam.

[2019-04-17 12:05] feigaoxyz commented on #2076
Yes, I can get this example working.

(A side note, perhaps it would be better to have some detail instructions in files to help others running.)

[2019-04-17 12:11] LaRiffle commented on #2070
Oh actually it fails, but after a certain number of batch iterations
[code]

[2019-04-17 12:13] LaRiffle commented on #2070
I suspect there is a bug in the hooking as the loss is increasing

[2019-04-17 12:25] LaRiffle commented on #2070
Ok here is the trouble: Adam uses momentum (actually: second moments of the gradients), which means it stores the gradients in a list and for each batch produces a correction of the current gradient based on the old ones. When changing of batch owner (so in Part 8 of tutorial at the middle of the epoch), you have now gradients from alice which you want to correct with moments of old gradients owne

[2019-04-17 12:29] LaRiffle commented on #2071
@iamtrask I assume it is linked to this example: https://github.com/2fasc/Distributed_Malaria/blob/master/src/federated_training.py

[2019-04-17 12:36] iamtrask commented on #2070
Is there a way for us to perhaps clear out the momentum as needed? (reset to None)

[2019-04-17 12:43] iamtrask commented on #2070
Hey @2fasc - seems like the solution here is to have different optimizers for different machines (one for bob, another for alice, etc.) Eventually we'll write custom Federated optimizers but for now this is the solution :)

[2019-04-17 12:44] LaRiffle commented on #2070
Fastest way to do this is probably to have a dict of optimizers, the key being the data.location, this would keep the code simple

[2019-04-17 18:01] replomancer commented on #2061
Allright! I'm on it.

[2019-04-17 18:42] mari-linhares commented on #2070
Just wondering, is this related to #1909 ?

[2019-04-17 18:46] mari-linhares commented on #1910
I've just executed the script with no error, probably this was naturally fixed by time. @LaRiffle, @robert-wagner

[2019-04-18 02:05] LiviaCavalcanti commented on #2063
Hey, is this problem free, in the way that I can  work on it?

[2019-04-18 02:07] kamathhrishi commented on #2063
Yes , go ahead! It would great to have your help on this :)

[2019-04-18 07:16] 2fasc commented on #2071
I'm using `torch.utils.data.random_split(dataset, size_set)` to split datasets into train, test and validation sets. This basically creates a new class that contains the original dataset and adds a list of indices assigned to each split.

Exactly. I'm curious how imbalanced label distributions affect federated / distributed training.

[2019-04-18 13:25] mari-linhares opened #2079 "Create interface for objects able to send and catch tensor operations"
As discussed at #2068:

In the future is possible that this functionality could be useful for other non-worker objects. I suggest that we create an interface that implements this and a worker implements this interface.

[2019-04-18 14:41] 2fasc opened #2080 "Net has no attribute 'share'"
I faced the same error pointed out in the comment section of your blog post Encrypted Deep Learning Classification with PyTorch & PySyft in my project  https://github.com/2fasc/Distributed_Malaria/blob/master/src/federated_training.py.

AttributeError: 'Simple_CNN' object has no attribute 'share'

https://blog.openmined.org/encrypted-deep-learning-classification-with-pysyft/

[2019-04-18 17:05] IonesioJunior opened #2081 "Problem at encrypted evaluation with remote workers"
When I try to implement an encrypted evaluation application using remote workers, I am experiencing the following problems:

Traceback (most recent call last):
  File "/usr/lib/python3.6/logging/__init__.py", line 994, in emit
    msg = self.format(record)
  File "/usr/lib/python3.6/logging/__init__.py", line 840, in format
    return fmt.format(record)
  File "/usr/lib/python3.6/logging/__init__.

[2019-04-18 17:42] kamathhrishi commented on #2069
@akontaxis Go for it :)

[2019-04-18 17:48] mari-linhares commented on #2081
Hey @IonesioJunior,

I'll have a look at this!

[2019-04-18 17:55] mari-linhares commented on #2076
@feigaoxyz can you open a new issue (or issues) pointing to parts of the documentation that are not clear?

Thank you!

[2019-04-18 17:57] mari-linhares commented on #1990
@robert-wagner @LaRiffle should this be closed?

[2019-04-19 00:48] mari-linhares commented on #2081
@IonesioJunior, I've just tried using the `dev` branch and it works. Can you try again with the most updated version of `dev`?

[2019-04-19 00:54] IonesioJunior opened #2082 "Add Secure layer at socket communication between Websocket workers"
Communication among remote workers seems to be in plain text (serialized only). This would allow a **man-in-the-middle attack**
I thought about adding a layer of security by adding symmetric encryption between components.

For this, I thought of the following sequence of steps:
1. Add the Diffie-Hellman protocol when opening a socket with a component, to generate a shared key between workers.
2. U

[2019-04-19 00:59] mari-linhares commented on #2080
+1

[2019-04-19 09:52] kamathhrishi commented on #2060
@alhparsa Go ahead , it would be great to have it part of PySyft :)

[2019-04-19 20:53] IonesioJunior commented on #2081
My current settings:
syft == 0.1.12a1
Python == 3.6.7
torch == 1.0.1.post2

The error still persists with these settings, but discarding the possibility of a bug has lessened my effort to find the problem. I believe it's something related to the multiple versions of python / libraries that I use on my machine. I'll dig deeper.
Thank you anyway  :smiley:.

[2019-04-19 20:53] #2081 closed

[2019-04-20 10:52] LaRiffle commented on #2080
It is defined here: https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/hook.py#L981

Can you share a code sample failing please?

[2019-04-20 11:56] kamathhrishi opened #2083 "Error Creating Tensor of Tensors"
You get an error stating TypeError: Not a Sequence when you create a tensor of tensors. This does not occur when test functions are called manually locally but occurs when Travis is run. I am guessing we haven't hooked the function that is used to create a tensor using tensors.

`torch.tensor([torch.tensor(1),torch.tensor(2),torch.tensor(3)])`

[2019-04-20 15:03] 2fasc commented on #2080
`import torch
import torch.nn as nn
import torch.nn.functional as F
import syft as sy

class Simple_CNN(nn.Module):
    def __init__(self):
        super(Simple_CNN, self).__init__()
        self.conv1 = nn.Conv2d(3, 20, 3, 3)
        self.conv2 = nn.Conv2d(20, 50, 3, 3)

        self.fc1 = nn.Linear(50, 500)
        self.fc2 = nn.Linear(500, 2)

    def forward(self, x):
        x = F.relu(self.c

[2019-04-20 17:06] jcezarms commented on #2003
@mari-linhares it mentions it by the name "state". If you `CTRL+F state` on the given link, you can see for example [how they manage `PENDING` states](http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html#result-backend-doesn-t-work-or-tasks-are-always-in-pending-state), and in their docs there's also a [list of all built-in states](http://docs.celeryproject.org/en/l

[2019-04-20 17:07] jcezarms commented on #2003
Just to point out, they also [support custom states](http://docs.celeryproject.org/en/latest/userguide/tasks.html#custom-states), which in my opinion would be a nice feature to support here as wel.

[2019-04-20 18:16] jcezarms commented on #2063
@iamtrask what about something along the lines of `random.SystemRandom().getrandombits(n)`? In this case, `n` would be up to discussion, I'd say 128 fits the purpose. A higher `n` contributes ~an extra bit~ in terms of security on hashing, which I suppose is a priority for PySyft.

[2019-04-20 18:57] joeddav commented on #1932
Does this issue depend on #1928? If not, I'd be interested in tackling it.

[2019-04-21 22:10] mari-linhares commented on #2063
@LiviaCavalcanti @jcezarms FYI: there is already an id generator entity abstraction at [base.py](https://github.com/OpenMined/PySyft/blob/dev/syft/workers/abstract.py)

[2019-04-21 22:51] mari-linhares commented on #2079
@LaRiffle any idea about how to make this work? I've tried for a bit, but I'm having a hard time.

I think the problem is the ways plans are built ([more specifically line 146](https://github.com/OpenMined/PySyft/blob/cd4d6e985c03b9cf57b784c4f49eed47e116bbda/syft/workers/plan.py#L146)). Any ideas or suggestions?

[2019-04-21 22:57] mari-linhares commented on #2080
@2fasc just tried this code snippet with the most current version (dev branch) and it seems to run. Can you try again?

[2019-04-22 07:37] feigaoxyz commented on #2076
Hi @iamtrask

Are you able to reproduce this error from your side?
The simplest way is to replicate the search and asserts again after the first round in [this standard test file for websocket worker](https://github.com/OpenMined/PySyft/blob/4251f728bdff186328b7c24603dedf09e3037230/test/workers/test_websocket_worker.py#L51-L55).

[2019-04-22 07:46] feigaoxyz commented on #2076
Hi @mari-linhares

Some of my thoughts on the "FL experiment" example as its current state:
1. add a readme to guide user to run the server with either
  - `FLASK_APP=server.py flask run`; or
  - add `app.run()` in `server.py` and run `python server.py`
2. a clean-up on `ipynb`.

I might put a PR when I got some time.

[2019-04-23 07:20] 2fasc commented on #2080
@mari-linhares thank you! It works :+1:

`pip install https://github.com/OpenMined/PySyft/archive/dev.zip`

[2019-04-23 10:58] LaRiffle opened #2088 "Make Pointer not specific to Tensors"
As we start sending more objects than just tensors (so TrainConfig, Plan), we would like to have Pointer be more general and no only associated to Tensors. It wouldn't change much from what it is: have a location and forwards commands, but would be way more elegant!

A Pointer could point at Tensors of course, but also at Plans, at Config, or at anything which is stored in the remote worker resgit

[2019-04-23 11:49] mari-linhares commented on #2080
@2fasc (or @LaRiffle) can you close this issue?

[2019-04-23 12:58] #2080 closed

[2019-04-23 20:28] iamtrask opened #2092 "Build Warnings"
#1801 seems to have introduced new build warnings which we should address.

[code]

[2019-04-24 00:00] kamathhrishi commented on #2092
Oops ,  I will work on this @iamtrask

[2019-04-24 12:40] LaRiffle commented on #2079
So maybe what we could do is, instead of recreating a worker of each plan, to use the plan owner.
Example:
you have a plan f and some data x, which you all send to bob. F is unbuild. When you do f(x) the first time, you tell bob "Hey, the next commands you'll get should be stored in the my plan f", you run the commands in f, and then "Ok bob, now build the plan with those commands and run it", and

[2019-04-25 02:04] mari-linhares commented on #2079
Right now, I feel like we can treat each specific case differently like was done in #2098.

[2019-04-25 02:04] #2079 closed

[2019-04-25 11:09] #2063 closed

[2019-04-25 14:48] LaRiffle commented on #2070
@mari-linhares exactly!

[2019-04-25 22:18] iamtrask commented on #2069
Hey @akontaxis how's it goin? Also, are you in the Slack (if so, what's your username?)

[2019-04-26 04:24] akontaxis commented on #2069
Hi @iamtrask ! Yep, I'm on slack (username is also akontaxis).

It's going alright -- I put together a [basic notebook](https://nbviewer.jupyter.org/github/akontaxis/PySyft/blob/plaintext_speed_regression/examples/experimental/plaintext_speed_regression_example.ipynb) that walks through an example of the linear regression case. Securely performing the linear solve at the end is still a to do, so w

[2019-04-26 21:55] mari-linhares opened #2105 "A new Tensor should be automatically registered if local_worker is not a client worker"
import syft as sy
import torch as th
hook = sy.TorchHook(th, is_client=False)
me = hook.local_worker
print(me._objects)  # {}
x = th.tensor([1, 2, 3])
print(me._objects) # {}

[2019-04-27 00:51] #2105 closed

[2019-04-29 17:30] mari-linhares opened #2110 "Move simplifier and detailer from serde to specific objects"
How serde [simplifiers](https://github.com/OpenMined/PySyft/blob/dev/syft/serde.py#L1290) and [detailers](https://github.com/OpenMined/PySyft/blob/dev/syft/serde.py#L1340) are related is not very intuitive.

Every time a new simplifier is created the index needs to be updated and the index created needs to match the index of the detail function at the detailers list. Especially because there is `s

[2019-04-29 17:39] robert-wagner commented on #2110
I think it may be a better idea to move each simplifier and detailer to the file which defines the object. In that case serde would only need to keep the higher level logic and the simplifiers for built in python types making everything easier

[2019-04-29 17:42] mari-linhares commented on #2110
Agree, I think a detailers dict/list would still be needed right?

[2019-04-29 18:00] mari-linhares commented on #2061
@replomancer any updates :)?

[2019-04-30 11:51] #2082 closed

[2019-04-30 13:37] mari-linhares commented on #2082
Closed by #2087.

[2019-04-30 16:41] mari-linhares opened #2114 "Is there a better option than time.sleep for tests?"
Multiple unit tests use time.sleep to delay execution. Maybe worth exploring other options.

[2019-05-01 12:01] jbloom22 commented on #2069
I've updated the demo in the repo to clarify that the matrix `R` need not be shared publicly:
https://github.com/jbloom22/DASH/

[2019-05-02 02:01] sashank06 commented on #1903
is this issue still open?

[2019-05-02 06:03] #2036 closed

[2019-05-02 12:25] avitalsh opened #2117 "Conv2D not working in MPC"
Hi,
I tried running the code in [tutorial 10](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/Part%2010%20-%20Secure%20Deep%20Learning%20Classification.ipynb) with only changing the model to be a conv2D layer, followed by a fc layer:

[code]
I got the following error -
RuntimeError: _thnn_conv2d_forward is not implemented for type torch.LongTensor

I assume it has to do with the

[2019-05-03 12:56] midokura-silvia opened #2120 "Rename WebsocketClientWorker and WebsocketServerWorker"
I would propose to rename the two classes as follows:

WebsocketClientWorker => WebsocketRemoteProxy or WebsocketRemoteInterface or WSRemote...
WebsocketServerWorker => WebsocketRemoteWorker

"Remote" could also be replaced by the word client, e.g. WebsocketClientProxy and WebsocketClientWorker

The idea is to avoid the words client and server. Currently they are used as given by their roles in th

[2019-05-03 13:09] jacorbachosky commented on #2120
I agree with the name of `Proxy`. I thought of using it for the `SocketIO` object too as that's its function in the setup

[2019-05-03 13:10] mccorby commented on #2120
(I used my other username in the previous comment :) )

[2019-05-03 13:11] mari-linhares commented on #2120
+1 to Proxy.

[2019-05-03 14:34] midokura-silvia commented on #2120
Any preference for Remote vs Client?
WebsocketRemoteProxy + WebsocketRemoteWorker
or
WebsocketClientProxy + WebsocketClientWorker

[2019-05-03 14:45] mari-linhares commented on #2120
No strong opinions, but I would say client is more informative than remote.

[2019-05-05 02:49] kamathhrishi commented on #1743
@robert-wagner Shall I close this issue?

[2019-05-05 03:16] mari-linhares commented on #2009
@mccorby is this still open (in discussion)?

[2019-05-05 03:18] mari-linhares commented on #2030
@LaRiffle should we close this issue?

[2019-05-05 03:29] mari-linhares commented on #2034
I think this was partially covered by serializing/deserializing strings explicitly, is this right @iamtrask ?

[2019-05-05 03:39] mari-linhares commented on #1963
Closing it!

[2019-05-05 03:39] #1963 closed

[2019-05-05 03:42] mari-linhares commented on #1929
Currently not I'm working on this, but I would like to help in the future.

[2019-05-05 03:46] mari-linhares commented on #1922
@jlebensold is this still a valid issue? I don't think I understand the concept of plan and client/server interaction here. Can you add more details?

[2019-05-05 03:47] mari-linhares commented on #1920
If this is still relevant maybe list missing types?

[2019-05-05 03:48] mari-linhares commented on #1910
Closing this, since I believe it's fixed.

[2019-05-05 03:48] #1910 closed

[2019-05-05 03:51] mari-linhares commented on #1903
@robert-wagner can we close this?

[2019-05-05 03:52] mari-linhares commented on #1902
@mcleonard can we close this?

[2019-05-05 03:55] mari-linhares commented on #1746
@iamtrask can we close this?

[2019-05-05 03:58] mari-linhares commented on #1547
@kamathhrishi  can we close this based on #1967 ?

[2019-05-05 06:24] kamathhrishi commented on #1547
@mari-linhares I have ported the analysis implementation in Pytorch. I am working on implementing an PATE model.

[2019-05-05 06:59] DanyEle opened #2122 "Backpropagation not producing gradients"
I'm currently working on the implementation of the federated training of a Recurrent Neural Network, and I stumbled upon the following issue: when operating on the remote pointer of the loss function initialized with Negative Log Likelihood, the grad_fn function is not set and it will still say "requires_grad=True" despite the loss function being set in the code:

![requires_grad_True](https://use

[2019-05-05 07:51] mccorby commented on #2009
There has not been much of a discussion about it. I still think it will be necessary if we intend to expand PySyft to other systems but we can reopen this if we need to
Or maybe I can come back with a plan :)

[2019-05-05 07:51] #2009 closed

[2019-05-05 08:11] kamathhrishi commented on #1506
This should be closed ?

[2019-05-06 11:24] mari-linhares commented on #2122
I've tried to run the snippet above, and I got the following error:

[code]

I've changed line 12 to: `output = torch.from_numpy(np.ones((1, 18)))`

And the script doesn't break, it gives me the following output:

[code]

I'm using

[2019-05-06 11:39] DanyEle commented on #2122
Thank you for running my example!!
Yes, that's exactly the same output I got too. Isn't the pointed loss supposed to have grad_fn=<NllLossBackward> too? (the first tensor you're showing) . However, the issue is not in the loss per se,  but later on. In fact, after the backpropagation phase, not all the gradients are present as model's parameters in the federated version. (just 2 gradients are pres

[2019-05-07 06:22] DanyEle commented on #2122
I tried replicating my issue with the hidden layer, the model, the output and the input arguments obtained via the `"copy().get()"` function and the backpropagation seems to be successfully working in that case, with all gradients being present in the model.

This is the current non-working version:
![image](https://user-images.githubusercontent.com/4907418/57276202-20921180-70a1-11e9-9238-9fa10f6

[2019-05-07 06:45] DanyEle commented on #2122
I think I managed to fix it!! I inspected PySyft's code and I found out that the code for creating grad_objects was commented out

![image](https://user-images.githubusercontent.com/4907418/57277405-60a6c380-70a4-11e9-9ea3-602282d459eb.png)

Because this code was commented out, the gradients could clearly not be computed. I de-commented it
 and it seems to be working. Is there any particular reaso

[2019-05-07 15:28] iamtrask opened #2126 "Torch 1.1 Integration"
So PyTorch just released torch 1.1 and it causes a lot of failing Unit Tests because of some breaking API updates. We need to address them.

[2019-05-07 16:18] robert-wagner commented on #1903
@sashank06 is on this

[2019-05-07 18:19] joeddav commented on #1932
I'm looking into this, but am running into the problem that there's no good way of getting unaccumulated batch gradients in PyTorch. That is, you can't get and clip the gradient of each individual data point without calling `.backward` separately for each. See the discussion here from someone else that ran into the same issue:

https://stackoverflow.com/questions/53798023/computing-gradients-for-e

[2019-05-08 20:19] mari-linhares commented on #2122
Fixed by #2127, great job @DanyEle!

[2019-05-08 20:19] #2122 closed

[2019-05-08 20:31] mari-linhares commented on #2117
Hey @avitalsh,

I've just tried and I think this is the case as well..

Yes, feel free to create a PR!

[2019-05-08 21:54] pkc-harry opened #2130 "python3 setup.py test fails with "test_plan_built_on_method Illegal instruction""
I've followed https://github.com/OpenMined/PySyft/blob/dev/INSTALLATION.md and https://pytorch.org/get-started/locally/ to install torch-1.0.1.post2.

The install goes fine, but the test errors out with theses last two lines of output...
.....
test/federated/test_plan.py::test_plan_built_remotely PASSED

[2019-05-08 23:18] pkc-harry commented on #2130
======================================================================
I've tried a local install and I'm getting ..
ERROR: syft 0.1.14a1 has requirement torch==1.0.1, but you'll have torch 1.0.1.post2 which is incompatible.
torch               1.0.1.post2

Then I did the torchvision install and got...
torch                1.1.0
torchvision         0.2.2.post3

no syft !

[2019-05-09 08:48] SohamMazumder opened #2132 "Batchnorm Layer incompatible"
I am using trying to the notebook Part 8 - Federated Learning on MNIST using a CNN.ipynb but with a modified model. I have added a batchnorm layer as follows.
'
 class Net(nn.Module):
     def __init__(self):
         super(Net, self).__init__()
         self.conv1 = nn.Conv2d(1, 20, 5, 1)
         self.conv2 = nn.Conv2d(20, 50, 5, 1)
         self.fc1 = nn.Linear(4*4*50, 500)
         self.fc2 =

[2019-05-09 13:07] mari-linhares commented on #2130
@pkc-harry can you install torch 1.0.1 instead of torch 1.0.1.post2 and try it out?

[2019-05-09 13:40] pkc-harry commented on #2130
Sure.
I cleared out all other installs and tried it with

torch (1.0.1)
torchvision (0.2.2.post3)
syft (0.1.13a1)

same error resulting. [test/federated/test_plan.py::test_plan_built_on_method Illegal instruction]

[2019-05-09 13:42] mari-linhares commented on #2130
Thanks, I'll try to reproduce it.

[2019-05-09 17:57] #2076 closed

[2019-05-10 07:58] midokura-silvia commented on #2120
Any more opinions out there?
@robert-wagner wrote:

As a new option, we could also remove the word client and name the classes:
WebsocketProxy + WebsocketWorker

In my opinion the original naming WebsocketServerWorker and WebsocketClientWorker is confusing, as you think of setting up a federated training where client and server have different meanings.

[2019-05-10 22:15] liaoj12 opened #2135 "Demo Part 2 Failed"
Hi,
I just tried the part 2 example here, and it didn't work when calling the second train() and the error message is:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 5, in train
  File "~/anaconda3/lib/python3.6/site-packages/syft-0.1.14a1-py3.6.egg/syft/frameworks/torch/hook.py", line 929, in module_send_
  File "~/anaconda3/lib/python3.6/site-pack

[2019-05-11 00:22] liaoj12 commented on #2135
Ok, downgrading pytorch back to version 1.0.0 works....

[2019-05-11 00:22] #2135 closed

[2019-05-12 10:25] pkc-harry commented on #2130
I've done a near identical build from scratch.

test/workers/test_worker.py::test_get_unknown_worker PASSED                                                                                                     [ 99%]
test/workers/test_worker.py::test_search PASSED                                                                                                                   [100%]
================

[2019-05-12 18:20] mari-linhares commented on #2130
Thanks for trying @pkc-harry!

Probably it was syft version... don't think it was numpy.

[2019-05-12 19:56] mari-linhares opened #2137 "Seriealize/Deserialize grad_fn"
Currently, `grads` is serialized but `grad_fn` is not.

I believe without this change is not possible to send a model and train it remotely.

[2019-05-12 21:03] #2016 closed

[2019-05-13 12:41] iamtrask commented on #2137
With AutogradTensor from @mcleonard , this should be possible.

[2019-05-13 17:42] mari-linhares commented on #2137
#1902

[2019-05-14 22:16] jopasserat commented on #1893
This issue is breaking [tutorial 8](examples/tutorials/Part%208%20-%20Federated%20Learning%20on%20MNIST%20using%20a%20CNN.ipynb) at the moment when used with CUDA.

I've tried to apply @mari-linhares 's [workaround](https://github.com/OpenMined/PySyft/issues/1893#issuecomment-478717757) to no success so far:
  - when set after distributing the dataset, the instruction crashes with `IndexError: lis

[2019-05-15 14:03] jvmancuso opened #2142 "Cannot bring my own version of pytorch"
The [installation guide](https://github.com/OpenMined/PySyft/blob/master/INSTALLATION.md) states that I should install pytorch before installing syft, however installing syft uninstalls the version of pytorch I downloaded (in this case, this wheel file: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl).

A workaround is to install my own version of pytorch after insta

[2019-05-15 14:08] jvmancuso commented on #2142
whoops, looks like syft uses 1.0.1 :smile:

[2019-05-15 14:08] #2142 closed

[2019-05-16 17:14] iamtrask opened #2145 "LargePrecisionTensor"
In many cases, native hardware does not support precision which is large enough for the cryptographic use cases we'd like to solve. For example, Android cannot support larger types than Float (or unsigned Int), and PyTorch cannot support larger types than a Signed Long. Unfortunately, we need types that are much larger than this (256 bytes in some cases would be ideal).

In this project, we would

[2019-05-16 20:50] kamathhrishi commented on #2132
@SohamMazumder We haven't hooked BatchNorm yet. So you will have to stick to Linear and CNN layers till then.

[2019-05-17 01:20] JonathanChiang opened #2146 "Question: Can PySyft be used for sklearn as well?"
is there any limitations or further research on whether the application of sklearn ml pipelines be done in a federated manner?

[2019-05-17 06:02] mccorby commented on #2145
I'll pick this up

[2019-05-17 09:13] racinger commented on #2076
Hi everyone,

I have been experiencing the same issue as @feigaoxyz .
So after updated pysyft. It is no longer deleting the tensor as intended.

But now there is an error only when I use a real remote IP as WebsocketServerWorker ( I am using an AWS instance).
[code]
[code]
Any suggestions, I would like to help (but I guess I ll star with beginning issue).
Thanks,

[2019-05-18 08:30] mccorby commented on #2145
What should we do when two `LargePrecisionTensor`s represent numbers of different precision?
For example, let n1 in 2**128 and n2 in 2**64 and objective bits 32
This will result in two matrices with different dimensions: matrix_n1 1x4 and matrix_n2 1x2.

I can find a way of doing (finding the offset and then only taking into account relevant cells but it will be cumbersome and slow). So if anyone

[2019-05-18 09:31] Jasopaum commented on #2145
Could padding be a solution in your case? I mean casting n2 in 2^128 with all the MSB at 0

[2019-05-18 09:37] mccorby commented on #2145
I thought about it but then what to do in a multiplication?

[2019-05-18 14:34] LaRiffle opened #2150 "local_worker.is_client_worker = True and Garbage collection"
I observed that the `hook.local_worker.is_client_worker = False` in conftest.py had an influence on the reference count of pointers, which increases from 2 to 3. As a consequence, pointers of pointers don't get deleted with garbage collection (GC).

I'm not sure where this additional reference happens, but this is something we want to avoid, as GC is **very** important for FL.

[2019-05-19 15:18] Jasopaum commented on #2117
I am dealing with this issue

[2019-05-19 15:26] LaRiffle commented on #2145
Maybe you could start by enforcing similar precision just as we might have done for FixedPrecision tensors?

[2019-05-20 08:29] racinger commented on #2110
Hello @mari-linhares,

I am working on this issue.
Thanks,

[2019-05-20 14:59] #2126 closed

[2019-05-20 16:33] mari-linhares opened #2154 "Should plans be implemented using torchscript?"
Discussion started at [slack](https://openmined.slack.com/archives/C6EEFN3A8/p1558209789003100).

**Main pros:**

1) Faster development
2) Way simpler code base

**Main setbacks:**

1) Need to interface with non-pytorch environments (syft.js for federated learning across browsers, and Syft for Android for federated learning across phones)

But is not clear if torchscript works on javascript or jav

[2019-05-20 16:34] mari-linhares commented on #2154
@midokura-silvia

[2019-05-20 19:32] mari-linhares commented on #2154
Question:can we re-use torch jit's implementation of [serialization](https://pytorch.org/docs/stable/jit.html#torch.jit.save) and still work PySyft specific tensors?

I believe ideally the operations performed by scriptModules would automatically adapt based on the input tensor (a.k.a if an encrypted tensor is given the output should also be an encrypted tensor), not sure if this would work out of

[2019-05-21 03:06] mari-linhares commented on #2154
#2155

[2019-05-21 05:12] songchuangyuan opened #2156 "RuntimeError: set_storage is not allowed on Tensor created from .data or .detach()"
In the Part 2: Intro to Federated Learning，have a code running error：RuntimeError: set_storage is not allowed on Tensor created from .data or .detach().
![image](https://user-images.githubusercontent.com/46445562/58070014-03456300-7bca-11e9-9830-bdb9edff42f4.png)

[2019-05-21 12:04] mari-linhares commented on #2156
Hey @songchuangyuan,

I've just executed the notebook using PySyft most current version (dev branch) and it works.

Can you check if you're using an updated version of PySyft and re-run the notebook? Thanks!

[2019-05-21 15:40] #2130 closed

[2019-05-22 13:01] midokura-silvia opened #2161 "Hooking process, torch.jit / PySyft compatibility"
I noticed an issue when using torch.jit after hooking torch from PySyft.
The following code instantiates an instance of Net() twice. Once before hooking and once after.
Before the hooking it is instantiated without problem, but afterwards I get a NameError.
Any ideas what in the hooking process could provoke this?

[code]

---------------------------------------------------------------------------

[2019-05-22 14:12] mari-linhares opened #2162 "POC: torchscript serializable along with syft operations"
In order to implement plans with torchscript we need a proof of concept showing that is possible to serialize torchscript along with syft operations.

Per instance:

[code]

Should ideally work out of the box.

[2019-05-22 14:13] mari-linhares commented on #2162
#2154

[2019-05-22 18:21] #1743 closed

[2019-05-22 18:22] mari-linhares commented on #1746
closing it :), feel free to re-open this if needed.

[2019-05-22 18:22] mari-linhares commented on #1743
closing it :), feel free to re-open this if needed @robert-wagner

[2019-05-22 18:23] #1746 closed

[2019-05-22 18:23] mari-linhares commented on #1990
closing it :), feel free to re-open this if needed.

[2019-05-22 18:23] #1990 closed

[2019-05-23 22:27] acyrl commented on #2156
In tutorial 4:
I get the same error on the cell:
[code]
If I downgrade from `torch 1.1.0` the error goes away.

[2019-05-23 22:42] acyrl commented on #2156
I did a bit more digging -- see [this](https://discuss.pytorch.org/t/api-change-for-tensor-data-set-in-torch-nightly/33310) discussion.

Following the solution provided in the link above, If I change:
`model.weight.data.set_(((alices_model.weight.data + bobs_model.weight.data) / 2).get())`
to
[code]

[2019-05-24 09:25] midokura-silvia commented on #2161
For this small example it is sufficient to exclude torch.nn.linear from the hooking process.
in the function syft.frameworks.torch.hook.hook.TorchHook._hook_torch_module :
[code]
However, we should understand what happens during the hooking process that is incompatible with jit.

[2019-05-24 16:25] LaRiffle commented on #2092
They are now almost removed except one

[2019-05-24 20:25] IonesioJunior opened #2168 "Error: matmul operation with websocket workers"
I'm trying to run a [simple code snippet](https://hastebin.com/uhafamejey.py) that applies the matmul method on two SMPC tensors.

But I'm having problems when applying spdz multiplication (more precisely when trying to **reconstruct** the delta and epsilon tensors).
https://github.com/OpenMined/PySyft/blob/734742554358f5fc8ef6942a4aca042746aafc89/syft/frameworks/torch/crypto/spdz.py#L31-L32

When

[2019-05-25 11:13] mccorby commented on #2145
I've been doing some progress on this issue (see https://github.com/OpenMined/PySyft/pull/2147/) but I'm not sure I am going in the right direction.
There are a few things I'm finding for which I'd like some input:
- Am I overcomplicated things :) ?
- A `torch.Tensor` can't be at the head in the chain. If this would be possible we wouldn't need this class!
- I'm using `.child` to hold the tensor g

[2019-05-26 11:19] niladell commented on #1893
_Disclaimer: I needed this running (asap) to train a dataset large-ish on GPU, so it's more like a hacky workaround than an actual solution, but I'll be happy if it helps anyone with the same problem._

So I was experiencing the same problem as @jopasserat . I think the problem was that the function that handles function commands in hooks.py needed to convert a _non-tensor_ to a _torch.tensor_ , b

[2019-05-28 12:54] mari-linhares commented on #2168
I'm on it.

[2019-05-28 14:26] robert-wagner opened #2171 "Lock all requirements"
We want to be sure that all our requirements play nicely with each other. As such we want to set minimal versions for which they work (like we have for torch now)

[2019-05-28 16:47] LaRiffle commented on #2145
Hey @mccorby I'm looking into it right now,
I think you're doing the right thing no worries :)
So actually it would be in a chain where indeed the head would be a `torch.Tensor`, but maybe in this kind of way: I have torch.tensor([3.0]) which I want to express in fixed precision with fixed_precision=512 (stupid but why not). In that case, the head is that torch.tensor and below I get the LargePrec