[2019-09-11 10:39] niklausliu commented on #2607
Thanks for your help. I am going to modify my code. Can you leave me your email address? I think maybe I still have a lot of bugs, because this is my first time using pysyft.

[2019-09-11 14:35] niklausliu commented on #2607
But I have seen many examples of syft GRUs module and have not found any difference with my pytorch native GRUs. Can you give me a few examples of the syft GRUs module?

[2019-09-11 14:38] niklausliu commented on #2607
And I can not find syft.framworks.torch.nn in this website https://pysyft.readthedocs.io/en/latest/modules/syft.core.frameworks.html

[2019-09-11 14:42] andrelmfarias commented on #2607
They were recently added to pysyft, so they are not included in the main documentation yet.

You can take a look at the modules here:
https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/nn/rnn.py

But in fact, they work exactly as PyTorch API (same args, etc.) you just need to import them from `syft.frameworks.torch.nn` (eg: `from syft.frameworks.torch.nn import GRU, LSTM, RNN` ) an

[2019-09-11 14:48] niklausliu commented on #2607
Thanks for your help. I will adjust my code again and I will tell you any updates. Thank you again for your help.

[2019-09-11 14:53] cereallarceny commented on #2607
@niklausliu - **We're happy to help in the OpenMined community.**  But as a general rule, we're not tech support.  While you may have a problem running PySyft, and there may be a legitimate issue here, **everyone** who works on the OpenMined project works for free.  I just want to set a clear expectation that we aren't here to be your personal tech support and we certainly aren't here to provide o

[2019-09-11 14:53] #2607 closed

[2019-09-11 15:30] niklausliu commented on #2607
OK, I got it! Thank you for your help!!!

[2019-09-13 14:45] OrhunKar opened #2615 "method2plan is not supported anymore error in Introduction to plan part 08"
in Introduction to plan part 08 there is method2plan but it is not supported anymore

**To Reproduce**
Steps to reproduce the behavior:
Run 14th code cell in the tutorial

I was working on google colab

[2019-09-17 03:13] sunilsu opened #2616 "federated dataset with lazy loading"
I have a large dataset and want to load only a batch of data at a time, for  training on each client. How can I create a federated dataset with this behavior? Could you point me to an example if one is available?

Thanks!

[2019-09-17 09:44] MarterLee commented on #2574
I meet the same error, I think “torch==1.1” in requirements.txt case this bug, however there is no version 1.1, it mast be 1.1.0  for the mark "==". I change the  requirements.txt and install it. it's running well.

[2019-09-17 11:31] sanvenDev opened #2618 "Why does Input to Model requires gradient when using Secure MPC."
**Describe the bug**
When we share the model and data to different virtual workers, then obviously it's the Model whose requires_grad should be True and data's requires_grad should be False, but when I pass this data which doesn't requires gradient to the model, I get following error:
"RuntimeError: bool value of Tensor with more than one value is ambiguous"

While when set requires_grad True for

[2019-09-18 17:41] iamtrask opened #2620 "Auto-creation of framework hooks"
**Is your feature request related to a problem? Please describe.**
I find it frustrating that every time I import syft I have to create a hook
[code]
**Describe the solution you'd like**
I'd like to have an import option which creates the hook automatically. I.e.
[code]
and then just start coding, with a "hook" variable created automatically and put on sy (sy.hook).

[2019-09-18 17:47] jvmancuso commented on #2620
There might be a concern here when we're using multiple frameworks in one script -- the global state of `syft.hook` might need to reference more than one hook.  This can be solved by assigning each one to a specific `syft.framework.hook`, i.e. `syft.torch.hook`, but then that's a lot of global state to maintain, so we'd probably want a solid way of dealing with that.  Right now it's a bit hand wav

[2019-09-18 17:52] iamtrask commented on #2620
Great point - although I think my assumption was that you'd only use these
if you knew which framework you were using (and you were only using one)

On Wed, Sep 18, 2019 at 6:47 PM jvmancuso <notifications@github.com> wrote:

[2019-09-18 17:58] jvmancuso commented on #2620
Yeah, I've been leaning toward a combination here.  Currently, `syft.torch =TorchAttributes(torch)` is still called during `TorchHook.__init__`, but I'm assigning `syft.framework = syft.torch` as well.  `syft.framework` manages which framework & hook are currently being used, and when you switch between e.g. torch and tensorflow there would be some implicit switch of `syft.framework = syft.tensorf

[2019-09-18 18:01] iamtrask commented on #2620
Love it! Maybe close this PR when you merge?

On Wed, Sep 18, 2019 at 6:58 PM jvmancuso <notifications@github.com> wrote:

[2019-09-18 18:02] robert-wagner commented on #2620
We actually tried this before when we only had pytorch (I might still have the branch somewhere) Creating the hook automatically causes so many problems when you are importing syft in other parts of the library as well as when you are just running it through an autoformatter/the test suite etc. We probably could hack around that but it would not be fun

[2019-09-18 18:02] robert-wagner commented on #2620
All for Jasons changes assuming they dont have similar problems

[2019-09-18 18:16] iamtrask commented on #2620
This is why I thought that it should be it's own package. syft itself
shouldn't create a hook, but syft_torch should (and shouldn't be imported
internally anywhere)

On Wed, Sep 18, 2019 at 7:02 PM Robert (Bobby) Wagner <
notifications@github.com> wrote:

[2019-09-18 18:24] jvmancuso commented on #2620
Ah, yeah, so that is definitely a separate issue than managing multiple hooks.  Right now syft_torch etc. need to be imported inside `syft/frameworks/__init__.py`, and since `syft/__init__.py` imports that directory, it's roughly the same as doing it in syft.  I'd suggest we leave this issue blocked by the work I mentioned above, and resume conversation once that stuff lands.

[2019-09-18 18:37] iamtrask commented on #2620
No no - I'm not advocating for *anything* to call syft_torch (ever). I'm
saying we should create a separate PyPI package which literally just
imports syft, torch, and creates a hook for you.

On Wed, Sep 18, 2019 at 7:24 PM jvmancuso <notifications@github.com> wrote:

[2019-09-18 19:04] jvmancuso commented on #2620
Oh, got confused because the pythonic name of PySyft-PyTorch will inevitably be `syft_torch`.

[2019-09-19 13:37] DanyEle commented on #2544
It should be sufficient to use two web sockets running on two separate machines.

[2019-09-19 14:38] sunilsu commented on #2616
I was able to do that using train config (add_dataset to worker).

[2019-09-19 14:38] #2616 closed

[2019-09-22 12:49] LaRiffle commented on #2544
Agreed, I'm closing this because it has not been active for 1 month

[2019-09-22 12:49] #2544 closed

[2019-09-22 13:21] LaRiffle opened #2621 ".squeeze(1) transforms autograd gradient to None"
**Describe the bug**
This bug is reported in #2618, where in the sample of code adding or remove .squeeze(1) make the gradient None or not.
Support should be added for this function in autograd.

[2019-09-22 13:23] LaRiffle opened #2622 "Operate autograd tensors with normal tensors"
**Describe the bug**
See ambiguity in Issue #2618, where we need to add `requires_grad = True` to input data to get the computation working.
We should do as we did for operating FixPrecisionTensor with AdditiveSharedTensor

See code of #2618 for details.

[2019-09-22 13:24] LaRiffle commented on #2618
Hey, thanks for your feedback.

This is a bug related to `.squeeze(1)`. Remove this and you will get the gradient. I opened an Issue #2621

You're 100% right. However, if you know about PySyft, you know it relies chain of tensors like `Parameter>AutogradTensor>FixedPrecisionTensor>[AdditiveSharingTensor]...`. We currently hardly handle operating tensors with different chain structure, and in parti

[2019-09-22 13:27] LaRiffle commented on #2615
Hey,
The tutorial has been updated, you should update your repo :)
https://github.com/OpenMined/PySyft/pull/2569/commits/36330ab3a7df7c874819b320071e3dc2a7252b4d

[2019-09-22 13:27] #2615 closed

[2019-09-23 05:19] dashitoishi23 opened #2623 "Microsoft Visual Studio 14.0 required error pops up while installing PySyft and VS 14.0 is already installed in system"
**Installation bug**
I was trying to install PySyft from the Anaconda Command Prompt and an error popped up saying "Microsoft Visual Studio 14.0 required". The latest version is already installed in my system

**To Reproduce**
Steps to reproduce the behavior:
1. Create an environment in conda
2. try "pip install syft" and error popped up

**Desktop (please complete the following information):**
 -

[2019-09-23 13:11] MarterLee opened #2624 "loss.backword() doesn't work in vertical federated learning"
all the examples are about horizontal federated learning. And I don't have any instructions on vertical federated learning.
and I try as follow:

[code]

and the parameters don't update.

why?

the dataset has 130 features ,I split it into two datasets, each has 65 features ,so  add the output of  two models will get the prediction. it's a kind of vertical federated learning.

[2019-09-23 14:13] midokura-silvia commented on #1456
Closing issue as
- type annotations now used in PySyft code
- inactivity

[2019-09-23 14:13] #1456 closed

[2019-09-23 14:14] #1506 closed

[2019-09-23 14:16] #1735 closed

[2019-09-23 14:18] midokura-silvia commented on #1868
#2160

[2019-09-23 14:18] #1868 closed

[2019-09-23 14:20] #1890 closed

[2019-09-23 14:20] #1691 closed

[2019-09-23 14:21] #1920 closed

[2019-09-23 14:22] #1922 closed

[2019-09-23 14:29] #1981 closed

[2019-09-25 10:57] LaRiffle opened #2625 "Invalid registration on tensor when calling .fix_prec().share(...)"
**Describe the bug**
when calling .fix_prec().share(...), the fix precision tensor gets registered at the same place than the normal tensor:

**To Reproduce**
[code]
**Expected behavior**
```expected: x = th.tensor([1.0])```

[2019-09-26 15:57] bhadreshpsavani commented on #2608
I will work on this issue

[2019-09-26 20:05] tallalj commented on #2623
can you show the full error prompt you got in terminal?

[2019-09-27 10:10] sanvenDev commented on #2618
Okay. Thanks.

[2019-09-27 10:10] #2618 closed

[2019-09-27 10:13] sanvenDev commented on #2494
Can anyone fix this to the original PySyft Code? I'm also facing same issue, when workers are greater than 2.

[2019-09-27 10:45] sanvenDev opened #2631 "MPC not working with more than or equal to 3 workers"
I tried training a model using MPC, using 2 workers was successful. (A minor issue I noticed when using refresh() in computing loss, the loss values are good, otherwise it's computes big large values, which is not interpretable, any clue why this happens can be great to my research.)
Anyways but when using 3 or more workers, I'm facing errors.
First I got error:

[code]

I tried cloning the repo,

[2019-09-27 19:59] jvmncs opened #2632 "Make PyTorch completely optional."
Currently, pytorch-dependent syft code is mostly separate from the core syft code (in that most core syft code does not need to import torch at all), but pytorch isn't yet truly optional.

This issue will be complete once the following have been completed and merged:
- [ ] `pip install syft` no longer installs the `torch` package as a dependency.
- [ ] `import syft` completes successfully without

[2019-09-27 20:16] jvmncs opened #2633 "Migrate code to PySyft-PyTorch"
Requires the following to be true:
- [ ] CI for PySyft-PyTorch (syft-torch) has been setup.
- [ ] `syft/frameworks/torch/*` now lives in syft-torch.
- [ ] pytorch-related tests are moved over to syft-torch, but are importable and runnable from PySyft main
- [ ] Import statements in the syft package are up to date.
- [ ] Optional imports from syft-torch are managed via `syft.dependency_check.torch_

[2019-09-28 13:06] matthew-mcateer commented on #2632
"truly optional"? I'm interpreting this as meaning building up the core syft code to be as independent of pytorch as possible, and setting up an optional pytorch backend much like `keras` does with `tensorflow` and `theano, right?

[2019-09-30 04:03] tahirdev opened #2634 "Method __array__ method not producing an array"
**Describe the bug**
When running tutorial “Part 10 - Federated Learning with Secure Aggregation”, fix_precision() gives this error.

**To Reproduce**
Run this tutorial file: https://tinyurl.com/y6yfcn57
Error comes at "Part B: Encrypted Aggregation"

**Expected behavior**
Run without any error

**Screenshots**
<img width="1002" alt="Screenshot 2019-09-28 at 2 49 56 PM" src="https://user-images.gi

[2019-10-01 06:22] aditya-malte opened #2635 "Deploying with Android as workers"
How to deploy a federated model(eg. Logistic Regression) keeping Android mobiles as workers

[2019-10-01 06:31] jacorbachosky commented on #2635
Hi,
This is not yet possible. The Android worker only accepts a very limited set of operations. We need to extend it to be able of working with `PyGrid` and plans.

[2019-10-01 13:03] sukhadj commented on #2625
I would like to work on this issue. Can you please tell me from where I can start? Thanks.

[2019-10-01 13:08] LaRiffle commented on #2603
Is solved with the refactor plan to come

[2019-10-01 13:09] LaRiffle commented on #2601
Is solved with refactor plan to come

[2019-10-01 13:59] jvmancuso commented on #2632
Yes, more or less. There is some context missing from this issue, most of it can be found in [this RFC](https://github.com/OpenMined/rfcs/blob/master/20190808-modular-pysyft-frameworks.md), and more specifically [here](https://github.com/OpenMined/rfcs/blob/master/20190808-modular-pysyft-frameworks.md#packaging).

Worth noting that "building up the core syft code to be independent" is already comp

[2019-10-01 20:11] LaRiffle opened #2637 "handle_command_function doesn't use @overloaded.module for pure tensors"
**Describe the bug**
In native.py lives the changes made to the torch tensor
In particular, like other syft tensors, it has the following decorator @overloaded.module
[code]
and a class method handle_func_command which is supposed to call it to change some torch function behaviours (here torch.roll)
But this is not the case for pure torch tensors, you can check it by yourself
handle_func_command s

[2019-10-04 02:39] mkucz95 commented on #2494
I started looking into this, but it looks like most or all the functions in securenn.py only allow for two workers (alice, bob to be specific). Since I am relatively new to PySyft it's starting to look a little more intense than just changing the syntax to what I suggested earlier.

[2019-10-04 08:13] #2062 closed

[2019-10-04 11:16] cereallarceny opened #2642 "Part 07 example has abnormally high loss"
**Describe the bug**
In the `/example` folder, Part 07 has a very high loss amount, even after 10 epochs.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Jupyter Notebook
2. Go to the 7th example and run the notebook all the way through.  The last code blog where you train the model creates an abnormally high loss rate... in the thousands.

**Expected behavior**
I'd expect the loss to be

[2019-10-05 19:36] LaRiffle commented on #2625
Will be fixed with #2627

[2019-10-07 12:10] LaRiffle opened #2645 "Refactor serde.py to fix type codes"
**Is your feature request related to a problem? Please describe.**
The serialization / deserialization process maps a int code to each class of objects. This is done automatically in serde.py from a list of types currently, so each time an objects is added in the middle of the list all the codes change, which is problematic for other libs depending of pysyft, as they deserailize from the codes to

[2019-10-07 17:48] bendecoste opened #2646 "__init__ function of class not hooked properly"
The __init__ method of a class gets hooked by calling [`_add_registration_to___init__`](https://github.com/OpenMined/PySyft/blob/dev/syft/generic/frameworks/hook/hook.py#L255).  An example of this is shown [here](https://github.com/OpenMined/PySyft/blob/dev/syft/frameworks/torch/hook/hook.py#L210).

I am curious about the purpose of the `is_tensor` flag.  This flag is later used in [`initialize_te

[2019-10-07 20:23] #2586 closed

[2019-10-08 16:48] cereallarceny opened #2649 "Remove msg_type for all Message classes"
**Is your feature request related to a problem? Please describe.**
In Serde we're using codes like 31, 32, 33 to describe `Message`-based classes, but then we're also keeping track of `msg_type`, which creates strange simplification strings:

`(31, (1, CONTENT_GOES_HERE))`
`31` means `Operation` in Serde
`1` means `Operation` in `codes.py` where `msg_type`'s are defined

**Describe the solution yo

[2019-10-08 16:48] cereallarceny commented on #2645
Will this conflict with this other issue https://github.com/OpenMined/PySyft/issues/2649?

[2019-10-09 07:42] LaRiffle commented on #2645
No I don't think wo we would rm the stuff from codes.py but reuse the logic of it for serde

But this might conflict with #2439

[2019-10-09 07:44] #2642 closed

[2019-10-09 08:07] cereallarceny commented on #2645
Could we try to fix this first before merging #2439?

[2019-10-09 08:43] LaRiffle commented on #2645
Yes I agree this might be a good first step!
@vvmnnnkv I'm pinging here so that you can follow all the convs :)

[2019-10-09 11:38] vvmnnnkv commented on #2645
Hi @LaRiffle, thanks for pinging!
This issue seems to be same as #2439 except in #2439 codes are coming from proto package not from codes.py as suggested here.
So I'm confused - what should be fixed as a first step? :)
Msg types in #2649?

[2019-10-09 12:32] midokura-silvia commented on #2396
@kakirastern Is this done? Can we close this issue?

[2019-10-09 12:35] kakirastern commented on #2396
Yup, I have modified the file on Google Colab so it should be fine now. At least it was the last time I checked.

[2019-10-09 12:55] #2396 closed

[2019-10-09 14:29] wydwww commented on #2259
This issue happened again on macOS Catalina and all the solutions above cannot fix it.
Same error message as above.
`
error: command 'gcc' failed with exit status 1
`

[2019-10-09 15:28] yeggasd commented on #2634
I have traced the error to be thrown when we are trying to do a ```np.abs()``` on ```self.clone().detach.numpy()```. I have not found a fix or workaround for this yet.

[2019-10-09 19:44] cereallarceny opened #2654 "REFACTOR: Serde"
### Overview
I would like to propose that we establish official standards for Serde in a way that's semi-agnostic to language. I've noticed a good many inconsistencies along the way of making my own version of Serde for syft.js. I'll mention them here as best as I can remember, but I will consider this issue to be a "catch-all" epic for all related Serde issues. This document will be a living docu

[2019-10-09 21:06] iamtrask commented on #2654
1, 2, and 3 I wholeheartedly agree with.

4. As you mentioned, 4 (from a protocol standpoint) returns us back to reversing 1. Given the symmetry between 1 and 4, perhaps language can manage the different message types however is most appropriate for the language (if statements or abstract class hierarchy). Aka, PySyft could keep doing it the way it currently is, and Javascript could choose to impl

[2019-10-10 02:12] hi-hi-there commented on #2634
Hmm seems like can't work directly on the pointer, so I called a "get" on the pointer.
I'm new to this so if someone thinks this is wrong, do point it out! but for now this works:

Under **part B**:
Change `fixed_precision_param = copy_of_parameter.fix_precision()`
to `fixed_precision_param = copy_of_parameter.get().fix_precision()`

and change `new_param = (spdz_params[0] + spdz_params[1]).get().

[2019-10-10 08:07] LaRiffle commented on #2259
Could you add more elements about the stacktrace? Haven't you find any useful information on stackaoverflow?

[2019-10-10 08:19] wydwww commented on #2259
@LaRiffle I fixed the issue by installing the full Xcode and reinstalling the command line tools. The command `pip install syft` works well now. Please close this issue, thanks.

[2019-10-10 14:18] sukhadj commented on #2637
I am interested to work on this issue.

[2019-10-10 14:34] justin1121 commented on #2654
Hey, as the author of the protobufs RFC, just wanted to say this all makes sense to me. Any incremental improvements to the standardization of serde should (could?) help with the effort of Protobufs. Hopefully we'll see some of the development in protobufs come to fruition in the coming months.

[2019-10-10 14:55] jvmancuso commented on #2654
7. I'm not sure what exactly you're hoping to do here, but it sounds like something [Hypothesis](https://hypothesis.readthedocs.io/en/latest/) might be able to help with.

[2019-10-10 15:18] cereallarceny commented on #2654
Thanks for chiming in @justin1121 - sorry for not tagging you on the issue!  I'd be thrilled for us to implement Protobuf once we reach a bit more stability and cross-compatibility with Serde.  Appreciate you delaying that RFC until we make more progress here.

@jvmancuso - thanks for joining in as well.  I'll look into Hypothesis more.  I think what I'm looking for in particular is to actually se

[2019-10-10 15:58] #2624 closed

[2019-10-11 10:59] sukhadj commented on #2637
@LaRiffle Can you please give an example of `handle_func_command` call? And also what is the significance of `handle_fun_command`? I am a little confused. Thank you.

[2019-10-12 11:33] Titan-C commented on #2259
I had similar problems on my linux system. The problem is conda's gcc and ld conflict with the system's ones. Using a plain python virtualenvironment instead of conda solves the problem.

I created a PR #2662 to extend the readme on this issue.

[2019-10-14 05:36] LaRiffle opened #2663 "Make default frameworks datasets searchable"
**Is your feature request related to a problem? Please describe.**
`.search()` currently returns datasets manually added to workers.
We could extend the functionality to retrieve popular datasets from the framework when no local result is found.

- PyTorch: `torchvision.datasets` https://pytorch.org/docs/stable/torchvision/datasets.html
- TensorFlow `tf.data.Datasets` https://www.tensorflow.org/da

[2019-10-14 06:12] wind23 opened #2664 "Failed to run "python setup.py test" with test/keras/test_sequential.py"
When I try to run `python setup.py test` in the PySyft project, such error messages appear. What would be the problems and how to solve it?

Thank you!

    test/generic/test_id_provider.py::test_get_recorded_ids PASSED                                                                                     [ 21%]
    test/generic/test_object_storage.py::test_clear_objects PASSED

[2019-10-14 13:36] LaRiffle commented on #2637
handle_command_function is called automatically when you call a torch function. Depending on the type of the args provided to the torch function, the `handle_command_function` of the appropriate class will be called (you can check that there is indeed one per Tensor type class).

The mechanism which handles this is in hook.py line 425

`native.py` is intended to extend the torch Tensor. But recall

[2019-10-14 15:03] robert-wagner commented on #2663
I'm not sure I agree with this in the long run. While I think this is great behavior for learning to use the framework, I do not think it is good for when the framework is actually in use (IE I think that I would be very unhappy as a user if you suggested to me to run imagenet in a federated way when I could just run it locally)

[2019-10-14 16:56] cereallarceny commented on #2654
**UPDATE - October 14th, 2019**

We're currently working on each of these issues.  The following is the order in which we're doing each task above:

- [ ] Updating, finalizing, and merging the Proto PR that @vvmnnnkv has done. (Point #5 above)
- [ ] Testing current Serde implementation
- [ ] Getting rid of msg_type for all Message classes, and potentially removing the codes.py file assuming it’s a

[2019-10-14 18:21] jvmancuso commented on #2654
To point 3 -- I don't think what you're suggesting forbids this, but want to be sure. I strongly suggest that we keep the ability to serde list -> list and tuple -> tuple. In Python, there are just some functions that will behave differently for tuples/lists, so we need to be able to distinguish on the receiving end of an RPC to enable all the functionality for those functions.

For an example, if

[2019-10-15 10:22] cereallarceny commented on #2654
Totally fair point @jvmancuso.  I think the concern is more related to things like a list of tensor or worker ID's.  In this case, I can't see why a list would be "needed" over a tuple.  But for sure, there's going to be exceptions to this rule.  Do you know of specific places where this is likely to be an issue?

All that we're trying to do for that point is to establish some sort of consistency.

[2019-10-15 21:57] AlanAboudib opened #2665 "Wrong printout in workers' verbose mode"
Let me expalin this issue directly with code. In the following code:
[code]
The last line will print the following since the worker `bob` is in verbose mode:
``` worker <VirtualWorker id:bob #objects:0> received OBJ tensor([[1.]])```

This printout makes since since `bob` received the sent tensor.

Now let's get the tensor back to the worker `me`:

[code]

This prints out the following:

[code]

W

[2019-10-16 05:38] sanvenDev opened #2666 "Federated Learning with MPC"
**Describe the bug**
MPC with 2 workers is working fine. But when I combine Federated Learning with MPC, I'm having few problems, I'm not sure if it's currently supported by PySyft or not.
I tried running following code, with 2 virtual workers, and 1 crypto provider, and one of the remote virtual worker owning dataset, and local worker being owner of model. But it produces error, shown below:

**T

[2019-10-16 06:34] mccorby commented on #2654
Has anyone explored extending ONNX as a possible alternative?

[2019-10-16 08:02] sunsea27 commented on #2664
me too

[2019-10-16 15:24] cereallarceny commented on #2654
I wasn't familiar with ONNX until doing a bit of light research @mccorby.  This looks like a strong alternative.  Are you proposing we would use this as a complete replacement to Serde?

My two concerns so far are:
1. We're really pretty close to getting Serde in a manageable condition and "if it works, don't break it".
2. The library for ONNX in Javascript is fairly large (but impressively, it's

[2019-10-16 15:30] mccorby commented on #2654
1. Go ahead. We can think about ONNX later, maybe instead of Protobuf (which is used under the hood by ONNX)
2. I am not sure about putting so much pressure in this particular item. I tend to look to performance at a later stage and only if necessary.

I'll try to find time to have some ONNX example up and running.

[2019-10-16 17:35] cereallarceny commented on #2654
Great!  We will move ahead with improving Serde as is and look forward to a
demo of what it could be from you in the future!

On Wed, Oct 16, 2019 at 4:30 PM Jose A. Corbacho <notifications@github.com>
wrote:

[2019-10-16 17:51] jvmancuso commented on #2654
FWIW I'm not sure ONNX would be an expressive enough DSL to accomplish everything we do with serde -- it's pretty specific to the standard ML computation graph, but there are commands & classes we have in serde that don't fit into that paradigm

[2019-10-17 07:20] luggi961 opened #2669 "Send tensor to worker bug"
**Describe the bug**
If you send a tensor to a worker and you don't save the apprioriate pointer, you get an empty response list using the search functionality.

**To Reproduce**
Steps to reproduce the behavior:

`import torch as th`
`import syft as sy`

`hook = sy.TorchHook(th)`

`bob=sy.VirtualWorker(hook, id="bob")`

`x = th.tensor([1, 2, 3]).tag('#dataset')`
`x.send(bob)`
`results = bob.search

[2019-10-17 10:27] wind23 commented on #2664
Problem solved. Run `pip install -r requirements.txt` before `python setup.py install`.

[2019-10-17 14:04] LaRiffle opened #2670 "Send & Get datasets"
We can currently send and get tensors, we would like to have the ability to directly fetch datasets with all the data inputs and targets in an easy way.

## Things to do:
- [x] Change `sy.BaseDataset` to inherit from `AbstractObject` to have tagging and description and to be registrable by workers: this allows datasets to be referenced for the search functionality
- [x] Extend `BaseDataset` with a

[2019-10-17 16:45] tahirdev commented on #2634
@hi-hi-there As I understand it, if you use copy_of_parameter.get() you are basically bringing each user's parameters to the server and then applying fix_precision, which is wrong. We need to apply fix_precision on user's device (pointers) for correct secure aggregation.

[2019-10-19 12:54] NaiboWang commented on #2664
No, I have this issue too, but after I run `pip install -r requirements.txt` and `sudo pip install -r requirements.txt` before `python setup.py install`, it still can't pass the test and get an error of `segmentation fault`.
By the way, I have installed pytest the file mentioned.

[2019-10-19 14:24] iamtrask opened #2678 "<worker>.torch"
**Is your feature request related to a problem? Please describe.**
At present we cannot initialize tensors on a remote machine. Whenever we want to initialize something, we first initialize it locally and then call .send() to move it to the remote machine. This is *extremely* wasteful in some cases such as.
[code]

**Describe the solution you'd like**
Instead I'd like to be able to run

(skipping

[2019-10-19 14:49] iamtrask opened #2679 "WorkerGroup"
**Is your feature request related to a problem? Please describe.**
We have the ability to do lots of interesting things with workers, but I think that in the near future we're going to want to do things with groups of workers at a time. For example, once #2678 is completed, we'll be able to do things like bob.torch.rand(2,3) to call an operation on Bob. However, if we wanted to instead create a Mu

[2019-10-19 14:54] iamtrask opened #2680 "Encrypted Linear Regression Test Failure"
**Describe the bug**
There's a failing test.

**To Reproduce**
Steps to reproduce the behavior:
[code]

which returns

[code]
**Desktop (please complete the following information):**
 - OS: 10.14.6
 - PySyft Version: dev
 - PyTorch version: 1.1.0

[2019-10-19 15:00] iamtrask opened #2681 "BaseWorker(trust_level={trustworthy, honest_but_curious, malicious})"
**Is your feature request related to a problem? Please describe.**
At present we assume that all workers have the same relationship with each other and we talk about permissions only at the tensor level.

**Describe the solution you'd like**
When creating a connection to another worker, I would like to be able to *request* a certain trust level, which will affect what tensors I can see and what I

[2019-10-19 15:16] robert-wagner commented on #2681
I think this is a great way to address this problem. We should probably use these trust levels at tensor creation time to avoid having to check them for every call (since that changes protocols). In practice it is just changing a default

[2019-10-19 17:36] iamtrask opened #2682 "Plans Notebook is Broken"
**Describe the bug**
When I try to create a neural network plan, I get an error.

**To Reproduce**
Steps to reproduce the behavior:
Run this notebook: https://github.com/OpenMined/PySyft/blob/dev/examples/tutorials/Part%2008%20-%20Introduction%20to%20Plans.ipynb

and you'll see:

[code]

**Desktop (please complete the following information):**
 - OS: OSX 10.14.6
 - Version 0.1.29a1

**Additional c

[2019-10-19 17:40] iamtrask opened #2683 "Protocol.plans should be a dictionary, not a list of tuples"
At present, Protocol.plans is a list of tuples, where each tuple is a (worker_name_string, plan). Instead, Protocol.plans should be a dictionary, where each key is the worker_name_string and each value is the plan.

[2019-10-20 00:12] NovaVic commented on #2683
Hi Andrew, You can assign this to me. Thanks.

[2019-10-20 05:11] ZhechunZhou opened #2685 "gaierror: [Errno 8] in Federated Recurrent Neural Network.ipynb"
Hi I was trying to use raspberry pis to do federated machine learning
I run python3 run_websocket_server.py --port 8778 --id bob --host <ip of raspberry pi> on each pi
and Federated Recurrent Neural Network.ipynb on my laptop

In 3. Step: Model - Recurrent Neural Network
[code]
raise an Error
gaierror: [Errno 8] nodename nor servname provided, or not known
WebSocketAddressException: [Errno 8] node

[2019-10-20 11:17] Jasopaum commented on #2683
Hey!
I think Protocol.plans was not a dict in the first place because:
- we can have several plans for a same worker during a protocol
- we need the order in which the plans have to be executed

Maybe @LaRiffle can confirm or correct me?

[2019-10-20 13:14] LaRiffle commented on #2683
Exactly!
this notion of order and the ability to have several plans for the same worker are critical

[2019-10-20 13:14] LaRiffle commented on #2682
Fixed by https://github.com/OpenMined/PySyft/pull/2671

[2019-10-20 14:58] LaRiffle opened #2686 "Test test/workers/test_websocket_worker.py::test_evaluate looks broken"
**Describe the bug**
I have the feeling the test (which has been skipped for month) is broken: I don't see how we send the iris dataset to the remote worker

This is related to #2677

[2019-10-20 15:03] NovaVic commented on #2683
Hi Jasopaum and Theo,
Thanks!
Yes - as I was exploring the code in the fork that I have - I noticed the problem : it cannot be dictionary if we want to have the flexibility of several plans for same worker. And that is also evident (in a very concrete manner) from the line me.request_search(...) and onward in test_protocol.py

[2019-10-20 15:29] LaRiffle commented on #2680
@andrelmfarias any hint on this?
It's working fine on my laptop but also failing on Travis :(

[2019-10-20 17:00] andrelmfarias commented on #2680
I just ran it on my laptop and got the same warnings but no failure...

![image](https://user-images.githubusercontent.com/43521764/67163142-c72a5000-f36b-11e9-9734-ea465484bd01.png)

@iamtrask , is the failure you got related to crypto_lr test?

I will try to find why we are getting these warnings

[2019-10-20 17:27] NovaVic commented on #2670
Hi Theo,
I can take this one.
I see similar coding structure (with tag, description, simplify, detail methods etc.) in protocol.py file - so can to some extent imagine what the "things to do" are referring to but I think I still need more context as a new person on this.
Thanks in advance Theo!

[2019-10-21 04:05] sunsea27 commented on #2664
The problem still exists!
Replaced the pyft version, the problem still exists

[2019-10-21 07:18] andrelmfarias commented on #2680
I found out a fix. I will be opening a PR fixing it

[2019-10-21 07:25] sunsea27 commented on #2664
platform linux -- Python 3.6.8, pytest-5.2.1, py-1.8.0, pluggy-0.13.0 -- /usr/bin/python3
cachedir: .pytest_cache
rootdir: /mnt/pysyft25, inifile: setup.cfg
plugins: flake8-1.0.4
collected 458 items

test/test_dependency_check.py::test_tensorflow_available SKIPPED                                                                       [  0%]
test/test_dependency_check.py::test_tf_encrypted_available

[2019-10-21 11:20] sunsea27 commented on #2664
pysyft 0.1.26a
tensorflow 1.13.2
tf_encrypted 0.5.8
It is OK!!!

running pytest
Searching for pytest-flake8
Reading https://pypi.org/simple/pytest-flake8/
Downloading https://files.pythonhosted.org/packages/4b/99/a6e993c0927665522602058e1f2ea61ba1c8c51a60e3006f1eb1153b37e2/pytest_flake8-1.0.4-py2.py3-none-any.whl#sha256=d7e2b6b274a255b7ae35e9224c85294b471a83b76ecb6bd53c337ae977a499af
Best match: p

[2019-10-21 11:24] iamtrask commented on #2683
@Jasopaum - I disagree that we should be specifying the order in which the plans should execute. Instead, the plans should execute as fast as possible in an asynchronous manner, only pausing to wait for a tensor from another plan if necessary. I do support the idea that one worker could have multiple plans, but this would lead me to believe that it should be a dictionary of lists.

[2019-10-21 11:25] iamtrask commented on #2683
The *entire point* of a Protocol is to have plans which can execute asynchronously on multiple workers. Otherwise, Protocol is just a plan of plans (which we already can do with normal plans).

[2019-10-21 11:29] #2682 closed

[2019-10-21 11:33] iamtrask commented on #2681
I think we'd need to have at least some operations for every call, at the
very least to know what kinds of permissions to give the result tensor, no?

On Sat, Oct 19, 2019 at 4:16 PM Robert (Bobby) Wagner <
notifications@github.com> wrote:

[2019-10-21 12:04] iamtrask commented on #2683
Chatting with @Jasopaum offline - I put together an example for how we might initialize this and a use case.

Story: Let's say that cute little Prince Charles wants to know whether to ask his mommy or his daddy for money to go to the store (but not both... for some reason). So, he wants to execute a protocol wherein he compares how much gold and silver his mom and dad have, and then whichever is g

[2019-10-21 12:07] iamtrask commented on #2683
Alternatively, we could also have the QUEEN role check the final budget of the prince to make sure it isn't too high.

[code]

Note that this doesn't require editing the protocol.deploy method at all.

[2019-10-22 09:41] iamtrask opened #2688 ".fix_precision() and .share() should allow us to set an arbitrary precision"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to set non-standard precision.

**Describe the solution you'd like**
I'd like the ability to set the precision I want when calling .fix_precision() or .share(). To that end, I'm also thinking we should go back to requiring people to call both .fix_precision().share() when sharing a float tensor. Otherwise we're hi

[2019-10-22 13:52] fdroessler commented on #2688
I am happy to take this one.

[2019-10-22 14:41] murarugeorgec commented on #2448
Is the issue and the description still up to date?

[2019-10-22 15:33] LaRiffle opened #2689 "Allow worker registration of objects within python context"
**Is your feature request related to a problem? Please describe.**
Tons of test and code samples using plans are currently like this:

[code]

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Enabling registration all the time :O

[2019-10-22 15:35] murarugeorgec commented on #2689
I can start looking at this one

[2019-10-22 15:39] LaRiffle commented on #2688
@iamtrask I think we already have this, you can do
`x.fix_precision(precision_fractional=5).share(alice, bob, crypto_provider=crypto)`
And it works quite well

[2019-10-22 15:49] LaRiffle commented on #2683
Looks super great, just a few notes:
- `protocol = sy.Protocol(king_ops, queen_ops, prince_ops, more_queen_ops)` should be changed to specify which Role owns which plans
- we can specify a structure of graph for plans, which is in terms of dependency, while having an asynchronous execution
- What exactly is `sy.BlockForTensor` vs `sy.PromiseTensor`?

[2019-10-22 16:55] iamtrask commented on #2683
- I don't think you have to - since when I defined the plan I specified which Role owned the plan.
[code]

- i think this already does that via .send() and BlockForTensor, although @Jasopaum and I figured out a way to do the same thing without having to specify BlockForTensor explicitly (just make them arguments and pass in PointerTensors to them and it'll happen automatically)

- @Jasopaum and I

[2019-10-22 17:10] #2680 closed

[2019-10-22 17:46] #2688 closed

[2019-10-22 19:32] NovaVic commented on #2670
Hi Theo @LaRiffle, Thanks for the updated description - that definitely helps! And yes I feel it would be better manageable if I can address change related to each of the points as separate PR.

You can assign it to me. Thanks Theo!

[2019-10-23 07:05] fdroessler opened #2693 "Have Notebooks build as part of the test/CI process"
**Is your feature request related to a problem? Please describe.**
In Slack one of the most common request for help or fixes is that the tutorial notebooks don't work. Either some new feature results in the need for the Notebook to be updated or other measures to be taken.

**Describe the solution you'd like**
Have the notebooks be build as part of the CI and testing pipeline to flag up early when

[2019-10-23 11:02] murarugeorgec commented on #2637
Is someone working on this issue? If not I can take it. Or @LaRiffle is there another issue that is more important, but also has a low level of difficulty?

[2019-10-23 13:00] LaRiffle commented on #2683
I agree with all what's you said ☝️

[2019-10-23 13:17] sukhadj commented on #2637
Hey @murarugeorgec!! I am working on this issue. Unfortunately will require 1 or 2 days more to solve it!! 😃

[2019-10-23 15:42] murarugeorgec commented on #2625
Shouldn't we close this issue? (the other PR was merged)

[2019-10-23 16:12] murarugeorgec commented on #2621
@LaRiffle I think I can take this one, if you do not have another issue more urgent :)

[2019-10-23 18:48] sukhadj commented on #2637
Hey @LaRiffle, @murarugeorgec.
While testing the working of the code I made some changes and installed the pysyft again.
I made these changes:
[code]
And

[code]

Now when I run

[code]
The output is

[code]
**Isn't this working correctly? (Calling correct overloaded function for Pure torch Tensor)**

Moreover,
When I try running on a wrapper (pointer after sending the tensor to the virtual worker

[2019-10-24 18:44] codebecker commented on #2634
@tahirdev  is right using get at this point will bring the gradients to your local machine which should be strongly prohibited in secure aggregation.

I worked around this error by not using a copy of the parameters for calculation. I guess it is nicer to copy them but it's also working this way.

For the workaround just change this line:

`        # select the identical parameter from each worker

[2019-10-24 21:49] jvmancuso commented on #2632
This comment of mine is not true -- there was a bug hiding some extra dependencies, so I've updated the top-level comment to reflect the extra work.

[2019-10-24 22:49] murarugeorgec commented on #2669
@luggi961 I tried to reproduce it, but it seems it got fixed.
Could you also retest it on the latest version?

[2019-10-25 05:58] murarugeorgec commented on #2685
I think you should start the websocker_server with the id alice.
```alice = WebsocketClientWorker(id="alice", port=8777, **kwargs_websocket_alice)``` - here you are trying to connect to alice, but from what you say you created the server with the id bob:
```python3 run_websocket_server.py --port 8778 --id bob```

[2019-10-25 14:05] Sofiascope commented on #2634
@codebecker I tried to delete the copy, the cell works but later I have an issue when I launch the train :

![image](https://user-images.githubusercontent.com/38509329/67577617-1e9c3780-f741-11e9-878c-a945ec35fd83.png)

[2019-10-27 19:09] youben11 commented on #2693
Great idea! But how do you plan to flag malfunctioning notebooks?

[2019-10-27 19:57] fdroessler commented on #2693
I was planning on combining papermill with pytest and write them as tests that run in an isolated filesystem. That way I think it should be possible to get websocket notebooks tested too. By using papermill it should also allow for reducing the execution time by parameterising the notebooks (like epochs etc) although in that case some parameters will be set in the first cell. It's an idea so far I

[2019-10-27 22:24] fdroessler commented on #2693
@youben11 @iamtrask I have submitted a __very__ raw [WIP] PR just to check if where I am going is in line with your ideas. Let me know your initial thoughts on the approach.

[2019-10-28 09:24] #1893 closed

[2019-10-28 10:29] zouininaS opened #2704 "PySyft Installation error: Failed to load the native TensorFlow runtime."
Hello,
I am new to PySyft I am following the tutorial on Udacity but I have this error I looked in other forums but unfortunately I couldn't solve it,
Would you help me?
Thank you,

[code]

[2019-10-28 15:09] steph-en-m commented on #2704
@zouininaS could you specify what you were trying to do when you got this error or which part of the tutorial this error occurred?? Thanks

[2019-10-28 16:46] LaRiffle opened #2705 "Transform shares to support negative values"
For AdditiveSharing and FixedPrecision, if the field is 2**64, the values of the sahres should lie in `[-2**63, 2**63-1]` and not in `[0, 2**64]`. It allows for automatic wrapping for LongTensor and `field=2**63`.

[2019-10-28 16:48] LaRiffle opened #2706 "Fix truncation in fixed precision and MPC"
**Describe the bug**
Truncation fails with n>2 workers when doing multiplication on additive shared tensor.

We would like to better understand situations when the sum of shares wraps around the field, to fix this.

### To reproduce

[code]

[2019-10-28 16:51] LaRiffle opened #2707 "Deactivate Plans in Plans"
Plans should not be executed as Plans when they are included in another Plans. This allows to easily extend Plan or to cut Plans in small modules which can also be run individually as Plans.

Examples:
[code]

Idea: create a variable global at worker scale when a plan is being built to force other plans to run as normal functions.

[2019-10-28 17:12] LaRiffle opened #2708 "Fix Beaver triple generation"
**Describe the bug**
The local worker can read the beaver triple values at generation time (see syft/frameworks/torch/crypto/beaver.py) which is a security issue if it also owns shares. These shares should only be known by the crypto_provider.
In addition it calls 3 times .share which could be optimized by stacking values and calling a single time .share before unstacking. (see torch.stack)

[2019-10-29 00:54] LaRiffle opened #2710 "Single effective send of plan to worker"
**Describe the solution you'd like**
Improve Plan with refs to pointerPlan to not send more than 1 time the plan —> else return the same pointerPlan

This reduces the bandwidth usage and doesn't change the UX

[2019-10-29 00:58] LaRiffle opened #2711 "Build a store of crypto primitives"
**Is your feature request related to a problem? Please describe.**
Each time we need a crypto primitives (like a beaver triple), we make a (expensive) call to the crypto provider.

**Describe the solution you'd like**
We could build a sort of cache or store of crypto primitives which, based on the consumption of certain primitives, would ask for a batch of them at a time to the crypto provider. Th

[2019-10-29 08:33] zouininaS commented on #2704
When I want to call PATE here:

from syft.frameworks.torch.differential_privacy import pate
Thank you for your answer (I am working on ubuntu)

[2019-10-29 08:37] ZhechunZhou commented on #2685
I don't think that is the reason. I tired to connect the both servers. Even after I use only one raspberry pi with bob, the problem remains.

[2019-10-29 15:14] #2686 closed

[2019-10-29 15:23] #2689 closed

[2019-10-29 15:39] LaRiffle commented on #2710
@murarugeorgec is willing to take this one

[2019-10-29 19:48] marcusvlc commented on #2562
@mari-linhares  For some reason, the command created by the native.py file for the avg_pool2d layer looks like this:

syft.local_worker.hook.torch._C._nn.native_avg_pool2d

While the max_pool2d looks like this:

syft.local_worker.hook.torch.nn.functional.native_max_pool2d

I am still trying to understand why this particular layer is being called from torch._C and not torch.nn, but for practical te

[2019-10-30 16:21] sunilsu commented on #2275
Should this issue be reopened? I still get `TypeError: can not serialize 'torch._C.Function' object` with Torch 1.1. Or TrainConfig only works with Torch 1.0.1?

Thanks!

[2019-10-31 13:45] robert-wagner commented on #2562
To me this looks like we are hooking _C._nn after we are hooking torch.nn.functional. In my opinion we should not be hooking _C._nn at all which might solve this problem

[2019-11-04 12:20] csqray opened #2715 "WebsocketClientWorker: TimeoutError:Connection timed out"
I use "python run_websocket_server.py --port 8780 --id bob --host 10.0.0.5" on my Mac to run the run_websocket_server.py under the examples/tutorials/advanced/websockets-example-MNIST-parallel folder. And I want to connect it with Linux server. I import packages and run the following codes in ipython.
hook = sy.TorchHook(torch)
kwargs_websocket = {"host": "10.0.0.5", "hook": hook, "verbose": False

[2019-11-05 07:08] LaRiffle commented on #2708
@murarugeorgec is willing to take this one

[2019-11-05 08:28] steph-en-m commented on #2704
@zouininaS try downgrading python to 3.6 in conda your environment.i.e ```conda activate <your env>``` then ```conda install python=3.6```

[2019-11-05 11:25] AmberrrLiu opened #2718 "distributed worker."
Hi, I‘m new to pysyft. I was wondering if I have some workers on different machines(External clients) with different IP. Can I use sy.TorchHook? or what should  I use to do this.
Hope you can give me  some advice! Thanks!

[2019-11-05 15:35] JpMCarrilho opened #2719 "Index out of range when running training at VirtualWorker"
**Describe the bug**
I'm trying to run this https://github.com/williamleif/graphsage-simple in a simple federated setting (sending it to a virtual worker and running the training at him), but I get raised **RuntimeError: index out of range at /pytorch/aten/src/TH/generic/THTensorEvenMoreMath.cpp:193** .

Steps to reproduce the behavior:
As I'm using Python3, there were some minor changes in the _m

[2019-11-07 02:52] JOJO0966 opened #2720 "failed to run "python setup.py test""
1. python setup.py test
2. run error
 result:
_________________________________________________________________________ test_connect_close _________________________________________________________________________

hook = <syft.frameworks.torch.hook.hook.TorchHook object at 0x0000022268C0EC50>
start_remote_worker = <function start_remote_worker.<locals>._start_remote_worker at 0x0000022270C128C8>

[2019-11-07 04:56] bhadreshpsavani commented on #2487
I want to work on it but could not understand what exactly we need to clean up, Can you help me?

[2019-11-07 05:09] bhadreshpsavani commented on #2474
May i work on this issue?

[2019-11-07 13:03] noumanriazkhan opened #2721 "Error Saving tf.keras model with save_mode='tf'"
**Error Saving tf.keras model**
After training tf.keras model with TF Hub model as keray layer, it must be saved with TF Format. When I am getting model back from virtual worker, it has not been saving it with following error.

`NotFoundError: /tmp/tmpt_dyri7n/assets/tokens.txt; No such file or directory`

This is how I am doing this:

[code]
Also `.get()` method is not working for me with same er

[2019-11-08 07:47] LaRiffle commented on #2710
Fixed by #2716

[2019-11-08 07:47] #2710 closed

[2019-11-08 10:45] murarugeorgec commented on #2718
Yes, you can do that.
There is a tutorial [here](https://github.com/OpenMined/PySyft/tree/master/examples/tutorials/advanced/websockets-example-MNIST)

[2019-11-08 18:30] flo257 opened #2725 "Parameter update error using set_() in Encrypted Gradient Aggregation"
Hi,
I've got a question concerning the tutorial 10 "Federated Learning with Encrypted Gradient Aggregation".

I followed the instructions of this tutorial to use this technology and adapted it to my image classification task, but I've encountered some problems.

The first iteration of the "main loop" (following the exact code from the tutorial) in the train function `for data_index in range(len(re

[2019-11-08 21:20] flo257 commented on #2725
It turns out that the models are not correctly updated, even if
[code]
is correctly called

[2019-11-09 04:21] CHOSEN24 opened #2726 "Can Pysyft sopport Cuda now?"
I have tried to train MNIST example on GPU using my computer. But there always will be some questios, such as connectionError or not a remarkable boost towards runtime ,so this version Pysyft can use cuda?
I need your help, thanks guys.

[2019-11-09 04:36] CHOSEN24 commented on #2726
add: I created some websocketclientes not virtualworkers

[2019-11-10 13:59] vinod272 opened #2727 "Tensor pickle: arbitrary remote code execution issue"
I would like to report a security bug that was discovered during a CTF event https://pwn2.win/2019/#/  (Challenge name: Federated Sophia). The bug is WebsocketServerWorker can be controlled and taken over by a malicious client  because WebsocketServerWorker unpickles literally any object sent by WebsockerClientWorker .

**To Reproduce**
Steps to reproduce the behavior:
Just add your own custom obj

[2019-11-11 16:04] ninja18 opened #2729 "Output pointer to pointer of an operation is duplicated twice"
**Describe the bug**
When a double pointer is operated with some function/operation the output tensor double pointer is stored twice in the worker containing the double pointer

**To Reproduce**
Steps to reproduce the behavior:
follow through the tutorial part 03 python notebook
exact image of reproducing step provided below

**Expected behavior**
The worker who have double pointer must store the

[2019-11-12 07:58] haikuoY opened #2730 "PyTorch 1.3 installation: No matching distribution found"
ERROR: Could not find a version that satisfies the requirement torch==1.3 (from syft[udacity]) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch==1.3 (from syft[udacity])

[2019-11-12 08:12] hasnain2808 commented on #2730
Hi
Are you using a virtual environment?
If yes then are you referring to the correct python installation

For example when you're in a virtual environment and want to install something via pip using this is better

python -m pip install [ package ]
Also are you on a supported python version?

[2019-11-12 08:22] haikuoY commented on #2730
my python version is 3.7.4, I think it's supported.
I run the command python -m pip install syft[udacity] on cmd and I get the same error

[2019-11-12 15:09] flo257 commented on #2634
Could you resolve this issue? Cause I receive the same error

[2019-11-12 15:38] flo257 commented on #2725
I've updated pytorch to 1.3.0 and pysyft to 0.2.0a2, and by rerunning the notebooks I now receive the same error as issue #2634 #issuecomment-546368259

Fix see #2634

[2019-11-12 16:09] iamtrask opened #2731 "Copy Paste Notebook Tutorials into Unit Tests"
**Is your feature request related to a problem? Please describe.**
Right now our tutorials (https://github.com/OpenMined/PySyft/tree/master/examples/tutorials) are often broken because they aren't a part of our testing suite.

**Describe the solution you'd like**
I would like one unit test for each notebook in the tutorials folder (except the ones in the "advanced" folder)

[2019-11-12 17:03] gmuraru commented on #2678
I can take it - it would be a challenge, but will try to do it :)

[2019-11-12 17:17] flo257 commented on #2401
@Psychofun have you found a workaround for this?

[2019-11-13 00:01] #2601 closed

[2019-11-13 00:07] LaRiffle commented on #2539
This has been discussed today @iamtrask @cereallarceny
With the version of master of today I can run:
[code]
What could be not working as expected?

[2019-11-13 00:13] LaRiffle commented on #2730
This looks like a pytorch installation error.
You should maybe ask on pytorch forums to try to understand how to install pytorch 1.3 with pip with you python / OS

[2019-11-13 00:21] LaRiffle commented on #2726
I think there is ongoing work on this topic: https://github.com/OpenMined/PySyft/pull/2690

[2019-11-13 00:24] LaRiffle commented on #2720
Can you add details and fix the display? Some elements are missing to understand your problem

[2019-11-13 00:25] #2718 closed

[2019-11-13 00:30] LaRiffle commented on #2715
Hi, does it work in local mode? (connected through the localhost)

Also, cross device computation will increasingly handled in PyGrid
https://github.com/OpenMined/PyGrid

[2019-11-13 00:32] LaRiffle commented on #2670
Hi @NovaVic, any updates on how the project is going? :)

[2019-11-13 00:34] LaRiffle commented on #2401
Hey, PySyft does not support GPU(cuda) yet, but there is an ongoing PR on this
https://github.com/OpenMined/PySyft/pulls

[2019-11-13 00:37] LaRiffle commented on #2669
`send` is not inplace, you need to do: `p = x.send(bob)` instead of `x.send(bob)`

[2019-11-13 00:37] #2669 closed

[2019-11-13 11:33] midokura-silvia commented on #2731
But how do make sure that the code doesn't diverge between notebook and unit test?

[2019-11-13 11:59] csqray commented on #2715
If both servers' "host" are "localhost", it is OK

[2019-11-13 19:44] cereallarceny commented on #2539
@LaRiffle to the best of my memory, this doesn't simplify in Serde to include the send command.  Because of that, syft.js will have no idea to send the tensor.  I remember you, me, and @iamtrask had an issue simplifying the send command a while back.

Is this no longer the case?

[2019-11-13 19:49] LaRiffle commented on #2715
Interesting! So yes I _think_ Websocket with PySyft currently only work in local networks. You need to use PyGrid across devices, but maybe the PyGrid team can confirm

[2019-11-13 23:06] linamnt commented on #2729
Hi, I think this is due to the object pointer in Alice having to be unwrapped  and then re-wrapped when getting the response.

However, when re-wrapping, the object is incorrectly registered to make the first copy in Alice (due to the default setting of [`register=True` in  `wrap()`](https://github.com/OpenMined/PySyft/blob/1cf824502fc83ef4b8e17135458a14d35753c745/syft/generic/pointers/object_poin

[2019-11-14 05:51] csqray commented on #2715
OK, thank you

[2019-11-14 08:30] gmuraru commented on #2554
@edgarinvillegas are you still working on the PR?

[2019-11-14 08:41] gmuraru commented on #2664
Tested this on the latest ```dev branch``` and there is no problem. @wind23 could you please retest and close the issues if it is solved?

[2019-11-14 08:44] gmuraru commented on #2061
@replomancer are you still working on it?

[2019-11-14 08:58] gmuraru commented on #2233
Tested the code from @amit-rastogi and the error still exists. @robert-wagner are you looking into the issue?

[2019-11-14 10:54] PlamenHristov commented on #2665
Hey Alan,

I am new to the project. I think I might be able to do that?

[2019-11-14 11:31] AlanAboudib commented on #2665
Sure @PlamenHristov , got ahead :)

[2019-11-15 03:14] wuxibin89 commented on #2259
Well, it seems like conda has already some zstd header files in its include directory.
[code]
When installing zstd, conda will add its include directory to gcc's search path. So when compiling zstd source file, gcc will use `zstd.h` in conda instead of its own.
The solution is simple, just move the headers somewhere else, install pysyft, and move them back.

[2019-11-15 07:57] srivastava41099 commented on #2731
I would love to write parts of it with @midokura-silvia if you are willing. Should we use Treon, Andrew or just unittest in separate files/notebooks?

[2019-11-15 08:51] #2664 closed

[2019-11-15 08:54] #2608 closed

[2019-11-15 09:08] LaRiffle commented on #2574
Closing this as we now support torch>=1.3

[2019-11-15 09:08] #2574 closed

[2019-11-15 09:13] #2495 closed

[2019-11-15 09:14] #2490 closed

[2019-11-15 09:17] #2235 closed

[2019-11-15 09:17] #2177 closed

[2019-11-15 09:18] #2145 closed

[2019-11-15 09:19] #1902 closed

[2019-11-15 09:20] #1657 closed

[2019-11-15 09:27] LaRiffle opened #2734 "Benchmark FixedPrecision, LargePrecision and CRTPrecision"
We want to test in real context and benchmark our 3 methods to convert float to fixed precision integers (which are used when encrypting tensors).

We'd like to do this with model evaluation. For example, let's do this on a simple model trained on MNIST (maybe just a 3-layer MLP).

So the job is to train this model, and then convert its parameters to fixed precision using the 3 strategy we current

[2019-11-15 09:34] #2649 closed

[2019-11-15 09:34] #2531 closed

[2019-11-15 09:39] LaRiffle commented on #2233
I don't think so! beware this might be a tricky issue to solve :)

[2019-11-15 09:41] LaRiffle commented on #2539
You're right it must be more tricky, i think the code I gave is not appropriate to observe the error which indeed is still there

[2019-11-15 09:50] colin-byrneireland commented on #2574
Thanks, much appreciated.

[2019-11-15 10:12] iamtrask commented on #2539
This is because we need to add msg.OBJ to the messages tracked by the plan trace. Right now it’s only msg.CMD

Sent from my iPhone

[2019-11-15 16:34] LaRiffle opened #2736 "SPDZ with security against malicious adversaries"
We have support for SMPC protocol SPDZ in the honest but curious setting,

We'd like to support active security as an optional feature, as explained for example in the following paper: _Multiparty Computation from Somewhat Homomorphic Encryption, Damgard_
https://eprint.iacr.org/2011/535.pdf

[2019-11-16 02:00] refactormyself commented on #2734
Hello @LaRiffle, I will like to take this issue as my first issue.

[2019-11-16 10:15] codebecker opened #2737 "Reduce optimizer communication effort for better Performance"
**Is your feature request related to a problem? Please describe.**

When processing the batch for a remote worker (all hosted on the same notebook) i recognized that the operations `optim.zero_grad()` and ` optim.step() ` each take ~ 10% of the whole batch processing time.
The reason they take so long is that both iterate through each parameter and compute one after another each with a own send re

[2019-11-17 08:54] csqray opened #2742 "What is the encryption method used for gradient encryption?"
Homomorphic encryption? Secret sharing?

[2019-11-17 09:46] PlamenHristov commented on #2665
Just to give an update on the "progress".
I've setup my environment with the example test above and am debugging through the code.

[2019-11-17 10:38] iamtrask commented on #2742
additive secret sharing

[2019-11-17 10:38] #2742 closed

[2019-11-17 10:39] iamtrask commented on #2737
+1 to using plans here!

[2019-11-17 11:32] gmuraru opened #2744 "Single run_websocket_server.py file"
**Is your feature request related to a problem? Please describe.**
Currently we have a ```run_websocket_server.py``` file in the root of the project, but also in different tutorials. I think we should have only one such file and the notebooks to import the needed functionality from it.

**Describe the solution you'd like**
Have only one ```run_websocket_server.py``` file in the top dir of the proj

[2019-11-17 14:30] judytraj007 commented on #2259
I upgraded my gcc version to 4.8.5 and also tried installing zstd using pip install --upgrade --force-reinstall zstd and also within a virtual environment. But it keeps failing with the error: command 'gcc' failed with exit status 1 error.
I'm using MacOS Mojave

[2019-11-18 10:14] midokura-silvia commented on #2587
Try on the latest code of the dev branch. I just tested your code there and it works.

[2019-11-18 10:14] #2587 closed

[2019-11-18 10:16] midokura-silvia commented on #2726
Yes, it should work now. See #2735.

[2019-11-18 10:16] #2726 closed

[2019-11-18 10:18] LaRiffle commented on #2734
Sure go ahead!

[2019-11-18 14:01] cereallarceny commented on #2539
@LaRiffle Do we have any timeline for this in PySyft?

[2019-11-18 15:01] karlhigley commented on #2654
It seems like 1 and 5 have now been completed in PySyft, yeah? At this point, does it make sense for the workers to start trying to catch up to the serialization changes? Better to wait for the list/tuple/magic parens changes to go through?

[2019-11-18 15:02] nanara1119 opened #2745 "window install error"
I using python 3.7.4

Installed everything according to the install guide.
(INSTALLATION.md / windows)

But, syft not installed.

Whether installing torch==1.1 or torch==1.3.0 , torch==1.3.1
"pip install syft", "pip install pysyft" says could not find torch==1.3

And there is no 1.3 version of windows on the pytorch homepage, only the linux version exists.

install guide is too confusing

[2019-11-18 15:06] cereallarceny commented on #2654
You can do so whenever you want.  I figure this will be done asynchronous for syft.js.  Besides, syft workers are kind of "premade integration tests" for the Serde refactor.  The sooner you implement the above, the sooner you can test against what PySyft does and if the PR's being submitted work as intended.  So go ahead and get started with AndroidWorker!

[2019-11-18 15:45] AlanAboudib commented on #2665
Great, let us know how it goes :+1:

[2019-11-18 15:47] #2745 closed

[2019-11-18 21:10] LaRiffle commented on #2539
We don't have anyone working on this currently unfortunately at the moment, but as soon as someone picks it we'll be good!

[2019-11-18 22:25] PlamenHristov commented on #2665
@AlanAboudib , I think I got to the root of it and I don't think there is a problem with the code;
* The message printout is from here: https://github.com/OpenMined/PySyft/blob/e6ef7c205c7898e4401287791672a41947cf846b/syft/workers/base.py#L290

1. In the first case it says that bob received the **tensor** (`OBJ`), that is a -> tensor -> b
2. In the second printout the log says that bob received a

[2019-11-18 22:35] PlamenHristov commented on #2539
Maybe I can take a look at this?

[2019-11-18 22:46] cereallarceny commented on #2539
🙏🙏🙏

On Mon, Nov 18, 2019 at 10:35 PM Plamen Hristov <notifications@github.com>
wrote:

[2019-11-19 12:12] iamtrask opened #2747 "Add Paillier CUDA Support"
**Is your feature request related to a problem? Please describe.**
We want to be able to run Paillier encryption on CUDA (encrypted prediction of linear models as well as secure aggregation for federated learning)

**Describe the solution you'd like**

Wrap this library - https://github.com/data61/cuda-fixnum
Port this library to PyTorch - https://python-paillier.readthedocs.io/en/develop/

**Desc

[2019-11-19 17:07] JpMCarrilho commented on #2070
I encountered an error in the same line, but it raises **syft.exceptions.PureFrameworkTensorFoundError**

Syft 0.1.26a1
Torch 1.1.0

[2019-11-20 02:14] hayreenlee commented on #2498
+1

[2019-11-20 03:30] chenjinhua1993 opened #2748 "error: invalid command 'udacity'"
**Describe the bug**
all the step before "python setup.py install udacity" is ok,
when i input "python setup.py install udacity
", return error: invalid command 'udacity'

i have tried in win10 and google colab.
![image](https://user-images.githubusercontent.com/35960345/69206740-7c793f00-0b88-11ea-91b9-5adfd2057f84.png)
win10
![image](https://user-images.githubusercontent.com/35960345/69206793-b0

[2019-11-20 13:27] PlamenHristov commented on #2665
@LaRiffle, I believe we can close this issue ?

[2019-11-20 14:15] AlanAboudib commented on #2665
@PlamenHristov You are right. I missed that _REQ part, my bad. The issue (non-issue) is solved :+1:

[2019-11-20 14:15] #2665 closed

[2019-11-20 14:40] #2678 closed

[2019-11-20 14:55] Yugandhartripathi commented on #2705
I would like to work on this.

[2019-11-20 17:45] PlamenHristov commented on #2747
Maybe I can give it a try ?

[2019-11-20 17:54] iamtrask commented on #2748
@jvmancuso looks like your recent chang e(https://github.com/OpenMined/PySyft/commit/ef8a61b264819c4b5b0c830f0f1333aec20752d6) might havee issues on win10 and colab?

[2019-11-20 17:56] iamtrask commented on #2748
@chenjinhua1993, for now just leave off ```udacity``` until @jvmancuso replies.

[2019-11-20 17:56] iamtrask commented on #2748
(Also, @chenjinhua1993 - make sure you're on the latest master branch)

[2019-11-21 01:24] chenjinhua1993 commented on #2748
Hi, yesterday , in win10 , i try "python setup.py install "  without "udacity", it works. At the same time, i  do it in the same fashion. But after this , i try "pip install syft " in colab. It works as well.Anyway, now i can use PySyft in my local desktop or colab. thanks for yours contributions!

[2019-11-22 03:17] #2748 closed

[2019-11-22 04:11] DrNightmare opened #2753 "Documentation issue in tutorial - Advanced Remote Execution Tools"
https://github.com/OpenMined/PySyft/blob/d6ca3fd1d692a2adc85b9daff4c0b2b39ce9ed2a/examples/tutorials/Part%2003%20-%20Advanced%20Remote%20Execution%20Tools.ipynb#L470-L471

While the comment in line 470 mentions that `x` is 'a pointer to a pointer to the data', it is in fact just a pointer to the data.

[2019-11-22 10:04] csqray commented on #2634
I fixed this problem by using spdz_params.append(params[remote_index][param_i].get().fix_precision().share(bob, alice, crypto_provider=james))
new_param = (spdz_params[0] + spdz_params[1]).get().float_precision()/2

[2019-11-22 14:56] midokura-silvia commented on #2731
See #2754

[2019-11-22 18:51] karlhigley commented on #2654
I'm making some progress on figuring out what's required to catch the AndroidWorker up to the current state of the serdes, but quickly hitting places where I wish "2. Eliminate parentheses clouding" had been completed. Not sure exactly what changed since 0.2.0a2, but I'm now seeing repetitive parens that break the message unpacking.

(I'm now also looking forward to Protobuf, so that these kinds o

[2019-11-23 00:18] cereallarceny commented on #2654
Quite frankly, the parens should never have existed.  They weren't being
simplified by Serde into tuples properly.  It's become quite a headache to
build syft.js's Serde implementation with parens (tuples) not being
simplified as tuples.

We still need someone to sweep through PySyft and do this... If you're
interested!

On Fri, Nov 22, 2019 at 6:51 PM Karl Higley <notifications@github.com>
wrote:

[2019-11-25 11:25] gmuraru commented on #2685
Sorry for the late response.
Could you write what command you use to run the server on the raspberry PI?
Did you try with the following?
```python run_websocket_server.py --port <port> --id <id>```

[2019-11-25 17:18] csojinb commented on #2654
I'm a little bit confused about point (2). The example given:

[code]
are you saying that this is _intended_ to be equivalent to
[code]
but is actually equivalent to
[code]
due to the missing comma? (because `(1) == 1` while `(1,) == tuple(1)`) Or, is there something else that you're trying to point at?

[2019-11-26 03:10] Krypton3 opened #2758 "Part 10: Federated Learning with Encrypted Gradient Aggregation (Bug found)"
Hi,

I was testing this tutorial with my own dataset. It's working fine till secure encrypted aggregation. However, I have found this error with my dataset. I have also followed the tutorial fully. It also shows the same error for secure encrypted aggregation.

The error is the following:

@iamtrask  @LaRiffle
I would appreciate an explanation. Thank you.

[2019-11-26 10:40] bhadreshpsavani commented on #2744
May i work on this issue?

[2019-11-26 11:20] chunrongH commented on #2730
Have you solved this issue?  I have met this problem today and I can not solve it.

[2019-11-26 12:29] abogaziah commented on #2747
@PlamenHristov how far have you reached? maybe we can work together on it!

[2019-11-26 14:33] cereallarceny commented on #2654
The main point of #2 is that there is a difference between how tuple
literals ("()") simplify in Serde and how tuple objects ("tuple()")
simplify in Serde.  As worker library authors, we keep seeing examples of
tuple literals that don't simplify.

We want the simplest possible Serde string, and we don't want parentheses
that aren't being simplified as tuples.  Parens without an integer
associated

[2019-11-26 15:24] PlamenHristov commented on #2747
Hey @abogaziah,

I've gotten to a place, where I've setup an env for extending PyTorch with a CUDA implementation of as I believe the best way forward is to "Port this library to PyTorch - https://python-paillier.readthedocs.io/en/develop/".
I don't think "Wrap this library - https://github.com/data61/cuda-fixnum" is necessary ? @iamtrask  correct me if I am wrong.

I could send you a link to my f

[2019-11-26 20:34] abogaziah commented on #2747
sounds great!

[2019-11-26 22:31] LaRiffle commented on #2744
Sure! I just assigned you :)

[2019-11-27 11:22] indrajitsg commented on #2730
Even I am facing this same problem - any solution?

[2019-11-27 14:37] indrajitsg commented on #2730
I was finally able to solve the problem @chunrongH , @LaRiffle , @haikuoY , @hasnain2808 after a lot of trial and error. Here are the sequence of steps that I had followed in Windows 10.

1.  Installed Build Tools for Visual Studio 2019 from [here](https://visualstudio.microsoft.com/downloads/#build-tools-for-visual-studio-2019)
2. Created a new environment using conda `conda create --name syft py

[2019-11-27 16:08] bhadreshpsavani commented on #2744
Today I analyzed the issue and here are my observations,

1. I have compared all the  `run_websocket_server.py` in a different directory, they don't contain the same code.

2. I have also analyzed codebase and come to know that we also have one another file named `start_websocket_servers.py` file which is using `run_websocket_server.py` in the same directories in the tutorials.

I think that sugge

[2019-11-29 10:56] #2708 closed

[2019-11-29 13:30] chunrongH commented on #2730
Thank you for answering my question, I will try as you suggest.

At 2019-11-27 22:37:11, "Indrajit Sen Gupta" <notifications@github.com> wrote:

I was finally able to solve the problem @chunrongH , @LaRiffle , @haikuoY , @hasnain2808 after a lot of trial and error. Here are the sequence of steps that I had followed in Windows 10.

Installed Build Tools for Visual Studio 2019 from here
Created a ne

[2019-11-29 14:28] indrajitsg commented on #2730
Do remember to import torch before you import syft.

[2019-11-30 21:14] vvmnnnkv commented on #2654
#2762 reveals some inconsistencies in serde, I think these can be grouped as follows:
1. No simplification of values. In some cases strings, lists, tuples are just not simplified. You can find these by searching "not simplified" in [test_serde_full.py](https://github.com/OpenMined/PySyft/blob/6a23387ca648949635007a603fa6f1606157b380/test/test_serde_full.py)
2. Wrapping in a non-simplified tuple. T

[2019-12-01 10:25] cereallarceny commented on #2654
Amazing work @vvmnnnkv!  Do you have an opinion on wrapping vs non-wrapping?  Personally I'd love to see Serde be as concise as possible, with no wrapping.  What are your thoughts?

Likewise, what are the next steps so we can begin fixing the issues you've uncovered in your testing?

[2019-12-01 22:05] NateSolon commented on #2734
Hey @refactormyself are you still working on this? I think this would be a great project for where I'm at right now - maybe we could both take a stab at it and compare?

[2019-12-01 22:07] NateSolon commented on #2734
@LaRiffle does the model need to be trained with federated learning or can I just train a model with vanilla PyTorch and then test the different precisions?

[2019-12-02 08:25] refactormyself commented on #2734
I am working on it.

On Sun, Dec 1, 2019 at 11:05 PM NateSolon <notifications@github.com> wrote:

[2019-12-02 16:06] anmakon commented on #2498
+1

[2019-12-02 17:17] karlhigley commented on #2654
I'll second the vote for making serde as concise as possible. On the AndroidWorker side, the parsing happens as much based on the position of particular elements as based on the type codes (which are sometimes skipped over entirely.)

[2019-12-03 10:39] vvmnnnkv commented on #2654
In point 2, I think it OK to leave dict as is because it's kind of "primitive" type in serde, so might be fine to do such exclusion for the sake of smaller output.
As for Procedure, it's better to simplify that tuple.
In point 3, I would make everything `(<CODE>, (<DATA>))`, so you can always unwrap a value in universal way: as its code and list of parameters, even when it's 1 param (because who k

[2019-12-03 11:12] somiljain7 opened #2767 "not able to install pysyft for pytorch version 1.3"
![Screenshot (3)](https://user-images.githubusercontent.com/42209500/70046397-fc24f600-15eb-11ea-8f84-d7df9d69ffba.png)

[2019-12-03 11:49] juanmixp opened #2768 "search over tagged AdditiveSharingTensor"
**Describe the bug**
Not possible to search over pointers

**To Reproduce**
Steps to reproduce the behavior:
1. Share data over workers
[code]

2. Search over previous date tagged
[code]

In addition, I can ched that ptr has been send because:
[code]

**Expected behavior**
[code]

**Desktop (please complete the following information):**
- Ubuntu 18.04
- requirements.txt:
  - syft[udacity]

[2019-12-03 12:27] ChenghuiS commented on #2767
I had the same problem and have solved it.

This problem seems only occur on Windows.

Reason: on windows, pip cannot find a version for torch==1.3,  but can find a version for torch==1.3.x (like torch 1.3.1).
[code]

So if you change the requirement from 1.3 to 1.3.x (in your computer), you can solve this.

Details:
1. download source code
[code]
2. change the requirement file in path:     `./PyS

[2019-12-03 19:36] cereallarceny commented on #2654
Let's do that.  I'm sold.

On Tue, Dec 3, 2019 at 10:39 AM Vova Manannikov <notifications@github.com>
wrote:

[2019-12-04 01:09] mnaseri2770 opened #2770 "Epsilon value for differential privacy"
Hi,

I would like to ask if FederatedDataLoader uses DP when aggregating the model parameters?

If yes, how can I change the epsilon value or the privacy budget at all?

Thanks,

[2019-12-04 07:45] alejandrosame opened #2771 "Hook NumPy as a new supported framework"
Hi!

Supporting NumPy as a framework would allow it to be used for Machine Learning using Federated Learning.

As reported by @iamtrask, NumPy is used normally used in ML toolchains, so PySyft users will greatly benefit from having it as a supported framework.

[2019-12-04 08:06] alejandrosame commented on #2758
Hi there!

@iamtrask reported in the Slack group that the issue is due to the import of NumPy to execute log2 like shown in https://github.com/OpenMined/PySyft/blob/master/syft/frameworks/torch/tensors/interpreters/native.py#L741.

Since NumPy can only run locally, it cannot be used for Federated Learning yet. The solutions for this error would be to either:
* Hook NumPy as another PySyft framewor

[2019-12-04 14:05] Alfons0329 opened #2773 "AttributeError: Tutorial Part 10, Build our training logic - Part B: Encrypted Aggregation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Tutorial Part 10
2. Click on Build our training logic - Part B: Encrypted Aggregation
3. See error

**Expected behavior**
Should work continuously without error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images

[2019-12-04 14:19] iamtrask opened #2774 "Translate our tutorials to Hindi"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Hindi.

For this PR, copy the current notebooks and translate the inline text to Hindi, placing the notebooks in a "hindi" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/examples/tutoria

[2019-12-04 14:20] iamtrask opened #2775 "Translate our tutorials to Spanish"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Spanish.

For this PR, copy the current notebooks and translate the inline text to Spanish, placing the notebooks in a "espanol" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/examples/t

[2019-12-04 14:22] iamtrask opened #2776 "Translate our tutorials to Portuguese"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Portuguese.

For this PR, copy the current notebooks and translate the inline text to Portuguese, placing the notebooks in a "portuguese" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/e

[2019-12-04 14:22] iamtrask opened #2777 "Translate our tutorials to Portuguese"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Portuguese.

For this PR, copy the current notebooks and translate the inline text to Portuguese, placing the notebooks in a "portuguese" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/e

[2019-12-04 14:23] iamtrask opened #2778 "Translate our tutorials to Simplified Chinese / Chiniese"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as chinese.

For this PR, copy the current notebooks and translate the inline text to Chinese (simplified, non, or both), placing the notebooks in a "chinese" folder within the "tutorials" folder.

https://github.com/OpenMined/Py

[2019-12-04 14:23] MarcioPorto commented on #2776
I can take a crack at this 🚀

[2019-12-04 14:24] iamtrask opened #2779 "Translate our tutorials to French"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as French.

For this PR, copy the current notebooks and translate the inline text to French, placing the notebooks in a "french" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/examples/tuto

[2019-12-04 14:25] iamtrask opened #2780 "Translate our tutorials to Japanese"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Japanese.

For this PR, copy the current notebooks and translate the inline text to Japanese, placing the notebooks in a "japanese" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/example

[2019-12-04 14:26] iamtrask opened #2781 "Translate our tutorials to German"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as German.

For this PR, copy the current notebooks and translate the inline text to German, placing the notebooks in a "german" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/examples/tuto

[2019-12-04 14:27] iamtrask commented on #2776
Excellent! Please do!

[2019-12-04 14:27] iamtrask commented on #2776
Feel free to submit notebooks in Pull Requests as you go along :)

[2019-12-04 14:30] iamtrask opened #2782 "Translate our tutorials to your native language!"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language

For this PR, copy the current notebooks and translate the inline text to a language you know, placing the notebooks in a <language-name> folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/examples/t

[2019-12-04 14:31] arturomf94 commented on #2775
I'll take this issue :)

[2019-12-04 14:32] iamtrask opened #2783 "Multi-Language Notebook Support in Tutorials"
We would like to have the ability to have one set of tutorial notebooks with multiple language options. Please modify our current jupyter notebooks to be able to support multiple languages inline using a technique such as https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/nbTranslate/README.html#compatibility

[2019-12-04 15:33] iamtrask commented on #2777
Duplicat of https://github.com/OpenMined/PySyft/issues/2776

[2019-12-04 15:33] #2777 closed

[2019-12-04 15:34] iamtrask commented on #2775
All yours!

[2019-12-04 16:37] MarksASP95 commented on #2631
I'm having the same issue. I know this is a bit old but have you found a solution for this? (Not necessarily using PySyft, but on any Federated Learning solution)

[2019-12-04 22:58] ricardopretelt commented on #2782
I can start right now with the translation to spanish as it is my native languange, if anyone else wants to contribute can contact me

[2019-12-05 00:43] gmuraru commented on #2707
@LaRiffle tried the following code - in the ```Plans``` notebook:

[code]
and from what I checked,  if I run ```plan_test.build(torch.tensor([1., -2.]))``` it will simply call the build method for the ```plan_test``` (will not call ```build``` for ```plan_double_abs``` even thought it is called inside ```plan_test```)
and after that I ran:
[code]

Also, added a print message in the ```execute_comm

[2019-12-05 03:18] NateSolon opened #2784 "fix_prec() doesn't work for crt or large"
**Describe the bug**
Converting a model to fixed precision doesn't work for LargePrecision or CRTPrecision.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tutorial Part 11 - Secure Deep Learning Classification up to `model.fix_precision().share(alice, bob, crypto_provider=crypto_provider)`
If you're planning to run multiple tests, you may want to save the model and reload it as it can t

[2019-12-05 10:46] gmuraru commented on #2768
Looking into this

[2019-12-05 13:24] Yugandhartripathi commented on #2774
I am on it!

[2019-12-05 13:41] iamtrask commented on #2782
Make sure to collaborate with these folks too - submit one tutorial at a time via pull reequesets to minimize the chance of double work. https://github.com/OpenMined/PySyft/issues/2775

[2019-12-05 14:39] ricardopretelt commented on #2782
ok thanks, already coordinated with @arturomf94

[2019-12-06 11:06] ammarvoloder opened #2788 "train_config.model_ptr.get() returns ObjectWrapper instead of ScriptModule"
Steps to reproduce:

1. Follow Federated Learning with TrainConfig
2. Create the worker, send the model to it
3. Get the model back with the function model_ptr.get() or with .get_model()
4. Pass the newly trained model to the train_config in order to send it to another worker
5. Exception ObjectWrapper has no attribute 'parameters'.

I don't know if this is a defect or not, but I could not find a

[2019-12-06 15:30] kaustubh-seachange commented on #2774
I can also contribute to this task

[2019-12-06 15:46] Yugandhartripathi commented on #2774
@kaustubh-seachange @darkmatter18 wanna split the work and get it done faster together?
if yes: I am using nbTranslate followed by proof reading then some manual editing and corrections.  What about you? Would love to know if there's a better way to do it.

[2019-12-06 16:13] darkmatter18 commented on #2774
@Yugandhartripathi @kaustubh-seachange  Love to split the work. Please tell me which notebooks you guys want to work on?

[2019-12-06 16:27] Yugandhartripathi commented on #2774
Alright then I will handle work on Parts 11, 12, 12-bis, 13a, 13b, 13c

[2019-12-06 16:33] darkmatter18 commented on #2774
As, i started from the beginning, I will go for 2,3,4,5,6. 1 already done

[2019-12-06 16:36] H4LL opened #2789 "Broken backprop from given gradient"
**Describe the bug**
The bug occurs when performing backprop from a given gradient when the gradient and variable are held on a remote host.

**To Reproduce**
I have made two notebooks. One demonstrates what should [what should be happening](https://github.com/blockpass-identity-lab/PySyft/blob/dev/examples/experimental/Split%20Neural%20Network/Simple-VanillaSplitNN-NoPySyft.ipynb).

The other dem

[2019-12-06 16:37] kaustubh-seachange commented on #2774
Which leaves me to take up the 7 to 10.

[2019-12-06 16:54] wonderit commented on #2782
@iamtrask
Could you please open an issue for Korean also? As a fan of this project, I would like to participate in this issue.

[2019-12-06 18:38] raheja commented on #2774
Hey everyone! I am on this task as well. If your are all ok, I can take up 5, 6, 13b and 13c. Work equally divided among all. What say?

[2019-12-06 18:47] Yugandhartripathi commented on #2774
@raheja The more the merrier. Let's get it done!

[2019-12-07 06:48] darkmatter18 commented on #2774
@Yugandhartripathi can you please review my Pull request #2787

[2019-12-07 09:59] LaRiffle commented on #2707
Amazing! 🕺🏻
Thanks for this finding :)
Ok what happen now if you supply args_shape in the plan definition?
Example:
[code]

[2019-12-07 13:33] gmuraru commented on #2707
Tested with:
[code]
It looks like if the ```plan_double_abs``` is built, then we will call the ```plan_double_abs``` in  ```plan_test``` it would go through the ```plan_double_abs``` (which is a "plan class").

Added a ```building``` context at the ```owner (worker)``` level.

[2019-12-07 17:43] lc0 commented on #2061
@iamtrask would you mind to assign me to this one. I am back and happy to bring it to reality :)

[2019-12-07 18:28] #2775 closed

[2019-12-07 18:31] iamtrask commented on #2775
Heads up @arturomf94 - @ricardopretelt has translated Part 1!

[2019-12-07 18:34] gmuraru opened #2792 "Translate our tutorials to Romanian"
"At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Romanian.

For this PR, copy the current notebooks and translate the inline text to Romanian, placing the notebooks in a "romanian" folder within the "tutorials" folder." (Andrew Trask, s/Hindi/Romanian)

https://github.com/O

[2019-12-07 18:47] iamtrask commented on #2061
I think we're about to merge it https://github.com/OpenMined/PySyft/pull/2755

[2019-12-07 18:47] iamtrask commented on #2061
But welcome back @lc0 !!! Great to see you!

[2019-12-07 18:48] arturomf94 commented on #2775
Thanks @iamtrask. Indeed, we've been coordinating in order to avoid double work :)

[2019-12-07 18:50] lc0 commented on #2061
This is great. In this case, I would rather allocate my effort reviewing / improving existing one. Thanks for quick reply!

[2019-12-07 19:15] iamtrask commented on #2775
Excellent!

On Sat, Dec 7, 2019 at 6:48 PM arturomf94 <notifications@github.com> wrote:

[2019-12-07 19:33] lc0 commented on #2721
@noumanriazkhan would you mind to attach / upload to colab your minimum reproducible example?

[2019-12-07 20:47] ricardopretelt commented on #2782
@wonderit I think that anyone can open the issue, just for convenience use the same format as the others and the labels translation, good first issue and feature

[2019-12-08 02:22] wonderit opened #2794 "Translate our tutorials to Korean"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Korean.

For this PR, I will copy the current notebooks and translate the inline text to Korean, placing the notebooks in a "korean" folder within the "tutorials" folder.

https://github.com/OpenMined/PySyft/tree/master/exampl

[2019-12-08 02:45] abdulbasitds opened #2795 "torrch.jit. script RuntimeError: undefined value _Reduction:"
**Describe the bug**
I was trying to reproduce Asynchronous-federated-learning-on-MNIST fromadvanced example. where `@torrch.jit.script`  is used before loss function. I am getting this error and have no clue what this is about

[code]

[2019-12-08 15:55] ticlazau opened #2796 "No module named 'syft.frameworks.torch.fl'"
Hello,

when running the example:
'Federated learning with websockets and federated averaging.ipynb'

I am getting this error at very beginning:

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-3-720bf18bab2b> in <module>
      5 from torchvision import datasets, transforms
      6
----> 7 from syft.frameworks.torch.fl import utils

ModuleNotFoundError: N

[2019-12-08 19:55] wonderit commented on #2794
@ricardopretelt
I opened the issue but I couldn't add the labels you mentioned. Since I am not a contributor to this project, I think I don't have the permission to add labels.

[2019-12-08 22:33] abdulbasitds commented on #2796
you need to import like  `from syft.frameworks.torch.federated import utils`

[2019-12-09 00:03] refactormyself commented on #2783
@iamtrask please can you clarify the task here.

The nbTranslate extension has to be installed by the user. I tried it using Chrome and Firefox. I can view the tutorials several languages and switch between them.

Are we trying to generate a .pot file for each tutorial, so that .po file can be created as needed for each language per tutorial?

[2019-12-09 03:00] LaRiffle commented on #2796
Which version of syft are you using? In the latest one it should be working... Tell me if it doesn't

[2019-12-09 03:02] LaRiffle commented on #2731
I think https://github.com/OpenMined/PySyft/pull/2755 fix this

[2019-12-09 03:02] #2731 closed

[2019-12-09 03:05] LaRiffle commented on #2719
Hey thanks for reporting,
Would you mind adding the stacktrace to this issue?
This might help us to provide help without having to launch the whole project :)

[2019-12-09 03:15] LaRiffle opened #2797 "Send (or not) Autograd Tensor"
**Is your feature request related to a problem? Please describe.**
Currently, sending/getting Autograd tensors cause an error because grad_fn is added to the args serialize which is not possible.

**Alternative solutions**
A. Either we want to serialize AutogradTensor and we A.1 remove the grad_fn arg or A.2 add serialization for all the grad_fn components or B. We don't want AutogradTensor to be

[2019-12-09 03:22] LaRiffle commented on #2666
Hi,
the reason for your error is that we currently have a bug with serializing AutogradTensor, I just filled an Issue about this.
So here is a version of your code without the .send() which works. Note that the kay difference is that now you as a local worker will do the sharing while in your code it was workers[0]:
[code]
I'll close this issue as another one targets for specifically the error men

[2019-12-09 03:22] #2666 closed

[2019-12-09 03:24] #2603 closed

[2019-12-09 03:28] LaRiffle commented on #2494
Apparently it has been fixed :)

[2019-12-09 03:28] #2494 closed

[2019-12-09 03:30] LaRiffle commented on #2461
This has been fixed

[2019-12-09 03:30] #2461 closed

[2019-12-09 03:32] LaRiffle commented on #2409
Fixed by #2654

[2019-12-09 03:32] #2409 closed

[2019-12-09 03:34] LaRiffle commented on #2336
Has been done actually

[2019-12-09 03:34] #2336 closed

[2019-12-09 03:36] LaRiffle commented on #2797
Related to: https://github.com/OpenMined/PySyft/issues/2137

[2019-12-09 06:10] abdulbasitds commented on #2796
Thanks for replying @LaRiffle , I am using version `syft==0.2.0a2`, I just used `pip install syft` and I believe its latest?

[2019-12-09 06:53] ticlazau commented on #2796
Here is my output:

pi@rasp-m:~ $ python3
Python 3.7.3 (default, Apr  3 2019, 05:39:12)
[GCC 8.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

1.3.0a0+de394b6

0.2.0a2

[2019-12-09 07:21] ticlazau commented on #2796
The change "from syft.frameworks.torch.federated import utils" must be done on run_websocket_client.py file as well.
However, if the change is done, in the run_websocket_client.py we get the following error:
python3 run_websocket_client.py
Traceback (most recent call last):
  File "run_websocket_client.py", line 284, in <module>
    main()
  File "run_websocket_client.py", line 222, in main
    al

[2019-12-09 07:37] ticlazau commented on #2796
@abdulbasitds is working 👍
replace: "from syft.frameworks.torch.fl import utils"
with
"from syft.frameworks.torch.federated import utils"

[2019-12-09 07:37] #2796 closed

[2019-12-09 09:30] fdroessler commented on #2771
@alejandrosame are you working on this already?

[2019-12-09 09:57] alejandrosame commented on #2771
Hi @fdroessler !

Yes, I already started working on it. Hopefully, I'll soon send a PR with the first couple of hooked functions (I'm giving priority to the ones used on tutorials right now).

[2019-12-09 16:19] iamtrask commented on #2747
@PlamenHristov and @abogaziah, I 100% support porting python-paillier to PyTorch. there will be challenges (primarily with representing large numbrees, which in theory CRTTensor can do but it will be tricky). The best part about doing it this way is that it means your tensor will automatically work in JS and iOS/Android by default.

Also, the author of python-paillier is a great guy and is often a

[2019-12-09 16:41] iamtrask commented on #2797
We should allow autograd tensor to be sendable across the wire, but we should serialize the functions using a string version of them (with specific ones whitelisted) instead of serializaing any function at all.

CC: @karlhigley this is related to what you were talking about.

[2019-12-09 17:09] refactormyself opened #2800 "Cannot convert a pytorch nn model to pysyft LargePrecision model"
I want create a NN using Pytorch and Pysyft with support for Large Precision. There seems to be a bug preventing this.

**To Reproduce**
[code]
This is the expected way to create large_model according to [this example](https://github.com/OpenMined/PySyft/blob/master/examples/experimental/Large%20Precision%20Tensor.ipynb)
However, this gives the error `Can't call numpy() on Variable that requires g

[2019-12-10 18:06] raheja commented on #2774
Hey guys, a few things to consider before we make pull requests -
(a) Since our work is divided among four, we all need to have a few set of rules that we stick to. For instance, 'name translations', like Bob or Alice if done in Part1, need to followed through till the end.
(b) Andrew has updated in the ticket before, regarding what all needs to be translated. Other than error messages and PySyft

[2019-12-10 20:21] seungjaeryanlee commented on #2783
@iamtrask I see some issues dedicated to each language. ([German](https://github.com/OpenMined/PySyft/issues/2781), [Japanese](https://github.com/OpenMined/PySyft/issues/2780), [Chinese](https://github.com/OpenMined/PySyft/issues/2778)) Can I translate the notebooks to a different language without an issue? I would like to translate the tutorials to Korean.

Also, can the work be divided into mult

[2019-12-10 20:25] gmuraru commented on #2744
Sorry for the late response. My opinion is that we should (in a way) unify some of the files.
One of the idea is to have a ```start_websocket_servers``` that could be parameterized and depending on one paramter start specific workers.
Eg:
   ```start_websocket_server --notebook mnist-parallel```` and this should start the set of workers for the ```MNIST-Parallel tutorial```.

What do you think @La

[2019-12-10 20:26] seungjaeryanlee commented on #2783
Never mind! #2782 answers all my question.

[2019-12-10 20:59] wonderit commented on #2794
Now done with Part 01, working on Part 02

[2019-12-10 23:14] seungjaeryanlee commented on #2794
Awesome thanks! Maybe later we can create a glossary of common phrases to ensure that our translation is consistent :)

[2019-12-11 01:07] #2768 closed

[2019-12-11 05:16] ribhu97 commented on #2535
Hi @jvmancuso Is this issue still open? I would like to be assigned to this if no one is currently working on it.

[2019-12-11 12:02] fdroessler commented on #2782
In order to avoid cluttering of the "root" tutorials directory my suggestion would be to have all translations in a`examples/tutorials/translations/` subdirectory. I have done this for some of the notebook tests already and suggested it in the PRs for Korean, Espanol and Romanian. If this is not opposed by the maintainers I would make this a more general suggestion?

[2019-12-11 12:24] iamtrask commented on #2782
Sounds great!

Sent from my iPhone

[2019-12-11 17:38] #2789 closed

[2019-12-11 18:00] ricardopretelt commented on #2782
I have the 3rd tutorial translated to spanish, but we need the previous parts merged with the new updates to do a new PR avoiding version conflicts

[2019-12-12 07:32] gmuraru commented on #2789
Hey @H4LL.

It is working now? What was the problem? :)

[2019-12-12 09:04] aeroaks commented on #2774
Hi All, Count me in for the translation efforts! I would be happy to help!

[2019-12-12 10:34] H4LL commented on #2789
The backward function was not on the list of ambiguous methods so the vesrion of backward() that i needed was not cached. Fixed though by this commit; https://github.com/OpenMined/PySyft/pull/2799

[2019-12-12 13:52] jefersonf commented on #2776
@MarcioPorto Have you started this yet? If so, which notebooks haven't you touched on yet? This is something I would like to help.

[2019-12-12 14:47] JpMCarrilho commented on #2719
Sure!
`WARNING:tf_encrypted:Falling back to insecure randomness since the required custom op could not be found for the installed version of TensorFlow. Fix this by compiling custom ops. Missing file was '/home/jpmc/anaconda3/envs/pysyft/lib/python3.7/site-packages/tf_encrypted/operations/secure_random/secure_random_module_tf_1.14.0.so'
WARNING:tensorflow:From /home/jpmc/anaconda3/envs/pysyft/lib/

[2019-12-12 16:08] MarcioPorto commented on #2776
@jefersonf I am still on the first one. Let's use this checklist to mark the ones we have already started on so that other people coming in know which ones they can work on:

- [x] Part 01 - The Basic Tools of Private Deep Learning.ipynb
- [ ] Part 02 - Intro to Federated Learning.ipynb
- [ ] Part 03 - Advanced Remote Execution Tools.ipynb
- [ ] Part 04 - Federated Learning via Trusted Aggregator.

[2019-12-12 20:19] jefersonf commented on #2776
Nice! I'll take Part 2 to get started.

[2019-12-13 06:22] abdulbasitds commented on #2795
Issue solved after moving jit function to top of the file

[2019-12-13 06:22] #2795 closed

[2019-12-14 04:53] sukhadj commented on #2797
Can I work on this?

[2019-12-14 18:21] #2776 closed

[2019-12-15 10:10] TTitcombe commented on #2779
As nobody has picked this up yet, I'll put my hat in the ring. I'm not a native speaker, however, so I might be better placed reviewing other people's PRs

[2019-12-16 09:18] elBichon commented on #2779
Hello, I am a native french speaker, I can take a look at it

[2019-12-16 14:15] cereallarceny commented on #2654
@LaRiffle @iamtrask @karlhigley

Once this PR (https://github.com/OpenMined/PySyft/pull/2812) is merged, we can close this epic of an issue.  Nice work @vvmnnnkv!

[2019-12-16 14:26] cereallarceny commented on #2654
Closing as the PR was merged.  @LaRiffle @karlhigley @vvmnnnkv

[2019-12-16 14:26] #2654 closed

[2019-12-16 15:52] #2774 closed

[2019-12-16 19:20] TTitcombe opened #2825 "Incorrect error message in Protocol.deploy"
**Describe the bug**
Calling `Protocol.deploy` with more workers than were specified (fictively) when the protocol was sent to and retrieved from a worker will return the error message `RuntimeError: This protocol is designed for 1 workers, but <N> were provided.`, even when the protocol was designed for more than 1 workers.

**To Reproduce**`
Either:
1. Go to `examples/tutorials/Part 08 bis...`
2

[2019-12-17 00:46] klize opened #2829 "Error in dependency_check.py"
I got some errors while running some examples.
My OS is Window 10 and Ubuntu 18.04,
I used miniconda on windows and venv for the latter, and  both uses python 3.6.x

I checked the library and figured it out that 'util' is another submodule of 'importlib', that is, not defined as an attribute in `__init__.py` in importlib.

So this lead me to here to say,
[code]
must be added to 'dependency_check.p

[2019-12-17 10:25] alejandrosame commented on #2771
As somewhat expected, I was a bit overconfident with my initial approach to the task, so I'm leaving here an explanation of the main problem to solve in order to integrate NumPy as a supported framework inside Syft.

From the user point of view, we expect the hooking process to look like the **PyTorch** hook:
[code]

The codebase already provides with an abstract class **FrameworkHook**. However,

[2019-12-17 16:51] alejandrosame commented on #2771
It seems that NumPy has this use case covered and I overlooked the documentation. In the [subclassing doc](https://docs.scipy.org/doc/numpy/user/basics.subclassing.html) it is very well documented how to override the behaviour of ndarray and the defined subclass would allow to extend attributes dynamically.

As explained in the previous comment, trying to extend numpy.ndarray directly will fail:
[

[2019-12-17 18:17] karlhigley opened #2834 "Extract compression from `serde` to separate module"
**Is your feature request related to a problem? Please describe.**
Compression and serialization are currently intertwined with each other in the same module.

**Describe the solution you'd like**
In order to pave the way for alternate serialization approaches (e.g. Protobuf), it would be helpful to extract compression out of `serde.py` and into its own module.

**Describe alternatives you've cons

[2019-12-17 20:29] karlhigley commented on #2788
I'm not entirely sure how to fix that, but I think ScriptModules get bundled into an ObjectWrapper when sent to another worker. The ScriptModule inside an ObjectWrapper should be accessible via `wrapper.obj`.

[2019-12-17 20:45] linamnt commented on #2729
**Approach**
I currently have implemented a fix where I add a parameter to check if a tensor had been unwrapped and is now getting rewrapped in the hook response (`rewrap=True` which by default will be False to not break code).

It takes advantage of the [`build_rule()` in `build_wrap_response_from_function()`](https://github.com/OpenMined/PySyft/blob/8f7705fbba623827f1edaf5a2a351a973e2e001d/syft/

[2019-12-18 13:50] adilnaut commented on #2782
I will translate to Russian, dm me if you want to collaborate!

[2019-12-18 14:36] ProfXGiter opened #2837 "Folded Split Neural Network Tutorial"
**Describe the bug**
RuntimeError: invalid gradient at index 0 - got [0] but expected shape compatible with [64, 640].

**To Reproduce**
Just run the tutorial
https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/advanced/Split%20Neural%20Network/Tutorial%203%20-%20Folded%20Split%20Neural%20Network.ipynb

**Desktop (please complete the following information):**
 - OS: linux
 - Version

[2019-12-18 14:54] ProfXGiter opened #2839 "Folded Split Neural Network run with three machines"
**Describe the bug**
Machine B show the bug:
Worker me couldn't recognize worker alice
Task exception was never retrieved
future: <Task finished coro=<WebsocketServerWorker._producer_handler() done, defined at /"syft package path"/lib/python3.6/site-packages/syft/workers/websocket_server.py:95> exception=AttributeError("'str' object has no attribute '_recv_msg'", )>

Machine C show the bug:
Websoc

[2019-12-18 15:41] gmuraru opened #2840 "SMS Spam Detection FL Notebook Pytest Failing"
**Describe the bug**
When ran on travis the SMS Spam Detection notebook is failing with the error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Remove the **sms spam detection notebook** from the exclusion list and delete the skip mark
2. Make a PR with the changes
3. Travis will fail complaining with the above mentioned error

**Expected behavior**
Travis should pass.

[2019-12-19 15:51] #2834 closed

[2019-12-19 17:06] Metrix1010 commented on #2782
I can translate into French although not my native language (I'd be using nbTranslate).
DM me to collaborate.

I need some clarification for this task.

Are we:
1. Creating a hard copy of the tutorials folder translated into a specified language?
2. Updating the main installation file to require each user to install nbTranslate to self select language?
3. Both?

Thanks :)

[2019-12-20 03:34] codergan opened #2845 "Weighted federated averaging for non-IID data"
**Is your feature request related to a problem? Please describe.**
I am frustrated when the data provided by the clients are niid

**Describe the solution you'd like**
I want to send one more dictionary e.g. train_data or train_data_len to contain the data or number of data of each clients in order to do a federated average with weights difference among clients. In this way, iid will not be affect

[2019-12-20 15:22] #2705 closed

[2019-12-20 21:13] Guillem96 commented on #2670
@LaRiffle any updates on this issue? If you want I can give it a try

[2019-12-22 10:33] unzvfu commented on #2747
Hi all, author of cuda-fixnum here; @hardbyte sent me your way.

I started working on a Python wrapper for cuda-fixnum last year, and it's still a goal of the project. Unfortunately I don't have time to work on the HLL interface part of the project at the moment, a situation which is not likely to change in the near future. The current state of my Python work is, frankly, a _mess_, and probably no

[2019-12-23 13:44] deven96 commented on #2711
I'd like to contribute to this but the description is not quite clear

[2019-12-23 16:20] elk-cloner opened #2853 "error in tf.keras.layers.DepthwiseConv2D"
**Describe the bug**
i want to use tf.keras.layers.DepthwiseConv2D() but always get this error:

  File "...../kerasNN.py", line 63, in <module>
    main()
  File "...../kerasNN.py", line 51, in main
    model.add(tf.keras.layers.DepthwiseConv2D(3))
  File "...../anaconda3/envs/pysyft/lib/python3.6/site-packages/syft/frameworks/keras/layers/constructor.py", line 18, in syft_keras_constructor
    s

[2019-12-23 17:48] KyloRen1 commented on #2782
@adilnaut If you don't mind, I would also like to translate to Russian. I suppose you have already started with Part01. So I will start translating 2 and so on.

[2019-12-23 23:51] vvmnnnkv commented on #2767
Installing pytorch with `conda install pytorch==1.3.0 -c pytorch` before syft worked for me on Win10.
(Note exact 1.3.0 version, not just 1.3)

[2019-12-24 22:00] MarksASP95 commented on #2758
Hey, I'm not sure how to apply the solutions you provided, could you be more specific?

[2019-12-25 01:06] dljgs1 commented on #2778
This work is done. [Here is PR](https://github.com/OpenMined/PySyft/pull/2852).

[2019-12-26 07:15] b02202050 opened #2858 "Bind Address Fail when starting a local socketServerWorker"
**Describe the bug**
When I Use python commandline prompt to run the script in websocket tutorial, I cannot bind the address when start the worker.
* error message:
`OSError: [Errno 99] error while attempting to bind on address ('::1', 8182, 0, 0): cannot assign requested address`

**To Reproduce**
Steps to reproduce the behavior:
1. use terminal (not notebook)
1. run`python`
1. run (this code is

[2019-12-26 07:52] Li-Ziyuan opened #2859 "module 'syft' has no attribute 'KerasHook'"
module 'syft' has no attribute 'KerasHook'

how could it happend???

[2019-12-26 09:27] gmuraru commented on #2859
Do you have the ```tf-privacy``` module installed?

[2019-12-26 09:37] Madhura12gj opened #2861 "RuntimeError: invalid argument 8: lda should be at least max(1, 0), but have 0 at /pytorch/aten/src/TH/generic/THBlas.cpp:363"
Runtime error when running:

` def train( ):
  opt = torch.optim.SGD(params=model.parameters(),lr=0.1)
  for epoch in range (20):
    model.train()
    print("Training started..")

    for x_data,y_data in datasets:

      model.send(x_data.location)

      opt.zero_grad()

       #forwardpass
       #the model here is the linear regression model
      y_pred = model(x_data)

      #ComputeLoss

[2019-12-26 15:23] karlhigley commented on #2858
[This ipython issue](https://github.com/ipython/ipython/issues/6193) has some potentially relevant info about this socket error. Long story short, IPv6 `::1`, IPv4 `127.0.0.1`, and the `localhost` hostname are often but not always interchangeable. What happens if you change the `WebSocketServerWorker` instantiation to set `host="127.0.0.1"`?

[2019-12-26 15:38] karlhigley commented on #2861
I think this has to do with calling `get` on the model inside the loop. The typical semantics of `get` in Syft move the object from the remote worker to the location where `get` is executed, [destroying the remote object in the process](https://github.com/OpenMined/PySyft/blob/475fd8d46a24d8f8ad81c7edaf0af29cb45b3426/syft/generic/pointers/object_pointer.py#L228-L235).

Not 100% sure, but I think t

[2019-12-26 19:31] Av01 commented on #2448
If this issue has not been assigned to anyone, can I work on it?

[2019-12-27 06:22] Madhura12gj commented on #2861
Yes! you were right, moving the model.get() outside loop helped Thanks! But I now face a dimension error saying, "Dimension out of range (expected to be in range of [-1, 0], but got 1)"

[2019-12-27 14:01] LaRiffle commented on #2670
Please go ahead :)

[2019-12-27 17:57] #2537 closed

[2019-12-27 18:04] LaRiffle opened #2864 "Inconsistency in tutorial 3 Section 3.2"
In tutorial 3 Section 3.2 it reads:

But the code example is the `.move` functionalily

I think we want to keep move() but introduce it differently (maybe before this text) and show the remote_get and remote_* functionalities just after the text quoted

[2019-12-27 19:17] karlhigley commented on #2861
Hmm, not sure I've helped much yet. At least we know it's the `model.get()` where the problem occurs, but I think you already knew that.

[2019-12-27 21:31] MarksASP95 commented on #2758
This notebook works on version 0.1.13a1.

[2019-12-28 02:39] Li-Ziyuan commented on #2859
Nope...should I run pip install tensorflow.privacy?

[2019-12-30 09:01] b02202050 commented on #2858
Wow you genius! It works!!

[2019-12-30 09:05] #2858 closed

[2019-12-30 10:16] sandeepwww commented on #2494
I am still seeing the same issue. I even tried making changes according to commit in the thread, still seeing the same error.

![image](https://user-images.githubusercontent.com/8968772/71577789-8e50e900-2b1b-11ea-993e-5d022fed38a8.png)

[2019-12-30 12:36] #2729 closed

[2019-12-30 13:22] alejandrosame commented on #2771
It seems that NumPy has this use case covered and I overlooked the documentation. In the [subclassing doc](https://docs.scipy.org/doc/numpy/user/basics.subclassing.html) it is very well documented how to override the behaviour of ndarray and the defined subclass would allow to extend attributes dynamically.

As explained in the previous comment, trying to extend numpy.ndarray directly will fail:
[

[2019-12-30 14:11] alejandrosame commented on #2758
Hi @MarksASP95!

Both solutions involve development. I'm currently working and documenting the NumPy integration [on this issue](https://github.com/OpenMined/PySyft./issues/2771).

[2019-12-30 15:27] karlhigley commented on #2858
I've just seen these kinds of issues recently. 😄

[2019-12-30 15:38] iamtrask commented on #2771
Definitely use Numpy’s support for subclassing. Eventually the PyTorch side will do this too (changing FrameworkHook considerably) as PyTorch very recently received support for subclassing

Sent from my iPhone

[2019-12-31 04:50] iamtrask opened #2872 "Remove Numpy from LargePrecisionTensor"
**Is your feature request related to a problem? Please describe.**
We cannot use LargePrecisionTensor for remote executions or within plans if it depends on numpy.

**Describe the solution you'd like**
Implement the same functionality without using numpy. In other words, remove the numpy import from this file.

https://github.com/OpenMined/PySyft/blob/b0b8a13524150002524c15c6c283b4b14de62d40/syft/

[2019-12-31 10:17] onezerobinary opened #2873 "Add native support for Jetson Nano"
It would be amazing if pySyft will be directly available using hardware such as Jetson Nano

I’m trying to develop a consensus protocol using pySyft on a network of Jetson Nano but is hard to combine the two things together.

It will be nice to have in the distro that is distributed with the Jetson Nano the pySyft library installed that allow developers to access directly to the device and just in

[2019-12-31 11:02] systemshift commented on #2872
I can work on this, please assign me the issue.

[2019-12-31 22:18] karlhigley commented on #2513
The semantics of ObjectRequestMessage don't lend themselves nicely to this use case either, because ORM indicates that the worker should delete its copy of the tensor after sending it back.

The comment that led me here says:
[code]

PyTorch now has some kind of custom tensor type support, but I'm not sure what that has to do with GetShapeMessage. Any idea?

[2020-01-01 03:35] iamtrask commented on #2513
Don’t delete this yet. We need it for pointertensor

Sent from my iPhone

[2020-01-01 16:32] karlhigley commented on #2513
Sure, I'm not in a hurry to remove it, I just want to understand what's going on here and the comments don't entirely spell it out. Based on the keywords `.shape`, `PointerTensor`, and "custom tensor type support", I'm guessing that the issue might be that calling `.shape` on a `PointerTensor` doesn't quite work due to limitations in PyTorch and this message is a workaround for that?

[2020-01-01 17:17] iamtrask commented on #2513
Exactly (forgive brevity I’m replying via email on my phone)

Sent from my iPhone

[2020-01-02 09:23] #2861 closed

[2020-01-02 09:38] Madhura12gj opened #2878 "Sharing of data among Workers using .federated method"
I am trying the federated learning on a csv data. The training data has inputs and targets. Inputs contains all feature columns that are needed to predict and targets has one column.

I want to share some data from inputs, targets to Bob and some to Alice. I am following this particular blog.
[https://blog.openmined.org/upgrade-to-federated-learning-in-10-lines/](url)

What have I done till now?
1

[2020-01-02 16:39] johnnylin110 opened #2879 "Dataloader very slow when iterate the batch"
I was looking at this tutorial [https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/advanced/websockets-example-MNIST/run_websocket_client.py](url)
I just run it in local , so i set the args.use_virtual=True. And I want to train it 500 times (epoch=500 to implement paper work on non-iid data).
However, each episode is about 1 min at the beginning(CPU memory usage is about 40%),when

[2020-01-03 22:27] PlamenHristov commented on #2514
I think this issue requires some clarification. From what I understand `Message.simplify()` and `Message.detail()` should be inverses of each other. However, I don' think that's exactly what's happening. If we consider the test below:

[code]
when [Message.simplify()](https://github.com/OpenMined/PySyft/blob/fd16c9ada84e6df9a7293db8b3a6dd6df109e128/syft/messaging/message.py#L65) takes the contents

[2020-01-03 22:55] PlamenHristov commented on #2514
Ok I can see those methods will be deleted https://github.com/OpenMined/PySyft/pull/2826. Nvm.

[2020-01-04 04:03] codergan commented on #2498
+10086

[2020-01-04 13:15] sukhadj opened #2882 "AdditiveSharingTensor changes 'garbage_collect_data' while simplifying"
**Describe the bug**
AdditiveSharingTensor changes the value of garbage_collect_data while serialization. This results in inconsitent serialization for high level tensors (AutogradTensor wrapped around AdditiveSharingTensor, etc)

**To Reproduce**
[code]
Outputs:
[code]
**Additional context**
It gets changed [here](
https://github.com/OpenMined/PySyft/blob/a35542ab518ea1b014e37d44060a5b3a8c19a211/

[2020-01-04 14:12] karlhigley commented on #2882
Serialization/deserialization itself should never change the state or type of an object, so...it seems like we might need a mechanism for making changes before sending and/or after receiving. There's a similar issue with `PointerTensor`, where deserialization can return either a `PointerTensor` or a `torch.Tensor`, because the deserialization checks to see if the tensor is local and loads it if so

[2020-01-04 14:15] karlhigley commented on #2882
@iamtrask @vvmnnnkv Thoughts on this? Could we introduce some kind of hook methods for making changes before sending or after receiving?

[2020-01-04 15:21] LaRiffle commented on #2882
I would be tempted here by a dirty fix

[code]

(But this doesn't concern the PointerTensor issue you mentioned @karlhigley
This phenomenon is due to how Plans are implemented, because they store serialized pointers which needs to deserialize as tensors. It's dirty, it my fault lol, and maybe changing the way Plans are created is the best idea to get rid of this improper deserialization behavior)

[2020-01-04 15:37] karlhigley commented on #2882
I'm fine with a dirty fix for now to make `grad_fn` serialization work and get it merged. I do think these issues are related though, in that they're both cases where another kind of operation is entangled with serialization/deserialization. Thinking that might be a sign that there's a missing abstraction here that would provide common structure for operations that need to happen around sending/re

[2020-01-04 15:41] karlhigley commented on #2514
@PlamenHristov #2826 won't be merged, so I think this is still relevant.

[2020-01-04 16:30] vvmnnnkv commented on #2882
Shouldn't it be `tensor.set_garbage_collect_data(<previous value>)`? :-)
Or is it always True?

[2020-01-04 16:58] sukhadj commented on #2882
Hey, I have updated the code in #2871  with dirty fix suggested by @LaRiffle.

It is now set to previous value.

[2020-01-05 11:05] Guillem96 commented on #2670
@LaRiffle When I try to send a Dataset I get this error:

`syft.exceptions.UndefinedProtocolTypeError: syft.frameworks.torch.fl.dataset.BaseDataset is not defined in the protocol file`

Should I modify syst proto package too?

[2020-01-05 12:57] chenglinfeng commented on #2258
change "host" to your local address like "192.168.x.x" (not 127.0.0.1), it works on my machine.

[2020-01-05 15:07] raheja commented on #2774
Hey all, I have finished my assigned translations. As mentioned above, I am not putting my name under 'translator'. So 'anuvadak' is nbTranslate, while 'sampadak', or editor, is me. I believe we can also use, 'NbTranslate का उपयोग करके ... (your name) द्वारा अनुवादित'.  Let me know your thoughts.

Since my notebook numbers are 5, 6, 13b, 13c  do you all think we should proceed with uploading the t

[2020-01-05 23:55] systemshift opened #2885 "build a uniform enviroment with a single command"
**Is your feature request related to a problem? Please describe.**
The current setup is messy with dependencies across different files and other guides or tutorials. Leading to dependency errors when someone is trying to build a new environment from scratch.

**Describe the solution you'd like**
A conda file in the repo that is kept up to date by the community, so the environment can be created wi

[2020-01-06 03:00] karlhigley commented on #2885
It seems like the biggest culprit lately has been the addition of the notebook tests to the test suite. I think the notebook dependencies were previously optional and hadn't been added to the Makefile venv target yet. IIRC, that's also where the missing scipy dependency cropped up, right?

[2020-01-06 15:10] systemshift commented on #2885
from a quick search, `scipy` is called in 2 notebooks, and `lr.py`. So even without the notebooks it was necessary  to add `scipy` to the main `requirements.txt` file.
Now thinking about it, it is possible that some users don't want to use conda(or can't) and would just prefer pip + venv, so that should be considered as well.

[2020-01-06 20:50] gmuraru commented on #2859
Sorry for the late reply.
Could you run:
```pip install -r pip-deps/requirements_tensorflow.txt```

And check if it works?

[2020-01-06 21:23] karlhigley opened #2887 "Serialization should return consistent types and should not modify objects being serialized"
**Is your feature request related to a problem? Please describe.**
Msgpack simplification/detailing of PySyft objects sometimes modifies the state of the object (e.g. `AdditiveSharingTensor`) and sometimes returns a completely different type of object (e.g. `PointerTensor`.) These additional pieces of functionality intertwined with de/serialization make it harder to add additional serialization fo

[2020-01-07 06:51] #2878 closed

[2020-01-07 10:26] aditya-malte commented on #2853
Hi,
Could you describe the installation process that you followed? Since there seem to be so many variations, and hence I am facing bugs
Thank you

[2020-01-07 11:36] elk-cloner commented on #2853
i exactly followed installation process in README.md file.
[code]
i explicitly added

because python=3 install python3.8 and there is no pytorch or tensorflow version compatible with python3.8

[2020-01-08 15:25] bingyue0610 commented on #2859
@Li-Ziyuan hi Ziyuan, did you solve the problem?

[2020-01-08 20:36] sukhadj opened #2889 ".get() method deletes underlying objects at worker"
**Describe the bug**
When we apply `.get` method to get the syft tensor (consider AdditiveSharing or FixedPrecisionTensor) it deletes the underlying tensor at workers also. This leads to ObjectNotFoundError in many tests.

**To Reproduce**
[code]
**Expected behavior**
Either underlying tensor doesn't get deleted or we should return the underlying tensor itself when use `.get()`

**Additional conte

[2020-01-09 12:56] LaRiffle commented on #2889
FYI this error comes from recent changes in how we serialize AdditiveSharing tensors

[2020-01-09 12:57] LaRiffle commented on #2845
Yes it's a good idea!
I'd love to see your suggestion on this :)

[2020-01-09 12:59] #2707 closed

[2020-01-09 13:02] LaRiffle opened #2892 "Implement Function Secret Sharing"
Implementing a new tensor type to support the FSS protocol from [Secure Computation with Preprocessing via Function Secret Sharing, Boyle 2019](https://eprint.iacr.org/2019/1095
)

[2020-01-09 18:11] karlhigley commented on #2889
Is [this change](https://github.com/OpenMined/PySyft/commit/5b9161eb326a3e5d5a4c0b6c3de18b8ce467c314#diff-5bfe6150bb5ee943c40230a4bdb0b054L990-R995) from the serde inconsistency fixes the relevant change that breaks this?

[2020-01-09 18:41] sukhadj commented on #2889
No. [this change from PR](https://github.com/sukhadj/PySyft/blob/f2754053352e7a0e01edc6eb326b551cf1f34cfe/syft/frameworks/torch/tensors/interpreters/additive_shared.py#L1008) breaking it. Currently commented out.

[2020-01-09 20:29] #2424 closed

[2020-01-09 20:31] karlhigley commented on #2357
@mccorby Are the [examples in the test helpers]https://github.com/OpenMined/PySyft/blob/master/test/serde/serde_helpers.py) sufficient to document the msgpack serialization format? Wondering if we can now close this issue.

[2020-01-09 22:04] karlhigley commented on #2474
[Current location](https://github.com/OpenMined/PySyft/blob/1f05bd9babd552f4fc40545c71303dc624c0c132/syft/frameworks/torch/pointers/object_pointer.py#L125) of the comment above.

[2020-01-09 22:10] karlhigley commented on #2474
@bhadreshpsavani, it looks to me like the `deregister_ptr` param is doing basically this, as you pointed out. `get_copy` would probably be a clearer name for the param though, so might still be worth changing.

[2020-01-09 22:12] karlhigley commented on #2034
@Ankit-Dhankhar I think [this try/except that decodes bytes to a string](https://github.com/OpenMined/PySyft/blob/ff080c1aff7ef99f5a0411b97ca1e3ac924b9ae4/syft/workers/base.py#L428-L435) is an example of the sort of check this issue is referring to.

[2020-01-10 02:04] Yugandhartripathi commented on #2774
@raheja no need to wait for intermediate translations you can proceed to upload the ones you have completed.

As for translator name others have put their names in there I understand your views on it but I think it's more about taking responsibility for the translations which will be done better if there is a person's name on there plus the editor title is a bit ambiguous here as there are often v

[2020-01-10 02:24] karlhigley commented on #2693
Notebooks tests are now running as part of the test/CI process. 👍

[2020-01-10 02:24] #2693 closed

[2020-01-10 02:25] #2635 closed

[2020-01-10 02:28] karlhigley commented on #1524
Added in #2309.

[2020-01-10 02:28] #1524 closed

[2020-01-10 02:32] karlhigley commented on #2061
Added in #2755.

[2020-01-10 02:32] #2061 closed

[2020-01-10 02:36] karlhigley commented on #2137
Captured again in #2797 and work in progress in #2871.

[2020-01-10 02:36] #2137 closed

[2020-01-10 08:48] kaustubh-seachange commented on #2774
@Yugandhartripathi  @raheja I think some translated words to hindi have different meaning in a particular context and I think we can leave it upto 'Vivek' of contributor to come up with appropriate translated word. Just my thought on this :)

Also over a weekend i should be able to complete pending items 9, 10.

[2020-01-10 09:41] mccorby commented on #2357
Lots of work around serde makes this issue not relevant anymore.

[2020-01-10 09:41] #2357 closed

[2020-01-10 10:24] codergan commented on #2845
I have requested for a pull request: fedavg #2893, plz help to review

[2020-01-10 10:51] kaustubh-seachange commented on #2774
@Yugandhartripathi @raheja @darkmatter18  please review PR #2833

[2020-01-10 18:55] bharatnishant commented on #2872
@iamtrask Does removing numpy import implies use of alternate library or making alternate implementation?

[2020-01-10 20:22] karlhigley opened #2894 "Prefer composition over multiple inheritance"
**Is your feature request related to a problem? Please describe.**
Understanding and debugging classes with multiple inheritance is rather difficult. A lot of the behavior is implicit instead of explicit, which isn't very Pythonic and makes it hard to follow.

**Describe the solution you'd like**
Refactor classes with multiple inheritance to convert one of the parents from an is-a relationship to

[2020-01-10 20:44] systemshift commented on #2872
Ideally to reimplement without importing any other library, but I've been scratching my head how replace numpy arrays with python lists without increasing code complexity too much.
The other option is to hook numpy, as mentioned above, but that should be our last option.

I have been looking at [other](https://wiki.python.org/moin/NumericAndScientific/Libraries) options but nothing stands out, and

[2020-01-11 12:52] PlamenHristov commented on #2736
Just to double check, to cover the active case a ZK proof implementation needs to be added, correct?

[2020-01-12 01:24] iamtrask opened #2897 "Cleanup FixedPrecisionTensor"
**Describe the bug**
FixedPrecision tensor has become a catch-all for a myraid of functionality which have nothing to do with fixing precision. At present it seems to include:

0) The ability to model Fixed Precision Numbers using underlying Integer representations
1) BigInt functionality allowing for large precision
2) Convolutional functionality
3) many references to specific subclass types (suc

[2020-01-12 01:31] iamtrask commented on #2897
I will begin working on a properly decoupled BigInt tensor

[2020-01-12 09:08] nggih opened #2898 "Translate our tutorials to Indonesian"
At present, our tutorial notebook series is only available in English, but it would be very desirable for people to be able to learn PySyft in their native language, such as Indonesian.

For this PR, I will copy the current notebooks and translate the inline text to Korean, placing the notebooks in a "indonesian" folder within the "tutorials/translations" folder.

[2020-01-12 09:29] LaRiffle commented on #2897
That's right!
1. So actually once you are in Fixed-precision, you can't do anymore pow, exp, simoid, log, inversion the way you did previously, so you have to redefine them, and I'd say this is the good place.
2. Less important, some functions like Convolutional should indeed be put in our dedicated `nn` module where rnn already lies.
3. Having references to AdditiveSharingTensor is *super* annoyi

[2020-01-12 10:13] LaRiffle commented on #2872
From what I experienced, when we don't use numpy tensor ops we use torch ones which is ok but put a big dependency on pytorch (we from an historical point of view of pysyft is 100% ok)

However, I have also the feeling that some expressions (in particular crypto protocols) are better expressed using numpy which is way faster (I'm working on one where I have a 10 times improvements). Additionally n

[2020-01-12 15:33] karlhigley commented on #2897
My only ask would be to supply the encoder as a constructor param with a default value (instead of as an additional parent class via inheritance.) 🙂

[2020-01-12 19:39] Aakash1822 commented on #2864
Interested to work on it @karlhigley. Please tell me what to change

[2020-01-12 19:49] iamtrask commented on #2872
The top priority is cross platform support and Plan/Promise support, both of which numpy prevents. Using Torch tensors instead does not.

Sent from my iPhone

[2020-01-13 08:15] vvmnnnkv commented on #2887
Maybe this should be also in the list:
`Protocol.detail()` doesn't always reconstruct Protocol as it is presented in serialized form, worker_id's may change in detailed object.

[2020-01-13 08:40] sukhadj commented on #2500
Hey, can I work on this?

[2020-01-13 09:10] b02202050 opened #2901 "Cannot get the data on the remote worker"
**Describe the bug**
I run the websocket tutorial and add a data on the client side. But I cannot search it on the server side

**To Reproduce**
client code
[code]

server code
[code]
and will get the following error:
[code]

**Expected behavior**
I hope to get the data or the pointer of the data.
When I call `remote_client`, I still can see the remote tensor like
![image](https://user-images.gith

[2020-01-13 09:30] mccorby commented on #2872
If I remember correctly, we had to use `numpy` to work with very large numbers as it was not possible to implement the basic operations by using only the representation in smaller tensors of those numbers.

`_internal_representation_to_large_ints`: This is where we should put the focus to remove `numpy`. If we could have a `tensor(dtype=object)` then it could easy to replace numpy.

[2020-01-13 16:33] #1660 closed

[2020-01-13 17:03] karlhigley commented on #2872
Is this a situation where PyTorch's new support for extending tensors would make this easier/simpler?

[2020-01-13 19:16] karlhigley commented on #2889
Rereading the code snippet, I'm not sure if `x` is a pointer to a fixed precision tensor. I *think* it works like this (but I could be wrong):

[code]

I'm surprised that `x.get().get()` worked with any `garbage_collect_data` setting. 🤔

[2020-01-13 21:51] LaRiffle commented on #2872
Yeah -  and I loop here again with the suggestion that if LargePrecision is not used it should be archived for the moment it would make our life simpler, @mccorby any thoughts?

[2020-01-13 21:52] LaRiffle commented on #2500
I just assigned you :)

[2020-01-14 00:47] karlhigley opened #2903 "Refactor Protocols to be more friendly to single operation execution"
**Is your feature request related to a problem? Please describe.**
Based on a conversation with @iamtrask: Many of the distributed computations involved in encrypted and private machine learning rely on a very small number of operations (e.g. 1 operation) being executed on a particular worker before returning a results. Protocols exist to chain together operations on PromiseTensors, but are curren

[2020-01-14 02:58] iamtrask commented on #2903
CC: @Jasopaum

[2020-01-14 03:00] iamtrask commented on #2903
This work should probably be blocked until PromiseTensor is really at a place we're happy with. The culmination of a lot of discussion on what Protocols are ended with, "Protocols are a collection of VirtualWorker objects with a PromiseTensor graph traversing them (stored within the VirtualWorkers' collective object stores"

[2020-01-14 03:17] iamtrask commented on #2872
Sadly no

[2020-01-14 03:17] iamtrask commented on #2872
Is it not being uesd?

[2020-01-14 07:08] mccorby commented on #2872
It is used when creating shares bigger than 2**62. If the new `TensorBigInt` does the same, it won't be necessary.
Initially LPT was necessary to allow these operations with big ints in the JVM.

I'll create a PR to delete it.

[2020-01-14 07:28] mccorby commented on #2872
Just in case, CRT is also using numpy

[2020-01-14 09:32] #2792 closed

[2020-01-15 03:06] systemshift opened #2911 "add syft to conda-forge"
**Describe the bug**
related to #2885
trying to make a recipe file to add syft package to conda-forge, some error is showing related to `setup.py`

**To Reproduce**
Steps to reproduce the behavior:
run `conda skeleton pypi syft`

**output**
[code]

[2020-01-15 05:26] systemshift commented on #2911
currently working to onboard syft to conda-forge and will be the maintainer on the following [fork](https://github.com/systemshift/staged-recipes/tree/syft).
I have edited the recipe [file](https://github.com/systemshift/staged-recipes/blob/syft/recipes/syft/meta.yaml) but left some comments and will continue to work on it.

but from the FAQ, I think I found the reason behind the error.
[code]

[2020-01-15 14:15] iamtrask commented on #2897
I don't see the semantic difference between an encoder and a tensor type
(something used in our tensor chain).

On Sun, Jan 12, 2020 at 3:33 PM Karl Higley <notifications@github.com>
wrote:

[2020-01-15 14:48] bhadreshpsavani commented on #2894
Can i work on this issue?

[2020-01-15 14:58] karlhigley commented on #2894
@bhadreshpsavani Assigned it to you. Happy to help with this, ping me on Slack if you want to talk more about it.

[2020-01-15 15:16] karlhigley commented on #2897
I'm not sure I fully understand it either, just chiming in on the point about inheritance. 😄

[2020-01-15 19:30] iamtrask opened #2912 "Rebooting Plans"
**Is your feature request related to a problem? Please describe.**

At present, our implementation of Plans, Promises, and Protocols are not correct and do not integrate with each other (or with the broader stack, including the new serialization format) well. We need to re-implement this functionality (from scratch) in the following order.

**1) Implement Placeholder tensor type**, which is simila

[2020-01-16 13:10] iamtrask opened #2914 "Plans should be configurable in the level of the tensor-chain they record"
**Is your feature request related to a problem? Please describe.**
Plans only trace the lowest level of a tensor chain. If you want to trace higher up on your tensor chain, you have to delete the lower members of the chain entirely.

If I have a tensor which is like:
x = Wrapper > FixedPrecisionTensor > PaillierTensor > LongTensor (edited)

and i create a plan which is
y = x + x

if we record the

[2020-01-16 13:10] iamtrask commented on #2912
Related: https://github.com/OpenMined/PySyft/issues/2914

[2020-01-16 14:34] karlhigley opened #2915 "Plans should support fixed precision and encrypted values"
**Is your feature request related to a problem? Please describe.**
While Plans are being reworked, support for fixed precision and encrypted values in plans is being temporarily disabled.

**Describe the solution you'd like**
Re-build fixed precision and encrypted value support on top of the new version of Plans.

**Describe alternatives you've considered**
- *Include this in the rework* - Decided

[2020-01-16 16:22] LaRiffle opened #2916 "Add support of PyTorch 1.4"
https://pytorch.org/blog/pytorch-1-dot-4-released-and-domain-libraries-updated/

[2020-01-16 19:25] karlhigley commented on #2916
What's involved in this? Do we just need to bump the dependency version and fix any compatibility issues? Are there new PyTorch features to incorporate?

[2020-01-17 09:22] LaRiffle commented on #2916
Yeah, we just need to bump the dependency version and fix any compatibility issues I'd say

[2020-01-17 14:50] #2898 closed

[2020-01-17 16:50] mccorby commented on #2872
Fixed in #2907

[2020-01-17 16:50] #2872 closed

[2020-01-17 17:54] iamtrask opened #2917 "Consolidate Translated Notebooks into Single Notebook Series (Multi-Language)"
**Is your feature request related to a problem? Please describe.**
At present, we have 8 different languages represented in our Jupyter notebook tutorial series. While this is absolutely epic, it's leading to two problems:

1) if we change one notebook because PySyft's API changes, we also have to change 8 other notebooks. This is going to become prohibitively difficult past 10 languages.
2) We un

[2020-01-17 18:19] JulianSprung commented on #2917
This could be one option: https://stackoverflow.com/questions/46259726/support-multiple-human-languages-in-jupyter-notebooks

[2020-01-17 18:40] karlhigley commented on #2917
Yeah, that might be viable! Direct link to the i18n README linked in the SO thread above: https://github.com/jupyter/notebook/tree/master/notebook/i18n

[2020-01-18 00:02] genekogan opened #2921 "ModuleNotFoundError: No module named 'syft_proto'"
I am attempting to install Syft on a Raspberry Pi 4 with Raspbian Buster (armv71). I've successfully compiled PyTorch 1.4 from [this wheel](https://github.com/sungjuGit/Pytorch-and-Vision-for-Raspberry-Pi-4B).

After pip installing syft, I got the same error with `importlib` [which is reported in this issue](https://github.com/OpenMined/PySyft/pull/2908), and as of writing this, was fixed and merg

[2020-01-18 00:12] karlhigley commented on #2921
Try `pip install syft-proto`. It should get installed with the other dependencies if you install with `python setup.py install`, so let us know if you did that and still ended up having this issue. Otherwise, I’m guessing it has to do with building from source, but not sure exactly why.

[2020-01-18 06:03] bhadreshpsavani commented on #2894
sure @karlhigley

[2020-01-18 13:01] patselle opened #2923 "AttributeError: 'int' object has no attribute 'id'"
Hi everyone,

I have installed PySyst on the Nvidia Jetson TX2 (version: 0.2.1a1).
I also installed PySyft on my Notebook (version: 0.2.0a2)

Then, I run the websocket server on the TX2 as follows (in two sessions):
python3 run_websocket_server.py --id alice --port 8777
python3 run_websocket_server.py --id bob --port 8778

On my Notebook I start the 'Federated Recurrent Neural Network.ipynb' noteb

[2020-01-18 15:46] abdulbasitds opened #2925 "Asynchronous Federated learning, predicting with traced model"
Hello, after having the aggregated model (traced_model = utils.federated_avg(models)).how can we predict classes from it, I am doing traced_model(X_test) but it gives same dimensionalty as of input (N*2) where I expect it to be array of target class (N*1)

Here is my code

[code]
So, After having `traced_model`, I want to predict with on a set of example like

`y_pred = traced_model(X_test)`
But,

[2020-01-18 15:50] iamtrask opened #2926 "Handcrafted RNNs are not Tested At All"
**Describe the bug**
This whole file seems to be largely un-tested by our unit testing suite.
https://github.com/OpenMined/PySyft/blob/master/syft/frameworks/torch/nn/rnn.py

**Expected behavior**
This file should have 100% test coverage.

Make sure to uncomment the codecov omit flag for this file https://github.com/OpenMined/PySyft/pull/2896#pullrequestreview-344948386

[2020-01-18 15:53] ribhu97 commented on #2926
I can take this up

[2020-01-18 16:00] iamtrask opened #2927 "Small rounding errors in handcrafted Conv2d and Pool2d Layers"
**Describe the bug**
There is a small rounding error in these layers, as discussed in https://github.com/OpenMined/PySyft/pull/2896/files/fa21f480c8bfe4196dac2f911cd938db7ff96f03#diff-369e971f29cf5226c9b64f75072095ac

**To Reproduce**
Run the following unit tests

https://github.com/OpenMined/PySyft/blob/39d2be0aeb4b5aa0413b6b8696cccb7fb960ab0d/test/torch/nn/test_conv.py#L7

https://github.com/Ope

[2020-01-18 16:03] abdulbasitds commented on #2925
So, Since it had softmax at the output, i need to use argmax()

[2020-01-18 16:03] #2925 closed

[2020-01-18 16:06] AlanAboudib commented on #2829
Thank you @klize for reporting. I could reproduce the issue on an archlinux system, with python 3.6 in miniconda.

I got the same error after installing `pip install syft` and importing `import syft`. Is anyone aware of this bug @LaRiffle @iamtrask ?

[2020-01-18 16:45] karlhigley commented on #2829
We just merged [a fix](https://github.com/OpenMined/PySyft/pull/2908) for this yesterday and haven't released a new version yet.

[2020-01-18 21:46] genekogan commented on #2921
Did that and now I get:

$ python3 -c "import syft"

[code]

Could this be an issue with PyTorch 1.4? I am using the [wheel found here](https://github.com/sungjuGit/Pytorch-and-Vision-for-Raspberry-Pi-4B). Haven't found an armv71 build for 1.3.

[2020-01-18 21:55] genekogan commented on #2921
Update: I just got it to work by switching PyTorch back to 1.3 using [this build](https://discuss.pytorch.org/t/pytorch-1-3-wheels-for-raspberry-pi-python-3-7/58580) and now it works, so the issue can be closed.  Possibly the above is something to look into for updating syft to PyTorch 1.4.

[2020-01-18 21:55] #2921 closed

[2020-01-18 23:06] karlhigley commented on #2921
Yeah, there’s an open issue for Torch 1.4 compatibility, but 1.4 was just released so we haven’t resolved the issue yet.

[2020-01-19 05:18] AustinNeverPee commented on #2624
Hi, have pysyft already supported the vertical scenarios?

[2020-01-19 05:18] AustinNeverPee commented on #2624
Hi, has pysyft already supported the vertical scenarios?

[2020-01-19 12:29] aditya-malte commented on #2554
Hi,
Is this issue sorted because I'm facing the same on the PyPi version
Thanks

[2020-01-19 14:57] karlhigley opened #2929 "Set up automated PyPI package publishing"
**Is your feature request related to a problem? Please describe.**
New versions of the `syft` Python package haven't been released for the past several months, and it's starting to cause problems for `syft` users.

**Describe the solution you'd like**
Set up automated package publishing w/ Github Actions ([like syft-proto has](https://github.com/OpenMined/syft-proto/pull/16).)

**Describe alternat

[2020-01-19 16:51] JulianSprung commented on #2781
I will start working on this issue and translate Part 01

[2020-01-19 17:03] AlanAboudib commented on #2829
Awesome. That is good to know. I think we can close this issue?

[2020-01-19 17:34] #2829 closed

[2020-01-20 01:45] IanQS opened #2931 "Conda install on Manjaro error on import. ModuleNotFoundError: No module named 'pysyft_proto'"
**Describe the bug**
Conda install on Manjaro error on import. Obtaining  `ModuleNotFoundError: No module named 'pysyft_proto' `

**To Reproduce**
[code]

Then, in Python

[code]

results in

[code]

**Expected behavior**
Import without issue

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Manjaro Linux

[2020-01-20 02:21] karlhigley commented on #2931
The library `pysyft-proto` has been renamed to `syft-proto` since `syft v0.2.1a1` was released. Our previous release manager no longer has time to fill that role, and we're a bit behind on publishing releases. 😅

I'm in the process of sorting out our release pipeline and expect another release to published sometime this week, which should fix the underlying issue and which I assume will fix the `c

[2020-01-20 02:37] IanQS commented on #2931
Thanks for the explanation! Do you have any suggestions on how to fix it in the meantime or should I just wait? :)

[2020-01-20 14:51] #2923 closed

[2020-01-20 15:01] suhacker1 opened #2933 "Bandit for security"
We should be concerned about the numerous security issues associated with Python code. However, there seem to be minimal security checks within the current development process. It would be nice if we implemented [Bandit](https://github.com/marketplace/actions/bandit-check) to provide stronger security guarantees with PySyft. I believe it would be optimal if we first implemented it as a GitHub acti

[2020-01-20 15:22] karlhigley commented on #2933
We’re not quite migrated over to Github Actions yet, so we’d currently need to incorporate it into the Travis CI testing process. @suhacker1 would you be interested in setting up a bandit config and adding it to our Travis build process?

[2020-01-20 15:48] luggi961 opened #2934 "reduce communication bandwidth"
I implemented a distributed image classification using WebsocketWorkers and TrainConfig objects. I started with the pretrained MobileNetV2 model (downloaded with torchvision) ~8MB
While training, I inspected with WireShark how much traffic came across.

**Result:**
~18MB in both directions each training round

**Assumption:**
 The serialized message will be converted in a hexadecimal representatio

[2020-01-20 15:52] iamtrask commented on #2934
Mad props for taking the time to measure this.

[2020-01-20 16:35] karlhigley commented on #2934
If the differences were sparse, they'd be smaller. They often won't be though.

Gradient sparsification is a thing; maybe model delta sparsification could be too?

[2020-01-20 16:45] patselle opened #2935 "Updating data without restarting server"
Hi everyone,

I run a remote server that already contains a part of the data as shown by the following code:

`...
local_worker = WebsocketServerWorker(
                            host=host,
                            hook=hook,
                            id=id,
                            port=port)

data = torch.tensor([[1,0],[1,1.]], requires_grad=True).tag("#data")
target = torch.tensor([[1

[2020-01-20 16:59] karlhigley commented on #2934
This seems like it might be more a matter of compression and encoding efficiency though? Base64 is supported by the `binascii` library and uses four characters for every three bytes (instead of two per byte), so that might be an easy change to make in order to improve bandwidth efficiency.

[2020-01-20 17:08] vvmnnnkv commented on #2934
In theory, websocket can handle binary. As least in JavaScript :) The trick is to avoid JSON because it can't contain binary.

[2020-01-20 17:09] karlhigley commented on #2901
I think you have to add data with particular methods in order to get the tensors properly registered with the work. The [`load_data`](https://github.com/OpenMined/PySyft/blob/master/syft/workers/base.py#L236-L249) method looks like it might be close to what you need.

[2020-01-20 17:10] karlhigley commented on #2934
Can we just remove the call to `hexlify` then?

[2020-01-20 17:19] vvmnnnkv commented on #2934
Needs checking why it was used, maybe there was a reason. I can say for grid.js, historically it uses JSON payloads, which forces us to send binary as base64

[2020-01-20 17:23] karlhigley commented on #2934
Sounds like base64 is a safe change to make then. Let's start there and then see if we can further optimize.

[2020-01-20 17:24] vvmnnnkv commented on #2934
Another kind of workaround specific to transfer learning case could be splitting the model into frozen/trianable parts. In transfer learning you typically don't want to retrain all weights.

[2020-01-20 17:28] karlhigley commented on #2934
Looks like use of `hexlify` was [introduced last March](https://github.com/OpenMined/PySyft/commit/6917846cf981485ca83f61142e073c9c343eba4c#diff-11214074701249affec97a37c2352924). There's no stated rationale in that PR; the title just suggests that the changes "fix bugs." Not sure if `hexlify` was part of those fixes or not.

[2020-01-20 17:33] karlhigley commented on #2929
@systemshift expressed an interest in working on this.

[2020-01-20 18:49] loopylangur opened #2937 "Flaky test in test_precision.py"
**Describe the bug**
The test `test_torch_sigmoid_approx` in `test/torch/tensors/test_precision.py` fails intermittently (4 out of 30 times that i tried) with the following error:

[code]
Does this indicate a bug or a dependency issue? I can help contribute to a fix if suggested.

**To Reproduce**
The error can be reproduced using the following seed:
[code]

**Expected behavior**
The test should a

[2020-01-20 19:07] thefirebanks commented on #2782
@arturomf94 @ricardopretelt I would love to collaborate with the translation to Spanish as well!

[2020-01-20 19:24] arturomf94 commented on #2782
@thefirebanks sure! :) send me a DM on Slack.

[2020-01-20 19:47] ucalyptus commented on #2782
@iamtrask Bengali is my native and has the 5th largest speaker base in the world.
https://github.com/OpenMined/PySyft/pull/2938 for Part One

[2020-01-21 03:21] IanQS opened #2939 "Tutorial Part 8 "Introduction to Plans" missing required positional arg "plan_blueprint""
**Describe the bug**
While trying to run the tutorial I get the error above.

Running

[code]

I get

[code]

**To Reproduce**

Use Docker container
1) `docker container run openmined/pysyft-notebook`
2) open the link
3) Copy the github repo (use HTTPS)
4) Try and run `Part 08 - Introduction to Plans`

**Expected behavior**

No error

**Desktop (please complete the following information):**
 - OS:

[2020-01-21 03:40] IanQS commented on #2939
Can't recreate this on a different machine that has`syft 0.2.0a2` so I guess the docker version is behind?

I didn't install the native version on this machine (the one with the problem) because of #2931

[2020-01-21 04:19] karlhigley commented on #2939
Yeah, syft 0.1.18 is at least six months old, and there have been fixes to Plans and blueprints since then.

[2020-01-21 08:51] luggi961 commented on #2934
What I mean is an option where only the changed weights are transferred. Is this possible?
Correct me if I am wrong, but maybe this could be an approach.

[code]

[2020-01-21 10:17] arshjot commented on #2927
I investigated this a bit and found that we need to do a direct summation instead of calculating sum of sums. The following modifications are required:
* [`conv.py`](https://github.com/OpenMined/PySyft/blob/acdc96828cebae674817d238f68e0e81dfd41071/syft/frameworks/torch/nn/conv.py#L94-L95) - change `.sum(3).sum(3)` to `.sum((3, 4))`
* [`pool.py`](https://github.com/OpenMined/PySyft/blob/acdc96828ce

[2020-01-21 14:01] systemshift commented on #2929
@karlhigley so looks like this already exists. https://github.com/OpenMined/PySyft/commit/3fab328bd2f48c762e2f577f489f3649d8113214

[2020-01-21 16:19] karlhigley commented on #2929
@systemshift So it does! I'll close this then, but would still be nice to incorporate `versioneer`. That might be a separate issue though.

[2020-01-21 16:19] #2929 closed

[2020-01-21 17:21] karlhigley commented on #2927
@arshjot Thanks for looking into it! Could you submit a PR with those changes?

[2020-01-21 19:20] arshjot commented on #2927
Yes, I'll be happy to do so!

[2020-01-21 22:25] iamtrask commented on #2927
Incredible work!

Sent from my iPhone

[2020-01-22 00:34] ADMoreau commented on #2747
Hi @unzvfu, I would like to work on cleaning up the python wrapper for the cuda-fixnum project, just point me in the right direction.

[2020-01-22 01:02] klize opened #2946 "Remote server and client not working(advanced tutorial with mnist)"
**Describe the bug**

Currently i am trying to play federated learning with syft on one machine, and planning to extends to multiple ones.

os : ubuntu 18.04
python : 3.6
virtualenv

1. i create two venvs for server and client respectively with python3.6
2. pip install syft[udacity]
3. pip install syft-proto (This is also an issue that only with the step 2, syft-proto is not installed. Moreover, I

[2020-01-22 01:33] systemshift opened #2947 "Incorporate versioneer to packaging automation"
As mentioned in  #2929.
To streamline publishing syft to pypi, versioneer would help automate things further.

[2020-01-22 01:34] systemshift commented on #2947
@karlhigley please assign me the issue.

[2020-01-22 01:46] klize commented on #2946
removing `client.connect()` yields the same error

[2020-01-22 08:39] LaRiffle commented on #2670
Yes you should!

[2020-01-22 10:03] LaRiffle commented on #2897
The difference here is that using the encoder, you don't add the FPT node in the tensor chain, so you're simpler & faster. But this reflexion is far from being top priority for the moment^^

[2020-01-22 13:48] youyeg opened #2950 "No example with multiple models, and no federated average implementation"
Hi,
I have not seen a federated average example in your list. I was investigating your examples, and it was not clear for me for instance in CIFAR, advanced tutorial, do we send the model in parallel or not?
I mean do we train two separate models, and then merging them, or just, send the same model, to the clients, and back to the server?

I was trying to implement federated average, and it seemed

[2020-01-22 13:49] iamtrask commented on #2950
This is coming - at present we haven't implemented the "platform" side of Federated Learning but it's a work in progress.

[2020-01-22 13:50] iamtrask commented on #2950
Check out what's going on in the https://github.com/OpenMined/PyGrid/ project. @vvmnnnkv, @cereallarceny , and @IonesioJunior are also working on the model averaging workflow as we speak.

[2020-01-22 14:12] youyeg commented on #2950
Thank you for the quick answer,
But I had another question, that is not answered, should I use two separate optimizer if I want to use two clients, and merge them? like the link below?
https://towardsdatascience.com/federated-learning-3097547f8ca3

[2020-01-22 15:18] karlhigley commented on #2933
Did a test run with `bandit` (skipping the check for `assert`) and it does find a few things.

[2020-01-22 16:11] karlhigley commented on #2931
@IanQS PySyft v0.2.2.a1 has been published to PyPI. Give that a try, and let me know if it works better!

[2020-01-22 16:24] raheja commented on #2774
Hey guys!
@darkmatter18  @Yugandhartripathi @kaustubh-seachange

We plan to release the hindi translations by next month, which leaves us a few days to finish all of them and review them too. Any heads-up on when they would be complete? In case it is not possible for some one to finish theirs, please do let the others know. Preferably by this weekend, so that they can be taken up by the rest of us

[2020-01-22 16:38] karlhigley commented on #2946
This part has been addressed in v0.2.2 of PySyft, which was just recently released.

[2020-01-22 16:39] karlhigley commented on #2946
@klize Could you submit a PR to fix this? Would be much appreciated!

[2020-01-22 17:15] Kritikalcoder commented on #1953
I want to take this up. Is this still valid?

[2020-01-22 18:50] iamtrask opened #2953 "Automatic casting to the correct tensor chain"
**Is your feature request related to a problem? Please describe.**
Often times we need to run a function between two tensors which have different tensor chains. By default, this breaks. For example, we may seek to multiply a arbitrary tensor type (such as an encrypted tensor) by a tensor of plaintext 1s and 0s (a mask). However, this will typically lead to an error.

[code]

[code]

**Describe the

[2020-01-22 21:39] suhacker1 commented on #2933
I'm good with setting up a bandit config and adding it to the Travis build process. Do you think it would be a good idea to create an issue for everything Bandit finds?

[2020-01-22 22:34] karlhigley commented on #2933
I'd probably just create a single issue. Having looked at the Bandit output, I think we probably care most about medium-high severity issues, and it would be nice to find a way to prevent low severity issues (mostly `assert`s) from breaking the build.

[2020-01-22 22:35] karlhigley commented on #2933
I'm working on creating Github Actions  for the build [over here](https://github.com/OpenMined/PySyft/pull/2936), so it's probably fine to go with a GH action instead of Travis.

[2020-01-23 05:15] IanQS commented on #2931
@karlhigley Sorry, ran into a different bug now. Running

[code]

results in

[code]

Doing `pip install requests` solves the issue.

Have verified that this is the case on

[code]

Should I mark this as closed?

[2020-01-23 11:42] matthiaslau opened #2956 "Worker is crashing with a ResponseSignatureError on LSTM forward"
**Describe the bug**
I am trying to do a federated learning using a Vanilla LSTM. When doing a forward step with the LSTM layer the worker is crashing with a syft.exceptions.ResponseSignatureError.

I work with a local grid setup using websocket worker.

Precondition:
To be able to test a LSTM in general we need to overwrite the nn.LSTM `check_input` function because of the problems with the size

[2020-01-23 11:58] DanyEle commented on #2956
The "ResponseSignatureError" is raised because the forward LSTM pass fails.

This occurs because the forward pass in an LSTM uses the tensor.size() method, which is not currently implemented in PySyft.

The same problem would occur for a GRU.

*Workaround* My personal workaround to this problem was using my own version of the size() method, which breaks some other features of PySyft though https:/

[2020-01-23 12:06] matthiaslau commented on #2956
I already use our existing PySyft implementation of the LSTM (`from syft.frameworks.torch.nn import LSTM`) which is overwriting the forward method without using `size()`: https://github.com/OpenMined/PySyft/blob/master/syft/frameworks/torch/nn/rnn.py#L205.

[2020-01-23 12:12] iamtrask opened #2957 "Modify Wrapper API Based On Chain"
**Is your feature request related to a problem? Please describe.**
At present, whenever we create a new tensor type, we add corresponding functionality to syft/frameworks/torch/tensor/interpretor/native.py. For example, when we created the PaillierTensor, we created a .encrypt() method which gets added to every torch tensor no matter what, even when it can't be encrypted (even when it is _already_

[2020-01-23 12:15] iamtrask commented on #2956
This seems like the right approach.

[2020-01-23 13:40] DanyEle commented on #2956
Then something else is failing within that method. Are you testing this on remote workers or virtual workers?

I noticed that some things do work on virtual workers, but do not work on remote workers. Perhaps this is one of those cases.

[2020-01-23 13:43] matthiaslau commented on #2956
Do you have an idea where to look, so what are those things failing on remote workers?

[2020-01-23 14:10] 1firstml3 commented on #2781
I would like to start working on this by translating Part 02

[2020-01-23 14:51] DanyEle commented on #2956
I remember getting the same error as you on remote websockets and opening an Issue:

https://github.com/OpenMined/PySyft/issues/2202 . It should have been fixed @LaRiffle  ?

[2020-01-23 14:52] DanyEle commented on #2956
@matthiaslau  Do you need this to work strictly on remote websockets? I believe this should work on virtual sockets right now.  Can you please try?

[2020-01-23 16:10] karlhigley commented on #2957
Though it need not supersede this issue, I'm in favor of starting research/prototyping/etc on that alternative sooner rather than later. The longer we put it off, the more work we're going to pour into workarounds in the mean time.

I don't fully understand how porting to custom PyTorch tensors would resolve this issue though. Is it because that would allow us to stop using wrapper tensors?

[2020-01-23 16:13] karlhigley commented on #2931
Ah, interesting. Grid functionality just got moved into PySyft with somewhat partial tests, and I bet that's why our check suite didn't catch the dependency issue. Let's call this issue closed and create a separate issue for the `requests` dependency—that way I can assign it to the Grid team.

[2020-01-23 16:13] #2931 closed

[2020-01-23 16:49] karlhigley commented on #2931
@IanQS When I create a new virtualenv with `make venv`, I end up with `requests` installed, but it's not directly listed in any of the requirements files. Seems like it must be a transitive dependency of something else in one of the requirements files, but I'm not sure which file or which package.

[2020-01-23 17:58] LaRiffle commented on #2957
Bother solutions look good to me!
Could you point at reading material for "PyTorch's new custom tensor functionality" ? thanks :)

[2020-01-23 19:44] IanQS commented on #2931
Absolutely no worries :) Just wanted to let you know. FWIW it's a simple fix although I'm surprised conda didn't make it work out of the box

[2020-01-23 20:07] karlhigley commented on #2931
Yeah, `conda` packaging is kinda new and we haven't ironed out all the issues yet. (@systemshift has been working on it recently.)

[2020-01-23 20:13] karlhigley commented on #2957
@LaRiffle I had to look in the docs on master to [find it](https://pytorch.org/docs/master/notes/extending.html#extending-torch-with-a-tensor-like-type). Looks pretty handy, but obviously a big rework to adopt it.

[2020-01-24 09:43] youyeg opened #2961 "asking for explanation about scale_model (for educational purpose)"
Hi,
I have seen a method to scale model, in PySyft, and I had some guesses, but I would appreciate it if you could please explain what is happening in here.
I mention my questions in the code as comments.
`
def scale_model(model, scale):

    """Scale the parameters of a model.
    Args:
        model (torch.nn.Module): the models whose parameters will be scaled.
        scale (float): the scaling

[2020-01-24 09:45] iamtrask commented on #2961
The weights are being multiplied by a scalar.

[2020-01-24 09:45] iamtrask commented on #2961
so if the weights were [1,2,3], and you call this with a scalar of "0.5", the weights would become [0.5, 1, 1.5]

[2020-01-24 09:45] #2961 closed

[2020-01-24 09:52] youyeg commented on #2961
You did not understand my questions.
I know what the method is doing.
My question, was about how it uses the pointers to modify the parameters inside the model

[2020-01-24 10:13] iamtrask commented on #2927
As reported - there is still rounding error in the Conv2d implementation. This issue should stay open until it is resolved. I have spent a few more hours looking into it and haven't found anything yet.

[2020-01-24 10:28] LaRiffle commented on #2927
That's strange, it looks like the PR solved it and chnaged the test form approx to exact check didn't it?

[2020-01-24 10:39] arshjot commented on #2927
The issue is solved for the pooling implementation but not for Conv2d. The Conv2d implementation also had the same discrepancy but even after rectifying it we do not get an exact match. I guess I should have specified that the PR solves *part* of this issue.

[2020-01-25 03:52] ADMoreau commented on #2897
I'll move the conv2d. Should I put it in the nn module or should I put it in some other class. If another class, are there any suggestions? I jsut want to make sure I'm sticking to a design strategy I may not be aware of.

[2020-01-25 16:39] iamtrask commented on #2961
Pointers can do anything that normal tensors can do. So yes, if you pass in pointers for all these inputs, then it will coordinate the execution of this method on the remote machine.

[2020-01-26 23:50] fermat97 commented on #2858
Hi @kabirkhan
I am not sure if my question is relevant to this thread. I am running the [Federated Learning - MNIST Example of grid tutorial](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/grid/federated_learning/mnist/Fed.Learning%20MNIST%20%5B%20Part-1%20%5D%20-%20Populate%20a%20Grid%20Network%20(%20Dataset%20).ipynb) on Google Colab. Once using ``` NodeClient(hook, node) ```

[2020-01-27 04:28] #2623 closed

[2020-01-27 10:15] LaRiffle commented on #2897
In nn is good!
But maybe conv2d has to transformed into a class, or maybe not, I let you choose the best option here :)

[2020-01-27 11:18] iamtrask commented on #2897
Important question conv2d get _exactly_ the same values in the same
positions as torch's Conv2d? Aka, can I train with PyTorch's conv2d then
swap it out for this one and have it automatically work?

We've been working on an implementation which is this precise in nn,  but
it doesn't have all features yet.

On Mon, Jan 27, 2020 at 10:15 AM Théo Ryffel <notifications@github.com>
wrote:

[2020-01-27 13:09] fermat97 opened #2966 "Illegal instruction error once trying to import syft"
Hi, I have done the `syft` installation as explained in the installation part. Everything goes fine, but after installation once I try to `import syft` it ends up with the following error `Illegal instruction` and even terminated the python prompt. Do you have any idea? thank you.

[2020-01-27 16:03] karlhigley commented on #2966
@fermat97 Could you post a stack trace? That will help with troubleshooting the issue.

[2020-01-27 16:18] LaRiffle opened #2967 "Update Tutorial on Plans"
Based on changes from refactor #2910, we'd like to re-create the Plan piece of PySyft's tutorials: basically explain how it works.

[2020-01-27 22:00] gmuraru commented on #2927
This issue was fixed by #2964 (for the conv2d layer) and #2945 (for the pooling layer)

[2020-01-27 22:00] #2927 closed

[2020-01-27 22:13] gmuraru commented on #2767
@somiljain7 are you still having the issue?

[2020-01-27 23:16] klize commented on #2946
I am sorry to be late due to a long break.
I've just installed again `pip install syft[udacity]` and checked the requirements on `syft-proto` has been already merged in some PR.

But the websocket connection is not resolved in v0.2.2a1, I got still same errors with my packages

Package              Version
-------------------- -------------
absl-py              0.9.0
astor                0.8.1
cer

[2020-01-28 01:06] ADMoreau commented on #2897
Sure I'll give it a shot

[2020-01-28 06:21] jfraj opened #2969 "ModuleNotFoundError: No module named 'requests'"
**Describe the bug**
After installing, `import syft` gives the following error:

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/xxxxx/opt/anaconda3/envs/pysyft/lib/python3.7/site-packages/syft/__init__.py", line 44, in <module>
    from syft.grid.public_grid import PublicGridNetwork
  File "/Users/xxxxx/opt/anaconda3/envs/pysyft/lib/python3.7/site-packages

[2020-01-28 07:09] klize commented on #2969
If you can't find the package through typing `pip list` or other commands that gives you a list of installed packages on your virtual system, you can simply install it manually.
`pip install requests` which might need to be included in requirements.txt or something.

[2020-01-28 08:09] jfraj commented on #2969
Seems like it will be fixed by this PR https://github.com/OpenMined/PySyft/pull/2970/commits/033fc646ddd9c023c738a22e4493407ab0043b24

[2020-01-28 15:13] #2734 closed

[2020-01-28 16:33] santteegt commented on #2917
Hi guys,

I'm new to PySyft and right now I'm going through all notebook tutorials. If you want I can give this a try and add multilingual support to each of them

[2020-01-28 16:59] iamtrask commented on #2917
That would be great! Ideally thought we want to combine them all into a
single notebook series with multilingual support (using our translations)
rather than add multi-lingual support to each.

On Tue, Jan 28, 2020 at 4:33 PM Santiago Gonzalez Toral <
notifications@github.com> wrote:

[2020-01-28 19:25] #2767 closed

[2020-01-28 20:36] santteegt commented on #2917
Hi,

I've found this [nbextension](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/nbTranslate/README.html) called `nbTranslate` where you can tag cells by languages and then use the menu to display the info in the language of preference. It has support for automatic translation using google translate and also allows you to export a notebook in a specific language so, e.

[2020-01-28 22:44] gmuraru commented on #2969
Could you close this issue @jfraj?

[2020-01-28 23:04] gmuraru commented on #2935
@IonesioJunior^^ :)

[2020-01-28 23:59] gmuraru commented on #2901
@b02202050 could you check what @karlhigley is saying? :)

[2020-01-29 00:03] iamtrask commented on #2917
If we can do the translations ourself that's perfect!

On Tue, Jan 28, 2020 at 8:36 PM Santiago Gonzalez Toral <
notifications@github.com> wrote:

[2020-01-29 00:03] gmuraru commented on #2882
@sukhadj I think we can close this since it is solved by #2871. Right?

[2020-01-29 00:34] gmuraru commented on #2487
@LaRiffle do you want to create the ```cmd``` in a simple way?

[2020-01-29 00:37] gmuraru commented on #2484
@iamtrask do you remember how to reproduce the bug?

[2020-01-29 00:40] #2916 closed

[2020-01-29 02:55] ymsaputra opened #2971 "SyntaxError: 'await' outside function"
I run the example in PySyft/examples/tutorials/advanced/websockets-example-MNIST-parallel/Asynchronous-federated-learning-on-MNIST.ipynb. However, there is a syntax error as follows:

File "coba_fed_async.py", line 73
    results = await asyncio.gather(
             ^
SyntaxError: 'await' outside function

I use Python 3.7.x. Is there any solution for this issue?

[2020-01-29 13:48] karlhigley commented on #2487
Ah, sorry, I think I addressed the issue that this comment highlighted in #2951, which addressed a security issue in this code.

[2020-01-29 13:48] #2487 closed

[2020-01-29 17:42] #2969 closed

[2020-01-29 23:58] s-marta opened #2973 "module 'torch._C' has no attribute 'Function' - error when importing syft"
**Describe the bug**
I'm having a lot of troubles installing pysyft on Ubuntu 18.04. I cloned the repo and tried to install it according to those instructions:
[code]
I managed to install all requirements but then got an error on the second to last step (`python setup.py install udacity`) saying `error: invalid command 'udacity'`

I then tried to install pysyft using `pip install syft` and it was

[2020-01-30 01:36] klize opened #2974 "Question: Server-Client Design"
I am retrying to play mnist examples as it was updated.

But I don't really understand why 3 servers are executed for 3 clients, alice, bob and chalie for federated learning:

Server:
[code]

Client:
[code]

This means for federated learning on different machines, on the server desktop we need to execute three servers for each client alice, bob and chalie, e.g.
server_alice <-> client_alice
server

[2020-01-30 10:24] matthiaslau commented on #2956
It is workin using VirtualWorkers, very slow, but working. But it won´t help as the goal is to use it with PyGrid. Any ideas why the ResponseSignatureError is thrown when using the websocket worker?

[2020-01-30 10:30] gmuraru commented on #2973
I think we need to spin a new pysyft version? @karlhigley

[2020-01-30 13:35] Jiarong000 commented on #2378
I also see this error! But when i use 2 workers it works fine.

[2020-01-30 14:20] joaolcaas commented on #2776
Hey @MarcioPorto, could you tell us how far are you at this issue? Me, @jefersonf  and another friend of us are translating some tutorials as well (from 7 ahead), but i want to check with you if there is no problem, since you took this first.

[2020-01-30 15:18] MarcioPorto commented on #2776
@joaolcaas I've been pretty busy recently. I am almost done with part 1, but you can definitely start from part 7 onwards. Let's just keep communicating here about our progress

[2020-01-30 17:24] joaolcaas commented on #2776
Updating...

- [x]  Part 01 - The Basic Tools of Private Deep Learning.ipynb
- [x]  Part 02 - Intro to Federated Learning.ipynb
- [x]  Part 03 - Advanced Remote Execution Tools.ipynb
- [x] Part 04 - Federated Learning via Trusted Aggregator.ipynb
- [x] Part 05 - Welcome to the Sandbox.ipynb
- [x]  Part 06 - Federated Learning on MNIST using a CNN.ipynb
- [x] Part 07 - Federated Learning with Feder

[2020-01-30 18:40] karlhigley commented on #2973
Just published [a new release](https://pypi.org/project/syft/0.2.3a1/) that we think should address this issue. Could you give it a try and let us know if that resolves your issue?

[2020-01-30 19:36] s-marta commented on #2973
@karlhigley I updated and it seems to be working!  I managed to import it and basics from the first tutorial seem to be working as well. Many thanks for such quick help.

[2020-01-30 19:42] karlhigley commented on #2973
Thanks for letting us know!

[2020-01-30 19:42] #2973 closed

[2020-01-30 22:21] Yugandhartripathi opened #2981 "Support field of 2**64"
**Is your feature request related to a problem? Please describe.**
Too many modulo operations involved in basic operations which costs significant computation time and resources.

**Describe the solution you'd like**
AST and FPT should work in finite field of 2**64 and since LongTensor automatically wraps in that range we no longer need to explicitly call modulo operations at every stage.

**Descr

[2020-01-31 05:05] sukhadj commented on #2882
@gmuraru No it doesn't fix the issue. The dirty fix itself generates some more issues. Hence changed the test cases according to previous setting  ☺️.

[2020-01-31 10:22] youben11 opened #2984 "Docs on adding a new message type"
**Is your feature request related to a problem? Please describe.**
While implementing a new message type for syft workers, I didn't found a clear documentation on how to do so, I used some help from slack and grep utility to find what need to be updated.

**Describe the solution you'd like**
I think it would be great if we can put a doc describing how to do so, @karlhigley suggested a README file

[2020-01-31 10:32] vvmnnnkv commented on #2984
Hey @youben11
Have you noticed this section?
https://github.com/OpenMined/PySyft/blob/master/CONTRIBUTING.md#process-for-serde-protocol-changes
How helpful is it?

[2020-01-31 11:08] youben11 commented on #2984
I missed that ! Really helpful on what to do to add a new type that will be serialized. Thanks @vvmnnnkv . Implementing a new message type also requires other changes and maybe we can focus only on the message implementation and refer to this for how to make changes to protobuf to support it.

[2020-01-31 13:08] fermat97 commented on #2966
There is no stack trace. I start python prompt. Once I `import syft`, it quits python prompt and just showed `Illegal instruction`.

[2020-01-31 14:19] karlhigley commented on #2966
Wow, that is puzzling. What `syft` version and what Python version?

[2020-01-31 14:26] fermat97 commented on #2966
I have installed them couple of days ago, so I think it is the latest version. I have followed the pre-installation and installation guide on [PySyft git](https://github.com/OpenMined/PySyft). It is version 3.7.6 for the Python, and version 1.3.0 for the PyTorch.

[2020-01-31 15:13] karlhigley commented on #2966
Hmm, well, we did see some issues with 0.2.2.a1 related to the update to PyTorch 1.4 and released a newer version (0.2.3.a1) yesterday that might help. Maybe give that a try?

[2020-01-31 17:15] LaRiffle opened #2986 "Send arguments to crypten workers for computation"
We'd like to sent tagged tensor to syft workers
and then send the tag to the crypten parties, so that they can retrieve the data by asking the syft worker. This way we avoid using file systems.

[2020-01-31 17:17] LaRiffle opened #2987 "Send Plans to crypten parties"
We'd like to send a built and serialized plan to a crypten party, which will then ask his syft worker to execute it for him, but in crypten mode and with crypten tensors

[2020-01-31 21:07] fermat97 commented on #2966
I tried to update I couldn't, then I removed the environment and install everything from beginning, then I got this error:

ERROR: No matching distribution found for tensorflow<2,>=1.12.0 (from tf-encrypted<0.6.0!=0.5.7,>=0.5.4; extra == "udacity"->syft[udacity])

[2020-02-01 09:21] DanyEle commented on #2956
Did you try to replicate the code snippet I posted in https://github.com/OpenMined/PySyft/issues/2202 using web workers? Are you still getting the same error I posted there?

[2020-02-01 12:40] fermat97 commented on #2966
I have tried once more, using `pip install syft` on the same environment, and it was successful. Now I can import syft without problem.

[2020-02-01 12:40] #2966 closed

[2020-02-01 15:40] karlhigley opened #2991 "Rework custom tensor types using PyTorch 1.5's support for extending `torch.tensor`"
**Is your feature request related to a problem? Please describe.**
The current method of hooking tensors doesn't interoperate smoothly with PyTorch's JIT, which makes it difficult to impossible to convert a Torch model's backward pass to Torchscript for serialization to mobile devices.

**Describe the solution you'd like**
Rework the way tensor types are defined and hooked to use PyTorch's new aff

[2020-02-01 19:43] youben11 commented on #2987
Tried to list some challenges for this. What I have been facing so far:
1. Plans support hooked torch operations exclusively, crypten tensor types aren't supported by syft for the moment.
2. When running a multiparty computation, crypten operations supports the use of the `src` parameter which specify a special behavior at party with rank `src`. If we initialized crypten with a single party group

[2020-02-02 17:44] cereallarceny opened #2993 "Rebooting Protocols"
[FILL ME IN HERE]

[2020-02-02 17:52] cereallarceny commented on #2993
Closing in favor of https://github.com/OpenMined/PySyft/issues/2903

[2020-02-02 17:52] #2993 closed

[2020-02-02 18:04] cereallarceny opened #2994 "Allow PySyft to package plan operations either as a list of individual commands or as TorchScript"
TorchScript allows for the execution of a PyTorch model outside of Python using the LibTorch C++ library and is compiled by PyTorch’s native JIT compiler. PySyft compiles all plan operations into a list called the “list of procedures” (it also compiles any tensors you include with the plan as the plan’s “state”). Currently, these operations are listed in order, one by one. For instance, you may ha

[2020-02-02 18:15] cereallarceny opened #2995 "GSoC Project: Add "test_federated_training" to PySyft"
The `test_federated_training` function will allow a user to spin up a series of VirtualWorkers with which they run against their FL model. This allows them to locally simulate the process of deploying their model to the edge. The developer will also want to define their initial model parameters (e.g. model name, version, hyperparameters, etc.) and federated learning configuration (e.g. the number

[2020-02-02 18:18] cereallarceny commented on #2995
It's worth noting that there is a lot of ambiguity in the `model_config` and `fl_config` listed above. We have not determined the correct values here at this moment. Before beginning this issue, one should confer with @iamtrask and @cereallarceny as to the correct config parameters.

[2020-02-02 18:20] cereallarceny opened #2996 "GSoC Project: Build a federated learning worker for PySyft"
Based on the [Federated Learning roadmap](https://github.com/OpenMined/Roadmap/blob/master/web_and_mobile_team/projects/federated_learning.md) we need to build a worker library for static federated learning in PySyft. The worker will be based on the other 3 worker libraries that already exist: [syft.js](https://github.com/OpenMined/syft.js) (web), [SwiftSyft](https://github.com/OpenMined/SwiftSyft

[2020-02-02 18:22] cereallarceny opened #2997 "GSoC Project: Implement the command translation layer inside of PySyft which will allow for PySyft Tensorflow plans to be converted to PyTorch"
**Problem:**
Essentially we’ll already have a translation function that exists for Javascript - this project simply brings the same logic to Python. This may not end up serving a permanent purpose in PySyft, but we think that this would allow for a developer to create a plan using PySyft for TensorFlow and still have training available for mobile phones. This would be an incredible achievement sin

[2020-02-02 20:23] jimmoffet commented on #2946
I'm having a similar problem using the containerized workers (built from the unmodified pysyft-worker docker image) and the toy example from /examples/deploy_workers:

[code]

It fails on t.send, here's what the worker reports:

For good measure, here's what the main process reports:

[2020-02-02 22:30] LaRiffle commented on #2987
So I think that actually plans would be built using pure torch.tensors, which is ok to record operations in the `run_multiprocessiong`. The only pb is regarding the crypten specific bits:
[code]

Regarding the `crypten.load('path', src...)`, I'd favour replacing it by a simple `syft.search('#tag',src=alice)`

If we do this, we can (at the expense of slightly changing the suntax as shown above), re

[2020-02-02 22:41] LaRiffle commented on #2915
@karlhigley I'm closing this, it has been added to #2910 finally

[2020-02-02 22:41] #2915 closed

[2020-02-02 22:44] LaRiffle commented on #2800
Hey,
Large Precision is depreciated and will removed in the future,
Can you use _classic_ Fixed Precision for your usecase?

[2020-02-02 22:49] LaRiffle opened #3000 "Make .send() differentiable"
**Is your feature request related to a problem? Please describe.**
If you build a graph of computation across multiple workers, you'll use send or move to do so. But those are not differentiable and hence .backward() won't work except on the last worker where you call it

**Describe the solution you'd like**
I'd like send() to be crossable is the opposite direction (using a reference to the origin

[2020-02-02 22:57] karlhigley commented on #3000
This would also be handy for garbage collection.

[2020-02-03 02:49] b02202050 commented on #2901
Thanks @karlhigley I can get the data with the method below.
* Clientside
[code]
* Serverside
[code]
![image](https://user-images.githubusercontent.com/35265996/73621516-5d5f5900-4671-11ea-9d71-d1c761e2dc09.png)

But consider federated learning, we should do the following things:
1. load data on the clientside
1. send model to the clientside
1. train the model with the client data
If I don't like

[2020-02-03 13:26] stefano555 opened #3001 "Issue with Encrypted Aggregation"
Tutorial Part 10, when I call

[code]
I get this error:

[code]

OS: Ubuntu 18.04.3 LTS
Python 3.7
PyTorch 1.4

[2020-02-03 15:00] joaolcaas opened #3002 "Error when try to send data using dataloader"
**Describe the bug**
Hello! I'm trying to build an all enviroment using PyGrid/PySyft since a while. My testes went good since today, when i update syft library and an error including dataloader shows up. The error hapens when i try to iterate on my last dataloader, no matter if 2, 3 or x dataloader, the error always appears when the last dataloader will be iterated.

**To Reproduce**
1. Build a d

[2020-02-04 06:41] unzvfu commented on #2747
@ADMoreau Cool! Drop me a line at `hamish (at) ivey-law.name` and we can discuss possible paths forward.

[2020-02-04 11:02] youben11 commented on #2987
We may require a new plan builder for crypten. I think we can solve issues 2 and 3 listed above by setupping local parties using virtual workers, running the crypten computation and recording operations.

[2020-02-04 13:48] Benardi opened #3005 "Automated Sphinx documentation for the module syft"
**Is your feature request related to a problem? Please describe.**
I believe it would be helpful if there was a readily available, accessible and always up to date documentation unveiling the interfaces and sub-modules of the module syft in one place.

**Describe the solution you'd like**
Ideally this documentation would be automatically generated by parsing the existing pydocs and creating respec

[2020-02-04 14:24] LaRiffle commented on #3002
Hum, so it says that `syft.hook` is a function while it's supposed to be an instance of `TorchHook`

[2020-02-04 14:28] LaRiffle commented on #3002
Could you provide a small example? Because it is used bu Tutorial 6 and seems to be working there.

[2020-02-04 14:32] LaRiffle commented on #2939
@IanQS is this issue solved?

[2020-02-04 14:34] joaolcaas commented on #3002
That was exactly what i was writing, i was using DataLoader from torch and not from syft. Maybe if i use `sy.FederatedDataLoader` it works, but i don't know for sure. I'm going to test it and return with a feedback.

[2020-02-04 15:48] LaRiffle opened #3007 "Add latency simulation to Virtual workers"
**Describe the solution you'd like**
It would be great to add an option to simulate latency on virtual workers while sending message.
Basically just add a small sleep in the `_recv_msg` or `_send_msg` virtual worker methods.

[2020-02-04 17:09] joaolcaas commented on #3002
While i was testing, i just realize that i want to send my dataset with tags in pygrid, so i think that is no the best option to me. For a now i'm using a stable verion that works to me, just a few commits ago.

Here is a small example that you asked for: https://gist.github.com/joaolcaas/4be061459b5893cfc2b73b9a1620c94f

The error here hapens before the any call to send because here exists just o

[2020-02-04 17:31] IanQS commented on #2939
@LaRiffle  Apologies, I haven't followed up since #2931 got solved. I can do it later today and try to open a docker image PR

[2020-02-04 17:38] jefersonf commented on #3007
What do you mean by latency simulation? It would be an new option to a _VirtualWorker_ like `add_latency=100`. Like the following example.
[code]

[2020-02-04 18:09] LaRiffle opened #3008 "Re-work Protocols to incorporate Actions, Placeholders, Roles, and Executions"
We propose a new way of building Protocol on top of Plan using PlaceHolder.

**Example of protocol**
[code]

**Standard workflow:**
[code]

`protocol.build`  will create a tape of log on each Role involved (these Role are like a worker that exist just for the build)(note that a `local` Role is created implicitly in addition to `alice`). Each tape will become a plan. Each Plan will be composed of a

[2020-02-04 18:29] karlhigley commented on #3008
This is a neat idea! I can definitely see it working, particularly with the `worker.torch` syntax.

[2020-02-04 18:54] dzlab commented on #2921
I'm having same issue on OSX/conda env, is the compatibility with 1.4 not yet resolved? do I need to downgrade pytorch to 1.3?

[2020-02-04 19:10] iamtrask commented on #3008
Definitely interesting - but there are a few features missing from the prototype above.

[code]

Would we still be able to declare separate inputs and outputs corresponding to each worker?

[2020-02-04 19:53] joaolcaas commented on #3002
@LaRiffle sorry, my mistake. I was not instantiating `hook = sy.TorchHook(torch)` because i thought my main file was getting `hook` from another file. So, not to worry about :smile:

[2020-02-04 19:53] #3002 closed

[2020-02-04 20:14] Jagoul opened #3010 "GRU / LSTM for federated learning"
hello,
I am trying to imlplement RNN networks in a federated way, using either GRU or LSTM and I have the following units :
`class GRUNet(nn.Module):
    def __init__(self, input_dim, hidden_dim, output_dim, n_layers, drop_prob=0.2):
        super(GRUNet, self).__init__()
        self.hidden_dim = hidden_dim
        self.n_layers = n_layers

        self.gru = nn.GRU(input_dim, hidden_dim, n_layer

[2020-02-04 20:55] matthiaslau commented on #3010
The RuntimeError is because the size method is not working with syft, see https://github.com/OpenMined/PySyft/issues/2201.

[2020-02-04 21:37] LaRiffle commented on #3008
I extended my example to answer some of your questions, I agree this is STATIC for the moment, but it's quite easy to turn to DYNAMIC: activate the tracing mode, do whatever you want, close the trace and pickup the tapes to build a protocol.

[2020-02-04 22:31] karlhigley commented on #3005
This sounds great! I’d vote for ReadTheDocs style.

[2020-02-04 23:12] Jagoul commented on #3010
I already checked this issue. That's why I asking the help of pysyft team, maybe somebody tried to solve it

[2020-02-05 11:42] fermat97 opened #3014 "ConnectionRefusedError: [Errno 111] Connection refused"
Hi, I am using PyTorch 1.4.0, and syft version 0.2.3.a1. I am trying to run [grid tutorial on federated learning](https://github.com/OpenMined/PySyft/blob/master/examples/tutorials/grid/federated_learning/mnist/Fed.Learning%20MNIST%20%5B%20Part-1%20%5D%20-%20Populate%20a%20Grid%20Network%20(%20Dataset%20).ipynb). Once I do `compute_nodes.append( NodeClient(hook, node) )`, I get the following error

[2020-02-05 13:02] marcusvlc commented on #2776
Update:

- [x]  Part 01 - The Basic Tools of Private Deep Learning.ipynb
- [x]  Part 02 - Intro to Federated Learning.ipynb
- [x]  Part 03 - Advanced Remote Execution Tools.ipynb
- [x] Part 04 - Federated Learning via Trusted Aggregator.ipynb
- [x] Part 05 - Welcome to the Sandbox.ipynb
- [x]  Part 06 - Federated Learning on MNIST using a CNN.ipynb
- [x] Part 07 - Federated Learning with Federated

[2020-02-05 14:34] joaolcaas commented on #3014
Did you initiate each node?

[2020-02-05 18:45] ganesan5 commented on #3010
from syft.frameworks.torch.nn import rnn
In class GRU,

self.gru = rnn.GRU(input_dim, hidden_dim, n_layers, batch_first=True, dropout=drop_prob)
self.fc = nn.Linear(hidden_dim, output_dim)
self.relu = nn.ReLU()

This uses the GRU/RNN from syft frameworks  and it works in federated environment.

[2020-02-06 03:58] Jagoul commented on #3010
I imported the rnn class implemented by pysyft instead of the native
pytorch and I got the following error:

input dim 7
Starting Training of GRU model
inputs :torch.Size([32, 90, 7])
labels :torch.Size([32, 1])
x inside forward torch.Size([32, 90, 7])
h inside forward torch.Size([2, 32, 128])

---------------------------------------------------------------------------PureFrameworkTensorFoundError

[2020-02-06 04:07] Jagoul commented on #3010
in case you didn't see the error that I got :

IndexError: Dimension out of range (expected to be in range of [-1,
0], but got 1)

On Wed, Feb 5, 2020 at 1:45 PM ganesan5 <notifications@github.com> wrote:

[2020-02-06 05:28] IanQS commented on #2939
@LaRiffle

Yeap, still an issue. I pulled a fresh image and I'm still seeing the same problem. If I had to guess, it's because the docker image is on

`syft                 0.1.18`

and the anaconda version is on

`syft                   0.2.2a1`

but it might be a lack of

`syft-proto             0.1.0a1.post36` on the docker image too. Is there a fix already OTW? I can try but I'm not very profi

[2020-02-06 08:46] LaRiffle opened #3019 "Websocket worker start Error"
**Describe the bug**
Trying to play nicely with websocket but got nasty error

**To Reproduce**
Start the worker in some notbook
[code]

**Expected behavior**
Should wait quietly to hear from the client

**Stacktrace**
[code]

**Desktop (please complete the following information):**
 - OS: macOS Catalina
 - Python 3.7.*
- PyTorch 1.4
- tornado 6.0.2

**Additional info**
I can make a hard fix using

[2020-02-06 10:12] fermat97 commented on #3014
This is the code snippet I used:
[code]

[2020-02-06 11:18] joaolcaas commented on #3014
But if you just did it without support of docker/command line, that's not supposed to work. You have to initiate the gateway and both node using docker from [grid](https://github.com/OpenMined/PyGrid/) documentation or using the following commands:

Gateway (at grid/gateway):
`python gateway.py --port=5000 --start_local_db`

Each node (at grid/app/websocket):
`python websocket_app.py --id=bob --po

[2020-02-06 13:08] LaRiffle commented on #2939
Hum indeed Docker doesn't  seem up to date at all
We should add a GitHub action to push every new version to the hub...
Will open an Issue to ask for this!

[2020-02-06 13:09] hericlesme commented on #2776
I'll translate **_Part 12 bis - Encrypted Training on MNIST.ipynb_** and _**Part 13b - Secure Classification with Syft Keras and TFE - Secure Model Serving.ipynb**_.

[2020-02-06 16:01] #3005 closed

[2020-02-06 17:33] hericlesme commented on #2776
Update:

 * [x]   Part 01 - The Basic Tools of Private Deep Learning.ipynb
 * [x]   Part 02 - Intro to Federated Learning.ipynb
 * [x]   Part 03 - Advanced Remote Execution Tools.ipynb
 * [x]  Part 04 - Federated Learning via Trusted Aggregator.ipynb
 * [x]  Part 05 - Welcome to the Sandbox.ipynb
 * [x]   Part 06 - Federated Learning on MNIST using a CNN.ipynb
 * [x]  Part 07 - Federated Learning

[2020-02-06 18:15] DanyEle commented on #3010
I recall getting an error similar to yours too. This may be related to GPU compatibility for this piece of code. Can you try to run this on a CPU instead of a GPU, so removing all references to devices like .to(device)?

[2020-02-06 18:59] Jagoul commented on #3010
I am training on a cpu and my device assignment looks like this ``device = torch.device("cpu")````
but still I have the same error , when I remove device references

[2020-02-06 21:28] DanyEle commented on #3010
Get rid of all movements to devices and use no device at all. The computation will default to CPU. As I mentioned, try removing the tensor.to(device) statements and retry.

[2020-02-06 21:43] Jagoul commented on #3010
Same thing !!

[2020-02-06 23:52] linamnt commented on #2528
Hi I would like to work on this if no one else has started.

[2020-02-07 08:06] manu-sk commented on #1909
Any updates for this?

[2020-02-07 14:47] DanyEle commented on #3010
As @matthiaslau said, this issue comes up because the size() method is not implemented in PySyft https://github.com/OpenMined/PySyft/issues/2201. If you use the code I posted in  https://github.com/OpenMined/PySyft/pull/2343 or write your own method for the size() method, that would break some functionalities of PySyft, but you would get your specific code to work I also resorted to one such solut

[2020-02-07 20:11] hericlesme commented on #2776
Wonderful! Looks like all the tutorials have been translated! Now just wait for them all to be merged.
Great job folks! :heart_eyes: :tada: :rocket:

[2020-02-07 20:16] joaolcaas commented on #2776
I think just the first one won't pull requested yet, but we are almost there!

[2020-02-07 20:20] hericlesme commented on #2776
You're right, I just saw it now. @MarcioPorto let us know when you're done! ;D

[2020-02-07 21:38] LaRiffle opened #3025 "Use Plans to send instructions to CrypTen parties"
This is major design concept that we're trying to validate: can we use Plans to ship computation instructions to CrypTen workers?

This Issue is an Epic containing:
- [x] Create a `syft.load(tensor, src=worker)` functionality #3043
- [x] Support `syft.load` in Plans
- [x] Modify `crypten.load` to query a syft.worker
- [x] Create `syft.save` functionality and add support in Plans
- [x] Add support

[2020-02-07 21:42] LaRiffle opened #3026 "Investigate the SyftCrypTensor"
This Tensor's mission would be to be used at Plan building. It would offer the same API than crypten tensors, but would not trigger all the computations behind, and would potentially come with a tracing functionality included.

This is an solution investigated which is an alternative to building Plans from CrypTen directly  using (hooked) torch.tensor which don't have specific elements of crypten

[2020-02-07 21:44] LaRiffle opened #3027 "Investigate alternatives to Plans"
Using Plans in CrypTen is both convenient and painful, because we can't easily ask Plans to support crypten specific operations. Hence, we're also exploring alternative solutions, if they exist, to collect (close to arbitrary) operations in a function and send them to another worker.

[2020-02-07 22:34] iamtrask opened #3029 "Automatic Security Testing"
**Is your feature request related to a problem? Please describe.**
It would be nice if our Github Actions automatically checked each PR for security vulnerabilities using tools like:

- https://pypi.org/project/bandit/
- https://github.com/python-security/pyt